Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Bump containerlab release to 0.71.1 (#2862)
  docs/labs/clab.md
  netsim/providers/clab.yml
Due: yamllint, ci_tests

Implement large BGP community lists on EOS and FRR (#2856)
  docs/module/routing-clist.txt
  docs/module/routing-policy.txt
  netsim/ansible/templates/routing/eos.j2
  netsim/ansible/templates/routing/frr.j2
  netsim/devices/eos.yml
  netsim/devices/frr.yml
  netsim/devices/none.yml
  tests/integration/routing/08-community-large.yml
  tests/integration/routing/13-match-community-large.yml
Due: yamllint, ci_tests

Large BGP community lists on Junos
  docs/module/routing-clist.txt
  docs/module/routing-policy.txt
  netsim/ansible/templates/routing/_route_policy_junos.j2
  netsim/ansible/templates/routing/junos.j2
  netsim/devices/junos.py
  netsim/devices/junos.yml
  tests/integration/routing/13-match-community-large.yml
Due: yamllint, ci_tests

Large BGP community lists on Junos (#2857)
  docs/module/routing-clist.txt
  docs/module/routing-policy.txt
  netsim/ansible/templates/routing/_route_policy_junos.j2
  netsim/ansible/templates/routing/junos.j2
  netsim/devices/junos.py
  netsim/devices/junos.yml
  tests/integration/routing/13-match-community-large.yml
Due: yamllint, ci_tests

Generic integration test adjustment plugin
  tests/integration/plugin/adjust_test.py
  tests/integration/routing/08-community-large.yml
  tests/integration/routing/12-match-community.yml
Due: yamllint, ci_tests

Implemented Copilot suggestions
  tests/integration/plugin/adjust_test.py
  tests/integration/routing/08-community-large.yml
Due: yamllint, ci_tests

Generic integration test adjustment plugin (#2858)
  tests/integration/plugin/adjust_test.py
  tests/integration/routing/08-community-large.yml
  tests/integration/routing/12-match-community.yml
Due: yamllint, ci_tests

Fix Junos community quirks
  netsim/devices/junos.py
Due: ci_tests

Fix Junos community quirks (#2863)
  netsim/devices/junos.py
Due: ci_tests

fortios - initial and deploy config template
  netsim/ansible/tasks/deploy-config/fortinet.fortios.fortios.yml
  netsim/ansible/tasks/fortinet.fortios.fortios/initial.yml
Due: yamllint, ci_tests

fortios - ospf config template
  netsim/ansible/tasks/fortinet.fortios.fortios/ospf.yml
  netsim/ansible/templates/ospf/fortinet.fortios.fortios.j2
Due: yamllint, ci_tests

fortios - deploy config
  netsim/ansible/templates/initial/fortinet.fortios.fortios.j2
Due: none

fix identation
  netsim/ansible/tasks/deploy-config/fortinet.fortios.fortios.yml
Due: yamllint, ci_tests

Doc fix: vrnetlab can build Cat8000v containers with premier license (#2860)
  docs/caveats.md
  docs/release/25.x.md
  netsim/devices/cat8000v.yml
Due: yamllint, ci_tests

Retain link order when expanding link groups
  docs/release/25.x.md
  netsim/augment/links.py
  tests/coverage/expected/link-empty.yml
  tests/coverage/expected/link-formats.yml
  tests/coverage/expected/link-group.yml
  tests/coverage/expected/links-as-dict.yml
  tests/coverage/input/link-empty.yml
  tests/coverage/input/link-formats.yml
  tests/coverage/input/link-group.yml
  tests/coverage/input/links-as-dict.yml
Due: yamllint, ci_tests

fixes and small ospf additions
  netsim/ansible/tasks/deploy-config/fortinet.fortios.fortios.yml
  netsim/ansible/tasks/fortinet.fortios.fortios/initial.yml
  netsim/ansible/templates/initial/fortinet.fortios.fortios.j2
  netsim/ansible/templates/ospf/fortinet.fortios.fortios.j2
  netsim/devices/fortios.yml
Due: yamllint, ci_tests

remove loop.index
  netsim/ansible/templates/ospf/fortinet.fortios.fortios.j2
Due: none

add ospf features to device fortios.yml
  netsim/devices/fortios.yml
Due: yamllint, ci_tests

update documentation
  docs/caveats.md
  docs/platforms.md
Due: none

ospf interface network_type
  netsim/ansible/templates/ospf/fortinet.fortios.fortios.j2
Due: none

Moving integration test into a different directory changes results...
  tests/coverage/expected/link-empty.yml
  tests/coverage/expected/link-formats.yml
  tests/coverage/expected/link-group.yml
  tests/coverage/expected/links-as-dict.yml
Due: yamllint, ci_tests

New wireshark release breaks old plugins
  docs/extool/edgeshark.md
Due: none

Retain link order when expanding link groups (#2868)
  docs/release/25.x.md
  netsim/augment/links.py
  tests/coverage/expected/link-empty.yml
  tests/coverage/expected/link-formats.yml
  tests/coverage/expected/link-group.yml
  tests/coverage/expected/links-as-dict.yml
  tests/coverage/input/link-empty.yml
  tests/coverage/input/link-formats.yml
  tests/coverage/input/link-group.yml
  tests/coverage/input/links-as-dict.yml
Due: yamllint, ci_tests

Doc: New wireshark release breaks old plugins (#2871)
  docs/extool/edgeshark.md
Due: none

Fix: normalize containerlab interface names containing '/'
  netsim/providers/clab.py
Due: ci_tests

minimum ipv6 tested
  netsim/ansible/templates/initial/fortinet.fortios.fortios.j2
Due: none

Fix: Add 'extra_path' parameter to write_template function
  netsim/utils/templates.py
Due: ci_tests

Fix: normalize containerlab interface names containing '/' (#2872)
  netsim/providers/clab.py
Due: ci_tests

Refactor the containerlab configuration template (#2859)
  netsim/providers/clab.yml
  netsim/templates/provider/clab/clab.j2
Due: yamllint, ci_tests

Fix: path to 'daemons' directory is already included in default paths
  netsim/providers/__init__.py
Due: ci_tests

Fix: Add 'extra_path' parameter to write_template function (#2873)
  netsim/utils/templates.py
Due: ci_tests

Fix: Treat 'initial' as another module when creating daemon configs
  netsim/augment/nodes.py
Due: ci_tests

Create daemon config files in 'netlab initial' Python code
  docs/netlab/initial.md
  netsim/ansible/create-config.ansible
  netsim/cli/initial.py
  netsim/cli/initial_actions/__init__.py
  netsim/cli/initial_actions/configs.py
Due: ci_tests

rename fortios_config to fortios_monitor
  netsim/ansible/tasks/deploy-config/fortinet.fortios.fortios.yml
Due: yamllint, ci_tests

Try Expect if fortios_monitor API call fails
  netsim/ansible/tasks/deploy-config/fortinet.fortios.fortios.yml
  netsim/ansible/templates/initial/fortinet.fortios.fortios.j2
Due: yamllint, ci_tests

Updated Fortinet caveats
  docs/caveats.md
Due: none

Create daemon config files in 'netlab initial' Python code (#2867)
  docs/netlab/initial.md
  netsim/ansible/create-config.ansible
  netsim/cli/initial.py
  netsim/cli/initial_actions/__init__.py
  netsim/cli/initial_actions/configs.py
Due: ci_tests

Execute initial configuration script as a daemon config file
  netsim/ansible/tasks/deploy-module.yml
  netsim/cli/initial_actions/configs.py
  netsim/daemons/bird.yml
  netsim/daemons/bird/bird.j2
  netsim/daemons/bird/initial.j2
  netsim/providers/__init__.py
  netsim/utils/templates.py
Due: yamllint, ci_tests
