Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

fix(arcos): refuse a prefix list whose deny entry shadows a later permit
  netsim/devices/arcos.py
Due: ci_tests

docs(arcos): widen the ABR summarisation caveat to the forms actually measured
  docs/caveats.md
Due: none

Fixing missed sudo references
  netsim/providers/clab.yml
  netsim/providers/libvirt.yml
Due: yamllint, ci_tests

Provider tests for #3704
  _html/platform-clab.html
  _html/platform-multiprovider.html
  platform/clab/01-links.yml-create.log
  platform/clab/01-links.yml-initial.log
  platform/clab/01-links.yml-up.log
  platform/clab/01-links.yml-validate.log
  platform/clab/02-mac-ip.yml-create.log
  platform/clab/02-mac-ip.yml-up.log
  platform/clab/02-mac-ip.yml-validate.log
  platform/clab/03-port-fwd.yml-up.log
  platform/clab/04-kind.yml-create.log
  platform/clab/04-kind.yml-initial.log
  platform/clab/04-kind.yml-up.log
  platform/clab/cleanup-down.log
  platform/clab/results.yaml
  platform/multiprovider/01-libvirt-clab-p2p-links.yml-create.log
  platform/multiprovider/01-libvirt-clab-p2p-links.yml-initial.log
  platform/multiprovider/01-libvirt-clab-p2p-links.yml-up.log
  platform/multiprovider/01-libvirt-clab-p2p-links.yml-validate.log
  platform/multiprovider/02-libvirt-clab-lan.yml-create.log
  platform/multiprovider/02-libvirt-clab-lan.yml-up.log
  platform/multiprovider/02-libvirt-clab-lan.yml-validate.log
  platform/multiprovider/10-libvirt-clab-ssh.yml-create.log
  platform/multiprovider/10-libvirt-clab-ssh.yml-initial.log
  platform/multiprovider/10-libvirt-clab-ssh.yml-up.log
  platform/multiprovider/cleanup-down.log
  platform/multiprovider/results.yaml
Due: yamllint, ci_tests

fix(arcos): write the L3VNI route target explicitly, per address family
  netsim/ansible/templates/evpn/arcos.j2
Due: none

fix(arcos): give an EVPN-only BGP neighbor its peer AS
  netsim/ansible/templates/evpn/arcos.j2
Due: none

docs(arcos): correct the type-5 claim -- it is originated, it is not advertised
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

fix(arcos): render bgp.local_as as replace-as, not just local-as
  netsim/ansible/templates/bgp/arcos.macro.j2
Due: none

docs(arcos): remove the last two "type-5 is never originated" copies
  docs/caveats.md
  netsim/ansible/templates/evpn/arcos.j2
Due: none

Fix: Do not apply schema _default on interfaces before link merge (#3703)
  docs/dev/validation-types.txt
  netsim/augment/links.py
  netsim/data/validate.py
  netsim/extra/ebgp/multihop/__init__.py
  tests/coverage/expected/wg-listen-port.yml
  tests/coverage/input/wg-listen-port.yml
Due: yamllint, ci_tests

Check clab_admins group membership before starting clab lab
  docs/labs/clab.md
  netsim/providers/clab.yml
Due: yamllint, ci_tests

Fix: Do not apply schema _default on interfaces before link merge (#3703) (#3705)
  docs/dev/validation-types.txt
  netsim/augment/links.py
  netsim/data/validate.py
  netsim/extra/ebgp/multihop/__init__.py
  tests/coverage/expected/wg-listen-port.yml
  tests/coverage/input/wg-listen-port.yml
Due: yamllint, ci_tests

Use word matching when checking group membership
  netsim/providers/clab.yml
Due: yamllint, ci_tests

Rewording a warning
  docs/labs/clab.md
Due: none

Fix: Use sudo-less containerlab operation (#3704)
  docs/labs/clab.md
  docs/release/26.08.md
  netsim/providers/clab.yml
  netsim/providers/libvirt.yml
Due: yamllint, ci_tests

docs(arcos): bring the caveats.md VRF leaking text in line with the measurement
  docs/caveats.md
Due: none

Note that loopback interfaces are also excluded from node MTU
  docs/links.md
Due: none

Simplify tunnel MTU handling comment in add_node_interface
  netsim/augment/links.py
Due: ci_tests

Shorten tunnel MTU exclusion footnote
  docs/links.md
Due: none

Fix: Do not copy node/device MTU onto tunnel interfaces
  docs/links.md
  netsim/augment/links.py
Due: ci_tests

Update wg-listen-port coverage expected MTU after tunnel fix
  tests/coverage/expected/wg-listen-port.yml
Due: yamllint, ci_tests

Fix: Remove 'clab.runtime' attribute from all test lab topologies
  netsim/templates/tests/grpc.yml
  tests/topology/expected/bgp-unnumbered.yml
  tests/topology/expected/clab-attributes.yml
  tests/topology/input/bgp-unnumbered.yml
  tests/topology/input/clab-attributes.yml
Due: yamllint, ci_tests

Containerlab podman support
  docs/labs/clab.md
  docs/netlab/install.md
  docs/netlab/test.md
  netsim/cli/test.py
  netsim/install/install.yml
  netsim/install/podman.sh
  netsim/providers/clab.yml
  netsim/providers/clab/__init__.py
  netsim/providers/clab/labops.py
  netsim/templates/provider/clab/clab.j2
  netsim/templates/tests/podman.yml
Due: yamllint, ci_tests

Fix: Do not use node MTU for tunnel interfaces (#3707)
  docs/links.md
  netsim/augment/links.py
  tests/coverage/expected/wg-listen-port.yml
Due: yamllint, ci_tests

Use effective user ID to identify root
  netsim/providers/clab/labops.py
Due: ci_tests

Docs: Require commit subjects to be at most 72 characters
  AGENTS.md
Due: none

Fixing typos
  docs/netlab/test.md
  netsim/providers/clab.yml
Due: yamllint, ci_tests

Docs: Require commit subjects to be at most 72 characters (#3709)
  AGENTS.md
Due: none

Fix: Allocate unique WireGuard UDP listen ports per tunnel (#3706)
  docs/plugins/tunnel.wireguard.md
  netsim/extra/tunnel/wireguard/__init__.py
  netsim/extra/tunnel/wireguard/defaults.yml
  tests/coverage/expected/wg-listen-port.yml
  tests/coverage/expected/wg-unique-ports.yml
  tests/coverage/input/wg-listen-port.yml
  tests/coverage/input/wg-unique-ports.yml
Due: yamllint, ci_tests

Fix: Read WireGuard listen port base from schema _start
  netsim/extra/tunnel/wireguard/__init__.py
  netsim/extra/tunnel/wireguard/defaults.yml
Due: yamllint, ci_tests

Test: Sync wg-unique-ports expected MTU after tunnel fix
  tests/coverage/expected/wg-unique-ports.yml
Due: yamllint, ci_tests

DNS Client for Arista
  docs/module/services.md
  netsim/ansible/templates/initial/eos.j2
  netsim/ansible/templates/services/eos.j2
  netsim/devices/eos.yml
Due: yamllint, ci_tests

Added one more warning
  docs/labs/clab.md
Due: none

Containerlab podman support (#3708)
  docs/labs/clab.md
  docs/netlab/install.md
  docs/netlab/test.md
  netsim/cli/test.py
  netsim/install/install.yml
  netsim/install/podman.sh
  netsim/providers/clab.yml
  netsim/providers/clab/__init__.py
  netsim/providers/clab/labops.py
  netsim/templates/provider/clab/clab.j2
  netsim/templates/tests/podman.yml
Due: yamllint, ci_tests

Tweak the integration test
  tests/integration/services/01-dns-client.yml
Due: yamllint, ci_tests

Arista EOS DNS client test for #3711
  _html/eos-clab-services.html
  _html/eos-clab.html
  _html/eos.html
  eos/clab/services/01-dns-client.yml-create.log
  eos/clab/services/01-dns-client.yml-initial.log
  eos/clab/services/01-dns-client.yml-up.log
  eos/clab/services/01-dns-client.yml-validate.log
  eos/clab/services/cleanup-down.log
  eos/clab/services/results.yaml
  index.html
  setup.yml
Due: yamllint, ci_tests

DNS Client for Arista EOS (#3711)
  docs/module/services.md
  netsim/ansible/templates/initial/eos.j2
  netsim/ansible/templates/services/eos.j2
  netsim/devices/eos.yml
  tests/integration/services/01-dns-client.yml
Due: yamllint, ci_tests

Add DNS client tests to coverage
  _html/coverage.services.html
  _html/eos-clab-services.html
  _html/release-coverage.html
  index.html
  map-tests.yml
Due: yamllint, ci_tests

Cleanup DNS client implementation
  netsim/ansible/templates/initial/eos.j2
  netsim/ansible/templates/initial/ios.j2
  netsim/ansible/templates/initial/linux/resolv.j2
  netsim/ansible/templates/services/eos.j2
  netsim/ansible/templates/services/frr.j2
  netsim/ansible/templates/services/ios.j2
  netsim/modules/services.py
  netsim/templates/provider/clab/linux/hosts.j2
  tests/integration/services/01-dns-client.yml
Due: yamllint, ci_tests

Update transformation tests
  tests/coverage/expected/svc-server.yml
Due: yamllint, ci_tests
