Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Fix: Add link to AWS EC2 instances with nested virtualization
  docs/install/cloud.md
Due: none

Add SRv6 EBGP test to feature coverage
  _html/coverage.srv6.html
  _html/frr-clab-srv6.html
  _html/iosxr-clab-srv6.html
  index.html
  map-tests.yml
Due: yamllint, ci_tests

Cleanup netlab installation instructions (#3886)
  docs/caveats.md
  docs/install.md
  docs/install/clone.md
  docs/install/cloud.md
  docs/install/linux.md
  docs/install/ubuntu-vm.md
  docs/install/ubuntu.md
Due: none

EBGP propagation of SRv6 SIDs (#3888)
  docs/module/srv6.md
  netsim/ansible/templates/srv6/frr.bgp.j2
  netsim/ansible/templates/srv6/frr.j2
  netsim/ansible/templates/srv6/iosxr.bgp.j2
  netsim/devices/frr.yml
  netsim/devices/iosxr.yml
  netsim/devices/none.yml
  netsim/modules/srv6.py
  netsim/modules/srv6.yml
  tests/integration/srv6/11-isis-ipv6-bgp.yml
  tests/integration/srv6/21-ebgp-ipv4-bgp.yml
  tests/integration/srv6/x-31-ebgp-isis-ipv4-bgp.yml
Due: yamllint, ci_tests

Add RFC 8950 test to BGP feature coverage
  _html/arubacx-libvirt-bgp.html
  _html/bird-clab-bgp.html
  _html/cat8000v-libvirt-bgp.html
  _html/cisco8000v-clab-bgp.html
  _html/coverage.bgp.html
  _html/crpd-clab-bgp.html
  _html/csr-libvirt-bgp.html
  _html/cumulus-libvirt-bgp.html
  _html/cumulus_nvue-libvirt-bgp.html
  _html/dellos10-libvirt-bgp.html
  _html/eos-clab-bgp.html
  _html/frr-clab-bgp.html
  _html/iol-clab-bgp.html
  _html/ioll2-clab-bgp.html
  _html/iosv-libvirt-bgp.html
  _html/iosvl2-libvirt-bgp.html
  _html/iosxr-clab-bgp.html
  _html/nxos-clab-bgp.html
  _html/openbsd-libvirt-bgp.html
  _html/routeros7-libvirt-bgp.html
  _html/sonic-clab-bgp.html
  _html/srlinux-clab-bgp.html
  _html/sros-clab-bgp.html
  _html/srsim-clab-bgp.html
  _html/vjunos-router-clab-bgp.html
  _html/vjunos-switch-clab-bgp.html
  _html/vptx-libvirt-bgp.html
  _html/vyos-clab-bgp.html
  _html/vyos-libvirt-bgp.html
  index.html
  map-tests.yml
Due: yamllint, ci_tests

SRv6 on Junos
  netsim/ansible/templates/srv6/junos.bgp.j2
  netsim/ansible/templates/srv6/junos.j2
  netsim/devices/junos.py
  netsim/devices/vjunos-router.yml
  netsim/devices/vjunos-switch.yml
Due: yamllint, ci_tests

Fix group name for eBGP peers in BGP template
  netsim/ansible/templates/srv6/junos.bgp.j2
Due: none

Fix: Add IPv4 NHS-all policy only when running IPv4 over SRv6
  netsim/ansible/templates/srv6/junos.bgp.j2
  netsim/devices/junos.py
Due: ci_tests

Add L3VPN over SRv6 support
  netsim/ansible/templates/srv6/junos.bgp.j2
  netsim/devices/vjunos-router.yml
  netsim/devices/vjunos-switch.yml
  tests/integration/srv6/12-isis-ipv6-bgp-vpn.yml
Due: yamllint, ci_tests

Fix VPP Dockerfile.j2 description label formatting
  netsim/daemons/vpp/Dockerfile.j2
Due: none

Fix VPP Dockerfile.j2 description label formatting (#3890)
  netsim/daemons/vpp/Dockerfile.j2
Due: none

Fix: Sync SRv6 documentation and settings
  docs/module/srv6.md
  netsim/modules/srv6.yml
Due: yamllint, ci_tests

Fixing a nit
  docs/module/srv6.md
Due: none

Fix: Sync SRv6 documentation and settings (#3891)
  docs/module/srv6.md
  netsim/modules/srv6.yml
Due: yamllint, ci_tests

Update devcontainer build file
  .devcontainer/Dockerfile
Due: none

Fix: use Docker CE for docker-in-docker
  .devcontainer/devcontainer.json
Due: none

Update devcontainer build file (#3892)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Fix SRv6 integration tests to connect hosts through CEs
  tests/integration/srv6/01-isis-ipv4-bgp.yml
  tests/integration/srv6/02-isis-ipv4-bgp-vpn.yml
  tests/integration/srv6/11-isis-ipv6-bgp.yml
  tests/integration/srv6/12-isis-ipv6-bgp-vpn.yml
  tests/integration/srv6/21-ebgp-ipv4-bgp.yml
  tests/integration/srv6/x-31-ebgp-isis-ipv4-bgp.yml
Due: yamllint, ci_tests

Fix: Implement select-all for 'get BGP neighbors' function
  netsim/utils/routing.py
Due: ci_tests

Fix: Implement select-all for 'get BGP neighbors' function (#3894)
  netsim/utils/routing.py
Due: ci_tests

Refactor SR Linux BGP policies
  netsim/ansible/templates/bgp/srlinux.macro.j2
  netsim/devices/srlinux.py
  netsim/extra/bgp/policy/srlinux.j2
Due: ci_tests

Fix: Activate EVPN on interface peer groups
  netsim/ansible/templates/bgp/srlinux.macro.j2
  netsim/ansible/templates/evpn/srlinux.j2
Due: none

Refactor SR Linux BGP policies (#3897)
  netsim/ansible/templates/bgp/srlinux.macro.j2
  netsim/ansible/templates/evpn/srlinux.j2
  netsim/devices/srlinux.py
  netsim/extra/bgp/policy/srlinux.j2
Due: ci_tests

Cleanup: Do not activate EVPN AF in SR Linux peer groups
  netsim/ansible/templates/evpn/srlinux.j2
Due: none

Fixing a blunder from #3897
  netsim/ansible/templates/evpn/srlinux.j2
Due: none

Cleanup: Do not activate EVPN AF in SR Linux peer groups (#3898)
  netsim/ansible/templates/evpn/srlinux.j2
Due: none

set_tc uses the replace '\' with '-'
  netsim/providers/clab/__init__.py
Due: ci_tests

Add/Fix clab.interface.name for ASAv and IOL
  netsim/devices/asav.yml
  netsim/devices/iol.yml
Due: yamllint, ci_tests

Fix: SR Linux supports multiple DNS instances from 26.7
  netsim/ansible/templates/initial/srlinux.j2
Due: none

SRv6 on SR Linux
  netsim/ansible/templates/bgp/srlinux.macro.j2
  netsim/ansible/templates/srv6/srlinux.bgp.j2
  netsim/ansible/templates/srv6/srlinux.j2
  netsim/devices/srlinux.py
  netsim/devices/srlinux.yml
  netsim/modules/srv6.py
  tests/integration/srv6/topology-defaults.yml
Due: yamllint, ci_tests

Revert clab.interface.name changes for ASAv and IOL
  netsim/devices/asav.yml
  netsim/devices/iol.yml
Due: yamllint, ci_tests

Fix: Use sanitized clab ifname when invoking tc (#3901)
  netsim/providers/clab/__init__.py
Due: ci_tests

tc: using 'ip link show' to get the underlying interface
  netsim/providers/clab/__init__.py
Due: ci_tests

tc: minor improvements
  netsim/providers/clab/__init__.py
  netsim/providers/clab/utils.py
Due: ci_tests

Fix imports
  netsim/providers/clab/utils.py
Due: ci_tests

Fix: Use 'ip link show' to get the a usable ifname for tc (#3903)
  netsim/providers/clab/__init__.py
  netsim/providers/clab/utils.py
Due: ci_tests

ASAv: OSPF support for point-to-point (non-broadcast)
  netsim/ansible/templates/ospf/asa.ospfv2.j2
  netsim/devices/asav.py
Due: ci_tests
