Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

shared
  netsim/providers/__init__.py
Due: ci_tests

small refactor
  netsim/providers/__init__.py
Due: ci_tests

Performance: Cache Jinja2 environments by search paths
  netsim/utils/templates.py
Due: ci_tests

using shared flag
  netsim/devices/cumulus.yml
  netsim/devices/frr.yml
  netsim/devices/linux.yml
  netsim/providers/__init__.py
  netsim/providers/libvirt.py
Due: yamllint, ci_tests

use project not-in syntax
  netsim/providers/__init__.py
Due: ci_tests

remove share folder complexity
  netsim/providers/__init__.py
Due: ci_tests

Performance: Cache Jinja2 environments by search paths (#2645)
  netsim/utils/templates.py
Due: ci_tests

Static (topology) 'tc' functionality for clab and libvirt
  docs/links.md
  netsim/cli/up.py
  netsim/defaults/attributes.yml
  netsim/providers/__init__.py
  netsim/providers/clab.py
  netsim/providers/libvirt.py
  tests/topology/expected/link-bw.yml
  tests/topology/input/link-bw.yml
Due: yamllint, ci_tests

Static (topology) 'tc' functionality for clab and libvirt (#2626)
  docs/links.md
  netsim/cli/up.py
  netsim/defaults/attributes.yml
  netsim/providers/__init__.py
  netsim/providers/clab.py
  netsim/providers/libvirt.py
  tests/topology/expected/link-bw.yml
  tests/topology/input/link-bw.yml
Due: yamllint, ci_tests

Formatting modifiers for BGP graphs
  docs/outputs/d2.md
  docs/outputs/graph.md
  netsim/outputs/_graph.py
  netsim/outputs/d2.py
  netsim/outputs/d2.yml
  netsim/outputs/graph.py
  netsim/outputs/graph.yml
  netsim/utils/log.py
  tests/platform-integration/graph/bgp.yml
  tests/platform-integration/graph/create-d2.sh
  tests/platform-integration/graph/create-graphviz.sh
Due: yamllint, ci_tests

Use pickled data as snapshot file
  docs/dev/config/deploy.md
  docs/netlab/connect.md
  docs/netlab/create.md
  docs/netlab/down.md
  docs/netlab/graph.md
  docs/netlab/initial.md
  docs/netlab/inspect.md
  docs/netlab/report.md
  docs/netlab/restart.md
  docs/netlab/status.md
  docs/netlab/up.md
  docs/topology/validate.md
  netsim/cli/__init__.py
  netsim/cli/create.py
  netsim/cli/down.py
  netsim/cli/up.py
  netsim/outputs/__init__.py
  netsim/outputs/pickle.py
  netsim/utils/files.py
  netsim/utils/read.py
  tests/platform-integration/large/01-large-topo.yml
Due: yamllint, ci_tests

Bump containerlab version to 0.69.3
  netsim/providers/clab.yml
Due: yamllint, ci_tests

Bump containerlab version to 0.69.3 (#2651)
  netsim/providers/clab.yml
Due: yamllint, ci_tests

tc integration tests
  tests/platform-integration/tc/01-clab.yml
  tests/platform-integration/tc/02-libvirt.yml
Due: yamllint, ci_tests

Fix: display the correct netlab command in subcommand parser help
  netsim/cli/__init__.py
Due: ci_tests

netlab tc command
  README.md
  docs/links.md
  docs/netlab/cli.md
  docs/netlab/tc.md
  netsim/cli/tc.py
  netsim/cli/up.py
  netsim/providers/__init__.py
  netsim/providers/clab.py
  netsim/providers/libvirt.py
Due: ci_tests

test one
  tests/topology/expected/vlan-routed-multiprovider.yml
Due: yamllint, ci_tests

netlab tc command (#2652)
  README.md
  docs/links.md
  docs/netlab/cli.md
  docs/netlab/tc.md
  netsim/cli/tc.py
  netsim/cli/up.py
  netsim/providers/__init__.py
  netsim/providers/clab.py
  netsim/providers/libvirt.py
Due: ci_tests

Fix: 'netlab collect' does not need to load the topology snapshot
  netsim/cli/collect.py
Due: ci_tests

Fix: Remove the use of obsolete D2 'interfaces' feature
  docs/outputs/d2.md
  netsim/outputs/d2.py
  tests/platform-integration/graph/create-d2.sh
Due: ci_tests

Formatting modifiers for BGP graphs (#2647)
  docs/outputs/d2.md
  docs/outputs/graph.md
  netsim/outputs/_graph.py
  netsim/outputs/d2.py
  netsim/outputs/d2.yml
  netsim/outputs/graph.py
  netsim/outputs/graph.yml
  netsim/utils/log.py
  tests/platform-integration/graph/bgp.yml
  tests/platform-integration/graph/create-d2.sh
  tests/platform-integration/graph/create-graphviz.sh
Due: yamllint, ci_tests

Fix: Remove the use of obsolete D2 'interfaces' feature (#2654)
  docs/outputs/d2.md
  netsim/outputs/d2.py
  tests/platform-integration/graph/create-d2.sh
Due: ci_tests

Fix: Use outputs.d2.styles defaults for D2 graph styling
  docs/outputs/d2.md
  netsim/outputs/d2.py
  netsim/outputs/d2.yml
Due: yamllint, ci_tests

Fix: recognize provider- and output- global attributes
  netsim/augment/topology.py
  netsim/defaults/attributes.yml
Due: yamllint, ci_tests

Add GraphViz and D2 graph titles specified in graph.title global attr
  docs/outputs/d2.md
  docs/outputs/graph.md
  netsim/outputs/d2.py
  netsim/outputs/d2.yml
  netsim/outputs/graph.py
  netsim/outputs/graph.yml
  tests/platform-integration/graph/bgp.yml
  tests/platform-integration/graph/create-d2.sh
  tests/platform-integration/graph/create-graphviz.sh
Due: yamllint, ci_tests

Doc fix: Clean up the generic Linux installation documentation
  docs/install/linux.md
Due: none

Doc fix: Add testing instructions to the Ubuntu installation document
  docs/install/ubuntu.md
Due: none

Implement select IGP parameters on the primary loopback interface
  docs/module/isis.md
  docs/module/ospf.md
  docs/module/routing_protocols.md
  netsim/augment/nodes.py
  netsim/defaults/attributes.yml
  netsim/modules/_routing.py
  netsim/modules/isis.yml
  netsim/modules/ospf.py
  netsim/modules/ospf.yml
  tests/topology/expected/addressing-ipv6-prefix.yml
  tests/topology/expected/bgp-autogroup.yml
  tests/topology/expected/bgp-community.yml
  tests/topology/expected/bgp-sessions.yml
  tests/topology/expected/groups-hierarchy.yml
  tests/topology/expected/module-node-global.yml
  tests/topology/expected/mpls.yml
  tests/topology/expected/vrf-routing-blocks.yml
  tests/topology/expected/vrf.yml
Due: yamllint, ci_tests

back to lasst PR
  netsim/devices/cumulus.yml
  netsim/devices/frr.yml
  netsim/devices/linux.yml
  netsim/providers/__init__.py
  netsim/templates/provider/clab/linux/hosts.j2
Due: yamllint, ci_tests

tests
  tests/topology/expected/bgp-unnumbered.yml
  tests/topology/expected/components.yml
  tests/topology/expected/device-module-defaults.yml
  tests/topology/expected/device-node-defaults.yml
  tests/topology/expected/dhcp-server-on-segment.yml
  tests/topology/expected/dhcp-vlan.yml
  tests/topology/expected/group-ansible-variables.yml
  tests/topology/expected/libvirt-clab-complex.yml
  tests/topology/expected/stp-mstp.yml
  tests/topology/expected/stp-port-type.yml
  tests/topology/expected/stp.yml
  tests/topology/expected/vlan-access-links.yml
  tests/topology/expected/vlan-access-single.yml
  tests/topology/expected/vlan-routed-multiprovider.yml
  tests/topology/expected/vlan-routed-vrf.yml
Due: yamllint, ci_tests

review
  netsim/providers/__init__.py
Due: ci_tests

Use pickled data as snapshot file (#2650)
  docs/dev/config/deploy.md
  docs/netlab/connect.md
  docs/netlab/create.md
  docs/netlab/down.md
  docs/netlab/graph.md
  docs/netlab/initial.md
  docs/netlab/inspect.md
  docs/netlab/report.md
  docs/netlab/restart.md
  docs/netlab/status.md
  docs/netlab/up.md
  docs/topology/validate.md
  netsim/cli/__init__.py
  netsim/cli/create.py
  netsim/cli/down.py
  netsim/cli/up.py
  netsim/outputs/__init__.py
  netsim/outputs/pickle.py
  netsim/utils/files.py
  netsim/utils/read.py
  tests/platform-integration/large/01-large-topo.yml
Due: yamllint, ci_tests

Remove superfluous IGP data from loopback interface
  netsim/modules/_routing.py
  tests/topology/expected/addressing-ipv6-prefix.yml
  tests/topology/expected/bgp-autogroup.yml
  tests/topology/expected/bgp-community.yml
  tests/topology/expected/bgp-sessions.yml
  tests/topology/expected/group-data-vrf.yml
  tests/topology/expected/groups-hierarchy.yml
  tests/topology/expected/groups-vlan-vrf.yml
  tests/topology/expected/igp-af.yml
  tests/topology/expected/module-node-global.yml
  tests/topology/expected/mpls.yml
  tests/topology/expected/vlan-vrf-lite.yml
  tests/topology/expected/vrf-igp.yml
  tests/topology/expected/vrf-links.yml
  tests/topology/expected/vrf-routing-blocks.yml
  tests/topology/expected/vrf.yml
  tests/topology/input/igp-af.yml
Due: yamllint, ci_tests

Devices in the 'group hierarcy' test need an OSPF interface to make test work
  tests/topology/expected/groups-hierarchy.yml
  tests/topology/input/groups-hierarchy.yml
Due: yamllint, ci_tests

Fix: alt_type is not needed in loopback data type
  netsim/defaults/attributes.yml
Due: yamllint, ci_tests

Implement select IGP parameters on the primary loopback interface (#2656)
  docs/module/isis.md
  docs/module/ospf.md
  docs/module/routing_protocols.md
  netsim/augment/nodes.py
  netsim/defaults/attributes.yml
  netsim/modules/_routing.py
  netsim/modules/isis.yml
  netsim/modules/ospf.py
  netsim/modules/ospf.yml
  tests/topology/expected/bgp-autogroup.yml
  tests/topology/expected/bgp-community.yml
  tests/topology/expected/bgp-sessions.yml
  tests/topology/expected/group-data-vrf.yml
  tests/topology/expected/groups-hierarchy.yml
  tests/topology/expected/groups-vlan-vrf.yml
  tests/topology/expected/igp-af.yml
  tests/topology/expected/module-node-global.yml
  tests/topology/expected/mpls.yml
  tests/topology/expected/vlan-vrf-lite.yml
  tests/topology/expected/vrf-igp.yml
  tests/topology/expected/vrf-links.yml
  tests/topology/expected/vrf-routing-blocks.yml
  tests/topology/expected/vrf.yml
  tests/topology/input/groups-hierarchy.yml
  tests/topology/input/igp-af.yml
Due: yamllint, ci_tests

Use '_netlab_version' attribute to check the validity of snapshot file
  netsim/cli/__init__.py
  netsim/outputs/pickle.py
  netsim/outputs/yaml.py
Due: ci_tests

Use '_netlab_version' attribute to check the validity of snapshot file (#2662)
  netsim/cli/__init__.py
  netsim/outputs/pickle.py
  netsim/outputs/yaml.py
Due: ci_tests

Fixing a broken doclink
  docs/netlab/create.md
Due: none
