Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Updated documentation
  docs/platforms.md
  docs/plugins/kind.md
Due: none

Copilot nits, code comments, and a few logic fixes
  netsim/extra/kind/defaults.yml
  netsim/extra/kind/plugin.py
  netsim/providers/clab.py
Due: yamllint, ci_tests

KinD plugin and device
  docs/plugins.md
  docs/plugins/kind.md
  netsim/daemons/kind/initial.j2
  netsim/extra/kind/defaults.yml
  netsim/extra/kind/plugin.py
Due: yamllint, ci_tests

Implement changes/fixed identified by @wnagele
  docs/plugins/kind.md
  netsim/daemons/kind.yml
  netsim/extra/kind/defaults.yml
  netsim/extra/kind/plugin.py
Due: yamllint, ci_tests

Move the 'kind' device definition into daemons
  netsim/augment/nodes.py
  netsim/daemons/kind.yml
  netsim/devices/_common.py
  netsim/extra/kind/defaults.yml
  netsim/extra/kind/plugin.py
Due: yamllint, ci_tests

Fix: apply custom config templates to KinD nodes
  docs/plugins/kind.md
  netsim/extra/kind/defaults.yml
Due: yamllint, ci_tests

KinD plugin and device (#2997)
  docs/platforms.md
  docs/plugins.md
  docs/plugins/kind.md
  netsim/augment/nodes.py
  netsim/daemons/kind.yml
  netsim/daemons/kind/initial.j2
  netsim/devices/_common.py
  netsim/extra/kind/defaults.yml
  netsim/extra/kind/plugin.py
  netsim/providers/clab.py
Due: yamllint, ci_tests

Build custom FRR Vagrant boxes with preinstalled FRR package (#3036)
  docs/caveats.md
  docs/labs/frr.md
  docs/labs/libvirt.md
  docs/platforms.md
  netsim/devices/frr.yml
  netsim/install/libvirt/frr.xml.j2
  netsim/install/libvirt/frr/meta-data
  netsim/install/libvirt/frr/user-data
Due: yamllint, ci_tests

Use 'netlab_default_shebang' to implement easy wrapper cases
  docs/dev/config/deploy.md
  netsim/devices/frr.yml
  netsim/utils/templates.py
Due: yamllint, ci_tests

Fixing Copilot nits
  docs/dev/config/deploy.md
  netsim/utils/templates.py
Due: ci_tests

Use 'netlab_default_shebang' to implement easy wrapper cases (#3044)
  docs/dev/config/deploy.md
  netsim/devices/frr.yml
  netsim/utils/templates.py
Due: yamllint, ci_tests

Fix: Extended Jinja2 error report in 'report' rendering
  netsim/outputs/report.py
Due: ci_tests

OSPFv3 reports
  netsim/reports/ospfv3-areas.html.j2
  netsim/reports/ospfv3-areas.j2
  netsim/reports/ospfv3-areas.md.j2
Due: none

Implement Copilot nits and suggestions
  netsim/reports/ospfv3.html.j2
  netsim/reports/ospfv3.j2
  netsim/reports/ospfv3.md.j2
Due: none

OSPFv3 reports (#3045)
  netsim/reports/ospfv3.html.j2
  netsim/reports/ospfv3.j2
  netsim/reports/ospfv3.md.j2
Due: none

Fix: Use JSON files to Ansible host/group vars
  netsim/outputs/ansible.py
Due: ci_tests

Implement Copilot suggestions
  docs/outputs/ansible.md
  netsim/cli/inspect.py
Due: ci_tests

Fix: Use JSON files for Ansible host/group vars (#3046)
  docs/outputs/ansible.md
  netsim/cli/inspect.py
  netsim/outputs/ansible.py
Due: ci_tests

Execute SSH readiness check in 'netlab initial' (#3037)
  netsim/cli/initial/deploy.py
  netsim/cli/initial/ready.py
  netsim/cli/initial/utils.py
Due: ci_tests

Add 'netlab_start_exec' clab group variable
  netsim/providers/clab.py
Due: ci_tests

Update docstring
  netsim/providers/clab.py
Due: ci_tests

Add 'netlab_start_exec' clab group variable (#3047)
  netsim/providers/clab.py
Due: ci_tests

Fix: Cleanup Dell OS10 readiness check
  netsim/ansible/tasks/readiness-check/dellos10-clab.yml
  netsim/devices/dellos10.yml
Due: yamllint, ci_tests

Update transformation tests
  tests/topology/expected/lag-l2.yml
  tests/topology/expected/lag-l3.yml
  tests/topology/expected/lag-mlag.yml
Due: yamllint, ci_tests

Dell OS10 integration tests for #3048
  _html/coverage.initial.html
  _html/dellos10-clab-initial.html
  _html/dellos10-clab.html
  _html/dellos10-libvirt-initial.html
  _html/dellos10.html
  _html/release-coverage.html
  dellos10/clab/initial/01-interfaces.yml-create.log
  dellos10/clab/initial/01-interfaces.yml-initial.log
  dellos10/clab/initial/01-interfaces.yml-snapshot.yml
  dellos10/clab/initial/01-interfaces.yml-up.log
  dellos10/clab/initial/01-interfaces.yml-validate.log
  dellos10/clab/initial/cleanup-down.log
  dellos10/clab/initial/results.yaml
  dellos10/libvirt/initial/01-interfaces.yml-create.log
  dellos10/libvirt/initial/01-interfaces.yml-initial.log
  dellos10/libvirt/initial/01-interfaces.yml-snapshot.yml
  dellos10/libvirt/initial/01-interfaces.yml-up.log
  dellos10/libvirt/initial/02-loopback.yml-create.log
  dellos10/libvirt/initial/02-loopback.yml-up.log
  dellos10/libvirt/initial/03-unnumbered.yml-initial.log
  dellos10/libvirt/initial/03-unnumbered.yml-snapshot.yml
  dellos10/libvirt/initial/03-unnumbered.yml-up.log
  dellos10/libvirt/initial/04-mtu.yml-create.log
  dellos10/libvirt/initial/04-mtu.yml-initial.log
  dellos10/libvirt/initial/04-mtu.yml-snapshot.yml
  dellos10/libvirt/initial/04-mtu.yml-up.log
  dellos10/libvirt/initial/04-mtu.yml-validate.log
  dellos10/libvirt/initial/07-router.yml-create.log
  dellos10/libvirt/initial/07-router.yml-initial.log
  dellos10/libvirt/initial/07-router.yml-snapshot.yml
  dellos10/libvirt/initial/07-router.yml-up.log
  dellos10/libvirt/initial/07-router.yml-validate.log
  dellos10/libvirt/initial/cleanup-down.log
  dellos10/libvirt/initial/results.yaml
  index.html
  setup.yml
Due: yamllint, ci_tests

Fix: Cleanup Dell OS10 readiness check (#3048)
  netsim/ansible/tasks/readiness-check/dellos10-clab.yml
  netsim/devices/dellos10.yml
  tests/topology/expected/lag-l2.yml
  tests/topology/expected/lag-l3.yml
  tests/topology/expected/lag-mlag.yml
Due: yamllint, ci_tests

Integrate internal SSH readiness checks with Ansible checks
  docs/netlab/initial.md
  netsim/ansible/device-ready.ansible
  netsim/ansible/initial-config.ansible
  netsim/ansible/tasks/wait-for-ready.yml
  netsim/cli/initial/__init__.py
  netsim/cli/initial/deploy.py
  netsim/cli/initial/ready.py
  netsim/cli/initial/utils.py
  netsim/defaults/netlab.yml
  netsim/devices/cumulus_nvue.yml
  netsim/devices/fortios.yml
  netsim/devices/junos.yml
  netsim/devices/netscaler.yml
  netsim/devices/nxos.yml
  netsim/devices/sros.yml
  netsim/devices/vjunos-router.yml
  netsim/devices/vjunos-switch.yml
  netsim/devices/vmx.yml
  netsim/devices/vptx.yml
  netsim/devices/vsrx.yml
  netsim/devices/vyos.yml
  netsim/outputs/ansible.py
Due: yamllint, ci_tests

Use Linux scripts to configure Arista cEOS containers
  docs/caveats.md
  netsim/ansible/templates/lag/eos.j2
  netsim/ansible/templates/normalize/eos.j2
  netsim/ansible/templates/ospf/eos.ospfv3.j2
  netsim/ansible/templates/stp/eos.j2
  netsim/devices/eos.yml
  netsim/extra/bgp.session/eos.j2
  tests/topology/expected/vxlan-router-stick.yml
  tests/topology/input/vxlan-router-stick.yml
Due: yamllint, ci_tests

Fixing a typo
  netsim/ansible/templates/stp/eos.j2
Due: none

Integrate internal SSH readiness checks with Ansible checks (#3049)
  docs/netlab/initial.md
  netsim/ansible/device-ready.ansible
  netsim/ansible/initial-config.ansible
  netsim/ansible/tasks/wait-for-ready.yml
  netsim/cli/initial/__init__.py
  netsim/cli/initial/deploy.py
  netsim/cli/initial/ready.py
  netsim/cli/initial/utils.py
  netsim/defaults/netlab.yml
  netsim/devices/cumulus_nvue.yml
  netsim/devices/fortios.yml
  netsim/devices/junos.yml
  netsim/devices/netscaler.yml
  netsim/devices/nxos.yml
  netsim/devices/sros.yml
  netsim/devices/vjunos-router.yml
  netsim/devices/vjunos-switch.yml
  netsim/devices/vmx.yml
  netsim/devices/vptx.yml
  netsim/devices/vsrx.yml
  netsim/devices/vyos.yml
  netsim/outputs/ansible.py
Due: yamllint, ci_tests

Use Linux scripts to configure Arista cEOS containers (#3051)
  docs/caveats.md
  netsim/ansible/templates/lag/eos.j2
  netsim/ansible/templates/normalize/eos.j2
  netsim/ansible/templates/ospf/eos.ospfv3.j2
  netsim/ansible/templates/stp/eos.j2
  netsim/devices/eos.yml
  netsim/extra/bgp.session/eos.j2
  tests/topology/expected/vxlan-router-stick.yml
  tests/topology/input/vxlan-router-stick.yml
Due: yamllint, ci_tests

JSON-formatted '/status' API response + generic cleanup
  netsim/cli/api.py
Due: ci_tests

Finalize the '/status' format selection, documentation
  docs/netlab/api.md
  netsim/cli/api.py
Due: ci_tests

Implement Copilot suggestions
  docs/netlab/api.md
Due: none

JSON-formatted '/status' API response + generic cleanup (#3038)
  docs/netlab/api.md
  netsim/cli/api.py
Due: ci_tests

Set explicit IS-IS instance in several integration tests
  tests/integration/isis/03-dual-stack.yml
  tests/integration/sr/01-isis-ipv4-p.yml
  tests/integration/srv6/02-isis-ipv4-bgp-vpn.yml
Due: yamllint, ci_tests

Fix hard-coded ISIS instance names in templates (#3052)
  .gitignore
  netsim/ansible/templates/isis/iosxr.j2
  netsim/ansible/templates/isis/nxos.j2
  netsim/ansible/templates/sr/eos.j2
  netsim/ansible/templates/sr/frr.j2
  netsim/ansible/templates/sr/ios.j2
  netsim/ansible/templates/sr/srlinux.j2
  tests/integration/isis/03-dual-stack.yml
  tests/integration/sr/01-isis-ipv4-p.yml
  tests/integration/srv6/02-isis-ipv4-bgp-vpn.yml
Due: yamllint, ci_tests
