Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

ArubaCX: Check for static route nexthop data before using it (#2786)
  netsim/ansible/templates/routing/arubacx.j2
Due: none

Move CL "is NVUE ready" check into readiness-check task list (#2790)
  netsim/ansible/tasks/deploy-config/cumulus_nvue.yml
  netsim/ansible/tasks/readiness-check/cumulus_nvue.yml
Due: yamllint, ci_tests

Change default Mikrotik RouterOS7 container release to 7.18.2 (#2791)
  docs/labs/routeros7.md
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

Caveat: latest supported RouterOS release is 7.18.2
  docs/caveats.md
  docs/labs/routeros7.md
Due: none

Bump SR Linux release to 25.10.1 (#2795)
  netsim/devices/srlinux.yml
Due: yamllint, ci_tests

Caveat: latest supported RouterOS release is 7.18.2 (#2796)
  docs/caveats.md
  docs/labs/routeros7.md
Due: none

Fix: ipaddr 'prefix' request must be mapped into 'IPNetwork.prefixlen'
  netsim/utils/filters.py
Due: ci_tests

Fix: Invalid OSPF variable name in IOS OSPF config templates
  netsim/ansible/templates/ospf/ios.ospfv2.j2
  netsim/ansible/templates/ospf/ios.ospfv3.j2
Due: none

Increase the ping wait time in initial interface config test
  tests/integration/initial/01-interfaces.yml
Due: yamllint, ci_tests

Tweak VRF tests to cope with Schroedinger ping
  tests/integration/vrf/15-multi-vrf-mixed.yml
  tests/integration/vrf/23-multi-vrf-mixed-ipv6.yml
  tests/integration/vrf/33-vrf-common-ospf.yml
  tests/integration/vrf/34-vrf-common-mixed.yml
Due: yamllint, ci_tests

Fix: Junos readiness check should wait for the first non-virtual intf
  netsim/ansible/tasks/readiness-check/junos.yml
Due: yamllint, ci_tests

Bump FRR release to 10.5.0
  netsim/devices/frr.yml
Due: yamllint, ci_tests

Pin FRR version in the one transformation test I missed
  tests/topology/expected/device-node-defaults.yml
  tests/topology/input/device-node-defaults.yml
Due: yamllint, ci_tests

Bump FRR release to 10.5.0 (#2798)
  netsim/devices/frr.yml
  tests/topology/expected/device-node-defaults.yml
  tests/topology/input/device-node-defaults.yml
Due: yamllint, ci_tests

Build GH Pages documentation for master branch
  .github/workflows/pages.yml
Due: yamllint, ci_tests

Build GH Pages documentation for master branch (#2799)
  .github/workflows/pages.yml
Due: yamllint, ci_tests

Add link to GH Pages documentation
  README.md
Due: none

Mark netsim package as mypy-typed
  netsim/py.typed
Due: none

Add test coverage report
  _html/release-coverage.html
  _reports/html.py
  _reports/parse.py
  _reports/read.py
  _reports/release-coverage.html.j2
  _reports/remap.py
  create-reports.py
  set-release.py
Due: ci_tests

Add SRv6 to feature coverage report
  _html/cat8000v-libvirt-srv6.html
  _html/coverage.srv6.html
  _html/frr-clab-srv6.html
  _html/iol-clab-srv6.html
  _html/ioll2-clab-srv6.html
  _html/release-coverage.html
  index.html
  map-tests.yml
Due: yamllint, ci_tests

Add BGP confederation test to feature coverage
  _html/arubacx-libvirt-bgp.html
  _html/bird-clab-bgp.html
  _html/cat8000v-libvirt-bgp.html
  _html/cisco8000v-clab-bgp.html
  _html/coverage.bgp.html
  _html/csr-libvirt-bgp.html
  _html/dellos10-libvirt-bgp.html
  _html/eos-clab-bgp.html
  _html/frr-clab-bgp.html
  _html/iol-clab-bgp.html
  _html/ioll2-clab-bgp.html
  _html/iosv-libvirt-bgp.html
  _html/iosvl2-libvirt-bgp.html
  _html/nxos-libvirt-bgp.html
  _html/srlinux-clab-bgp.html
  _html/sros-clab-bgp.html
  _html/srsim-clab-bgp.html
  _html/vjunos-router-clab-bgp.html
  _html/vjunos-switch-clab-bgp.html
  _html/vptx-libvirt-bgp.html
  _html/vyos-clab-bgp.html
  _html/vyos-libvirt-bgp.html
  index.html
  map-tests.yml
Due: yamllint, ci_tests

Fix: incorrect include path in VyOS VRF OSPFv3 template
  netsim/ansible/templates/vrf/vyos.ospfv3-vrf.j2
Due: none

Fix: VyOS needs a bit longer to propagate OSPF prefix over L3VPN
  tests/integration/mpls/13-vpn-ospf.yml
Due: yamllint, ci_tests

Use generic SSH readiness check for Mikrotik ROS7 in a container
  netsim/ansible/tasks/readiness-check/routeros7.yml
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

Use generic SSH readiness check for Mikrotik ROS7 in a container (#2800)
  netsim/ansible/tasks/readiness-check/routeros7.yml
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

Sample Cumulus NVUE BGP+OSPF tests
  _html/coverage.ospfv2.html
  _html/cumulus_nvue-libvirt-bgp.html
  _html/cumulus_nvue-libvirt-ospf-ospfv2.html
  _html/release-coverage.html
  cumulus_nvue/libvirt/bgp/03-ibgp-rr.yml-create.log
  cumulus_nvue/libvirt/bgp/03-ibgp-rr.yml-initial.log
  cumulus_nvue/libvirt/bgp/03-ibgp-rr.yml-snapshot.yml
  cumulus_nvue/libvirt/bgp/03-ibgp-rr.yml-up.log
  cumulus_nvue/libvirt/bgp/03-ibgp-rr.yml-validate.log
  cumulus_nvue/libvirt/bgp/30-import-ds-ospf.yml-create.log
  cumulus_nvue/libvirt/bgp/cleanup-down.log
  cumulus_nvue/libvirt/bgp/results.yaml
  cumulus_nvue/libvirt/ospf/ospfv2/03-cost.yml-create.log
  cumulus_nvue/libvirt/ospf/ospfv2/03-cost.yml-initial.log
  cumulus_nvue/libvirt/ospf/ospfv2/03-cost.yml-snapshot.yml
  cumulus_nvue/libvirt/ospf/ospfv2/03-cost.yml-up.log
  cumulus_nvue/libvirt/ospf/ospfv2/03-cost.yml-validate.log
  cumulus_nvue/libvirt/ospf/ospfv2/10-import.yml-create.log
  cumulus_nvue/libvirt/ospf/ospfv2/10-import.yml-initial.log
  cumulus_nvue/libvirt/ospf/ospfv2/10-import.yml-up.log
  cumulus_nvue/libvirt/ospf/ospfv2/10-import.yml-validate.log
  cumulus_nvue/libvirt/ospf/ospfv2/cleanup-down.log
  cumulus_nvue/libvirt/ospf/ospfv2/results.yaml
  cumulus_nvue/libvirt/ospf/ospfv3/10-import.yml-create.log
  cumulus_nvue/libvirt/ospf/ospfv3/cleanup-down.log
  cumulus_nvue/libvirt/ospf/ospfv3/results.yaml
  index.html
  run-tests.py
  setup.yml
Due: yamllint, ci_tests

Fix: Remove a bogus variable check from CL NVUE readiness check
  netsim/ansible/tasks/readiness-check/cumulus_nvue.yml
Due: yamllint, ci_tests

Use the new 'netlab graph' capabilities in graph integration tests
  tests/platform-integration/graph/bgp.yml
  tests/platform-integration/graph/create-d2.sh
  tests/platform-integration/graph/create-graphviz.sh
  tests/platform-integration/graph/isis.yml
  tests/platform-integration/graph/topo.yml
  tests/platform-integration/graph/vlan.yml
Due: yamllint, ci_tests

Use the new 'netlab graph' capabilities in graph integration tests (#2801)
  tests/platform-integration/graph/bgp.yml
  tests/platform-integration/graph/create-d2.sh
  tests/platform-integration/graph/create-graphviz.sh
  tests/platform-integration/graph/isis.yml
  tests/platform-integration/graph/topo.yml
  tests/platform-integration/graph/vlan.yml
Due: yamllint, ci_tests

Release 25.11
  README.md
  docs/labs/clab.md
  docs/release.md
  docs/release/25.11.md
  legacy/setup.py
  netsim/__init__.py
Due: ci_tests

Release 25.11 (#2802)
  README.md
  docs/labs/clab.md
  docs/release.md
  docs/release/25.11.md
  legacy/setup.py
  netsim/__init__.py
Due: ci_tests

Fix: have to use |default filter now that we're using dicts
  _reports/results.html.j2
Due: none

Integration test: EVPN in a dual-stack network
  tests/integration/evpn/10-vxlan-rr.yml
Due: yamllint, ci_tests
