Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Fixing a blunder
  netsim/daemons/bird/ospf.macros.j2
Due: none

Implement indirect static routes on BIRD (#3539)
  netsim/daemons/bird/routing.j2
  netsim/devices/bird.py
Due: ci_tests

Fix: Remove BIRD OSPF/BGP macros made obsolete by #3537 (#3540)
  netsim/daemons/bird/bgp.macros.j2
  netsim/daemons/bird/ospf.macros.j2
Due: none

Fix: PE devices in EVPN integration tests must be routers
  tests/integration/evpn/topology-defaults.yml
Due: yamllint, ci_tests

Fix BIRD OSPF VRF imports.
  netsim/daemons/bird.yml
  tests/integration/vrf/15-multi-vrf-mixed.yml
Due: yamllint, ci_tests

Fix: Use BGP _source_intf when configuring BIRD IBGP sessions
  netsim/daemons/bird/bgp.macros.j2
  tests/integration/bgp/02-ibgp-ebgp-session.yml
Due: yamllint, ci_tests

Fix: Use BGP _source_intf when configuring BIRD IBGP sessions (#3547)
  netsim/daemons/bird/bgp.macros.j2
  tests/integration/bgp/02-ibgp-ebgp-session.yml
Due: yamllint, ci_tests

BIRD EVPN MAC VRF support
  netsim/daemons/bird.yml
  netsim/daemons/bird/bgp.j2
  netsim/daemons/bird/bgp.macros.j2
  netsim/daemons/bird/evpn.j2
  netsim/devices/bird.py
Due: yamllint, ci_tests

Add frr.logfile attribute change the logging file path
  docs/caveats.md
  netsim/ansible/templates/initial/frr.j2
  netsim/devices/frr.yml
  tests/integration/initial/01-interfaces.yml
Due: yamllint, ci_tests

status: improve dual-stack mgmt display and integration coverage
  docs/netlab/status.md
  netsim/cli/status.py
  tests/check-integration-tests.sh
  tests/platform-integration/cli/12-status-mgmt-v4-only.yml
  tests/platform-integration/cli/13-status-mgmt-dual-stack.yml
Due: yamllint, ci_tests

Fix: Use alternate VTEP in IBGP/EBGP EVPN test
  tests/integration/evpn/11-vxlan-ebgp.yml
Due: yamllint, ci_tests

Remove unnecessary semicolons
  netsim/daemons/bird/bgp.macros.j2
  netsim/daemons/bird/evpn.j2
Due: none

Updated documentation
  docs/module/evpn.md
  docs/platforms.md
Due: none

Fixing a crash-inducing change
  netsim/cli/status.py
Due: ci_tests

Add IPv6 mgmt addresses to 'netlab status' (#3532)
  docs/netlab/status.md
  netsim/cli/status.py
  tests/check-integration-tests.sh
  tests/platform-integration/cli/12-status-mgmt-v4-only.yml
  tests/platform-integration/cli/13-status-mgmt-dual-stack.yml
Due: yamllint, ci_tests

Update with requested changes
  netsim/validate/bgp/eos.py
  netsim/validate/bgp/frr.py
  tests/integration/bgp.session/13-bfd.yml
Due: yamllint, ci_tests

Fix: Use correct literal IPv6 addrs in tool URLs
  netsim/cli/external_commands.py
  netsim/tools/edgeshark.yml
  netsim/tools/graphite.yml
Due: yamllint, ci_tests

Fix: Set sys.ipurl in "netlab connect"
  netsim/cli/connect.py
Due: ci_tests

Fix NSO URL
  netsim/tools/nso.yml
Due: yamllint, ci_tests

Fix: Use correct literal IPv6 addrs in tool URLs (#3550)
  netsim/cli/connect.py
  netsim/cli/external_commands.py
  netsim/tools/edgeshark.yml
  netsim/tools/graphite.yml
  netsim/tools/nso.yml
Due: yamllint, ci_tests

bug: Fix silent skipping of nested integrations tests
  tests/check-integration-tests.sh
Due: none

Fix silent skipping of nested integrations tests (#3551)
  tests/check-integration-tests.sh
Due: none

Fix features of 'none' device
  netsim/devices/none.yml
Due: yamllint, ci_tests

Fix features of 'none' device (#3552)
  netsim/devices/none.yml
Due: yamllint, ci_tests

Add the v6 addressing and check for the containerlab instance which dropped off when fixing up the integration tests.
  tests/platform-integration/cli/13-status-mgmt-dual-stack.yml
Due: yamllint, ci_tests

Standardise on DUT for device being tested pt1
  tests/integration/initial/01-interfaces.yml
  tests/integration/initial/02-loopback.yml
  tests/integration/initial/03-unnumbered.yml
  tests/integration/initial/07-router.yml
Due: yamllint, ci_tests

Standardize with dut or dut_ for vxlan integration tests
  tests/integration/vxlan/02-vxlan-bridging-multinode.yml
Due: yamllint, ci_tests

Standardize with dut or dut_ for eigrp integration tests
  tests/integration/eigrp/01-eigrp-ipv4.yml
  tests/integration/eigrp/02-eigrp-ipv6.yml
Due: yamllint, ci_tests

Standardize with dut or dut_ for lag integration tests
  tests/integration/lag/10-mlag.yml
  tests/integration/lag/11-mlag-anycast.yml
Due: yamllint, ci_tests

Standardize with dut or dut_ for dhcp integration tests
  tests/integration/dhcp/01-ipv4-client.yml
  tests/integration/dhcp/02-ipv6-client.yml
  tests/integration/dhcp/03-ipv4-server.yml
  tests/integration/dhcp/04-ipv6-server.yml
  tests/integration/dhcp/11-ipv4-relay.yml
  tests/integration/dhcp/12-ipv6-relay.yml
  tests/integration/dhcp/21-ipv4-relay-vrf-global.yml
  tests/integration/dhcp/31-ipv4-client-ospf.yml
  tests/integration/dhcp/32-ipv6-client-ospf.yml
Due: yamllint, ci_tests

Standardize with dut or dut_ for evpn integration tests
  tests/integration/evpn/04-vxlan-central-routing.yml
  tests/integration/evpn/12-vxlan-ibgp-ebgp.yml
  tests/integration/evpn/14-vxlan-ebgp-ebgp.yml
  tests/integration/evpn/15-vxlan-ebgp-unnumbered.yml
  tests/integration/evpn/20-vxlan-irb-ospf.yml
  tests/integration/evpn/41-vxlan-ipv6-bridging.yml
  tests/integration/evpn/x-03-vxlan-symmetric-irb-same-vendor.yml
Due: yamllint, ci_tests

Standardize with dut or dut_ for vlan integration tests
  tests/integration/vlan/01-vlan-bridge-single.yml
  tests/integration/vlan/02-vlan-bridge-multiple.yml
  tests/integration/vlan/21-vlan-irb-single.yml
  tests/integration/vlan/22-vlan-irb-multiple.yml
  tests/integration/vlan/23-vlan-mixed-multiple.yml
  tests/integration/vlan/31-dut_s2-native.py
  tests/integration/vlan/31-vlan-bridge-trunk.yml
  tests/integration/vlan/32-vlan-bridge-trunk-router.yml
  tests/integration/vlan/33-vlan-irb-trunk.yml
  tests/integration/vlan/41-vlan-bridge-native.yml
  tests/integration/vlan/42-vlan-irb-native.yml
  tests/integration/vlan/51-vlan-routed-trunk.yml
  tests/integration/vlan/52-vlan-vrf-lite.yml
  tests/integration/vlan/61-vlan-routed-native.yml
  tests/integration/vlan/62-vlan-mixed-trunk.yml
  tests/integration/vlan/63-vlan-mixed-native.yml
  tests/integration/vlan/70-vlan-1-trunk.yml
Due: yamllint, ci_tests

Standardize with dut or dut_ for evpn.multihoming integration tests
  tests/integration/evpn.multihoming/01-esi-lag.yml
  tests/integration/evpn.multihoming/02-esi-lag-auto-id.yml
Due: yamllint, ci_tests

Standardize with dut or dut_ for lag integration tests missed one
  tests/integration/lag/x-12-mlag-dual-cross.yml
Due: yamllint, ci_tests

Standardize with dut or dut_ for vlan integration tests
  tests/integration/vlan/52-vlan-vrf-lite.yml
Due: yamllint, ci_tests

Another typo..
  tests/integration/vlan/52-vlan-vrf-lite.yml
Due: yamllint, ci_tests
