Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Fix: Accept '.j2' suffix in custom config template name (#2988)
  netsim/cli/initial/configs.py
  netsim/cli/initial/deploy.py
  netsim/utils/templates.py
  tests/platform-integration/config/03-custom.yml
Due: yamllint, ci_tests

Use 'unprovisioned' group to skip already-deployed nodes
  netsim/cli/initial/deploy.py
  netsim/cli/initial/utils.py
Due: ci_tests

Use 'unprovisioned' group to skip already-deployed nodes (#2989)
  netsim/cli/initial/deploy.py
  netsim/cli/initial/utils.py
Due: ci_tests

Refine netlab api server review feedback
  docs/netlab/cli.md
  netsim/cli/api.py
Due: ci_tests

Implement EVPN for VXLAN-over-IPv6
  docs/caveats.md
  docs/module/evpn.md
  netsim/ansible/templates/evpn/eos.j2
  netsim/ansible/templates/evpn/frr.evpn-config.j2
  netsim/ansible/templates/evpn/vyos.j2
  netsim/devices/eos.yml
  netsim/modules/evpn.py
  tests/integration/evpn/41-vxlan-ipv6-bridging.yml
  tests/topology/expected/evpn-asymmetric-irb-ospf.yml
  tests/topology/expected/evpn-hub-spoke.yml
  tests/topology/expected/evpn-l3vni-only.yml
  tests/topology/expected/evpn-vxlan.yml
  tests/topology/expected/null-vrfs.yml
Due: yamllint, ci_tests

Fix: Add get_new_box() function that does Box clone via to_dict()
  netsim/data/__init__.py
Due: ci_tests

Fix: Use clab.name as node container name
  netsim/providers/clab.py
Due: ci_tests

Copilot nits and a missing feature flag for 'none' device
  netsim/devices/none.yml
  tests/integration/evpn/41-vxlan-ipv6-bridging.yml
Due: yamllint, ci_tests

WIP: Use shared ID allocator for linkindex
  netsim/augment/links.py
  tests/topology/expected/lag-mlag-m_to_m.yml
Due: yamllint, ci_tests

Fix EVPN AF value on multihop EBGP session
  netsim/extra/ebgp.multihop/plugin.py
  netsim/modules/evpn.py
Due: ci_tests

Addressing a Copilot nit
  tests/integration/evpn/41-vxlan-ipv6-bridging.yml
Due: yamllint, ci_tests

VyOS needs to reset BGP sessions after changing session attributes
  netsim/extra/bgp.session/vyos.j2
Due: none

Fix: VyOS needs to reset BGP sessions after changing session attributes
  netsim/extra/bgp.session/vyos.j2
Due: none

Use common wait times in EVPN integration tests
  tests/integration/evpn/01-vxlan-bridging.yml
  tests/integration/evpn/02-vxlan-asymmetric-irb.yml
  tests/integration/evpn/03-vxlan-symmetric-irb.yml
  tests/integration/evpn/04-vxlan-central-routing.yml
  tests/integration/evpn/05-vxlan-l3only.yml
  tests/integration/evpn/06-vxlan-bridging-vlan-bundle.yml
  tests/integration/evpn/10-vxlan-rr.yml
  tests/integration/evpn/11-vxlan-ebgp.yml
  tests/integration/evpn/12-vxlan-ibgp-ebgp.yml
  tests/integration/evpn/13-vxlan-ebgp-allowas.yml
  tests/integration/evpn/14-vxlan-ebgp-ebgp.yml
  tests/integration/evpn/15-vxlan-ebgp-unnumbered.yml
  tests/integration/evpn/21-bgp-ce-router.yml
  tests/integration/evpn/22-ospf-ce-router.yml
  tests/integration/evpn/30-cs-bridging.yml
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

Implement Copilot nits
  tests/integration/evpn/02-vxlan-asymmetric-irb.yml
  tests/integration/evpn/10-vxlan-rr.yml
  tests/integration/evpn/11-vxlan-ebgp.yml
Due: yamllint, ci_tests

One more nit
  tests/integration/evpn/01-vxlan-bridging.yml
Due: yamllint, ci_tests

Use common wait times in EVPN integration tests (#2996)
  tests/integration/evpn/01-vxlan-bridging.yml
  tests/integration/evpn/02-vxlan-asymmetric-irb.yml
  tests/integration/evpn/03-vxlan-symmetric-irb.yml
  tests/integration/evpn/04-vxlan-central-routing.yml
  tests/integration/evpn/05-vxlan-l3only.yml
  tests/integration/evpn/06-vxlan-bridging-vlan-bundle.yml
  tests/integration/evpn/10-vxlan-rr.yml
  tests/integration/evpn/11-vxlan-ebgp.yml
  tests/integration/evpn/12-vxlan-ibgp-ebgp.yml
  tests/integration/evpn/13-vxlan-ebgp-allowas.yml
  tests/integration/evpn/14-vxlan-ebgp-ebgp.yml
  tests/integration/evpn/15-vxlan-ebgp-unnumbered.yml
  tests/integration/evpn/21-bgp-ce-router.yml
  tests/integration/evpn/22-ospf-ce-router.yml
  tests/integration/evpn/30-cs-bridging.yml
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

Fix: Initialize attribute validation when re-reading validation tests
  netsim/cli/validate/source.py
Due: ci_tests

Fix: Move callback and YAML messages from 'verbose' to 'debug' class
  netsim/cli/__init__.py
  netsim/utils/callback.py
  netsim/utils/log.py
  netsim/utils/read.py
  tests/coverage/errors/duplicate-yaml-section.log
  tests/errors/invalid-yaml.log
Due: ci_tests

Fix: Move callback and YAML messages from 'verbose' to 'debug' class (#3000)
  netsim/cli/__init__.py
  netsim/utils/callback.py
  netsim/utils/log.py
  netsim/utils/read.py
  tests/coverage/errors/duplicate-yaml-section.log
  tests/errors/invalid-yaml.log
Due: ci_tests

Snapshot #1
  docs/dev/config/deploy.md
  docs/labs/clab.md
  tests/platform-integration/config/01-initial.yml
Due: yamllint, ci_tests

Snapshot #2
  netsim/data/filemaps.py
  netsim/providers/__init__.py
  netsim/providers/clab.py
  netsim/templates/provider/clab/clab.j2
  netsim/utils/templates.py
Due: ci_tests

Snapshot #3
  netsim/cli/config.py
  netsim/cli/create.py
  netsim/cli/external_commands.py
  netsim/cli/initial/configs.py
  netsim/cli/initial/deploy.py
  netsim/cli/initial/utils.py
  netsim/outputs/config.py
  netsim/providers/clab.py
  tests/platform-integration/config/01-initial.yml
Due: yamllint, ci_tests

Almost done...
  netsim/cli/initial/configs.py
  netsim/providers/__init__.py
  netsim/providers/clab.py
  tests/topology/expected/bridge-module-attr.yml
  tests/topology/expected/components.yml
  tests/topology/expected/dhcp-server-on-segment.yml
  tests/topology/expected/dhcp-vlan.yml
  tests/topology/expected/group-ansible-variables.yml
  tests/topology/expected/libvirt-clab-complex.yml
  tests/topology/expected/stp-port-type.yml
  tests/topology/expected/stp.yml
  tests/topology/expected/vlan-access-links.yml
  tests/topology/expected/vlan-access-single.yml
  tests/topology/expected/vlan-routed-multiprovider.yml
  tests/topology/expected/vlan-routed-vrf.yml
  tests/utils.py
Due: yamllint, ci_tests

Forgot the coverage transformation tests
  tests/coverage/expected/device-module-defaults.yml
  tests/coverage/expected/device-node-defaults.yml
Due: yamllint, ci_tests

Add 'clab.binds as a list' scenario
  netsim/data/filemaps.py
  netsim/providers/clab.py
  tests/platform-integration/config/01-initial.yml
Due: yamllint, ci_tests

Final cleanup and release notes
  docs/release-archive.md
  docs/release.md
  docs/release/26.01.md
  netsim/cli/ansible.py
  netsim/cli/external_commands.py
  netsim/cli/initial/configs.py
  netsim/cli/up.py
Due: ci_tests

Fixing nits
  docs/release/26.01.md
  netsim/outputs/config.py
Due: ci_tests

Refactoring and cleanup of device config generation
  docs/dev/config/deploy.md
  docs/labs/clab.md
  docs/release-archive.md
  docs/release.md
  docs/release/26.01.md
  netsim/cli/ansible.py
  netsim/cli/config.py
  netsim/cli/create.py
  netsim/cli/external_commands.py
  netsim/cli/initial/configs.py
  netsim/cli/initial/deploy.py
  netsim/cli/initial/utils.py
  netsim/cli/up.py
  netsim/data/filemaps.py
  netsim/outputs/config.py
  netsim/providers/__init__.py
  netsim/providers/clab.py
  netsim/templates/provider/clab/clab.j2
  netsim/utils/templates.py
  tests/coverage/expected/device-module-defaults.yml
  tests/coverage/expected/device-node-defaults.yml
  tests/platform-integration/config/01-initial.yml
  tests/topology/expected/bridge-module-attr.yml
  tests/topology/expected/components.yml
  tests/topology/expected/dhcp-server-on-segment.yml
  tests/topology/expected/dhcp-vlan.yml
  tests/topology/expected/group-ansible-variables.yml
  tests/topology/expected/libvirt-clab-complex.yml
  tests/topology/expected/stp-port-type.yml
  tests/topology/expected/stp.yml
  tests/topology/expected/vlan-access-links.yml
  tests/topology/expected/vlan-access-single.yml
  tests/topology/expected/vlan-routed-multiprovider.yml
  tests/topology/expected/vlan-routed-vrf.yml
  tests/utils.py
Due: yamllint, ci_tests

Relax api typing for mypy
  netsim/cli/api.py
Due: ci_tests

Implement Copilot type checking suggestion
  netsim/data/filemaps.py
Due: ci_tests

Add lightweight netlab API server command (#2969)
  docs/netlab/api.md
  docs/netlab/cli.md
  netsim/cli/api.py
  netsim/cli/usage.txt
Due: ci_tests

add function to render Dockerfile.j2 template
  netsim/cli/clab_actions/build.py
Due: ci_tests

create netscaler Dockerfile.j2 template
  netsim/daemons/netscaler/Dockerfile.j2
Due: none

Add basic support for netscaler
  netsim/ansible/tasks/deploy-config/netscaler.yml
  netsim/ansible/tasks/readiness-check/netscaler.yml
  netsim/ansible/templates/initial/netscaler.j2
  netsim/devices/netscaler.yml
Due: yamllint, ci_tests

fix YAML lint issues
  netsim/ansible/tasks/deploy-config/netscaler.yml
  netsim/devices/netscaler.yml
Due: yamllint, ci_tests

Allow --json in cli: netlab status for API
  netsim/cli/api.py
  netsim/cli/status.py
Due: ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
