Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Fix a config typo
  netsim/ansible/templates/mpls/iosxr/ldp.j2
Due: none

IOS XR: MPLS LDP configuration templates (#3121)
  docs/module/mpls.md
  docs/platforms.md
  netsim/ansible/templates/mpls/iosxr.j2
  netsim/ansible/templates/mpls/iosxr/ldp.j2
  netsim/devices/xr.yml
  tests/integration/mpls/02-ldp-pe.yml
Due: yamllint, ci_tests

MPLS/VPN template developer documentation
  docs/dev/config/index.md
  docs/dev/config/mpls-vpn.md
Due: none

IOS XR MPLS/VPN support
  docs/module/mpls.md
  docs/platforms.md
  netsim/ansible/templates/mpls/iosxr/mplsvpn.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Consistent YAML markup
  docs/dev/config/mpls-vpn.md
Due: none

MPLS/VPN template developer documentation (#3122)
  docs/dev/config/index.md
  docs/dev/config/mpls-vpn.md
Due: none

Activate VPN AFs before configuring neighbors
  netsim/ansible/templates/mpls/iosxr/mplsvpn.j2
Due: none

IOS XR MPLS/VPN support (#3123)
  docs/module/mpls.md
  docs/platforms.md
  netsim/ansible/templates/mpls/iosxr/mplsvpn.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Doc: Fix template paths in template developer documentation
  docs/dev/config/bgp.md
  docs/dev/config/initial.md
  docs/dev/config/mpls-ldp.md
  docs/dev/config/ospf.md
  docs/dev/config/rip.md
  docs/dev/config/vlan.md
  docs/dev/config/vrf.md
Due: none

Doc: Restructure MPLS template development documentation
  docs/dev/config/index.md
  docs/dev/config/mpls-ldp.md
  docs/dev/config/mpls-vpn.md
  docs/dev/config/mpls.md
  docs/module/mpls.md
Due: none

Update docs/dev/config/mpls.md
  docs/dev/config/mpls.md
Due: none

Update docs/dev/config/mpls-vpn.md
  docs/dev/config/mpls-vpn.md
Due: none

Update docs/dev/config/mpls-ldp.md
  docs/dev/config/mpls-ldp.md
Due: none

Doc: Restructure MPLS template development documentation (#3125)
  docs/dev/config/index.md
  docs/dev/config/mpls-ldp.md
  docs/dev/config/mpls-vpn.md
  docs/dev/config/mpls.md
  docs/module/mpls.md
Due: none

Doc: MPLS 6PE template developer documentation
  docs/dev/config/mpls-6pe.md
  docs/dev/config/mpls.md
  docs/module/vrf.md
Due: none

Doc: MPLS 6PE template developer documentation (#3126)
  docs/dev/config/mpls-6pe.md
  docs/dev/config/mpls.md
  docs/module/vrf.md
Due: none

MPLS 6PE PE-router integration test
  tests/integration/mpls/30-6pe-connected.yml
Due: yamllint, ci_tests

Fix typo
  tests/integration/mpls/30-6pe-connected.yml
Due: yamllint, ci_tests

MPLS 6PE integration tests for #3127
  _html/coverage.mpls.html
  _html/eos-clab-mpls.html
  _html/iol-clab-mpls.html
  _html/release-coverage.html
  _html/srsim-clab-mpls.html
  eos/clab/mpls/30-6pe-connected.yml-create.log
  eos/clab/mpls/30-6pe-connected.yml-initial.log
  eos/clab/mpls/30-6pe-connected.yml-snapshot.yml
  eos/clab/mpls/30-6pe-connected.yml-up.log
  eos/clab/mpls/30-6pe-connected.yml-validate.log
  eos/clab/mpls/cleanup-down.log
  eos/clab/mpls/results.yaml
  index.html
  iol/clab/mpls/30-6pe-connected.yml-create.log
  iol/clab/mpls/30-6pe-connected.yml-initial.log
  iol/clab/mpls/30-6pe-connected.yml-snapshot.yml
  iol/clab/mpls/30-6pe-connected.yml-up.log
  iol/clab/mpls/30-6pe-connected.yml-validate.log
  iol/clab/mpls/cleanup-down.log
  iol/clab/mpls/results.yaml
  map-tests.yml
  srlinux/clab/mpls/30-6pe-connected.yml-create.log
  srlinux/clab/mpls/results.yaml
  srsim/clab/mpls/30-6pe-connected.yml-create.log
  srsim/clab/mpls/30-6pe-connected.yml-initial.log
  srsim/clab/mpls/30-6pe-connected.yml-snapshot.yml
  srsim/clab/mpls/30-6pe-connected.yml-up.log
  srsim/clab/mpls/30-6pe-connected.yml-validate.log
  srsim/clab/mpls/cleanup-down.log
  srsim/clab/mpls/results.yaml
Due: yamllint, ci_tests

MPLS 6PE PE-router integration test (#3127)
  tests/integration/mpls/30-6pe-connected.yml
Due: yamllint, ci_tests

Fix: mpls.6pe settings don't have to be adjusted
  netsim/modules/mpls.py
  netsim/modules/mpls.yml
  tests/topology/expected/6pe.yml
Due: yamllint, ci_tests

IOS XR MPLS 6PE implementation
  docs/module/mpls.md
  netsim/ansible/templates/mpls/iosxr/6pe.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

IOS XR 6PE test for #3128
  _html/coverage.mpls.html
  _html/iosxr-clab-mpls.html
  _html/release-coverage.html
  index.html
  iosxr/clab/mpls/30-6pe-connected.yml-create.log
  iosxr/clab/mpls/30-6pe-connected.yml-initial.log
  iosxr/clab/mpls/30-6pe-connected.yml-snapshot.yml
  iosxr/clab/mpls/30-6pe-connected.yml-up.log
  iosxr/clab/mpls/30-6pe-connected.yml-validate.log
  iosxr/clab/mpls/cleanup-down.log
  iosxr/clab/mpls/results.yaml
Due: yamllint, ci_tests

IOS XR MPLS 6PE implementation (#3128)
  docs/module/mpls.md
  netsim/ansible/templates/mpls/iosxr/6pe.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

MPLS 6PE RR integration test
  tests/integration/mpls/31-6pe-rr.yml
Due: yamllint, ci_tests

Fix integration tests affected by change in line wraps in Box 7.3.3
  tests/topology/expected/bgp-ibgp-localas.yml
  tests/topology/expected/stp-port-type.yml
  tests/topology/input/bgp-ibgp-localas.yml
  tests/topology/input/stp-port-type.yml
Due: yamllint, ci_tests

Fix integration tests affected by change in line wraps in Box 7.3.3 (#3130)
  tests/topology/expected/bgp-ibgp-localas.yml
  tests/topology/expected/stp-port-type.yml
  tests/topology/input/bgp-ibgp-localas.yml
  tests/topology/input/stp-port-type.yml
Due: yamllint, ci_tests

Fix MPLS 6PE RR for IOS, IOS XR, SR OS
  docs/module/mpls.md
  netsim/ansible/templates/bgp/ios.macro.j2
  netsim/ansible/templates/mpls/ios.6pe.j2
  netsim/ansible/templates/mpls/ios.j2
  netsim/ansible/templates/mpls/iosxr/6pe.j2
  netsim/ansible/templates/mpls/sros.bgp.j2
  netsim/ansible/templates/mpls/sros.j2
Due: none

Reword comment to make it more verbose
  netsim/ansible/templates/mpls/ios.6pe.j2
Due: none

Fix MPLS 6PE BGP RR for IOS, IOS XR, SR OS (#3131)
  docs/module/mpls.md
  netsim/ansible/templates/bgp/ios.macro.j2
  netsim/ansible/templates/mpls/ios.6pe.j2
  netsim/ansible/templates/mpls/ios.j2
  netsim/ansible/templates/mpls/iosxr/6pe.j2
  netsim/ansible/templates/mpls/sros.bgp.j2
  netsim/ansible/templates/mpls/sros.j2
Due: none

Fix: Adjust validation plugins to enable VRF prefix checks
  netsim/validate/_common.py
  netsim/validate/bgp/eos.py
  netsim/validate/bgp/frr.py
  netsim/validate/ospf/eos.py
  netsim/validate/ospf/frr.py
Due: ci_tests

Add MPLS 6PE BGP RR test to feature coverage
  _html/coverage.mpls.html
  _html/eos-clab-mpls.html
  _html/iol-clab-mpls.html
  _html/iosxr-clab-mpls.html
  _html/release-coverage.html
  _html/srsim-clab-mpls.html
  index.html
  map-tests.yml
Due: yamllint, ci_tests

MPLS/VPN BGP RR integration tests
  tests/integration/mpls/15-vpnv4-rr.yml
  tests/integration/mpls/25-vpnv6-rr.yml
Due: yamllint, ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
