Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Add IBGP checks to EBGP EVPN integration test
  tests/integration/evpn/11-vxlan-ebgp.yml
Due: yamllint, ci_tests

Cleanup VyOS templates
  netsim/ansible/templates/bfd/vyos.j2
  netsim/ansible/templates/evpn/vyos.j2
  netsim/ansible/templates/gateway/vyos.j2
  netsim/ansible/templates/initial/vyos.j2
  netsim/ansible/templates/lag/vyos.j2
  netsim/ansible/templates/mpls/vyos.j2
  netsim/ansible/templates/ospf/vyos.j2
  netsim/ansible/templates/ripv2/vyos.j2
  netsim/ansible/templates/routing/vyos.j2
  netsim/ansible/templates/vlan/vyos.j2
  netsim/ansible/templates/vrf/vyos.j2
  netsim/ansible/templates/vxlan/vyos.j2
  netsim/extra/bgp.policy/vyos.j2
  netsim/extra/bgp.session/vyos.j2
  netsim/extra/firewall.zonebased/vyos.j2
Due: none

Fix: Use random sleep instead of PHY control in cEOS normalization
  docs/caveats.md
  netsim/ansible/templates/normalize/eos.j2
  netsim/devices/eos.yml
Due: yamllint, ci_tests

Fixing Copilot-identified errors
  netsim/ansible/templates/normalize/eos.j2
Due: none

Fix: Use correct interface variable in IOSvL2 normalize template
  netsim/ansible/templates/normalize/iosvl2.j2
Due: none

Fix: Use correct interface variable in IOSvL2 normalize template (#3056)
  netsim/ansible/templates/normalize/iosvl2.j2
Due: none

Sample integration tests for #3055
  _html/eos-clab-gateway.html
  _html/eos-clab-lag.html
  eos/clab/gateway/01-anycast.yml-initial.log
  eos/clab/gateway/01-anycast.yml-snapshot.yml
  eos/clab/gateway/01-anycast.yml-up.log
  eos/clab/gateway/02-vrrp.yml-initial.log
  eos/clab/gateway/02-vrrp.yml-snapshot.yml
  eos/clab/gateway/02-vrrp.yml-up.log
  eos/clab/gateway/02-vrrp.yml-validate.log
  eos/clab/gateway/03-vrrp-vlan.yml-initial.log
  eos/clab/gateway/03-vrrp-vlan.yml-snapshot.yml
  eos/clab/gateway/03-vrrp-vlan.yml-up.log
  eos/clab/gateway/03-vrrp-vlan.yml-validate.log
  eos/clab/gateway/cleanup-down.log
  eos/clab/gateway/results.yaml
  eos/clab/lag/01-l3-lag.yml-initial.log
  eos/clab/lag/01-l3-lag.yml-snapshot.yml
  eos/clab/lag/01-l3-lag.yml-up.log
  eos/clab/lag/01-l3-lag.yml-validate.log
  eos/clab/lag/02-lag-vlan-trunk.yml-initial.log
  eos/clab/lag/02-lag-vlan-trunk.yml-snapshot.yml
  eos/clab/lag/02-lag-vlan-trunk.yml-up.log
  eos/clab/lag/03-l3-lag-passive.yml-initial.log
  eos/clab/lag/03-l3-lag-passive.yml-snapshot.yml
  eos/clab/lag/03-l3-lag-passive.yml-up.log
  eos/clab/lag/03-l3-lag-passive.yml-validate.log
  eos/clab/lag/04-lag-vlan-routed-trunk.yml-initial.log
  eos/clab/lag/04-lag-vlan-routed-trunk.yml-snapshot.yml
  eos/clab/lag/04-lag-vlan-routed-trunk.yml-up.log
  eos/clab/lag/04-lag-vlan-routed-trunk.yml-validate.log
  eos/clab/lag/10-mlag.yml-initial.log
  eos/clab/lag/10-mlag.yml-snapshot.yml
  eos/clab/lag/10-mlag.yml-up.log
  eos/clab/lag/10-mlag.yml-validate.log
  eos/clab/lag/11-mlag-anycast.yml-initial.log
  eos/clab/lag/11-mlag-anycast.yml-snapshot.yml
  eos/clab/lag/11-mlag-anycast.yml-up.log
  eos/clab/lag/11-mlag-anycast.yml-validate.log
  eos/clab/lag/cleanup-down.log
  eos/clab/lag/results.yaml
Due: yamllint, ci_tests

Fix: Remove 'netlab inspect' dependence on Ansible 'all' group
  netsim/cli/inspect.py
  netsim/outputs/ansible.py
Due: ci_tests

Fix: Remove 'netlab inspect' dependence on Ansible 'all' group (#3057)
  netsim/cli/inspect.py
  netsim/outputs/ansible.py
Due: ci_tests

Fix: Use random sleep instead of PHY control in cEOS normalization (#3055)
  docs/caveats.md
  netsim/ansible/templates/normalize/eos.j2
  netsim/devices/eos.yml
Due: yamllint, ci_tests

Fix: report errors when generating graphs with D2/dot
  netsim/cli/graph.py
Due: ci_tests

Add custom actions to integration tests
  tests/integration/device-module-test
Due: none

Fix: report errors when generating graphs with D2/dot (#3059)
  netsim/cli/graph.py
Due: ci_tests

Implement Copilot suggestions
  tests/integration/device-module-test
Due: none

Add custom actions to integration tests (#3060)
  tests/integration/device-module-test
Due: none

Integration tests for the graph output module
  tests/platform-integration/graph/01-topo.yml
  tests/platform-integration/graph/02-bgp.yml
  tests/platform-integration/graph/03-isis.yml
  tests/platform-integration/graph/04-vlan.yml
  tests/platform-integration/graph/topology-defaults.yml
Due: yamllint, ci_tests

Integration test results for #3061
  _html/platform-graph.html
  _html/platform.html
  index.html
  platform/graph/01-topo.yml-create.log
  platform/graph/01-topo.yml-initial.log
  platform/graph/01-topo.yml-snapshot.yml
  platform/graph/01-topo.yml-up.log
  platform/graph/02-bgp.yml-create.log
  platform/graph/02-bgp.yml-initial.log
  platform/graph/02-bgp.yml-snapshot.yml
  platform/graph/02-bgp.yml-up.log
  platform/graph/03-isis.yml-create.log
  platform/graph/03-isis.yml-initial.log
  platform/graph/03-isis.yml-snapshot.yml
  platform/graph/03-isis.yml-up.log
  platform/graph/04-vlan.yml-create.log
  platform/graph/04-vlan.yml-initial.log
  platform/graph/04-vlan.yml-snapshot.yml
  platform/graph/04-vlan.yml-up.log
  platform/graph/cleanup-down.log
  platform/graph/results.yaml
Due: yamllint, ci_tests

Integration tests for the graph output module (#3061)
  tests/platform-integration/graph/01-topo.yml
  tests/platform-integration/graph/02-bgp.yml
  tests/platform-integration/graph/03-isis.yml
  tests/platform-integration/graph/04-vlan.yml
  tests/platform-integration/graph/topology-defaults.yml
Due: yamllint, ci_tests

Change netsim/cli/libvirt.py into netsim/cli/libvirt directory
  netsim/cli/libvirt.py
  netsim/cli/libvirt/__init__.py
  netsim/cli/libvirt/config.py
  netsim/cli/libvirt/package.py
  netsim/cli/libvirt/remove.py
  netsim/cli/libvirt_actions/__init__.py
Due: ci_tests

Implement management VRF on custom FRR VMs
  docs/labs/frr.md
  netsim/cli/libvirt/__init__.py
  netsim/cli/libvirt/package.py
  netsim/cli/libvirt/remove.py
  netsim/install/libvirt/frr/user-data.j2
  netsim/utils/read.py
Due: ci_tests

Fixing a typo in docs/labs/frr.md
  docs/labs/frr.md
Due: none

Implement management VRF on custom FRR VMs (#3062)
  docs/labs/frr.md
  netsim/cli/libvirt/__init__.py
  netsim/cli/libvirt/package.py
  netsim/cli/libvirt/remove.py
  netsim/install/libvirt/frr/user-data.j2
  netsim/utils/read.py
Due: ci_tests

Add shared core link parameters to the fabric plugin
  docs/plugins/fabric.md
  netsim/extra/fabric/defaults.yml
  netsim/extra/fabric/plugin.py
Due: yamllint, ci_tests

Fix bugs Copilot found
  docs/plugins/fabric.md
  netsim/extra/fabric/plugin.py
Due: ci_tests

Some more cleanup
  netsim/extra/fabric/plugin.py
Due: ci_tests

Add shared core link parameters to the fabric plugin (#3063)
  docs/plugins/fabric.md
  netsim/extra/fabric/defaults.yml
  netsim/extra/fabric/plugin.py
Due: yamllint, ci_tests

Create graphs from a subset of lab topology
  docs/netlab/graph.md
  netsim/cli/graph.py
  netsim/outputs/_graph.py
  netsim/outputs/graph.yml
  tests/platform-integration/graph/05-include-exclude.yml
Due: yamllint, ci_tests

Clarify behavior on no matches
  docs/netlab/graph.md
Due: none

Create graphs from a subset of lab topology (#3065)
  docs/netlab/graph.md
  netsim/cli/graph.py
  netsim/outputs/_graph.py
  netsim/outputs/graph.yml
  tests/platform-integration/graph/05-include-exclude.yml
Due: yamllint, ci_tests

Integration tests for #3065
  _html/platform-graph.html
  _html/platform.html
  index.html
  platform/graph/01-topo.yml-initial.log
  platform/graph/01-topo.yml-snapshot.yml
  platform/graph/02-bgp.yml-initial.log
  platform/graph/02-bgp.yml-snapshot.yml
  platform/graph/03-isis.yml-initial.log
  platform/graph/04-vlan.yml-initial.log
  platform/graph/04-vlan.yml-snapshot.yml
  platform/graph/05-include-exclude.yml-create.log
  platform/graph/05-include-exclude.yml-initial.log
  platform/graph/05-include-exclude.yml-snapshot.yml
  platform/graph/05-include-exclude.yml-up.log
  platform/graph/cleanup-down.log
  platform/graph/results.yaml
Due: yamllint, ci_tests

Fix: Use SCP to copy replacement configuration to SR Linux
  netsim/ansible/tasks/reload-config/srlinux.yml
Due: yamllint, ci_tests

Fix: Use SCP to copy replacement configuration to SR Linux (#3068)
  netsim/ansible/tasks/reload-config/srlinux.yml
Due: yamllint, ci_tests

Missing attribute on none device
  netsim/devices/none.yml
Due: yamllint, ci_tests

Fix: ospf.areas.inter_area attribute cannot be used with regular areas
  netsim/extra/ospf.areas/plugin.py
Due: ci_tests

Fix CL NVUE OSPFv2 area parameter config template
  netsim/extra/ospf.areas/cumulus_nvue.j2
Due: none

Move plugin device features and daemon configs to device/daemon definitions (#3066)
  netsim/daemons/bird.yml
  netsim/devices/arubacx.yml
  netsim/devices/cumulus.yml
  netsim/devices/cumulus_nvue.yml
  netsim/devices/dellos10.yml
  netsim/devices/eos.yml
  netsim/devices/frr.yml
  netsim/devices/ios.yml
  netsim/devices/iosvl2.yml
  netsim/devices/junos.yml
  netsim/devices/none.yml
  netsim/devices/nxos.yml
  netsim/devices/routeros7.yml
  netsim/devices/srlinux.yml
  netsim/devices/sros.yml
  netsim/devices/vyos.yml
  netsim/extra/bgp.policy/defaults.yml
  netsim/extra/bgp.session/defaults.yml
  netsim/extra/ebgp.multihop/defaults.yml
  netsim/extra/ospf.areas/defaults.yml
Due: yamllint, ci_tests

Integration tests for #3077
  _html/coverage.ospfv2.html
  _html/cumulus_nvue-libvirt-ospf-ospfv2.html
  _html/cumulus_nvue-libvirt-ospf.html
  _html/cumulus_nvue-libvirt.html
  _html/cumulus_nvue.html
  cumulus_nvue/libvirt/ospf/ospfv2/40-area-parameters.yml-initial.log
  cumulus_nvue/libvirt/ospf/ospfv2/40-area-parameters.yml-snapshot.yml
  cumulus_nvue/libvirt/ospf/ospfv2/40-area-parameters.yml-up.log
  cumulus_nvue/libvirt/ospf/ospfv2/40-area-parameters.yml-validate.log
  cumulus_nvue/libvirt/ospf/ospfv2/cleanup-down.log
  cumulus_nvue/libvirt/ospf/ospfv2/results.yaml
  index.html
Due: yamllint, ci_tests
