Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

fix(bgp): accept default route and any prefix in bgp.originate
  netsim/extra/bgp.originate/defaults.yml
  netsim/modules/bgp.yml
Due: yamllint, ci_tests

fix(bgp.policy): avoid default_box creating empty node.module
  netsim/extra/bgp.policy/plugin.py
Due: ci_tests

Enable MPLS transport for EVPN on Juniper cRPD
  netsim/devices/crpd.yml
Due: yamllint, ci_tests

use updated suzieq image
  netsim/tools/suzieq.yml
Due: yamllint, ci_tests

Added integration test scenario
  tests/topology/expected/rp-aspath-numbers.yml
  tests/topology/input/rp-aspath-numbers.yml
Due: yamllint, ci_tests

Add newline after each node in `netlab exec` to clean up output on some platfomrs
  netsim/cli/exec.py
Due: ci_tests

Fix: Use 'subnet_of' instead of 'overlaps' for reserved IP range check
  netsim/data/types.py
Due: ci_tests

Fix: Add node-level router_id
  netsim/defaults/attributes.yml
  tests/errors/rid-pool-overflow.log
Due: yamllint, ci_tests

User-friendly classification of 240.0.0.0/4
  netsim/data/types.py
Due: ci_tests

Add regression test
  tests/topology/expected/bgp-ibgp-localas.yml
  tests/topology/input/bgp-ibgp-localas.yml
Due: yamllint, ci_tests

Add regression test
  tests/topology/expected/bgp-af-rt-929.yml
  tests/topology/input/bgp-af-rt-929.yml
Due: yamllint, ci_tests

Doc: Clarify that the global bgp.as value is used in global VRF RD/RT
  docs/module/vrf.md
Due: none

Fix: Auto-generate node RD when its value is empty
  netsim/modules/vrf.py
  tests/topology/expected/vrf.yml
Due: yamllint, ci_tests

Fixing a copilot-identified nit
  docs/module/vrf.md
Due: none

Fix an edge case based on Copilot feedback
  netsim/modules/vrf.py
Due: ci_tests

Fix another edge case
  netsim/modules/vrf.py
Due: ci_tests

Fix: Always check EVPN transport module
  netsim/modules/evpn.py
  tests/errors/addr-link-prefix-invalid-af.yml
  tests/topology/expected/evpn-hub-spoke.yml
  tests/topology/expected/evpn-node-vrf.yml
  tests/topology/expected/evpn-vlan-attr.yml
  tests/topology/expected/null-vrfs.yml
  tests/topology/input/evpn-hub-spoke.yml
  tests/topology/input/evpn-node-vrf.yml
  tests/topology/input/evpn-vlan-attr.yml
  tests/topology/input/null-vrfs.yml
Due: yamllint, ci_tests

Fix: Use VALID_TRANSPORTS for valid values of evpn.transport
  netsim/modules/evpn.py
Due: ci_tests

Fix: Set explicit evpn.transport feature on VXLAN-only devices
  netsim/devices/arubacx.yml
  netsim/devices/crpd.yml
  netsim/devices/cumulus.yml
  netsim/devices/cumulus_nvue.yml
  netsim/devices/dellos10.yml
  netsim/devices/frr.yml
  netsim/devices/nxos.yml
  netsim/devices/srlinux.yml
  netsim/devices/sros.yml
  netsim/devices/vjunos-router.yml
  netsim/devices/vjunos-switch.yml
  netsim/devices/vptx.yml
  netsim/devices/vyos.yml
  netsim/modules/evpn.py
Due: yamllint, ci_tests

Implement EVPN control-plane-only nodes
  netsim/modules/evpn.py
  tests/integration/evpn/10-vxlan-rr.yml
  tests/integration/evpn/evpn-transport/plugin.py
Due: yamllint, ci_tests

cRPD EVPN tests for #3230
  _html/crpd-clab-evpn.html
  _html/crpd-clab.html
  _html/crpd.html
  _html/release-coverage.html
  crpd/clab/evpn/10-vxlan-rr.yml-create.log
  crpd/clab/evpn/10-vxlan-rr.yml-initial.log
  crpd/clab/evpn/10-vxlan-rr.yml-up.log
  crpd/clab/evpn/10-vxlan-rr.yml-validate.log
  crpd/clab/evpn/15-vxlan-ebgp-unnumbered.yml-create.log
  crpd/clab/evpn/51-mpls-bridging.yml-create.log
  crpd/clab/evpn/52-mpls-asymmetric-irb.yml-create.log
  crpd/clab/evpn/53-evpn-l3only.yml-create.log
  crpd/clab/evpn/54-evpn-l3vpn.yml-create.log
  crpd/clab/evpn/cleanup-down.log
  crpd/clab/evpn/results.yaml
  index.html
Due: yamllint, ci_tests

Fix: don't skip evpn.transport normalization for CP-only nodes
  netsim/modules/evpn.py
Due: ci_tests

fix inter-instance-policies for SR Linux >= 26.3
  netsim/ansible/templates/vrf/srlinux.j2
Due: none

Build bgp.advertise lists to simplify configuration templates
  docs/dev/config/bgp.md
  netsim/ansible/templates/bgp/frr.j2
  netsim/ansible/templates/vrf/frr.bgp.j2
  netsim/modules/bgp.py
  tests/topology/expected/bgp-af-rt-929.yml
  tests/topology/expected/bgp-ibgp-localas.yml
  tests/topology/expected/bgp.yml
  tests/topology/expected/components.yml
  tests/topology/expected/evpn-asymmetric-irb-ospf.yml
  tests/topology/expected/evpn-l3vni-only.yml
  tests/topology/expected/evpn-node-vrf.yml
  tests/topology/expected/evpn-vlan-attr.yml
  tests/topology/expected/fabric-ebgp.yml
  tests/topology/expected/mpls-vpn-simple.yml
  tests/topology/expected/vrf-igp.yml
  tests/topology/expected/vrf-links.yml
  tests/topology/expected/vrf-routing-blocks.yml
  tests/topology/expected/vrf.yml
Due: yamllint, ci_tests

Fix documentation
  docs/dev/config/bgp.md
  docs/dev/config/vrf.md
Due: none

Fix BGP policies (loc-pref/med) for SR Linux >= 26.3
  netsim/ansible/templates/routing/srlinux.j2
Due: none

No need to modify MED setting for 26.3
  netsim/ansible/templates/routing/srlinux.j2
Due: none

Relevant SR Linux tests after #3235
  _html/coverage.bgp.policy.html
  _html/coverage.r_policy.html
  _html/srlinux-clab-bgp.policy.html
  _html/srlinux-clab-routing.html
  _html/srlinux-clab.html
  _html/srlinux.html
  index.html
  srlinux/clab/bgp.policy/21-locpref.yml-initial.log
  srlinux/clab/bgp.policy/21-locpref.yml-up.log
  srlinux/clab/bgp.policy/21-locpref.yml-validate.log
  srlinux/clab/bgp.policy/22-locpref-unnumbered.yml-initial.log
  srlinux/clab/bgp.policy/22-locpref-unnumbered.yml-up.log
  srlinux/clab/bgp.policy/22-locpref-unnumbered.yml-validate.log
  srlinux/clab/bgp.policy/32-med-unnumbered.yml-initial.log
  srlinux/clab/bgp.policy/32-med-unnumbered.yml-up.log
  srlinux/clab/bgp.policy/32-med-unnumbered.yml-validate.log
  srlinux/clab/bgp.policy/cleanup-down.log
  srlinux/clab/bgp.policy/results.yaml
  srlinux/clab/routing/01-locpref.yml-initial.log
  srlinux/clab/routing/01-locpref.yml-up.log
  srlinux/clab/routing/01-locpref.yml-validate.log
  srlinux/clab/routing/cleanup-down.log
  srlinux/clab/routing/results.yaml
Due: yamllint, ci_tests

Implement bgp.advertise node attribute
  docs/module/bgp.md
  netsim/devices/frr.yml
  netsim/modules/bgp.py
  netsim/modules/bgp.yml
  tests/integration/bgp/04-originate.yml
Due: yamllint, ci_tests

Fixed Copilot-identified problems
  netsim/modules/bgp.py
  netsim/modules/bgp.yml
Due: yamllint, ci_tests

Adjusted error test results
  tests/errors/vrf-invalid-attr.log
Due: none

BGP originate tests for #3236
  _html/coverage.bgp.html
  _html/eos-clab-bgp.html
  _html/eos-clab.html
  _html/eos.html
  _html/frr-clab-bgp.html
  _html/release-coverage.html
  eos/clab/bgp/04-originate.yml-create.log
  eos/clab/bgp/04-originate.yml-initial.log
  eos/clab/bgp/04-originate.yml-up.log
  eos/clab/bgp/04-originate.yml-validate.log
  eos/clab/bgp/cleanup-down.log
  eos/clab/bgp/results.yaml
  frr/clab/bgp/04-originate.yml-initial.log
  frr/clab/bgp/04-originate.yml-up.log
  frr/clab/bgp/04-originate.yml-validate.log
  frr/clab/bgp/cleanup-down.log
  frr/clab/bgp/results.yaml
  index.html
Due: yamllint, ci_tests

Extreme EXOS Vagrant box
  netsim/devices/exos.yml
  netsim/install/libvirt/exos.txt
  netsim/install/libvirt/exos.xml.j2
  netsim/templates/provider/libvirt/exos-domain.j2
Due: yamllint, ci_tests

initial config for EXOS
  docs/labs/exos.md
  netsim/ansible/tasks/deploy-config/exos.yml
  netsim/ansible/templates/initial/exos.j2
  netsim/devices/exos.yml
  netsim/install/libvirt/exos.txt
Due: yamllint, ci_tests

Implement bgp.advertise functionality on IOS, IOS XR and EOS
  netsim/ansible/templates/bgp/eos.j2
  netsim/ansible/templates/bgp/ios.j2
  netsim/ansible/templates/bgp/iosxr.j2
  netsim/ansible/templates/vrf/eos.bgp.j2
  netsim/ansible/templates/vrf/ios.bgp.j2
  netsim/ansible/templates/vrf/iosxr.bgp.j2
  netsim/devices/eos.yml
  netsim/devices/ios.yml
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
