Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Doc: clarify the "clab.config_template" example
  docs/labs/clab.md
Due: none

Fix the 'template includes a relative path' scenario
  netsim/providers/__init__.py
Due: ci_tests

Shared mapped container files (#2657)
  netsim/devices/cumulus.yml
  netsim/devices/frr.yml
  netsim/devices/linux.yml
  netsim/providers/__init__.py
  netsim/templates/provider/clab/linux/hosts.j2
  tests/topology/expected/bgp-unnumbered.yml
  tests/topology/expected/components.yml
  tests/topology/expected/device-module-defaults.yml
  tests/topology/expected/device-node-defaults.yml
  tests/topology/expected/dhcp-server-on-segment.yml
  tests/topology/expected/dhcp-vlan.yml
  tests/topology/expected/group-ansible-variables.yml
  tests/topology/expected/libvirt-clab-complex.yml
  tests/topology/expected/stp-mstp.yml
  tests/topology/expected/stp-port-type.yml
  tests/topology/expected/stp.yml
  tests/topology/expected/vlan-access-links.yml
  tests/topology/expected/vlan-access-single.yml
  tests/topology/expected/vlan-routed-multiprovider.yml
  tests/topology/expected/vlan-routed-vrf.yml
Due: yamllint, ci_tests

Fix: Implement 'str.removeprefix' in strings.utils for Python 3.8
  .github/workflows/t-pull.yml
  netsim/providers/__init__.py
  netsim/utils/strings.py
Due: yamllint, ci_tests

Fix: Implement 'str.removeprefix' in strings.utils for Python 3.8 (#2663)
  .github/workflows/t-pull.yml
  netsim/providers/__init__.py
  netsim/utils/strings.py
Due: yamllint, ci_tests

Add GraphViz and D2 graph titles specified in graph.title global attr (#2655)
  docs/outputs/d2.md
  docs/outputs/graph.md
  netsim/outputs/d2.py
  netsim/outputs/d2.yml
  netsim/outputs/graph.py
  netsim/outputs/graph.yml
  tests/platform-integration/graph/bgp.yml
  tests/platform-integration/graph/create-d2.sh
  tests/platform-integration/graph/create-graphviz.sh
Due: yamllint, ci_tests

Graphing software installation script
  docs/netlab/install.md
  netsim/install/graph.sh
  netsim/install/install.yml
Due: yamllint, ci_tests

Add '--format' parameter to 'netlab graph' command
  docs/netlab/graph.md
  docs/outputs/graph.md
  netsim/cli/graph.py
Due: ci_tests

Graphing software installation script (#2664)
  docs/netlab/install.md
  netsim/install/graph.sh
  netsim/install/install.yml
Due: yamllint, ci_tests

Add '--format' parameter to 'netlab graph' command (#2665)
  docs/netlab/graph.md
  docs/outputs/graph.md
  netsim/cli/graph.py
Due: ci_tests

Fix: print defaults set from environment variables in -vv mode
  netsim/utils/read.py
Due: ci_tests

Fix: Include environment variables when generating graphs
  docs/netlab/graph.md
  netsim/cli/graph.py
Due: ci_tests

Self-contained graph integration test topologies
  tests/platform-integration/graph/bgp.yml
  tests/platform-integration/graph/topo.yml
Due: yamllint, ci_tests

Fix: missing f-string in links RA error messages
  netsim/augment/links.py
Due: ci_tests

Fix: the tested device in IPv6 RA tests must be a router
  tests/integration/initial/08-ra.yml
Due: yamllint, ci_tests

Redo IPv6 RA tests on devices not supporting it
  _html/coverage.initial.html
  _html/linux-clab-initial.html
  _html/linux-libvirt-initial.html
  _html/linux-libvirt.html
  _html/linux.html
  _html/srsim-clab-initial.html
  _html/vyos-clab-initial.html
  _html/vyos-libvirt-initial.html
  index.html
  linux/clab/initial/08-ra.yml-create.log
  linux/clab/initial/cleanup-down.log
  linux/clab/initial/results.yaml
  linux/libvirt/initial/08-ra.yml-create.log
  linux/libvirt/initial/08-ra.yml-initial.log
  linux/libvirt/initial/08-ra.yml-snapshot.yml
  linux/libvirt/initial/08-ra.yml-up.log
  linux/libvirt/initial/cleanup-down.log
  linux/libvirt/initial/results.yaml
  srsim/clab/initial/08-ra.yml-create.log
  srsim/clab/initial/08-ra.yml-initial.log
  srsim/clab/initial/08-ra.yml-snapshot.yml
  srsim/clab/initial/08-ra.yml-up.log
  srsim/clab/initial/08-ra.yml-validate.log
  srsim/clab/initial/cleanup-down.log
  srsim/clab/initial/results.yaml
  vyos/clab/initial/08-ra.yml-create.log
  vyos/clab/initial/08-ra.yml-initial.log
  vyos/clab/initial/08-ra.yml-snapshot.yml
  vyos/clab/initial/08-ra.yml-up.log
  vyos/clab/initial/08-ra.yml-validate.log
  vyos/clab/initial/cleanup-down.log
  vyos/clab/initial/results.yaml
  vyos/libvirt/initial/08-ra.yml-create.log
  vyos/libvirt/initial/08-ra.yml-initial.log
  vyos/libvirt/initial/08-ra.yml-snapshot.yml
  vyos/libvirt/initial/08-ra.yml-up.log
  vyos/libvirt/initial/08-ra.yml-validate.log
  vyos/libvirt/initial/cleanup-down.log
  vyos/libvirt/initial/results.yaml
Due: yamllint, ci_tests

Doc: Document vJunosEvolved VM gotchas
  docs/caveats.md
  docs/labs/clab.md
Due: none

Fix: Display only devices running BGP in the BGP graphs
  docs/outputs/d2.md
  docs/outputs/graph.md
  netsim/outputs/_graph.py
  tests/platform-integration/graph/.gitignore
  tests/platform-integration/graph/bgp.yml
Due: yamllint, ci_tests

New graph: IS-IS routing
  docs/netlab/graph.md
  docs/outputs/d2.md
  docs/outputs/graph.md
  netsim/cli/graph.py
  netsim/outputs/_graph.py
  netsim/outputs/d2.py
  netsim/outputs/d2.yml
  netsim/outputs/graph.py
  netsim/outputs/graph.yml
  tests/platform-integration/graph/create-d2.sh
  tests/platform-integration/graph/create-graphviz.sh
  tests/platform-integration/graph/isis.yml
Due: yamllint, ci_tests

Minor documentation tweaks
  docs/netlab/graph.md
  docs/outputs/d2.md
  docs/outputs/graph.md
Due: none

New graph: IS-IS routing (#2666)
  docs/netlab/graph.md
  docs/outputs/d2.md
  docs/outputs/graph.md
  netsim/cli/graph.py
  netsim/outputs/_graph.py
  netsim/outputs/d2.py
  netsim/outputs/d2.yml
  netsim/outputs/graph.py
  netsim/outputs/graph.yml
  tests/platform-integration/graph/create-d2.sh
  tests/platform-integration/graph/create-graphviz.sh
  tests/platform-integration/graph/isis.yml
Due: yamllint, ci_tests

Fail RA test if the device does not support it
  _html/coverage.initial.html
  _html/linux-clab-initial.html
  _html/linux-libvirt-initial.html
  _html/srsim-clab-initial.html
  _html/srsim-clab.html
  _html/srsim.html
  _html/vyos-clab-initial.html
  _html/vyos-clab.html
  _html/vyos-libvirt-initial.html
  _html/vyos-libvirt.html
  _html/vyos.html
  index.html
  linux/clab/initial/08-ra.yml-create.log
  linux/clab/initial/results.yaml
  linux/libvirt/initial/08-ra.yml-create.log
  linux/libvirt/initial/results.yaml
  srsim/clab/initial/08-ra.yml-create.log
  srsim/clab/initial/cleanup-down.log
  srsim/clab/initial/results.yaml
  vyos/clab/initial/08-ra.yml-create.log
  vyos/clab/initial/cleanup-down.log
  vyos/clab/initial/results.yaml
  vyos/libvirt/initial/08-ra.yml-create.log
  vyos/libvirt/initial/cleanup-down.log
  vyos/libvirt/initial/results.yaml
Due: yamllint, ci_tests

Fix: Fail initial IPv6 RA test if the device does not support it
  tests/integration/initial/08-ra.yml
  tests/integration/initial/ra_check.py
Due: yamllint, ci_tests

Release 25.09
  README.md
  docs/example/external.md
  docs/index.md
  docs/netlab/cli.md
  docs/release.md
  docs/release/25.09.md
  legacy/setup.py
  netsim/__init__.py
Due: ci_tests

Release 25.09 (#2667)
  README.md
  docs/example/external.md
  docs/index.md
  docs/netlab/cli.md
  docs/release.md
  docs/release/25.09.md
  legacy/setup.py
  netsim/__init__.py
Due: ci_tests

Add tc command description to usage.txt.
  netsim/cli/usage.txt
Due: none

Fix alignment, replacing the tabs with spaces.
  netsim/cli/usage.txt
Due: none

Add tc command description to usage.txt. (#2670)
  netsim/cli/usage.txt
Due: none

vPTX: Vagrant/libvirt changes needed to support release 24.1+
  netsim/templates/provider/libvirt/vptx-domain.j2
Due: none

all what's required for vJunosEVO v25
  docs/caveats.md
  netsim/devices/vptx.yml
  netsim/install/libvirt/vptx.xml.j2
  netsim/templates/provider/libvirt/vptx-domain.j2
Due: yamllint, ci_tests

vPTX[B]: Support for vJunosEVO release 24/25 (#2673)
  docs/caveats.md
  netsim/devices/vptx.yml
  netsim/install/libvirt/vptx.xml.j2
  netsim/templates/provider/libvirt/vptx-domain.j2
Due: yamllint, ci_tests

Add lab host entries to SRL nodes
  netsim/ansible/templates/initial/srlinux.j2
Due: none

Fix: Use iterator on ipaddress IPv6 hosts to keep mypy happy
  netsim/modules/srv6.py
Due: ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
