Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Cisco IOS XR DNS client
  netsim/ansible/templates/initial/iosxr.j2
  netsim/ansible/templates/services/iosxr.j2
  netsim/devices/cisco8000v.yml
  netsim/devices/iosxr.yml
  netsim/devices/xr.yml
  tests/integration/services/01-dns-client.yml
Due: yamllint, ci_tests

Cisco IOS XR DNS client tests for #3787
  _html/coverage.services.html
  _html/iosxr-clab-services.html
  _html/iosxr-clab.html
  _html/iosxr.html
  _html/release-coverage.html
  index.html
  iosxr/clab/services/01-dns-client.yml-create.log
  iosxr/clab/services/01-dns-client.yml-initial.log
  iosxr/clab/services/01-dns-client.yml-up.log
  iosxr/clab/services/01-dns-client.yml-validate.log
  iosxr/clab/services/02-dns-vrf-client.yml-create.log
  iosxr/clab/services/03-dns-server.yml-create.log
  iosxr/clab/services/cleanup-down.log
  iosxr/clab/services/results.yaml
Due: yamllint, ci_tests

Cisco IOS XR DNS client (#3787)
  netsim/ansible/templates/initial/iosxr.j2
  netsim/ansible/templates/services/iosxr.j2
  netsim/devices/cisco8000v.yml
  netsim/devices/iosxr.yml
  netsim/devices/xr.yml
  tests/integration/services/01-dns-client.yml
Due: yamllint, ci_tests

Cisco Nexus OS DNS client
  netsim/ansible/templates/initial/nxos.j2
  netsim/ansible/templates/services/nxos.j2
  netsim/devices/nxos.yml
  tests/integration/services/01-dns-client.yml
  tests/integration/services/02-dns-vrf-client.yml
Due: yamllint, ci_tests

Nexus OS DNS client tests for #3788
  _html/coverage.services.html
  _html/iosxr.html
  _html/nxos-clab-services.html
  _html/nxos-clab.html
  _html/nxos.html
  _html/release-coverage.html
  index.html
  nxos/clab/services/01-dns-client.yml-create.log
  nxos/clab/services/01-dns-client.yml-initial.log
  nxos/clab/services/01-dns-client.yml-up.log
  nxos/clab/services/01-dns-client.yml-validate.log
  nxos/clab/services/02-dns-vrf-client.yml-create.log
  nxos/clab/services/02-dns-vrf-client.yml-initial.log
  nxos/clab/services/02-dns-vrf-client.yml-up.log
  nxos/clab/services/02-dns-vrf-client.yml-validate.log
  nxos/clab/services/03-dns-server.yml-create.log
  nxos/clab/services/cleanup-down.log
  nxos/clab/services/results.yaml
Due: yamllint, ci_tests

Cisco Nexus OS DNS client (#3788)
  netsim/ansible/templates/initial/nxos.j2
  netsim/ansible/templates/services/nxos.j2
  netsim/devices/nxos.yml
  tests/integration/services/01-dns-client.yml
  tests/integration/services/02-dns-vrf-client.yml
Due: yamllint, ci_tests

Doc: Hosts do not inherit topology modules (+ impact on DNS clients)
  docs/module/services.md
  docs/node/roles.md
Due: none

Remove invisible space
  docs/module/services.md
Due: none

Doc: Hosts do not inherit topology modules (+ impact on DNS clients) (#3789)
  docs/module/services.md
  docs/node/roles.md
Due: none

SR Linux: DNS client and static host mappings
  netsim/ansible/templates/initial/srlinux.j2
  netsim/ansible/templates/services/srlinux.j2
  netsim/devices/srlinux.yml
  tests/integration/services/01-dns-client.yml
Due: yamllint, ci_tests

Fixes in templates and transformation tests
  netsim/ansible/templates/initial/srlinux.j2
  tests/topology/expected/multiserver-explicit.yml
Due: yamllint, ci_tests

Fixing edge cases
  netsim/ansible/templates/initial/srlinux.j2
  netsim/ansible/templates/services/srlinux.j2
Due: none

SR Linux initial/DNS tests for #3790
  _html/coverage.services.html
  _html/iosxr.html
  _html/release-coverage.html
  _html/srlinux-clab-initial.html
  _html/srlinux-clab-services.html
  _html/srlinux-clab.html
  _html/srlinux.html
  index.html
  srlinux/clab/initial/01-interfaces.yml-create.log
  srlinux/clab/initial/01-interfaces.yml-initial.log
  srlinux/clab/initial/01-interfaces.yml-up.log
  srlinux/clab/initial/01-interfaces.yml-validate.log
  srlinux/clab/initial/02-loopback.yml-initial.log
  srlinux/clab/initial/02-loopback.yml-up.log
  srlinux/clab/initial/02-loopback.yml-validate.log
  srlinux/clab/initial/03-unnumbered.yml-create.log
  srlinux/clab/initial/03-unnumbered.yml-initial.log
  srlinux/clab/initial/03-unnumbered.yml-up.log
  srlinux/clab/initial/07-router.yml-create.log
  srlinux/clab/initial/07-router.yml-initial.log
  srlinux/clab/initial/07-router.yml-up.log
  srlinux/clab/initial/10-reload.yml-create.log
  srlinux/clab/initial/10-reload.yml-initial.log
  srlinux/clab/initial/10-reload.yml-up.log
  srlinux/clab/initial/results.yaml
  srlinux/clab/services/01-dns-client.yml-create.log
  srlinux/clab/services/01-dns-client.yml-initial.log
  srlinux/clab/services/01-dns-client.yml-up.log
  srlinux/clab/services/01-dns-client.yml-validate.log
  srlinux/clab/services/02-dns-vrf-client.yml-create.log
  srlinux/clab/services/03-dns-server.yml-create.log
  srlinux/clab/services/cleanup-down.log
  srlinux/clab/services/results.yaml
Due: yamllint, ci_tests

SR Linux: DNS client and static host mappings (#3790)
  netsim/ansible/templates/initial/srlinux.j2
  netsim/ansible/templates/services/srlinux.j2
  netsim/devices/srlinux.yml
  tests/integration/services/01-dns-client.yml
  tests/topology/expected/multiserver-explicit.yml
Due: yamllint, ci_tests

Tweak services module for syslog services
  netsim/modules/services.py
  netsim/modules/services.yml
  tests/coverage/errors/svc-errors.log
  tests/coverage/errors/svc-errors.yml
Due: yamllint, ci_tests

Nits, documentation
  docs/module/services.md
  docs/release.md
  docs/release/26.08.md
  netsim/modules/services.py
Due: ci_tests

Fixing the last nits
  docs/module/services.md
  netsim/modules/services.py
Due: ci_tests

Tweak services module for syslog services (#3791)
  docs/module/services.md
  docs/release.md
  docs/release/26.08.md
  netsim/modules/services.py
  netsim/modules/services.yml
  tests/coverage/errors/svc-errors.log
  tests/coverage/errors/svc-errors.yml
Due: yamllint, ci_tests

dnsmasq: Syslog server
  docs/caveats.md
  docs/labs/clab.md
  docs/labs/dnsmasq.md
  netsim/daemons/dnsmasq.yml
  netsim/daemons/dnsmasq/Dockerfile
  netsim/daemons/dnsmasq/rsyslogd.j2
  netsim/daemons/dnsmasq/start.j2
  tests/integration/services/11-syslog-client.yml
  tests/topology/expected/dhcp-server-on-segment.yml
  tests/topology/expected/dhcp-vlan.yml
Due: yamllint, ci_tests

Fix "is dns server enabled" test
  netsim/daemons/dnsmasq/start.j2
Due: none

dnsmasq: Syslog server (#3792)
  docs/caveats.md
  docs/labs/clab.md
  docs/labs/dnsmasq.md
  netsim/daemons/dnsmasq.yml
  netsim/daemons/dnsmasq/Dockerfile
  netsim/daemons/dnsmasq/rsyslogd.j2
  netsim/daemons/dnsmasq/start.j2
  tests/integration/services/11-syslog-client.yml
  tests/topology/expected/dhcp-server-on-segment.yml
  tests/topology/expected/dhcp-vlan.yml
Due: yamllint, ci_tests

EOS: Syslog client
  docs/module/services.md
  netsim/ansible/templates/services/eos.j2
  netsim/devices/eos.yml
  tests/integration/services/12-syslog-vrf-client.yml
Due: yamllint, ci_tests

EOS/dnsmasq Syslog tests for #3792, #3793
  _html/eos-clab-services.html
  eos/clab/services/01-dns-client.yml-create.log
  eos/clab/services/01-dns-client.yml-up.log
  eos/clab/services/02-dns-vrf-client.yml-up.log
  eos/clab/services/11-syslog-client.yml-create.log
  eos/clab/services/11-syslog-client.yml-initial.log
  eos/clab/services/11-syslog-client.yml-up.log
  eos/clab/services/11-syslog-client.yml-validate.log
  eos/clab/services/12-syslog-vrf-client.yml-create.log
  eos/clab/services/12-syslog-vrf-client.yml-initial.log
  eos/clab/services/12-syslog-vrf-client.yml-up.log
  eos/clab/services/12-syslog-vrf-client.yml-validate.log
  eos/clab/services/cleanup-down.log
  eos/clab/services/results.yaml
  index.html
Due: yamllint, ci_tests

EOS: Syslog client (#3793)
  docs/module/services.md
  netsim/ansible/templates/services/eos.j2
  netsim/devices/eos.yml
  tests/integration/services/12-syslog-vrf-client.yml
Due: yamllint, ci_tests

Cisco IOS: syslog client
  netsim/ansible/templates/services/ios.j2
  netsim/devices/ios.yml
  tests/integration/services/11-syslog-client.yml
  tests/integration/services/12-syslog-vrf-client.yml
Due: yamllint, ci_tests

Fixing nits
  netsim/ansible/templates/services/ios.j2
Due: none

Cisco IOLL2 DNS/syslog tests for #3795
  _html/ioll2-clab-services.html
  index.html
  ioll2/clab/services/01-dns-client.yml-create.log
  ioll2/clab/services/01-dns-client.yml-initial.log
  ioll2/clab/services/01-dns-client.yml-up.log
  ioll2/clab/services/01-dns-client.yml-validate.log
  ioll2/clab/services/02-dns-vrf-client.yml-up.log
  ioll2/clab/services/11-syslog-client.yml-create.log
  ioll2/clab/services/11-syslog-client.yml-initial.log
  ioll2/clab/services/11-syslog-client.yml-up.log
  ioll2/clab/services/11-syslog-client.yml-validate.log
  ioll2/clab/services/12-syslog-vrf-client.yml-create.log
  ioll2/clab/services/12-syslog-vrf-client.yml-initial.log
  ioll2/clab/services/12-syslog-vrf-client.yml-up.log
  ioll2/clab/services/12-syslog-vrf-client.yml-validate.log
  ioll2/clab/services/cleanup-down.log
  ioll2/clab/services/results.yaml
Due: yamllint, ci_tests

Cisco IOS: syslog client (#3795)
  netsim/ansible/templates/services/ios.j2
  netsim/devices/ios.yml
  tests/integration/services/11-syslog-client.yml
  tests/integration/services/12-syslog-vrf-client.yml
Due: yamllint, ci_tests

Fine-tune the syslog integration tests
  tests/integration/services/11-syslog-client.yml
  tests/integration/services/12-syslog-vrf-client.yml
Due: yamllint, ci_tests

Fix: Cisco IOSvL2 does not have DNS views
  netsim/devices/iosvl2.yml
Due: yamllint, ci_tests

Cisco IOSvL2 does not support DNS client in a VRF
  _html/iosvl2-libvirt-services.html
  _html/iosvl2-libvirt.html
  _html/iosvl2.html
  index.html
  iosvl2/libvirt/services/02-dns-vrf-client.yml-create.log
  iosvl2/libvirt/services/cleanup-down.log
  iosvl2/libvirt/services/results.yaml
Due: yamllint, ci_tests

show memory usage per node
  netsim/cli/status.py
  netsim/providers/clab/__init__.py
  netsim/providers/libvirt.py
  netsim/utils/strings.py
Due: ci_tests

fix: incorrect spacing for memory used
  netsim/cli/status.py
Due: ci_tests

ArubaCX DNS Client
  netsim/ansible/templates/initial/arubacx.j2
  netsim/ansible/templates/services/arubacx.j2
  netsim/devices/arubacx.yml
  tests/integration/services/01-dns-client.yml
  tests/integration/services/02-dns-vrf-client.yml
Due: yamllint, ci_tests

ArubaCX syslog client
  netsim/ansible/templates/initial/arubacx.j2
  netsim/ansible/templates/services/arubacx.j2
  netsim/devices/arubacx.yml
Due: yamllint, ci_tests

docs: ArubaCX support added for hosts
  docs/platforms.md
  netsim/devices/arubacx.yml
Due: yamllint, ci_tests

ArubaCX DNS/syslog tests for #3796
  _html/arubacx-libvirt-services.html
  _html/arubacx-libvirt.html
  _html/arubacx.html
  _html/coverage.services.html
  _html/release-coverage.html
  arubacx/libvirt/services/01-dns-client.yml-create.log
  arubacx/libvirt/services/01-dns-client.yml-initial.log
  arubacx/libvirt/services/01-dns-client.yml-up.log
  arubacx/libvirt/services/01-dns-client.yml-validate.log
  arubacx/libvirt/services/02-dns-vrf-client.yml-create.log
  arubacx/libvirt/services/02-dns-vrf-client.yml-initial.log
  arubacx/libvirt/services/02-dns-vrf-client.yml-up.log
  arubacx/libvirt/services/02-dns-vrf-client.yml-validate.log
  arubacx/libvirt/services/03-dns-server.yml-create.log
  arubacx/libvirt/services/11-syslog-client.yml-create.log
  arubacx/libvirt/services/11-syslog-client.yml-initial.log
  arubacx/libvirt/services/11-syslog-client.yml-up.log
  arubacx/libvirt/services/11-syslog-client.yml-validate.log
  arubacx/libvirt/services/12-syslog-vrf-client.yml-create.log
  arubacx/libvirt/services/12-syslog-vrf-client.yml-initial.log
  arubacx/libvirt/services/12-syslog-vrf-client.yml-up.log
  arubacx/libvirt/services/12-syslog-vrf-client.yml-validate.log
  arubacx/libvirt/services/cleanup-down.log
  arubacx/libvirt/services/results.yaml
  index.html
Due: yamllint, ci_tests

Fix: ArubaCX does not have DNS transport VRF
  netsim/ansible/templates/services/arubacx.j2
  netsim/devices/arubacx.yml
Due: yamllint, ci_tests

Redo ArubaCX DNS tests after disabling transport VRF (#3796)
  _html/arubacx-libvirt-services.html
  _html/arubacx-libvirt.html
  _html/arubacx.html
  arubacx/libvirt/services/01-dns-client.yml-initial.log
  arubacx/libvirt/services/01-dns-client.yml-up.log
  arubacx/libvirt/services/01-dns-client.yml-validate.log
  arubacx/libvirt/services/02-dns-vrf-client.yml-create.log
  arubacx/libvirt/services/cleanup-down.log
  arubacx/libvirt/services/results.yaml
  index.html
Due: yamllint, ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
