Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Fix OSPF GR validate cleanup
  tests/integration/ospf/ospfv2/41-gr.yml
  tests/integration/ospf/ospfv3/41-gr.yml
Due: yamllint, ci_tests

Fix documentation
  docs/dev/device-platform.md
  docs/example/github.md
  docs/install.md
  docs/install/ubuntu-vm.md
  docs/netlab/show.md
  docs/platforms.md
  docs/providers.md
  docs/release-archive.md
  docs/release/2.0.md
Due: none

Restore accidentally deleted files
  netsim/ansible/templates/ospf/routeros7.ospf-include.j2
  tests/integration/bgp/03-ibgp-rr.yml
  tests/integration/bgp/frr-community.j2
Due: yamllint, ci_tests

Cleanup shell config templates
  netsim/ansible/templates/vrf/bird.j2
  netsim/ansible/templates/vrf/frr.data-plane.j2
  netsim/ansible/templates/vrf/frr.j2
Due: none

Fix: Use /-based path in sysctl
  netsim/ansible/templates/vrf/frr.data-plane.j2
Due: none

Fix: Wait longer for NSSA-derived type-5 route in OSPFv2 area test
  tests/integration/ospf/ospfv2/40-area-parameters.yml
Due: yamllint, ci_tests

Fix: The tested devices in VLAN/VRF-Lite test must be routers
  tests/integration/vlan/52-vlan-vrf-lite.yml
Due: yamllint, ci_tests

Fix: Device originating BGP default route should not be a host
  tests/integration/bgp.session/04-default-originate.yml
Due: yamllint, ci_tests

Fix: Device tested for inter-VRF static routes must be a router
  tests/integration/routing/22-static-inter-vrf.yml
Due: yamllint, ci_tests

Updated BIRD test results for #3498
  _html/bird-clab-ospf-ospfv2.html
  _html/bird-clab-ospf.html
  _html/bird-clab-routing.html
  _html/bird-clab-vlan.html
  _html/bird-clab-vrf.html
  _html/bird-clab.html
  _html/bird.html
  _html/coverage.ospfv2.html
  _html/coverage.vlan.html
  _html/coverage.vrf.html
  bird/clab/ospf/ospfv2/40-area-parameters.yml-initial.log
  bird/clab/ospf/ospfv2/40-area-parameters.yml-up.log
  bird/clab/ospf/ospfv2/40-area-parameters.yml-validate.log
  bird/clab/ospf/ospfv2/cleanup-down.log
  bird/clab/ospf/ospfv2/results.yaml
  bird/clab/routing/22-static-inter-vrf.yml-initial.log
  bird/clab/routing/22-static-inter-vrf.yml-up.log
  bird/clab/routing/22-static-inter-vrf.yml-validate.log
  bird/clab/routing/cleanup-down.log
  bird/clab/routing/results.yaml
  bird/clab/vlan/52-vlan-vrf-lite.yml-create.log
  bird/clab/vlan/52-vlan-vrf-lite.yml-initial.log
  bird/clab/vlan/52-vlan-vrf-lite.yml-up.log
  bird/clab/vlan/52-vlan-vrf-lite.yml-validate.log
  bird/clab/vlan/cleanup-down.log
  bird/clab/vlan/results.yaml
  bird/clab/vrf/12-multi-vrf-bgp.yml-initial.log
  bird/clab/vrf/12-multi-vrf-bgp.yml-up.log
  bird/clab/vrf/12-multi-vrf-bgp.yml-validate.log
  bird/clab/vrf/cleanup-down.log
  bird/clab/vrf/results.yaml
  index.html
Due: yamllint, ci_tests

BIRD static route tests for the final fixes in #3498
  _html/bird-clab-routing.html
  bird/clab/routing/20-static.yml-up.log
  bird/clab/routing/20-static.yml-validate.log
  bird/clab/routing/21-static-vrf.yml-up.log
  bird/clab/routing/21-static-vrf.yml-validate.log
  bird/clab/routing/22-static-inter-vrf.yml-initial.log
  bird/clab/routing/22-static-inter-vrf.yml-up.log
  bird/clab/routing/22-static-inter-vrf.yml-validate.log
  bird/clab/routing/25-static-discard.yml-initial.log
  bird/clab/routing/25-static-discard.yml-up.log
  bird/clab/routing/cleanup-down.log
  bird/clab/routing/results.yaml
Due: yamllint, ci_tests

Fix: Use shared static route config in VRF and Routing
  netsim/daemons/bird/routing.j2
  netsim/daemons/bird/vrf-daemon.j2
Due: none

Fix: Speed up static routing tests with small OSPF timers
  tests/integration/routing/20-static.yml
  tests/integration/routing/21-static-vrf.yml
  tests/integration/routing/23-static-indirect.yml
Due: yamllint, ci_tests

BIRD VRF support (incl BGP, OSPF, route leaking) (#3498)
  docs/caveats.md
  docs/module/bgp.md
  docs/module/routing-static.txt
  docs/module/routing.md
  docs/module/vrf.md
  docs/platforms.md
  netsim/ansible/templates/vrf/bird.j2
  netsim/ansible/templates/vrf/frr.data-plane.j2
  netsim/ansible/templates/vrf/frr.j2
  netsim/daemons/bird.yml
  netsim/daemons/bird/bgp.j2
  netsim/daemons/bird/bgp.macros.j2
  netsim/daemons/bird/ospf.j2
  netsim/daemons/bird/ospf.macros.j2
  netsim/daemons/bird/protocols.j2
  netsim/daemons/bird/routing.j2
  netsim/daemons/bird/vrf-daemon.j2
Due: yamllint, ci_tests

Fix: Use full template path when including FRR GR config
  netsim/ansible/templates/ospf/frr.ospfv2.j2
  netsim/ansible/templates/ospf/frr.ospfv3.j2
Due: none

Fix: Clean up FRR OSPF validation helpers
  netsim/validate/ospf/frr.py
Due: ci_tests

Fix: Validate FRR OSPF neighbors in VRFs
  netsim/validate/ospf/frr.py
  tests/integration/vlan/53-vlan-vrf-lite-ipv6.yml
Due: yamllint, ci_tests

Fix: Merge VLAN VRF-lite IPv6 test
  tests/integration/vlan/52-vlan-vrf-lite.yml
  tests/integration/vlan/53-vlan-vrf-lite-ipv6.yml
Due: yamllint, ci_tests

Fix: Add OSPFv2 checks to VLAN VRF-lite test
  tests/integration/vlan/52-vlan-vrf-lite.yml
Due: yamllint, ci_tests

Fix: Reduce BIRD inter-VRF route leaking pipes
  netsim/daemons/bird/vrf-daemon.j2
Due: none

Fix: Create BIRD VRF-to-default static routes
  netsim/daemons/bird/routing.j2
  netsim/daemons/bird/vrf-daemon.j2
Due: none

Fix: Originate BIRD default routes in VRF BGP
  netsim/daemons/bird/bgp.macros.j2
  netsim/daemons/bird/vrf-daemon.j2
Due: none

Cleanup: Simplify BIRD VRF default leak loops
  netsim/daemons/bird/vrf-daemon.j2
Due: none

Cleanup: Use explicit AF for BIRD default originate
  netsim/daemons/bird/bgp.j2
  netsim/daemons/bird/bgp.macros.j2
  netsim/daemons/bird/vrf-daemon.j2
Due: none

Cleanup: Let BIRD BGP callers select default AF
  netsim/daemons/bird/bgp.j2
  netsim/daemons/bird/bgp.macros.j2
Due: none

Fix: Limit BIRD default originate to unicast AF
  netsim/daemons/bird/bgp.j2
Due: none

Cleanup: Align BIRD default originate call
  netsim/daemons/bird/bgp.j2
Due: none

Cleanup: Iterate BIRD default originate over unicast AFs
  netsim/daemons/bird/bgp.j2
Due: none

Add FortiOS OSPF route import and default-route origination
  docs/module/ospf.md
  netsim/ansible/templates/ospf/fortios.j2
  netsim/devices/fortios.yml
Due: yamllint, ci_tests

Fix 3312: L3VNI in VyOS
  netsim/ansible/templates/evpn/vyos.j2
  tests/integration/evpn/05-vxlan-l3only.yml
Due: yamllint, ci_tests

Fix: Handle asymmetric BIRD VRF route leaking
  netsim/daemons/bird/vrf-daemon.j2
Due: none

Fix: Prevent transitive BIRD VRF route leaking
  netsim/daemons/bird/vrf-daemon.j2
  tests/integration/vrf/35-vrf-asymmetric-leaking.yml
Due: yamllint, ci_tests

Add FortiOS OSPF route import and default-route origination (#3528)
  docs/module/ospf.md
  netsim/ansible/templates/ospf/fortios.j2
  netsim/devices/fortios.yml
Due: yamllint, ci_tests

Fix: bgp-ce-router now also works on VyOS
  tests/integration/evpn/21-bgp-ce-router.yml
Due: yamllint, ci_tests

Fix 3312: L3VNI in VyOS (#3530)
  netsim/ansible/templates/evpn/vyos.j2
  tests/integration/evpn/05-vxlan-l3only.yml
  tests/integration/evpn/21-bgp-ce-router.yml
Due: yamllint, ci_tests

Fix SR Linux VRF leaking policies
  netsim/ansible/templates/bgp/srlinux.j2
  netsim/ansible/templates/bgp/srlinux.macro.j2
  netsim/ansible/templates/routing/srlinux/redistribute.j2
  netsim/ansible/templates/vrf/srlinux.j2
  tests/integration/vrf/srl-asymmetric-leaking-fails.yml
Due: yamllint, ci_tests

Fix SR Linux leaked host forwarding
  netsim/ansible/templates/vrf/srlinux.j2
Due: none

Fix SR Linux VRF route leaking support
  netsim/devices/srlinux.py
Due: ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
