Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

IOS XR routing policy - set simple parameters
  docs/module/routing-policy.txt
  netsim/ansible/templates/routing/iosxr.j2
  netsim/ansible/templates/routing/iosxr/policy.j2
  netsim/ansible/templates/routing/iosxr/static.j2
  netsim/devices/xr.yml
  netsim/extra/bgp.policy/iosxr.j2
Due: yamllint, ci_tests

Fixing typos
  docs/plugins/ebgp.multihop.md
  netsim/extra/bgp.policy/iosxr.j2
Due: none

IOS XR routing policy - set simple parameters (#3167)
  docs/module/routing-policy.txt
  docs/plugins/ebgp.multihop.md
  netsim/ansible/templates/routing/iosxr.j2
  netsim/ansible/templates/routing/iosxr/policy.j2
  netsim/ansible/templates/routing/iosxr/static.j2
  netsim/devices/xr.yml
  netsim/extra/bgp.policy/iosxr.j2
Due: yamllint, ci_tests

Make BGP aggregation test work with devices w/o prefix matches
  tests/integration/bgp.policy/60-aggregate.yml
Due: yamllint, ci_tests

IOS XR BGP route aggregation
  docs/plugins/bgp.policy.md
  netsim/devices/xr.yml
  netsim/extra/bgp.policy/iosxr.j2
Due: yamllint, ci_tests

IOS XR BGP aggregation test for #3168
  _html/iosxr-clab-bgp.policy.html
  _html/iosxr-clab-routing.html
  _html/iosxr-clab.html
  _html/iosxr.html
  index.html
  iosxr/clab/bgp.policy/60-aggregate.yml-create.log
  iosxr/clab/bgp.policy/60-aggregate.yml-initial.log
  iosxr/clab/bgp.policy/60-aggregate.yml-up.log
  iosxr/clab/bgp.policy/60-aggregate.yml-validate.log
  iosxr/clab/bgp.policy/cleanup-down.log
  iosxr/clab/bgp.policy/results.yaml
  iosxr/clab/routing/01-locpref.yml-initial.log
  iosxr/clab/routing/01-locpref.yml-up.log
  iosxr/clab/routing/01-locpref.yml-validate.log
  iosxr/clab/routing/03-med-out.yml-initial.log
  iosxr/clab/routing/03-med-out.yml-up.log
  iosxr/clab/routing/03-med-out.yml-validate.log
  iosxr/clab/routing/cleanup-down.log
  iosxr/clab/routing/results.yaml
Due: yamllint, ci_tests

Fix a config hierarcy error identified by Copilot
  netsim/extra/bgp.policy/iosxr.j2
Due: none

IOS XR BGP route aggregation (#3168)
  docs/plugins/bgp.policy.md
  netsim/devices/xr.yml
  netsim/extra/bgp.policy/iosxr.j2
Due: yamllint, ci_tests

Revert 20-vxlan-irb-ospf test
  tests/integration/evpn/20-vxlan-irb-ospf.yml
Due: yamllint, ci_tests

Final fixes, test timeout tweaks, documentation
  docs/module/evpn.md
  docs/module/vxlan.md
  netsim/ansible/templates/evpn/junos/common.j2
  tests/integration/evpn/20-vxlan-irb-ospf.yml
  tests/integration/vxlan/03-vxlan-irb.yml
  tests/integration/vxlan/04-vxlan-irb-ospf.yml
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

EVPN/VXLAN on vJunos-router (#3160)
  docs/module/evpn.md
  docs/module/vxlan.md
  netsim/ansible/templates/evpn/junos/common.j2
  netsim/ansible/templates/evpn/junos/vlan.j2
  netsim/ansible/templates/evpn/vjunos-router.j2
  netsim/ansible/templates/evpn/vjunos-switch.j2
  netsim/ansible/templates/evpn/vptx.j2
  netsim/ansible/templates/vlan/vjunos-router.j2
  netsim/ansible/templates/vxlan/vjunos-router.j2
  netsim/devices/junos.py
  netsim/devices/vjunos-router.yml
  tests/integration/evpn/10-vxlan-rr.yml
  tests/integration/evpn/20-vxlan-irb-ospf.yml
  tests/integration/vxlan/03-vxlan-irb.yml
  tests/integration/vxlan/04-vxlan-irb-ospf.yml
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

Fix: Sort routing policy objects by sequence numbers
  netsim/modules/routing/__init__.py
  netsim/modules/routing/aspath.py
  netsim/modules/routing/clist.py
  netsim/modules/routing/normalize.py
  netsim/modules/routing/prefix.py
  tests/topology/expected/rp-aspath-numbers.yml
  tests/topology/expected/rp-clist-expansion.yml
  tests/topology/expected/rp-normalize-merge.yml
  tests/topology/expected/rp-prefix-expansion.yml
  tests/topology/input/rp-aspath-numbers.yml
  tests/topology/input/rp-clist-expansion.yml
  tests/topology/input/rp-normalize-merge.yml
  tests/topology/input/rp-prefix-expansion.yml
Due: yamllint, ci_tests

Fix: Sort routing policy objects by sequence numbers (#3169)
  netsim/modules/routing/__init__.py
  netsim/modules/routing/aspath.py
  netsim/modules/routing/clist.py
  netsim/modules/routing/normalize.py
  netsim/modules/routing/prefix.py
  tests/topology/expected/rp-aspath-numbers.yml
  tests/topology/expected/rp-clist-expansion.yml
  tests/topology/expected/rp-normalize-merge.yml
  tests/topology/expected/rp-prefix-expansion.yml
  tests/topology/input/rp-aspath-numbers.yml
  tests/topology/input/rp-clist-expansion.yml
  tests/topology/input/rp-normalize-merge.yml
  tests/topology/input/rp-prefix-expansion.yml
Due: yamllint, ci_tests

IOS XR takes forever to deploy/rerun a routing policy
  tests/integration/routing/10-match-prefix.yml
Due: yamllint, ci_tests

Fix: Cisco 8000v cannot use 'exit' statements with BGP neighbors/AFs
  netsim/extra/bgp.policy/iosxr.j2
Due: none

Fix: Create per-AF min/max values in prefix lists
  netsim/modules/routing/prefix.py
  tests/integration/routing/10-match-prefix.yml
  tests/topology/expected/rp-prefix-expansion.yml
Due: yamllint, ci_tests

Fix: Create per-AF min/max values in prefix lists (#3171)
  netsim/modules/routing/prefix.py
  tests/integration/routing/10-match-prefix.yml
  tests/topology/expected/rp-prefix-expansion.yml
Due: yamllint, ci_tests

IOS XR routing policy prefix sets
  docs/caveats.md
  docs/module/routing-policy.txt
  docs/module/routing.md
  netsim/ansible/templates/routing/iosxr.j2
  netsim/ansible/templates/routing/iosxr/policy.j2
  netsim/ansible/templates/routing/iosxr/prefix.j2
  netsim/devices/cisco8000v.py
  netsim/devices/iosxr.py
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Fix logic errors, polish documentation
  docs/caveats.md
  netsim/devices/iosxr.py
Due: ci_tests

Fix integration tests SNAFU
  tests/integration/routing/10-match-prefix.yml
Due: yamllint, ci_tests

Final typo (one hopes)
  netsim/ansible/templates/routing/iosxr/policy.j2
Due: none

IOS XR routing policy prefix sets (#3170)
  docs/caveats.md
  docs/module/routing-policy.txt
  docs/module/routing.md
  netsim/ansible/templates/routing/iosxr.j2
  netsim/ansible/templates/routing/iosxr/policy.j2
  netsim/ansible/templates/routing/iosxr/prefix.j2
  netsim/devices/cisco8000v.py
  netsim/devices/iosxr.py
  netsim/devices/xr.yml
  tests/integration/routing/10-match-prefix.yml
Due: yamllint, ci_tests

IOS XR routing policy integration tests for #3170
  _html/cisco8000v-clab-bgp.policy.html
  _html/cisco8000v-clab-routing.html
  _html/cisco8000v-clab.html
  _html/cisco8000v.html
  _html/coverage.r_filter.html
  _html/iosxr-clab-routing.html
  _html/iosxr-clab.html
  _html/iosxr.html
  _html/release-coverage.html
  cisco8000v/clab/bgp.policy/60-aggregate.yml-create.log
  cisco8000v/clab/bgp.policy/60-aggregate.yml-initial.log
  cisco8000v/clab/bgp.policy/60-aggregate.yml-up.log
  cisco8000v/clab/bgp.policy/60-aggregate.yml-validate.log
  cisco8000v/clab/bgp.policy/cleanup-down.log
  cisco8000v/clab/bgp.policy/results.yaml
  cisco8000v/clab/routing/10-match-prefix.yml-create.log
  cisco8000v/clab/routing/10-match-prefix.yml-initial.log
  cisco8000v/clab/routing/10-match-prefix.yml-up.log
  cisco8000v/clab/routing/10-match-prefix.yml-validate.log
  cisco8000v/clab/routing/cleanup-down.log
  cisco8000v/clab/routing/results.yaml
  index.html
  iosxr/clab/bgp.policy/60-aggregate.yml-create.log
  iosxr/clab/bgp.policy/cleanup-down.log
  iosxr/clab/bgp.policy/results.yaml
  iosxr/clab/routing/10-match-prefix.yml-create.log
  iosxr/clab/routing/10-match-prefix.yml-initial.log
  iosxr/clab/routing/10-match-prefix.yml-up.log
  iosxr/clab/routing/10-match-prefix.yml-validate.log
  iosxr/clab/routing/cleanup-down.log
  iosxr/clab/routing/results.yaml
Due: yamllint, ci_tests

Update routing policy developer guide with new features
  docs/dev/config/routing.md
Due: none

Restore 'still missing' section to track undocumented features
  docs/dev/config/routing.md
Due: none

IOS XR set/append/delete standard/large BGP communities
  docs/module/routing-policy.txt
  netsim/ansible/templates/routing/iosxr/policy.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Fixing AI bloopers
  docs/dev/config/routing.md
Due: none

Fixing typos
  docs/module/routing-policy.txt
  netsim/ansible/templates/routing/iosxr/policy.j2
Due: none

Fixing Copilot-identified AI bloopers
  docs/dev/config/routing.md
Due: none

Update routing policy developer guide (#3172)
  docs/dev/config/routing.md
Due: none

IOS XR set/append/delete standard/large BGP communities (#3173)
  docs/module/routing-policy.txt
  netsim/ansible/templates/routing/iosxr/policy.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Add AS-path filter data structure documentation
  docs/dev/config/routing.md
Due: none

IOS XR AS-path sets and policy matches
  docs/module/routing-policy.txt
  docs/module/routing.md
  netsim/ansible/templates/routing/iosxr.j2
  netsim/ansible/templates/routing/iosxr/aspath.j2
  netsim/ansible/templates/routing/iosxr/policy-match.j2
  netsim/ansible/templates/routing/iosxr/policy-set.j2
  netsim/ansible/templates/routing/iosxr/policy.j2
  netsim/devices/iosxr.py
  netsim/devices/xr.yml
Due: yamllint, ci_tests

IOS/XR BGP AS-path matching test for #3175
  _html/cisco8000v-clab-routing.html
  _html/cisco8000v-clab.html
  _html/cisco8000v.html
  _html/coverage.r_filter.html
  _html/iosxr-clab-routing.html
  _html/iosxr-clab.html
  _html/iosxr.html
  cisco8000v/clab/routing/11-match-aspath.yml-create.log
  cisco8000v/clab/routing/11-match-aspath.yml-initial.log
  cisco8000v/clab/routing/11-match-aspath.yml-up.log
  cisco8000v/clab/routing/11-match-aspath.yml-validate.log
  cisco8000v/clab/routing/cleanup-down.log
  cisco8000v/clab/routing/results.yaml
  index.html
  iosxr/clab/routing/11-match-aspath.yml-create.log
  iosxr/clab/routing/11-match-aspath.yml-initial.log
  iosxr/clab/routing/11-match-aspath.yml-up.log
  iosxr/clab/routing/11-match-aspath.yml-validate.log
  iosxr/clab/routing/cleanup-down.log
  iosxr/clab/routing/results.yaml
Due: yamllint, ci_tests
