Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Add iBGP session and OSPF to r2/r3
  tests/topology/expected/bgp-confederation.yml
  tests/topology/input/bgp-confederation.yml
Due: yamllint, ci_tests

add Dockerfile for netscaler
  netsim/daemons/netscaler/Dockerfile
  netsim/defaults/multilab.yml
Due: yamllint, ci_tests

[B] Device-based groups should not have explicit members
  netsim/augment/groups.py
  tests/errors/invalid-group-all-members.log
  tests/errors/invalid-group-all-members.yml
Due: yamllint, ci_tests

Restore multilab.yml to default
  netsim/defaults/multilab.yml
Due: yamllint, ci_tests

[B] Device-based groups should not have explicit members (#2743)
  netsim/augment/groups.py
  tests/errors/invalid-group-all-members.log
  tests/errors/invalid-group-all-members.yml
Due: yamllint, ci_tests

Avoid superfluous EBGP sessions for bgp confederation members within same subas (#2741)
  netsim/modules/bgp.py
  tests/topology/expected/bgp-confederation.yml
  tests/topology/input/bgp-confederation.yml
Due: yamllint, ci_tests

Set node attributes from device/all groups
  netsim/augment/groups.py
  netsim/modules/__init__.py
  tests/errors/group-device-no-members.log
  tests/topology/expected/groups-hierarchy.yml
  tests/topology/input/groups-hierarchy.yml
Due: yamllint, ci_tests

[B] Set node attributes from device/all groups (#2745)
  netsim/augment/groups.py
  netsim/modules/__init__.py
  tests/errors/group-device-no-members.log
  tests/topology/expected/groups-hierarchy.yml
  tests/topology/input/groups-hierarchy.yml
Due: yamllint, ci_tests

[Doc] Describe how the DHCP module builds DHCP pools
  docs/links.md
  docs/module/dhcp.md
Due: none

[DevDoc] Creating RIPv2/RIPng configuration templates
  docs/dev/config/index.md
  docs/dev/config/rip.md
Due: none

[DevDoc] Creating RIPv2/RIPng configuration templates (#2747)
  docs/dev/config/index.md
  docs/dev/config/rip.md
Due: none

Adding a simple how-to-use-netscaler recipe
  docs/example/linux.md
  docs/labs/clab.md
  docs/labs/netscaler.md
  docs/platforms.md
Due: none

Add Netscaler information (#2742)
  docs/example/linux.md
  docs/labs/clab.md
  docs/labs/netscaler.md
  docs/platforms.md
  netsim/daemons/netscaler/Dockerfile
Due: none

[Doc] Describe how the DHCP module builds DHCP pools (#2746)
  docs/links.md
  docs/module/dhcp.md
Due: none

'netlab graph' command can use Graphviz/D2 to create the final image (#2739)
  docs/netlab/graph.md
  netsim/cli/graph.py
  netsim/defaults/netlab.yml
  netsim/outputs/d2.yml
  netsim/outputs/graph.yml
Due: yamllint, ci_tests

Fix: files plugin refuses to create files outside of lab directory
  netsim/extra/files/plugin.py
Due: ci_tests

Move the relative path check to post_transform hook
  netsim/extra/files/plugin.py
Due: ci_tests

Fix: files plugin refuses to create files outside of lab directory (#2751)
  netsim/extra/files/plugin.py
Due: ci_tests

Generate warnings for EVPN BGP sessions with extended communities
  netsim/modules/evpn.py
Due: ci_tests

Add RIP support for OpenBSD
  netsim/ansible/templates/ripv2/openbsd.j2
  netsim/ansible/templates/ripv2/openbsd.ripng.j2
  netsim/ansible/templates/ripv2/openbsd.ripv2.j2
  netsim/devices/openbsd.yml
Due: yamllint, ci_tests

Generate warnings for EVPN BGP sessions with extended communities (#2752)
  netsim/modules/evpn.py
Due: ci_tests

Fix: Improve the L3VPN AF activation checks
  netsim/modules/mpls.py
Due: ci_tests

FRR MPLS/VPN tests for #2754
  _html/frr-clab-mpls.html
  frr/clab/mpls/01-ldp-p.yml-initial.log
  frr/clab/mpls/01-ldp-p.yml-snapshot.yml
  frr/clab/mpls/01-ldp-p.yml-up.log
  frr/clab/mpls/01-ldp-p.yml-validate.log
  frr/clab/mpls/02-ldp-pe.yml-initial.log
  frr/clab/mpls/02-ldp-pe.yml-snapshot.yml
  frr/clab/mpls/02-ldp-pe.yml-up.log
  frr/clab/mpls/02-ldp-pe.yml-validate.log
  frr/clab/mpls/10-vpn-connected.yml-initial.log
  frr/clab/mpls/10-vpn-connected.yml-snapshot.yml
  frr/clab/mpls/10-vpn-connected.yml-up.log
  frr/clab/mpls/10-vpn-connected.yml-validate.log
  frr/clab/mpls/11-vpn-cs.yml-initial.log
  frr/clab/mpls/11-vpn-cs.yml-snapshot.yml
  frr/clab/mpls/11-vpn-cs.yml-up.log
  frr/clab/mpls/11-vpn-cs.yml-validate.log
  frr/clab/mpls/12-vpn-bgp.yml-initial.log
  frr/clab/mpls/12-vpn-bgp.yml-snapshot.yml
  frr/clab/mpls/12-vpn-bgp.yml-up.log
  frr/clab/mpls/12-vpn-bgp.yml-validate.log
  frr/clab/mpls/13-vpn-ospf.yml-initial.log
  frr/clab/mpls/13-vpn-ospf.yml-snapshot.yml
  frr/clab/mpls/13-vpn-ospf.yml-up.log
  frr/clab/mpls/13-vpn-ospf.yml-validate.log
  frr/clab/mpls/cleanup-down.log
  frr/clab/mpls/results.yaml
Due: yamllint, ci_tests

Fix: Improve the L3VPN AF activation checks (#2754)
  netsim/modules/mpls.py
Due: ci_tests

Generate warnings for L3VPN BGP sessions without extended communities
  netsim/modules/mpls.py
Due: ci_tests

OpenBSD RIPv2/RIPng tests for #2753
  _html/coverage.ripv2.html
  _html/openbsd-libvirt-ripv2.html
  _html/openbsd-libvirt.html
  _html/openbsd.html
  index.html
  openbsd/libvirt/ripv2/01-ipv4.yml-create.log
  openbsd/libvirt/ripv2/01-ipv4.yml-initial.log
  openbsd/libvirt/ripv2/01-ipv4.yml-snapshot.yml
  openbsd/libvirt/ripv2/01-ipv4.yml-up.log
  openbsd/libvirt/ripv2/01-ipv4.yml-validate.log
  openbsd/libvirt/ripv2/02-ipv6.yml-create.log
  openbsd/libvirt/ripv2/02-ipv6.yml-initial.log
  openbsd/libvirt/ripv2/02-ipv6.yml-snapshot.yml
  openbsd/libvirt/ripv2/02-ipv6.yml-up.log
  openbsd/libvirt/ripv2/02-ipv6.yml-validate.log
  openbsd/libvirt/ripv2/10-passive-ipv4.yml-create.log
  openbsd/libvirt/ripv2/11-passive-ipv6.yml-create.log
  openbsd/libvirt/ripv2/21-import-ds.yml-create.log
  openbsd/libvirt/ripv2/31-vrf-ipv4.yml-create.log
  openbsd/libvirt/ripv2/32-vrf-ipv6.yml-create.log
  openbsd/libvirt/ripv2/cleanup-down.log
  openbsd/libvirt/ripv2/results.yaml
Due: yamllint, ci_tests

Documentation
  docs/caveats.md
  docs/module/ripv2.md
  docs/platforms.md
Due: none

Add RIP support for OpenBSD (#2753)
  docs/caveats.md
  docs/module/ripv2.md
  docs/platforms.md
  netsim/ansible/templates/ripv2/openbsd.j2
  netsim/ansible/templates/ripv2/openbsd.ripng.j2
  netsim/ansible/templates/ripv2/openbsd.ripv2.j2
  netsim/devices/openbsd.yml
Due: yamllint, ci_tests

Fix: Set next-hop-self in Junos BGP policies only for AF IPv4/IPv6
  netsim/ansible/templates/bgp/junos.j2
  netsim/ansible/templates/bgp/junos.policy.j2
Due: none

Fix: Set next-hop-self in Junos BGP policies only for AF IPv4/IPv6 (#2757)
  netsim/ansible/templates/bgp/junos.j2
  netsim/ansible/templates/bgp/junos.policy.j2
Due: none

Fix: Use importlib to test module import in 'netlab version' command
  netsim/cli/version.py
Due: ci_tests

add redistribution part that was missing and move the shebang so it is printed only once.
  netsim/ansible/templates/ospf/openbsd.j2
  netsim/ansible/templates/ospf/openbsd.ospfv2.j2
  netsim/ansible/templates/ospf/openbsd.ospfv3.j2
Due: none

Internal ipaddr/hwaddr Jinja2 filters
  docs/customize.md
  docs/netlab/report.md
  docs/outputs/report.md
  docs/release/25.11.md
  netsim/cli/validate.py
  netsim/reports/bgp-asn.html.j2
  netsim/reports/bgp-asn.md.j2
  netsim/reports/bgp-prefix.include.j2
  netsim/reports/bgp.j2
  netsim/reports/ipaddr.include.html.j2
  netsim/reports/ipaddr.include.j2
  netsim/utils/filters.py
  netsim/utils/templates.py
  tests/integration/initial/01-interfaces.yml
Due: yamllint, ci_tests

Junos: use BGP neighbor next_hop_self and rr_client attributes
  netsim/ansible/templates/bgp/junos.j2
  netsim/ansible/templates/bgp/junos.policy.j2
  netsim/devices/junos.py
Due: ci_tests

Blooper: use NHS policies only for IPv4/IPv6 AFs
  netsim/devices/junos.py
Due: ci_tests

Fix: use per-AF NHS policy in VRF BGP peers
  netsim/ansible/templates/vrf/junos.bgp.j2
Due: none

OpenBSD: redistribution of static/connected routes into OSPFv2/v3 (#2762)
  netsim/ansible/templates/ospf/openbsd.j2
  netsim/ansible/templates/ospf/openbsd.ospfv2.j2
  netsim/ansible/templates/ospf/openbsd.ospfv3.j2
Due: none
