Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

More typo fixes
  tests/integration/evpn.multihoming/01-esi-lag.yml
  tests/integration/evpn.multihoming/02-esi-lag-auto-id.yml
  tests/integration/vlan/52-vlan-vrf-lite.yml
  tests/integration/vxlan/02-vxlan-bridging-multinode.yml
Due: yamllint, ci_tests

Fix typos
  tests/integration/initial/01-interfaces.yml
  tests/integration/initial/02-loopback.yml
Due: yamllint, ci_tests

Fix some leftover v2 to v3 items in new osfpv3 bfd test
  tests/integration/ospf/ospfv3/42-bfd.yml
Due: yamllint, ci_tests

Fix more issues with search/replace
  tests/integration/vlan/33-vlan-irb-trunk.yml
  tests/integration/vlan/42-vlan-irb-native.yml
  tests/integration/vlan/51-vlan-routed-trunk.yml
  tests/integration/vlan/52-vlan-vrf-lite.yml
  tests/integration/vlan/61-vlan-routed-native.yml
Due: yamllint, ci_tests

Fix: Make 'netlab status' test fully dual-stacked (#3553)
  tests/platform-integration/cli/13-status-mgmt-dual-stack.yml
Due: yamllint, ci_tests

Filter static node next hops by link.
  docs/module/routing-static.txt
  netsim/modules/routing/static.py
  tests/topology/expected/rp-static.yml
  tests/topology/input/rp-static.yml
Due: yamllint, ci_tests

Tighten static next-hop link filter test
  netsim/modules/routing/static.py
  tests/topology/expected/rp-static.yml
  tests/topology/input/rp-static.yml
Due: yamllint, ci_tests

Preserve VRF check order in static next-hop resolution
  netsim/modules/routing/static.py
Due: ci_tests

Fix BIRD VRF feature defaults
  netsim/daemons/bird.yml
  tests/integration/vrf/15-multi-vrf-mixed.yml
Due: yamllint, ci_tests

Add frr.logfile attribute to change the logging file path (#3549)
  docs/caveats.md
  netsim/ansible/templates/initial/frr.j2
  netsim/devices/frr.yml
  tests/integration/initial/01-interfaces.yml
Due: yamllint, ci_tests

Log FRR container output to docker logs.
  netsim/ansible/templates/initial/frr.j2
Due: none

Refine FRR clab docker log relay after dev rebase.
  netsim/ansible/templates/initial/frr.j2
Due: none

Remove redundant touch before FRR log tail relay.
  netsim/ansible/templates/initial/frr.j2
Due: none

Fix wording on BGP BFD error for FRR
  netsim/validate/bgp/frr.py
Due: ci_tests

Set missing BIRD VRF feature flags (#3542)
  netsim/daemons/bird.yml
Due: yamllint, ci_tests

Updated documentation
  docs/caveats.md
Due: none

Log FRR container output to docker logs (#3541)
  docs/caveats.md
  netsim/ansible/templates/initial/frr.j2
Due: none

Make BIRD config work for confed-ebgp
  netsim/daemons/bird/bgp.macros.j2
Due: none

BIRD EVPN MAC VRF support (#3548)
  docs/module/evpn.md
  docs/platforms.md
  netsim/daemons/bird.yml
  netsim/daemons/bird/bgp.j2
  netsim/daemons/bird/bgp.macros.j2
  netsim/daemons/bird/evpn.j2
  netsim/devices/bird.py
Due: yamllint, ci_tests

Filter static route node next hops by link name (#3543)
  docs/module/routing-static.txt
  netsim/modules/routing/static.py
  tests/topology/expected/rp-static.yml
  tests/topology/input/rp-static.yml
Due: yamllint, ci_tests

Fix last issues found by Co-Pilot in DHCP
  tests/integration/dhcp/01-ipv4-client.yml
  tests/integration/dhcp/31-ipv4-client-ospf.yml
Due: yamllint, ci_tests

Fix: 'Get node interface' utility functions
  netsim/augment/nodes.py
Due: ci_tests

Doc: Reorganize the man 'plugins' page
  docs/plugins.md
Due: none

GRE tunnel plugin
  docs/links.md
  docs/plugins.md
  docs/plugins/tunnel.gre.md
  netsim/devices/ios.yml
  netsim/devices/none.yml
  netsim/extra/tunnel.gre/defaults.yml
  netsim/extra/tunnel.gre/ios.j2
  netsim/extra/tunnel.gre/plugin.py
  netsim/utils/tunnel.py
  tests/coverage/expected/gre-source.yml
  tests/coverage/input/gre-source.yml
  tests/integration/tunnel/01-gre.yml
  tests/integration/tunnel/02-gre-vrf.yml
Due: yamllint, ci_tests

Fixing final nits (one can always hope ;)
  netsim/extra/tunnel.gre/plugin.py
  netsim/utils/tunnel.py
Due: ci_tests

Some starter work on OpenBSD VLAN support
  netsim/ansible/templates/vlan/fail-openbsd.j2
  netsim/ansible/templates/vlan/openbsd.j2
  netsim/devices/openbsd.yml
Due: yamllint, ci_tests

Make default image 7.9 for now
  netsim/devices/openbsd.yml
Due: yamllint, ci_tests

Remove legacy integration tests
  tests/integration-legacy/evpn/README.md
  tests/integration-legacy/evpn/mpls-bridging.yml
  tests/integration-legacy/evpn/mpls-symmetric-irb.yml
  tests/integration-legacy/evpn/mpls-vlan-bundle.yml
  tests/integration-legacy/evpn/vxlan-symmetric-irb-proxy-arp.yml
  tests/integration-legacy/evpn/vxlan-vlan-bundle.yml
  tests/integration-legacy/fabric/add_hosts.yml
  tests/integration-legacy/fabric/debug.yml
  tests/integration-legacy/fabric/ebgp.yml
  tests/integration-legacy/fabric/ibgp.yml
  tests/integration-legacy/fabric/simple.yml
  tests/integration-legacy/gateway/anycast/lan-subnet.yml
  tests/integration-legacy/gateway/anycast/vlan.yml
  tests/integration-legacy/gateway/vrrp/lan-subnet.yml
  tests/integration-legacy/gateway/vrrp/vlan.yml
  tests/integration-legacy/mpls/6pe.yml
  tests/integration-legacy/mpls/ldp.yml
  tests/integration-legacy/mpls/multivendor-mpls.yml
  tests/integration-legacy/platform/ceos.yml
  tests/integration-legacy/platform/cumulus.yml
  tests/integration-legacy/platform/dellos10.yml
  tests/integration-legacy/platform/frr-clab.yml
  tests/integration-legacy/platform/routeros.yml
  tests/integration-legacy/platform/srlinux.yml
  tests/integration-legacy/platform/sros-srlinux.yml
  tests/integration-legacy/platform/vyos.yml
  tests/platform-integration/large/02-ibgp-ospf-fabric.yml
  tests/platform-integration/large/03-ebgp-fabric.yml
Due: yamllint, ci_tests

Platform/large tests for #3557
  _html/platform-large.html
  _html/platform.html
  index.html
  platform/large/01-large-topo.yml-initial.log
  platform/large/01-large-topo.yml-up.log
  platform/large/02-ibgp-ospf-fabric.yml-create.log
  platform/large/02-ibgp-ospf-fabric.yml-initial.log
  platform/large/02-ibgp-ospf-fabric.yml-up.log
  platform/large/02-ibgp-ospf-fabric.yml-validate.log
  platform/large/03-ebgp-fabric.yml-create.log
  platform/large/03-ebgp-fabric.yml-initial.log
  platform/large/03-ebgp-fabric.yml-up.log
  platform/large/03-ebgp-fabric.yml-validate.log
  platform/large/cleanup-down.log
  platform/large/results.yaml
Due: yamllint, ci_tests

Remove legacy integration tests (#3557)
  tests/integration-legacy/evpn/README.md
  tests/integration-legacy/evpn/mpls-bridging.yml
  tests/integration-legacy/evpn/mpls-symmetric-irb.yml
  tests/integration-legacy/evpn/mpls-vlan-bundle.yml
  tests/integration-legacy/evpn/vxlan-symmetric-irb-proxy-arp.yml
  tests/integration-legacy/evpn/vxlan-vlan-bundle.yml
  tests/integration-legacy/fabric/add_hosts.yml
  tests/integration-legacy/fabric/debug.yml
  tests/integration-legacy/fabric/ebgp.yml
  tests/integration-legacy/fabric/ibgp.yml
  tests/integration-legacy/fabric/simple.yml
  tests/integration-legacy/gateway/anycast/lan-subnet.yml
  tests/integration-legacy/gateway/anycast/vlan.yml
  tests/integration-legacy/gateway/vrrp/lan-subnet.yml
  tests/integration-legacy/gateway/vrrp/vlan.yml
  tests/integration-legacy/mpls/6pe.yml
  tests/integration-legacy/mpls/ldp.yml
  tests/integration-legacy/mpls/multivendor-mpls.yml
  tests/integration-legacy/platform/ceos.yml
  tests/integration-legacy/platform/cumulus.yml
  tests/integration-legacy/platform/dellos10.yml
  tests/integration-legacy/platform/frr-clab.yml
  tests/integration-legacy/platform/routeros.yml
  tests/integration-legacy/platform/srlinux.yml
  tests/integration-legacy/platform/sros-srlinux.yml
  tests/integration-legacy/platform/vyos.yml
  tests/platform-integration/large/02-ibgp-ospf-fabric.yml
  tests/platform-integration/large/03-ebgp-fabric.yml
Due: yamllint, ci_tests

Add source-build Dockerfile for FRR container images
  netsim/daemons/frr/Dockerfile.j2
Due: none

Fix last few errors brought up by Ivan and file/plugin rename
  tests/integration/dhcp/01-ipv4-client.yml
  tests/integration/dhcp/31-ipv4-client-ospf.yml
  tests/integration/evpn/04-vxlan-central-routing.yml
  tests/integration/vlan/31-s2-native.py
  tests/integration/vlan/31-vlan-bridge-trunk.yml
  tests/integration/vlan/52-vlan-vrf-lite.yml
Due: yamllint, ci_tests

GRE tunnel plugin (#3554)
  docs/links.md
  docs/plugins.md
  docs/plugins/tunnel.gre.md
  netsim/devices/ios.yml
  netsim/devices/none.yml
  netsim/extra/tunnel.gre/defaults.yml
  netsim/extra/tunnel.gre/ios.j2
  netsim/extra/tunnel.gre/plugin.py
  netsim/utils/tunnel.py
  tests/coverage/expected/gre-source.yml
  tests/coverage/input/gre-source.yml
  tests/integration/tunnel/01-gre.yml
  tests/integration/tunnel/02-gre-vrf.yml
Due: yamllint, ci_tests

Missed one again..
  tests/integration/dhcp/01-ipv4-client.yml
Due: yamllint, ci_tests

Fix trailing whitespace in load_plugin_kmods comment.
  netsim/providers/clab/labops.py
Due: ci_tests

Load clab plugin kmods once via load_plugin_kmods().
  netsim/providers/clab/labops.py
Due: ci_tests

Load plugin kmods from node config in clab load_kmods().
  netsim/providers/clab/labops.py
Due: ci_tests

Add FRR GRE tunnel support to tunnel.gre plugin.
  netsim/extra/tunnel.gre/defaults.yml
  netsim/extra/tunnel.gre/frr.j2
  netsim/providers/clab/labops.py
Due: yamllint, ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
