Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Fix: Install extra CI/CD requirements for Sphinx GH pages
  .github/workflows/pages.yml
Due: yamllint, ci_tests

Update Python path
  .github/workflows/pages.yml
Due: yamllint, ci_tests

Fix: Install extra CI/CD requirements for Sphinx GH pages (#3756)
  .github/workflows/pages.yml
Due: yamllint, ci_tests

Custom data types accepted in _keytype validation
  netsim/data/validate.py
  tests/coverage/expected/dict-keytype.yml
  tests/coverage/input/dict-keytype.yml
Due: yamllint, ci_tests

Custom data types accepted in _keytype validation (#3757)
  netsim/data/validate.py
  tests/coverage/expected/dict-keytype.yml
  tests/coverage/input/dict-keytype.yml
Due: yamllint, ci_tests

'device' validation type accepts template devices
  docs/dev/validation-types.txt
  netsim/augment/devices.py
  netsim/data/types.py
Due: ci_tests

Fix an edge case
  netsim/data/types.py
Due: ci_tests

'device' validation type accepts template devices (#3758)
  docs/dev/validation-types.txt
  netsim/augment/devices.py
  netsim/data/types.py
Due: ci_tests

Use parent devices in validation test specs
  docs/topology/validate.md
  netsim/cli/validate/tests.py
  netsim/cli/validate/utils.py
  netsim/defaults/attributes.yml
  tests/integration/services/01-dns-client.yml
Due: yamllint, ci_tests

Removing a spurious warning
  netsim/cli/validate/utils.py
Due: ci_tests

Use parent devices in validation test specs (#3759)
  docs/topology/validate.md
  netsim/cli/validate/tests.py
  netsim/cli/validate/utils.py
  netsim/defaults/attributes.yml
  tests/integration/services/01-dns-client.yml
Due: yamllint, ci_tests

Add 'doc_url' parameter to log.error/warning
  docs/dev/advanced.md
  docs/dev/error-doc-url.md
  docs/module/stp.md
  netsim/defaults/const.yml
  netsim/modules/stp.py
  netsim/utils/log.py
  tests/coverage/errors/stp-doc-url-platform.log
  tests/coverage/errors/stp-doc-url-platform.yml
  tests/errors/stp-on-l3-intf.log
Due: yamllint, ci_tests

Fix borked error test
  tests/coverage/errors/stp-doc-url-platform.log
Due: none

Fixing logical errors
  netsim/utils/log.py
Due: ci_tests

Doc fix: VyOS supports multi-topology IS-IS
  docs/caveats.md
Due: none

fix: add timeout and scheme validation when fetching remote topologies
  netsim/cli/create.py
Due: ci_tests

Add 'doc_url' parameter to log.error/warning (#3764)
  docs/dev/advanced.md
  docs/dev/error-doc-url.md
  docs/module/stp.md
  netsim/defaults/const.yml
  netsim/modules/stp.py
  netsim/utils/log.py
  tests/coverage/errors/stp-doc-url-platform.log
  tests/coverage/errors/stp-doc-url-platform.yml
  tests/errors/stp-on-l3-intf.log
Due: yamllint, ci_tests

Doc: Update the plugin hooks developer documentation
  docs/dev/plugins.md
Due: none

Fixing a typo
  docs/dev/plugins.md
Due: none

Rewording
  docs/dev/plugins.md
Due: none

Doc: Update the plugin hooks developer documentation (#3768)
  docs/dev/plugins.md
Due: none

Add late-transformation-stage plugin hooks
  docs/dev/plugins.md
  netsim/augment/main.py
Due: ci_tests

Fixing a typo
  docs/dev/plugins.md
  netsim/providers/clab/configs.py
Due: ci_tests

Add late-transformation-stage plugin hooks (#3769)
  docs/dev/plugins.md
  netsim/augment/main.py
  netsim/providers/clab/configs.py
Due: ci_tests

Consider files created by configlets in check.config
  netsim/extra/check/config/__init__.py
  tests/coverage/expected/check-config-files.yml
  tests/coverage/input/check-config-files.yml
Due: yamllint, ci_tests

Implement Copilot-suggested improvements
  netsim/extra/check/config/__init__.py
Due: ci_tests

Consider files created by configlets in check.config (#3765)
  netsim/extra/check/config/__init__.py
  tests/coverage/expected/check-config-files.yml
  tests/coverage/input/check-config-files.yml
Due: yamllint, ci_tests

Remove detailed ArcOS caveats from device settings
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

Deprecate IOSv, describe its ancient SSH woes
  docs/caveats.md
  netsim/devices/iosv.yml
Due: yamllint, ci_tests

Cleanup: Use utils.read.system_defaults
  netsim/cli/show/__init__.py
  netsim/cli/usage_actions/show.py
  netsim/cli/version.py
Due: ci_tests

Fixing a nit
  netsim/cli/version.py
Due: ci_tests

Cleanup: Use utils.read.system_defaults (#3772)
  netsim/cli/show/__init__.py
  netsim/cli/usage_actions/show.py
  netsim/cli/version.py
Due: ci_tests

Migrate 'netlab usage' to netsim.cli.usage package
  netsim/cli/usage/__init__.py
  netsim/cli/usage/show.py
  netsim/cli/usage/utils.py
  netsim/cli/usage_actions/__init__.py
Due: ci_tests

Migrate 'netlab usage' to netsim.cli.usage package (#3773)
  netsim/cli/usage/__init__.py
  netsim/cli/usage/show.py
  netsim/cli/usage/utils.py
  netsim/cli/usage_actions/__init__.py
Due: ci_tests

Check paramiko version when used with IOSv
  netsim/devices/iosv.py
Due: ci_tests

Updated documentation
  docs/caveats.md
Due: none

Fixing Copilot-identified details
  netsim/devices/iosv.py
  netsim/devices/iosv.yml
Due: yamllint, ci_tests

Cleaning up documentation
  docs/caveats.md
Due: none

Deprecate IOSv, describe its ancient SSH woes (#3771)
  docs/caveats.md
  netsim/devices/iosv.py
  netsim/devices/iosv.yml
Due: yamllint, ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
