Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Document FRR support in tunnel.gre plugin guide.
  docs/plugins/tunnel.gre.md
Due: none

Move FRR GRE tunnel feature flag to devices/frr.yml
  netsim/devices/frr.yml
  netsim/extra/tunnel.gre/defaults.yml
Due: yamllint, ci_tests

Fix: Do not use default routes in single-VRF GRE tests
  tests/integration/tunnel/01-gre.yml
Due: yamllint, ci_tests

Fix: Do not use default routes in single-VRF GRE tests (#3567)
  tests/integration/tunnel/01-gre.yml
Due: yamllint, ci_tests

Fix BIRD inconsistencies
  docs/dev/config/deploy.md
  docs/module/ospf.md
  docs/platforms.md
  docs/plugins/bgp.session.md
  netsim/daemons/bird.yml
Due: yamllint, ci_tests

Fix BIRD inconsistencies (#3568)
  docs/dev/config/deploy.md
  docs/module/ospf.md
  docs/platforms.md
  docs/plugins/bgp.session.md
  netsim/daemons/bird.yml
Due: yamllint, ci_tests

Simplify load_kmods() with unified @-as-. module key lookup
  netsim/providers/clab/labops.py
Due: ci_tests

[VyOS] moved GRE basic config in initial
  netsim/ansible/templates/initial/vyos.j2
  netsim/ansible/templates/initial/vyos.tunnel.j2
  netsim/extra/tunnel.gre/vyos.j2
Due: none

[VyOS] GRE tunnel initial implementation
  docs/plugins/tunnel.gre.md
  netsim/ansible/templates/initial/vyos.j2
  netsim/devices/vyos.yml
  netsim/extra/tunnel.gre/vyos.j2
Due: yamllint, ci_tests

[VyOS] move gre initial template
  netsim/ansible/templates/initial/vyos.j2
  netsim/extra/tunnel.gre/vyos.initial.j2
Due: none

[VyOS] gre template - add ignore missing
  netsim/ansible/templates/initial/vyos.j2
Due: none

Add package:extra to templates lookup dirs
  netsim/defaults/paths.yml
Due: yamllint, ci_tests

FRR GRE tests for #3561
  _html/coverage.tunnel.html
  _html/frr-clab-tunnel.html
  _html/frr-clab.html
  _html/frr.html
  _html/release-coverage.html
  frr/clab/tunnel/01-gre.yml-create.log
  frr/clab/tunnel/01-gre.yml-initial.log
  frr/clab/tunnel/01-gre.yml-up.log
  frr/clab/tunnel/01-gre.yml-validate.log
  frr/clab/tunnel/02-gre-vrf.yml-create.log
  frr/clab/tunnel/02-gre-vrf.yml-initial.log
  frr/clab/tunnel/02-gre-vrf.yml-up.log
  frr/clab/tunnel/02-gre-vrf.yml-validate.log
  frr/clab/tunnel/cleanup-down.log
  frr/clab/tunnel/results.yaml
  index.html
  map-tests.yml
  setup.yml
Due: yamllint, ci_tests

Feature/frr GRE tunnel support (#3561)
  docs/plugins/tunnel.gre.md
  netsim/devices/frr.yml
  netsim/extra/tunnel.gre/defaults.yml
  netsim/extra/tunnel.gre/frr.j2
  netsim/providers/clab/labops.py
Due: yamllint, ci_tests

Add package:extra to templates lookup dirs (#3570)
  netsim/defaults/paths.yml
Due: yamllint, ci_tests

GRE VyOS integration tests for #3566
  _html/coverage.tunnel.html
  _html/release-coverage.html
  _html/vyos-clab-tunnel.html
  _html/vyos-clab.html
  _html/vyos-libvirt-tunnel.html
  _html/vyos-libvirt.html
  _html/vyos.html
  index.html
  vyos/clab/tunnel/01-gre.yml-create.log
  vyos/clab/tunnel/01-gre.yml-initial.log
  vyos/clab/tunnel/01-gre.yml-up.log
  vyos/clab/tunnel/01-gre.yml-validate.log
  vyos/clab/tunnel/02-gre-vrf.yml-create.log
  vyos/clab/tunnel/02-gre-vrf.yml-initial.log
  vyos/clab/tunnel/02-gre-vrf.yml-up.log
  vyos/clab/tunnel/02-gre-vrf.yml-validate.log
  vyos/clab/tunnel/cleanup-down.log
  vyos/clab/tunnel/results.yaml
  vyos/libvirt/tunnel/01-gre.yml-create.log
  vyos/libvirt/tunnel/01-gre.yml-initial.log
  vyos/libvirt/tunnel/01-gre.yml-up.log
  vyos/libvirt/tunnel/01-gre.yml-validate.log
  vyos/libvirt/tunnel/02-gre-vrf.yml-create.log
  vyos/libvirt/tunnel/02-gre-vrf.yml-initial.log
  vyos/libvirt/tunnel/02-gre-vrf.yml-up.log
  vyos/libvirt/tunnel/02-gre-vrf.yml-validate.log
  vyos/libvirt/tunnel/cleanup-down.log
  vyos/libvirt/tunnel/results.yaml
Due: yamllint, ci_tests

[VyOS] GRE tunnel implementation (#3566)
  docs/plugins/tunnel.gre.md
  netsim/ansible/templates/initial/vyos.j2
  netsim/devices/vyos.yml
  netsim/extra/tunnel.gre/vyos.initial.j2
  netsim/extra/tunnel.gre/vyos.j2
Due: yamllint, ci_tests

JunOS: GRE tunnel on vSRX and vJunos-router
  docs/plugins/tunnel.gre.md
  netsim/devices/vjunos-router.yml
  netsim/devices/vsrx.yml
  netsim/extra/tunnel.gre/junos.j2
Due: yamllint, ci_tests

vJunos-router GRE tests for #3573
  _html/coverage.tunnel.html
  _html/release-coverage.html
  _html/vjunos-router-clab-tunnel.html
  _html/vjunos-router-clab.html
  _html/vjunos-router.html
  index.html
  vjunos-router/clab/tunnel/01-gre.yml-create.log
  vjunos-router/clab/tunnel/01-gre.yml-initial.log
  vjunos-router/clab/tunnel/01-gre.yml-up.log
  vjunos-router/clab/tunnel/01-gre.yml-validate.log
  vjunos-router/clab/tunnel/02-gre-vrf.yml-create.log
  vjunos-router/clab/tunnel/02-gre-vrf.yml-initial.log
  vjunos-router/clab/tunnel/02-gre-vrf.yml-up.log
  vjunos-router/clab/tunnel/02-gre-vrf.yml-validate.log
  vjunos-router/clab/tunnel/cleanup-down.log
  vjunos-router/clab/tunnel/results.yaml
Due: yamllint, ci_tests

JunOS: GRE tunnel on vSRX and vJunos-router (#3573)
  docs/plugins/tunnel.gre.md
  netsim/devices/vjunos-router.yml
  netsim/devices/vsrx.yml
  netsim/extra/tunnel.gre/junos.j2
Due: yamllint, ci_tests

Fix: Move GRE config templates into new directory
  netsim/extra/tunnel/gre/junos.j2
  netsim/extra/tunnel/gre/vyos.initial.j2
  netsim/extra/tunnel/gre/vyos.j2
Due: none

Refactor initial tunnel implementation
  netsim/augment/links.py
  netsim/extra/tunnel/__init__.py
  netsim/extra/tunnel/_p2p.py
  netsim/extra/tunnel/gre/__init__.py
Due: ci_tests

Fixing Copilot-identified nits (take 1?)
  netsim/extra/tunnel/__init__.py
  netsim/extra/tunnel/_p2p.py
Due: ci_tests

Fixing Copilot-identified nits (take 2)
  netsim/augment/links.py
  netsim/extra/tunnel/__init__.py
  netsim/extra/tunnel/_p2p.py
Due: ci_tests

Last tweak (one hopes): remove unused imports
  netsim/extra/tunnel/gre/__init__.py
Due: ci_tests

Refactor initial tunnel implementation (#3576)
  netsim/augment/links.py
  netsim/extra/tunnel/__init__.py
  netsim/extra/tunnel/_p2p.py
  netsim/extra/tunnel/gre/__init__.py
Due: ci_tests

Fix: Only redirect FRR logs to docker stdout when debugging
  netsim/ansible/templates/initial/frr.j2
Due: none

Doc: FRR docker log relay requires frr.debug
  docs/caveats.md
  docs/dev/debugging.md
  docs/node/debug.md
Due: none

Doc: Drop FRR docker log relay note from node debug page
  docs/node/debug.md
Due: none

[FRR] Bugfix log redirect only when debug options are set (#3577)
  docs/caveats.md
  docs/dev/debugging.md
  netsim/ansible/templates/initial/frr.j2
Due: none

Add '_expect_fail' parameter to validation tests
  netsim/cli/validate/plugin.py
  netsim/cli/validate/report.py
  netsim/cli/validate/tests.py
  tests/platform-integration/validate/00-expect-logic.yml
  tests/platform-integration/validate/topology-defaults.yml
Due: yamllint, ci_tests

Fix logic to detect not-failed tests expected to fail
  netsim/cli/validate/tests.py
  tests/platform-integration/validate/00-expect-logic.yml
Due: yamllint, ci_tests

Platform test to check the validation logic
  _html/platform-validate.html
  _html/platform.html
  index.html
  platform/validate/00-expect-logic.yml-create.log
  platform/validate/00-expect-logic.yml-initial.log
  platform/validate/00-expect-logic.yml-up.log
  platform/validate/00-expect-logic.yml-validate.log
  platform/validate/cleanup-down.log
  platform/validate/results.yaml
Due: yamllint, ci_tests

One more glitch: we have to deal with three-state logic
  netsim/cli/validate/tests.py
Due: ci_tests
