Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Vagrant-related platform tests for #3673
  _html/platform-libvirt.html
  _html/platform-multiprovider.html
  platform/libvirt/01-links.yml-initial.log
  platform/libvirt/01-links.yml-up.log
  platform/libvirt/01-links.yml-validate.log
  platform/libvirt/02-mac-ip.yml-initial.log
  platform/libvirt/02-mac-ip.yml-up.log
  platform/libvirt/02-mac-ip.yml-validate.log
  platform/libvirt/03-authentication.yml-initial.log
  platform/libvirt/03-authentication.yml-up.log
  platform/libvirt/03-authentication.yml-validate.log
  platform/libvirt/04-port-fwd.yml-up.log
  platform/libvirt/results.yaml
  platform/multiprovider/01-libvirt-clab-p2p-links.yml-initial.log
  platform/multiprovider/01-libvirt-clab-p2p-links.yml-up.log
  platform/multiprovider/01-libvirt-clab-p2p-links.yml-validate.log
  platform/multiprovider/02-libvirt-clab-lan.yml-initial.log
  platform/multiprovider/02-libvirt-clab-lan.yml-up.log
  platform/multiprovider/02-libvirt-clab-lan.yml-validate.log
  platform/multiprovider/10-libvirt-clab-ssh.yml-initial.log
  platform/multiprovider/10-libvirt-clab-ssh.yml-up.log
  platform/multiprovider/cleanup-down.log
  platform/multiprovider/results.yaml
Due: yamllint, ci_tests

Fix: Set default provider for Vagrant on WSL (#3673)
  netsim/providers/libvirt.py
Due: ci_tests

RouterOS7 OSPFv3-in-VRF tests for #3675
  _html/coverage.vrf.html
  _html/routeros7-libvirt-ospf-ospfv2.html
  _html/routeros7-libvirt-ospf-ospfv3.html
  _html/routeros7-libvirt-vrf.html
  _html/routeros7-libvirt.html
  _html/routeros7.html
  index.html
  routeros7/libvirt/ospf/ospfv2/cleanup-down.log
  routeros7/libvirt/ospf/ospfv2/results.yaml
  routeros7/libvirt/ospf/ospfv3/22-default-vrf.yml-create.log
  routeros7/libvirt/ospf/ospfv3/30-timers.yml-create.log
  routeros7/libvirt/ospf/ospfv3/31-priority.yml-create.log
  routeros7/libvirt/ospf/ospfv3/cleanup-down.log
  routeros7/libvirt/ospf/ospfv3/results.yaml
  routeros7/libvirt/vrf/11-multi-vrf-ospf.yml-initial.log
  routeros7/libvirt/vrf/11-multi-vrf-ospf.yml-validate.log
  routeros7/libvirt/vrf/15-multi-vrf-mixed.yml-initial.log
  routeros7/libvirt/vrf/15-multi-vrf-mixed.yml-up.log
  routeros7/libvirt/vrf/15-multi-vrf-mixed.yml-validate.log
  routeros7/libvirt/vrf/21-multi-vrf-ospfv3.yml-create.log
  routeros7/libvirt/vrf/21-multi-vrf-ospfv3.yml-initial.log
  routeros7/libvirt/vrf/21-multi-vrf-ospfv3.yml-up.log
  routeros7/libvirt/vrf/21-multi-vrf-ospfv3.yml-validate.log
  routeros7/libvirt/vrf/23-multi-vrf-mixed-ipv6.yml-create.log
  routeros7/libvirt/vrf/23-multi-vrf-mixed-ipv6.yml-initial.log
  routeros7/libvirt/vrf/23-multi-vrf-mixed-ipv6.yml-up.log
  routeros7/libvirt/vrf/23-multi-vrf-mixed-ipv6.yml-validate.log
  routeros7/libvirt/vrf/33-vrf-common-ospf.yml-initial.log
  routeros7/libvirt/vrf/33-vrf-common-ospf.yml-up.log
  routeros7/libvirt/vrf/33-vrf-common-ospf.yml-validate.log
  routeros7/libvirt/vrf/34-vrf-common-mixed.yml-initial.log
  routeros7/libvirt/vrf/34-vrf-common-mixed.yml-up.log
  routeros7/libvirt/vrf/34-vrf-common-mixed.yml-validate.log
  routeros7/libvirt/vrf/cleanup-down.log
  routeros7/libvirt/vrf/results.yaml
Due: yamllint, ci_tests

RouterOS7 VRF OSPFv3 support (#3675)
  docs/module/vrf.md
  netsim/ansible/templates/vrf/routeros7.j2
  netsim/ansible/templates/vrf/routeros7.ospfv3-vrf.j2
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

Fix: Routing protocol config is no longer dependent on DHCP (#3674)
  netsim/modules/eigrp.yml
  netsim/modules/isis.yml
  netsim/modules/ospf.yml
  netsim/modules/ripv2.yml
  tests/topology/expected/dhcp-vlan.yml
  tests/topology/expected/groups-hierarchy.yml
Due: yamllint, ci_tests

Add validate_acl_address_entry() and support functions to validate acls/acl_addresses
  netsim/modules/routing/acl.py
Due: ci_tests

Satisfy typing.
  netsim/modules/routing/acl.py
Due: ci_tests

Make "log" and "established" parameters of data model optional, to reduce information on node and simplify template handling
  netsim/modules/routing.yml
Due: yamllint, ci_tests

Add initial ios family template for ACL generation.
  netsim/ansible/templates/routing/acl.ios.j2
  netsim/ansible/templates/routing/ios.j2
Due: none

Add a device flag for not_in operator. While at it, set the flag to False for ios familiy
  netsim/devices/ios.yml
  netsim/modules/routing.yml
Due: yamllint, ci_tests

Add initial support for interface rendering. While at it, guard against routing.acl beeing undefined
  netsim/ansible/templates/routing/acl.ios.j2
Due: none

RouterOS7 static routes tests for #3665
  _html/coverage.r_static.html
  _html/release-coverage.html
  _html/routeros7-libvirt-routing.html
  _html/routeros7-libvirt.html
  _html/routeros7.html
  index.html
  routeros7/libvirt/routing/20-static.yml-create.log
  routeros7/libvirt/routing/20-static.yml-initial.log
  routeros7/libvirt/routing/20-static.yml-up.log
  routeros7/libvirt/routing/20-static.yml-validate.log
  routeros7/libvirt/routing/21-static-vrf.yml-create.log
  routeros7/libvirt/routing/21-static-vrf.yml-initial.log
  routeros7/libvirt/routing/21-static-vrf.yml-up.log
  routeros7/libvirt/routing/21-static-vrf.yml-validate.log
  routeros7/libvirt/routing/22-static-inter-vrf.yml-create.log
  routeros7/libvirt/routing/22-static-inter-vrf.yml-initial.log
  routeros7/libvirt/routing/22-static-inter-vrf.yml-up.log
  routeros7/libvirt/routing/22-static-inter-vrf.yml-validate.log
  routeros7/libvirt/routing/23-static-indirect.yml-create.log
  routeros7/libvirt/routing/23-static-indirect.yml-initial.log
  routeros7/libvirt/routing/23-static-indirect.yml-up.log
  routeros7/libvirt/routing/23-static-indirect.yml-validate.log
  routeros7/libvirt/routing/24-static-indirect-inter-vrf.yml-create.log
  routeros7/libvirt/routing/24-static-indirect-inter-vrf.yml-initial.log
  routeros7/libvirt/routing/24-static-indirect-inter-vrf.yml-up.log
  routeros7/libvirt/routing/24-static-indirect-inter-vrf.yml-validate.log
  routeros7/libvirt/routing/25-static-discard.yml-create.log
  routeros7/libvirt/routing/25-static-discard.yml-initial.log
  routeros7/libvirt/routing/25-static-discard.yml-up.log
  routeros7/libvirt/routing/25-static-discard.yml-validate.log
  routeros7/libvirt/routing/cleanup-down.log
  routeros7/libvirt/routing/results.yaml
Due: yamllint, ci_tests

RouterOS7 static routes (#3665)
  docs/module/routing-static.txt
  netsim/ansible/templates/routing/routeros7.j2
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

Enhance data model to allow both af ipv4/ipv6 ACLs to be specified on an interface.
  netsim/modules/routing.yml
Due: yamllint, ci_tests

Teach def resolve_interface_acl_references() to validate ACL af.
  netsim/modules/routing/acl.py
Due: ci_tests

Add support for ipv6 in ios template
  netsim/ansible/templates/routing/acl.ios.j2
Due: none

Get read of def normalize_acl_entry(), as we didnt end up doing any work there. use the generic normalization function in the callback table.
  netsim/modules/routing/__init__.py
  netsim/modules/routing/acl.py
Due: ci_tests

Add blank file for RouterOS 7 GRE, all config done in initial
  netsim/extra/tunnel/gre/routeros7.j2
Due: none

Add expand_acl_portop(). The function handles ACL entries expansion on devices which do not have support for not_in operator. While at it, factor out ACL expansion by description.
  netsim/modules/routing/acl.py
Due: ci_tests

Aplly ruff formatting, god help me.
  netsim/modules/routing/acl.py
Due: ci_tests

Fix: Move FRR 'netlab_linux_packages' to libvirt-only setup
  netsim/devices/frr.yml
Due: yamllint, ci_tests

Fix: Move FRR 'netlab_linux_packages' to libvirt-only setup (#3677)
  netsim/devices/frr.yml
Due: yamllint, ci_tests

Add SONiC containerlab integration test topologies
  tests/integration/platform/sonic_clab/01-initial.yml
  tests/integration/platform/sonic_clab/02-ospf.yml
  tests/integration/platform/sonic_clab/03-bgp.yml
  tests/integration/platform/sonic_clab/04-isis.yml
  tests/integration/platform/sonic_clab/05-vrf.yml
  tests/integration/platform/sonic_clab/06-mpls-sr-l3vpn.yml
  tests/integration/platform/sonic_clab/07-srv6.yml
  tests/integration/platform/sonic_clab/08-vlan.yml
  tests/integration/platform/sonic_clab/09-lag.yml
  tests/integration/platform/sonic_clab/11-vxlan-evpn.yml
  tests/integration/platform/sonic_clab/12-evpn-irb-l3vni.yml
  tests/integration/platform/sonic_clab/13-vrf-leak.yml
  tests/integration/platform/sonic_clab/14-bgp-session.yml
  tests/integration/platform/sonic_clab/15-bgp-policy.yml
  tests/integration/platform/sonic_clab/16-ebgp-multihop.yml
  tests/integration/platform/sonic_clab/17-ospf-areas.yml
  tests/integration/platform/sonic_clab/18-bgp-originate.yml
  tests/integration/platform/sonic_clab/19-bfd.yml
  tests/integration/platform/sonic_clab/20-ripv2.yml
  tests/integration/platform/sonic_clab/21-evpn-multihoming.yml
  tests/integration/platform/sonic_clab/22-ospfv3.yml
  tests/integration/platform/sonic_clab/23-isis-v6-bgp-v6.yml
  tests/integration/platform/sonic_clab/24-routing-v6.yml
  tests/integration/platform/sonic_clab/25-vrf-v6-leak.yml
  tests/integration/platform/sonic_clab/26-vrf-v6-ospfv3.yml
  tests/integration/platform/sonic_clab/27-tunnel-gre.yml
  tests/integration/platform/sonic_clab/28-files-maxprefix.yml
  tests/integration/platform/sonic_clab/29-bgp-domain.yml
  tests/integration/platform/sonic_clab/README.md
  tests/integration/platform/sonic_clab/h1-fixaddr/linux.j2
Due: yamllint, ci_tests

Add SONiC containerlab (docker-sonic-vs) device variant
  netsim/ansible/tasks/deploy-config/sonic_clab.yml
  netsim/ansible/tasks/readiness-check/sonic_clab.yml
  netsim/ansible/templates/initial/sonic_clab.j2
  netsim/ansible/templates/lag/sonic_clab.initial.j2
  netsim/ansible/templates/lag/sonic_clab.j2
  netsim/ansible/templates/vlan/sonic_clab.initial.j2
  netsim/ansible/templates/vlan/sonic_clab.j2
  netsim/ansible/templates/vxlan/sonic_clab.j2
  netsim/devices/sonic_clab.yml
  netsim/validate/sonic_clab.py
Due: yamllint, ci_tests

docs: document the SONiC containerlab (sonic_clab) device
  docs/caveats.md
  docs/labs/sonic.md
  docs/platforms.md
  docs/release/26.07.md
Due: none

Add missing VRF component to remote-address argument
  netsim/extra/tunnel/gre/routeros7.j2
Due: none

RouterOS7 GRE tests for #3660
  _html/coverage.tunnel.html
  _html/release-coverage.html
  _html/routeros7-libvirt-tunnel.html
  _html/routeros7-libvirt.html
  _html/routeros7.html
  index.html
  routeros7/libvirt/tunnel/01-gre.yml-create.log
  routeros7/libvirt/tunnel/01-gre.yml-initial.log
  routeros7/libvirt/tunnel/01-gre.yml-up.log
  routeros7/libvirt/tunnel/01-gre.yml-validate.log
  routeros7/libvirt/tunnel/02-gre-vrf.yml-create.log
  routeros7/libvirt/tunnel/02-gre-vrf.yml-initial.log
  routeros7/libvirt/tunnel/02-gre-vrf.yml-up.log
  routeros7/libvirt/tunnel/02-gre-vrf.yml-validate.log
  routeros7/libvirt/tunnel/03-wireguard.yml-create.log
  routeros7/libvirt/tunnel/04-wireguard-vrf.yml-create.log
  routeros7/libvirt/tunnel/cleanup-down.log
  routeros7/libvirt/tunnel/results.yaml
Due: yamllint, ci_tests

Add RouterOS7 GRE Tunnel Support (#3660)
  docs/plugins/tunnel.gre.md
  netsim/ansible/templates/initial/routeros7.j2
  netsim/devices/routeros7.yml
  netsim/extra/tunnel/gre/routeros7.j2
Due: yamllint, ci_tests

Fix ios acl template: - remove fallthrough in r_addr macro - indent jinja as per Netlab standards - consistent spacing - bug in ipv6 access list command generation - beautify interfaces section
  netsim/ansible/templates/routing/acl.ios.j2
Due: none

Revert "Add a device flag for not_in operator."
  netsim/devices/ios.yml
  netsim/modules/routing.yml
Due: yamllint, ci_tests

Remove not_in fature flag check. Not needed after 242882 was reverted
  netsim/modules/routing/acl.py
Due: ci_tests

Remove unused import to satisfy linter
  netsim/modules/routing/acl.py
Due: ci_tests

Remove support for enetring protcols in string form in data model. Add ipv6. While at it, update protocol_number table to reflect the changes
  netsim/modules/routing.yml
  netsim/modules/routing/acl.py
Due: yamllint, ci_tests

Add the ansible validation action
  docs/topology/validate.md
  netsim/augment/validate.py
  netsim/cli/validate/ansible.py
  netsim/cli/validate/plugin.py
  netsim/cli/validate/tests.py
  netsim/cli/validate/utils.py
  netsim/defaults/attributes.yml
  netsim/defaults/hints.yml
  tests/coverage/errors/validation-checks.log
Due: yamllint, ci_tests

Add ipv4 ACL integration test. The tests relay on busybox netcat. Since it doesn't proprely support -k option on server side, the tests are one shot.
  tests/integration/routing/26-acl-ipv4.yml
Due: yamllint, ci_tests

Add the ansible validation action (#3684)
  docs/topology/validate.md
  netsim/augment/validate.py
  netsim/cli/validate/ansible.py
  netsim/cli/validate/plugin.py
  netsim/cli/validate/tests.py
  netsim/cli/validate/utils.py
  netsim/defaults/attributes.yml
  netsim/defaults/hints.yml
  tests/coverage/errors/validation-checks.log
Due: yamllint, ci_tests

Fixing the world with whitespaces. Take 1 of n.
  tests/integration/routing/26-acl-ipv4.yml
Due: yamllint, ci_tests

Add IP Infusion OcNOS device
  netsim/ansible/tasks/deploy-config/ocnos.yml
  netsim/ansible/tasks/fetch-config/ocnos.yml
  netsim/ansible/tasks/readiness-check/ocnos.yml
  netsim/ansible/templates/bfd/ocnos.j2
  netsim/ansible/templates/bgp/ocnos.j2
  netsim/ansible/templates/dhcp/ocnos.j2
  netsim/ansible/templates/evpn/ocnos.j2
  netsim/ansible/templates/gateway/ocnos.j2
  netsim/ansible/templates/initial/ocnos.j2
  netsim/ansible/templates/isis/ocnos.j2
  netsim/ansible/templates/lag/ocnos.j2
  netsim/ansible/templates/mpls/ocnos.j2
  netsim/ansible/templates/ospf/ocnos.j2
  netsim/ansible/templates/ripv2/ocnos.j2
  netsim/ansible/templates/routing/ocnos.j2
  netsim/ansible/templates/sr/ocnos.j2
  netsim/ansible/templates/srv6/ocnos.j2
  netsim/ansible/templates/stp/ocnos.j2
  netsim/ansible/templates/vlan/ocnos.j2
  netsim/ansible/templates/vrf/ocnos.j2
  netsim/ansible/templates/vxlan/ocnos.j2
  netsim/devices/ocnos.yml
  netsim/extra/bgp/policy/ocnos.j2
  netsim/extra/bgp/session/ocnos.j2
  netsim/extra/ebgp/multihop/ocnos.j2
  netsim/extra/evpn/multihoming/ocnos.j2
  netsim/extra/ospf/areas/ocnos.j2
  netsim/extra/tunnel/gre/ocnos.j2
  netsim/extra/vrrp/version/ocnos.j2
  netsim/validate/bgp/ocnos.py
  netsim/validate/isis/ocnos.py
  netsim/validate/ocnos.py
  netsim/validate/ospf/ocnos.py
  tests/integration/platform/ocnos/README.md
  tests/integration/platform/ocnos/ospf-bgp.yml
Due: yamllint, ci_tests

docs: OcNOS platform support and release notes
  docs/caveats.md
  docs/install/ocnos.md
  docs/platforms.md
  docs/release/26.07.md
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
