Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Template fixes
  netsim/extra/ebgp.multihop/dellos10.j2
  netsim/extra/ebgp.multihop/sros.j2
Due: none

Fix: Unify handling of in-VRF multihop EBGP templates (#3188)
  netsim/extra/ebgp.multihop/arubacx.j2
  netsim/extra/ebgp.multihop/cumulus_nvue.j2
  netsim/extra/ebgp.multihop/dellos10.j2
  netsim/extra/ebgp.multihop/eos.j2
  netsim/extra/ebgp.multihop/frr.j2
  netsim/extra/ebgp.multihop/ios.j2
  netsim/extra/ebgp.multihop/junos.j2
  netsim/extra/ebgp.multihop/srlinux.j2
  netsim/extra/ebgp.multihop/sros.j2
Due: none

Cleanup EBGP multihop integration tests
  tests/integration/bgp.multihop/01-global.yml
  tests/integration/bgp.multihop/02-vrf.yml
Due: yamllint, ci_tests

Fix: Add 'remove_af' action to the test adjustment plugin
  tests/integration/plugin/adjust_test.py
Due: ci_tests

IOS XR BGP TCP-AO implementation and IOS XE fixes
  docs/caveats.md
  docs/plugins/bgp.session.md
  netsim/devices/csr.yml
  netsim/devices/iol.yml
  netsim/devices/xr.yml
  netsim/extra/bgp.session/ios.j2
  netsim/extra/bgp.session/iosxr.j2
  netsim/extra/bgp.session/plugin.py
  tests/integration/bgp.session/x-09-tcp-ao.yml
Due: yamllint, ci_tests

Fixing bloopers
  docs/dev/config/ebgp.multihop.md
Due: none

Remove empty value from bgp.tcp_ao valid values
  netsim/extra/bgp.session/defaults.yml
  netsim/extra/bgp.session/iosxr.j2
  netsim/extra/bgp.session/sros.j2
Due: yamllint, ci_tests

IOS XR BGP TCP-AO implementation and IOS XE fixes (#3190)
  docs/caveats.md
  docs/plugins/bgp.session.md
  netsim/devices/csr.yml
  netsim/devices/iol.yml
  netsim/devices/xr.yml
  netsim/extra/bgp.session/defaults.yml
  netsim/extra/bgp.session/ios.j2
  netsim/extra/bgp.session/iosxr.j2
  netsim/extra/bgp.session/plugin.py
  netsim/extra/bgp.session/sros.j2
  tests/integration/bgp.session/x-09-tcp-ao.yml
Due: yamllint, ci_tests

Final fixes
  docs/dev/config/ebgp.multihop.md
Due: none

GitHub Copilot skills
  .github/skills/developer-documentation/SKILL.md
  .github/skills/release-notes/SKILL.md
Due: none

Add developer documentation for ebgp.multihop plugin (#3189)
  docs/dev/config/ebgp.multihop.md
  docs/dev/config/index.md
Due: none

Updated with recent commits
  docs/release.md
  docs/release/26.03.md
Due: none

Release notes 26.03 (#3183)
  docs/module/evpn.md
  docs/module/sr-mpls.md
  docs/release.md
  docs/release/26.03.md
Due: none

Update .github/skills/release-notes/SKILL.md
  .github/skills/release-notes/SKILL.md
Due: none

GitHub Copilot skills (#3192)
  .github/skills/developer-documentation/SKILL.md
  .github/skills/release-notes/SKILL.md
Due: none

Release 26.03
  .github/skills/release/SKILL.md
  README.md
  docs/release/26.03.md
  legacy/setup.py
  netsim/__init__.py
Due: ci_tests

Release 26.03 (#3193)
  .github/skills/release/SKILL.md
  README.md
  docs/release/26.03.md
  legacy/setup.py
  netsim/__init__.py
Due: ci_tests

docs: add configuration template developer documentation for SRv6 module
  docs/dev/config/index.md
  docs/dev/config/srv6.md
Due: none

IOS XR SRv6 support
  docs/module/srv6.md
  docs/platforms.md
  netsim/ansible/templates/srv6/iosxr.bgp.j2
  netsim/ansible/templates/srv6/iosxr.j2
  netsim/devices/xr.yml
  netsim/modules/srv6.py
Due: yamllint, ci_tests

Update XR footnote
  docs/module/srv6.md
Due: none

Fix: Implement symbolic timeouts in SRv6 integration tests
  tests/integration/srv6/02-isis-ipv4-bgp-vpn.yml
  tests/integration/srv6/12-isis-ipv6-bgp-vpn.yml
Due: yamllint, ci_tests

IOS XR SRv6 tests for #3195
  _html/coverage.srv6.html
  _html/iosxr-clab-srv6.html
  _html/iosxr-clab.html
  _html/iosxr.html
  _html/release-coverage.html
  index.html
  iosxr/clab/srv6/02-isis-ipv4-bgp-vpn.yml-create.log
  iosxr/clab/srv6/02-isis-ipv4-bgp-vpn.yml-initial.log
  iosxr/clab/srv6/02-isis-ipv4-bgp-vpn.yml-up.log
  iosxr/clab/srv6/02-isis-ipv4-bgp-vpn.yml-validate.log
  iosxr/clab/srv6/12-isis-ipv6-bgp-vpn.yml-create.log
  iosxr/clab/srv6/12-isis-ipv6-bgp-vpn.yml-initial.log
  iosxr/clab/srv6/12-isis-ipv6-bgp-vpn.yml-up.log
  iosxr/clab/srv6/12-isis-ipv6-bgp-vpn.yml-validate.log
  iosxr/clab/srv6/cleanup-down.log
  iosxr/clab/srv6/results.yaml
Due: yamllint, ci_tests

IOS XR SRv6 support (#3195)
  docs/module/srv6.md
  docs/platforms.md
  netsim/ansible/templates/srv6/iosxr.bgp.j2
  netsim/ansible/templates/srv6/iosxr.j2
  netsim/devices/xr.yml
  netsim/modules/srv6.py
Due: yamllint, ci_tests

Fix: SRv6 implemented only on XRv/XRd
  docs/module/srv6.md
  netsim/devices/iosxr.yml
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Cleanup and fixes
  docs/dev/config/srv6.md
Due: none

docs: Add configuration template developer documentation for SRv6 module (#3194)
  docs/dev/config/index.md
  docs/dev/config/srv6.md
Due: none

Doc Fix: Dell OS10 supports BGP routing policies
  docs/plugins/bgp.policy.md
Due: none

Bump FRR release to 10.5.3
  netsim/devices/frr.yml
Due: yamllint, ci_tests

Bump FRR release to 10.5.3 (#3200)
  netsim/devices/frr.yml
Due: yamllint, ci_tests

FortiOS: static routing with discard support
  netsim/ansible/templates/routing/fortios.j2
  netsim/devices/fortios.py
  netsim/devices/fortios.yml
Due: yamllint, ci_tests

Fix Python imports, update platform support tables
  docs/module/routing-static.txt
  docs/module/routing.md
  netsim/devices/fortios.py
Due: ci_tests

Quote interface names
  netsim/ansible/templates/routing/fortios.j2
Due: none

Fix custom task paths in custom config deployment
  netsim/ansible/tasks/deploy-custom-config.yml
  netsim/cli/config.py
  netsim/cli/initial/deploy.py
Due: yamllint, ci_tests

Rename fortinet... files to fortios
  netsim/ansible/tasks/deploy-config/fortios.yml
  netsim/ansible/tasks/fetch-config/fortios.yml
  netsim/ansible/tasks/fortios/initial.yml
  netsim/ansible/tasks/readiness-check/fortios-clab.yml
  netsim/ansible/templates/initial/fortios.j2
  netsim/ansible/templates/ospf/fortios.j2
  netsim/extra/firewall.zonebased/deploy.fortios.yml
  netsim/extra/firewall.zonebased/fortios.j2
  tests/integration-legacy/platform/fortinet.yml
Due: yamllint, ci_tests

New report: nodes, node IDs, devices, and images
  netsim/reports/devices.html.j2
  netsim/reports/devices.j2
  netsim/reports/devices.md.j2
Due: none

Potential fix for pull request finding
  netsim/reports/devices.html.j2
Due: none

Potential fix for pull request finding
  netsim/reports/devices.md.j2
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
