Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Make linter happy. Take 2 of n
  tests/integration/routing/26-acl-ipv4.yml
Due: yamllint, ci_tests

Fix ipv6 access-list sequence generation for ipv6
  netsim/ansible/templates/routing/acl.ios.j2
Due: none

Add an ipv6 test. Switch to OpenBSD netcat to specify source address.
  tests/integration/routing/27-acl-ipv6.yml
Due: yamllint, ci_tests

Trailing spaces.
  tests/integration/routing/27-acl-ipv6.yml
Due: yamllint, ci_tests

docs: add Arrcus ArcOS platform documentation
  docs/caveats.md
  docs/install/arcos.md
  docs/platforms.md
  docs/release/26.07.md
Due: none

Add Arrcus ArcOS containerlab device
  netsim/ansible/tasks/deploy-config/arcos.yml
  netsim/ansible/tasks/fetch-config/arcos.yml
  netsim/ansible/templates/bfd/arcos.j2
  netsim/ansible/templates/bgp/arcos.j2
  netsim/ansible/templates/dhcp/arcos.j2
  netsim/ansible/templates/evpn/arcos.j2
  netsim/ansible/templates/gateway/arcos.j2
  netsim/ansible/templates/initial/arcos.j2
  netsim/ansible/templates/isis/arcos.j2
  netsim/ansible/templates/lag/arcos.j2
  netsim/ansible/templates/mpls/arcos.j2
  netsim/ansible/templates/ospf/arcos.j2
  netsim/ansible/templates/routing/arcos.j2
  netsim/ansible/templates/sr/arcos.j2
  netsim/ansible/templates/srv6/arcos.j2
  netsim/ansible/templates/vlan/arcos.j2
  netsim/ansible/templates/vrf/arcos.j2
  netsim/ansible/templates/vxlan/arcos.j2
  netsim/devices/arcos.yml
  netsim/templates/provider/clab/arcos/netlab-config.j2
  netsim/templates/provider/libvirt/arcos-domain.j2
  netsim/validate/arcos.py
  netsim/validate/bgp/arcos.py
  netsim/validate/isis/arcos.py
  netsim/validate/ospf/arcos.py
  netsim/validate/routing/__init__.py
  netsim/validate/routing/arcos.py
Due: yamllint, ci_tests

Update 26-acl-ipv4.yml: Typo
  tests/integration/routing/26-acl-ipv4.yml
Due: yamllint, ci_tests

Fix nits, finalize the integration test
  netsim/ansible/templates/services/ios.j2
  netsim/modules/services.py
  netsim/modules/services.yml
  tests/coverage/expected/svc-server.yml
  tests/integration/services/01-dns-client.yml
  tests/integration/services/x-01-dns-client.yml
  tests/topology/expected/dhcp-server-on-segment.yml
  tests/topology/expected/dhcp-vlan.yml
Due: yamllint, ci_tests

Validate that ACL protocol is in valida IANA range.
  netsim/modules/routing/acl.py
Due: ci_tests

Shuffle arround some j2 varibales declaration to please the eyes.
  netsim/ansible/templates/routing/acl.ios.j2
Due: none

Trim j2 macros
  netsim/ansible/templates/routing/acl.ios.j2
Due: none

Teach ios family ACL template to deal with dialect differences between IOS and IOS-XE
  netsim/ansible/templates/routing/acl.ios.j2
Due: none

Add initial ACL documentation.
  docs/module/routing-acl.txt
  docs/module/routing.md
Due: none

Fail loudly if the data model validation for protocol as string was changed without keeping the lookup table in sync.
  netsim/modules/routing/acl.py
Due: ci_tests

Enable vrnetlab CLAB_MGMT_PASSTHROUGH on devices supporting it
  netsim/devices/asav.yml
  netsim/devices/cat8000v.yml
  netsim/devices/csr.yml
  netsim/devices/nxos.yml
  netsim/devices/sros.yml
  netsim/devices/vjunos-router.yml
  netsim/devices/vjunos-switch.yml
  netsim/devices/vptx.yml
  netsim/devices/vsrx.yml
Due: yamllint, ci_tests

Updated documentation
  docs/labs/clab.md
  docs/release.md
  docs/release/26.08.md
Due: none

Enable ACLs on Arista EOS and add initial template
  netsim/ansible/templates/routing/acl.eos.j2
  netsim/ansible/templates/routing/eos.j2
  netsim/devices/eos.yml
Due: yamllint, ci_tests

Use local dnsmasq directive for netlab domain and host-only queries
  netsim/daemons/dnsmasq/dnsmasq.j2
Due: none

Partial revert: keep CLAB_MGMT_PASSTHROUGH, revert image version
  netsim/devices/vjunos-router.yml
Due: yamllint, ci_tests

Bump vJunos router image to 26.2R1.7
  netsim/devices/vjunos-router.yml
Due: yamllint, ci_tests

Refactor RouterOS7 to use extra_initial()
  netsim/ansible/templates/initial/routeros7.j2
  netsim/ansible/templates/initial/routeros7.vrf.j2
  netsim/ansible/templates/routing/routeros7.j2
  netsim/ansible/templates/vlan/routeros7.initial.j2
  netsim/ansible/templates/vrf/routeros7.initial.j2
  netsim/extra/tunnel/gre/routeros7.initial.j2
Due: none

Bump vJunos router image to 26.2R1.7 (#3688)
  netsim/devices/vjunos-router.yml
Due: yamllint, ci_tests

Enable vrnetlab CLAB_MGMT_PASSTHROUGH on devices supporting it (#3686)
  docs/labs/clab.md
  docs/release.md
  docs/release/26.08.md
  netsim/devices/asav.yml
  netsim/devices/cat8000v.yml
  netsim/devices/csr.yml
  netsim/devices/nxos.yml
  netsim/devices/sros.yml
  netsim/devices/vjunos-router.yml
  netsim/devices/vjunos-switch.yml
  netsim/devices/vptx.yml
  netsim/devices/vsrx.yml
Due: yamllint, ci_tests

Refactor RouterOS7 to use extra_initial() (#3689)
  netsim/ansible/templates/initial/routeros7.j2
  netsim/ansible/templates/initial/routeros7.vrf.j2
  netsim/ansible/templates/routing/routeros7.j2
  netsim/ansible/templates/vlan/routeros7.initial.j2
  netsim/ansible/templates/vrf/routeros7.initial.j2
  netsim/extra/tunnel/gre/routeros7.initial.j2
Due: none

JunOS: removing gre over ipv6, add caveats for ospfv3
  docs/caveats.md
  docs/plugins/tunnel.gre.md
  netsim/devices/vjunos-router.yml
  netsim/devices/vsrx.yml
Due: yamllint, ci_tests

Fix remark generation for iosv/iosvl2 devices, af ipv6.
  netsim/ansible/templates/routing/acl.ios.j2
Due: none

Mention support for ACLs on Arista EOS
  docs/module/routing-acl.txt
  docs/module/routing.md
Due: none

Remove "platform support" section from ACL docs, as we do not have per platform supported features yet.
  docs/module/routing-acl.txt
Due: none

arcos: address review -- IPv4/IPv6 parity, multi-area OSPF, IS-IS caveat
  docs/caveats.md
  docs/platforms.md
  netsim/ansible/templates/bgp/arcos.j2
  netsim/ansible/templates/initial/arcos.j2
  netsim/ansible/templates/isis/arcos.j2
  netsim/ansible/templates/ospf/arcos.j2
  netsim/ansible/templates/routing/arcos.j2
  netsim/ansible/templates/vrf/arcos.j2
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

Redo failed RouterOS7 test
  _html/coverage.vlan.html
  _html/routeros7-libvirt-vlan.html
  _html/routeros7-libvirt.html
  _html/routeros7.html
  index.html
  routeros7/libvirt/vlan/52-vlan-vrf-lite.yml-initial.log
  routeros7/libvirt/vlan/52-vlan-vrf-lite.yml-up.log
  routeros7/libvirt/vlan/52-vlan-vrf-lite.yml-validate.log
  routeros7/libvirt/vlan/cleanup-down.log
  routeros7/libvirt/vlan/results.yaml
Due: yamllint, ci_tests

Adding Junos quirk to tunnel integration test
  tests/integration/tunnel/01-gre.yml
Due: yamllint, ci_tests

vJunos-router GRE test for #3691
  _html/coverage.tunnel.html
  _html/vjunos-router-clab-tunnel.html
  _html/vjunos-router-clab.html
  _html/vjunos-router.html
  index.html
  vjunos-router/clab/tunnel/01-gre.yml-create.log
  vjunos-router/clab/tunnel/01-gre.yml-initial.log
  vjunos-router/clab/tunnel/01-gre.yml-up.log
  vjunos-router/clab/tunnel/01-gre.yml-validate.log
  vjunos-router/clab/tunnel/cleanup-down.log
  vjunos-router/clab/tunnel/results.yaml
Due: yamllint, ci_tests

JunOS: removing GRE over IPv6, add caveats for OSPFv3 (#3691)
  docs/caveats.md
  docs/plugins/tunnel.gre.md
  netsim/devices/vjunos-router.yml
  netsim/devices/vsrx.yml
  tests/integration/tunnel/01-gre.yml
Due: yamllint, ci_tests

Stabilize MTU validation after PMTU updates.
  tests/integration/initial/04-mtu.yml
Due: yamllint, ci_tests

fix(arcos): sanitise underscores in the system hostname
  netsim/ansible/templates/initial/arcos.j2
Due: none

fix(arcos): keep the newline after the VLAN trunk interface-mode line
  netsim/ansible/templates/vlan/arcos.j2
Due: none

fix(arcos): configure routed VLAN subinterfaces
  netsim/ansible/templates/initial/arcos.j2
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

fix(arcos): address switched-VLAN config on a LAG through 'aggregation'
  netsim/ansible/templates/vlan/arcos.j2
Due: none

fix(arcos): render IPv6 addresses and the MTU leaf on SVIs
  netsim/ansible/templates/vlan/arcos.j2
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
