Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Remove support for Python 3.8/3.9 and Ubuntu 20.04
  .github/workflows/ruff.yml
  .github/workflows/t-pull.yml
  .github/workflows/t-push.yml
  .github/workflows/t-yamllint.yml
  docs/install.md
  docs/labs/libvirt-box-caveats.md
  docs/netlab/install.md
  netsim/install/install.yml
  setup.py
Due: yamllint, ci_tests

Fix footnote references
  docs/install.md
  docs/netlab/install.md
Due: none

Remove references to Python 3.8
  AGENTS.md
  docs/install/linux.md
  legacy/setup.py
  setup.py
Due: ci_tests

Fix: Junos routing policies no longer need an internal community
  netsim/ansible/templates/bgp/junos.macro.j2
  netsim/ansible/templates/bgp/junos.policy.j2
  netsim/ansible/templates/evpn/junos/common.j2
  netsim/ansible/templates/routing/junos.j2
  netsim/ansible/templates/routing/junos/route_policy.j2
Due: none

Fixing my sloppy work
  netsim/ansible/templates/bgp/junos.macro.j2
Due: none

Added missing quotes
  .github/workflows/t-yamllint.yml
Due: yamllint, ci_tests

Adjust the code based on the review feedback
  netsim/cli/__init__.py
  netsim/cli/down.py
  netsim/cli/external_commands.py
  netsim/cli/up.py
  tests/platform-integration/cli/01-up-hooks.yml
Due: yamllint, ci_tests

Documentation
  docs/customize.md
  docs/dev/advanced.md
  docs/dev/cli-hooks.md
  docs/netlab/config.md
  docs/netlab/down.md
  docs/netlab/up.md
  docs/providers.md
Due: none

Final tweaks
  docs/dev/cli-hooks.md
  netsim/cli/up.py
Due: ci_tests

Fix: Use 'accept' in user-defined Junos policies (not 'next-policy')
  netsim/ansible/templates/routing/junos/route_policy.j2
Due: none

SRv6 next hops for global BGP routes on FRR
  docs/module/srv6.md
  netsim/ansible/templates/srv6/frr.bgp.j2
  netsim/ansible/templates/srv6/frr.j2
  netsim/devices/frr.yml
  tests/integration/srv6/01-isis-ipv4-bgp.yml
  tests/integration/srv6/11-isis-ipv6-bgp.yml
Due: yamllint, ci_tests

FRR SRv6 integration tests for #3369
  _html/frr-clab-srv6.html
  frr/clab/srv6/01-isis-ipv4-bgp.yml-create.log
  frr/clab/srv6/01-isis-ipv4-bgp.yml-initial.log
  frr/clab/srv6/01-isis-ipv4-bgp.yml-up.log
  frr/clab/srv6/01-isis-ipv4-bgp.yml-validate.log
  frr/clab/srv6/11-isis-ipv6-bgp.yml-create.log
  frr/clab/srv6/11-isis-ipv6-bgp.yml-initial.log
  frr/clab/srv6/11-isis-ipv6-bgp.yml-up.log
  frr/clab/srv6/11-isis-ipv6-bgp.yml-validate.log
  frr/clab/srv6/12-isis-ipv6-bgp-vpn.yml-initial.log
  frr/clab/srv6/12-isis-ipv6-bgp-vpn.yml-up.log
  frr/clab/srv6/cleanup-down.log
  frr/clab/srv6/results.yaml
  index.html
Due: yamllint, ci_tests

Fix: Check for VLAN/VRF-enabled nodes attached to VLAN/VRF links
  netsim/modules/_dataplane.py
  netsim/modules/vlan.py
  netsim/modules/vrf.py
  tests/coverage/errors/vlan-no-node-module.log
  tests/coverage/errors/vlan-no-node-module.yml
  tests/coverage/errors/vrf-no-node-module.log
  tests/coverage/errors/vrf-no-node-module.yml
Due: yamllint, ci_tests

Make VRF error a warning
  netsim/modules/_dataplane.py
  netsim/modules/vlan.py
  tests/coverage/errors/vrf-no-node-module.log
  tests/coverage/errors/vrf-no-node-module.yml
  tests/integration/warnings.yml
Due: yamllint, ci_tests

Fix: Warn about links having irrelevant module attributes
  netsim/modules/__init__.py
  netsim/modules/_dataplane.py
  tests/coverage/errors/link-no-node-module.log
  tests/coverage/errors/link-no-node-module.yml
Due: yamllint, ci_tests

Amend coverage tests
  tests/coverage/expected/rt-vlan-anycast.yml
  tests/coverage/input/rt-vlan-anycast.yml
Due: yamllint, ci_tests

Cleanup SRv6 documentation
  docs/module/srv6.md
Due: none

Fix: use shlex.split and shlex.join in run_command
  netsim/cli/external_commands.py
  tests/platform-integration/cli/01-up-hooks.yml
Due: yamllint, ci_tests

Fix: Limit SRv6 services to IBGP
  netsim/modules/srv6.yml
Due: yamllint, ci_tests

Fix: Make SRv6 allocate_loopback parameter obsolete
  docs/release/26.05.md
  netsim/modules/srv6.py
  netsim/modules/srv6.yml
  tests/integration/srv6/01-isis-ipv4-bgp.yml
  tests/integration/srv6/02-isis-ipv4-bgp-vpn.yml
  tests/integration/srv6/11-isis-ipv6-bgp.yml
  tests/integration/srv6/12-isis-ipv6-bgp-vpn.yml
Due: yamllint, ci_tests

Fix: Cope with shlex errors
  netsim/cli/external_commands.py
Due: ci_tests

Fix: allocate_loopback is no longer a valid node attribute
  netsim/modules/srv6.yml
Due: yamllint, ci_tests

Bump SR Linux release to 26.3.2
  netsim/devices/srlinux.yml
  tests/integration/sr/topology-defaults.yml
Due: yamllint, ci_tests

Rewrite the 'netlab restart' functionality
  docs/netlab/restart.md
  netsim/cli/restart.py
  tests/platform-integration/cli/11-restart.yml
Due: yamllint, ci_tests

Fix Copilot nits
  docs/netlab/restart.md
  netsim/cli/restart.py
Due: ci_tests

Integration tests for #3380
  _html/platform-cli.html
  _html/platform.html
  index.html
  platform/cli/01-up-hooks.yml-create.log
  platform/cli/01-up-hooks.yml-initial.log
  platform/cli/01-up-hooks.yml-up.log
  platform/cli/01-up-hooks.yml-validate.log
  platform/cli/10-reload.yml-create.log
  platform/cli/10-reload.yml-initial.log
  platform/cli/10-reload.yml-up.log
  platform/cli/10-reload.yml-validate.log
  platform/cli/11-restart.yml-create.log
  platform/cli/11-restart.yml-initial.log
  platform/cli/11-restart.yml-up.log
  platform/cli/11-restart.yml-validate.log
  platform/cli/cleanup-down.log
  platform/cli/results.yaml
  platform/hooks/results.yaml
Due: yamllint, ci_tests

Fix: Skip 'unused link module attributes' check for VLAN links
  netsim/modules/__init__.py
  netsim/modules/vrf.py
  tests/coverage/expected/rt-vlan-anycast.yml
Due: yamllint, ci_tests

Fix: Build per-neighbor SRv6 data structures
  netsim/modules/srv6.py
Due: ci_tests

IOS XR SRv6 tests for #3384
  _html/iosxr-clab-srv6.html
  _html/release-coverage.html
  index.html
  iosxr/clab/srv6/01-isis-ipv4-bgp.yml-create.log
  iosxr/clab/srv6/01-isis-ipv4-bgp.yml-initial.log
  iosxr/clab/srv6/01-isis-ipv4-bgp.yml-up.log
  iosxr/clab/srv6/01-isis-ipv4-bgp.yml-validate.log
  iosxr/clab/srv6/02-isis-ipv4-bgp-vpn.yml-initial.log
  iosxr/clab/srv6/11-isis-ipv6-bgp.yml-create.log
  iosxr/clab/srv6/11-isis-ipv6-bgp.yml-initial.log
  iosxr/clab/srv6/11-isis-ipv6-bgp.yml-up.log
  iosxr/clab/srv6/11-isis-ipv6-bgp.yml-validate.log
  iosxr/clab/srv6/12-isis-ipv6-bgp-vpn.yml-up.log
  iosxr/clab/srv6/12-isis-ipv6-bgp-vpn.yml-validate.log
  iosxr/clab/srv6/cleanup-down.log
  iosxr/clab/srv6/results.yaml
Due: yamllint, ci_tests

Fix: Rewrite IOS/XE SRv6 templates using data from #3383
  netsim/ansible/templates/srv6/ios.bgp.j2
Due: none

IOS XE SRv6 tests for #3385
  _html/iol-clab-srv6.html
  _html/iol-clab.html
  _html/iol.html
  _html/release-coverage.html
  index.html
  iol/clab/srv6/01-isis-ipv4-bgp.yml-create.log
  iol/clab/srv6/02-isis-ipv4-bgp-vpn.yml-initial.log
  iol/clab/srv6/02-isis-ipv4-bgp-vpn.yml-up.log
  iol/clab/srv6/02-isis-ipv4-bgp-vpn.yml-validate.log
  iol/clab/srv6/11-isis-ipv6-bgp.yml-create.log
  iol/clab/srv6/12-isis-ipv6-bgp-vpn.yml-initial.log
  iol/clab/srv6/12-isis-ipv6-bgp-vpn.yml-up.log
  iol/clab/srv6/12-isis-ipv6-bgp-vpn.yml-validate.log
  iol/clab/srv6/cleanup-down.log
  iol/clab/srv6/results.yaml
Due: yamllint, ci_tests

IOS XR: SRv6 next hops for global BGP prefixes
  docs/module/srv6.md
  netsim/ansible/templates/srv6/iosxr.bgp.j2
  netsim/ansible/templates/srv6/iosxr.j2
  netsim/devices/iosxr.yml
Due: yamllint, ci_tests

Junos: Route redistribution into OSPFv2/OSPFv3
  docs/module/ospf.md
  netsim/ansible/templates/ospf/junos.j2
  netsim/ansible/templates/ospf/junos.macro.j2
  netsim/ansible/templates/routing/junos/redistribute.j2
  netsim/ansible/templates/vrf/junos.j2
  netsim/ansible/templates/vrf/junos/bgp.j2
  netsim/ansible/templates/vrf/junos/ospf.j2
  netsim/devices/junos.yml
Due: yamllint, ci_tests

Fix: EVPN OSPF policy fixup is no longer needed
  netsim/ansible/templates/evpn/junos/common.j2
  netsim/ansible/templates/routing/junos/redistribute.j2
  netsim/ansible/templates/vrf/junos/ospf.j2
Due: none

Fix: add a missing comma
  netsim/ansible/templates/routing/junos/redistribute.j2
Due: none

vJunos-switch EVPN integration tests for #3386
  _html/vjunos-switch-clab-evpn.html
  vjunos-switch/clab/evpn/20-vxlan-irb-ospf.yml-initial.log
  vjunos-switch/clab/evpn/20-vxlan-irb-ospf.yml-up.log
  vjunos-switch/clab/evpn/21-bgp-ce-router.yml-initial.log
  vjunos-switch/clab/evpn/21-bgp-ce-router.yml-up.log
  vjunos-switch/clab/evpn/21-bgp-ce-router.yml-validate.log
  vjunos-switch/clab/evpn/22-ospf-ce-router.yml-initial.log
  vjunos-switch/clab/evpn/22-ospf-ce-router.yml-up.log
  vjunos-switch/clab/evpn/22-ospf-ce-router.yml-validate.log
  vjunos-switch/clab/evpn/cleanup-down.log
  vjunos-switch/clab/evpn/results.yaml
Due: yamllint, ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
