Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Junos: use BGP neighbor next_hop_self and rr_client attributes (#2763)
  netsim/ansible/templates/bgp/junos.j2
  netsim/ansible/templates/bgp/junos.policy.j2
  netsim/ansible/templates/vrf/junos.bgp.j2
  netsim/devices/junos.py
Due: ci_tests

Internal ipaddr/hwaddr Jinja2 filters (#2760)
  docs/customize.md
  docs/netlab/report.md
  docs/outputs/report.md
  docs/release/25.11.md
  netsim/cli/validate.py
  netsim/reports/bgp-asn.html.j2
  netsim/reports/bgp-asn.md.j2
  netsim/reports/bgp-prefix.include.j2
  netsim/reports/bgp.j2
  netsim/reports/ipaddr.include.html.j2
  netsim/reports/ipaddr.include.j2
  netsim/utils/filters.py
  netsim/utils/templates.py
  tests/integration/initial/01-interfaces.yml
Due: yamllint, ci_tests

Generate warnings for L3VPN BGP sessions without extended communities (#2756)
  netsim/modules/mpls.py
Due: ci_tests

Selective execution of create/config steps in integration tests
  tests/integration/device-module-test
Due: none

Warn about Ansible 12.x installation instead of giving up immediately
  netsim/__init__.py
  netsim/cli/ansible.py
  netsim/cli/config.py
  netsim/cli/initial.py
Due: ci_tests

Fix 'when' conditions in Ansible playbooks/task lists
  netsim/ansible/collect-configs.ansible
  netsim/ansible/tasks/create-config.yml
  netsim/ansible/tasks/deploy-config/sros.yml
  netsim/ansible/tasks/deploy-custom-config.yml
  netsim/ansible/tasks/deploy-module.yml
  netsim/ansible/tasks/wait-for-ready.yml
Due: yamllint, ci_tests

Fix 'when' conditions in Ansible playbooks/task lists (#2764)
  netsim/ansible/collect-configs.ansible
  netsim/ansible/tasks/create-config.yml
  netsim/ansible/tasks/deploy-config/sros.yml
  netsim/ansible/tasks/deploy-custom-config.yml
  netsim/ansible/tasks/deploy-module.yml
  netsim/ansible/tasks/wait-for-ready.yml
Due: yamllint, ci_tests

Fix a typo
  netsim/cli/ansible.py
Due: ci_tests

Warn about Ansible 12.x installation instead of giving up immediately (#2765)
  netsim/__init__.py
  netsim/cli/ansible.py
  netsim/cli/config.py
  netsim/cli/initial.py
Due: ci_tests

Fix: Another missed Ansible 'when' condition
  netsim/ansible/tasks/deploy-module.yml
Due: yamllint, ci_tests

Fix: ensure that the 'indent' filter is not called on an empty string
  netsim/ansible/templates/bgp/cumulus_nvue.macro.j2
  netsim/ansible/templates/bgp/ios.j2
  netsim/ansible/templates/bgp/sros.gnmi.macro.j2
  netsim/ansible/templates/isis/ios.j2
  netsim/ansible/templates/isis/junos.j2
  netsim/ansible/templates/ospf/cumulus_nvue.j2
  netsim/ansible/templates/ospf/ios.ospfv2.j2
  netsim/ansible/templates/ospf/ios.ospfv3.j2
  netsim/ansible/templates/ripv2/ios.macro.j2
  netsim/ansible/templates/routing/_redistribute.ios.j2
  netsim/ansible/templates/vrf/eos.bgp.j2
  netsim/ansible/templates/vrf/frr.bgp.j2
  netsim/ansible/templates/vrf/ios.bgp.j2
Due: none

OpenBSD: initial configuration fails when intf.ipv4 is undefined
  netsim/ansible/templates/initial/openbsd.j2
Due: none

Leftovers from another integration test
  arubacx/libvirt/initial/08-ra.yml-create.log
  nxos/libvirt/initial/08-ra.yml-create.log
  openbsd/libvirt/initial/08-ra.yml-create.log
  vjunos-router/clab/initial/08-ra.yml-create.log
  vjunos-switch/clab/initial/08-ra.yml-create.log
  vptx/libvirt/initial/08-ra.yml-create.log
Due: none

OpenBSD: initial configuration fails when intf.ipv4 is undefined (#2769)
  netsim/ansible/templates/initial/openbsd.j2
Due: none

Report results from partial integration tests (ex: only create/initial)
  _reports/read.py
  _reports/remap.py
Due: ci_tests

SRv6 implementation on IOS-XE (IOL, IOLL2, Cat8000v)
  docs/module/srv6.md
  netsim/ansible/templates/srv6/ios.bgp.j2
  netsim/ansible/templates/srv6/ios.j2
  netsim/devices/cat8000v.yml
  netsim/devices/iol.py
  netsim/devices/iol.yml
  netsim/modules/srv6.yml
  tests/integration/srv6/02-isis-ipv4-bgp-vpn.yml
  tests/integration/srv6/12-isis-ipv6-bgp-vpn.yml
Due: yamllint, ci_tests

Calculate missing OSPF interface timers
  docs/module/ospf.md
  netsim/modules/ospf.py
Due: ci_tests

Fixes based on review by @jbemmel
  netsim/modules/ospf.py
Due: ci_tests

Calculate missing OSPF interface timers (#2772)
  docs/module/ospf.md
  netsim/modules/ospf.py
Due: ci_tests

Doc: try using paramiko with Ansible if access to Cisco IOS fails
  docs/caveats.md
Due: none

Doc: Try using paramiko with Ansible if access to Cisco IOS fails (#2773)
  docs/caveats.md
Due: none

Docfix: remove a bogus footnote in updated OSPF documentation
  docs/module/ospf.md
Due: none

Fix: Disable sphinx "strikethrough only works in HTML" warnings
  docs/conf.py
Due: ci_tests

Simplify reporting/graphing/inspecting workflow
  docs/netlab/graph.md
  docs/netlab/inspect.md
  docs/netlab/report.md
  netsim/cli/__init__.py
  netsim/cli/graph.py
  netsim/cli/inspect.py
  netsim/cli/report.py
Due: ci_tests

Fix: add missing quiet/verbose parser flags to graph parser
  netsim/cli/graph.py
Due: ci_tests

Simplify reporting/graphing/inspecting workflow (#2774)
  docs/netlab/graph.md
  docs/netlab/inspect.md
  docs/netlab/report.md
  netsim/cli/__init__.py
  netsim/cli/graph.py
  netsim/cli/inspect.py
  netsim/cli/report.py
Due: ci_tests

Fix: Disable warnings on transformation tests caused by #2752/#2709
  tests/topology/input/evpn-vxlan.yml
  tests/topology/input/vlan-trunk-native.yml
Due: yamllint, ci_tests

Fix: Disable warnings on transformation tests caused by #2752/#2709 (#2776)
  tests/topology/input/evpn-vxlan.yml
  tests/topology/input/vlan-trunk-native.yml
Due: yamllint, ci_tests

SRv6 implementation on IOS-XE (IOL, IOLL2, Cat8000v) (#2771)
  docs/module/srv6.md
  netsim/ansible/templates/srv6/ios.bgp.j2
  netsim/ansible/templates/srv6/ios.j2
  netsim/devices/cat8000v.yml
  netsim/devices/iol.py
  netsim/devices/iol.yml
  netsim/modules/srv6.yml
  tests/integration/srv6/02-isis-ipv4-bgp-vpn.yml
  tests/integration/srv6/12-isis-ipv6-bgp-vpn.yml
Due: yamllint, ci_tests

BGP developer documentation
  docs/dev/config/bgp.md
  docs/dev/config/index.md
  docs/dev/config/vrf.md
Due: none

Fix: Simplify BGP per-AF neighbor activation logic (EOS, FRR, IOS)
  netsim/ansible/templates/bgp/eos.j2
  netsim/ansible/templates/bgp/frr.j2
  netsim/ansible/templates/bgp/ios.j2
Due: none

Fix: Simplify BGP per-AF neighbor activation logic (EOS, FRR, IOS) (#2779)
  netsim/ansible/templates/bgp/eos.j2
  netsim/ansible/templates/bgp/frr.j2
  netsim/ansible/templates/bgp/ios.j2
Due: none

Added BGP device features
  docs/dev/config/bgp.md
Due: none

Fix: replace symlinks in VRF config templates with file paths
  netsim/ansible/templates/vrf/arubacx.bgp-macro.j2
  netsim/ansible/templates/vrf/arubacx.bgp.j2
  netsim/ansible/templates/vrf/dellos10.bgp-macro.j2
  netsim/ansible/templates/vrf/dellos10.bgp.j2
  netsim/ansible/templates/vrf/eos.bgp-macro.j2
  netsim/ansible/templates/vrf/eos.bgp.j2
  netsim/ansible/templates/vrf/ios.bgp-macro.j2
  netsim/ansible/templates/vrf/ios.bgp.j2
  netsim/ansible/templates/vrf/junos.j2
  netsim/ansible/templates/vrf/junos.ospf-macro.j2
  netsim/ansible/templates/vrf/routeros.bgp-macro.j2
  netsim/ansible/templates/vrf/routeros.bgp.j2
  netsim/ansible/templates/vrf/routeros7.bgp-macro.j2
  netsim/ansible/templates/vrf/routeros7.bgp.j2
  netsim/ansible/templates/vrf/routeros7.ospf-include.j2
  netsim/ansible/templates/vrf/routeros7.ospfv2-vrf.j2
  netsim/ansible/templates/vrf/vyos.bgp-macro.j2
  netsim/ansible/templates/vrf/vyos.bgp.j2
  netsim/ansible/templates/vrf/vyos.default.j2
  netsim/ansible/templates/vrf/vyos.ospfv2-vrf.j2
  netsim/ansible/templates/vrf/vyos.ospfv3-vrf.j2
Due: none
