Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

fix(arcos): put VRF interfaces into their VRF before addressing them
  netsim/ansible/templates/initial/arcos.j2
  netsim/ansible/templates/vrf/arcos.j2
Due: none

feat(arcos): add the bgp.policy configuration template
  netsim/extra/bgp/policy/arcos.j2
Due: none

fix(arcos): do not render an MTU leaf for a routed VLAN subinterface
  netsim/ansible/templates/initial/arcos.j2
Due: none

fix(arcos): bind only the VRF interfaces the initial template creates
  netsim/ansible/templates/initial/arcos.j2
Due: none

fix(arcos): do not declare anycast gateway support
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

feat(arcos): honour bgp.activate when configuring BGP neighbors
  netsim/ansible/templates/bgp/arcos.j2
Due: none

feat(arcos): configure VRRP for IPv6 as well as IPv4
  netsim/ansible/templates/gateway/arcos.j2
Due: none

docs(arcos): record the VRRP and anycast gateway caveats
  docs/caveats.md
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

fix(arcos): apply bgp.policy to VRF BGP neighbors
  netsim/extra/bgp/policy/arcos.j2
Due: none

refactor(arcos): render BGP through reusable macros
  netsim/ansible/templates/bgp/arcos.j2
  netsim/ansible/templates/bgp/arcos.macro.j2
Due: none

docs(arcos): drop the incorrect reason for the VRF route-target caveat
  docs/caveats.md
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

docs(arcos): VRF route-target leaking is not implemented, not unsupported
  docs/caveats.md
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

docs(arcos): correct what the BGP macro file actually renders, guard vdata.af
  netsim/ansible/templates/bgp/arcos.j2
  netsim/ansible/templates/vrf/arcos.j2
Due: none

feat(arcos): configure BGP inside an L3VRF
  netsim/ansible/templates/vrf/arcos.j2
Due: none

fix(arcos): render the same route distinguisher from the vrf and evpn templates
  netsim/ansible/templates/evpn/arcos.j2
Due: none

fix(arcos): render EVPN on nodes that have no VLANs or VRFs
  netsim/ansible/templates/evpn/arcos.j2
Due: none

Add OpenBSD GRE support
  docs/plugins/tunnel.gre.md
  netsim/devices/openbsd.yml
  netsim/extra/tunnel/gre/openbsd.j2
Due: yamllint, ci_tests

Add Wireguard support for RouterOS 7
  docs/plugins/tunnel.wireguard.md
  netsim/ansible/templates/initial/routeros7.j2
  netsim/devices/routeros7.yml
  netsim/extra/tunnel/wireguard/routeros7.initial.j2
  netsim/extra/tunnel/wireguard/routeros7.j2
Due: yamllint, ci_tests

fix(arcos): declare the BGP startup barrier as a validation wait time
  docs/caveats.md
  netsim/ansible/templates/bgp/arcos.j2
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

fix(arcos): size the ArcOS BGP session wait from the measured barrier offset
  docs/caveats.md
  netsim/ansible/templates/bgp/arcos.j2
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

OpenBSD GRE tests for #3693
  _html/coverage.tunnel.html
  _html/openbsd-libvirt-tunnel.html
  _html/openbsd-libvirt.html
  _html/openbsd.html
  _html/release-coverage.html
  index.html
  openbsd/libvirt/tunnel/01-gre.yml-create.log
  openbsd/libvirt/tunnel/01-gre.yml-initial.log
  openbsd/libvirt/tunnel/01-gre.yml-up.log
  openbsd/libvirt/tunnel/01-gre.yml-validate.log
  openbsd/libvirt/tunnel/02-gre-vrf.yml-create.log
  openbsd/libvirt/tunnel/03-wireguard.yml-create.log
  openbsd/libvirt/tunnel/04-wireguard-vrf.yml-create.log
  openbsd/libvirt/tunnel/cleanup-down.log
  openbsd/libvirt/tunnel/results.yaml
Due: yamllint, ci_tests

Add OpenBSD GRE support (#3693)
  docs/plugins/tunnel.gre.md
  netsim/devices/openbsd.yml
  netsim/extra/tunnel/gre/openbsd.j2
Due: yamllint, ci_tests

Stabilize MTU validation after PMTU updates. (#3692)
  tests/integration/initial/04-mtu.yml
Due: yamllint, ci_tests

feat(arcos): render BGP route reflection (rr-clients and cluster-id)
  netsim/ansible/templates/bgp/arcos.j2
  netsim/ansible/templates/bgp/arcos.macro.j2
Due: none

fix(arcos): start the VRRP daemon by lowering the spyder file-descriptor limit
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

docs(arcos): correct the VRRP caveat -- it converges, but IPv4 election does not
  docs/caveats.md
  netsim/ansible/templates/gateway/arcos.j2
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

fix(arcos): render IBGP next-hop-self as an export policy
  netsim/ansible/templates/bgp/arcos.j2
  netsim/ansible/templates/bgp/arcos.macro.j2
  netsim/extra/bgp/policy/arcos.j2
Due: none

fix(arcos): do not rewrite the hard file-descriptor limit when bootstrapping VRRP
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

docs(arcos): correct how the VRRP file-descriptor limit actually gets to 4096
  docs/caveats.md
  netsim/ansible/templates/gateway/arcos.j2
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

feat(arcos): render static (head-end replication) VXLAN flooding
  docs/caveats.md
  netsim/ansible/templates/vxlan/arcos.j2
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

fix(arcos): drop the unreachable bgp.policy coupling from next-hop-self
  netsim/ansible/templates/bgp/arcos.macro.j2
  netsim/extra/bgp/policy/arcos.j2
Due: none

test(arcos): size the CE-to-CE ping wait for VRF BGP forwarding
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

feat(arcos): redistribute connected subnets into BGP and VRF BGP
  netsim/ansible/templates/bgp/arcos.j2
  netsim/ansible/templates/bgp/arcos.macro.j2
  netsim/ansible/templates/vrf/arcos.j2
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

docs(arcos): replace the VRF route-leaking caveat with the measured limitation
  netsim/ansible/templates/vrf/arcos.j2
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

fix(arcos): refuse EVPN combined with static VXLAN flooding
  netsim/devices/arcos.py
Due: ci_tests

refactor(arcos): name static-VXLAN bundles after the VNI they carry
  netsim/ansible/templates/vxlan/arcos.j2
Due: none

docs(arcos): correct the static-VXLAN caveat and mark the VXLAN support column
  docs/caveats.md
  docs/platforms.md
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

feat(arcos): redistribute OSPF and IS-IS into BGP and VRF BGP (review I1)
  netsim/ansible/templates/bgp/arcos.j2
  netsim/ansible/templates/bgp/arcos.macro.j2
  netsim/ansible/templates/vrf/arcos.j2
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

fix(arcos): render a VRF BGP instance for an import-only VRF (review I2)
  netsim/ansible/templates/vrf/arcos.j2
Due: none
