Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Add VRF support
  docs/plugins/bgp.session.md
  netsim/extra/bgp.session/defaults.yml
  netsim/extra/bgp.session/eos.j2
  netsim/extra/bgp.session/frr.j2
  tests/integration/bgp.session/14-gr.yml
Due: yamllint, ci_tests

Fix Copilot-identified errors
  docs/plugins/bgp.session.md
  netsim/extra/bgp.session/eos.j2
  netsim/extra/bgp.session/frr.j2
Due: none

Implement node/vrf-level check of bgp.session data
  netsim/extra/bgp.policy/plugin.py
  netsim/extra/bgp.session/plugin.py
  netsim/utils/routing.py
  tests/topology/expected/ebgp.utils.yml
  tests/topology/input/ebgp.utils.yml
Due: yamllint, ci_tests

Add BGP confederation support for the BIRD daemon.
  docs/dev/config/bgp.md
  docs/module/bgp.md
  netsim/daemons/bird.yml
  netsim/daemons/bird/bgp.j2
Due: yamllint, ci_tests

Revert developer BGP documentation changes.
  docs/dev/config/bgp.md
Due: none

Restore original BIRD local AS template line.
  netsim/daemons/bird/bgp.j2
Due: none

Fix: capture validate log in device-module-test on warnings
  tests/integration/device-module-test
Due: none

Fix a leftover error :(
  netsim/extra/bgp.session/plugin.py
Due: ci_tests

... and a logic error :((
  netsim/utils/routing.py
Due: ci_tests

Revert: only capture validate log in quiet or batch mode
  tests/integration/device-module-test
Due: none

Use neighbor next_hop_self in BIRD BGP template and fix docs.
  docs/dev/config/bgp.md
  netsim/daemons/bird/bgp.j2
Due: none

Refactor clab provider into multiple files
  netsim/providers/clab.py
  netsim/providers/clab/__init__.py
  netsim/providers/clab/binds.py
  netsim/providers/clab/configs.py
  netsim/providers/clab/labops.py
  netsim/providers/clab/utils.py
Due: ci_tests

Fixing Copilot-identified nit
  netsim/providers/clab/__init__.py
Due: ci_tests

Thoughts on implementing clab bridges as netlab nodes
  docs/roadmap/clab-bridge.md
  docs/roadmap/index.md
Due: none

WIP: Call provider 'init' hook before adjusting node data
  netsim/augment/main.py
Due: ci_tests

Fix BIRD build docs to describe tarball download failures accurately.
  docs/labs/bird.md
Due: none

Document clab build helper functions with module docstrings.
  netsim/cli/clab/build.py
Due: ci_tests

Fix pylint issues in clab build.py.
  netsim/cli/clab/build.py
Due: ci_tests

Simplify clab build defaults handling and refresh BIRD build docs.
  docs/labs/bird.md
  docs/netlab/clab.md
  netsim/cli/clab/build.py
Due: ci_tests

Add multi-stage Dockerfile to build BIRD v2 from source.
  netsim/daemons/bird/Dockerfile.v2_from_src
Due: none

Use get_provider_data for clab build device settings lookup.
  netsim/cli/clab/build.py
Due: ci_tests

Inline sw_version lookup in clab build_image.
  netsim/cli/clab/build.py
Due: ci_tests

Use Jinja2 template and --sw-version for BIRD from-source builds.
  .editorconfig
  docs/labs/bird.md
  docs/netlab/clab.md
  netsim/cli/clab/build.py
  netsim/daemons/bird/Dockerfile.v2_from_src.j2
Due: ci_tests

Show versioned default tags in clab build list output.
  docs/netlab/clab.md
  netsim/cli/clab/build.py
Due: ci_tests

Add SW_VERSION build support for BIRD from-source containers.
  docs/caveats.md
  docs/labs/bird.md
  docs/labs/clab.md
  docs/netlab/clab.md
  docs/platforms.md
  netsim/cli/clab/build.py
  netsim/daemons/bird.yml
  netsim/daemons/bird/Dockerfile.v2_from_src
Due: yamllint, ci_tests

Simplify default tag check in clab build.
  netsim/cli/clab/build.py
Due: ci_tests

Minor tweaks and edits
  docs/labs/bird.md
  docs/platforms.md
  netsim/cli/clab/build.py
  netsim/daemons/bird/Dockerfile.v2_from_src.j2
Due: ci_tests

Add BIRD EVPN/VXLAN configuration templates.
  netsim/daemons/bird.yml
  netsim/daemons/bird/evpn.j2
  netsim/daemons/bird/vlan.j2
  netsim/daemons/bird/vxlan.j2
Due: yamllint, ci_tests

Fix BIRD EVPN/VXLAN container startup and BGP session handling.
  netsim/ansible/templates/vxlan/frr.j2
  netsim/cli/clab/build.py
  netsim/daemons/bird/Dockerfile
  netsim/daemons/bird/Dockerfile.v2_from_src.j2
  netsim/daemons/bird/Dockerfile.v3
  netsim/daemons/bird/bgp.j2
  netsim/daemons/bird/entrypoint.sh
  netsim/daemons/bird/evpn.j2
Due: ci_tests

Fix BIRD EVPN route reflection over EBGP sessions.
  netsim/daemons/bird/bgp.j2
Due: none

Inline BIRD source-build entrypoint and drop build context copy.
  netsim/cli/clab/build.py
  netsim/daemons/bird/Dockerfile
  netsim/daemons/bird/Dockerfile.v2_from_src.j2
  netsim/daemons/bird/Dockerfile.v3
  netsim/daemons/bird/entrypoint.sh
Due: ci_tests

Remove unused EXPOSE from BIRD source-build Dockerfile.
  netsim/daemons/bird/Dockerfile.v2_from_src.j2
Due: none

Move BIRD VXLAN interface setup from vlan.j2 to vxlan.j2.
  netsim/daemons/bird/vlan.j2
  netsim/daemons/bird/vxlan.j2
Due: none

Split BIRD VXLAN shell setup from daemon configuration.
  netsim/daemons/bird.yml
  netsim/daemons/bird/vxlan.j2
  netsim/daemons/bird/vxlan@config.j2
Due: yamllint, ci_tests

Rename BIRD VXLAN daemon template to vxlan.mod.j2.
  netsim/daemons/bird.yml
  netsim/daemons/bird/vxlan.mod.j2
Due: yamllint, ci_tests

Fix anycast-check crash when device lacks gateway.protocol.
  tests/integration/evpn/anycast-check/plugin.py
Due: ci_tests

Fix: Write FRR device log to /var/log/frr instead of /tmp/logging
  docs/caveats.md
  netsim/ansible/templates/initial/frr.j2
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
