Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Use machine_type under vsrx device attribute instead of libvirt template
  netsim/devices/vsrx.yml
  netsim/templates/provider/libvirt/vsrx-domain.j2
Due: yamllint, ci_tests

edit input/output after adding libvirt.machine_type for vsrx
  tests/topology/expected/dual-stack.yml
  tests/topology/expected/isis-feature-test.yml
  tests/topology/expected/ospf.yml
  tests/topology/expected/unnumbered.yml
  tests/topology/input/ospf.yml
Due: yamllint, ci_tests

Display netlab defaults as (exported) environment variables
  docs/netlab/defaults.md
  netsim/cli/defaults.py
Due: ci_tests

SR Linux: Fix LDP configuration template
  netsim/ansible/templates/mpls/srlinux.j2
  netsim/ansible/templates/mpls/srlinux.ldp.j2
Due: none

Fix: Set SR Linux default node type for MPLS integration tests
  tests/integration/mpls/topology-defaults.yml
Due: yamllint, ci_tests

SR Linux MPLS tests for #3414
  _html/coverage.mpls.html
  _html/release-coverage.html
  _html/srlinux-clab-mpls.html
  _html/srlinux-clab.html
  _html/srlinux.html
  index.html
  srlinux/clab/mpls/01-ldp-p.yml-create.log
  srlinux/clab/mpls/01-ldp-p.yml-initial.log
  srlinux/clab/mpls/01-ldp-p.yml-up.log
  srlinux/clab/mpls/01-ldp-p.yml-validate.log
  srlinux/clab/mpls/02-ldp-pe.yml-create.log
  srlinux/clab/mpls/02-ldp-pe.yml-initial.log
  srlinux/clab/mpls/02-ldp-pe.yml-up.log
  srlinux/clab/mpls/02-ldp-pe.yml-validate.log
  srlinux/clab/mpls/cleanup-down.log
  srlinux/clab/mpls/results.yaml
Due: yamllint, ci_tests

Fix: Null update/delete values become empty lists in SR Linux config
  netsim/ansible/tasks/deploy-config/srlinux.yml
Due: yamllint, ci_tests

SR Linux: MPLS/VPN support
  netsim/ansible/templates/mpls/srlinux.j2
  netsim/ansible/templates/mpls/srlinux/ldp.j2
  netsim/ansible/templates/mpls/srlinux/vpn.j2
  netsim/ansible/templates/vrf/srlinux.j2
  netsim/devices/srlinux.yml
Due: yamllint, ci_tests

Added network services MPLS label block
  netsim/ansible/templates/mpls/srlinux/vpn.j2
Due: none

Initial SR Linux MPLS/VPN tests
  _html/coverage.mpls.html
  _html/srlinux-clab-mpls.html
  _html/srlinux-clab.html
  _html/srlinux.html
  index.html
  srlinux/clab/mpls/01-ldp-p.yml-initial.log
  srlinux/clab/mpls/01-ldp-p.yml-up.log
  srlinux/clab/mpls/01-ldp-p.yml-validate.log
  srlinux/clab/mpls/02-ldp-pe.yml-initial.log
  srlinux/clab/mpls/02-ldp-pe.yml-validate.log
  srlinux/clab/mpls/10-vpn-connected.yml-create.log
  srlinux/clab/mpls/10-vpn-connected.yml-initial.log
  srlinux/clab/mpls/10-vpn-connected.yml-up.log
  srlinux/clab/mpls/10-vpn-connected.yml-validate.log
  srlinux/clab/mpls/11-vpn-cs.yml-create.log
  srlinux/clab/mpls/12-vpn-bgp.yml-create.log
  srlinux/clab/mpls/12-vpn-bgp.yml-initial.log
  srlinux/clab/mpls/12-vpn-bgp.yml-up.log
  srlinux/clab/mpls/12-vpn-bgp.yml-validate.log
  srlinux/clab/mpls/13-vpn-ospf.yml-create.log
  srlinux/clab/mpls/13-vpn-ospf.yml-initial.log
  srlinux/clab/mpls/13-vpn-ospf.yml-up.log
  srlinux/clab/mpls/13-vpn-ospf.yml-validate.log
  srlinux/clab/mpls/15-vpnv4-rr.yml-create.log
  srlinux/clab/mpls/15-vpnv4-rr.yml-initial.log
  srlinux/clab/mpls/15-vpnv4-rr.yml-up.log
  srlinux/clab/mpls/15-vpnv4-rr.yml-validate.log
  srlinux/clab/mpls/20-vpnv6-connected.yml-create.log
  srlinux/clab/mpls/20-vpnv6-connected.yml-initial.log
  srlinux/clab/mpls/20-vpnv6-connected.yml-up.log
  srlinux/clab/mpls/20-vpnv6-connected.yml-validate.log
  srlinux/clab/mpls/25-vpnv6-rr.yml-create.log
  srlinux/clab/mpls/25-vpnv6-rr.yml-initial.log
  srlinux/clab/mpls/25-vpnv6-rr.yml-up.log
  srlinux/clab/mpls/25-vpnv6-rr.yml-validate.log
  srlinux/clab/mpls/cleanup-down.log
  srlinux/clab/mpls/results.yaml
Due: yamllint, ci_tests

Fix: Export bgp-ipvpn routes into VRF routing protocols
  netsim/ansible/templates/bgp/srlinux.macro.j2
  netsim/ansible/templates/routing/srlinux/redistribute.j2
  netsim/devices/srlinux.yml
Due: yamllint, ci_tests

Update documentation
  docs/module/mpls.md
  docs/platforms.md
Due: none

SR Linux MPLS integration tests for #3417
  _html/coverage.mpls.html
  _html/srlinux-clab-mpls.html
  _html/srlinux-clab.html
  _html/srlinux.html
  index.html
  srlinux/clab/mpls/01-ldp-p.yml-initial.log
  srlinux/clab/mpls/01-ldp-p.yml-up.log
  srlinux/clab/mpls/01-ldp-p.yml-validate.log
  srlinux/clab/mpls/02-ldp-pe.yml-initial.log
  srlinux/clab/mpls/02-ldp-pe.yml-up.log
  srlinux/clab/mpls/02-ldp-pe.yml-validate.log
  srlinux/clab/mpls/10-vpn-connected.yml-initial.log
  srlinux/clab/mpls/10-vpn-connected.yml-up.log
  srlinux/clab/mpls/10-vpn-connected.yml-validate.log
  srlinux/clab/mpls/12-vpn-bgp.yml-initial.log
  srlinux/clab/mpls/12-vpn-bgp.yml-up.log
  srlinux/clab/mpls/12-vpn-bgp.yml-validate.log
  srlinux/clab/mpls/13-vpn-ospf.yml-initial.log
  srlinux/clab/mpls/13-vpn-ospf.yml-up.log
  srlinux/clab/mpls/13-vpn-ospf.yml-validate.log
  srlinux/clab/mpls/15-vpnv4-rr.yml-initial.log
  srlinux/clab/mpls/15-vpnv4-rr.yml-up.log
  srlinux/clab/mpls/15-vpnv4-rr.yml-validate.log
  srlinux/clab/mpls/20-vpnv6-connected.yml-initial.log
  srlinux/clab/mpls/20-vpnv6-connected.yml-up.log
  srlinux/clab/mpls/20-vpnv6-connected.yml-validate.log
  srlinux/clab/mpls/25-vpnv6-rr.yml-initial.log
  srlinux/clab/mpls/25-vpnv6-rr.yml-up.log
  srlinux/clab/mpls/25-vpnv6-rr.yml-validate.log
  srlinux/clab/mpls/cleanup-down.log
  srlinux/clab/mpls/results.yaml
Due: yamllint, ci_tests

Fix: move MTU setting into existing 'private network' block
  netsim/templates/provider/libvirt/libvirt-bridge.j2
Due: none

Fix BGP group names for future inter-AS MPLS/VPN deployments
  netsim/ansible/templates/mpls/srlinux/vpn.j2
Due: none

Fix: Check (and use) new SR Linux node types
  docs/caveats.md
  netsim/devices/srlinux.py
  netsim/devices/srlinux.yml
  tests/integration/mpls/topology-defaults.yml
  tests/integration/sr/topology-defaults.yml
Due: yamllint, ci_tests

Fixing Copilot-identified nits
  netsim/devices/srlinux.py
  netsim/devices/srlinux.yml
Due: yamllint, ci_tests

Fix value normalization and quoting
  netsim/cli/defaults.py
Due: ci_tests

Fixing a documentation printout
  docs/netlab/defaults.md
Due: none

Final fixes
  netsim/cli/defaults.py
Due: ci_tests

Allow the user to specify full box name in 'netlab libvirt package'
  docs/netlab/libvirt.md
  netsim/cli/libvirt/package.py
Due: ci_tests

Build a custom Linux Vagrant box
  docs/labs/libvirt.md
  docs/labs/linux.md
  netsim/devices/linux.yml
  netsim/install/libvirt/linux/meta-data
  netsim/install/libvirt/linux/user-data.j2
Due: yamllint, ci_tests

Prevent crashes from malformed user input
  netsim/cli/libvirt/package.py
Due: ci_tests

Fix a f-string blooper
  netsim/cli/libvirt/package.py
Due: ci_tests

Cleaned up user-data
  netsim/install/libvirt/linux/user-data.j2
Due: none

Modified libvirt script to deal with -hwe qemu package
  netsim/install/libvirt.sh
Due: none

Fixing Debian 13 lack of GPG
  netsim/install/libvirt.sh
Due: none

Adding caveats and updated "tested on" information
  docs/netlab/install.md
Due: none

Validate SR Linux clab.type and move platform checks to device quirks.
  netsim/ansible/templates/initial/srlinux.j2
  netsim/ansible/templates/sr/srlinux.j2
  netsim/devices/srlinux.py
  netsim/devices/srlinux.yml
  netsim/providers/clab.yml
  tests/integration-legacy/mpls/ldp.yml
  tests/topology/input/clab-attributes.yml
Due: yamllint, ci_tests

Fix yamllint indentation for clab.type valid_values list.
  netsim/providers/clab.yml
Due: yamllint, ci_tests

Update test outcome
  tests/topology/expected/clab-attributes.yml
Due: yamllint, ci_tests

- Do not repeat license check - Rename ethernet frame constant
  netsim/devices/srlinux.py
Due: ci_tests

Distinguish between the need for a platform license, and the topology trying to run MPLS on SR Linux
  netsim/devices/srlinux.py
Due: ci_tests

Validate SR Linux clab.type in device quirks instead of provider schema.
  .pylintrc
  netsim/devices/srlinux.py
  netsim/providers/clab.yml
  tests/topology/expected/clab-attributes.yml
  tests/topology/input/clab-attributes.yml
Due: yamllint, ci_tests

Add bgp.local_role plugin for RFC 9234 BGP Roles on FRR and BIRD.
  docs/module/bgp.md
  docs/plugins.md
  docs/plugins/bgp.local_role.md
  netsim/daemons/bird.yml
  netsim/daemons/bird/bgp.j2
  netsim/devices/frr.yml
  netsim/extra/bgp.local_role/defaults.yml
  netsim/extra/bgp.local_role/frr.j2
  netsim/extra/bgp.local_role/plugin.py
  tests/errors/bgp.local_role-ibgp.log
  tests/errors/bgp.local_role-ibgp.yml
  tests/integration/bgp.local_role/01-provider-customer.yml
  tests/integration/bgp.local_role/02-peer-peer.yml
  tests/integration/bgp.local_role/03-role-mismatch.yml
  tests/integration/bgp.local_role/README.md
  tests/topology/expected/bgp-local-role.yml
  tests/topology/input/bgp-local-role.yml
Due: yamllint, ci_tests

Reject bgp.local_role_strict without local_role; nest Bird require roles.
  netsim/daemons/bird/bgp.j2
  netsim/extra/bgp.local_role/plugin.py
  tests/errors/bgp.local_role-strict-only.log
  tests/errors/bgp.local_role-strict-only.yml
Due: yamllint, ci_tests

Remove bgp.local_role error case tests.
  tests/errors/bgp.local_role-ibgp.log
  tests/errors/bgp.local_role-ibgp.yml
  tests/errors/bgp.local_role-strict-only.log
  tests/errors/bgp.local_role-strict-only.yml
Due: yamllint, ci_tests

Move FRR local_role guard from macro to caller sites.
  netsim/extra/bgp.local_role/frr.j2
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
