Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Fix: replace symlinks in VRF config templates with file paths (#2780)
  netsim/ansible/templates/vrf/arubacx.bgp-macro.j2
  netsim/ansible/templates/vrf/arubacx.bgp.j2
  netsim/ansible/templates/vrf/dellos10.bgp-macro.j2
  netsim/ansible/templates/vrf/dellos10.bgp.j2
  netsim/ansible/templates/vrf/eos.bgp-macro.j2
  netsim/ansible/templates/vrf/eos.bgp.j2
  netsim/ansible/templates/vrf/ios.bgp-macro.j2
  netsim/ansible/templates/vrf/ios.bgp.j2
  netsim/ansible/templates/vrf/junos.j2
  netsim/ansible/templates/vrf/junos.ospf-macro.j2
  netsim/ansible/templates/vrf/routeros.bgp-macro.j2
  netsim/ansible/templates/vrf/routeros.bgp.j2
  netsim/ansible/templates/vrf/routeros7.bgp-macro.j2
  netsim/ansible/templates/vrf/routeros7.bgp.j2
  netsim/ansible/templates/vrf/routeros7.ospf-include.j2
  netsim/ansible/templates/vrf/routeros7.ospfv2-vrf.j2
  netsim/ansible/templates/vrf/vyos.bgp-macro.j2
  netsim/ansible/templates/vrf/vyos.bgp.j2
  netsim/ansible/templates/vrf/vyos.default.j2
  netsim/ansible/templates/vrf/vyos.ospfv2-vrf.j2
  netsim/ansible/templates/vrf/vyos.ospfv3-vrf.j2
Due: none

Fix: Convert IOLL2 VLAN template symlinks into includes
  netsim/ansible/templates/initial/ioll2.vlan.j2
  netsim/ansible/templates/normalize/ioll2.j2
  netsim/ansible/templates/vlan/ioll2.j2
Due: none

Sample IOLL2 VLAN tests for #2781
  _html/ioll2-clab-vlan.html
  ioll2/clab/vlan/02-vlan-bridge-multiple.yml-initial.log
  ioll2/clab/vlan/02-vlan-bridge-multiple.yml-snapshot.yml
  ioll2/clab/vlan/02-vlan-bridge-multiple.yml-up.log
  ioll2/clab/vlan/02-vlan-bridge-multiple.yml-validate.log
  ioll2/clab/vlan/32-vlan-bridge-trunk-router.yml-initial.log
  ioll2/clab/vlan/32-vlan-bridge-trunk-router.yml-snapshot.yml
  ioll2/clab/vlan/32-vlan-bridge-trunk-router.yml-up.log
  ioll2/clab/vlan/cleanup-down.log
  ioll2/clab/vlan/results.yaml
Due: yamllint, ci_tests

Fix: Convert IOLL2 VLAN template symlinks into includes (#2781)
  netsim/ansible/templates/initial/ioll2.vlan.j2
  netsim/ansible/templates/normalize/ioll2.j2
  netsim/ansible/templates/vlan/ioll2.j2
Due: none

Generic device readyness tests (ex: ssh) specified in netlab_ready
  netsim/ansible/tasks/readiness-check/arubacx-clab.yml
  netsim/ansible/tasks/readiness-check/cat8000v-clab.yml
  netsim/ansible/tasks/readiness-check/cisco8000v-clab.yml
  netsim/ansible/tasks/readiness-check/csr-clab.yml
  netsim/ansible/tasks/readiness-check/eos-clab.yml
  netsim/ansible/tasks/readiness-check/iol-clab.yml
  netsim/ansible/tasks/readiness-check/ioll2-clab.yml
  netsim/ansible/tasks/readiness-check/ios-clab.yml
  netsim/ansible/tasks/readiness-check/openbsd-clab.yml
  netsim/ansible/tasks/readiness-check/ssh.yml
  netsim/ansible/tasks/readiness-check/vjunos-router-clab.yml
  netsim/ansible/tasks/readiness-check/vjunos-switch-clab.yml
  netsim/ansible/tasks/readiness-check/vmx-clab.yml
  netsim/ansible/tasks/readiness-check/vptx-clab.yml
  netsim/ansible/tasks/readiness-check/vsrx-clab.yml
  netsim/ansible/tasks/wait-for-ready.yml
  netsim/devices/arubacx.yml
  netsim/devices/cisco8000v.yml
  netsim/devices/eos.yml
  netsim/devices/ios.yml
  netsim/devices/openbsd.yml
  netsim/devices/vjunos-router.yml
  netsim/devices/vjunos-switch.yml
  netsim/devices/vmx.yml
  netsim/devices/vptx.yml
  netsim/devices/vsrx.yml
Due: yamllint, ci_tests

BGP developer documentation (#2778)
  docs/dev/config/bgp.md
  docs/dev/config/index.md
  docs/dev/config/vrf.md
Due: none

Implement SSH readiness check for NXOS
  netsim/ansible/tasks/readiness-check/nxos-clab.yml
  netsim/devices/nxos.yml
Due: yamllint, ci_tests

Cleanup DellOS10 clab check
  netsim/ansible/tasks/readiness-check/dellos10-clab.yml
  netsim/ansible/tasks/readiness-check/vm-clab-ssh-check.yml
  netsim/devices/dellos10.yml
Due: yamllint, ci_tests

Fix: bgp.originate plugin borked 'module' attribute on hosts
  netsim/extra/bgp.originate/plugin.py
Due: ci_tests

FRR: Use 'rr_client' neighbor attribute to configure EVPN RR client
  netsim/ansible/templates/evpn/frr.evpn-config.j2
Due: none

Int: Make DUT a BGP RR in the EBGP EVPN scenario
  tests/integration/evpn/11-vxlan-ebgp.yml
Due: yamllint, ci_tests

FRR EVPN EBGP+RR test for #2783
  _html/coverage.evpn.html
  _html/frr-clab-evpn.html
  _html/frr-clab.html
  _html/frr.html
  frr/clab/evpn/11-vxlan-ebgp.yml-initial.log
  frr/clab/evpn/11-vxlan-ebgp.yml-up.log
  frr/clab/evpn/11-vxlan-ebgp.yml-validate.log
  frr/clab/evpn/cleanup-down.log
  frr/clab/evpn/results.yaml
  index.html
Due: yamllint, ci_tests

FRR: Use 'rr_client' neighbor attribute to configure EVPN RR client (#2783)
  netsim/ansible/templates/evpn/frr.evpn-config.j2
Due: none

Fix: Check defaults variable type when initializing list of modules
  netsim/data/validate.py
Due: ci_tests

Generic device readyness tests (ex: ssh) specified in netlab_ready (#2782)
  netsim/ansible/tasks/readiness-check/arubacx-clab.yml
  netsim/ansible/tasks/readiness-check/cat8000v-clab.yml
  netsim/ansible/tasks/readiness-check/cisco8000v-clab.yml
  netsim/ansible/tasks/readiness-check/csr-clab.yml
  netsim/ansible/tasks/readiness-check/dellos10-clab.yml
  netsim/ansible/tasks/readiness-check/eos-clab.yml
  netsim/ansible/tasks/readiness-check/iol-clab.yml
  netsim/ansible/tasks/readiness-check/ioll2-clab.yml
  netsim/ansible/tasks/readiness-check/ios-clab.yml
  netsim/ansible/tasks/readiness-check/nxos-clab.yml
  netsim/ansible/tasks/readiness-check/openbsd-clab.yml
  netsim/ansible/tasks/readiness-check/ssh.yml
  netsim/ansible/tasks/readiness-check/vjunos-router-clab.yml
  netsim/ansible/tasks/readiness-check/vjunos-switch-clab.yml
  netsim/ansible/tasks/readiness-check/vmx-clab.yml
  netsim/ansible/tasks/readiness-check/vptx-clab.yml
  netsim/ansible/tasks/readiness-check/vsrx-clab.yml
  netsim/ansible/tasks/wait-for-ready.yml
  netsim/devices/arubacx.yml
  netsim/devices/cisco8000v.yml
  netsim/devices/dellos10.yml
  netsim/devices/eos.yml
  netsim/devices/ios.yml
  netsim/devices/nxos.yml
  netsim/devices/openbsd.yml
  netsim/devices/vjunos-router.yml
  netsim/devices/vjunos-switch.yml
  netsim/devices/vmx.yml
  netsim/devices/vptx.yml
  netsim/devices/vsrx.yml
Due: yamllint, ci_tests

Generalize vjunos/vptx device-specific readiness script
  netsim/ansible/tasks/readiness-check/junos.yml
  netsim/ansible/tasks/readiness-check/vjunos-router.yml
  netsim/ansible/tasks/readiness-check/vjunos-switch.yml
  netsim/ansible/tasks/readiness-check/vptx.yml
Due: yamllint, ci_tests

Generalize vjunos/vptx device-specific readiness script (#2785)
  netsim/ansible/tasks/readiness-check/junos.yml
  netsim/ansible/tasks/readiness-check/vjunos-router.yml
  netsim/ansible/tasks/readiness-check/vjunos-switch.yml
  netsim/ansible/tasks/readiness-check/vptx.yml
Due: yamllint, ci_tests

Fix: ensure that the 'indent' filter is not called on an empty string (#2767)
  netsim/ansible/templates/bgp/cumulus_nvue.macro.j2
  netsim/ansible/templates/bgp/ios.j2
  netsim/ansible/templates/bgp/sros.gnmi.macro.j2
  netsim/ansible/templates/isis/ios.j2
  netsim/ansible/templates/isis/junos.j2
  netsim/ansible/templates/ospf/cumulus_nvue.j2
  netsim/ansible/templates/ospf/ios.ospfv2.j2
  netsim/ansible/templates/ospf/ios.ospfv3.j2
  netsim/ansible/templates/ripv2/ios.macro.j2
  netsim/ansible/templates/routing/_redistribute.ios.j2
  netsim/ansible/templates/vrf/eos.bgp.j2
  netsim/ansible/templates/vrf/frr.bgp.j2
  netsim/ansible/templates/vrf/ios.bgp.j2
Due: none

ArubaCX: Check for static route nexthop data before using it
  netsim/ansible/templates/routing/arubacx.j2
Due: none

ArubaCX static routing tests for #2786
  _html/arubacx-libvirt-routing.html
  _html/coverage.r_static.html
  arubacx/libvirt/routing/20-static.yml-create.log
  arubacx/libvirt/routing/20-static.yml-initial.log
  arubacx/libvirt/routing/20-static.yml-snapshot.yml
  arubacx/libvirt/routing/20-static.yml-up.log
  arubacx/libvirt/routing/20-static.yml-validate.log
  arubacx/libvirt/routing/21-static-vrf.yml-create.log
  arubacx/libvirt/routing/21-static-vrf.yml-initial.log
  arubacx/libvirt/routing/21-static-vrf.yml-snapshot.yml
  arubacx/libvirt/routing/21-static-vrf.yml-up.log
  arubacx/libvirt/routing/21-static-vrf.yml-validate.log
  arubacx/libvirt/routing/22-static-inter-vrf.yml-create.log
  arubacx/libvirt/routing/22-static-inter-vrf.yml-initial.log
  arubacx/libvirt/routing/22-static-inter-vrf.yml-snapshot.yml
  arubacx/libvirt/routing/22-static-inter-vrf.yml-up.log
  arubacx/libvirt/routing/23-static-indirect.yml-create.log
  arubacx/libvirt/routing/23-static-indirect.yml-initial.log
  arubacx/libvirt/routing/23-static-indirect.yml-snapshot.yml
  arubacx/libvirt/routing/23-static-indirect.yml-up.log
  arubacx/libvirt/routing/23-static-indirect.yml-validate.log
  arubacx/libvirt/routing/24-static-indirect-inter-vrf.yml-create.log
  arubacx/libvirt/routing/24-static-indirect-inter-vrf.yml-initial.log
  arubacx/libvirt/routing/24-static-indirect-inter-vrf.yml-snapshot.yml
  arubacx/libvirt/routing/24-static-indirect-inter-vrf.yml-up.log
  arubacx/libvirt/routing/24-static-indirect-inter-vrf.yml-validate.log
  arubacx/libvirt/routing/25-static-discard.yml-create.log
  arubacx/libvirt/routing/25-static-discard.yml-initial.log
  arubacx/libvirt/routing/25-static-discard.yml-snapshot.yml
  arubacx/libvirt/routing/25-static-discard.yml-up.log
  arubacx/libvirt/routing/cleanup-down.log
  arubacx/libvirt/routing/results.yaml
  index.html
Due: yamllint, ci_tests

Fix: Remove readiness check for libvirt IOS-XR
  netsim/ansible/tasks/readiness-check/iosxr-libvirt.yml
Due: yamllint, ci_tests

Move CL "is NVUE ready" check into readiness-check task list
  netsim/ansible/tasks/deploy-config/cumulus_nvue.yml
  netsim/ansible/tasks/readiness-check/cumulus_nvue.yml
Due: yamllint, ci_tests

fix SR Linux version detection
  netsim/ansible/templates/bgp/srlinux.macro.j2
  netsim/ansible/templates/routing/_redistribute.srlinux.j2
  netsim/ansible/templates/routing/srlinux.j2
  netsim/devices/srlinux.py
Due: ci_tests

Add unzip to 'netlab libvirt package' disk image processing
  docs/labs/routeros7.md
  netsim/cli/libvirt_actions/package.py
Due: ci_tests

Change default Mikrotik RouterOS7 container release to 7.20.4
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

Fix: add ROS7 device roles (to trigger 'initial' integration tests)
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

RouterOS7 initial configuration tests
  routeros7/clab/initial/01-interfaces.yml-create.log
  routeros7/clab/initial/01-interfaces.yml-initial.log
  routeros7/clab/initial/01-interfaces.yml-snapshot.yml
  routeros7/clab/initial/01-interfaces.yml-up.log
  routeros7/clab/initial/01-interfaces.yml-validate.log
  routeros7/clab/initial/cleanup-down.log
  routeros7/clab/initial/results.yaml
  routeros7/libvirt/initial/01-interfaces.yml-snapshot.yml
  routeros7/libvirt/initial/01-interfaces.yml-up.log
  routeros7/libvirt/initial/02-loopback.yml-create.log
  routeros7/libvirt/initial/02-loopback.yml-initial.log
  routeros7/libvirt/initial/02-loopback.yml-snapshot.yml
  routeros7/libvirt/initial/02-loopback.yml-validate.log
  routeros7/libvirt/initial/03-unnumbered.yml-create.log
  routeros7/libvirt/initial/04-mtu.yml-initial.log
  routeros7/libvirt/initial/04-mtu.yml-snapshot.yml
  routeros7/libvirt/initial/04-mtu.yml-up.log
  routeros7/libvirt/initial/04-mtu.yml-validate.log
  routeros7/libvirt/initial/05-host.yml-create.log
  routeros7/libvirt/initial/06-bridge.yml-create.log
  routeros7/libvirt/initial/07-router.yml-create.log
  routeros7/libvirt/initial/07-router.yml-initial.log
  routeros7/libvirt/initial/07-router.yml-snapshot.yml
  routeros7/libvirt/initial/07-router.yml-up.log
  routeros7/libvirt/initial/07-router.yml-validate.log
  routeros7/libvirt/initial/08-ra.yml-create.log
  routeros7/libvirt/initial/cleanup-down.log
  routeros7/libvirt/initial/results.yaml
Due: yamllint, ci_tests

Use lists to compare SR Linux versions
  netsim/ansible/templates/bgp/srlinux.macro.j2
  netsim/ansible/templates/routing/_redistribute.srlinux.j2
  netsim/ansible/templates/routing/srlinux.j2
  netsim/devices/srlinux.py
Due: ci_tests

Make mypy happy
  netsim/devices/srlinux.py
Due: ci_tests

RouterOS release 7.18.2 is the last one that works with our BGP template
  docs/labs/routeros7.md
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

Fix SR Linux version detection (#2793)
  netsim/ansible/templates/bgp/srlinux.macro.j2
  netsim/ansible/templates/routing/_redistribute.srlinux.j2
  netsim/ansible/templates/routing/srlinux.j2
  netsim/devices/srlinux.py
Due: ci_tests

Bump SR Linux release to 25.10.1
  netsim/devices/srlinux.yml
Due: yamllint, ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
