Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Fix: Normalize isis.cost into isis.metric
  netsim/modules/isis.py
Due: ci_tests

Fix: Make routing.acl.in/out a link attribute (#3809)
  docs/module/routing-acl.txt
  netsim/modules/routing.yml
  tests/coverage/expected/acl-vlan.yml
  tests/coverage/input/acl-vlan.yml
  tests/topology/expected/acl-simple.yml
Due: yamllint, ci_tests

Fixing nits and interface reports
  netsim/modules/isis.py
  netsim/reports/isis-interfaces.html.j2
  netsim/reports/isis-interfaces.md.j2
Due: ci_tests

Add coverage test
  tests/coverage/expected/isis-cost.yml
  tests/coverage/input/isis-cost.yml
Due: yamllint, ci_tests

Fix: Normalize isis.cost into isis.metric (#3811)
  netsim/modules/isis.py
  netsim/reports/isis-interfaces.html.j2
  netsim/reports/isis-interfaces.md.j2
  tests/coverage/expected/isis-cost.yml
  tests/coverage/input/isis-cost.yml
Due: yamllint, ci_tests

Fix: Use isis.metric in configuration templates
  netsim/ansible/templates/isis/arcos.j2
  netsim/ansible/templates/isis/asa.j2
  netsim/ansible/templates/isis/eos.macro.j2
  netsim/ansible/templates/isis/frr.macro.j2
  netsim/ansible/templates/isis/ios.j2
  netsim/ansible/templates/isis/iosxr.j2
  netsim/ansible/templates/isis/junos.isis.j2
  netsim/ansible/templates/isis/nxos.j2
  netsim/ansible/templates/isis/srlinux.macro.j2
  netsim/ansible/templates/isis/sros.j2
  netsim/ansible/templates/isis/sros.openconfig.j2
  netsim/ansible/templates/isis/vyos.j2
  netsim/ansible/templates/srv6/sros.j2
  netsim/ansible/templates/vrf/arcos.j2
Due: none

SR Linux Syslog client
  netsim/ansible/templates/services/srlinux.j2
  netsim/devices/srlinux.yml
  tests/integration/services/12-syslog-vrf-client.yml
Due: yamllint, ci_tests

Fix: Use 'no cdp enable' on Nexus OS to disable it
  netsim/ansible/templates/initial/nxos.j2
Due: none

Fix indentation in SRL template
  netsim/ansible/templates/isis/srlinux.macro.j2
Due: none

Fix: Use isis.metric in configuration templates (#3812)
  netsim/ansible/templates/isis/arcos.j2
  netsim/ansible/templates/isis/asa.j2
  netsim/ansible/templates/isis/eos.macro.j2
  netsim/ansible/templates/isis/frr.macro.j2
  netsim/ansible/templates/isis/ios.j2
  netsim/ansible/templates/isis/iosxr.j2
  netsim/ansible/templates/isis/junos.isis.j2
  netsim/ansible/templates/isis/nxos.j2
  netsim/ansible/templates/isis/srlinux.macro.j2
  netsim/ansible/templates/isis/sros.j2
  netsim/ansible/templates/isis/sros.openconfig.j2
  netsim/ansible/templates/isis/vyos.j2
  netsim/ansible/templates/srv6/sros.j2
  netsim/ansible/templates/vrf/arcos.j2
Due: none

SR Linux syslog client tests for #3813
  _html/coverage.services.html
  _html/release-coverage.html
  _html/srlinux-clab-services.html
  index.html
  srlinux/clab/services/11-syslog-client.yml-create.log
  srlinux/clab/services/11-syslog-client.yml-initial.log
  srlinux/clab/services/11-syslog-client.yml-up.log
  srlinux/clab/services/11-syslog-client.yml-validate.log
  srlinux/clab/services/12-syslog-vrf-client.yml-create.log
  srlinux/clab/services/12-syslog-vrf-client.yml-initial.log
  srlinux/clab/services/12-syslog-vrf-client.yml-up.log
  srlinux/clab/services/12-syslog-vrf-client.yml-validate.log
  srlinux/clab/services/cleanup-down.log
  srlinux/clab/services/results.yaml
Due: yamllint, ci_tests

Fix: Perform network services feature check only when needed
  netsim/modules/services.py
  netsim/modules/services.yml
Due: yamllint, ci_tests

Rewrite test using 'any'
  netsim/modules/services.py
Due: ci_tests

Fix: Lack of client data skipped server feature test
  netsim/modules/services.py
Due: ci_tests

Fix: Perform network services feature check only when needed (#3814)
  netsim/modules/services.py
  netsim/modules/services.yml
Due: yamllint, ci_tests

Nokia SR OS syslog client
  netsim/ansible/templates/services/sros.j2
  netsim/devices/sros.yml
Due: yamllint, ci_tests

Nokia SR OS syslog tests for #3815
  _html/coverage.services.html
  _html/release-coverage.html
  _html/srsim-clab-services.html
  _html/srsim-clab.html
  _html/srsim.html
  index.html
  srsim/clab/services/01-dns-client.yml-create.log
  srsim/clab/services/02-dns-vrf-client.yml-create.log
  srsim/clab/services/03-dns-server.yml-create.log
  srsim/clab/services/11-syslog-client.yml-create.log
  srsim/clab/services/11-syslog-client.yml-initial.log
  srsim/clab/services/11-syslog-client.yml-up.log
  srsim/clab/services/11-syslog-client.yml-validate.log
  srsim/clab/services/12-syslog-vrf-client.yml-create.log
  srsim/clab/services/cleanup-down.log
  srsim/clab/services/results.yaml
Due: yamllint, ci_tests

SR Linux Syslog client (#3813)
  netsim/ansible/templates/services/srlinux.j2
  netsim/devices/srlinux.yml
  tests/integration/services/12-syslog-vrf-client.yml
Due: yamllint, ci_tests

Nokia SR OS syslog client (#3815)
  netsim/ansible/templates/services/sros.j2
  netsim/devices/sros.yml
Due: yamllint, ci_tests

Fix: Improve caveat handling in doc feature tables
  docs/_ext/features.py
Due: ci_tests

Fix: Improve caveat handling in doc feature tables (#3816)
  docs/_ext/features.py
Due: ci_tests

Doc: Generic routing feature table
  docs/module/routing-clist.txt
  docs/module/routing-policy.txt
  docs/module/routing-static.txt
  docs/module/routing.md
  netsim/devices/arubacx.yml
  netsim/devices/cumulus_nvue.yml
  netsim/devices/eos.yml
  netsim/devices/frr.yml
  netsim/devices/ios.yml
  netsim/devices/srlinux.yml
  netsim/devices/sros.yml
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Fixing a minor delete.community omission
  docs/module/routing-policy.txt
Due: none

Doc: Generic routing feature table (#3817)
  docs/module/routing-clist.txt
  docs/module/routing-policy.txt
  docs/module/routing-static.txt
  docs/module/routing.md
  netsim/devices/arubacx.yml
  netsim/devices/cumulus_nvue.yml
  netsim/devices/eos.yml
  netsim/devices/frr.yml
  netsim/devices/ios.yml
  netsim/devices/srlinux.yml
  netsim/devices/sros.yml
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Fix: Typo in EIGRP documentation
  docs/module/eigrp.md
Due: none

Doc: Use {features} in IS-IS platform support table
  docs/caveats.md
  docs/module/isis.md
  netsim/devices/arcos.yml
  netsim/devices/asav.yml
  netsim/devices/csrx.yml
  netsim/devices/eos.yml
  netsim/devices/junos.yml
  netsim/devices/vyos.yml
Due: yamllint, ci_tests

Cleanup IS-IS intro
  docs/module/isis.md
Due: none

Doc: Use {features} in IS-IS platform support table (#3818)
  docs/caveats.md
  docs/module/isis.md
  netsim/devices/arcos.yml
  netsim/devices/asav.yml
  netsim/devices/csrx.yml
  netsim/devices/eos.yml
  netsim/devices/junos.yml
  netsim/devices/vyos.yml
Due: yamllint, ci_tests

Junos Syslog client
  netsim/ansible/templates/services/junos.j2
  netsim/devices/junos.yml
Due: yamllint, ci_tests

Remove exclude-hostname, increase cRPD wait time
  netsim/ansible/templates/services/junos.j2
  tests/integration/services/12-syslog-vrf-client.yml
Due: yamllint, ci_tests

Junos Syslog client (#3819)
  netsim/ansible/templates/services/junos.j2
  netsim/devices/junos.yml
  tests/integration/services/12-syslog-vrf-client.yml
Due: yamllint, ci_tests

Add 'netmiko' device configuration method (#3805)
  docs/platforms.md
  netsim/cli/initial/deploy.py
  netsim/cli/initial/netmiko.py
  netsim/devices/ios.yml
  netsim/devices/none.yml
  netsim/providers/__init__.py
  netsim/providers/clab/__init__.py
  netsim/providers/clab/configs.py
  netsim/providers/libvirt.py
  tests/integration/initial/01c-netmiko.yml
  tests/platform-integration/config/06-netmiko.yml
Due: yamllint, ci_tests

Modularize libvirt provider module into a package
  netsim/cli/libvirt/package.py
  netsim/providers/libvirt.yml
  netsim/providers/libvirt/__init__.py
  netsim/providers/libvirt/labops.py
  netsim/providers/libvirt/stats.py
Due: yamllint, ci_tests

Missing f-string
  netsim/providers/libvirt/__init__.py
Due: ci_tests

Modularize libvirt provider module into a package (#3820)
  netsim/cli/libvirt/package.py
  netsim/providers/libvirt.yml
  netsim/providers/libvirt/__init__.py
  netsim/providers/libvirt/labops.py
  netsim/providers/libvirt/stats.py
Due: yamllint, ci_tests

Refactor netmiko code
  netsim/cli/initial/netmiko.py
  netsim/utils/netmiko.py
Due: ci_tests

Fix a hypothetical edge case
  netsim/utils/netmiko.py
Due: ci_tests

Refactor netmiko code (#3821)
  netsim/cli/initial/netmiko.py
  netsim/utils/netmiko.py
Due: ci_tests
