Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

rename shell script
  netsim/devices/crpd.yml
Due: yamllint, ci_tests

Stop cRPD shell script pushing shebang to Junos config (#3154)
  netsim/devices/crpd.yml
  netsim/templates/provider/clab/crpd/netlab-config.j2
Due: yamllint, ci_tests

Capitalization
  docs/platforms.md
Due: none

Cisco XRd shell script config deployment (#3153)
  docs/platforms.md
  netsim/devices/iosxr.yml
  netsim/templates/provider/clab/iosxr/netlab-config.j2
Due: yamllint, ci_tests

Testing config_mode on XRd and cRPD
  _html/coverage.initial.html
  _html/crpd-clab-initial.html
  _html/crpd-clab.html
  _html/crpd.html
  _html/iosxr-clab-initial.html
  _html/iosxr-clab.html
  _html/iosxr.html
  crpd/clab/initial/01-interfaces.yml-create.log
  crpd/clab/initial/01-interfaces.yml-initial.log
  crpd/clab/initial/01-interfaces.yml-up.log
  crpd/clab/initial/01-interfaces.yml-validate.log
  crpd/clab/initial/01a-scripts.yml-create.log
  crpd/clab/initial/01a-scripts.yml-up.log
  crpd/clab/initial/01a-scripts.yml-validate.log
  crpd/clab/initial/cleanup-down.log
  crpd/clab/initial/results.yaml
  index.html
  iosxr/clab/initial/01-interfaces.yml-create.log
  iosxr/clab/initial/01-interfaces.yml-initial.log
  iosxr/clab/initial/01-interfaces.yml-up.log
  iosxr/clab/initial/01-interfaces.yml-validate.log
  iosxr/clab/initial/01a-scripts.yml-create.log
  iosxr/clab/initial/01a-scripts.yml-initial.log
  iosxr/clab/initial/01a-scripts.yml-up.log
  iosxr/clab/initial/01a-scripts.yml-validate.log
  iosxr/clab/initial/cleanup-down.log
  iosxr/clab/initial/results.yaml
Due: yamllint, ci_tests

Make 'sh' config deployment mode on IOS XR containers optional
  docs/platforms.md
  netsim/devices/iosxr.yml
Due: yamllint, ci_tests

support vxlan only with evpn control plain - bum forwarding does not work
  netsim/devices/vptx.yml
Due: yamllint, ci_tests

Update the documentation
  docs/caveats.md
  docs/module/evpn.md
  docs/platforms.md
Due: none

EVPN/VXLAN on Juniper vPTX (#3155)
  docs/caveats.md
  docs/module/evpn.md
  docs/platforms.md
  netsim/ansible/templates/evpn/junos-common.j2
  netsim/ansible/templates/evpn/vjunos-switch.j2
  netsim/ansible/templates/evpn/vptx.j2
  netsim/ansible/templates/vlan/vptx.j2
  netsim/ansible/templates/vxlan/vjunos-switch.j2
  netsim/ansible/templates/vxlan/vptx.j2
  netsim/devices/vptx.py
  netsim/devices/vptx.yml
Due: yamllint, ci_tests

Fix: Set MTU in OSPF-over-VXLAN integration test
  tests/integration/evpn/22-ospf-ce-router.yml
Due: yamllint, ci_tests

Implement anycast-as-regular-IP kludge
  netsim/devices/cisco8000v.py
  netsim/devices/cisco8000v.yml
Due: yamllint, ci_tests

Add vxlan to vjunos-router
  netsim/ansible/templates/vxlan/vjunos-router.j2
  netsim/devices/vjunos-router.yml
Due: yamllint, ci_tests

Start evpn implementation
  netsim/ansible/templates/evpn/junos-common.j2
  netsim/ansible/templates/evpn/vjunos-router.j2
  netsim/ansible/templates/evpn/vjunos-switch.j2
  netsim/ansible/templates/evpn/vptx.j2
  netsim/devices/vjunos-router.yml
Due: yamllint, ci_tests

fix deletion of bridge-domains
  netsim/ansible/templates/evpn/vjunos-router.j2
Due: none

fix template when there are no vlans
  netsim/ansible/templates/vlan/vjunos-router.j2
Due: none

add macvrf_unique_rd_for_vlan_bundle to vjunos-router
  netsim/devices/junos.py
Due: ci_tests

enable XRd management VRF
  netsim/devices/iosxr.yml
Due: yamllint, ci_tests

increase ping_long timeout on vjunos_router
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

Enable XRd management VRF (#3158)
  netsim/devices/iosxr.yml
Due: yamllint, ci_tests

Implement management VRF for all IOS XR-based containers
  netsim/devices/iosxr.yml
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Implement management VRF for all IOS XR-based containers (#3159)
  netsim/devices/iosxr.yml
  netsim/devices/xr.yml
Due: yamllint, ci_tests

move vlan-bundle in per-device basis
  netsim/ansible/templates/evpn/junos-common.j2
  netsim/ansible/templates/evpn/vjunos-router.j2
  netsim/ansible/templates/evpn/vjunos-switch.j2
  netsim/ansible/templates/evpn/vptx.j2
Due: none

Fix: Do not try to apply empty IOS XRd config snippet
  netsim/templates/provider/clab/iosxr/netlab-config.j2
Due: none

fix vjunos-switch default protocol evpn config
  netsim/ansible/templates/evpn/vjunos-switch.j2
Due: none

Apply Copilot-suggested "match comments or empty lines" fix
  netsim/templates/provider/clab/iosxr/netlab-config.j2
Due: none

Fix: Do not try to apply empty IOS XRd config snippet (#3161)
  netsim/templates/provider/clab/iosxr/netlab-config.j2
Due: none

IOS XR EBGP multihop
  netsim/devices/xr.yml
  netsim/extra/ebgp.multihop/iosxr.j2
Due: yamllint, ci_tests

IOS XR EBGP multihop tests for #3162
  _html/cisco8000v-clab-bgp.multihop.html
  _html/cisco8000v-clab.html
  _html/cisco8000v.html
  _html/coverage.bgp.multihop.html
  _html/iosxr-clab-bgp.multihop.html
  _html/iosxr-clab.html
  _html/iosxr.html
  _html/release-coverage.html
  cisco8000v/clab/bgp.multihop/01-global.yml-create.log
  cisco8000v/clab/bgp.multihop/01-global.yml-initial.log
  cisco8000v/clab/bgp.multihop/01-global.yml-up.log
  cisco8000v/clab/bgp.multihop/01-global.yml-validate.log
  cisco8000v/clab/bgp.multihop/02-vrf.yml-create.log
  cisco8000v/clab/bgp.multihop/02-vrf.yml-initial.log
  cisco8000v/clab/bgp.multihop/02-vrf.yml-up.log
  cisco8000v/clab/bgp.multihop/02-vrf.yml-validate.log
  cisco8000v/clab/bgp.multihop/cleanup-down.log
  cisco8000v/clab/bgp.multihop/results.yaml
  index.html
  iosxr/clab/bgp.multihop/01-global.yml-create.log
  iosxr/clab/bgp.multihop/01-global.yml-initial.log
  iosxr/clab/bgp.multihop/01-global.yml-up.log
  iosxr/clab/bgp.multihop/01-global.yml-validate.log
  iosxr/clab/bgp.multihop/02-vrf.yml-create.log
  iosxr/clab/bgp.multihop/02-vrf.yml-initial.log
  iosxr/clab/bgp.multihop/02-vrf.yml-up.log
  iosxr/clab/bgp.multihop/02-vrf.yml-validate.log
  iosxr/clab/bgp.multihop/cleanup-down.log
  iosxr/clab/bgp.multihop/results.yaml
Due: yamllint, ci_tests

Fix Copilot-identified errors, add documentation
  docs/plugins/ebgp.multihop.md
  netsim/extra/ebgp.multihop/iosxr.j2
Due: none

IOS XR EBGP multihop (#3162)
  docs/plugins/ebgp.multihop.md
  netsim/devices/xr.yml
  netsim/extra/ebgp.multihop/iosxr.j2
Due: yamllint, ci_tests

Implement BGP Session parameters for IOS XR
  netsim/devices/xr.yml
  netsim/extra/bgp.session/iosxr.j2
Due: yamllint, ci_tests

Implement Copilot-suggested fixes, add docs, increase wait time
  docs/caveats.md
  docs/plugins/bgp.session.md
  netsim/ansible/templates/bgp/iosxr.j2
  netsim/extra/bgp.session/iosxr.j2
  tests/integration/bgp.session/02-as-override.yml
Due: yamllint, ci_tests

move evpn templates in separate junos folder
  netsim/ansible/templates/evpn/junos/common.j2
  netsim/ansible/templates/evpn/junos/vlan.j2
  netsim/ansible/templates/evpn/vjunos-router.j2
  netsim/ansible/templates/evpn/vjunos-switch.j2
  netsim/ansible/templates/evpn/vptx.j2
Due: none

fix mtu for evpn/10-vxlan-rr.yml
  tests/integration/evpn/10-vxlan-rr.yml
Due: yamllint, ci_tests

Implement BGP Session parameters for IOS XR (#3164)
  docs/caveats.md
  docs/plugins/bgp.session.md
  netsim/ansible/templates/bgp/iosxr.j2
  netsim/devices/xr.yml
  netsim/extra/bgp.session/iosxr.j2
  tests/integration/bgp.session/02-as-override.yml
Due: yamllint, ci_tests

Fix: Cisco 8000v needs two clears of BGP sessions to set up BGP timers
  tests/integration/bgp.session/10-timers.yml
Due: yamllint, ci_tests

add transit.vni to 20-vxlan-irb-ospf.yml
  tests/integration/evpn/20-vxlan-irb-ospf.yml
Due: yamllint, ci_tests

Check multi-as prepending in 05-prepend-out integration test
  tests/integration/routing/05-prepend-out.yml
Due: yamllint, ci_tests
