Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Add DNS and Syslog for VyOS (#3839)
  netsim/ansible/templates/initial/vyos.j2
  netsim/ansible/templates/services/vyos.j2
  netsim/devices/vyos.yml
  tests/integration/services/01-dns-client.yml
Due: yamllint, ci_tests

VyOS tunnel tests for #3840
  _html/coverage.tunnel.html
  _html/cumulus_nvue.html
  _html/release-coverage.html
  _html/vyos-clab-tunnel.html
  _html/vyos-clab.html
  _html/vyos-libvirt-tunnel.html
  _html/vyos-libvirt.html
  _html/vyos.html
  index.html
  vyos/clab/tunnel/01-gre.yml-create.log
  vyos/clab/tunnel/01-gre.yml-initial.log
  vyos/clab/tunnel/01-gre.yml-up.log
  vyos/clab/tunnel/01-gre.yml-validate.log
  vyos/clab/tunnel/02-gre-vrf.yml-initial.log
  vyos/clab/tunnel/11-wireguard.yml-create.log
  vyos/clab/tunnel/11-wireguard.yml-initial.log
  vyos/clab/tunnel/11-wireguard.yml-up.log
  vyos/clab/tunnel/11-wireguard.yml-validate.log
  vyos/clab/tunnel/12-wireguard-vrf.yml-create.log
  vyos/clab/tunnel/cleanup-down.log
  vyos/clab/tunnel/results.yaml
  vyos/libvirt/_caveats.yml
  vyos/libvirt/tunnel/01-gre.yml-validate.log
  vyos/libvirt/tunnel/02-gre-vrf.yml-initial.log
  vyos/libvirt/tunnel/02-gre-vrf.yml-up.log
  vyos/libvirt/tunnel/02-gre-vrf.yml-validate.log
  vyos/libvirt/tunnel/11-wireguard.yml-create.log
  vyos/libvirt/tunnel/11-wireguard.yml-initial.log
  vyos/libvirt/tunnel/11-wireguard.yml-up.log
  vyos/libvirt/tunnel/11-wireguard.yml-validate.log
  vyos/libvirt/tunnel/12-wireguard-vrf.yml-create.log
  vyos/libvirt/tunnel/cleanup-down.log
  vyos/libvirt/tunnel/results.yaml
Due: yamllint, ci_tests

Add VyOS support for WireGuard tunnels (#3840)
  netsim/ansible/templates/initial/vyos.j2
  netsim/devices/vyos.yml
  netsim/extra/tunnel/wireguard/vyos.initial.j2
  netsim/extra/tunnel/wireguard/vyos.j2
Due: yamllint, ci_tests

Refuse MLAG peer-links on ESI-LAG-only devices (#3835)
  netsim/modules/lag.py
  tests/errors/lag-esi-only-peerlink.log
  tests/errors/lag-esi-only-peerlink.yml
  tests/errors/lag-no-mside.log
  tests/errors/lag-no-mside.yml
Due: yamllint, ci_tests

Bump FRR release to 10.7.1
  netsim/devices/frr.yml
  tests/coverage/input/check-config-files.yml
  tests/topology/input/multiserver-explicit.yml
Due: yamllint, ci_tests

Use prefixsets in routing.prefix lists
  docs/module/routing-acl.txt
  docs/module/routing-advanced.txt
  docs/module/routing-prefix.txt
  netsim/modules/routing.yml
  netsim/modules/routing/prefix.py
  tests/errors/prefix-list-min-max.log
  tests/topology/expected/rp-prefix-expansion.yml
  tests/topology/input/rp-prefix-expansion.yml
Due: yamllint, ci_tests

Fixing Copilot-identified errors/nits
  docs/module/routing-prefix.txt
  netsim/ansible/templates/routing/iosxr/prefix.j2
  netsim/ansible/templates/routing/srlinux/prefix.j2
  netsim/modules/routing/prefix.py
Due: ci_tests

Using Cisco IOS XRd vRouter container
  docs/labs/clab.md
  docs/labs/iosxr-clab.md
  docs/labs/iosxr.md
  docs/platforms.md
Due: none

Fixing a typo
  docs/labs/clab.md
Due: none

VyOS: vagrant box building hacks
  docs/caveats.md
  docs/labs/libvirt.md
  docs/labs/vyos.md
  docs/labs/vyos.txt
  netsim/devices/vyos.yml
  netsim/install/libvirt/vyos.txt
  netsim/install/libvirt/vyos/netlab-vyos-firstboot
  netsim/templates/provider/libvirt/libvirt-bridge.j2
  netsim/templates/provider/libvirt/vyos-domain.j2
Due: yamllint, ci_tests

Create hashicorp repository in a way that doesn't conflict
  netsim/install/libvirt.sh
Due: none

Using Cisco IOS XRd vRouter container (#3847)
  docs/labs/clab.md
  docs/labs/iosxr-clab.md
  docs/labs/iosxr.md
  docs/platforms.md
Due: none

Update path for hashicorp GPG keyring
  netsim/install/libvirt.sh
Due: none

Remove hashicorp keyring before downloading again
  netsim/install/libvirt.sh
Due: none

Delete old hashicorp keyring location
  netsim/install/libvirt.sh
Due: none

Fix: start the install script with the cleanup
  netsim/install/libvirt.sh
Due: none

Use official way to create the hashicorp repository (#3850)
  netsim/install/libvirt.sh
Due: none

Fix: Remove bogus nested group_vars from iosxr device data
  netsim/devices/iosxr.yml
Due: yamllint, ci_tests

Fix: Adjust SSH retry timers for XRd vRouter
  docs/labs/iosxr-clab.md
Due: none

Use cloudinit to build the VyOS box
  docs/labs/vyos.md
  netsim/devices/vyos.yml
  netsim/install/libvirt/vyos.txt
  netsim/install/libvirt/vyos/netlab-vyos-firstboot
Due: yamllint, ci_tests

Missing files :(
  netsim/install/libvirt/vyos/meta-data
  netsim/install/libvirt/vyos/user-data
Due: none

Optimize VyOS build process
  docs/labs/libvirt.md
  docs/labs/vyos.md
  docs/platforms.md
  netsim/cli/libvirt/package.py
  netsim/devices/vyos.yml
  netsim/install/libvirt/vyos.txt
  netsim/install/libvirt/vyos.xml.j2
  netsim/install/libvirt/vyos/install.sh
  netsim/install/libvirt/vyos/netlab-vyos-firstboot
Due: yamllint, ci_tests

fix typo and restored reboot()
  docs/labs/vyos.md
  netsim/install/libvirt/vyos/netlab-vyos-firstboot
Due: none

Add LAG for RouterOS7
  netsim/ansible/templates/initial/routeros7.j2
  netsim/ansible/templates/lag/routeros7.initial.j2
  netsim/ansible/templates/lag/routeros7.j2
  netsim/ansible/templates/vlan/routeros7.j2
  netsim/devices/routeros7.py
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

VyOS: Vagrant box building procedure (#3849)
  docs/caveats.md
  docs/labs/libvirt.md
  docs/labs/vyos.md
  docs/labs/vyos.txt
  docs/platforms.md
  netsim/cli/libvirt/package.py
  netsim/devices/vyos.yml
  netsim/install/libvirt/vyos.txt
  netsim/install/libvirt/vyos.xml.j2
  netsim/install/libvirt/vyos/install.sh
  netsim/install/libvirt/vyos/netlab-vyos-firstboot
  netsim/templates/provider/libvirt/libvirt-bridge.j2
  netsim/templates/provider/libvirt/vyos-domain.j2
Due: yamllint, ci_tests

VyOS caveats
  docs/caveats.md
Due: none

Updated VyOS caveats (#3846)
  docs/caveats.md
Due: none

Updated VLAN on LAG check for RouterOS7 quirk
  netsim/devices/routeros7.py
Due: ci_tests

Refuse MLAG peer-links on ESI-LAG-only devices (#3842)
  netsim/modules/lag.py
  tests/errors/lag-esi-only-peerlink.log
  tests/errors/lag-esi-only-peerlink.yml
  tests/errors/lag-no-mside.log
  tests/errors/lag-no-mside.yml
Due: yamllint, ci_tests

Enable debugging with NETLAB_DEBUG environment variable
  docs/dev/debugging.md
  netsim/utils/log.py
Due: ci_tests

Fix: Honor '.cfg' config file suffix request
  netsim/cli/initial/configs.py
Due: ci_tests

Add BGP Confederation support to VyOS
  netsim/ansible/templates/bgp/vyos.j2
  netsim/devices/vyos.yml
Due: yamllint, ci_tests

Detect containerlab reserved node names
  netsim/providers/clab.yml
  netsim/providers/clab/__init__.py
  tests/coverage/errors/clab-rsvd-node-names.log
  tests/coverage/errors/clab-rsvd-node-names.yml
  tests/coverage/expected/rt-vlan-role-unnumbered.yml
  tests/coverage/input/rt-vlan-role-unnumbered.yml
Due: yamllint, ci_tests

Sanitize environment variable contents
  netsim/utils/log.py
Due: ci_tests

Detect containerlab reserved node names (#3853)
  netsim/providers/clab.yml
  netsim/providers/clab/__init__.py
  tests/coverage/errors/clab-rsvd-node-names.log
  tests/coverage/errors/clab-rsvd-node-names.yml
  tests/coverage/expected/rt-vlan-role-unnumbered.yml
  tests/coverage/input/rt-vlan-role-unnumbered.yml
Due: yamllint, ci_tests

Fix docstring
  netsim/cli/initial/configs.py
Due: ci_tests
