Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Add '--debug: paths' option to help troubleshoot custom templates (#2690)
  docs/customize.md
  docs/dev/config/deploy.md
  netsim/augment/config.py
  netsim/cli/__init__.py
  netsim/utils/files.py
Due: ci_tests

Bump SR Linux release to 25.7.2
  netsim/devices/srlinux.yml
Due: yamllint, ci_tests

OSPF support for OpenBSD
  netsim/ansible/templates/ospf/openbsd.j2
  netsim/ansible/templates/ospf/openbsd.ospfv2.j2
  netsim/ansible/templates/ospf/openbsd.ospfv3.j2
  netsim/devices/openbsd.yml
Due: yamllint, ci_tests

bgp.as_list support for wildcard/regexp member/rr attributes (#2686)
  docs/groups.md
  docs/module/bgp.md
  netsim/augment/groups.py
  netsim/modules/bgp.py
  netsim/modules/bgp.yml
  tests/errors/bgp-as-list-attr.log
  tests/errors/bgp-as-list-semantics.log
  tests/errors/bgp-as-list-semantics.yml
  tests/topology/input/bgp-members.yml
Due: yamllint, ci_tests

Use shared select_output_file in output modules (#2687)
  netsim/outputs/__init__.py
  netsim/outputs/d2.py
  netsim/outputs/graph.py
  netsim/outputs/pickle.py
  netsim/outputs/provider.py
  netsim/outputs/report.py
  netsim/outputs/yaml.py
Due: ci_tests

[Doc]: Fix the title of 'netlab graph' documentation
  docs/netlab/graph.md
Due: none

Use wait time constants in BGP session integration tests
  tests/integration/bgp.session/01-allowas-in.yml
  tests/integration/bgp.session/02-as-override.yml
  tests/integration/bgp.session/04-default-originate.yml
  tests/integration/bgp.session/06-passive.yml
  tests/integration/bgp.session/08-remove-private-as.yml
  tests/integration/bgp.session/10-timers.yml
  tests/integration/bgp.session/11-rs-client.yml
  tests/integration/bgp.session/12-rs.yml
  tests/integration/bgp.session/24-default-unnumbered.yml
Due: yamllint, ci_tests

Use wait time constants in BGP session integration tests (#2700)
  tests/integration/bgp.session/01-allowas-in.yml
  tests/integration/bgp.session/02-as-override.yml
  tests/integration/bgp.session/04-default-originate.yml
  tests/integration/bgp.session/06-passive.yml
  tests/integration/bgp.session/08-remove-private-as.yml
  tests/integration/bgp.session/10-timers.yml
  tests/integration/bgp.session/11-rs-client.yml
  tests/integration/bgp.session/12-rs.yml
  tests/integration/bgp.session/24-default-unnumbered.yml
Due: yamllint, ci_tests

[Doc] Topology-level modules are not inherited by host nodes
  docs/modules.md
Due: none

Make 'routing/01-locpref' integration test VRF-aware
  tests/integration/routing/01-locpref.yml
Due: yamllint, ci_tests

VRF-aware routing/locpref test on EOS, FRR, SR Linux (for #2702)
  _html/eos-clab-routing.html
  _html/frr-clab-routing.html
  _html/srlinux-clab-routing.html
  eos/clab/routing/01-locpref.yml-create.log
  eos/clab/routing/01-locpref.yml-initial.log
  eos/clab/routing/01-locpref.yml-snapshot.yml
  eos/clab/routing/01-locpref.yml-up.log
  eos/clab/routing/01-locpref.yml-validate.log
  eos/clab/routing/cleanup-down.log
  eos/clab/routing/results.yaml
  frr/clab/routing/01-locpref.yml-create.log
  frr/clab/routing/01-locpref.yml-initial.log
  frr/clab/routing/01-locpref.yml-snapshot.yml
  frr/clab/routing/01-locpref.yml-up.log
  frr/clab/routing/01-locpref.yml-validate.log
  frr/clab/routing/cleanup-down.log
  frr/clab/routing/results.yaml
  srlinux/clab/routing/01-locpref.yml-create.log
  srlinux/clab/routing/01-locpref.yml-initial.log
  srlinux/clab/routing/01-locpref.yml-snapshot.yml
  srlinux/clab/routing/01-locpref.yml-up.log
  srlinux/clab/routing/01-locpref.yml-validate.log
  srlinux/clab/routing/cleanup-down.log
  srlinux/clab/routing/results.yaml
Due: yamllint, ci_tests

FortiOS package update: + add openstack iso - remove vagrant user
  netsim/devices/fortios.yml
  netsim/install/libvirt/fortios.xml.j2
  netsim/install/libvirt/fortios/openstack/latest/user_data
  netsim/templates/provider/libvirt/fortios-domain.j2
Due: yamllint, ci_tests

Make 'routing/01-locpref' integration test VRF-aware (#2702)
  tests/integration/routing/01-locpref.yml
Due: yamllint, ci_tests

Fix: Remove devices that don't support a reported subset from coverage
  _html/coverage.r_filter.html
  _html/coverage.r_policy.html
  _html/coverage.r_static.html
  _reports/remap.py
Due: ci_tests

Complete Box-to-Dict reporting migration
  _html/coverage.ospfv2.html
  _html/coverage.ospfv3.html
  _html/coverage.r_filter.html
  _html/coverage.r_policy.html
  _html/coverage.r_static.html
  _reports/coverage.html.j2
  _reports/html.py
  _reports/results.html.j2
Due: ci_tests

Fix paths to device reports for coverage reports with 'from' path
  _html/coverage.ospfv2.html
  _html/coverage.ospfv3.html
  _html/coverage.r_filter.html
  _html/coverage.r_policy.html
  _html/coverage.r_static.html
  _reports/coverage.html.j2
Due: none

Apply fixes to coverage reports to release tests
  _html/coverage.ospfv2.html
  _html/coverage.ospfv3.html
  _html/coverage.r_filter.html
  _html/coverage.r_policy.html
  _html/coverage.r_static.html
  _reports/coverage.html.j2
  _reports/html.py
  _reports/remap.py
  _reports/results.html.j2
Due: ci_tests

Implement suggested changes in config templates and add device quirks
  netsim/ansible/templates/ospf/openbsd.ospfv2.j2
  netsim/ansible/templates/ospf/openbsd.ospfv3.j2
  netsim/devices/openbsd.py
Due: ci_tests

Increase the OSPFv3 SPF waiting time for OpenBSD
  tests/integration/ospf/ospfv3/01-network.yml
  tests/integration/ospf/ospfv3/03-cost.yml
Due: yamllint, ci_tests

Add documentation and OSPFv3 caveats
  docs/caveats.md
  docs/labs/openbsd.md
  docs/module/ospf.md
  docs/platforms.md
Due: none

OSPFv2/v3 support for OpenBSD devices (#2697)
  docs/caveats.md
  docs/labs/openbsd.md
  docs/module/ospf.md
  docs/platforms.md
  netsim/ansible/templates/ospf/openbsd.j2
  netsim/ansible/templates/ospf/openbsd.ospfv2.j2
  netsim/ansible/templates/ospf/openbsd.ospfv3.j2
  netsim/devices/openbsd.py
  netsim/devices/openbsd.yml
  tests/integration/ospf/ospfv3/01-network.yml
  tests/integration/ospf/ospfv3/03-cost.yml
Due: yamllint, ci_tests

Remove BGP policy tests that duplicate routing functionality
  tests/integration/bgp.policy/31-med.yml
  tests/integration/bgp.policy/41-prepend.yml
  tests/integration/bgp.policy/42-prepend-unnumbered.yml
Due: yamllint, ci_tests

Implement 'coverage note' attribute in coverage reports
  _html/coverage.bgp.policy.html
  _reports/coverage.html.j2
Due: none

Fix integration test URLs in coverage reports with '#'/'.' in test name
  _html/coverage.bgp.multihop.html
  _html/coverage.bgp.policy.html
  _html/coverage.bgp.session.html
  _reports/coverage.html.j2
Due: none

netlab inspect: disable markup when printing table-formatted YAML data
  netsim/cli/inspect.py
  netsim/utils/strings.py
Due: ci_tests

netlab inspect: disable markup when printing table-formatted YAML data (#2705)
  netsim/cli/inspect.py
  netsim/utils/strings.py
Due: ci_tests

Use 'bgp_community_type' subtype in bgp.community values validation
  netsim/modules/bgp.py
  netsim/modules/bgp.yml
Due: yamllint, ci_tests

Use 'bgp_community_type' subtype in bgp.community values validation (#2706)
  netsim/modules/bgp.py
  netsim/modules/bgp.yml
Due: yamllint, ci_tests

SR OS is no longer tested
  index.html
Due: none

Nokia SR OS is no longer tested
  netsim/devices/sros.yml
  netsim/devices/srsim.yml
Due: yamllint, ci_tests

[Doc] Add venv installation instructions and a few installation caveats
  docs/install/linux.md
  docs/install/ubuntu-vm.md
  docs/install/ubuntu.md
  docs/netlab/install.md
Due: none

Tweak transformation tests to remove all warnings
  tests/topology/expected/bgp-unnumbered.yml
  tests/topology/expected/device-node-defaults.yml
  tests/topology/input/bgp-community.yml
  tests/topology/input/bgp-unnumbered.yml
  tests/topology/input/device-node-defaults.yml
Due: yamllint, ci_tests
