Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Fix CL NVUE OSPFv2 area parameter config template (#3077)
  netsim/extra/ospf.areas/cumulus_nvue.j2
Due: none

Fix: ospf.areas.inter_area attribute cannot be used with regular areas (#3076)
  netsim/extra/ospf.areas/plugin.py
Due: ci_tests

CL BGP aggregation caveat
  _html/cumulus-libvirt-bgp.policy.html
  _html/cumulus-libvirt.html
  _html/cumulus.html
  cumulus/libvirt/_caveats.yml
  index.html
Due: yamllint, ci_tests

Extend BFD start time in BGP BFD integration test
  tests/integration/bgp.session/13-bfd.yml
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

ArubaCX BFD test for #3078
  _html/arubacx-libvirt-bgp.session.html
  _html/arubacx-libvirt.html
  _html/arubacx.html
  arubacx/libvirt/bgp.session/13-bfd.yml-create.log
  arubacx/libvirt/bgp.session/13-bfd.yml-snapshot.yml
  arubacx/libvirt/bgp.session/13-bfd.yml-up.log
  arubacx/libvirt/bgp.session/13-bfd.yml-validate.log
  arubacx/libvirt/bgp.session/cleanup-down.log
  arubacx/libvirt/bgp.session/results.yaml
  index.html
Due: yamllint, ci_tests

Fix Bird BGP connect/retry/hold timers
  netsim/daemons/bird/bgp.j2
Due: none

Bird bgp.session integration test for #3080
  _html/bird-clab-bgp.session.html
  _html/bird-clab.html
  _html/bird.html
  _html/coverage.bgp.session.html
  bird/clab/bgp.session/08-remove-private-as.yml-create.log
  bird/clab/bgp.session/08-remove-private-as.yml-snapshot.yml
  bird/clab/bgp.session/08-remove-private-as.yml-up.log
  bird/clab/bgp.session/08-remove-private-as.yml-validate.log
  bird/clab/bgp.session/cleanup-down.log
  bird/clab/bgp.session/results.yaml
  index.html
Due: yamllint, ci_tests

Further Bird bgp_session tests for #3080
  _html/bird-clab-bgp.session.html
  bird/clab/bgp.session/04-default-originate.yml-create.log
  bird/clab/bgp.session/04-default-originate.yml-initial.log
  bird/clab/bgp.session/04-default-originate.yml-snapshot.yml
  bird/clab/bgp.session/04-default-originate.yml-up.log
  bird/clab/bgp.session/05-gtsm.yml-create.log
  bird/clab/bgp.session/05-gtsm.yml-snapshot.yml
  bird/clab/bgp.session/05-gtsm.yml-up.log
  bird/clab/bgp.session/06-passive.yml-create.log
  bird/clab/bgp.session/06-passive.yml-initial.log
  bird/clab/bgp.session/06-passive.yml-snapshot.yml
  bird/clab/bgp.session/06-passive.yml-up.log
  bird/clab/bgp.session/07-password.yml-create.log
  bird/clab/bgp.session/07-password.yml-snapshot.yml
  bird/clab/bgp.session/07-password.yml-up.log
  bird/clab/bgp.session/08-remove-private-as.yml-initial.log
  bird/clab/bgp.session/08-remove-private-as.yml-snapshot.yml
  bird/clab/bgp.session/08-remove-private-as.yml-up.log
  bird/clab/bgp.session/08-remove-private-as.yml-validate.log
  bird/clab/bgp.session/10-timers.yml-create.log
  bird/clab/bgp.session/10-timers.yml-snapshot.yml
  bird/clab/bgp.session/10-timers.yml-up.log
  bird/clab/bgp.session/11-rs-client.yml-create.log
  bird/clab/bgp.session/11-rs-client.yml-initial.log
  bird/clab/bgp.session/11-rs-client.yml-snapshot.yml
  bird/clab/bgp.session/11-rs-client.yml-up.log
  bird/clab/bgp.session/12-rs.yml-create.log
  bird/clab/bgp.session/12-rs.yml-initial.log
  bird/clab/bgp.session/12-rs.yml-snapshot.yml
  bird/clab/bgp.session/12-rs.yml-up.log
  bird/clab/bgp.session/13-bfd.yml-create.log
  bird/clab/bgp.session/13-bfd.yml-snapshot.yml
  bird/clab/bgp.session/13-bfd.yml-up.log
  bird/clab/bgp.session/cleanup-down.log
  bird/clab/bgp.session/results.yaml
Due: yamllint, ci_tests

Fix Bird BGP connect/retry/hold timers (#3080)
  netsim/daemons/bird/bgp.j2
Due: none

Fix RouterOS7 BGP-in-VRF configuration errors
  netsim/ansible/templates/vrf/routeros7.bgp.j2
  netsim/extra/bgp.session/routeros7.j2
Due: none

Do not activate IPv4 over IPv6 or vice versa
  netsim/ansible/templates/bgp/routeros7.macro.j2
Due: none

Fix IPv6 prefix advertisements
  netsim/ansible/templates/bgp/routeros7.j2
  netsim/ansible/templates/bgp/routeros7.macro.j2
Due: none

Extend BFD start time in BGP BFD integration test (#3078)
  tests/integration/bgp.session/13-bfd.yml
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

Fixing a typo
  netsim/ansible/templates/bgp/routeros7.macro.j2
Due: none

Fix RouterOS7 BGP/VRF/session/origination errors (#3081)
  netsim/ansible/templates/bgp/routeros7.j2
  netsim/ansible/templates/bgp/routeros7.macro.j2
  netsim/ansible/templates/vrf/routeros7.bgp.j2
  netsim/extra/bgp.session/routeros7.j2
Due: none

Removing a few spurious flushes
  netsim/cli/external_commands.py
  netsim/cli/up.py
Due: ci_tests

Fixing a few Copilot omissions and an old typo
  netsim/cli/up.py
  netsim/utils/log.py
Due: ci_tests

Integration tests for #3079
  _html/frr-clab-initial.html
  _html/frr-libvirt-initial.html
  frr/clab/initial/01-interfaces.yml-create.log
  frr/clab/initial/01-interfaces.yml-snapshot.yml
  frr/clab/initial/01-interfaces.yml-up.log
  frr/clab/initial/01-interfaces.yml-validate.log
  frr/clab/initial/cleanup-down.log
  frr/clab/initial/results.yaml
  frr/libvirt/initial/01-interfaces.yml-create.log
  frr/libvirt/initial/01-interfaces.yml-initial.log
  frr/libvirt/initial/01-interfaces.yml-snapshot.yml
  frr/libvirt/initial/01-interfaces.yml-up.log
  frr/libvirt/initial/cleanup-down.log
  frr/libvirt/initial/results.yaml
Due: yamllint, ci_tests

Fix ROS7: Set VLAN interface MTU/description
  netsim/ansible/templates/initial/routeros7.j2
Due: none

ROS7 interface/mtu tests for #3082
  _html/coverage.ospfv2.html
  _html/coverage.ospfv3.html
  _html/release-coverage.html
  _html/routeros7-clab-initial.html
  _html/routeros7-libvirt-initial.html
  _html/routeros7-libvirt-ospf-ospfv2.html
  _html/routeros7-libvirt-ospf-ospfv3.html
  _html/routeros7-libvirt-ospf.html
  _html/routeros7-libvirt.html
  _html/routeros7.html
  index.html
  routeros7/clab/initial/01-interfaces.yml-create.log
  routeros7/clab/initial/01-interfaces.yml-initial.log
  routeros7/clab/initial/01-interfaces.yml-snapshot.yml
  routeros7/clab/initial/01-interfaces.yml-up.log
  routeros7/clab/initial/01-interfaces.yml-validate.log
  routeros7/clab/initial/cleanup-down.log
  routeros7/clab/initial/results.yaml
  routeros7/libvirt/initial/01-interfaces.yml-create.log
  routeros7/libvirt/initial/01-interfaces.yml-initial.log
  routeros7/libvirt/initial/01-interfaces.yml-snapshot.yml
  routeros7/libvirt/initial/01-interfaces.yml-up.log
  routeros7/libvirt/initial/01-interfaces.yml-validate.log
  routeros7/libvirt/initial/cleanup-down.log
  routeros7/libvirt/initial/results.yaml
  routeros7/libvirt/ospf/ospfv2/06-vlan-mtu.yml-create.log
  routeros7/libvirt/ospf/ospfv2/06-vlan-mtu.yml-initial.log
  routeros7/libvirt/ospf/ospfv2/06-vlan-mtu.yml-snapshot.yml
  routeros7/libvirt/ospf/ospfv2/06-vlan-mtu.yml-up.log
  routeros7/libvirt/ospf/ospfv2/06-vlan-mtu.yml-validate.log
  routeros7/libvirt/ospf/ospfv2/cleanup-down.log
  routeros7/libvirt/ospf/ospfv2/results.yaml
  routeros7/libvirt/ospf/ospfv3/07-vlan-mtu.yml-create.log
  routeros7/libvirt/ospf/ospfv3/07-vlan-mtu.yml-initial.log
  routeros7/libvirt/ospf/ospfv3/07-vlan-mtu.yml-snapshot.yml
  routeros7/libvirt/ospf/ospfv3/07-vlan-mtu.yml-up.log
  routeros7/libvirt/ospf/ospfv3/07-vlan-mtu.yml-validate.log
  routeros7/libvirt/ospf/ospfv3/cleanup-down.log
  routeros7/libvirt/ospf/ospfv3/results.yaml
Due: yamllint, ci_tests

Fix ROS7: Set VLAN interface MTU/description (#3082)
  netsim/ansible/templates/initial/routeros7.j2
Due: none

Flush printouts in the "netlab up" execution path (#3079)
  netsim/cli/create.py
  netsim/cli/external_commands.py
  netsim/cli/up.py
  netsim/providers/__init__.py
  netsim/providers/clab.py
  netsim/providers/external.py
  netsim/providers/libvirt.py
  netsim/utils/log.py
Due: ci_tests

Cleanup: _create_node_files flag is no longer needed
  netsim/outputs/provider.py
  netsim/providers/clab.py
Due: ci_tests

Doc: Update the MPLS support tables
  docs/module/mpls.md
  docs/platforms.md
Due: none

Configure containers using 'clab.startup-config' parameter
  netsim/cli/initial/deploy.py
  netsim/providers/clab.py
Due: ci_tests

Fixing a typo
  docs/module/mpls.md
Due: none

Doc: Update the MPLS support tables (#3083)
  docs/module/mpls.md
  docs/platforms.md
Due: none

Fixing Copilot nits
  netsim/providers/clab.py
Due: ci_tests

Integration test and documentation
  docs/platforms.md
  tests/integration/initial/x-01-startup-config.yml
Due: yamllint, ci_tests

Fix: Change default IOSvL2 container name to latest vrnetlab image
  netsim/devices/iosvl2.yml
Due: yamllint, ci_tests

Fix: IOSvL2 container needs 'type: switch'
  netsim/devices/iosvl2.yml
Due: yamllint, ci_tests

Configure containers using 'clab.startup-config' parameter (#3084)
  docs/platforms.md
  netsim/cli/initial/deploy.py
  netsim/providers/clab.py
  tests/integration/initial/x-01-startup-config.yml
Due: yamllint, ci_tests

Adjust core link MTU in VXLAN integration tests
  tests/integration/plugin/fix_mtu.py
  tests/integration/vxlan/01-vxlan-bridging.yml
  tests/integration/vxlan/02-vxlan-bridging-multinode.yml
  tests/integration/vxlan/03-vxlan-irb.yml
  tests/integration/vxlan/04-vxlan-irb-ospf.yml
  tests/integration/vxlan/05-vxlan-router-stick.yml
  tests/integration/vxlan/07-vxlan-bridging-v6only.yml
  tests/integration/vxlan/08-vxlan-alt-vtep.yml
  tests/integration/vxlan/fix_mtu.py
  tests/integration/vxlan/topology-defaults.yml
Due: yamllint, ci_tests

Checking VXLAN integration tests for #3086
  _html/frr-clab-vxlan.html
  frr/clab/vxlan/01-vxlan-bridging.yml-create.log
  frr/clab/vxlan/01-vxlan-bridging.yml-initial.log
  frr/clab/vxlan/01-vxlan-bridging.yml-snapshot.yml
  frr/clab/vxlan/01-vxlan-bridging.yml-up.log
  frr/clab/vxlan/02-vxlan-bridging-multinode.yml-create.log
  frr/clab/vxlan/02-vxlan-bridging-multinode.yml-initial.log
  frr/clab/vxlan/02-vxlan-bridging-multinode.yml-snapshot.yml
  frr/clab/vxlan/02-vxlan-bridging-multinode.yml-up.log
  frr/clab/vxlan/02-vxlan-bridging-multinode.yml-validate.log
  frr/clab/vxlan/03-vxlan-irb.yml-create.log
  frr/clab/vxlan/03-vxlan-irb.yml-initial.log
  frr/clab/vxlan/03-vxlan-irb.yml-snapshot.yml
  frr/clab/vxlan/03-vxlan-irb.yml-up.log
  frr/clab/vxlan/03-vxlan-irb.yml-validate.log
  frr/clab/vxlan/04-vxlan-irb-ospf.yml-create.log
  frr/clab/vxlan/04-vxlan-irb-ospf.yml-initial.log
  frr/clab/vxlan/04-vxlan-irb-ospf.yml-snapshot.yml
  frr/clab/vxlan/04-vxlan-irb-ospf.yml-up.log
  frr/clab/vxlan/04-vxlan-irb-ospf.yml-validate.log
  frr/clab/vxlan/05-vxlan-router-stick.yml-create.log
  frr/clab/vxlan/05-vxlan-router-stick.yml-initial.log
  frr/clab/vxlan/05-vxlan-router-stick.yml-snapshot.yml
  frr/clab/vxlan/05-vxlan-router-stick.yml-up.log
  frr/clab/vxlan/07-vxlan-bridging-v6only.yml-create.log
  frr/clab/vxlan/07-vxlan-bridging-v6only.yml-initial.log
  frr/clab/vxlan/07-vxlan-bridging-v6only.yml-snapshot.yml
  frr/clab/vxlan/07-vxlan-bridging-v6only.yml-up.log
  frr/clab/vxlan/07-vxlan-bridging-v6only.yml-validate.log
  frr/clab/vxlan/08-vxlan-alt-vtep.yml-create.log
  frr/clab/vxlan/08-vxlan-alt-vtep.yml-initial.log
  frr/clab/vxlan/08-vxlan-alt-vtep.yml-snapshot.yml
  frr/clab/vxlan/08-vxlan-alt-vtep.yml-up.log
  frr/clab/vxlan/08-vxlan-alt-vtep.yml-validate.log
  frr/clab/vxlan/cleanup-down.log
  frr/clab/vxlan/results.yaml
Due: yamllint, ci_tests

Adjust core link MTU in VXLAN integration tests (#3086)
  tests/integration/plugin/fix_mtu.py
  tests/integration/vxlan/01-vxlan-bridging.yml
  tests/integration/vxlan/02-vxlan-bridging-multinode.yml
  tests/integration/vxlan/03-vxlan-irb.yml
  tests/integration/vxlan/04-vxlan-irb-ospf.yml
  tests/integration/vxlan/05-vxlan-router-stick.yml
  tests/integration/vxlan/07-vxlan-bridging-v6only.yml
  tests/integration/vxlan/08-vxlan-alt-vtep.yml
  tests/integration/vxlan/fix_mtu.py
  tests/integration/vxlan/topology-defaults.yml
Due: yamllint, ci_tests

Adjust MTU and VNIs in EVPN integration tests
  tests/integration/evpn/01-vxlan-bridging.yml
  tests/integration/evpn/02-vxlan-asymmetric-irb.yml
  tests/integration/evpn/03-vxlan-symmetric-irb.yml
  tests/integration/evpn/04-vxlan-central-routing.yml
  tests/integration/evpn/05-vxlan-l3only.yml
  tests/integration/evpn/06-vxlan-bridging-vlan-bundle.yml
  tests/integration/evpn/10-vxlan-rr.yml
  tests/integration/evpn/11-vxlan-ebgp.yml
  tests/integration/evpn/12-vxlan-ibgp-ebgp.yml
  tests/integration/evpn/13-vxlan-ebgp-allowas.yml
  tests/integration/evpn/14-vxlan-ebgp-ebgp.yml
  tests/integration/evpn/15-vxlan-ebgp-unnumbered.yml
  tests/integration/evpn/20-vxlan-irb-ospf.yml
  tests/integration/evpn/21-bgp-ce-router.yml
  tests/integration/evpn/22-ospf-ce-router.yml
  tests/integration/evpn/30-cs-bridging.yml
  tests/integration/evpn/41-vxlan-ipv6-bridging.yml
  tests/integration/evpn/topology-defaults.yml
Due: yamllint, ci_tests

Fixing bloopers
  tests/integration/evpn/30-cs-bridging.yml
  tests/integration/evpn/41-vxlan-ipv6-bridging.yml
Due: yamllint, ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
