Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Fix VPP clab initial deploy and startup configuration.
  netsim/ansible/templates/initial/vpp-clab.j2
  netsim/ansible/templates/initial/vpp.j2
  netsim/daemons/vpp.yml
  netsim/daemons/vpp/Dockerfile.j2
  netsim/daemons/vpp/setup.conf.j2
  netsim/daemons/vpp/vpp.j2
  netsim/extra/config-done/vpp.j2
Due: yamllint, ci_tests

Use node-specific VPP CLI prompt in startup.conf.
  netsim/daemons/vpp/vpp.j2
Due: none

Clean up VPP setup template neighbor-config and Jinja indentation.
  netsim/daemons/vpp/setup.vpp.j2
Due: none

Fix VPP extra loopback instance numbering.
  netsim/daemons/vpp/setup.conf.j2
Due: none

Fix VPP bird control plane startup after CP group_vars merge.
  netsim/devices/vpp.py
Due: ci_tests

Fix VPP config-done marker when deployed via netns exec.
  netsim/extra/config-done/vpp.j2
Due: none

Fix VPP clab-interfaces generation to use only dataplane eth links.
  netsim/ansible/templates/initial/vpp.j2
Due: none

Move VPP setup into config directory
  netsim/augment/nodes.py
  netsim/daemons/vpp.yml
  netsim/daemons/vpp/setup.vpp.j2
  netsim/daemons/vpp/vpp.j2
Due: yamllint, ci_tests

Update VPP platform config documentation
  docs/platforms.md
Due: none

Remove redundant VPP clab hosts template symlinks.
  netsim/templates/provider/clab/vpp/hosts-common.j2
  netsim/templates/provider/clab/vpp/hosts.j2
Due: none

Document that VPP supports router and bridge roles only.
  docs/caveats.md
  docs/labs/vpp.md
  docs/platforms.md
Due: none

Trim redundant VPP role documentation.
  docs/caveats.md
  docs/labs/vpp.md
Due: none

Set VPP interface MTU in setup
  netsim/daemons/vpp/setup.vpp.j2
Due: none

Wait for netlab initial before starting VPP in clab.
  docs/platforms.md
  netsim/daemons/vpp.yml
  netsim/daemons/vpp/Dockerfile.j2
  netsim/daemons/vpp/setup.j2
  netsim/devices/vpp.py
  netsim/extra/config-done/vpp.j2
Due: yamllint, ci_tests

Fix empty VPP peer-address bash function breaking IPv6-only labs.
  netsim/daemons/vpp/start.vpp.j2
Due: none

Initial device- and configuration templates
  netsim/ansible/templates/initial/vpp.j2
  netsim/devices/vpp.yml
  netsim/templates/provider/clab/vpp/hosts-common.j2
  netsim/templates/provider/clab/vpp/hosts.j2
  netsim/templates/provider/clab/vpp/setup.j2
  netsim/templates/provider/clab/vpp/startup.j2
Due: yamllint, ci_tests

Stabilize MTU validation after PMTU updates.
  tests/integration/initial/04-mtu.yml
Due: yamllint, ci_tests

Revert MTU PMTU-cache flush changes from VPP branch.
  tests/integration/initial/04-mtu.yml
Due: yamllint, ci_tests

Move VPP MPLS sysctl into module initial template.
  netsim/ansible/templates/initial/vpp.j2
  netsim/ansible/templates/mpls/vpp.initial.j2
Due: none

Add vpp_control_plane device setting with BIRD2 and FRR in the image.
  netsim/daemons/vpp.yml
  netsim/daemons/vpp/Dockerfile.j2
  netsim/daemons/vpp/bird.j2
  netsim/daemons/vpp/start.vpp.j2
  netsim/devices/vpp.py
Due: yamllint, ci_tests

Factor loopback check out of VPP setup.conf RA blocks.
  netsim/daemons/vpp/setup.conf.j2
Due: none

Fixes after the initial tests
  netsim/ansible/templates/initial/vpp.j2
  netsim/devices/vpp.yml
  netsim/templates/provider/clab/vpp/setup.j2
Due: yamllint, ci_tests

Fix VPP RA prefix flags and host IPv6 autoconfig.
  netsim/daemons/vpp/initial.j2
  netsim/daemons/vpp/vpp.j2
Due: none

Create VPP config-done marker in the initial script.
  netsim/ansible/templates/initial/vpp.j2
  netsim/daemons/vpp.yml
  netsim/extra/config-done/vpp.j2
Due: yamllint, ci_tests

Add VPP FRR control-plane startup and rename control_plane setting.
  netsim/daemons/vpp.yml
  netsim/daemons/vpp/daemons.j2
  netsim/daemons/vpp/setup.vpp.j2
  netsim/daemons/vpp/start.vpp.j2
  netsim/devices/vpp.py
Due: yamllint, ci_tests

Convert VPP from a clab daemon into a regular device.
  docs/caveats.md
  docs/labs/clab.md
  docs/labs/vpp.md
  docs/netlab/clab.md
  docs/netlab/defaults.md
  docs/platforms.md
  docs/release/26.07.md
  netsim/daemons/vpp/Dockerfile.j2
  netsim/daemons/vpp/start.vpp.j2
  netsim/devices/vpp.py
  netsim/devices/vpp.yml
Due: yamllint, ci_tests

Add VPP resolv.conf template to fix missing template warning
  netsim/daemons/vpp/resolv.j2
Due: none

Fix: Keep path:mode node configs out of VPP daemon includes
  netsim/devices/vpp.py
Due: ci_tests

Doc: Sort VPP alphabetically in containerlab device table
  docs/labs/clab.md
Due: none

Doc: Remove premature VPP note from 26.07 release notes
  docs/release/26.07.md
Due: none

Slight documentation editing
  docs/module/routing-acl.txt
Due: none

Initial routing.acl implementation (#3643)
  docs/module/routing-acl.txt
  docs/module/routing.md
  netsim/ansible/templates/routing/acl.eos.j2
  netsim/ansible/templates/routing/acl.ios.j2
  netsim/ansible/templates/routing/eos.j2
  netsim/ansible/templates/routing/ios.j2
  netsim/devices/eos.yml
  netsim/devices/ios.yml
  netsim/modules/routing.yml
  netsim/modules/routing/__init__.py
  netsim/modules/routing/acl.py
  tests/integration/routing/26-acl-ipv4.yml
  tests/integration/routing/27-acl-ipv6.yml
Due: yamllint, ci_tests

Fix a potential type mismatch
  netsim/augment/links.py
Due: ci_tests

Arista EOS GRE tunnel support(#3659)
  docs/caveats.md
  docs/plugins/tunnel.gre.md
  netsim/ansible/templates/ospf/eos.ospfv2.j2
  netsim/devices/eos.yml
  netsim/extra/tunnel/gre/eos.j2
Due: yamllint, ci_tests

Technology-specific tunnel interface names (#3716)
  netsim/augment/links.py
  netsim/devices/frr.yml
  tests/coverage/expected/wg-listen-port.yml
  tests/coverage/expected/wg-unique-ports.yml
Due: yamllint, ci_tests

Add 'prefix_or_host' use case to IPv4/IPv6 validators
  docs/dev/validation-ip.txt
  netsim/data/types.py
  tests/coverage/errors/attr-ip-prefix-host.log
  tests/coverage/errors/attr-ip-prefix-host.yml
  tests/errors/ia-ospf-nodes.log
Due: yamllint, ci_tests

Fix the hint, prettify int/bool hint display
  netsim/data/types.py
  tests/coverage/errors/attr-ip-prefix-host.log
  tests/errors/ia-ospf-nodes.log
Due: ci_tests

Add 'prefix_or_host' use case to IPv4/IPv6 validators (#3718)
  docs/dev/validation-ip.txt
  netsim/data/types.py
  tests/coverage/errors/attr-ip-prefix-host.log
  tests/coverage/errors/attr-ip-prefix-host.yml
  tests/errors/ia-ospf-nodes.log
Due: yamllint, ci_tests

Fix: Display 'found list' not 'BoxList' in validation errors
  netsim/data/types.py
  tests/coverage/errors/attr-ip-prefix-host.log
  tests/coverage/errors/validate-bool.log
  tests/coverage/errors/validate-int.log
  tests/coverage/errors/validate-string.log
  tests/errors/ia-bfd.log
  tests/errors/ia-node.log
  tests/errors/ia-ospf-nodes.log
  tests/errors/ia-vlan.log
  tests/errors/ia-vrf.log
  tests/errors/rp-invalid-data-types-1.log
  tests/errors/rp-invalid-data-types-2.log
Due: ci_tests

Fix: Display 'found list' not 'BoxList' in validation errors (#3719)
  netsim/data/types.py
  tests/coverage/errors/attr-ip-prefix-host.log
  tests/coverage/errors/validate-bool.log
  tests/coverage/errors/validate-int.log
  tests/coverage/errors/validate-string.log
  tests/errors/ia-bfd.log
  tests/errors/ia-node.log
  tests/errors/ia-ospf-nodes.log
  tests/errors/ia-vlan.log
  tests/errors/ia-vrf.log
  tests/errors/rp-invalid-data-types-1.log
  tests/errors/rp-invalid-data-types-2.log
Due: ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
