Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Add BIRD OSPF graceful restart support (#3595)
  docs/module/ospf.md
  netsim/daemons/bird.yml
  netsim/daemons/bird/ospf.macros.j2
  tests/integration/ospf/ospfv2/41-gr.yml
  tests/integration/ospf/ospfv3/41-gr.yml
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

BIRD GR tests
  _html/bird-clab-ospf-ospfv2.html
  _html/bird-clab-ospf-ospfv3.html
  _html/bird-clab-ospf.html
  _html/bird-clab.html
  _html/bird.html
  _html/coverage.ospfv2.html
  _html/coverage.ospfv3.html
  bird/clab/ospf/ospfv2/41-gr.yml-create.log
  bird/clab/ospf/ospfv2/41-gr.yml-initial.log
  bird/clab/ospf/ospfv2/41-gr.yml-up.log
  bird/clab/ospf/ospfv2/41-gr.yml-validate.log
  bird/clab/ospf/ospfv2/cleanup-down.log
  bird/clab/ospf/ospfv2/results.yaml
  bird/clab/ospf/ospfv3/41-gr.yml-create.log
  bird/clab/ospf/ospfv3/41-gr.yml-initial.log
  bird/clab/ospf/ospfv3/41-gr.yml-up.log
  bird/clab/ospf/ospfv3/41-gr.yml-validate.log
  bird/clab/ospf/ospfv3/cleanup-down.log
  bird/clab/ospf/ospfv3/results.yaml
  index.html
Due: yamllint, ci_tests

Fix: BIRD needs a bit of time to get OSPFv2/v3 GR helper ready
  tests/integration/ospf/ospfv2/41-gr.yml
  tests/integration/ospf/ospfv3/41-gr.yml
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

Fix: Enable BFD for OSPF on BIRD
  netsim/daemons/bird/ospf.macros.j2
Due: none

Fix: track OSPF BFD interface status
  netsim/daemons/bird/ospf.macros.j2
Due: none

Fix logic errors
  netsim/daemons/bird/bfd.j2
Due: none

Fix: Enable BFD for OSPF on BIRD (#3621)
  netsim/daemons/bird/bfd.j2
  netsim/daemons/bird/ospf.macros.j2
Due: none

Fix VyOS BFD profile configuration
  netsim/ansible/templates/bfd/vyos.j2
Due: none

VyOS BFD tests for #3622
  _html/coverage.ospfv2.html
  _html/coverage.ospfv3.html
  _html/vyos-clab-ospf-ospfv2.html
  _html/vyos-clab-ospf-ospfv3.html
  _html/vyos-clab-ospf.html
  _html/vyos-clab.html
  _html/vyos-libvirt-ospf-ospfv2.html
  _html/vyos-libvirt-ospf-ospfv3.html
  _html/vyos-libvirt-ospf.html
  _html/vyos-libvirt.html
  _html/vyos.html
  index.html
  vyos/clab/ospf/ospfv2/42-bfd.yml-initial.log
  vyos/clab/ospf/ospfv2/42-bfd.yml-up.log
  vyos/clab/ospf/ospfv2/42-bfd.yml-validate.log
  vyos/clab/ospf/ospfv2/cleanup-down.log
  vyos/clab/ospf/ospfv2/results.yaml
  vyos/clab/ospf/ospfv3/42-bfd.yml-initial.log
  vyos/clab/ospf/ospfv3/42-bfd.yml-up.log
  vyos/clab/ospf/ospfv3/42-bfd.yml-validate.log
  vyos/clab/ospf/ospfv3/cleanup-down.log
  vyos/clab/ospf/ospfv3/results.yaml
  vyos/libvirt/ospf/ospfv2/42-bfd.yml-initial.log
  vyos/libvirt/ospf/ospfv2/42-bfd.yml-up.log
  vyos/libvirt/ospf/ospfv2/42-bfd.yml-validate.log
  vyos/libvirt/ospf/ospfv2/cleanup-down.log
  vyos/libvirt/ospf/ospfv2/results.yaml
  vyos/libvirt/ospf/ospfv3/42-bfd.yml-initial.log
  vyos/libvirt/ospf/ospfv3/42-bfd.yml-up.log
  vyos/libvirt/ospf/ospfv3/42-bfd.yml-validate.log
  vyos/libvirt/ospf/ospfv3/cleanup-down.log
  vyos/libvirt/ospf/ospfv3/results.yaml
Due: yamllint, ci_tests

Fix VyOS BFD profile configuration (#3622)
  netsim/ansible/templates/bfd/vyos.j2
Due: none

Fix SR-SIM BFD configuration
  netsim/ansible/templates/bfd/sros.j2
  netsim/devices/sros.yml
Due: yamllint, ci_tests

Fix: lost the changes to 'enable BFD' logic
  netsim/ansible/templates/bfd/sros.j2
Due: none

SR-SIM BFD tests for #3623
  _html/coverage.ospfv2.html
  _html/coverage.ospfv3.html
  _html/srsim-clab-ospf-ospfv2.html
  _html/srsim-clab-ospf-ospfv3.html
  _html/srsim-clab-ospf.html
  _html/srsim-clab.html
  _html/srsim.html
  index.html
  srsim/clab/ospf/ospfv2/42-bfd.yml-initial.log
  srsim/clab/ospf/ospfv2/42-bfd.yml-up.log
  srsim/clab/ospf/ospfv2/42-bfd.yml-validate.log
  srsim/clab/ospf/ospfv2/cleanup-down.log
  srsim/clab/ospf/ospfv2/results.yaml
  srsim/clab/ospf/ospfv3/42-bfd.yml-initial.log
  srsim/clab/ospf/ospfv3/42-bfd.yml-up.log
  srsim/clab/ospf/ospfv3/42-bfd.yml-validate.log
  srsim/clab/ospf/ospfv3/cleanup-down.log
  srsim/clab/ospf/ospfv3/results.yaml
Due: yamllint, ci_tests

Fix SR-SIM BFD configuration (#3623)
  netsim/ansible/templates/bfd/sros.j2
  netsim/devices/sros.yml
Due: yamllint, ci_tests

Couldn't get BFD to work on Nexus OS
  _html/coverage.ospfv2.html
  _html/coverage.ospfv3.html
  _html/nxos-clab-ospf-ospfv2.html
  _html/nxos-clab-ospf-ospfv3.html
  _html/nxos-clab-ospf.html
  _html/nxos-clab.html
  _html/nxos.html
  index.html
  nxos/clab/_caveats.yml
Due: yamllint, ci_tests

Fix: IOL L2 cannot configure BFD for OSPFv3
  netsim/devices/ioll2.py
Due: ci_tests

Remove trailing whitespace
  netsim/devices/ioll2.py
Due: ci_tests

Adjust for PR comments
  tests/integration/device-module-test
Due: none

Fix: IOL L2 cannot configure BFD for OSPFv3 (#3624)
  netsim/devices/ioll2.py
Due: ci_tests

Sample platform tests for #3606
  _html/platform-graph.html
  platform/graph/01-topo.yml-initial.log
  platform/graph/02-bgp.yml-initial.log
  platform/graph/03-isis.yml-initial.log
  platform/graph/04-vlan.yml-initial.log
  platform/graph/05-include-exclude.yml-initial.log
  platform/graph/cleanup-down.log
  platform/graph/results.yaml
  run-platform.py
Due: yamllint, ci_tests

Fix: Exit device-module-test early on conflict with running labs (#3606)
  tests/integration/device-module-test
Due: none

Release 26.07
  README.md
  docs/plugins/tunnel.wireguard.md
  docs/release.md
  docs/release/26.07.md
  netsim/__init__.py
Due: ci_tests

Fix Junos capitalization
  docs/release/26.07.md
Due: none

Release 26.07 (#3628)
  README.md
  docs/plugins/tunnel.wireguard.md
  docs/release.md
  docs/release/26.07.md
  netsim/__init__.py
Due: ci_tests

Fix: make ruff happy ;)
  tests/integration/device-module-test
Due: none

Update OpenBSD for VTEP6 support and migrate to VEB from BRIDGE
  netsim/ansible/templates/vlan/openbsd.j2
  netsim/devices/openbsd.yml
Due: yamllint, ci_tests

Add the OpenBSD VXLAN template...
  netsim/ansible/templates/vxlan/openbsd.j2
Due: none

Rouge EOL spaces..
  netsim/ansible/templates/vxlan/openbsd.j2
Due: none

Fix small styling across all three files
  netsim/ansible/templates/initial/openbsd.j2
  netsim/ansible/templates/vlan/openbsd.j2
  netsim/ansible/templates/vxlan/openbsd.j2
Due: none

Update documentation
  docs/platforms.md
Due: none

Missed the VXLAN doc update
  docs/module/vxlan.md
Due: none

OpenBSD VXLAN support (#3630)
  docs/module/vxlan.md
  docs/platforms.md
  netsim/ansible/templates/initial/openbsd.j2
  netsim/ansible/templates/vlan/openbsd.j2
  netsim/ansible/templates/vxlan/openbsd.j2
  netsim/devices/openbsd.yml
Due: yamllint, ci_tests

Set IPv6 loopbacks to /128 similar to IPv4, unless otherwise told
  netsim/augment/addressing.py
  tests/integration/ospf/ospfv3/06-lb-prefix.yml
Due: yamllint, ci_tests

Add RouterOS7 ping via hostnames
  netsim/ansible/templates/initial/routeros7.hosts.j2
  netsim/ansible/templates/initial/routeros7.j2
Due: none

OpenBSD does not fully support /64 on loopbacks force to /128
  netsim/devices/openbsd.py
Due: ci_tests

Update hosts
  netsim/ansible/templates/initial/routeros7.hosts.j2
  netsim/ansible/templates/initial/routeros7.j2
Due: none
