Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Tweak transformation tests to remove all warnings (#2708)
  tests/topology/expected/bgp-unnumbered.yml
  tests/topology/expected/device-node-defaults.yml
  tests/topology/input/bgp-community.yml
  tests/topology/input/bgp-unnumbered.yml
  tests/topology/input/device-node-defaults.yml
Due: yamllint, ci_tests

Fix: Turn warning into an error when warning flag is set to 'error'
  netsim/utils/log.py
Due: ci_tests

FortiOS package update: + update the recipe text * switch to n and ansible_ssh_pass * remove dns changes and disable lldp on port1
  netsim/install/libvirt/fortios.txt
  netsim/install/libvirt/fortios/openstack/latest/user_data
  netsim/templates/provider/libvirt/fortios-domain.j2
Due: none

Implement node rank in graph definition files
  docs/outputs/d2.md
  docs/outputs/graph.md
  netsim/outputs/_graph.py
  netsim/outputs/graph.py
  netsim/outputs/graph.yml
  tests/platform-integration/graph/bgp.yml
  tests/platform-integration/graph/create-graphviz.sh
  tests/platform-integration/graph/isis.yml
  tests/platform-integration/graph/topo.yml
Due: yamllint, ci_tests

Remove intra-VRF EBGP sessions with other PE-devices
  docs/module/evpn.md
  netsim/modules/evpn.py
  netsim/modules/evpn.yml
  tests/topology/expected/evpn-vxlan.yml
  tests/topology/input/evpn-vxlan.yml
Due: yamllint, ci_tests

Add a warning when an EBGP session is removed
  netsim/defaults/hints.yml
  netsim/modules/evpn.py
  tests/topology/input/evpn-vxlan.yml
Due: yamllint, ci_tests

Remove intra-VRF EBGP sessions with other PE-devices (#2712)
  docs/module/evpn.md
  netsim/defaults/hints.yml
  netsim/modules/evpn.py
  netsim/modules/evpn.yml
  tests/topology/expected/evpn-vxlan.yml
  tests/topology/input/evpn-vxlan.yml
Due: yamllint, ci_tests

Fix: sort nodes in BGP sessions based on node rank and 'nodes' index
  netsim/outputs/_graph.py
Due: ci_tests

Implement node rank in graph definition files (#2711)
  docs/outputs/d2.md
  docs/outputs/graph.md
  netsim/outputs/_graph.py
  netsim/outputs/graph.py
  netsim/outputs/graph.yml
  tests/platform-integration/graph/bgp.yml
  tests/platform-integration/graph/create-graphviz.sh
  tests/platform-integration/graph/isis.yml
  tests/platform-integration/graph/topo.yml
Due: yamllint, ci_tests

Expose 'graph.format' and 'd2.format' node/link attributes
  docs/_static/css/custom.css
  docs/outputs/d2.md
  docs/outputs/graph.md
  netsim/outputs/d2.py
  netsim/outputs/d2.yml
  netsim/outputs/graph.yml
  tests/platform-integration/graph/topo.yml
Due: yamllint, ci_tests

Warn about L3 attributes used on VLAN trunks
  netsim/defaults/hints.yml
  netsim/modules/vlan.py
  tests/errors/vlan-trunk-l3-attr.log
  tests/errors/vlan-trunk-l3-attr.yml
Due: yamllint, ci_tests

Modify the attributes in the warning message
  netsim/modules/vlan.py
  tests/errors/vlan-trunk-l3-attr.log
Due: ci_tests

Fix: Warn about L3 attributes used on VLAN trunks (#2709)
  netsim/defaults/hints.yml
  netsim/modules/vlan.py
  tests/errors/vlan-trunk-l3-attr.log
  tests/errors/vlan-trunk-l3-attr.yml
Due: yamllint, ci_tests

Implement select IGP parameters on VRF loopbacks
  docs/module/vrf.md
  netsim/modules/bgp.yml
  netsim/modules/vrf.py
  netsim/modules/vrf.yml
  tests/errors/vrf-invalid-attr.log
  tests/errors/vrf-invalid-lb.log
  tests/errors/vrf-invalid-lb.yml
  tests/topology/expected/vrf-routing-blocks.yml
  tests/topology/input/vrf-routing-blocks.yml
Due: yamllint, ci_tests

Split 'routing' module into object-specific submodules
  netsim/extra/bgp.policy/plugin.py
  netsim/modules/_routing.py
  netsim/modules/dhcp.py
  netsim/modules/routing.py
  netsim/modules/routing/__init__.py
  netsim/modules/routing/aspath.py
  netsim/modules/routing/clist.py
  netsim/modules/routing/normalize.py
  netsim/modules/routing/policy.py
  netsim/modules/routing/prefix.py
  netsim/modules/routing/static.py
Due: ci_tests

Split 'routing' module into object-specific submodules (#2715)
  netsim/extra/bgp.policy/plugin.py
  netsim/modules/_routing.py
  netsim/modules/dhcp.py
  netsim/modules/routing.py
  netsim/modules/routing/__init__.py
  netsim/modules/routing/aspath.py
  netsim/modules/routing/clist.py
  netsim/modules/routing/normalize.py
  netsim/modules/routing/policy.py
  netsim/modules/routing/prefix.py
  netsim/modules/routing/static.py
Due: ci_tests

Fix: remove _meta_device flag when inheriting from parent device
  netsim/augment/devices.py
Due: ci_tests

New device: Cisco 8000v emulator container
  docs/caveats.md
  docs/labs/clab.md
  docs/module/bgp.md
  docs/module/isis.md
  docs/module/ospf.md
  docs/platforms.md
  netsim/ansible/tasks/readiness-check/cisco8000v-clab.yml
  netsim/devices/cisco8000v.yml
  netsim/devices/iosxr.yml
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Fixing MTU and IS-IS configuration templates
  netsim/ansible/templates/initial/iosxr.j2
  netsim/ansible/templates/isis/iosxr.j2
  netsim/devices/cisco8000v.yml
  netsim/devices/iosxr.yml
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Tweaks to BGP template trying to speed up initial BGP advertisement
  netsim/ansible/templates/bgp/iosxr.j2
  tests/integration/bgp/04-originate.yml
  tests/integration/bgp/14-ipv6-originate.yml
Due: yamllint, ci_tests

New device: Cisco 8000v emulator container (#2717)
  docs/caveats.md
  docs/labs/clab.md
  docs/module/bgp.md
  docs/module/isis.md
  docs/module/ospf.md
  docs/platforms.md
  netsim/ansible/tasks/readiness-check/cisco8000v-clab.yml
  netsim/ansible/templates/bgp/iosxr.j2
  netsim/ansible/templates/initial/iosxr.j2
  netsim/ansible/templates/isis/iosxr.j2
  netsim/devices/cisco8000v.yml
  netsim/devices/iosxr.yml
  netsim/devices/xr.yml
  tests/integration/bgp/04-originate.yml
  tests/integration/bgp/14-ipv6-originate.yml
Due: yamllint, ci_tests

Build a list of parent device(s) in devices.x._parents
  netsim/augment/devices.py
Due: ci_tests

Build a list of parent device(s) in devices.x._parents (#2718)
  netsim/augment/devices.py
Due: ci_tests

Add per-device validation wait time constants
  netsim/augment/validate.py
  netsim/cli/validate.py
Due: ci_tests

Add per-device validation wait time constants (#2719)
  netsim/augment/validate.py
  netsim/cli/validate.py
Due: ci_tests

Use per-device validation wait times in BGP integration tests
  tests/integration/bgp/04-originate.yml
  tests/integration/bgp/14-ipv6-originate.yml
  tests/integration/bgp/30-import-ds-ospf.yml
  tests/integration/bgp/31-import-policy.yml
  tests/integration/isis/21-import-ds.yml
  tests/integration/ripv2/21-import-ds.yml
  tests/integration/ripv2/31-vrf-ipv4.yml
  tests/integration/ripv2/32-vrf-ipv6.yml
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

Use per-device validation wait times in BGP integration tests (#2720)
  tests/integration/bgp/04-originate.yml
  tests/integration/bgp/14-ipv6-originate.yml
  tests/integration/bgp/30-import-ds-ospf.yml
  tests/integration/bgp/31-import-policy.yml
  tests/integration/isis/21-import-ds.yml
  tests/integration/ripv2/21-import-ds.yml
  tests/integration/ripv2/31-vrf-ipv4.yml
  tests/integration/ripv2/32-vrf-ipv6.yml
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

Use $SUDO instead of sudo for extra packages
  netsim/install/ubuntu.sh
Due: none

Fix: Use $SUDO when installing extra Ubuntu packages (#2721)
  netsim/install/ubuntu.sh
Due: none

IOS XR: Implement OSPFv2/v3 timers, passwords and router priority
  netsim/ansible/templates/ospf/iosxr.j2
  netsim/ansible/templates/ospf/iosxr.ospfv2.j2
  netsim/ansible/templates/ospf/iosxr.ospfv3.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

IOS XR: Implement OSPFv2/v3 timers, passwords and router priority (#2722)
  netsim/ansible/templates/ospf/iosxr.j2
  netsim/ansible/templates/ospf/iosxr.ospfv2.j2
  netsim/ansible/templates/ospf/iosxr.ospfv3.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Edited the documentation
  docs/labs/fortios.md
  netsim/install/libvirt/fortios.txt
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
