Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Move netmiko parameters to device features (#3930)
  netsim/cli/__init__.py
  netsim/cli/initial/netmiko.py
  netsim/cli/initial/utils.py
  netsim/devices/eos.yml
  netsim/devices/frr.yml
  netsim/devices/ios.yml
  netsim/devices/linux.yml
  netsim/providers/libvirt/configs.py
  netsim/utils/netmiko.py
  tests/platform-integration/config/06-netmiko.yml
Due: yamllint, ci_tests

Add 'step_config' netmiko feature
  netsim/cli/initial/netmiko.py
Due: ci_tests

Add 'step_config' netmiko feature (#3932)
  netsim/cli/initial/netmiko.py
Due: ci_tests

Cisco IOS XR netmiko configuration
  netsim/cli/initial/netmiko.py
  netsim/devices/iosxr.yml
  netsim/devices/xr.yml
  tests/integration/ospf/ospfv2/20-default.yml
Due: yamllint, ci_tests

Document default IOS XR configuration mode
  docs/platforms.md
Due: none

ASAv: BGP and OSPF route import (redistribution)
  docs/caveats.md
  docs/platforms.md
  netsim/ansible/templates/bgp/asa.j2
  netsim/ansible/templates/bgp/asa.macro.j2
  netsim/ansible/templates/ospf/asa.ospfv2.j2
  netsim/ansible/templates/routing/_redistribute.asa.j2
  netsim/devices/asav.yml
Due: yamllint, ci_tests

ASAv: static routes
  docs/caveats.md
  netsim/ansible/templates/routing/asa.j2
  netsim/devices/asav.yml
Due: yamllint, ci_tests

Cisco IOS XR netmiko configuration (#3933)
  docs/platforms.md
  netsim/cli/initial/netmiko.py
  netsim/devices/iosxr.yml
  netsim/devices/xr.yml
  tests/integration/ospf/ospfv2/20-default.yml
Due: yamllint, ci_tests

Enable "wait for healthy containers" by default (#3928)
  docs/labs/clab.md
  netsim/providers/clab.yml
  netsim/providers/clab/labops.py
Due: yamllint, ci_tests

Cisco Nexus OS Netmiko configuration
  docs/platforms.md
  netsim/ansible/templates/initial/nxos.j2
  netsim/ansible/templates/normalize/nxos.j2
  netsim/devices/nxos.yml
  tests/integration/evpn/21-bgp-ce-router.yml
  tests/integration/evpn/22-ospf-ce-router.yml
  tests/topology/expected/bgp-ibgp.yml
  tests/topology/expected/dual-stack.yml
  tests/topology/expected/eigrp-feature-test.yml
  tests/topology/expected/isis-feature-test.yml
  tests/topology/expected/ospf.yml
  tests/topology/expected/unnumbered.yml
Due: yamllint, ci_tests

Cisco Nexus OS Netmiko configuration (#3936)
  docs/platforms.md
  netsim/ansible/templates/initial/nxos.j2
  netsim/ansible/templates/normalize/nxos.j2
  netsim/devices/nxos.yml
  tests/integration/evpn/21-bgp-ce-router.yml
  tests/integration/evpn/22-ospf-ce-router.yml
  tests/topology/expected/bgp-ibgp.yml
  tests/topology/expected/dual-stack.yml
  tests/topology/expected/eigrp-feature-test.yml
  tests/topology/expected/isis-feature-test.yml
  tests/topology/expected/ospf.yml
  tests/topology/expected/unnumbered.yml
Due: yamllint, ci_tests

refactor: update containerlab provider to use frr kind for frr devices and bump version to 0.80.0
  docs/labs/clab.md
  docs/outputs/devices.md
  netsim/devices/frr.yml
  netsim/providers/clab.yml
  netsim/templates/provider/clab/clab.j2
  tests/coverage/expected/check-config-files.yml
  tests/coverage/expected/device-module-defaults.yml
  tests/coverage/expected/device-node-defaults.yml
  tests/topology/expected/bridge-module-attr.yml
  tests/topology/expected/multiserver-explicit.yml
  tests/topology/expected/vlan-routed-multiprovider.yml
  tests/topology/expected/vlan-routed-vrf.yml
Due: yamllint, ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
