Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Fix: Display 'netmiko' in deployment stats
  netsim/cli/initial/deploy.py
  netsim/cli/initial/netmiko.py
Due: ci_tests

Add installation hooks to 'netlab install' scripts
  netsim/cli/install.py
Due: ci_tests

Fix a heading wording nit
  netsim/cli/initial/deploy.py
Due: ci_tests

Fix: Display 'netmiko' in deployment stats (#3920)
  netsim/cli/initial/deploy.py
  netsim/cli/initial/netmiko.py
Due: ci_tests

Fix: Clean handling of Paramiko (KEX) errors
  netsim/utils/netmiko.py
Due: ci_tests

Fix: Clean handling of Paramiko (KEX) errors (#3922)
  netsim/utils/netmiko.py
Due: ci_tests

Fix Copilot-identified errors
  netsim/cli/install.py
Due: ci_tests

Interesting idea: use hook status as "continue/abort" flag
  netsim/cli/install.py
Due: ci_tests

Improve ModuleNotFoundError handling in install.py
  netsim/cli/install.py
Due: ci_tests

Add installation hooks to 'netlab install' scripts (#3921)
  netsim/cli/install.py
Due: ci_tests

Netmiko installation script
  docs/caveats.md
  docs/netlab/install.md
  docs/platforms.md
  netsim/cli/install.py
  netsim/install/install.yml
  netsim/install/netmiko.py
  netsim/install/netmiko.sh
Due: yamllint, ci_tests

Fixing nits
  docs/netlab/install.md
  netsim/install/install.yml
  netsim/install/netmiko.sh
Due: yamllint, ci_tests

Fix: Use paramiko 4.x requirements with netmiko package
  netsim/install/ansible.sh
Due: none

Fix: Use paramiko 4.x requirements with netmiko package (#3924)
  netsim/install/ansible.sh
Due: none

Netmiko installation script (#3923)
  docs/caveats.md
  docs/netlab/install.md
  docs/platforms.md
  netsim/cli/install.py
  netsim/install/install.yml
  netsim/install/netmiko.py
  netsim/install/netmiko.sh
Due: yamllint, ci_tests

Generalize static route entries (#3918)
  docs/module/routing-static.txt
  netsim/modules/bgp.py
  netsim/modules/routing.yml
  netsim/modules/routing/static.py
  netsim/roles/host.py
  tests/coverage/errors/attr-valid-with.log
  tests/coverage/errors/attr-valid-with.yml
  tests/coverage/expected/bgp-default.yml
  tests/errors/rp-static-nonsense.log
  tests/topology/expected/anycast-gateway.yml
  tests/topology/expected/bgp-af-rt-929.yml
  tests/topology/expected/bgp-ibgp-localas.yml
  tests/topology/expected/bgp-unnumbered-dual-stack.yml
  tests/topology/expected/dhcp-vlan.yml
  tests/topology/expected/rp-static-gw.yml
  tests/topology/expected/rp-static.yml
  tests/topology/input/rp-static.yml
Due: yamllint, ci_tests

Basic VOSS support
  docs/labs/clab.md
  netsim/ansible/tasks/deploy-config/voss.yml
  netsim/ansible/tasks/readiness-check/voss.yml
  netsim/ansible/templates/initial/voss.j2
  netsim/ansible/templates/initial/voss.vlan.j2
  netsim/defaults/multilab.yml
  netsim/devices/exos.yml
  netsim/devices/voss.yml
Due: yamllint, ci_tests

VOSS clab only
  netsim/devices/voss.yml
Due: yamllint, ci_tests

restore multilab default
  netsim/defaults/multilab.yml
Due: yamllint, ci_tests

VOSS Caveats
  docs/caveats.md
Due: none

Release 26.10
  README.md
  docs/release.md
  docs/release/26.10.md
  netsim/__init__.py
Due: ci_tests

Release 26.10 (#3925)
  README.md
  docs/release.md
  docs/release/26.10.md
  netsim/__init__.py
Due: ci_tests

VOSS initial & Vlan
  netsim/ansible/templates/initial/voss.j2
  netsim/ansible/templates/initial/voss.vlan.j2
  netsim/ansible/templates/vlan/voss.j2
  netsim/devices/voss.yml
Due: yamllint, ci_tests

SONiC containerlab: name the endpoints ethN so docker-sonic-vs maps its ports
  netsim/ansible/templates/initial/sonic-clab.j2
  netsim/ansible/templates/vxlan/sonic-clab.j2
  netsim/devices/sonic.yml
  tests/topology/expected/sonic-clab-ifnames.yml
  tests/topology/input/sonic-clab-ifnames.yml
Due: yamllint, ci_tests

SONiC containerlab: document the two-interface port layout
  docs/caveats.md
Due: none

VOSS routing module
  netsim/ansible/templates/routing/voss.j2
  netsim/devices/voss.yml
Due: yamllint, ci_tests

Initial VOSS with basic SPB
  netsim/ansible/templates/initial/voss.j2
Due: none

update voss yml file
  netsim/devices/voss.yml
Due: yamllint, ci_tests

Enable "wait for healthy containers" by default
  docs/labs/clab.md
  netsim/providers/clab.yml
Due: yamllint, ci_tests

Fix a typo in an error hint
  netsim/providers/clab/labops.py
Due: ci_tests

IOS XR does not support BGP GR
  _html/release-coverage.html
  iosxr/clab/bgp.session/14-gr.yml-create.log
Due: none

Move netmiko parameters to device features
  netsim/cli/__init__.py
  netsim/cli/initial/netmiko.py
  netsim/cli/initial/utils.py
  netsim/devices/eos.yml
  netsim/devices/frr.yml
  netsim/devices/ios.yml
  netsim/devices/linux.yml
  netsim/providers/libvirt/configs.py
  netsim/utils/netmiko.py
  tests/platform-integration/config/06-netmiko.yml
Due: yamllint, ci_tests

Add transparent mgmt IP for ArubaOS-CX & Extreme EXOS (#3909)
  netsim/devices/arubacx.yml
  netsim/devices/exos.yml
Due: yamllint, ci_tests
