Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Optimize json_cache assignment in set_json_cache
  netsim/utils/read.py
Due: ci_tests

Fix workflow: Install netlab package for consolidate command
  .github/workflows/t-pull.yml
Due: yamllint, ci_tests

Fix workflow: Use ./netlab script directly instead of installing package
  .github/workflows/t-pull.yml
Due: yamllint, ci_tests

Use step output for JSON cache file path
  .github/workflows/t-pull.yml
Due: yamllint, ci_tests

Simplify consolidation and schema
  netsim/cli/consolidate.py
  netsim/utils/consolidate.py
  netsim/utils/consolidate_schema.json
Due: ci_tests

Update consolidate documentation for simplified schema
  docs/netlab/consolidate.md
Due: none

Refactor JSON cache lookup in read_yaml
  netsim/utils/read.py
Due: ci_tests

Fix mypy type errors in _read_from_json_cache
  netsim/utils/read.py
Due: ci_tests

Add NETLAB_JSON_CACHE environment variable support
  netsim/cli/create.py
Due: ci_tests

Update documentation for NETLAB_JSON_CACHE environment variable
  docs/defaults.md
  docs/netlab/consolidate.md
  docs/netlab/up.md
Due: none

Fix check-integration-tests.sh: initialize err_cnt variable
  tests/check-integration-tests.sh
Due: none

Use Ansible file search lists for daemon/node config files (#2900)
  netsim/ansible/templates/initial/bird-clab.j2
  netsim/ansible/templates/vlan/linux-clab.j2
  netsim/augment/config.py
  netsim/cli/initial/configs.py
  netsim/daemons/bird/initial.j2
  netsim/daemons/bird/lag.j2
  netsim/daemons/bird/vlan.j2
  netsim/outputs/common.py
  netsim/providers/__init__.py
  netsim/utils/files.py
  netsim/utils/templates.py
Due: ci_tests

Fix: Return status or abort on Ansible playbook failure
  netsim/cli/ansible.py
Due: ci_tests

Fix: Capture STDOUT or STDERR from external commands in a global var
  netsim/cli/external_commands.py
Due: ci_tests

Run host- or container configuration scripts in 'netlab initial'
  netsim/ansible/templates/initial/bird-clab.j2
  netsim/ansible/templates/routing/linux/vanilla.j2
  netsim/cli/initial/__init__.py
  netsim/cli/initial/configs.py
  netsim/cli/initial/deploy.py
  netsim/cli/initial/utils.py
  netsim/daemons/bird.yml
  netsim/daemons/bird/config.j2
  netsim/daemons/dnsmasq.yml
  netsim/devices/linux.yml
  netsim/providers/clab.py
  tests/coverage/expected/device-node-defaults.yml
  tests/topology/expected/bridge-module-attr.yml
  tests/topology/expected/components.yml
  tests/topology/expected/dhcp-server-on-segment.yml
  tests/topology/expected/dhcp-vlan.yml
  tests/topology/expected/group-ansible-variables.yml
  tests/topology/expected/libvirt-clab-complex.yml
  tests/topology/expected/stp-port-type.yml
  tests/topology/expected/stp.yml
  tests/topology/expected/vlan-access-links.yml
  tests/topology/expected/vlan-access-single.yml
Due: yamllint, ci_tests

Implement Copilot suggestions
  netsim/ansible/templates/initial/bird-clab.j2
  netsim/cli/initial/utils.py
Due: ci_tests

Add OSPF support for ASA OSPF
  netsim/ansible/templates/ospf/asa.j2
  netsim/ansible/templates/ospf/asa.ospfv2.j2
  netsim/devices/asav.yml
Due: yamllint, ci_tests

Enable use of clab k8s-kind
  netsim/templates/provider/clab/clab.j2
Due: none

Fix: swap device quirks and provider post-transform
  netsim/augment/main.py
  netsim/devices/eos.py
Due: ci_tests

Refactor deployment process
  netsim/cli/initial/deploy.py
  netsim/daemons/dnsmasq.yml
  netsim/devices/linux.yml
  netsim/providers/__init__.py
  netsim/providers/clab.py
  netsim/utils/log.py
  tests/coverage/expected/device-node-defaults.yml
  tests/topology/expected/bridge-module-attr.yml
  tests/topology/expected/components.yml
  tests/topology/expected/dhcp-server-on-segment.yml
  tests/topology/expected/dhcp-vlan.yml
  tests/topology/expected/group-ansible-variables.yml
  tests/topology/expected/libvirt-clab-complex.yml
  tests/topology/expected/stp-port-type.yml
  tests/topology/expected/stp.yml
  tests/topology/expected/vlan-access-links.yml
  tests/topology/expected/vlan-access-single.yml
Due: yamllint, ci_tests

Update netsim/providers/clab.py
  netsim/providers/clab.py
Due: ci_tests

Implement Copilot suggestions
  netsim/daemons/bird.yml
  netsim/devices/eos.py
Due: yamllint, ci_tests

Fix Bird node_configs
  netsim/daemons/bird.yml
Due: yamllint, ci_tests

Run host- or container configuration scripts in 'netlab initial' (#2903)
  netsim/ansible/templates/initial/bird-clab.j2
  netsim/ansible/templates/routing/linux/vanilla.j2
  netsim/augment/main.py
  netsim/cli/initial/__init__.py
  netsim/cli/initial/configs.py
  netsim/cli/initial/deploy.py
  netsim/cli/initial/utils.py
  netsim/daemons/bird.yml
  netsim/daemons/bird/config.j2
  netsim/daemons/dnsmasq.yml
  netsim/devices/eos.py
  netsim/devices/linux.yml
  netsim/providers/__init__.py
  netsim/providers/clab.py
  netsim/utils/log.py
  tests/coverage/expected/device-node-defaults.yml
  tests/topology/expected/bridge-module-attr.yml
  tests/topology/expected/components.yml
  tests/topology/expected/dhcp-server-on-segment.yml
  tests/topology/expected/dhcp-vlan.yml
  tests/topology/expected/group-ansible-variables.yml
  tests/topology/expected/libvirt-clab-complex.yml
  tests/topology/expected/stp-port-type.yml
  tests/topology/expected/stp.yml
  tests/topology/expected/vlan-access-links.yml
  tests/topology/expected/vlan-access-single.yml
Due: yamllint, ci_tests

Sort integration test results by test name
  tests/integration/device-module-test
Due: none

Disable DHCP server on tested devices in DHCP client integration tests
  tests/integration/dhcp/01-ipv4-client.yml
  tests/integration/dhcp/02-ipv6-client.yml
  tests/integration/dhcp/no_dhcp_server.py
Due: yamllint, ci_tests

Recreate node config files in netlab initial if templates changed
  netsim/cli/external_commands.py
  netsim/cli/initial/configs.py
  netsim/cli/initial/deploy.py
  netsim/cli/initial/templates.py
  netsim/cli/initial/utils.py
Due: ci_tests

Document the Linux node initialization scripts (#2903/#2907)
  docs/dev/clab-netns.md
  docs/dev/config/deploy.md
  docs/dev/config/index.md
  docs/dev/devices.md
Due: none

Mention Linux scripts in 'netlab initial' documentation
  docs/netlab/initial.md
Due: none

Update docs/dev/config/deploy.md
  docs/dev/config/deploy.md
Due: none

More nitpicking...
  docs/dev/config/deploy.md
Due: none

Improved 'netlab version' printout
  netsim/cli/version.py
Due: ci_tests

Split required and optional packages
  netsim/cli/version.py
Due: ci_tests

Improved 'netlab version' printout (#2912)
  netsim/cli/version.py
Due: ci_tests

Fix: Do not recreate node files for secondary provider
  netsim/outputs/provider.py
  netsim/providers/clab.py
Due: ci_tests

Use mgmt.ipv4 as ansible_host for containers with SSH servers
  netsim/outputs/ansible.py
  netsim/outputs/common.py
Due: ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
