Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

feat: add netlab api server command
  docs/netlab/api.md
  docs/netlab/cli.md
  netsim/cli/api.py
  netsim/cli/usage.txt
Due: ci_tests

Doc caveat: Nexus OS VMs don't run on Ubuntu 24.04
  docs/caveats.md
  docs/labs/clab.md
  docs/platforms.md
Due: none

Doc caveat: Nexus OS VMs don't run on Ubuntu 24.04 (#2974)
  docs/caveats.md
  docs/labs/clab.md
  docs/platforms.md
Due: none

netlab config: Add support for Ansible 12+ (#2968)
  docs/netlab/config.md
  netsim/cli/config.py
  netsim/cli/initial/utils.py
  tests/platform-integration/config/02-config.yml
  tests/platform-integration/config/04-reload.yml
Due: yamllint, ci_tests

Use paramiko for network_cli on Cisco IOS with new ansible-pylibssh
  netsim/devices/cat8000v.py
  netsim/devices/csr.py
  netsim/devices/iosv.py
  netsim/templates/ansible.cfg.j2
  tests/integration/warnings.yml
Due: yamllint, ci_tests

Use paramiko for network_cli on Cisco IOS with new ansible-pylibssh (#2975)
  netsim/devices/cat8000v.py
  netsim/devices/csr.py
  netsim/devices/iosv.py
  netsim/templates/ansible.cfg.j2
  tests/integration/warnings.yml
Due: yamllint, ci_tests

Fix EOS RIPv2 template
  netsim/ansible/templates/ripv2/eos.j2
Due: none

Fix VyOS RIP template
  netsim/ansible/templates/ripv2/vyos.j2
Due: none

Let's try some crazy Copilot instructions
  .github/copilot-instructions.md
Due: none

Change default IOL container tags (release 17.16.01a with SRv6 support)
  netsim/devices/iol.yml
  netsim/devices/ioll2.yml
Due: yamllint, ci_tests

Add test count to "recent reports" summary results
  _reports/recent.py
Due: ci_tests

Change default IOL container tags (release 17.16.01a with SRv6 support) (#2977)
  netsim/devices/iol.yml
  netsim/devices/ioll2.yml
Due: yamllint, ci_tests

EOS RIPv2 tests for #2972
  _html/eos-clab-ripv2.html
  _html/release-coverage.html
  eos/clab/ripv2/01-ipv4.yml-initial.log
  eos/clab/ripv2/01-ipv4.yml-snapshot.yml
  eos/clab/ripv2/01-ipv4.yml-up.log
  eos/clab/ripv2/01-ipv4.yml-validate.log
  eos/clab/ripv2/cleanup-down.log
  eos/clab/ripv2/results.yaml
Due: yamllint, ci_tests

Fix EOS RIPv2 template (#2972)
  netsim/ansible/templates/ripv2/eos.j2
Due: none

Fix VyOS RIP template (#2971)
  netsim/ansible/templates/ripv2/vyos.j2
Due: none

NVUE: use rr_client flag to configure RR clients in EVPN AF
  netsim/ansible/templates/evpn/cumulus_nvue.j2
Due: none

Add empty nodeset validation to netlab initial and config commands (#2979)
  netsim/cli/config.py
  netsim/cli/initial/configs.py
  netsim/cli/initial/deploy.py
Due: ci_tests

Int: Increase the "ping loopback" wait time
  tests/integration/initial/02-loopback.yml
  tests/integration/initial/07-router.yml
Due: yamllint, ci_tests

Making RIPv2 unnumbered tests more interesting
  tests/coverage/errors/ripv2-unnumbered.log
  tests/coverage/errors/ripv2-unnumbered.yml
Due: yamllint, ci_tests

NVUE: use rr_client flag to configure RR clients in EVPN AF (#2980)
  netsim/ansible/templates/evpn/cumulus_nvue.j2
Due: none

Add RIPv2 unnumbered interface validation with device feature flag (#2978)
  netsim/devices/ios.yml
  netsim/devices/sros.yml
  netsim/modules/ripv2.py
  tests/coverage/errors/ripv2-unnumbered.log
  tests/coverage/errors/ripv2-unnumbered.yml
Due: yamllint, ci_tests

Fix: Clean up SR-OS EVPN template
  netsim/ansible/templates/evpn/sros.j2
Due: none

CSR initial tests (increased wait time)
  _html/coverage.initial.html
  _html/csr-libvirt-initial.html
  _html/csr-libvirt.html
  _html/csr.html
  csr/libvirt/initial/02-loopback.yml-initial.log
  csr/libvirt/initial/02-loopback.yml-snapshot.yml
  csr/libvirt/initial/02-loopback.yml-up.log
  csr/libvirt/initial/02-loopback.yml-validate.log
  csr/libvirt/initial/07-router.yml-initial.log
  csr/libvirt/initial/07-router.yml-snapshot.yml
  csr/libvirt/initial/07-router.yml-up.log
  csr/libvirt/initial/07-router.yml-validate.log
  csr/libvirt/initial/cleanup-down.log
  csr/libvirt/initial/results.yaml
  index.html
Due: yamllint, ci_tests

Fix: Clean up SR-OS EVPN template (#2981)
  netsim/ansible/templates/evpn/sros.j2
Due: none

Add message elements to integration tests lacking descriptions (#2982)
  tests/integration/bgp/bgp.domain.yml
  tests/integration/eigrp/01-eigrp-ipv4.yml
  tests/integration/eigrp/02-eigrp-ipv6.yml
Due: yamllint, ci_tests

Move message element to top in integration tests (#2984)
  tests/integration/dhcp/12-ipv6-relay.yml
  tests/integration/dhcp/31-ipv4-client-ospf.yml
  tests/integration/dhcp/32-ipv6-client-ospf.yml
  tests/integration/initial/03-unnumbered.yml
Due: yamllint, ci_tests

Moved the function
  netsim/cli/initial/utils.py
Due: ci_tests

Rewritten the example
  docs/example/external.md
Due: none

Cleanup
  docs/release/26.01.md
Due: none

Document breaking changes in release 26.01 (#2987)
  docs/release/26.01.md
Due: none

Filter unprovisioned group members from internal config generation (#2985)
  netsim/cli/initial/configs.py
  netsim/cli/initial/deploy.py
  netsim/cli/initial/utils.py
Due: ci_tests

Fix: Accept '.j2' suffix in custom config template name
  netsim/cli/initial/configs.py
  netsim/cli/initial/deploy.py
  netsim/utils/templates.py
  tests/platform-integration/config/03-custom.yml
Due: yamllint, ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
