Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Create WireGuard tunnel devices during initial FRR configuration.
  docs/plugins/tunnel.wireguard.md
  netsim/ansible/templates/initial/frr.j2
  netsim/extra/tunnel.wireguard/frr.j2
  netsim/extra/tunnel.wireguard/plugin.py
  tests/integration/tunnel/03-wireguard.yml
  tests/integration/tunnel/05-wireguard-ipv6.yml
  tests/integration/tunnel/06-wireguard-vrf-ipv6.yml
Due: yamllint, ci_tests

Restore tunnel.persistent_keepalive schema default; rename _source to _source_intf
  netsim/extra/tunnel.wireguard/defaults.yml
  netsim/extra/tunnel.wireguard/plugin.py
Due: yamllint, ci_tests

Move tunnel.wireguard plugin under tunnel/wireguard
  netsim/extra/tunnel/wireguard/__init__.py
  netsim/extra/tunnel/wireguard/defaults.yml
  netsim/extra/tunnel/wireguard/frr.j2
Due: yamllint, ci_tests

Fix WireGuard VRF underlay routing with fwmark policy rules.
  netsim/extra/tunnel.wireguard/frr.j2
Due: none

Add tunnel.wireguard plugin for FRR WireGuard tunnels.
  netsim/ansible/templates/initial/frr.j2
  netsim/ansible/templates/initial/linux/packages.j2
  netsim/extra/tunnel.wireguard/defaults.yml
  netsim/extra/tunnel.wireguard/frr.j2
  netsim/extra/tunnel.wireguard/plugin.py
  tests/integration/tunnel/03-wireguard.yml
  tests/integration/tunnel/04-wireguard-vrf.yml
Due: yamllint, ci_tests

Clarify tunnel.wireguard supports both clab and libvirt providers.
  docs/plugins/tunnel.wireguard.md
Due: none

Fix WireGuard IPv6 VRF underlay: enable udp_l3mdev_accept for both AFs.
  netsim/extra/tunnel.wireguard/frr.j2
Due: none

Derive WireGuard tunnel MTU from the underlay source interface
  docs/plugins/tunnel.wireguard.md
  netsim/extra/tunnel.wireguard/defaults.yml
  netsim/extra/tunnel.wireguard/frr.j2
  netsim/extra/tunnel.wireguard/plugin.py
  tests/integration/tunnel/03-wireguard.yml
  tests/integration/tunnel/04-wireguard-vrf.yml
  tests/integration/tunnel/05-wireguard-ipv6.yml
  tests/integration/tunnel/06-wireguard-vrf-ipv6.yml
Due: yamllint, ci_tests

Convert WireGuard integration tests 05/06 to dual-stack
  docs/plugins/tunnel.wireguard.md
  tests/integration/tunnel/05-wireguard-dual-stack.yml
  tests/integration/tunnel/06-wireguard-vrf-dual-stack.yml
Due: yamllint, ci_tests

Fall back to the node MTU when deriving the WireGuard tunnel MTU
  netsim/extra/tunnel.wireguard/plugin.py
Due: ci_tests

Derive WireGuard link-local from the node's active IPv6 AF
  netsim/extra/tunnel.wireguard/plugin.py
Due: ci_tests

Default tunnel.allowed_ips per address family; clarify docs.
  docs/plugins/tunnel.wireguard.md
  netsim/extra/tunnel.wireguard/plugin.py
Due: ci_tests

Update docs
  docs/plugins/tunnel.wireguard.md
Due: none

Enhance tunnel.wireguard with IPv6, VRF underlay, and key autogen.
  docs/plugins.md
  docs/plugins/tunnel.wireguard.md
  netsim/extra/tunnel.wireguard/defaults.yml
  netsim/extra/tunnel.wireguard/frr.j2
  netsim/extra/tunnel.wireguard/plugin.py
  netsim/extra/tunnel/__init__.py
  tests/integration/tunnel/03-wireguard.yml
  tests/integration/tunnel/05-wireguard-ipv6.yml
  tests/integration/tunnel/06-wireguard-vrf-ipv6.yml
Due: yamllint, ci_tests

Refactor WireGuard to use shared P2P tunnel helpers
  netsim/extra/tunnel/_p2p.py
  netsim/extra/tunnel/wireguard/__init__.py
  netsim/extra/tunnel/wireguard/frr.j2
Due: ci_tests

Move WireGuard tunnel defaults into the attribute schema.
  netsim/extra/tunnel.wireguard/defaults.yml
  netsim/extra/tunnel.wireguard/plugin.py
Due: yamllint, ci_tests

Resolve WireGuard tunnel defaults in code instead of the schema
  netsim/extra/tunnel.wireguard/defaults.yml
  netsim/extra/tunnel.wireguard/plugin.py
Due: yamllint, ci_tests

Inline WireGuard IPv6 link-local derivation once tunnel.af is set
  netsim/extra/tunnel.wireguard/plugin.py
Due: ci_tests

Infer WireGuard transport AF and derive link-local from the low 64 bits
  docs/plugins/tunnel.wireguard.md
  netsim/extra/tunnel.wireguard/plugin.py
  netsim/utils/routing.py
  tests/integration/tunnel/05-wireguard-ipv6.yml
  tests/integration/tunnel/06-wireguard-vrf-ipv6.yml
Due: yamllint, ci_tests

Clarify why WireGuard packages are set per node
  netsim/extra/tunnel.wireguard/plugin.py
Due: ci_tests

Use address pool for WireGuard tunnel static routes in tests
  tests/integration/tunnel/03-wireguard.yml
  tests/integration/tunnel/05-wireguard-ipv6.yml
Due: yamllint, ci_tests

Add WireGuard tunnel support to the none device
  netsim/devices/none.yml
Due: yamllint, ci_tests

Reuse get_tunnel_source in WireGuard plugin; fix dual-stack allowed_ips
  docs/plugins/tunnel.wireguard.md
  netsim/extra/tunnel.wireguard/plugin.py
  netsim/extra/tunnel/__init__.py
  tests/coverage/expected/gre-source.yml
Due: yamllint, ci_tests

Use comment-only placeholder for FRR GRE tunnel config template.
  netsim/extra/tunnel/gre/frr.j2
Due: none

Move FRR tunnel netdev setup into initial config and device quirks.
  netsim/ansible/templates/initial/frr.j2
  netsim/devices/frr.py
  netsim/devices/frr.yml
  netsim/extra/tunnel/gre/frr.j2
  netsim/extra/tunnel/wireguard/__init__.py
  netsim/extra/tunnel/wireguard/defaults.yml
Due: yamllint, ci_tests

Fix ruff import ordering in FRR device quirks module.
  netsim/devices/frr.py
Due: ci_tests

Apply IPv6 RA sysctl settings to tunnel interfaces in FRR initial config.
  netsim/ansible/templates/initial/frr.j2
Due: none

Fix FRR plugin initial template include paths.
  netsim/ansible/templates/initial/frr.j2
Due: none

Tidy WireGuard interface defaults in the tunnel plugin.
  netsim/extra/tunnel/wireguard/__init__.py
Due: ci_tests

Move WireGuard IPv6 link-local handling back to the plugin.
  netsim/ansible/templates/initial/frr.j2
  netsim/devices/frr.py
  netsim/extra/tunnel/wireguard/__init__.py
Due: ci_tests

remove asymmetric redundant if condition, fix indentation
  netsim/ansible/templates/initial/frr.j2
Due: none

Fix FRR tunnel interface bring-up order in initial config.
  netsim/ansible/templates/initial/frr.j2
Due: none

Move FRR tunnel netdev setup into plugin initial templates.
  netsim/ansible/templates/initial/frr.j2
  netsim/extra/tunnel/_p2p.py
  netsim/extra/tunnel/gre/frr.initial.j2
  netsim/extra/tunnel/gre/frr.j2
  netsim/extra/tunnel/wireguard/__init__.py
  netsim/extra/tunnel/wireguard/frr.initial.j2
  netsim/extra/tunnel/wireguard/frr.j2
Due: ci_tests

Move FRR tunnel netdev setup back into plugin config templates.
  netsim/ansible/templates/initial/frr.j2
  netsim/extra/tunnel/gre/frr.initial.j2
  netsim/extra/tunnel/gre/frr.j2
  netsim/extra/tunnel/wireguard/frr.initial.j2
  netsim/extra/tunnel/wireguard/frr.j2
Due: none

Restore FRR initial config from dev and move link-local to WireGuard.
  netsim/ansible/templates/initial/frr.j2
  netsim/extra/tunnel/wireguard/frr.j2
Due: none

Generic 'include module/plugin config into initial config' framework
  netsim/ansible/templates/initial/_extra_initial.j2
  netsim/ansible/templates/initial/vyos.j2
  netsim/ansible/templates/initial/vyos.vlan.j2
  netsim/ansible/templates/initial/vyos.vrf.j2
  netsim/ansible/templates/vlan/vyos.initial.j2
  netsim/ansible/templates/vrf/vyos.initial.j2
Due: none

Restore FRR clab package install and simplify WireGuard netdev check.
  netsim/ansible/templates/initial/frr.j2
  netsim/extra/tunnel/wireguard/frr.j2
Due: none

Ouch, modules can be empty
  netsim/ansible/templates/initial/_extra_initial.j2
Due: none

Simplify FRR WireGuard config template.
  netsim/extra/tunnel/wireguard/frr.j2
Due: none

Simplify WireGuard VRF conditionals in FRR template.
  netsim/extra/tunnel/wireguard/frr.j2
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
