Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Fix BIRD EVPN containerlab startup and VXLAN interface ordering.
  netsim/ansible/templates/gateway/frr.j2
  netsim/ansible/templates/initial/bird-clab.j2
  netsim/ansible/templates/initial/bird.j2
  netsim/ansible/templates/vlan/frr.j2
  netsim/daemons/bird.yml
  netsim/daemons/bird/Dockerfile.v2_from_src.j2
  netsim/daemons/bird/bird.j2
  netsim/daemons/bird/gateway.j2
  netsim/daemons/bird/patches/evpn-bridge-master.patch
  netsim/daemons/bird/vlan.j2
  netsim/daemons/bird/vxlan.j2
  netsim/daemons/bird/vxlan.mod.j2
  netsim/providers/clab/__init__.py
  netsim/providers/clab/configs.py
Due: yamllint, ci_tests

Fix duplicate BIRD BGP protocol names in IBGP-over-EBGP labs.
  netsim/daemons/bird/bgp.j2
Due: none

Revert FRR VLAN bridge MAC address setup change.
  netsim/ansible/templates/vlan/frr.j2
Due: none

Simplify BIRD container entrypoint to wait for netlab initial only.
  netsim/daemons/bird/Dockerfile.v2_from_src.j2
Due: none

Remove redundant runtime directory creation from BIRD image.
  netsim/daemons/bird/Dockerfile.v2_from_src.j2
Due: none

Inline netlab config done marker lookup in mark_config_done.
  netsim/providers/clab/configs.py
Due: ci_tests

Stop tracking local BIRD source patches in git.
  .gitignore
  netsim/daemons/bird/patches/evpn-bridge-master.patch
Due: none

Mark clab config done only after all deploy scripts succeed.
  netsim/providers/clab/configs.py
Due: ci_tests

Revert .gitignore change for local BIRD patches.
  .gitignore
Due: none

Fix ruff I001 import formatting in clab configs.
  netsim/providers/clab/configs.py
Due: ci_tests

Standardize RouterOS7 formatting to be /<type>/<subtype> <action> <values>
  netsim/ansible/templates/initial/routeros7.j2
  netsim/ansible/templates/initial/routeros7.vlan.j2
  netsim/ansible/templates/initial/routeros7.vrf.j2
Due: none

Add VXLAN support to RouterOS7
  netsim/ansible/templates/vxlan/routeros7.j2
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

Add EVPN VXLAN support for RouterOS7
  netsim/ansible/templates/evpn/routeros7.j2
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

Add support for RouterOS > 7.18
  netsim/ansible/templates/bgp/routeros7.j2
  netsim/ansible/templates/bgp/routeros7.macro.j2
Due: none

One more instance to fix
  netsim/ansible/templates/mpls/routeros7.j2
Due: none

Add FortiOS BGP support
  docs/caveats.md
  docs/module/bgp.md
  docs/platforms.md
  docs/plugins/bgp.session.md
  netsim/ansible/tasks/deploy-config/fortios.yml
  netsim/ansible/templates/bgp/fortios.j2
  netsim/devices/fortios.py
  netsim/devices/fortios.yml
  netsim/extra/bgp.session/fortios.j2
  tests/errors/fortios-bgp-gr-restart-time.log
  tests/errors/fortios-bgp-gr-restart-time.yml
Due: yamllint, ci_tests

Update RouterOS image version to 7.21.4
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

remove commented out changes
  netsim/ansible/templates/bgp/routeros7.j2
Due: none

Move FortiOS GR error checks into coverage tests
  tests/errors/fortios-bgp-gr-restart-time.log
  tests/errors/fortios-bgp-gr-restart-time.yml
Due: yamllint, ci_tests

remove last comment
  netsim/ansible/templates/bgp/routeros7.macro.j2
Due: none

RouterOS 7.21.4 cannot set cluster-id at template do at instance level
  netsim/ansible/templates/bgp/routeros7.j2
Due: none

Fix vMX SSH-readiness timeout regression (#3483)
  netsim/devices/junos.yml
  netsim/devices/vjunos-router.yml
  netsim/devices/vmx.yml
  netsim/devices/vsrx.yml
Due: yamllint, ci_tests

Extract gateway data-plane setup into a shared FRR template.
  netsim/ansible/templates/gateway/frr.data-plane.j2
  netsim/ansible/templates/gateway/frr.j2
  netsim/ansible/templates/vxlan/frr.j2
  netsim/daemons/bird/gateway.j2
Due: none

Move BIRD config-done marker into a container deploy script.
  netsim/daemons/bird.yml
  netsim/devices/bird.py
  netsim/extra/config-done/bird.j2
  netsim/providers/clab/__init__.py
  netsim/providers/clab/configs.py
Due: yamllint, ci_tests

Remove interface wait loop from BIRD initial config template.
  netsim/ansible/templates/initial/bird.j2
Due: none

Add config-done wait entrypoint to all BIRD Dockerfiles.
  netsim/daemons/bird/Dockerfile
  netsim/daemons/bird/Dockerfile.v3
Due: none

Configure BIRD clab data plane from the host netns.
  netsim/ansible/templates/initial/bird.j2
  netsim/daemons/bird.yml
  netsim/daemons/bird/Dockerfile
  netsim/daemons/bird/Dockerfile.v2_from_src.j2
  netsim/daemons/bird/Dockerfile.v3
  netsim/extra/config-done/bird.j2
Due: yamllint, ci_tests

Rename BIRD clab initial template to bird-clab.j2.
  netsim/ansible/templates/initial/bird-clab.j2
Due: none

Fix issues with templates
  netsim/ansible/templates/bgp/routeros7.j2
  netsim/ansible/templates/bgp/routeros7.macro.j2
Due: none

Add route-map filter, remove the force-nexthop-self as it overrides any filter
  netsim/ansible/templates/bgp/routeros7.j2
  netsim/ansible/templates/bgp/routeros7.macro.j2
Due: none

Doc: Improve command description in README.md
  README.md
Due: none

Update with filter changes to be tested
  netsim/ansible/templates/bgp/routeros7.j2
  netsim/ansible/templates/bgp/routeros7.macro.j2
Due: none

Fix ordering and typo.. passes bgp 03+05 tests now
  netsim/ansible/templates/bgp/routeros7.macro.j2
Due: none

Initial removal of VirtualBox support
  netsim/ansible/templates/ospf/routeros7.ospf-include.j2
  netsim/daemons/bird.yml
  netsim/daemons/dnsmasq.yml
  netsim/devices/cat8000v.yml
  netsim/devices/csr.yml
  netsim/devices/cumulus.yml
  netsim/devices/cumulus_nvue.yml
  netsim/devices/eos.yml
  netsim/devices/frr.yml
  netsim/devices/iosv.yml
  netsim/devices/linux.yml
  netsim/devices/none.yml
  netsim/devices/nxos.yml
  netsim/devices/vsrx.yml
  netsim/providers/virtualbox.py
  netsim/providers/virtualbox.yml
  netsim/templates/provider/virtualbox/Vagrantfile.j2
  netsim/templates/provider/virtualbox/arcos-domain.j2
  netsim/templates/provider/virtualbox/cumulus-domain.j2
  netsim/templates/provider/virtualbox/eos-domain.j2
  netsim/templates/provider/virtualbox/frr-domain.j2
  netsim/templates/provider/virtualbox/linux-domain.j2
  netsim/templates/provider/virtualbox/nxos-domain.j2
  netsim/templates/provider/virtualbox/virtualbox-network.j2
  netsim/templates/provider/virtualbox/virtualbox-ports.j2
  netsim/templates/provider/virtualbox/vsrx-domain.j2
  netsim/templates/tests/virtualbox.yml
  tests/coverage/expected/vbox.yml
  tests/coverage/input/vbox.yml
  tests/errors/invalid-provider.log
  tests/integration/bgp/03-ibgp-rr.yml
  tests/integration/bgp/frr-community.j2
  tests/providers/vbox.yml
Due: yamllint, ci_tests

Documentation removal of VirtualBox support
  docs/caveats.md
  docs/dev/device-platform.md
  docs/example/external.md
  docs/example/github.md
  docs/example/release.md
  docs/install.md
  docs/install/ubuntu-vm.md
  docs/labs/virtualbox.md
  docs/netlab/connect.md
  docs/netlab/show.md
  docs/netlab/test.md
  docs/platforms.md
  docs/providers.md
Due: none

Initial work for BFD under RouterOS7
  netsim/ansible/templates/bfd/routeros7.j2
Due: none
