Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Simplify bgp.local_role neighbor iteration in post_transform.
  netsim/extra/bgp.local_role/plugin.py
Due: ci_tests

Fix bgp.local_role integration tests with valid OTC leak check.
  tests/integration/bgp.local_role/01-provider-customer.yml
  tests/integration/bgp.local_role/02-peer-peer.yml
  tests/integration/bgp.local_role/03-role-mismatch.yml
  tests/integration/bgp.local_role/README.md
Due: yamllint, ci_tests

Set local_role_strict globally in role-mismatch integration test.
  tests/integration/bgp.local_role/03-role-mismatch.yml
Due: yamllint, ci_tests

Advertise BGP local_role support on the none device.
  netsim/devices/none.yml
Due: yamllint, ci_tests

Move SR Linux clab.type list to device YAML and match legacy aliases.
  netsim/devices/srlinux.py
  netsim/devices/srlinux.yml
Due: yamllint, ci_tests

Fix invalid clab.type error text and reorder legacy hyphenation helper.
  netsim/devices/srlinux.py
Due: ci_tests

Sample SR Linux tests for #3427
  _html/srlinux-clab-initial.html
  _html/srlinux-clab-sr.html
  srlinux/clab/initial/01-interfaces.yml-initial.log
  srlinux/clab/initial/01-interfaces.yml-up.log
  srlinux/clab/initial/02-loopback.yml-up.log
  srlinux/clab/initial/02-loopback.yml-validate.log
  srlinux/clab/initial/03-unnumbered.yml-up.log
  srlinux/clab/initial/07-router.yml-up.log
  srlinux/clab/initial/10-reload.yml-initial.log
  srlinux/clab/initial/10-reload.yml-up.log
  srlinux/clab/initial/cleanup-down.log
  srlinux/clab/initial/results.yaml
  srlinux/clab/sr/01-isis-ipv4-p.yml-initial.log
  srlinux/clab/sr/01-isis-ipv4-p.yml-up.log
  srlinux/clab/sr/01-isis-ipv4-p.yml-validate.log
  srlinux/clab/sr/02-isis-ipv4-pe.yml-initial.log
  srlinux/clab/sr/02-isis-ipv4-pe.yml-up.log
  srlinux/clab/sr/11-isis-ipv6-p.yml-initial.log
  srlinux/clab/sr/11-isis-ipv6-p.yml-up.log
  srlinux/clab/sr/11-isis-ipv6-p.yml-validate.log
  srlinux/clab/sr/12-isis-ipv6-pe.yml-initial.log
  srlinux/clab/sr/12-isis-ipv6-pe.yml-up.log
  srlinux/clab/sr/12-isis-ipv6-pe.yml-validate.log
  srlinux/clab/sr/cleanup-down.log
  srlinux/clab/sr/results.yaml
Due: yamllint, ci_tests

Recognize user-defined types in 'type:' attribute definition
  AGENTS.md
  docs/dev/validation.md
  netsim/data/validate.py
  tests/coverage/errors/user-data-types.log
  tests/coverage/errors/user-data-types.yml
Due: yamllint, ci_tests

Remove an obsolete documentation warning
  docs/dev/validation.md
Due: none

Implement _value_to_dict validation attribute
  docs/dev/validation.md
  netsim/data/validate.py
  netsim/modules/bgp.py
  netsim/modules/bgp.yml
  tests/coverage/expected/value-as-dict.yml
  tests/coverage/input/value-as-dict.yml
  tests/errors/bgp-community.log
Due: yamllint, ci_tests

Fixing a documentation typo
  docs/dev/validation.md
Due: none

Another day, another typo...
  netsim/data/validate.py
Due: ci_tests

Use ast.literal_eval for safer string evaluation
  netsim/data/validate.py
Due: ci_tests

Minimize error output of CI tests
  tests/test_transformation.py
Due: ci_tests

Fix: run probes only when testing providers with 'netlab test'
  netsim/cli/test.py
Due: ci_tests

Fix: Use get_box to create Box objects in validate.py
  netsim/data/validate.py
Due: ci_tests

Fix: _alt_types list supports user-defined data types
  docs/dev/validation.md
  netsim/data/validate.py
  tests/coverage/errors/user-data-types.log
Due: ci_tests

Fix: Validation status must be set to False for invalid values
  netsim/data/types.py
Due: ci_tests

Fix: Always return non-empty _alt_types result
  netsim/data/validate.py
Due: ci_tests

Simplify bgp.role handling in bgp.policy plugin.
  netsim/extra/bgp.policy/plugin.py
Due: ci_tests

Fix bgp.role device check firing on every EBGP neighbor.
  netsim/extra/bgp.policy/plugin.py
Due: ci_tests

Refine BGP role handling: dict format, global strict, combined tests.
  docs/plugins/bgp.policy.md
  netsim/daemons/bird/bgp.j2
  netsim/extra/bgp.policy/bird.j2
  netsim/extra/bgp.policy/defaults.yml
  netsim/extra/bgp.policy/frr.j2
  netsim/extra/bgp.policy/plugin.py
  tests/errors/bgp-policy-role.log
  tests/errors/bgp-policy-role.yml
  tests/integration/bgp.policy/70-bgp-roles.yml
  tests/integration/bgp.policy/71-role-peer-peer.yml
  tests/integration/bgp.policy/72-role-mismatch.yml
  tests/topology/expected/bgp-role.yml
  tests/topology/input/bgp-role.yml
Due: yamllint, ci_tests

Add RFC 9234 BGP Roles to the bgp.policy plugin.
  docs/module/bgp.md
  docs/plugins/bgp.policy.md
  netsim/daemons/bird.yml
  netsim/daemons/bird/bgp.j2
  netsim/devices/frr.yml
  netsim/devices/none.yml
  netsim/extra/bgp.policy/defaults.yml
  netsim/extra/bgp.policy/frr.j2
  netsim/extra/bgp.policy/plugin.py
  tests/integration/bgp.policy/70-role-provider-customer.yml
  tests/integration/bgp.policy/71-role-peer-peer.yml
  tests/integration/bgp.policy/72-role-mismatch.yml
  tests/topology/expected/bgp-role.yml
  tests/topology/input/bgp-role.yml
Due: yamllint, ci_tests

Validate BGP roles via YAML user types instead of Python.
  netsim/data/validate.py
  netsim/extra/bgp.policy/defaults.yml
  netsim/extra/bgp.policy/plugin.py
  tests/errors/bgp-policy-role.log
  tests/topology/expected/bgp-role.yml
Due: yamllint, ci_tests

Fix lint and mypy issues in BGP role changes.
  netsim/data/validate.py
  netsim/extra/bgp.policy/plugin.py
Due: ci_tests

Apply bgp.role as a direct policy attribute like other EBGP knobs.
  netsim/extra/bgp.policy/defaults.yml
  netsim/extra/bgp.policy/plugin.py
  tests/topology/expected/bgp-role.yml
Due: yamllint, ci_tests

Revert validate.py changes; validate bgp.role in the plugin.
  netsim/data/validate.py
  netsim/extra/bgp.policy/defaults.yml
  netsim/extra/bgp.policy/plugin.py
  tests/errors/bgp-policy-role.log
Due: yamllint, ci_tests

Validate BGP roles via user-defined bgp_role type and _value_to_dict.
  netsim/extra/bgp.policy/defaults.yml
  netsim/extra/bgp.policy/plugin.py
  tests/errors/bgp-policy-role.log
  tests/topology/expected/bgp-role.yml
Due: yamllint, ci_tests

Support PEP 517 isolated builds
  pyproject.toml
  setup.py
Due: ci_tests

Implement plugin CLI hooks
  docs/dev/plugins.md
  netsim/cli/_hooks.py
  netsim/cli/create.py
  netsim/cli/down.py
  netsim/cli/external_commands.py
  netsim/cli/up.py
Due: ci_tests

Fix: Empty dict should be checked for _required attributes
  netsim/data/validate.py
  tests/coverage/errors/required-empty-dict.log
  tests/coverage/errors/required-empty-dict.yml
Due: yamllint, ci_tests

Fixing the nits
  netsim/cli/_hooks.py
Due: ci_tests

Fix FRR bgp_prefix validation to query VRF BGP tables.
  netsim/validate/bgp/frr.py
Due: ci_tests

Fix: Always use VRF in FRR BGP show commands
  netsim/validate/bgp/frr.py
  tests/integration/mpls/15-vpnv4-rr.yml
Due: yamllint, ci_tests

Sample FRR BGP/VPNv4 integratino tests for #3446
  _html/coverage.bgp.html
  _html/frr-clab-bgp.html
  _html/frr-clab-mpls.html
  _html/frr-libvirt-bgp.html
  frr/clab/bgp/01-ebgp-session.yml-up.log
  frr/clab/bgp/cleanup-down.log
  frr/clab/bgp/results.yaml
  frr/clab/mpls/10-vpn-connected.yml-initial.log
  frr/clab/mpls/10-vpn-connected.yml-up.log
  frr/clab/mpls/10-vpn-connected.yml-validate.log
  frr/clab/mpls/11-vpn-cs.yml-initial.log
  frr/clab/mpls/11-vpn-cs.yml-up.log
  frr/clab/mpls/11-vpn-cs.yml-validate.log
  frr/clab/mpls/12-vpn-bgp.yml-initial.log
  frr/clab/mpls/12-vpn-bgp.yml-up.log
  frr/clab/mpls/12-vpn-bgp.yml-validate.log
  frr/clab/mpls/13-vpn-ospf.yml-initial.log
  frr/clab/mpls/13-vpn-ospf.yml-up.log
  frr/clab/mpls/13-vpn-ospf.yml-validate.log
  frr/clab/mpls/15-vpnv4-rr.yml-create.log
  frr/clab/mpls/15-vpnv4-rr.yml-initial.log
  frr/clab/mpls/15-vpnv4-rr.yml-up.log
  frr/clab/mpls/15-vpnv4-rr.yml-validate.log
  frr/clab/mpls/cleanup-down.log
  frr/clab/mpls/results.yaml
  frr/libvirt/bgp/01-ebgp-session.yml-create.log
  frr/libvirt/bgp/01-ebgp-session.yml-initial.log
  frr/libvirt/bgp/01-ebgp-session.yml-up.log
  frr/libvirt/bgp/01-ebgp-session.yml-validate.log
  frr/libvirt/bgp/cleanup-down.log
  frr/libvirt/bgp/results.yaml
  index.html
Due: yamllint, ci_tests

Fix: Consistent extraction of type-validation attributes
  netsim/data/validate.py
Due: ci_tests

Fix nits
  netsim/data/validate.py
Due: ci_tests

Migrate package data to pyproject.toml
  MANIFEST.in
  docs/install/clone.md
  netsim/cli/__init__.py
  pyproject.toml
  setup.py
Due: ci_tests

Fix 'path to netlab' handling
  netlab
  netsim/cli/__init__.py
Due: ci_tests

Fixing a typo
  docs/install/clone.md
Due: none
