Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

None device needs all EVPN transports. Plus, typos :(
  netsim/devices/none.yml
  tests/integration/evpn/51-mpls-bridging.yml
  tests/integration/evpn/61-sr-bridging.yml
Due: yamllint, ci_tests

EVPN support for SR-MPLS transport (EOS) (#3146)
  docs/module/evpn.md
  netsim/devices/eos.yml
  netsim/devices/none.yml
  netsim/modules/evpn.py
  netsim/modules/evpn.yml
  tests/integration/evpn/51-mpls-bridging.yml
  tests/integration/evpn/61-sr-bridging.yml
  tests/topology/expected/evpn-asymmetric-irb-ospf.yml
  tests/topology/expected/evpn-hub-spoke.yml
  tests/topology/expected/evpn-l3vni-only.yml
  tests/topology/expected/evpn-node-vrf.yml
  tests/topology/expected/evpn-vlan-attr.yml
  tests/topology/expected/evpn-vxlan.yml
  tests/topology/expected/null-vrfs.yml
Due: yamllint, ci_tests

EVPN symmetric IRB fixes for MPLS/SR-MPLS transport
  netsim/modules/evpn.py
  tests/integration/evpn/52-mpls-asymmetric-irb.yml
  tests/integration/evpn/53-evpn-l3only.yml
  tests/topology/expected/evpn-asymmetric-irb-ospf.yml
  tests/topology/expected/evpn-hub-spoke.yml
  tests/topology/expected/evpn-l3vni-only.yml
  tests/topology/expected/evpn-node-vrf.yml
Due: yamllint, ci_tests

Fixing Copilot-identified flaws and typos
  netsim/modules/evpn.py
  tests/integration/evpn/52-mpls-asymmetric-irb.yml
  tests/integration/evpn/53-evpn-l3only.yml
Due: yamllint, ci_tests

crpd shell deployment script
  netsim/devices/crpd.yml
Due: yamllint, ci_tests

correct indentation
  netsim/devices/crpd.yml
Due: yamllint, ci_tests

use script template
  netsim/devices/crpd.yml
  netsim/templates/provider/clab/crpd/netlab-config.j2
Due: yamllint, ci_tests

use config script in netlab config wrapper
  netsim/devices/crpd.yml
Due: yamllint, ci_tests

EVPN symmetric IRB fixes for MPLS/SR-MPLS transport (#3147)
  netsim/modules/evpn.py
  tests/integration/evpn/52-mpls-asymmetric-irb.yml
  tests/integration/evpn/53-evpn-l3only.yml
  tests/topology/expected/evpn-asymmetric-irb-ospf.yml
  tests/topology/expected/evpn-hub-spoke.yml
  tests/topology/expected/evpn-l3vni-only.yml
  tests/topology/expected/evpn-node-vrf.yml
Due: yamllint, ci_tests

Simplify the script-based deployment
  netsim/devices/crpd.yml
Due: yamllint, ci_tests

Documentation update
  docs/platforms.md
Due: none

cRPD shell config deployment script (#3148)
  docs/platforms.md
  netsim/devices/crpd.yml
  netsim/templates/provider/clab/crpd/netlab-config.j2
Due: yamllint, ci_tests

EVPN/MPLS on Cisco IOS XE
  docs/caveats.md
  docs/module/evpn.md
  docs/platforms.md
  netsim/ansible/templates/evpn/ios-common.j2
  netsim/ansible/templates/evpn/ios.j2
  netsim/devices/cat8000v.yml
  netsim/devices/csr.yml
  netsim/devices/iol.yml
  tests/integration/evpn/02-vxlan-asymmetric-irb.yml
  tests/integration/evpn/51-mpls-bridging.yml
  tests/integration/evpn/52-mpls-asymmetric-irb.yml
  tests/integration/evpn/53-evpn-l3only.yml
Due: yamllint, ci_tests

Fix: Don't save integration test snapshot files
  tests/integration/device-module-test
Due: none

EOS EVPN/MPLS tests
  _html/coverage.evpn_mpls.html
  _html/eos-clab-evpn.html
  _html/release-coverage.html
  eos/clab/evpn/51-mpls-bridging.yml-validate.log
  eos/clab/evpn/52-mpls-asymmetric-irb.yml-create.log
  eos/clab/evpn/52-mpls-asymmetric-irb.yml-initial.log
  eos/clab/evpn/52-mpls-asymmetric-irb.yml-up.log
  eos/clab/evpn/52-mpls-asymmetric-irb.yml-validate.log
  eos/clab/evpn/53-evpn-l3only.yml-create.log
  eos/clab/evpn/53-evpn-l3only.yml-initial.log
  eos/clab/evpn/53-evpn-l3only.yml-up.log
  eos/clab/evpn/53-evpn-l3only.yml-validate.log
  eos/clab/evpn/cleanup-down.log
  eos/clab/evpn/results.yaml
  index.html
Due: yamllint, ci_tests

VLAN configuration fixes for IOLL2
  netsim/ansible/templates/evpn/ioll2.j2
Due: none

Cisco IOS/XE can run EVPN over SR-MPLS
  netsim/devices/cat8000v.yml
  netsim/devices/csr.yml
  netsim/devices/iol.yml
  tests/integration/evpn/61-sr-bridging.yml
Due: yamllint, ci_tests

VRRP on IOS/XR
  docs/module/gateway.md
  docs/platforms.md
  netsim/ansible/templates/gateway/iosxr.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

EVPN/MPLS on Cisco IOS XE (#3149)
  docs/caveats.md
  docs/module/evpn.md
  docs/platforms.md
  netsim/ansible/templates/evpn/ioll2.j2
  netsim/ansible/templates/evpn/ios-common.j2
  netsim/ansible/templates/evpn/ios.j2
  netsim/devices/cat8000v.yml
  netsim/devices/csr.yml
  netsim/devices/iol.yml
  tests/integration/evpn/02-vxlan-asymmetric-irb.yml
  tests/integration/evpn/51-mpls-bridging.yml
  tests/integration/evpn/52-mpls-asymmetric-irb.yml
  tests/integration/evpn/53-evpn-l3only.yml
  tests/integration/evpn/61-sr-bridging.yml
Due: yamllint, ci_tests

Fixing a Copilot nit
  docs/module/gateway.md
Due: none

VRRP tests for IOS/XR (#3150)
  _html/cisco8000v-clab-gateway.html
  _html/cisco8000v-clab.html
  _html/cisco8000v.html
  _html/coverage.gateway.html
  _html/iosxr-clab-gateway.html
  _html/iosxr-clab.html
  _html/iosxr.html
  _html/release-coverage.html
  cisco8000v/clab/gateway/01-anycast.yml-create.log
  cisco8000v/clab/gateway/02-vrrp.yml-create.log
  cisco8000v/clab/gateway/02-vrrp.yml-initial.log
  cisco8000v/clab/gateway/02-vrrp.yml-up.log
  cisco8000v/clab/gateway/02-vrrp.yml-validate.log
  cisco8000v/clab/gateway/03-vrrp-vlan.yml-create.log
  cisco8000v/clab/gateway/03-vrrp-vlan.yml-initial.log
  cisco8000v/clab/gateway/03-vrrp-vlan.yml-up.log
  cisco8000v/clab/gateway/03-vrrp-vlan.yml-validate.log
  cisco8000v/clab/gateway/cleanup-down.log
  cisco8000v/clab/gateway/results.yaml
  index.html
  iosxr/clab/gateway/01-anycast.yml-create.log
  iosxr/clab/gateway/02-vrrp.yml-create.log
  iosxr/clab/gateway/02-vrrp.yml-initial.log
  iosxr/clab/gateway/02-vrrp.yml-up.log
  iosxr/clab/gateway/02-vrrp.yml-validate.log
  iosxr/clab/gateway/03-vrrp-vlan.yml-create.log
  iosxr/clab/gateway/cleanup-down.log
  iosxr/clab/gateway/results.yaml
Due: yamllint, ci_tests

Redo Cisco IOS/XE EVPN/MPLS async IRB test with optional anycast
  _html/cat8000v-libvirt-evpn.html
  _html/cat8000v-libvirt.html
  _html/cat8000v.html
  _html/coverage.evpn_mpls.html
  _html/csr-libvirt-evpn.html
  _html/csr-libvirt.html
  _html/csr.html
  _html/iol-clab-evpn.html
  _html/iol-clab.html
  _html/iol.html
  _html/ioll2-clab-evpn.html
  _html/ioll2-clab.html
  _html/ioll2.html
  cat8000v/libvirt/evpn/52-mpls-asymmetric-irb.yml-create.log
  cat8000v/libvirt/evpn/52-mpls-asymmetric-irb.yml-initial.log
  cat8000v/libvirt/evpn/52-mpls-asymmetric-irb.yml-up.log
  cat8000v/libvirt/evpn/52-mpls-asymmetric-irb.yml-validate.log
  cat8000v/libvirt/evpn/cleanup-down.log
  cat8000v/libvirt/evpn/results.yaml
  csr/libvirt/evpn/52-mpls-asymmetric-irb.yml-create.log
  csr/libvirt/evpn/52-mpls-asymmetric-irb.yml-initial.log
  csr/libvirt/evpn/52-mpls-asymmetric-irb.yml-up.log
  csr/libvirt/evpn/52-mpls-asymmetric-irb.yml-validate.log
  csr/libvirt/evpn/cleanup-down.log
  csr/libvirt/evpn/results.yaml
  index.html
  iol/clab/evpn/52-mpls-asymmetric-irb.yml-create.log
  iol/clab/evpn/52-mpls-asymmetric-irb.yml-initial.log
  iol/clab/evpn/52-mpls-asymmetric-irb.yml-up.log
  iol/clab/evpn/52-mpls-asymmetric-irb.yml-validate.log
  iol/clab/evpn/cleanup-down.log
  iol/clab/evpn/results.yaml
  ioll2/clab/evpn/52-mpls-asymmetric-irb.yml-create.log
  ioll2/clab/evpn/52-mpls-asymmetric-irb.yml-initial.log
  ioll2/clab/evpn/52-mpls-asymmetric-irb.yml-up.log
  ioll2/clab/evpn/52-mpls-asymmetric-irb.yml-validate.log
  ioll2/clab/evpn/cleanup-down.log
  ioll2/clab/evpn/results.yaml
Due: yamllint, ci_tests

Fix: Make anycast GW in EVPN/MPLS asymmetric IRB test optional
  tests/integration/evpn/52-mpls-asymmetric-irb.yml
Due: yamllint, ci_tests

Redo Cisco8000v VRRP-on-VLAN test with longer timeout
  _html/cisco8000v-clab-gateway.html
  _html/cisco8000v-clab.html
  _html/cisco8000v.html
  _html/coverage.gateway.html
  cisco8000v/clab/gateway/03-vrrp-vlan.yml-initial.log
  cisco8000v/clab/gateway/03-vrrp-vlan.yml-up.log
  cisco8000v/clab/gateway/03-vrrp-vlan.yml-validate.log
  cisco8000v/clab/gateway/cleanup-down.log
  cisco8000v/clab/gateway/results.yaml
  index.html
Due: yamllint, ci_tests

Fix: Cisco 8000v needs ridiculously long time for VRRP on VLAN
  tests/integration/gateway/03-vrrp-vlan.yml
Due: yamllint, ci_tests

VRRP on IOS/XR (#3150)
  docs/module/gateway.md
  docs/platforms.md
  netsim/ansible/templates/gateway/iosxr.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

add vptx quirks for evpn
  netsim/devices/vptx.py
Due: ci_tests

Make EVPN RR integration test work with MPLS transport
  tests/integration/evpn/10-vxlan-rr.yml
  tests/integration/evpn/evpn-transport/plugin.py
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

New integration test. EVPN L3VPN with MPLS transport
  tests/integration/evpn/54-evpn-l3vpn.yml
Due: yamllint, ci_tests

IOS XR EVPN over MPLS
  docs/module/evpn.md
  docs/platforms.md
  netsim/ansible/templates/evpn/iosxr.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

IOS XR EVPN over MPLS (#3152)
  docs/module/evpn.md
  docs/platforms.md
  netsim/ansible/templates/evpn/iosxr.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

EVPN/MPLS L3VPN test needed OSPF and BGP CE prefix checks
  tests/integration/evpn/54-evpn-l3vpn.yml
Due: yamllint, ci_tests

xrd shell script config deployment
  netsim/devices/iosxr.yml
  netsim/templates/provider/clab/iosxr/netlab-config.j2
Due: yamllint, ci_tests

update platfoms.md
  docs/platforms.md
Due: none

crpd shell script fix
  netsim/templates/provider/clab/crpd/netlab-config.j2
Due: none
