Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Add AS-path filter data structure documentation (#3174)
  docs/dev/config/routing.md
Due: none

Add BGP community filter data structure documentation
  docs/dev/config/routing.md
Due: none

Fix a logic error (entries in as-set must be comma-separated)
  netsim/ansible/templates/routing/iosxr/aspath.j2
Due: none

IOS XR AS-path sets and policy matches (#3175)
  docs/module/routing-policy.txt
  docs/module/routing.md
  netsim/ansible/templates/routing/iosxr.j2
  netsim/ansible/templates/routing/iosxr/aspath.j2
  netsim/ansible/templates/routing/iosxr/policy-match.j2
  netsim/ansible/templates/routing/iosxr/policy-set.j2
  netsim/ansible/templates/routing/iosxr/policy.j2
  netsim/devices/iosxr.py
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Add a bogus entry to AS-path intgr test to trigger "more than one" case
  tests/integration/routing/11-match-aspath.yml
Due: yamllint, ci_tests

Fixed the example
  docs/dev/config/routing.md
Due: none

Add BGP community filter data structure documentation (#3176)
  docs/dev/config/routing.md
Due: none

Doc fix: typo in community list developer documentation
  docs/dev/config/routing.md
Due: none

IOS XR BGP standard community lists
  docs/module/routing-clist.txt
  docs/module/routing-policy.txt
  netsim/ansible/templates/routing/iosxr.j2
  netsim/ansible/templates/routing/iosxr/clist.j2
  netsim/ansible/templates/routing/iosxr/policy-match.j2
  netsim/devices/iosxr.py
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Fixing stuff, adding caveats
  docs/caveats.md
  docs/module/routing-clist.txt
  netsim/ansible/templates/routing/iosxr/clist.j2
  netsim/ansible/templates/routing/iosxr/policy-match.j2
  netsim/devices/iosxr.py
Due: ci_tests

Add static routing data structure documentation
  docs/dev/config/routing.md
Due: none

Final touches
  netsim/devices/iosxr.py
Due: ci_tests

IOS XR BGP standard clist integration test for #3177
  _html/cisco8000v-clab-routing.html
  _html/cisco8000v-clab.html
  _html/cisco8000v.html
  _html/coverage.r_filter.html
  _html/iosxr-clab-routing.html
  _html/iosxr-clab.html
  _html/iosxr.html
  cisco8000v/clab/routing/12-match-community.yml-create.log
  cisco8000v/clab/routing/12-match-community.yml-initial.log
  cisco8000v/clab/routing/12-match-community.yml-up.log
  cisco8000v/clab/routing/12-match-community.yml-validate.log
  cisco8000v/clab/routing/cleanup-down.log
  cisco8000v/clab/routing/results.yaml
  index.html
  iosxr/clab/routing/12-match-community.yml-create.log
  iosxr/clab/routing/12-match-community.yml-initial.log
  iosxr/clab/routing/12-match-community.yml-up.log
  iosxr/clab/routing/12-match-community.yml-validate.log
  iosxr/clab/routing/cleanup-down.log
  iosxr/clab/routing/results.yaml
Due: yamllint, ci_tests

IOS XR BGP standard community lists (#3177)
  docs/caveats.md
  docs/module/routing-clist.txt
  docs/module/routing-policy.txt
  netsim/ansible/templates/routing/iosxr.j2
  netsim/ansible/templates/routing/iosxr/clist.j2
  netsim/ansible/templates/routing/iosxr/policy-match.j2
  netsim/devices/iosxr.py
  netsim/devices/xr.yml
Due: yamllint, ci_tests

IOS/XR BGP large communities + delete community lists
  netsim/ansible/templates/routing/iosxr/clist.j2
  netsim/ansible/templates/routing/iosxr/policy-delete.j2
  netsim/ansible/templates/routing/iosxr/policy-match.j2
  netsim/ansible/templates/routing/iosxr/policy.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Added reviewer instructions
  docs/dev/config/routing.md
Due: none

Fixing bloopers
  docs/dev/config/routing.md
Due: none

Add static routing data structure documentation (#3178)
  docs/dev/config/routing.md
Due: none

Fix a potential keyword lookup problem
  netsim/ansible/templates/routing/iosxr/policy-delete.j2
Due: none

IOS XR large/delete-list BGP community tests for #3179
  _html/cisco8000v-clab-routing.html
  _html/cisco8000v-clab.html
  _html/cisco8000v.html
  _html/coverage.r_filter.html
  _html/coverage.r_policy.html
  _html/iosxr-clab-routing.html
  _html/iosxr-clab.html
  _html/iosxr.html
  cisco8000v/clab/routing/07c-community-delete-list.yml-create.log
  cisco8000v/clab/routing/07c-community-delete-list.yml-initial.log
  cisco8000v/clab/routing/07c-community-delete-list.yml-up.log
  cisco8000v/clab/routing/07c-community-delete-list.yml-validate.log
  cisco8000v/clab/routing/13-match-community-large.yml-create.log
  cisco8000v/clab/routing/13-match-community-large.yml-initial.log
  cisco8000v/clab/routing/13-match-community-large.yml-up.log
  cisco8000v/clab/routing/13-match-community-large.yml-validate.log
  cisco8000v/clab/routing/cleanup-down.log
  cisco8000v/clab/routing/results.yaml
  index.html
  iosxr/clab/routing/07c-community-delete-list.yml-create.log
  iosxr/clab/routing/07c-community-delete-list.yml-initial.log
  iosxr/clab/routing/07c-community-delete-list.yml-up.log
  iosxr/clab/routing/07c-community-delete-list.yml-validate.log
  iosxr/clab/routing/13-match-community-large.yml-create.log
  iosxr/clab/routing/13-match-community-large.yml-initial.log
  iosxr/clab/routing/13-match-community-large.yml-up.log
  iosxr/clab/routing/13-match-community-large.yml-validate.log
  iosxr/clab/routing/cleanup-down.log
  iosxr/clab/routing/results.yaml
Due: yamllint, ci_tests

IOS/XR BGP large communities + delete community lists (#3179)
  netsim/ansible/templates/routing/iosxr/clist.j2
  netsim/ansible/templates/routing/iosxr/policy-delete.j2
  netsim/ansible/templates/routing/iosxr/policy-match.j2
  netsim/ansible/templates/routing/iosxr/policy.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Split routing.md into framework file and topic files
  .gitignore
  docs/dev/config/routing-aspath.txt
  docs/dev/config/routing-community.txt
  docs/dev/config/routing-platform.txt
  docs/dev/config/routing-policy.txt
  docs/dev/config/routing-prefix.txt
  docs/dev/config/routing-static.txt
  docs/dev/config/routing.md
Due: none

Fixing include statements
  docs/dev/config/routing.md
Due: none

Fix split bloopers
  docs/dev/config/routing-community.txt
  docs/dev/config/routing-prefix.txt
Due: none

Split routing.md into framework and topic files (#3180)
  .gitignore
  docs/dev/config/routing-aspath.txt
  docs/dev/config/routing-community.txt
  docs/dev/config/routing-platform.txt
  docs/dev/config/routing-policy.txt
  docs/dev/config/routing-prefix.txt
  docs/dev/config/routing-static.txt
  docs/dev/config/routing.md
Due: none

FOS: disable password policy enforcement
  netsim/install/libvirt/fortios/openstack/latest/user_data
Due: none

Release 26.03
  docs/module/evpn.md
  docs/module/sr-mpls.md
  docs/release.md
  docs/release/26.03.md
Due: none

FortiOS: disable password policy enforcement (#3184)
  netsim/install/libvirt/fortios/openstack/latest/user_data
Due: none

Fixed a typo
  docs/release/26.03.md
Due: none

Fix: Reorder the search paths for the device provisioning templates
  docs/customize.md
  netsim/providers/__init__.py
Due: ci_tests

Implement Copilot-suggested improvements, fix copy/paste typos
  docs/customize.md
  netsim/providers/__init__.py
Due: ci_tests

Fix: Reorder the search paths for the device provisioning templates (#3185)
  docs/customize.md
  netsim/providers/__init__.py
Due: ci_tests

Fix: Cleanup /etc/hosts generation on CL, FRR, and SR Linux
  netsim/templates/provider/clab/cumulus/hosts-common.j2
  netsim/templates/provider/clab/cumulus/hosts.j2
  netsim/templates/provider/clab/frr/hosts-common.j2
  netsim/templates/provider/clab/frr/hosts.j2
  netsim/templates/provider/clab/srlinux/hosts.j2
Due: none

SR Linux/FRR initial device configuration for #3187
  _html/frr-clab-initial.html
  _html/frr-libvirt-initial.html
  _html/srlinux-clab-initial.html
  frr/clab/initial/01-interfaces.yml-create.log
  frr/clab/initial/01-interfaces.yml-initial.log
  frr/clab/initial/01-interfaces.yml-up.log
  frr/clab/initial/01a-scripts.yml-create.log
  frr/clab/initial/01a-scripts.yml-initial.log
  frr/clab/initial/01a-scripts.yml-up.log
  frr/clab/initial/01a-scripts.yml-validate.log
  frr/clab/initial/cleanup-down.log
  frr/clab/initial/results.yaml
  frr/libvirt/initial/01-interfaces.yml-create.log
  frr/libvirt/initial/01-interfaces.yml-up.log
  frr/libvirt/initial/cleanup-down.log
  frr/libvirt/initial/results.yaml
  srlinux/clab/initial/01-interfaces.yml-create.log
  srlinux/clab/initial/01-interfaces.yml-initial.log
  srlinux/clab/initial/01-interfaces.yml-up.log
  srlinux/clab/initial/01-interfaces.yml-validate.log
  srlinux/clab/initial/cleanup-down.log
  srlinux/clab/initial/results.yaml
Due: yamllint, ci_tests

Removed a forgotten obsolete file (thanks, Copilot)
  netsim/templates/provider/clab/srlinux/hosts-common.j2
Due: none

Fix: Cleanup /etc/hosts generation on CL, FRR, and SR Linux (#3187)
  netsim/templates/provider/clab/cumulus/hosts-common.j2
  netsim/templates/provider/clab/cumulus/hosts.j2
  netsim/templates/provider/clab/frr/hosts-common.j2
  netsim/templates/provider/clab/frr/hosts.j2
  netsim/templates/provider/clab/srlinux/hosts-common.j2
  netsim/templates/provider/clab/srlinux/hosts.j2
Due: none

Fix: Updated AI agent skills based on past blunders
  AGENTS.md
Due: none

Fix: Unify handling of in-VRF multihop EBGP templates
  netsim/extra/ebgp.multihop/arubacx.j2
  netsim/extra/ebgp.multihop/cumulus_nvue.j2
  netsim/extra/ebgp.multihop/dellos10.j2
  netsim/extra/ebgp.multihop/eos.j2
  netsim/extra/ebgp.multihop/frr.j2
  netsim/extra/ebgp.multihop/ios.j2
  netsim/extra/ebgp.multihop/junos.j2
  netsim/extra/ebgp.multihop/srlinux.j2
  netsim/extra/ebgp.multihop/sros.j2
Due: none

Add developer documentation for ebgp.multihop plugin
  docs/dev/config/ebgp.multihop.md
  docs/dev/config/index.md
Due: none
