Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

CLI platform integration tests for #3443
  _html/platform-cli.html
  platform/cli/01-up-hooks.yml-up.log
  platform/cli/01-up-hooks.yml-validate.log
  platform/cli/10-reload.yml-initial.log
  platform/cli/10-reload.yml-up.log
  platform/cli/11-restart.yml-initial.log
  platform/cli/11-restart.yml-up.log
  platform/cli/cleanup-down.log
  platform/cli/results.yaml
Due: yamllint, ci_tests

Final touches: plugin hook logging, platform integration test
  netsim/cli/_hooks.py
  tests/platform-integration/cli/01-up-hooks.yml
  tests/platform-integration/cli/up_hook.py
Due: yamllint, ci_tests

Fix: Use configurable search locations in generic get_search_path
  netsim/defaults/paths.yml
  netsim/outputs/ansible.py
  netsim/outputs/report.py
  netsim/outputs/tools.py
  netsim/providers/__init__.py
  netsim/utils/files.py
Due: yamllint, ci_tests

Add OSPFv3 (IPv6 OSPF) support for FortiOS
  docs/module/ospf.md
  docs/platforms.md
  netsim/ansible/templates/ospf/fortios.j2
Due: none

Fixing typos
  netsim/utils/files.py
Due: ci_tests

Adding yet-another configuration mechanism to integration tests
  tests/platform-integration/config/01-initial.yml
Due: yamllint, ci_tests

libvirt/clab/ansible tests for #3450
  _html/platform-clab.html
  _html/platform-config.html
  _html/platform-libvirt.html
  platform/clab/01-links.yml-initial.log
  platform/clab/01-links.yml-up.log
  platform/clab/01-links.yml-validate.log
  platform/clab/02-mac-ip.yml-up.log
  platform/clab/02-mac-ip.yml-validate.log
  platform/clab/03-port-fwd.yml-up.log
  platform/clab/04-kind.yml-initial.log
  platform/clab/04-kind.yml-up.log
  platform/clab/cleanup-down.log
  platform/clab/results.yaml
  platform/config/01-initial.yml-create.log
  platform/config/01-initial.yml-initial.log
  platform/config/01-initial.yml-up.log
  platform/config/01-initial.yml-validate.log
  platform/config/02-config.yml-initial.log
  platform/config/02-config.yml-up.log
  platform/config/02-config.yml-validate.log
  platform/config/cleanup-down.log
  platform/config/results.yaml
  platform/libvirt/01-links.yml-initial.log
  platform/libvirt/01-links.yml-up.log
  platform/libvirt/01-links.yml-validate.log
  platform/libvirt/02-mac-ip.yml-initial.log
  platform/libvirt/02-mac-ip.yml-up.log
  platform/libvirt/02-mac-ip.yml-validate.log
  platform/libvirt/03-authentication.yml-initial.log
  platform/libvirt/03-authentication.yml-up.log
  platform/libvirt/03-authentication.yml-validate.log
  platform/libvirt/04-port-fwd.yml-initial.log
  platform/libvirt/04-port-fwd.yml-up.log
  platform/libvirt/results.yaml
Due: yamllint, ci_tests

Custom template platform integration tests
  tests/platform-integration/templates/01-custom-libvirt.yml
  tests/platform-integration/templates/02-custom-clab.yml
  tests/platform-integration/templates/21-custom-report.yml
  tests/platform-integration/templates/clab/clab.j2
  tests/platform-integration/templates/libvirt/Vagrantfile.j2
  tests/platform-integration/templates/libvirt/frr-domain.j2
  tests/platform-integration/templates/reports/custom.j2
Due: yamllint, ci_tests

Platform integration tests for #3452
  _html/platform-templates.html
  _html/platform.html
  index.html
  platform/templates/01-custom-libvirt.yml-validate.log
  platform/templates/02-custom-clab.yml-create.log
  platform/templates/02-custom-clab.yml-validate.log
  platform/templates/21-custom-report.yml-create.log
  platform/templates/21-custom-report.yml-initial.log
  platform/templates/21-custom-report.yml-validate.log
  platform/templates/cleanup-down.log
  platform/templates/results.yaml
Due: yamllint, ci_tests

Fix: FRR BGP validation functions need **kwargs to ignore 'vrf'
  netsim/validate/bgp/frr.py
Due: ci_tests

Fix: Implement checks on routing.prefix min/max attributes
  docs/module/routing-prefix.txt
  netsim/devices/ios.yml
  netsim/modules/routing/prefix.py
  tests/errors/prefix-list-min-max.log
  tests/errors/prefix-list-min-max.yml
Due: yamllint, ci_tests

Fixing nits, typos, and a logic error
  docs/module/routing-prefix.txt
  netsim/modules/routing/prefix.py
  tests/errors/prefix-list-min-max.yml
Due: yamllint, ci_tests

Streamline the min/max check on /32 or /128 prefixes
  netsim/modules/routing/prefix.py
  tests/errors/prefix-list-min-max.log
  tests/errors/prefix-list-min-max.yml
Due: yamllint, ci_tests

EOS: Do not configure OSPF interface nerd knobs on loopbacks
  netsim/ansible/templates/ospf/eos.ospfv2.j2
  netsim/ansible/templates/ospf/eos.ospfv3.j2
Due: none

Fix: SR Linux cannot use 'bgp-ipvpn' in policies w/o MPLS license
  netsim/ansible/templates/routing/srlinux/redistribute.j2
Due: none

Release 26.06
  README.md
  docs/dev/plugins.md
  docs/release.md
  docs/release/26.06.md
  netsim/__init__.py
Due: ci_tests

Build(deps): Bump ghcr.io/devcontainers/features/docker-in-docker
  .devcontainer/devcontainer.json
Due: none

Align ospf/fortios.j2 Jinja control-tag indentation to the 1/3/5 house style
  netsim/ansible/templates/ospf/fortios.j2
Due: none

Check device support for bgp.remove_private_as values
  netsim/devices/eos.yml
  netsim/devices/frr.yml
  netsim/devices/ios.yml
  netsim/devices/junos.yml
  netsim/devices/xr.yml
  netsim/extra/bgp.session/iosxr.j2
  netsim/extra/bgp.session/plugin.py
  netsim/utils/routing.py
  tests/errors/bgp-remove-private-as.log
  tests/errors/bgp-remove-private-as.yml
Due: yamllint, ci_tests

Fixing a minor annoyance, adding 'provider is supported' test case
  netsim/utils/routing.py
  tests/errors/bgp-remove-private-as.log
  tests/errors/bgp-remove-private-as.yml
Due: yamllint, ci_tests

Fix: Simplify main 'lab_commands' function
  netsim/cli/__init__.py
Due: ci_tests

Fix: FortiOS config collection fails with HTTP 405 on current FortiOS
  netsim/ansible/tasks/fetch-config/fortios.yml
Due: yamllint, ci_tests

Fix: use exception .name to identify module that failed to load
  netsim/cli/__init__.py
Due: ci_tests

The ancient aliases are no longer needed
  netsim/cli/alias.txt
Due: none

Fix: gate FortiOS deploy-config CLI fallback on rejected commands
  netsim/ansible/tasks/deploy-config/fortios.yml
Due: yamllint, ci_tests

Removed test cases; most of the new functionality is covered elsewhere
  tests/errors/bgp-policy-role.log
  tests/errors/bgp-policy-role.yml
  tests/topology/expected/bgp-role.yml
  tests/topology/input/bgp-role.yml
Due: yamllint, ci_tests

Slight documentation editing
  docs/plugins/bgp.policy.md
Due: none

Removed a reference to a resolved bug
  netsim/extra/bgp.policy/defaults.yml
Due: yamllint, ci_tests

Fix Copilot-identified errors
  netsim/extra/bgp.policy/defaults.yml
  netsim/extra/bgp.policy/plugin.py
Due: yamllint, ci_tests

Rewrote the integration test
  tests/integration/bgp.policy/70-bgp-roles.yml
Due: yamllint, ci_tests

Add missing bird config file mapping
  netsim/daemons/bird.yml
  tests/integration/bgp.policy/70-bgp-roles.yml
Due: yamllint, ci_tests

BGP Graceful Restart implementation (EOS, FRR)
  docs/plugins/bgp.session.md
  netsim/devices/eos.yml
  netsim/devices/frr.yml
  netsim/extra/bgp.session/defaults.yml
  netsim/extra/bgp.session/eos.j2
  netsim/extra/bgp.session/frr.j2
  netsim/extra/bgp.session/plugin.py
  tests/integration/bgp.session/14-gr.yml
Due: yamllint, ci_tests

Fix documentation typos, add 'none' device support for CI/CD pipeline
  docs/plugins/bgp.session.md
  netsim/devices/none.yml
Due: yamllint, ci_tests

Fix: Add 'docker * prune' commands to clab build process
  netsim/cli/clab/__init__.py
  netsim/cli/clab/build.py
  netsim/cli/clab/cleanup.py
  netsim/cli/clab/tarball.py
  netsim/cli/clab_actions/__init__.py
Due: ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
