Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Doc: Minor cleanups
  docs/module-reference.md
  docs/plugins/tunnel.gre.md
Due: none

Doc: Provider-specific device features
  docs/_ext/features.py
Due: ci_tests

Removed irrelevant nit
  docs/_ext/features.py
Due: ci_tests

Doc: Provider-specific device features (#3775)
  docs/_ext/features.py
Due: ci_tests

Doc: DNS features table
  docs/module/services.md
  netsim/daemons/dnsmasq.yml
  netsim/daemons/kind.yml
  netsim/devices/frr.yml
  netsim/devices/linux.yml
Due: yamllint, ci_tests

Doc: DNS features table (#3776)
  docs/module/services.md
  netsim/daemons/dnsmasq.yml
  netsim/daemons/kind.yml
  netsim/devices/frr.yml
  netsim/devices/linux.yml
Due: yamllint, ci_tests

Fix: Use thread lock around clab config printouts
  netsim/providers/__init__.py
  netsim/providers/clab/configs.py
Due: ci_tests

Catch subprocess.run exceptions
  netsim/providers/clab/configs.py
Due: ci_tests

Fixing indentation :((
  netsim/providers/clab/configs.py
Due: ci_tests

Fix: Use thread lock around clab config printouts (#3777)
  netsim/providers/__init__.py
  netsim/providers/clab/configs.py
Due: ci_tests

Configurable download parameters, documentation
  docs/netlab/create.md
  netsim/cli/create.py
  netsim/defaults/netlab.yml
Due: yamllint, ci_tests

Fix: topology download timeout and scheme validation (#3767)
  docs/netlab/create.md
  netsim/cli/create.py
  netsim/defaults/netlab.yml
Due: yamllint, ci_tests

Fix: Assign target filenames to bare sh/cp_sh node_config entries
  netsim/providers/clab/__init__.py
  netsim/providers/clab/configs.py
Due: ci_tests

Fix: Assign target filenames to bare sh/cp_sh node_config entries (#3778)
  netsim/providers/clab/__init__.py
  netsim/providers/clab/configs.py
Due: ci_tests

Fix: Linux node_config script for 'services' module
  netsim/ansible/templates/services/linux.j2
  netsim/devices/linux.yml
  tests/coverage/expected/svc-server.yml
  tests/coverage/input/svc-server.yml
  tests/topology/expected/dhcp-server-on-segment.yml
  tests/topology/expected/dhcp-vlan.yml
Due: yamllint, ci_tests

Fix: Linux node_config script for 'services' module (#3779)
  netsim/ansible/templates/services/linux.j2
  netsim/devices/linux.yml
  tests/coverage/expected/svc-server.yml
  tests/coverage/input/svc-server.yml
  tests/topology/expected/dhcp-server-on-segment.yml
  tests/topology/expected/dhcp-vlan.yml
Due: yamllint, ci_tests

Doc: Document the no-vlan-on-bonded-links caveat
  docs/plugins/bonding.md
Due: none

Reworded
  docs/plugins/bonding.md
Due: none

Doc: Document the no-vlan-on-bonded-links caveat (#3781)
  docs/plugins/bonding.md
Due: none

DNS client on Junos
  netsim/ansible/templates/initial/junos/hosts.j2
  netsim/ansible/templates/services/junos.j2
  netsim/devices/junos.yml
  tests/integration/services/01-dns-client.yml
Due: yamllint, ci_tests

vPTX crashes on underscore in hostname, cRPD does not support DNS
  netsim/ansible/templates/initial/junos/hosts.j2
  netsim/devices/crpd.yml
Due: yamllint, ci_tests

Junos DNS client tests for #3782
  _html/coverage.services.html
  _html/release-coverage.html
  _html/vjunos-router-clab-services.html
  _html/vjunos-router-clab.html
  _html/vjunos-router.html
  _html/vjunos-switch-clab-services.html
  _html/vjunos-switch-clab.html
  _html/vjunos-switch.html
  _html/vptx-libvirt-services.html
  _html/vptx-libvirt.html
  _html/vptx.html
  crpd/clab/services/01-dns-client.yml-create.log
  crpd/clab/services/cleanup-down.log
  crpd/clab/services/results.yaml
  index.html
  vjunos-router/clab/services/01-dns-client.yml-create.log
  vjunos-router/clab/services/01-dns-client.yml-initial.log
  vjunos-router/clab/services/01-dns-client.yml-up.log
  vjunos-router/clab/services/01-dns-client.yml-validate.log
  vjunos-router/clab/services/cleanup-down.log
  vjunos-router/clab/services/results.yaml
  vjunos-switch/clab/services/01-dns-client.yml-create.log
  vjunos-switch/clab/services/01-dns-client.yml-initial.log
  vjunos-switch/clab/services/01-dns-client.yml-up.log
  vjunos-switch/clab/services/01-dns-client.yml-validate.log
  vjunos-switch/clab/services/cleanup-down.log
  vjunos-switch/clab/services/results.yaml
  vptx/libvirt/services/01-dns-client.yml-create.log
  vptx/libvirt/services/01-dns-client.yml-initial.log
  vptx/libvirt/services/01-dns-client.yml-up.log
  vptx/libvirt/services/01-dns-client.yml-validate.log
  vptx/libvirt/services/cleanup-down.log
  vptx/libvirt/services/results.yaml
Due: yamllint, ci_tests

DNS client on Junos (#3782)
  netsim/ansible/templates/initial/junos/hosts.j2
  netsim/ansible/templates/services/junos.j2
  netsim/devices/crpd.yml
  netsim/devices/junos.yml
  tests/integration/services/01-dns-client.yml
Due: yamllint, ci_tests

Fix: Explicitly set the Cisco IOSvL2 support level
  netsim/devices/iosvl2.yml
Due: yamllint, ci_tests

Integration test: DNS client in a VRF
  tests/integration/services/02-dns-vrf-client.yml
Due: yamllint, ci_tests

Integration test: DNS client in a VRF (#3783)
  tests/integration/services/02-dns-vrf-client.yml
Due: yamllint, ci_tests

DNS client in VRF results for #3783
  _html/eos-clab-services.html
  _html/frr-clab-services.html
  _html/frr-clab.html
  _html/frr.html
  _html/ioll2-clab-services.html
  _html/ioll2-clab.html
  _html/ioll2.html
  _html/vjunos-switch-clab-services.html
  _html/vjunos-switch-clab.html
  _html/vjunos-switch.html
  eos/clab/services/02-dns-vrf-client.yml-create.log
  eos/clab/services/02-dns-vrf-client.yml-initial.log
  eos/clab/services/02-dns-vrf-client.yml-up.log
  eos/clab/services/02-dns-vrf-client.yml-validate.log
  eos/clab/services/cleanup-down.log
  eos/clab/services/results.yaml
  frr/clab/services/02-dns-vrf-client.yml-create.log
  frr/clab/services/cleanup-down.log
  frr/clab/services/results.yaml
  index.html
  ioll2/clab/services/02-dns-vrf-client.yml-create.log
  ioll2/clab/services/02-dns-vrf-client.yml-initial.log
  ioll2/clab/services/02-dns-vrf-client.yml-up.log
  ioll2/clab/services/02-dns-vrf-client.yml-validate.log
  ioll2/clab/services/cleanup-down.log
  ioll2/clab/services/results.yaml
  vjunos-switch/clab/services/02-dns-vrf-client.yml-create.log
  vjunos-switch/clab/services/02-dns-vrf-client.yml-initial.log
  vjunos-switch/clab/services/02-dns-vrf-client.yml-up.log
  vjunos-switch/clab/services/cleanup-down.log
  vjunos-switch/clab/services/results.yaml
Due: yamllint, ci_tests

Integration test: DNS server
  tests/integration/services/03-dns-server.yml
Due: yamllint, ci_tests

Fix errors: services module on hosts, 'none' device support for DNS SRV
  netsim/devices/none.yml
  tests/integration/services/03-dns-server.yml
Due: yamllint, ci_tests

Fix: Use 'dns view' on Cisco IOS with dns.transport_vrf
  netsim/ansible/templates/services/ios.j2
Due: none

Fix a coverage error test after changing None device features
  tests/coverage/errors/svc-errors.yml
Due: yamllint, ci_tests

Fixing a typo
  netsim/ansible/templates/services/ios.j2
Due: none

Fix: Use 'dns view' on Cisco IOS with dns.transport_vrf (#3785)
  netsim/ansible/templates/services/ios.j2
Due: none

Integration test: DNS server (#3784)
  netsim/devices/none.yml
  tests/coverage/errors/svc-errors.yml
  tests/integration/services/03-dns-server.yml
Due: yamllint, ci_tests

IOS DNS client tests for #3785
  _html/ioll2-clab-services.html
  _html/ioll2-clab.html
  _html/ioll2.html
  index.html
  ioll2/clab/services/01-dns-client.yml-create.log
  ioll2/clab/services/01-dns-client.yml-initial.log
  ioll2/clab/services/01-dns-client.yml-up.log
  ioll2/clab/services/01-dns-client.yml-validate.log
  ioll2/clab/services/02-dns-vrf-client.yml-initial.log
  ioll2/clab/services/02-dns-vrf-client.yml-up.log
  ioll2/clab/services/02-dns-vrf-client.yml-validate.log
  ioll2/clab/services/cleanup-down.log
  ioll2/clab/services/results.yaml
Due: yamllint, ci_tests

Fix: Use custom domain in DNS integration tests
  tests/integration/services/topology-defaults.yml
Due: yamllint, ci_tests

Fix: Junos does not support DNS client in a VRF
  netsim/devices/junos.yml
Due: yamllint, ci_tests

Junos DNS-in-VRF tests for #3786
  _html/vjunos-router-clab-services.html
  _html/vjunos-router-clab.html
  _html/vjunos-router.html
  _html/vjunos-switch-clab-services.html
  _html/vjunos-switch-clab.html
  _html/vjunos-switch.html
  _html/vptx-libvirt-services.html
  _html/vptx-libvirt.html
  _html/vptx.html
  crpd/clab/services/02-dns-vrf-client.yml-create.log
  crpd/clab/services/results.yaml
  index.html
  vjunos-router/clab/services/02-dns-vrf-client.yml-create.log
  vjunos-router/clab/services/results.yaml
  vjunos-switch/clab/services/02-dns-vrf-client.yml-create.log
  vjunos-switch/clab/services/results.yaml
  vptx/libvirt/services/02-dns-vrf-client.yml-create.log
  vptx/libvirt/services/results.yaml
Due: yamllint, ci_tests

Fix: Junos does not support DNS client in a VRF (#3786)
  netsim/devices/junos.yml
Due: yamllint, ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
