Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

style(arcos): use dotted Box accessor for vxlan.flooding
  netsim/devices/arcos.py
Due: ci_tests

docs(arcos): narrow the redistribution limitation to what is still unsupported
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

docs(arcos): narrow the VRF leaking caveat to RT/L3VPN and drop a stale guard comment
  netsim/ansible/templates/vrf/arcos.j2
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

docs(arcos): correct the static-VXLAN caveat -- the entry is missed at bring-up, not never programmed
  docs/caveats.md
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

Make include paths consistent
  netsim/templates/provider/clab/linux/hosts.j2
Due: none

fix(arcos): render the per-interface IS-IS metric
  netsim/ansible/templates/isis/arcos.j2
  netsim/ansible/templates/vrf/arcos.j2
Due: none

feat(arcos): render VRF and discard static routes
  netsim/ansible/templates/routing/arcos.j2
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

test(arcos): size the ping_long wait from the measured IS-IS FIB-install delay
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

fix(arcos): render OSPF passive interfaces
  netsim/ansible/templates/ospf/arcos.j2
  netsim/ansible/templates/vrf/arcos.j2
Due: none

fix(arcos): keep every next hop of a multi-path static route
  netsim/ansible/templates/routing/arcos.j2
Due: none

test(arcos): size arcos.ping from the measured worst case, not the first sample
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

feat(arcos): render Rapid PVST spanning tree
  netsim/ansible/templates/stp/arcos.j2
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

fix(arcos): refuse a per-VLAN STP disable instead of ignoring it
  netsim/devices/arcos.py
Due: ci_tests

test(stp): give ArcOS time for the per-VLAN root election in 11-pvrst
  tests/integration/stp/11-pvrst.yml
Due: yamllint, ci_tests

test(arcos): wait for the ArcOS STATIC daemon to install its routes
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

docs(arcos): document Rapid PVST support and its limits
  docs/caveats.md
  docs/module/stp.md
  docs/platforms.md
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

test(stp): give root_blue its own wait and correct why the wait is needed
  tests/integration/stp/11-pvrst.yml
Due: yamllint, ci_tests

Fix: Sync GRE-over-VRF integration test with GRE test
  tests/integration/tunnel/02-gre-vrf.yml
Due: yamllint, ci_tests

Fixing a typo
  tests/integration/tunnel/02-gre-vrf.yml
Due: yamllint, ci_tests

docs(arcos): record that ArcOS can originate a conditional OSPF default
  docs/caveats.md
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

Fix: Sync GRE-over-VRF integration test with GRE test (#3699)
  tests/integration/tunnel/02-gre-vrf.yml
Due: yamllint, ci_tests

feat(arcos): render BGP community lists, matching and deletion
  netsim/ansible/templates/routing/arcos.j2
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

fix(arcos): set large communities instead of silently dropping them
  netsim/ansible/templates/routing/arcos.j2
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

fix(arcos): refuse a BGP community list ArcOS cannot express
  netsim/devices/arcos.py
Due: ci_tests

docs(arcos): document community operations and the link-bandwidth gap
  docs/caveats.md
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

Fix: Use FRR probe as one end of Wireguard test tunnel
  tests/integration/tunnel/11-wireguard.yml
  tests/integration/tunnel/12-wireguard-vrf.yml
Due: yamllint, ci_tests

FRR WG tests for #3700
  _html/frr-clab-tunnel.html
  frr/clab/tunnel/03-wireguard.yml-initial.log
  frr/clab/tunnel/03-wireguard.yml-up.log
  frr/clab/tunnel/03-wireguard.yml-validate.log
  frr/clab/tunnel/04-wireguard-vrf.yml-initial.log
  frr/clab/tunnel/04-wireguard-vrf.yml-up.log
  frr/clab/tunnel/04-wireguard-vrf.yml-validate.log
  frr/clab/tunnel/11-wireguard.yml-create.log
  frr/clab/tunnel/11-wireguard.yml-initial.log
  frr/clab/tunnel/11-wireguard.yml-up.log
  frr/clab/tunnel/11-wireguard.yml-validate.log
  frr/clab/tunnel/12-wireguard-vrf.yml-create.log
  frr/clab/tunnel/12-wireguard-vrf.yml-initial.log
  frr/clab/tunnel/12-wireguard-vrf.yml-up.log
  frr/clab/tunnel/12-wireguard-vrf.yml-validate.log
  frr/clab/tunnel/cleanup-down.log
  frr/clab/tunnel/results.yaml
Due: yamllint, ci_tests

Fixing a typo
  tests/integration/tunnel/11-wireguard.yml
  tests/integration/tunnel/12-wireguard-vrf.yml
Due: yamllint, ci_tests

docs(arcos): a discard route for a connected host loses to the ADJACENCY route
  docs/caveats.md
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

Fix: Use FRR probe as one end of Wireguard test tunnel (#3700)
  tests/integration/tunnel/11-wireguard.yml
  tests/integration/tunnel/12-wireguard-vrf.yml
Due: yamllint, ci_tests

docs(arcos): correct the community caveats to match what is implemented
  docs/caveats.md
  netsim/devices/arcos.yml
  netsim/extra/bgp/policy/arcos.j2
Due: yamllint, ci_tests

Fix: Minimize FRR setup in WG VRF integration test
  tests/integration/tunnel/12-wireguard-vrf.yml
Due: yamllint, ci_tests

RouterOS7 Wireguard tests for #3695
  _html/routeros7-libvirt-tunnel.html
  index.html
  routeros7/libvirt/tunnel/11-wireguard.yml-create.log
  routeros7/libvirt/tunnel/11-wireguard.yml-initial.log
  routeros7/libvirt/tunnel/11-wireguard.yml-up.log
  routeros7/libvirt/tunnel/11-wireguard.yml-validate.log
  routeros7/libvirt/tunnel/12-wireguard-vrf.yml-create.log
  routeros7/libvirt/tunnel/12-wireguard-vrf.yml-initial.log
  routeros7/libvirt/tunnel/12-wireguard-vrf.yml-up.log
  routeros7/libvirt/tunnel/12-wireguard-vrf.yml-validate.log
  routeros7/libvirt/tunnel/cleanup-down.log
  routeros7/libvirt/tunnel/results.yaml
Due: yamllint, ci_tests

Add Wireguard support for RouterOS 7 (#3695)
  docs/plugins/tunnel.wireguard.md
  netsim/ansible/templates/initial/routeros7.j2
  netsim/devices/routeros7.yml
  netsim/extra/tunnel/wireguard/routeros7.initial.j2
  netsim/extra/tunnel/wireguard/routeros7.j2
Due: yamllint, ci_tests

docs(arcos): correct the discard caveat with the measured neighbour-state mechanism
  docs/caveats.md
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

Fix: Minimize FRR setup in WG VRF integration test (#3701)
  tests/integration/tunnel/12-wireguard-vrf.yml
Due: yamllint, ci_tests

Fix: Use sudo-less containerlab operation
  docs/release/26.08.md
  netsim/providers/clab.yml
Due: yamllint, ci_tests

fix(arcos): honour prefix-list entry actions instead of filtering everything
  netsim/ansible/templates/routing/arcos.j2
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
