Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Fix: Cleanup Junos BGP route import policies
  netsim/ansible/templates/bgp/junos.macro.j2
  netsim/ansible/templates/evpn/junos/common.j2
  netsim/ansible/templates/vrf/junos/bgp.j2
  netsim/devices/junos.yml
Due: yamllint, ci_tests

Junos IS-IS route import
  docs/module/isis.md
  netsim/ansible/templates/isis/junos.isis.j2
  netsim/ansible/templates/isis/junos.j2
  netsim/devices/junos.yml
Due: yamllint, ci_tests

cRPD IS-IS tests for #3388
  _html/coverage.isis.html
  _html/crpd-clab-isis.html
  _html/crpd-clab.html
  _html/crpd.html
  _html/release-coverage.html
  crpd/clab/isis/01-ipv4.yml-validate.log
  crpd/clab/isis/02-ipv6.yml-up.log
  crpd/clab/isis/02-ipv6.yml-validate.log
  crpd/clab/isis/03-dual-stack.yml-initial.log
  crpd/clab/isis/03-dual-stack.yml-up.log
  crpd/clab/isis/03-dual-stack.yml-validate.log
  crpd/clab/isis/10-network.yml-up.log
  crpd/clab/isis/10-network.yml-validate.log
  crpd/clab/isis/11-cost.yml-up.log
  crpd/clab/isis/11-cost.yml-validate.log
  crpd/clab/isis/12-passive.yml-initial.log
  crpd/clab/isis/12-passive.yml-up.log
  crpd/clab/isis/12-passive.yml-validate.log
  crpd/clab/isis/21-import-ds.yml-create.log
  crpd/clab/isis/21-import-ds.yml-initial.log
  crpd/clab/isis/21-import-ds.yml-up.log
  crpd/clab/isis/21-import-ds.yml-validate.log
  crpd/clab/isis/cleanup-down.log
  crpd/clab/isis/results.yaml
  index.html
Due: yamllint, ci_tests

vJunos-switch EVPN tests for #3387
  _html/vjunos-switch-clab-evpn.html
  vjunos-switch/clab/evpn/01-vxlan-bridging.yml-initial.log
  vjunos-switch/clab/evpn/01-vxlan-bridging.yml-up.log
  vjunos-switch/clab/evpn/02-vxlan-asymmetric-irb.yml-initial.log
  vjunos-switch/clab/evpn/02-vxlan-asymmetric-irb.yml-up.log
  vjunos-switch/clab/evpn/02-vxlan-asymmetric-irb.yml-validate.log
  vjunos-switch/clab/evpn/03-vxlan-symmetric-irb.yml-initial.log
  vjunos-switch/clab/evpn/03-vxlan-symmetric-irb.yml-up.log
  vjunos-switch/clab/evpn/03-vxlan-symmetric-irb.yml-validate.log
  vjunos-switch/clab/evpn/04-vxlan-central-routing.yml-initial.log
  vjunos-switch/clab/evpn/04-vxlan-central-routing.yml-up.log
  vjunos-switch/clab/evpn/04-vxlan-central-routing.yml-validate.log
  vjunos-switch/clab/evpn/05-vxlan-l3only.yml-initial.log
  vjunos-switch/clab/evpn/05-vxlan-l3only.yml-up.log
  vjunos-switch/clab/evpn/05-vxlan-l3only.yml-validate.log
  vjunos-switch/clab/evpn/06-vxlan-bridging-vlan-bundle.yml-initial.log
  vjunos-switch/clab/evpn/06-vxlan-bridging-vlan-bundle.yml-up.log
  vjunos-switch/clab/evpn/06-vxlan-bridging-vlan-bundle.yml-validate.log
  vjunos-switch/clab/evpn/10-vxlan-rr.yml-initial.log
  vjunos-switch/clab/evpn/10-vxlan-rr.yml-up.log
  vjunos-switch/clab/evpn/10-vxlan-rr.yml-validate.log
  vjunos-switch/clab/evpn/12-vxlan-ibgp-ebgp.yml-initial.log
  vjunos-switch/clab/evpn/12-vxlan-ibgp-ebgp.yml-up.log
  vjunos-switch/clab/evpn/14-vxlan-ebgp-ebgp.yml-initial.log
  vjunos-switch/clab/evpn/14-vxlan-ebgp-ebgp.yml-up.log
  vjunos-switch/clab/evpn/14-vxlan-ebgp-ebgp.yml-validate.log
  vjunos-switch/clab/evpn/20-vxlan-irb-ospf.yml-initial.log
  vjunos-switch/clab/evpn/20-vxlan-irb-ospf.yml-up.log
  vjunos-switch/clab/evpn/20-vxlan-irb-ospf.yml-validate.log
  vjunos-switch/clab/evpn/21-bgp-ce-router.yml-initial.log
  vjunos-switch/clab/evpn/21-bgp-ce-router.yml-up.log
  vjunos-switch/clab/evpn/21-bgp-ce-router.yml-validate.log
  vjunos-switch/clab/evpn/22-ospf-ce-router.yml-initial.log
  vjunos-switch/clab/evpn/22-ospf-ce-router.yml-up.log
  vjunos-switch/clab/evpn/22-ospf-ce-router.yml-validate.log
  vjunos-switch/clab/evpn/30-cs-bridging.yml-initial.log
  vjunos-switch/clab/evpn/30-cs-bridging.yml-up.log
  vjunos-switch/clab/evpn/cleanup-down.log
  vjunos-switch/clab/evpn/results.yaml
Due: yamllint, ci_tests

Config reload is not supported on some devices
  _html/bird-clab-initial.html
  _html/bird-clab.html
  _html/bird.html
  _html/coverage.initial.html
  _html/cumulus_nvue-libvirt-initial.html
  _html/cumulus_nvue-libvirt.html
  _html/cumulus_nvue.html
  _html/openbsd-libvirt-initial.html
  _html/openbsd-libvirt.html
  _html/openbsd.html
  _html/routeros7-clab-initial.html
  _html/routeros7-clab.html
  _html/routeros7-libvirt-initial.html
  _html/routeros7-libvirt.html
  _html/routeros7.html
  _html/srsim-clab-initial.html
  _html/srsim-clab.html
  _html/srsim.html
  bird/clab/initial/10-reload.yml-create.log
  bird/clab/initial/10-reload.yml-initial.log
  bird/clab/initial/10-reload.yml-up.log
  bird/clab/initial/cleanup-down.log
  bird/clab/initial/results.yaml
  cumulus_nvue/libvirt/initial/10-reload.yml-create.log
  cumulus_nvue/libvirt/initial/cleanup-down.log
  cumulus_nvue/libvirt/initial/results.yaml
  index.html
  openbsd/libvirt/initial/10-reload.yml-create.log
  openbsd/libvirt/initial/cleanup-down.log
  openbsd/libvirt/initial/results.yaml
  routeros7/clab/initial/10-reload.yml-create.log
  routeros7/clab/initial/cleanup-down.log
  routeros7/clab/initial/results.yaml
  routeros7/libvirt/initial/10-reload.yml-create.log
  routeros7/libvirt/initial/cleanup-down.log
  routeros7/libvirt/initial/results.yaml
  srsim/clab/initial/10-reload.yml-initial.log
  srsim/clab/initial/10-reload.yml-up.log
  srsim/clab/initial/cleanup-down.log
  srsim/clab/initial/results.yaml
Due: yamllint, ci_tests

We cannot do configuration reload on SR OS
  _html/coverage.initial.html
  _html/srsim-clab-initial.html
  _html/srsim-clab.html
  _html/srsim.html
  index.html
  srsim/clab/initial/10-reload.yml-create.log
  srsim/clab/initial/cleanup-down.log
  srsim/clab/initial/results.yaml
Due: yamllint, ci_tests

Fixing random unrelated stuff because why not
  .github/workflows/devcontainer-build.yml
  .github/workflows/integration.yml
  .github/workflows/pages.yml
  .github/workflows/pypi.yml
  .github/workflows/ruff.yml
  .github/workflows/t-pull.yml
  .github/workflows/t-push.yml
  .github/workflows/t-yamllint.yml
  .github/workflows/test-pypi.yml
Due: yamllint, ci_tests

Polish generic Linux installation document
  docs/install/linux.md
Due: none

Fix: Parametrize transformation tests and anchor pytest environment
  tests/conftest.py
  tests/test_transformation.py
Due: ci_tests

fix: 10 Python security fixes
  netsim/cli/config.py
  netsim/cli/validate/plugin.py
  netsim/cli/validate/utils.py
  netsim/outputs/yaml.py
  netsim/providers/clab.py
  netsim/utils/read.py
  netsim/utils/strings.py
Due: ci_tests

Configuration reload does not work on EXOS
  _html/coverage.initial.html
  _html/exos-libvirt-initial.html
  _html/exos-libvirt.html
  _html/exos.html
  exos/libvirt/initial/10-reload.yml-create.log
  exos/libvirt/initial/10-reload.yml-up.log
  exos/libvirt/initial/cleanup-down.log
  exos/libvirt/initial/results.yaml
  index.html
Due: yamllint, ci_tests

Fix: Use Ansible reload playbook to deploy initial configuration
  netsim/cli/ansible.py
  netsim/cli/config.py
Due: ci_tests

Fixing an imaginary nit
  netsim/cli/config.py
Due: ci_tests

Junos: OSPF interface parameters (timers, priority, password)
  docs/module/ospf.md
  netsim/ansible/templates/ospf/junos.macro.j2
  netsim/devices/junos.yml
Due: yamllint, ci_tests

Config reload on FRR
  frr/clab/initial/10-reload.yml-initial.log
  frr/clab/initial/10-reload.yml-up.log
  frr/clab/initial/10-reload.yml-validate.log
  frr/clab/initial/cleanup-down.log
  frr/clab/initial/results.yaml
  frr/libvirt/initial/10-reload.yml-initial.log
  frr/libvirt/initial/10-reload.yml-up.log
  frr/libvirt/initial/10-reload.yml-validate.log
  frr/libvirt/initial/cleanup-down.log
  frr/libvirt/initial/results.yaml
Due: yamllint, ci_tests

Junos VRF IS-IS instances
  docs/caveats.md
  docs/module/isis.md
  netsim/ansible/templates/isis/crpd.j2
  netsim/ansible/templates/isis/junos.isis.j2
  netsim/ansible/templates/isis/junos.j2
  netsim/ansible/templates/vrf/junos.j2
  netsim/ansible/templates/vrf/junos/isis.j2
  netsim/devices/junos.py
  netsim/devices/junos.yml
  tests/integration/isis/30-vrf.yml
Due: yamllint, ci_tests

Change vagrant parameter for VSRX
  netsim/devices/vsrx.yml
  netsim/install/libvirt/vsrx.xml.j2
  netsim/templates/provider/libvirt/vsrx-domain.j2
Due: yamllint, ci_tests

vsrx update virt-install instead of xml
  netsim/devices/vsrx.yml
  netsim/install/libvirt/vsrx.xml.j2
Due: yamllint, ci_tests

Release notes 26.05
  docs/module/srv6.md
  docs/netlab/restart.md
  docs/plugins/multilab.md
  docs/release.md
  docs/release/26.05.md
Due: none

WTAF: Junos configuration cannot start with 'delete:'
  netsim/ansible/templates/routing/junos.j2
  netsim/ansible/templates/routing/junos/community.j2
Due: none

Fix: Let pytest drive test output and isolate per-case file writes
  tests/run-coverage-tests.sh
  tests/run-tests.sh
  tests/test_transformation.py
Due: ci_tests

Tried to make assertion results cleaner, reduced script verbosity
  tests/run-coverage-tests.sh
  tests/run-tests.sh
  tests/run-xerr.sh
  tests/run-xform.sh
  tests/test_transformation.py
Due: ci_tests

Adding a caveat
  docs/labs/vsrx.md
Due: none

Release 26.05
  .github/skills/release/SKILL.md
  .github/workflows/pypi.yml
  .github/workflows/test-pypi.yml
  README.md
  docs/release/26.05.md
  legacy/README.md
  legacy/setup.py
  netsim/__init__.py
Due: yamllint, ci_tests

Fixing a typo
  docs/release/26.05.md
Due: none

libvirt: do not set MTU on public/direct interfaces
  netsim/templates/provider/libvirt/libvirt-bridge.j2
Due: none

SR Linux: SR-MPLS over IPv6
  docs/caveats.md
  docs/module/sr-mpls.md
  netsim/ansible/templates/bgp/srlinux.j2
  netsim/ansible/templates/bgp/srlinux.macro.j2
  netsim/ansible/templates/isis/srlinux.macro.j2
  netsim/ansible/templates/sr/srlinux.j2
  netsim/devices/srlinux.py
  netsim/devices/srlinux.yml
Due: yamllint, ci_tests

CI: Capture rendered output and unified diff as pytest artifacts on failure
  .github/workflows/t-pull.yml
  .github/workflows/t-push.yml
  tests/conftest.py
  tests/test_transformation.py
Due: yamllint, ci_tests

documentation for libvirt machine_type option
  docs/labs/libvirt.md
Due: none

libvirt: allow machine_type option
  netsim/providers/libvirt.yml
  netsim/templates/provider/libvirt/define-domain.j2
Due: yamllint, ci_tests

Remove leftovers
  netsim/ansible/templates/sr/srlinux.j2
  netsim/devices/srlinux.py
Due: ci_tests

SR Linux SR-MPLS tests for #3407
  _html/coverage.sr.html
  _html/srlinux-clab-sr.html
  _html/srlinux-clab.html
  _html/srlinux.html
  index.html
  srlinux/clab/sr/02-isis-ipv4-pe.yml-initial.log
  srlinux/clab/sr/02-isis-ipv4-pe.yml-up.log
  srlinux/clab/sr/02-isis-ipv4-pe.yml-validate.log
  srlinux/clab/sr/11-isis-ipv6-p.yml-create.log
  srlinux/clab/sr/11-isis-ipv6-p.yml-initial.log
  srlinux/clab/sr/11-isis-ipv6-p.yml-up.log
  srlinux/clab/sr/11-isis-ipv6-p.yml-validate.log
  srlinux/clab/sr/12-isis-ipv6-pe.yml-create.log
  srlinux/clab/sr/12-isis-ipv6-pe.yml-initial.log
  srlinux/clab/sr/12-isis-ipv6-pe.yml-up.log
  srlinux/clab/sr/12-isis-ipv6-pe.yml-validate.log
  srlinux/clab/sr/cleanup-down.log
  srlinux/clab/sr/results.yaml
Due: yamllint, ci_tests

Fix libvirt.sh install script for Ubuntu 26.04
  netsim/install/libvirt.sh
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
