Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

fix mypy error
  netsim/cli/status.py
Due: ci_tests

Add fail() Jinja2 template
  netsim/utils/filters.py
Due: ci_tests

build container based on Dockerfile.j2
  netsim/cli/clab_actions/build.py
  netsim/daemons/netscaler/Dockerfile.j2
Due: ci_tests

Fixes suggestion for adding Netscaler device
  netsim/ansible/tasks/deploy-config/netscaler.yml
  netsim/ansible/tasks/readiness-check/netscaler.yml
  netsim/ansible/templates/initial/netscaler.j2
Due: yamllint, ci_tests

reuse write_template to build Dockerfile from j2
  netsim/cli/clab_actions/build.py
Due: ci_tests

Add proxy ARP external connectivity documentation (#2986)
  docs/example/external.md
Due: none

Implement EVPN for VXLAN-over-IPv6 (#2994)
  docs/caveats.md
  docs/module/evpn.md
  netsim/ansible/templates/evpn/eos.j2
  netsim/ansible/templates/evpn/frr.evpn-config.j2
  netsim/ansible/templates/evpn/vyos.j2
  netsim/devices/eos.yml
  netsim/devices/none.yml
  netsim/extra/ebgp.multihop/plugin.py
  netsim/modules/evpn.py
  tests/integration/evpn/41-vxlan-ipv6-bridging.yml
  tests/topology/expected/evpn-asymmetric-irb-ospf.yml
  tests/topology/expected/evpn-hub-spoke.yml
  tests/topology/expected/evpn-l3vni-only.yml
  tests/topology/expected/evpn-vxlan.yml
  tests/topology/expected/null-vrfs.yml
Due: yamllint, ci_tests

Fix: Use clab.name as node container name (#2995)
  netsim/providers/clab.py
Due: ci_tests

Describe debugging flags
  docs/dev/advanced.md
  docs/dev/debugging.md
  docs/netlab/cli.md
  docs/netlab/config.md
  docs/netlab/create.md
  docs/netlab/initial.md
  docs/netlab/up.md
  docs/netlab/validate.md
Due: none

use l.ifindex for Vnan number
  netsim/ansible/templates/initial/netscaler.j2
Due: none

use fail() as global function for j2
  netsim/daemons/netscaler/Dockerfile.j2
  netsim/utils/filters.py
  netsim/utils/templates.py
Due: ci_tests

Fix: Consistently quote node/group names in DOT graph descriptions
  netsim/outputs/graph.py
  tests/platform-integration/graph/topo.yml
Due: yamllint, ci_tests

Fix: Consistently quote node/group names in DOT graph descriptions (#3007)
  netsim/outputs/graph.py
  tests/platform-integration/graph/topo.yml
Due: yamllint, ci_tests

Implementation tweaks
  docs/labs/clab.md
  docs/platforms.md
  netsim/ansible/tasks/deploy-config/netscaler.yml
  netsim/daemons/netscaler/Dockerfile.j2
  netsim/devices/netscaler.yml
Due: yamllint, ci_tests

Fix: Replace underscores with hyphens in multilab lab names
  docs/plugins/multilab.md
  docs/release/26.01.md
  netsim/defaults/multilab.yml
Due: yamllint, ci_tests

Integration test for #3008
  _html/platform-config.html
  index.html
  platform/config/01-initial.yml-create.log
  platform/config/01-initial.yml-initial.log
  platform/config/01-initial.yml-snapshot.yml
  platform/config/01-initial.yml-up.log
  platform/config/cleanup-down.log
  platform/config/results.yaml
Due: yamllint, ci_tests

Fix: Replace underscores with hyphens in multilab lab names (#3008)
  docs/plugins/multilab.md
  docs/release/26.01.md
  netsim/defaults/multilab.yml
Due: yamllint, ci_tests

Add Netscaler device & Dockerfile j2 template (#3003)
  docs/labs/clab.md
  docs/platforms.md
  netsim/ansible/tasks/deploy-config/netscaler.yml
  netsim/ansible/tasks/readiness-check/netscaler.yml
  netsim/ansible/templates/initial/netscaler.j2
  netsim/cli/clab_actions/build.py
  netsim/daemons/netscaler/Dockerfile
  netsim/daemons/netscaler/Dockerfile.j2
  netsim/devices/netscaler.yml
  netsim/utils/filters.py
  netsim/utils/templates.py
Due: yamllint, ci_tests

Describe debugging flags (#3005)
  docs/dev/advanced.md
  docs/dev/debugging.md
  docs/netlab/cli.md
  docs/netlab/config.md
  docs/netlab/create.md
  docs/netlab/initial.md
  docs/netlab/up.md
  docs/netlab/validate.md
Due: none

Refactoring and cleanup of device config generation (#3002)
  docs/dev/config/deploy.md
  docs/labs/clab.md
  docs/release-archive.md
  docs/release.md
  docs/release/26.01.md
  netsim/cli/ansible.py
  netsim/cli/config.py
  netsim/cli/create.py
  netsim/cli/external_commands.py
  netsim/cli/initial/configs.py
  netsim/cli/initial/deploy.py
  netsim/cli/initial/utils.py
  netsim/cli/up.py
  netsim/data/filemaps.py
  netsim/outputs/config.py
  netsim/providers/__init__.py
  netsim/providers/clab.py
  netsim/templates/provider/clab/clab.j2
  netsim/utils/templates.py
  tests/coverage/expected/device-module-defaults.yml
  tests/coverage/expected/device-node-defaults.yml
  tests/platform-integration/config/01-initial.yml
  tests/topology/expected/bridge-module-attr.yml
  tests/topology/expected/components.yml
  tests/topology/expected/dhcp-server-on-segment.yml
  tests/topology/expected/dhcp-vlan.yml
  tests/topology/expected/group-ansible-variables.yml
  tests/topology/expected/libvirt-clab-complex.yml
  tests/topology/expected/stp-port-type.yml
  tests/topology/expected/stp.yml
  tests/topology/expected/vlan-access-links.yml
  tests/topology/expected/vlan-access-single.yml
  tests/topology/expected/vlan-routed-multiprovider.yml
  tests/topology/expected/vlan-routed-vrf.yml
  tests/utils.py
Due: yamllint, ci_tests

Concurrent config script deployment
  netsim/cli/initial/deploy.py
Due: ci_tests

Concurrent config script deployment (#3009)
  netsim/cli/initial/deploy.py
Due: ci_tests

Implement configuration reload support for devices that cannot reload (#2959)
  netsim/ansible/reload-config.ansible
  netsim/cli/config.py
  netsim/daemons/bird.yml
  netsim/daemons/dnsmasq.yml
  netsim/devices/linux.yml
  netsim/outputs/ansible.py
Due: yamllint, ci_tests

AI agents instructions
  AGENTS.md
Due: none

Redoing tests on resource hogs with increased wait times
  _html/cat8000v-libvirt-vrf.html
  _html/cat8000v-libvirt.html
  _html/cat8000v.html
  _html/coverage.mpls.html
  _html/coverage.vrf.html
  _html/nxos-clab-vrf.html
  _html/nxos-clab.html
  _html/nxos.html
  _html/vptx-libvirt-mpls.html
  _html/vptx-libvirt.html
  _html/vptx.html
  cat8000v/libvirt/vrf/03-multi-vrf-loopback.yml-initial.log
  cat8000v/libvirt/vrf/03-multi-vrf-loopback.yml-snapshot.yml
  cat8000v/libvirt/vrf/03-multi-vrf-loopback.yml-up.log
  cat8000v/libvirt/vrf/03-multi-vrf-loopback.yml-validate.log
  cat8000v/libvirt/vrf/cleanup-down.log
  cat8000v/libvirt/vrf/results.yaml
  index.html
  nxos/clab/vrf/31-vrf-common-hosts.yml-create.log
  nxos/clab/vrf/31-vrf-common-hosts.yml-snapshot.yml
  nxos/clab/vrf/31-vrf-common-hosts.yml-up.log
  nxos/clab/vrf/31-vrf-common-hosts.yml-validate.log
  nxos/clab/vrf/32-vrf-common-hosts-ipv6.yml-create.log
  nxos/clab/vrf/32-vrf-common-hosts-ipv6.yml-initial.log
  nxos/clab/vrf/32-vrf-common-hosts-ipv6.yml-snapshot.yml
  nxos/clab/vrf/32-vrf-common-hosts-ipv6.yml-up.log
  nxos/clab/vrf/32-vrf-common-hosts-ipv6.yml-validate.log
  nxos/clab/vrf/cleanup-down.log
  nxos/clab/vrf/results.yaml
  vptx/libvirt/mpls/02-ldp-pe.yml-create.log
  vptx/libvirt/mpls/02-ldp-pe.yml-initial.log
  vptx/libvirt/mpls/02-ldp-pe.yml-snapshot.yml
  vptx/libvirt/mpls/02-ldp-pe.yml-up.log
  vptx/libvirt/mpls/02-ldp-pe.yml-validate.log
  vptx/libvirt/mpls/cleanup-down.log
  vptx/libvirt/mpls/results.yaml
Due: yamllint, ci_tests

Increased integration test wait times for NXOS and vPTX
  tests/integration/mpls/02-ldp-pe.yml
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

A few more unexplained random failures
  _html/coverage.mpls.html
  _html/coverage.vlan.html
  _html/dellos10-libvirt-vlan.html
  _html/dellos10-libvirt.html
  _html/dellos10.html
  _html/srsim-clab-mpls.html
  _html/srsim-clab.html
  _html/srsim.html
  dellos10/libvirt/vlan/31-vlan-bridge-trunk.yml-create.log
  dellos10/libvirt/vlan/31-vlan-bridge-trunk.yml-initial.log
  dellos10/libvirt/vlan/31-vlan-bridge-trunk.yml-snapshot.yml
  dellos10/libvirt/vlan/31-vlan-bridge-trunk.yml-up.log
  dellos10/libvirt/vlan/31-vlan-bridge-trunk.yml-validate.log
  dellos10/libvirt/vlan/cleanup-down.log
  dellos10/libvirt/vlan/results.yaml
  index.html
  srsim/clab/mpls/11-vpn-cs.yml-initial.log
  srsim/clab/mpls/11-vpn-cs.yml-snapshot.yml
  srsim/clab/mpls/11-vpn-cs.yml-up.log
  srsim/clab/mpls/11-vpn-cs.yml-validate.log
  srsim/clab/mpls/cleanup-down.log
  srsim/clab/mpls/results.yaml
Due: yamllint, ci_tests

Fix: config file suffix needs to be considered even within node_files
  netsim/cli/initial/configs.py
Due: ci_tests

Fix errors identified in Copilot review
  netsim/cli/config.py
Due: ci_tests

Fixing a dubious nit
  netsim/devices/openbsd.yml
Due: yamllint, ci_tests

Configurable default output formats
  docs/modules.md
  docs/netlab/create.md
  docs/outputs/index.md
  netsim/cli/create.py
  netsim/defaults/netlab.yml
  netsim/extra/files/plugin.py
Due: yamllint, ci_tests

Fixing a nit
  docs/netlab/create.md
Due: none

Configurable default output formats (#3013)
  docs/modules.md
  docs/netlab/create.md
  docs/outputs/index.md
  netsim/cli/create.py
  netsim/defaults/netlab.yml
  netsim/extra/files/plugin.py
Due: yamllint, ci_tests

Stop generating the topology snapshot in YAML format
  docs/example/external.md
  docs/netlab/create.md
  docs/release/26.01.md
  netsim/cli/create.py
  netsim/defaults/netlab.yml
Due: yamllint, ci_tests

Fixing the documented default parameter path
  docs/release/26.01.md
Due: none

Stop generating the topology snapshot in YAML format (#3014)
  docs/example/external.md
  docs/netlab/create.md
  docs/release/26.01.md
  netsim/cli/create.py
  netsim/defaults/netlab.yml
Due: yamllint, ci_tests
