Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Refactor sr (SR-MPLS) module, add global/node SID configurations (#3110)
  docs/module/sr-mpls.md
  netsim/ansible/templates/sr/eos.j2
  netsim/ansible/templates/sr/frr.j2
  netsim/ansible/templates/sr/ios.j2
  netsim/ansible/templates/sr/junos.j2
  netsim/ansible/templates/sr/srlinux.j2
  netsim/ansible/templates/sr/sros.j2
  netsim/ansible/templates/sr/sros.openconfig.j2
  netsim/devices/srlinux.yml
  netsim/devices/sros.yml
  netsim/modules/__init__.py
  netsim/modules/sr.py
  netsim/modules/sr.yml
  tests/coverage/expected/migrated-attr.yml
  tests/coverage/input/migrated-attr.yml
Due: yamllint, ci_tests

Clean up node_files directory before generating device configs (#3108)
  netsim/outputs/config.py
Due: ci_tests

Configurable address families for SR-MPLS
  docs/module/sr-mpls.md
  netsim/devices/csr.yml
  netsim/devices/eos.yml
  netsim/devices/frr.yml
  netsim/devices/iol.yml
  netsim/devices/junos.yml
  netsim/devices/none.yml
  netsim/devices/srlinux.yml
  netsim/devices/sros.yml
  netsim/modules/__init__.py
  netsim/modules/sr.py
  netsim/modules/sr.yml
  tests/coverage/errors/sr-af.log
  tests/coverage/errors/sr-af.yml
Due: yamllint, ci_tests

Updated coverage test results
  tests/coverage/expected/migrated-attr.yml
  tests/coverage/expected/module-reorder.yml
Due: yamllint, ci_tests

Move the SR-MPLS AF calculation to shared function
  netsim/modules/_routing.py
  netsim/modules/sr.py
Due: ci_tests

Polish AF selection documentation and rules
  docs/module/sr-mpls.md
  netsim/modules/sr.py
Due: ci_tests

Update docs/module/sr-mpls.md
  docs/module/sr-mpls.md
Due: none

Fix documented SR-Linux support
  docs/module/sr-mpls.md
Due: none

Configurable address families for SR-MPLS (#3111)
  docs/module/sr-mpls.md
  netsim/devices/csr.yml
  netsim/devices/eos.yml
  netsim/devices/frr.yml
  netsim/devices/iol.yml
  netsim/devices/junos.yml
  netsim/devices/none.yml
  netsim/devices/srlinux.yml
  netsim/devices/sros.yml
  netsim/modules/__init__.py
  netsim/modules/_routing.py
  netsim/modules/sr.py
  netsim/modules/sr.yml
  tests/coverage/errors/sr-af.log
  tests/coverage/errors/sr-af.yml
  tests/coverage/expected/migrated-attr.yml
  tests/coverage/expected/module-reorder.yml
Due: yamllint, ci_tests

IOS/XR: SR-MPLS support
  docs/platforms.md
  netsim/ansible/templates/sr/iosxr.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

VLAN support on generic IOS/XR
  netsim/ansible/templates/vlan/iosxr.j2
  netsim/devices/cisco8000v.py
  netsim/devices/iosxr.py
  netsim/devices/xr.yml
Due: yamllint, ci_tests

IOS/XR: SR-MPLS support (#3112)
  docs/platforms.md
  netsim/ansible/templates/sr/iosxr.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Doc: Make IOS XR spelling consistent (not IOS/XR)
  docs/module/bgp.md
  docs/module/routing-static.txt
  docs/module/routing.md
  docs/module/vlan.md
  docs/platforms.md
  docs/release/25.12.md
  docs/release/26.01.md
Due: none

Fix: Advertise inactive BGP routes on SR-OS
  netsim/ansible/templates/bgp/sros.gnmi.macro.j2
Due: none

Fix: Advertise inactive BGP routes on SR-OS (#3114)
  netsim/ansible/templates/bgp/sros.gnmi.macro.j2
Due: none

Implement 'non-empty list' data validation option
  docs/dev/validation.md
  netsim/data/types.py
  tests/coverage/errors/attr-empty-list.log
  tests/coverage/errors/attr-empty-list.yml
Due: yamllint, ci_tests

Implement 'non-empty list' data validation option (#3115)
  docs/dev/validation.md
  netsim/data/types.py
  tests/coverage/errors/attr-empty-list.log
  tests/coverage/errors/attr-empty-list.yml
Due: yamllint, ci_tests

Clarify delete.community.list attributes in routing policy
  docs/module/routing-policy.txt
Due: none

SR-MPLS support for OSPFv2 (implemented on EOS, FRR)
  docs/module/sr-mpls.md
  netsim/ansible/templates/sr/eos.j2
  netsim/ansible/templates/sr/frr.j2
  netsim/devices/csr.yml
  netsim/devices/eos.yml
  netsim/devices/frr.yml
  netsim/devices/iol.yml
  netsim/devices/junos.yml
  netsim/devices/none.yml
  netsim/devices/srlinux.yml
  netsim/devices/sros.yml
  netsim/devices/xr.yml
  netsim/modules/sr.py
  netsim/modules/sr.yml
  tests/coverage/errors/sr-af.log
  tests/coverage/errors/sr-af.yml
  tests/coverage/expected/migrated-attr.yml
  tests/coverage/expected/module-reorder.yml
  tests/integration/sr/21-ospf-ipv4-p.yml
  tests/integration/sr/22-ospf-ipv4-pe.yml
Due: yamllint, ci_tests

Slight polishing
  docs/module/routing-policy.txt
Due: none

Clarify delete.community.list attributes in routing policy (#3117)
  docs/module/routing-policy.txt
Due: none

Update netsim/modules/sr.yml
  netsim/modules/sr.yml
Due: yamllint, ci_tests

Update netsim/ansible/templates/sr/frr.j2
  netsim/ansible/templates/sr/frr.j2
Due: none

Sync settings between SR module and attr-empty-list coverage test
  netsim/modules/sr.yml
  tests/coverage/errors/attr-empty-list.yml
Due: yamllint, ci_tests

SR-MPLS support for OSPFv2 (implemented on EOS, FRR) (#3118)
  docs/module/sr-mpls.md
  netsim/ansible/templates/sr/eos.j2
  netsim/ansible/templates/sr/frr.j2
  netsim/devices/csr.yml
  netsim/devices/eos.yml
  netsim/devices/frr.yml
  netsim/devices/iol.yml
  netsim/devices/junos.yml
  netsim/devices/none.yml
  netsim/devices/srlinux.yml
  netsim/devices/sros.yml
  netsim/devices/xr.yml
  netsim/modules/sr.py
  netsim/modules/sr.yml
  tests/coverage/errors/attr-empty-list.yml
  tests/coverage/errors/sr-af.log
  tests/coverage/errors/sr-af.yml
  tests/coverage/expected/migrated-attr.yml
  tests/coverage/expected/module-reorder.yml
  tests/integration/sr/21-ospf-ipv4-p.yml
  tests/integration/sr/22-ospf-ipv4-pe.yml
Due: yamllint, ci_tests

SR-MPLS OSPFv2 support on Cisco IOS XE and Cisco IOS XR
  docs/module/sr-mpls.md
  netsim/ansible/templates/sr/ios.j2
  netsim/ansible/templates/sr/iosxr.j2
  netsim/devices/csr.yml
  netsim/devices/iol.yml
  netsim/devices/xr.yml
Due: yamllint, ci_tests

SR-MPLS OSPFv2 support on Cisco IOS XE and Cisco IOS XR (#3119)
  docs/module/sr-mpls.md
  netsim/ansible/templates/sr/ios.j2
  netsim/ansible/templates/sr/iosxr.j2
  netsim/devices/csr.yml
  netsim/devices/iol.yml
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Doc: MPLS LDP developer documentation
  docs/dev/mpls-ldp.md
Due: none

Doc: MPLS LDP template developer documentation
  AGENTS.md
  docs/dev/config/index.md
  docs/dev/config/mpls-ldp.md
Due: none

IOS XR: MPLS LDP configuration templates
  docs/module/mpls.md
  docs/platforms.md
  netsim/ansible/templates/mpls/iosxr.j2
  netsim/ansible/templates/mpls/iosxr/ldp.j2
  netsim/devices/xr.yml
  tests/integration/mpls/02-ldp-pe.yml
Due: yamllint, ci_tests

Add SR-MPLS OSPFv2 tests to feature coverage
  _html/cat8000v-libvirt-sr.html
  _html/cisco8000v-clab-sr.html
  _html/coverage.sr.html
  _html/csr-libvirt-sr.html
  _html/eos-clab-sr.html
  _html/frr-clab-sr.html
  _html/iol-clab-sr.html
  _html/ioll2-clab-sr.html
  _html/iosxr-clab-sr.html
  _html/release-coverage.html
  _html/srsim-clab-sr.html
  _html/vjunos-router-clab-sr.html
  _html/vjunos-switch-clab-sr.html
  _html/vptx-libvirt-sr.html
  index.html
  map-tests.yml
  setup.yml
Due: yamllint, ci_tests

Further tweaks
  AGENTS.md
  docs/dev/config/mpls-ldp.md
Due: none

Doc: MPLS LDP template developer documentation (#3120)
  AGENTS.md
  docs/dev/config/index.md
  docs/dev/config/mpls-ldp.md
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
