Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Fix to only have IPv6 test
  tests/integration/tunnel/03-gre-ipv6.yml
Due: yamllint, ci_tests

Adjust ipv4 address on p2p link
  tests/integration/tunnel/04-gre-ipv4-over-ipv6.yml
Due: yamllint, ci_tests

remove extra comment
  tests/integration/tunnel/05-gre-ipv6-over-ipv4.yml
Due: yamllint, ci_tests

Remove any IPv4 from links
  tests/integration/tunnel/03-gre-ipv6.yml
Due: yamllint, ci_tests

Add more GRE tunnel tests
  tests/integration/tunnel/02-gre-vrf.yml
  tests/integration/tunnel/03-gre-ipv6.yml
  tests/integration/tunnel/04-gre-ipv4-over-ipv6.yml
  tests/integration/tunnel/05-gre-ipv6-over-ipv4.yml
  tests/integration/tunnel/10-wireguard.yml
  tests/integration/tunnel/11-wireguard-vrf.yml
Due: yamllint, ci_tests

Add initial data model for ACLs. Notable data structures: acl, acl_entry, acl_address.
  netsim/modules/routing.yml
Due: yamllint, ci_tests

Remove alternate type from acl model.
  netsim/modules/routing.yml
Due: yamllint, ci_tests

Enable ACL support for devices from ios family
  netsim/devices/ios.yml
Due: yamllint, ci_tests

Allow setting ACL address family (ipv4, ipv6)
  netsim/modules/routing.yml
Due: yamllint, ci_tests

Make "action" in acl_entry data model optional. Default to "permit" to ensure consistency with prefix list data model.
  netsim/modules/routing.yml
Due: yamllint, ci_tests

Change af schema to conform to Netlab conventions
  netsim/modules/routing.yml
Due: yamllint, ci_tests

Fix typo in user exposed model key name
  netsim/modules/routing.yml
Due: yamllint, ci_tests

Create skeleton ACL object handlers Hook into routing module
  netsim/modules/routing/__init__.py
  netsim/modules/routing/acl.py
Due: ci_tests

RouterOS7 initial config test for #3636
  _html/routeros7-libvirt-initial.html
  routeros7/libvirt/initial/07-router.yml-create.log
  routeros7/libvirt/initial/07-router.yml-initial.log
  routeros7/libvirt/initial/07-router.yml-up.log
  routeros7/libvirt/initial/07-router.yml-validate.log
  routeros7/libvirt/initial/cleanup-down.log
  routeros7/libvirt/initial/results.yaml
Due: yamllint, ci_tests

RouterOS7: add IP host mappings (#3636)
  netsim/ansible/templates/initial/routeros7.j2
Due: none

Fix trainling spaces, order python imports
  netsim/devices/ios.yml
  netsim/modules/routing.yml
  netsim/modules/routing/acl.py
Due: yamllint, ci_tests

Organize imports with ruff.
  netsim/modules/routing/__init__.py
  netsim/modules/routing/acl.py
Due: ci_tests

Satisfy typing
  netsim/modules/routing/acl.py
Due: ci_tests

Fix: Cross-provider links destroyed 'tunnel' link type
  netsim/extra/tunnel/gre/__init__.py
  netsim/extra/tunnel/wireguard/__init__.py
  netsim/providers/libvirt.py
  tests/coverage/expected/gre-source.yml
  tests/coverage/input/gre-source.yml
Due: yamllint, ci_tests

Fix indentation to conform to the expected data model.
  netsim/modules/routing.yml
Due: yamllint, ci_tests

Add suport for automatic resolve of ACLs specified on interafces.
  netsim/modules/routing/__init__.py
  netsim/modules/routing/acl.py
Due: ci_tests

Fix bug which created an empty routing namespace in transformed topology, breaking transformation tests. While at it, improved the function readability.
  netsim/modules/routing/acl.py
Due: ci_tests

fix(sr/frr): render segment-routing global-block under router isis
  netsim/ansible/templates/sr/frr.j2
  tests/integration/sr/01-isis-ipv4-p.yml
Due: yamllint, ci_tests

Fixing a theoretical edge case
  netsim/providers/libvirt.py
Due: ci_tests

Fix: Cross-provider links destroyed 'tunnel' link type (#3649)
  netsim/extra/tunnel/gre/__init__.py
  netsim/extra/tunnel/wireguard/__init__.py
  netsim/providers/libvirt.py
  tests/coverage/expected/gre-source.yml
  tests/coverage/input/gre-source.yml
Due: yamllint, ci_tests

GRE: Transport address family check
  netsim/devices/frr.yml
  netsim/devices/ioll2.yml
  netsim/devices/ios.yml
  netsim/devices/none.yml
  netsim/devices/vjunos-router.yml
  netsim/devices/vsrx.yml
  netsim/devices/vyos.yml
  netsim/extra/tunnel/_p2p.py
  netsim/extra/tunnel/gre/__init__.py
Due: yamllint, ci_tests

Fixes
  netsim/extra/tunnel/__init__.py
  netsim/extra/tunnel/_p2p.py
  tests/coverage/errors/gre-support.log
  tests/coverage/errors/gre-support.yml
Due: yamllint, ci_tests

GRE: Transport address family check (#3655)
  netsim/devices/frr.yml
  netsim/devices/ioll2.yml
  netsim/devices/ios.yml
  netsim/devices/none.yml
  netsim/devices/vjunos-router.yml
  netsim/devices/vsrx.yml
  netsim/devices/vyos.yml
  netsim/extra/tunnel/__init__.py
  netsim/extra/tunnel/_p2p.py
  netsim/extra/tunnel/gre/__init__.py
  tests/coverage/errors/gre-support.log
  tests/coverage/errors/gre-support.yml
Due: yamllint, ci_tests

Sample GRE tests for #3655
  _html/coverage.tunnel.html
  _html/frr-clab-tunnel.html
  _html/iol-clab-tunnel.html
  _html/ioll2-clab-tunnel.html
  _html/ioll2-clab.html
  _html/ioll2.html
  _html/vyos-clab-tunnel.html
  frr/clab/tunnel/01-gre.yml-create.log
  frr/clab/tunnel/01-gre.yml-initial.log
  frr/clab/tunnel/01-gre.yml-up.log
  frr/clab/tunnel/01-gre.yml-validate.log
  frr/clab/tunnel/cleanup-down.log
  frr/clab/tunnel/results.yaml
  index.html
  iol/clab/tunnel/01-gre.yml-create.log
  iol/clab/tunnel/01-gre.yml-initial.log
  iol/clab/tunnel/01-gre.yml-up.log
  iol/clab/tunnel/01-gre.yml-validate.log
  iol/clab/tunnel/cleanup-down.log
  iol/clab/tunnel/results.yaml
  ioll2/clab/tunnel/01-gre.yml-create.log
  ioll2/clab/tunnel/cleanup-down.log
  ioll2/clab/tunnel/results.yaml
  vyos/clab/tunnel/01-gre.yml-create.log
  vyos/clab/tunnel/01-gre.yml-initial.log
  vyos/clab/tunnel/01-gre.yml-up.log
  vyos/clab/tunnel/01-gre.yml-validate.log
  vyos/clab/tunnel/cleanup-down.log
  vyos/clab/tunnel/results.yaml
Due: yamllint, ci_tests

Dual-stack GRE tunnel integration test
  tests/integration/tunnel/01-gre.yml
Due: yamllint, ci_tests

Dual-stack GRE tunnel integration test (#3648)
  tests/integration/tunnel/01-gre.yml
Due: yamllint, ci_tests

Add VRF support
  netsim/devices/eos.yml
  netsim/extra/tunnel/gre/eos.j2
Due: yamllint, ci_tests

Add quirk EOS cannot do IPv6 transport GRE
  netsim/devices/eos.py
Due: ci_tests

Remove 'tunnel routes' for OSPFv3 does not exist
  netsim/extra/tunnel/gre/eos.j2
Due: none

Add EOS support for GRE routing
  netsim/devices/eos.yml
  netsim/extra/tunnel/gre/eos.j2
Due: yamllint, ci_tests

Remove hack.. for ipv6 gre tunnel
  netsim/devices/eos.py
  netsim/devices/eos.yml
Due: yamllint, ci_tests

Add RouterOS7 GRE Tunnel Support
  netsim/ansible/templates/initial/routeros7.j2
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

Update to match GRE tunnel changes
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

Add in documentation for GRE / Static routes
  docs/module/routing-static.txt
  docs/plugins/tunnel.gre.md
Due: none
