Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Prefer IPv6 over IPv4
  netsim/modules/services.py
Due: ci_tests

Limit Linux to three nameservers
  netsim/ansible/templates/initial/linux/resolv.j2
Due: none

Cleanup DNS client implementation (#3712)
  netsim/ansible/templates/initial/eos.j2
  netsim/ansible/templates/initial/ios.j2
  netsim/ansible/templates/initial/linux/resolv.j2
  netsim/ansible/templates/services/eos.j2
  netsim/ansible/templates/services/frr.j2
  netsim/ansible/templates/services/ios.j2
  netsim/modules/services.py
  netsim/templates/provider/clab/linux/hosts.j2
  tests/coverage/expected/svc-server.yml
  tests/integration/services/01-dns-client.yml
Due: yamllint, ci_tests

DNS services developer documentation
  AGENTS.md
  docs/dev/config/index.md
  docs/dev/config/services.md
Due: none

Fixing a typo I missed :(
  docs/dev/config/services.md
Due: none

DNS services developer documentation (#3713)
  AGENTS.md
  docs/dev/config/index.md
  docs/dev/config/services.md
Due: none

Wireguard tests for #3710
  _html/coverage.tunnel.html
  _html/frr-clab-tunnel.html
  _html/release-coverage.html
  _html/routeros7-libvirt-tunnel.html
  frr/clab/tunnel/11-wireguard.yml-create.log
  frr/clab/tunnel/11-wireguard.yml-initial.log
  frr/clab/tunnel/11-wireguard.yml-up.log
  frr/clab/tunnel/11-wireguard.yml-validate.log
  frr/clab/tunnel/cleanup-down.log
  frr/clab/tunnel/results.yaml
  index.html
  map-tests.yml
  routeros7/libvirt/tunnel/11-wireguard.yml-create.log
  routeros7/libvirt/tunnel/11-wireguard.yml-initial.log
  routeros7/libvirt/tunnel/11-wireguard.yml-up.log
  routeros7/libvirt/tunnel/11-wireguard.yml-validate.log
  routeros7/libvirt/tunnel/cleanup-down.log
  routeros7/libvirt/tunnel/results.yaml
Due: yamllint, ci_tests

Fix a footnote, add second tunnel to integration test
  docs/plugins/tunnel.wireguard.md
  tests/integration/tunnel/11-wireguard.yml
Due: yamllint, ci_tests

Bugfix: Allocate unique wireguard UDP port per tunnel (#3710)
  docs/plugins/tunnel.wireguard.md
  netsim/extra/tunnel/wireguard/__init__.py
  netsim/extra/tunnel/wireguard/defaults.yml
  tests/coverage/expected/wg-listen-port.yml
  tests/coverage/expected/wg-unique-ports.yml
  tests/coverage/input/wg-listen-port.yml
  tests/coverage/input/wg-unique-ports.yml
  tests/integration/tunnel/11-wireguard.yml
Due: yamllint, ci_tests

Fix coverage test impacted by late change to #3712
  tests/coverage/expected/svc-server.yml
Due: yamllint, ci_tests

Wireguard developer documentation
  docs/dev/config/index.md
  docs/dev/config/tunnel.wireguard.md
Due: none

Technology-specific tunnel interface names
  netsim/augment/links.py
  netsim/devices/frr.yml
  tests/coverage/expected/wg-listen-port.yml
  tests/coverage/expected/wg-unique-ports.yml
Due: yamllint, ci_tests

FRR/IOL tunnel interface name test for #3716
  _html/coverage.tunnel.html
  _html/frr-clab-tunnel.html
  _html/iol-clab-tunnel.html
  _html/iol-clab.html
  _html/iol.html
  _html/release-coverage.html
  frr/clab/tunnel/01-gre.yml-create.log
  frr/clab/tunnel/01-gre.yml-initial.log
  frr/clab/tunnel/01-gre.yml-up.log
  frr/clab/tunnel/01-gre.yml-validate.log
  frr/clab/tunnel/02-gre-vrf.yml-initial.log
  frr/clab/tunnel/02-gre-vrf.yml-up.log
  frr/clab/tunnel/02-gre-vrf.yml-validate.log
  frr/clab/tunnel/11-wireguard.yml-initial.log
  frr/clab/tunnel/11-wireguard.yml-up.log
  frr/clab/tunnel/11-wireguard.yml-validate.log
  frr/clab/tunnel/12-wireguard-vrf.yml-create.log
  frr/clab/tunnel/12-wireguard-vrf.yml-initial.log
  frr/clab/tunnel/12-wireguard-vrf.yml-up.log
  frr/clab/tunnel/cleanup-down.log
  frr/clab/tunnel/results.yaml
  index.html
  iol/clab/tunnel/01-gre.yml-create.log
  iol/clab/tunnel/01-gre.yml-initial.log
  iol/clab/tunnel/01-gre.yml-up.log
  iol/clab/tunnel/01-gre.yml-validate.log
  iol/clab/tunnel/02-gre-vrf.yml-initial.log
  iol/clab/tunnel/02-gre-vrf.yml-up.log
  iol/clab/tunnel/02-gre-vrf.yml-validate.log
  iol/clab/tunnel/11-wireguard.yml-create.log
  iol/clab/tunnel/12-wireguard-vrf.yml-create.log
  iol/clab/tunnel/cleanup-down.log
  iol/clab/tunnel/results.yaml
Due: yamllint, ci_tests

Cleanup & caveats
  docs/caveats.md
  netsim/ansible/templates/ospf/eos.ospfv2.j2
  netsim/extra/tunnel/gre/eos.j2
Due: none

EOS GRE tunnels for #3659
  _html/coverage.tunnel.html
  _html/eos-clab-tunnel.html
  _html/eos-clab.html
  _html/eos.html
  _html/release-coverage.html
  eos/clab/tunnel/01-gre.yml-create.log
  eos/clab/tunnel/01-gre.yml-initial.log
  eos/clab/tunnel/01-gre.yml-up.log
  eos/clab/tunnel/01-gre.yml-validate.log
  eos/clab/tunnel/02-gre-vrf.yml-create.log
  eos/clab/tunnel/02-gre-vrf.yml-initial.log
  eos/clab/tunnel/02-gre-vrf.yml-up.log
  eos/clab/tunnel/02-gre-vrf.yml-validate.log
  eos/clab/tunnel/11-wireguard.yml-create.log
  eos/clab/tunnel/12-wireguard-vrf.yml-create.log
  eos/clab/tunnel/cleanup-down.log
  eos/clab/tunnel/results.yaml
  index.html
Due: yamllint, ci_tests

refactor(sonic): inherit the FRR device instead of a separate sonic_clab device
  netsim/ansible/tasks/deploy-config/sonic-clab.yml
  netsim/ansible/templates/initial/sonic-clab.j2
  netsim/ansible/templates/lag/sonic-clab.j2
  netsim/ansible/templates/lag/sonic.initial.j2
  netsim/ansible/templates/vlan/sonic-clab.j2
  netsim/ansible/templates/vlan/sonic.initial.j2
  netsim/ansible/templates/vxlan/sonic-clab.j2
  netsim/devices/sonic.yml
  netsim/devices/sonic_clab.yml
  tests/integration/platform/sonic_clab/01-initial.yml
  tests/integration/platform/sonic_clab/02-ospf.yml
  tests/integration/platform/sonic_clab/03-bgp.yml
  tests/integration/platform/sonic_clab/04-isis.yml
  tests/integration/platform/sonic_clab/05-vrf.yml
  tests/integration/platform/sonic_clab/06-mpls-sr-l3vpn.yml
  tests/integration/platform/sonic_clab/07-srv6.yml
  tests/integration/platform/sonic_clab/08-vlan.yml
  tests/integration/platform/sonic_clab/09-lag.yml
  tests/integration/platform/sonic_clab/11-vxlan-evpn.yml
  tests/integration/platform/sonic_clab/12-evpn-irb-l3vni.yml
  tests/integration/platform/sonic_clab/13-vrf-leak.yml
  tests/integration/platform/sonic_clab/14-bgp-session.yml
  tests/integration/platform/sonic_clab/15-bgp-policy.yml
  tests/integration/platform/sonic_clab/16-ebgp-multihop.yml
  tests/integration/platform/sonic_clab/17-ospf-areas.yml
  tests/integration/platform/sonic_clab/18-bgp-originate.yml
  tests/integration/platform/sonic_clab/19-bfd.yml
  tests/integration/platform/sonic_clab/20-ripv2.yml
  tests/integration/platform/sonic_clab/21-evpn-multihoming.yml
  tests/integration/platform/sonic_clab/22-ospfv3.yml
  tests/integration/platform/sonic_clab/23-isis-v6-bgp-v6.yml
  tests/integration/platform/sonic_clab/24-routing-v6.yml
  tests/integration/platform/sonic_clab/25-vrf-v6-leak.yml
  tests/integration/platform/sonic_clab/26-vrf-v6-ospfv3.yml
  tests/integration/platform/sonic_clab/27-tunnel-gre.yml
  tests/integration/platform/sonic_clab/28-files-maxprefix.yml
  tests/integration/platform/sonic_clab/29-bgp-domain.yml
  tests/integration/platform/sonic_clab/README.md
  tests/integration/platform/sonic_clab/h1-fixaddr/linux.j2
Due: yamllint, ci_tests

fix(sonic): do not apply the VM BGP reset on the container
  netsim/ansible/templates/bgp/sonic-clab.j2
Due: none

Fix: Use 'ip mtu' on IOSv tunnel interfaces
  netsim/devices/iosv.py
Due: ci_tests

IOSv GRE tunnel tests for #3717
  _html/coverage.tunnel.html
  _html/iosv-libvirt-tunnel.html
  _html/iosv-libvirt.html
  _html/iosv.html
  _html/release-coverage.html
  index.html
  iosv/libvirt/tunnel/01-gre.yml-create.log
  iosv/libvirt/tunnel/01-gre.yml-initial.log
  iosv/libvirt/tunnel/01-gre.yml-up.log
  iosv/libvirt/tunnel/01-gre.yml-validate.log
  iosv/libvirt/tunnel/02-gre-vrf.yml-create.log
  iosv/libvirt/tunnel/02-gre-vrf.yml-initial.log
  iosv/libvirt/tunnel/02-gre-vrf.yml-up.log
  iosv/libvirt/tunnel/02-gre-vrf.yml-validate.log
  iosv/libvirt/tunnel/11-wireguard.yml-create.log
  iosv/libvirt/tunnel/12-wireguard-vrf.yml-create.log
  iosv/libvirt/tunnel/cleanup-down.log
  iosv/libvirt/tunnel/results.yaml
Due: yamllint, ci_tests

Fix: set the _use_ip_mtu flag only when the tunnel MTU is set
  netsim/devices/iosv.py
Due: ci_tests

fix(sonic): declare VRRP only -- anycast gateway is inherited but does not work
  netsim/devices/sonic.yml
Due: yamllint, ci_tests

fix(sonic): claim the router role only
  netsim/devices/sonic.yml
Due: yamllint, ci_tests

fix(sonic): do not claim RFC 9234 BGP roles
  netsim/devices/sonic.yml
Due: yamllint, ci_tests

docs(sonic): record that the device now has two deployments and can select libvirt
  netsim/devices/sonic.yml
Due: yamllint, ci_tests

Fix: Use 'ip mtu' on IOSv tunnel interfaces (#3717)
  netsim/devices/iosv.py
Due: ci_tests

Keep ansible_network_os frr for VPP nodes.
  netsim/daemons/vpp.yml
Due: yamllint, ci_tests

Fix VPP bird control plane integration for OSPF labs.
  netsim/daemons/bird/bird.j2
  netsim/daemons/vpp.yml
  netsim/daemons/vpp/Dockerfile.j2
  netsim/daemons/vpp/hosts.j2
  netsim/daemons/vpp/ospf.areas.j2
  netsim/daemons/vpp/start.vpp.j2
  netsim/devices/vpp.py
Due: yamllint, ci_tests

Fix VPP clab configuration deployment documentation.
  docs/platforms.md
Due: none

Align VPP interface naming and startup configuration.
  netsim/ansible/templates/initial/vpp.j2
  netsim/daemons/vpp.yml
  netsim/daemons/vpp/setup.conf.j2
  netsim/daemons/vpp/vpp.j2
Due: yamllint, ci_tests

Fix VPP container startup and MTU validation.
  netsim/ansible/templates/initial/vpp.j2
  netsim/daemons/vpp.yml
  netsim/daemons/vpp/Dockerfile.j2
  netsim/daemons/vpp/setup.vpp.j2
  tests/integration/initial/04-mtu.yml
Due: yamllint, ci_tests

Doc: Explain VPP control_plane bird/frr selection.
  docs/labs/vpp.md
Due: none

Add VPP unnumbered interface support
  docs/platforms.md
  netsim/daemons/vpp.yml
  netsim/daemons/vpp/setup.vpp.j2
Due: yamllint, ci_tests

Use eth{ifindex} interface names and map to VPP host-* in setup.
  netsim/daemons/vpp.yml
  netsim/daemons/vpp/setup.conf.j2
Due: yamllint, ci_tests

Document VPP clab daemon support.
  docs/caveats.md
  docs/labs/clab.md
  docs/labs/vpp.md
  docs/netlab/clab.md
  docs/netlab/defaults.md
  docs/platforms.md
  netsim/daemons/vpp.yml
Due: yamllint, ci_tests

Keep daemon config keys ending in .conf through cleanup.
  netsim/augment/nodes.py
  netsim/daemons/vpp.yml
  netsim/daemons/vpp/setup.conf.j2
  netsim/devices/vpp.py
Due: yamllint, ci_tests

Move VPP MPLS setup into module config
  netsim/ansible/templates/initial/vpp.j2
  netsim/daemons/vpp/mpls.vpp.j2
  netsim/daemons/vpp/setup.vpp.j2
Due: none

Replace VPP device with a buildable clab daemon.
  netsim/ansible/templates/initial/vpp-clab.j2
  netsim/ansible/templates/initial/vpp.j2
  netsim/daemons/vpp.yml
  netsim/daemons/vpp/Dockerfile.j2
  netsim/daemons/vpp/initial.j2
  netsim/daemons/vpp/vpp.j2
  netsim/devices/vpp.yml
  netsim/templates/provider/clab/vpp/setup.j2
Due: yamllint, ci_tests

Declare VPP OSPF feature flags explicitly and drop bogus merge syntax.
  netsim/daemons/vpp.yml
  netsim/devices/vpp.py
Due: yamllint, ci_tests

Simplify VPP RA prefix configuration.
  netsim/daemons/vpp.yml
  netsim/daemons/vpp/initial.j2
Due: yamllint, ci_tests

Fix VPP IPv4 unnumbered for bird and reject bird/IS-IS.
  netsim/daemons/vpp.yml
  netsim/daemons/vpp/setup.vpp.j2
  netsim/daemons/vpp/start.vpp.j2
  netsim/devices/vpp.py
Due: yamllint, ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
