Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Make initial config working with recent SONiC builds
  netsim/ansible/templates/initial/sonic-clab.j2
Due: none

Redo disabled SONiC BGP tests
  _html/coverage.bgp.html
  _html/coverage.bgp.session.html
  _html/sonic-clab-bgp.html
  _html/sonic-clab-bgp.session.html
  _html/sonic-clab.html
  _html/sonic.html
  index.html
  sonic/clab/bgp.session/07-password.yml-create.log
  sonic/clab/bgp.session/10-timers.yml-create.log
  sonic/clab/bgp.session/cleanup-down.log
  sonic/clab/bgp.session/results.yaml
  sonic/clab/bgp/09-vrf-localas.yml-create.log
  sonic/clab/bgp/cleanup-down.log
  sonic/clab/bgp/results.yaml
Due: yamllint, ci_tests

Disable features that do not work or don't have dataplane config
  netsim/devices/sonic.yml
Due: yamllint, ci_tests

Final touches
  netsim/devices/sonic.yml
Due: yamllint, ci_tests

feat(sonic): commit to script-based deployment, drop the Ansible deploy path
  netsim/ansible/tasks/deploy-config/sonic-clab.yml
  netsim/ansible/tasks/readiness-check/sonic_clab.yml
  netsim/ansible/templates/initial/sonic-clab.j2
  netsim/devices/sonic.yml
Due: yamllint, ci_tests

Add SONiC containerlab (docker-sonic-vs) support (#3680)
  docs/caveats.md
  docs/labs/sonic.md
  docs/platforms.md
  docs/release/26.08.md
  netsim/ansible/tasks/deploy-config/sonic-clab.yml
  netsim/ansible/templates/bgp/sonic-clab.j2
  netsim/ansible/templates/initial/sonic-clab.j2
  netsim/ansible/templates/lag/sonic-clab.j2
  netsim/ansible/templates/lag/sonic.initial.j2
  netsim/ansible/templates/vlan/sonic-clab.j2
  netsim/ansible/templates/vlan/sonic.initial.j2
  netsim/ansible/templates/vxlan/sonic-clab.j2
  netsim/devices/sonic.yml
Due: yamllint, ci_tests

Moved the note into the "warning" section
  docs/labs/clab.md
Due: none

Doc: Describe the clab MGMT_PASSTHROUGH workaround (#3728)
  docs/labs/clab.md
Due: none

Add VPP (FD.io) device support (#3492)
  docs/caveats.md
  docs/labs/clab.md
  docs/labs/vpp.md
  docs/netlab/clab.md
  docs/netlab/defaults.md
  docs/platforms.md
  netsim/ansible/templates/initial/vpp.j2
  netsim/ansible/templates/initial/vpp.vlan.j2
  netsim/ansible/templates/mpls/vpp.initial.j2
  netsim/ansible/templates/mpls/vpp.j2
  netsim/ansible/templates/vlan/vpp.j2
  netsim/daemons/bird/bird.j2
  netsim/daemons/vpp/Dockerfile.j2
  netsim/devices/vpp.py
  netsim/devices/vpp.yml
  netsim/templates/provider/clab/vpp/bird.j2
  netsim/templates/provider/clab/vpp/daemons.j2
  netsim/templates/provider/clab/vpp/hosts.j2
  netsim/templates/provider/clab/vpp/netlab-start.sh.j2
  netsim/templates/provider/clab/vpp/resolv.j2
  netsim/templates/provider/clab/vpp/setup.vpp.j2
  netsim/templates/provider/clab/vpp/vlan-init.vpp.j2
  netsim/templates/provider/clab/vpp/vpp.j2
  tests/integration/initial/04-mtu.yml
Due: yamllint, ci_tests

Fix: Include bird CP initial on VPP for OSPFv3
  netsim/ansible/templates/initial/bird-clab.j2
  netsim/ansible/templates/initial/bird.cp.j2
  netsim/daemons/bird/ospf.macros.j2
  netsim/templates/provider/clab/vpp/netlab-start.sh.j2
Due: none

Fix: Use interface address for bird OSPFv3 stubnet
  netsim/daemons/bird/ospf.macros.j2
Due: none

docs(arcos): move the platform doc to docs/labs and link it from the device
  docs/labs/arcos.md
  netsim/devices/arcos.yml
Due: yamllint, ci_tests

fix(ospf): do not emit an OSPFv2 instance on a node with no IPv4
  netsim/ansible/templates/ospf/arcos.j2
Due: none

Bugfix: VPP/BIRD OSPFv3 loopback prefix advertisement (#3725) (#3729)
  netsim/ansible/templates/initial/bird-clab.j2
  netsim/ansible/templates/initial/bird.cp.j2
  netsim/daemons/bird/ospf.macros.j2
  netsim/templates/provider/clab/vpp/netlab-start.sh.j2
Due: none

docs(sonic): correct the container download instructions
  docs/labs/sonic.md
Due: none

docs(arcos): add a (build-arcos) anchor and link the platform table to it
  docs/labs/arcos.md
  docs/platforms.md
Due: none

docs(arcos): move the release note to 26.08
  docs/release.md
  docs/release/26.07.md
  docs/release/26.08.md
Due: none

docs(arcos): cut the caveats section down to what a user can hit
  docs/caveats.md
  docs/labs/arcos.md
Due: none

Fix VPP VLAN SVI LCP address sync and OSPF MTU
  netsim/ansible/templates/initial/vpp.vlan.j2
  netsim/templates/provider/clab/vpp/netlab-start.sh.j2
Due: none

fix(vrf): do not emit a per-VRF OSPFv2 instance for a VRF with no IPv4
  netsim/ansible/templates/vrf/arcos.j2
Due: none

Fix VPP VLAN SVI LCP address sync and VLAN MTU (#3730)
  netsim/ansible/templates/initial/vpp.vlan.j2
  netsim/templates/provider/clab/vpp/netlab-start.sh.j2
Due: none

Implement 'features' custom sphinx extension
  docs/_ext/features.py
  docs/conf.py
  mypy.ini
Due: ci_tests

Removed unnecessary reference to alt image source
  docs/labs/sonic.md
Due: none

docs(sonic): correct the docker-sonic-vs download instructions (#3731)
  docs/labs/sonic.md
Due: none

Remove X2 from nodes, only need X1 for test
  tests/integration/bgp.policy/10-bgp-bandwidth-auto.yml
  tests/integration/bgp.policy/11-bgp-bandwidth-value.yml
  tests/integration/bgp.policy/12-bgp-bandwidth-value-out.yml
Due: yamllint, ci_tests

Fix typo in test wait msg from OSFP -> ISIS
  tests/integration/isis/12-passive.yml
Due: yamllint, ci_tests

Fix capitalisation
  tests/integration/bgp.session/14-gr.yml
Due: yamllint, ci_tests

Make consistent with rest of test descriptions
  tests/integration/bgp.session/04-default-originate.yml
Due: yamllint, ci_tests

Update to match convention <AF> <IBGP|EBGP>
  tests/integration/bgp.policy/21-locpref.yml
Due: yamllint, ci_tests

Change lab device to DUT
  tests/integration/bgp.session/07-password.yml
  tests/integration/bgp.session/13-bfd.yml
Due: yamllint, ci_tests

Fix capitialisation for devices
  tests/integration/bgp.session/01-allowas-in.yml
  tests/integration/bgp.session/02-as-override.yml
Due: yamllint, ci_tests

Remove unneeded 1 in DUT description text
  tests/integration/bgp/13-ipv6-ibgp-rr.yml
Due: yamllint, ci_tests

Check VLAN structures exist before use in RouterOS7
  netsim/ansible/templates/vlan/routeros7.initial.j2
  netsim/ansible/templates/vlan/routeros7.j2
Due: none
