Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Extreme EXOS Vagrant box
  netsim/devices/exos.yml
  netsim/install/libvirt/exos.txt
  netsim/install/libvirt/exos.xml.j2
  netsim/templates/provider/libvirt/exos-domain.j2
Due: yamllint, ci_tests

initial config for EXOS
  docs/labs/exos.md
  netsim/ansible/tasks/deploy-config/exos.yml
  netsim/ansible/templates/initial/exos.j2
  netsim/devices/exos.yml
  netsim/install/libvirt/exos.txt
Due: yamllint, ci_tests

EXOS - docs
  docs/labs/exos.md
  docs/labs/exos.txt
  netsim/install/libvirt/eos.txt
Due: none

wip
  docs/caveats.md
  docs/platforms.md
Due: none

update exos docs and add ipv6
  docs/platforms.md
  netsim/ansible/tasks/deploy-config/exos.yml
  netsim/ansible/tasks/fetch-config/exos.yml
  netsim/ansible/templates/initial/exos.j2
  netsim/install/libvirt/eos.txt
Due: yamllint, ci_tests

Implement bgp.advertise for ArubaCX, CL NVUE, OS10, SR Linux, SR OS
  netsim/ansible/templates/bgp/arubacx.j2
  netsim/ansible/templates/bgp/arubacx.macro.j2
  netsim/ansible/templates/bgp/cumulus_nvue.macro.j2
  netsim/ansible/templates/bgp/dellos10.j2
  netsim/ansible/templates/bgp/srlinux.macro.j2
  netsim/ansible/templates/bgp/sros.gnmi.macro.j2
  netsim/ansible/templates/vrf/arubacx.bgp.j2
  netsim/ansible/templates/vrf/dellos10.bgp.j2
Due: none

Fixes, bgp.advertise feature
  netsim/ansible/templates/bgp/cumulus_nvue.macro.j2
  netsim/ansible/templates/vrf/arubacx.bgp.j2
  netsim/devices/arubacx.yml
  netsim/devices/cumulus_nvue.yml
  netsim/devices/dellos10.yml
  netsim/devices/srlinux.yml
  netsim/devices/sros.yml
Due: yamllint, ci_tests

Update bgp.advertise list after changing IPv6 prefix in SROS quirk
  netsim/devices/sros.py
Due: ci_tests

Use bgp.advertise attribute in global Junos BGP advertise policy
  netsim/ansible/templates/bgp/junos.policy.j2
Due: none

Fix symlink to EXOS Vagrant box config commands
  docs/labs/exos.txt
Due: none

Minor documentation tweaks
  docs/labs/libvirt.md
Due: none

EXOS initial configuration tests for #3239
  _html/coverage.initial.html
  _html/exos-libvirt-initial.html
  _html/exos-libvirt.html
  _html/exos.html
  _html/release-coverage.html
  exos/libvirt/initial/01-interfaces.yml-create.log
  exos/libvirt/initial/01-interfaces.yml-initial.log
  exos/libvirt/initial/01-interfaces.yml-up.log
  exos/libvirt/initial/01-interfaces.yml-validate.log
  exos/libvirt/initial/01a-scripts.yml-create.log
  exos/libvirt/initial/01b-startup-config.yml-create.log
  exos/libvirt/initial/02-loopback.yml-create.log
  exos/libvirt/initial/02-loopback.yml-initial.log
  exos/libvirt/initial/02-loopback.yml-up.log
  exos/libvirt/initial/02-loopback.yml-validate.log
  exos/libvirt/initial/03-unnumbered.yml-create.log
  exos/libvirt/initial/04-mtu.yml-create.log
  exos/libvirt/initial/04-mtu.yml-initial.log
  exos/libvirt/initial/04-mtu.yml-up.log
  exos/libvirt/initial/05-host.yml-create.log
  exos/libvirt/initial/06-bridge.yml-create.log
  exos/libvirt/initial/07-router.yml-create.log
  exos/libvirt/initial/07-router.yml-initial.log
  exos/libvirt/initial/07-router.yml-up.log
  exos/libvirt/initial/07-router.yml-validate.log
  exos/libvirt/initial/08-ra.yml-create.log
  exos/libvirt/initial/cleanup-down.log
  exos/libvirt/initial/results.yaml
  index.html
  setup.yml
Due: yamllint, ci_tests

Implement bgp.advertise for openbsd
  netsim/ansible/templates/bgp/openbsd.j2
  netsim/devices/openbsd.yml
Due: yamllint, ci_tests

OpenBSD BGP origination tests for #3243
  _html/exos.html
  _html/openbsd-libvirt-bgp.html
  _html/release-coverage.html
  index.html
  openbsd/libvirt/bgp/04-originate.yml-create.log
  openbsd/libvirt/bgp/04-originate.yml-initial.log
  openbsd/libvirt/bgp/04-originate.yml-up.log
  openbsd/libvirt/bgp/04-originate.yml-validate.log
  openbsd/libvirt/bgp/14-ipv6-originate.yml-create.log
  openbsd/libvirt/bgp/14-ipv6-originate.yml-initial.log
  openbsd/libvirt/bgp/14-ipv6-originate.yml-up.log
  openbsd/libvirt/bgp/cleanup-down.log
  openbsd/libvirt/bgp/results.yaml
Due: yamllint, ci_tests

IPv4/IPv6 bgp.advertise integration tests
  tests/integration/bgp/04-originate.yml
  tests/integration/bgp/14-ipv6-originate.yml
Due: yamllint, ci_tests

define MIN and MAX MTU
  netsim/devices/exos.yml
Due: yamllint, ci_tests

EXOS - add OSPF support
  docs/platforms.md
  netsim/ansible/templates/initial/exos.j2
  netsim/ansible/templates/ospf/exos.j2
  netsim/ansible/templates/ospf/exos.ospfv2.j2
  netsim/ansible/templates/ospf/exos.ospfv3.j2
  netsim/devices/exos.yml
Due: yamllint, ci_tests

conditional enablement of jumbo-frame
  netsim/ansible/templates/initial/exos.j2
Due: none

vlan support
  netsim/ansible/templates/initial/exos.j2
  netsim/ansible/templates/initial/exos.vlan.j2
  netsim/ansible/templates/vlan/exos.j2
  netsim/devices/exos.yml
Due: yamllint, ci_tests

vrrp support
  netsim/ansible/templates/gateway/exos.j2
  netsim/devices/exos.py
  netsim/devices/exos.yml
Due: yamllint, ci_tests

MTU and RA
  netsim/ansible/templates/initial/exos.j2
  netsim/devices/exos.yml
Due: yamllint, ci_tests

OSPF fix Vlan
  netsim/ansible/templates/ospf/exos.ospfv2.j2
  netsim/ansible/templates/ospf/exos.ospfv3.j2
Due: none

yaml trailing spaces
  netsim/devices/exos.yml
Due: yamllint, ci_tests

add new exos features in documentation
  docs/platforms.md
Due: none

netlab status - unknown instead of error
  netsim/cli/status.py
Due: ci_tests

Redo FRR BGP-in-VRF integration test
  _html/coverage.vrf.html
  _html/frr-clab-vrf.html
  _html/frr-clab.html
  _html/frr.html
  frr/clab/vrf/12-multi-vrf-bgp.yml-initial.log
  frr/clab/vrf/12-multi-vrf-bgp.yml-up.log
  frr/clab/vrf/12-multi-vrf-bgp.yml-validate.log
  frr/clab/vrf/cleanup-down.log
  frr/clab/vrf/results.yaml
  index.html
Due: yamllint, ci_tests

Minor fixes:
  docs/caveats.md
  docs/module/gateway.md
  docs/module/ospf.md
  docs/module/vlan.md
  docs/platforms.md
  netsim/devices/exos.py
  netsim/devices/exos.yml
Due: yamllint, ci_tests

Fix: Remove extra parameter in EXOS OSPFv2 timer configuration
  netsim/ansible/templates/ospf/exos.ospfv2.j2
Due: none

Doc fix: EOS 'sh' config mode works only on recent EOS releases
  docs/platforms.md
Due: none

add wait timers for EXOS
  netsim/ansible/tasks/deploy-config/eos.yml
  netsim/devices/exos.yml
Due: yamllint, ci_tests

attempt at vlan1 quirk for EXOS
  netsim/devices/exos.py
Due: ci_tests

Revert deploy-config/eos.yml
  netsim/ansible/tasks/deploy-config/eos.yml
Due: yamllint, ci_tests

Code cleanup
  netsim/ansible/templates/vlan/exos.j2
  netsim/devices/exos.py
Due: ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
