Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Make clab default mgmt IPv6 subnet multilab-aware (#3751)
  docs/plugins/multilab.md
  netsim/defaults/multilab.yml
  netsim/providers/clab.yml
  netsim/templates/provider/clab/clab.j2
Due: yamllint, ci_tests

Linux container tests for #3752
  _html/linux-clab-initial.html
  _html/linux-clab-routing.html
  _html/linux-clab.html
  _html/linux.html
  frr/clab/tunnel/01-gre.yml-up.log
  frr/clab/tunnel/02-gre-vrf.yml-up.log
  frr/clab/tunnel/11-wireguard.yml-up.log
  frr/clab/tunnel/12-wireguard-vrf.yml-up.log
  index.html
  linux/clab/initial/01-interfaces.yml-create.log
  linux/clab/initial/01-interfaces.yml-initial.log
  linux/clab/initial/01-interfaces.yml-up.log
  linux/clab/initial/01-interfaces.yml-validate.log
  linux/clab/initial/02-loopback.yml-create.log
  linux/clab/initial/02-loopback.yml-initial.log
  linux/clab/initial/02-loopback.yml-up.log
  linux/clab/initial/02-loopback.yml-validate.log
  linux/clab/initial/03-unnumbered.yml-create.log
  linux/clab/initial/05-host.yml-create.log
  linux/clab/initial/05-host.yml-initial.log
  linux/clab/initial/05-host.yml-up.log
  linux/clab/initial/05-host.yml-validate.log
  linux/clab/initial/06-bridge.yml-create.log
  linux/clab/initial/06-bridge.yml-initial.log
  linux/clab/initial/06-bridge.yml-up.log
  linux/clab/initial/07-router.yml-create.log
  linux/clab/initial/10-reload.yml-create.log
  linux/clab/initial/cleanup-down.log
  linux/clab/initial/results.yaml
  linux/clab/routing/20-static.yml-create.log
  linux/clab/routing/20-static.yml-initial.log
  linux/clab/routing/20-static.yml-up.log
  linux/clab/routing/20-static.yml-validate.log
  linux/clab/routing/22-static-inter-vrf.yml-create.log
  linux/clab/routing/23-static-indirect.yml-create.log
  linux/clab/routing/24-static-indirect-inter-vrf.yml-create.log
  linux/clab/routing/30-acl-ipv4.yml-create.log
  linux/clab/routing/31-acl-ipv6.yml-create.log
  linux/clab/routing/cleanup-down.log
  linux/clab/routing/results.yaml
Due: yamllint, ci_tests

Fix Copilot-identified errors in integration test
  tests/platform-integration/clab/02-mac-ip.yml
Due: yamllint, ci_tests

clab platform tests for #3752
  _html/platform-clab.html
  platform/clab/01-links.yml-initial.log
  platform/clab/01-links.yml-up.log
  platform/clab/01-links.yml-validate.log
  platform/clab/02-mac-ip.yml-create.log
  platform/clab/02-mac-ip.yml-initial.log
  platform/clab/02-mac-ip.yml-up.log
  platform/clab/02-mac-ip.yml-validate.log
  platform/clab/03-port-fwd.yml-up.log
  platform/clab/04-kind.yml-initial.log
  platform/clab/04-kind.yml-up.log
  platform/clab/cleanup-down.log
  platform/clab/results.yaml
Due: yamllint, ci_tests

Disable RA listener on Linux container mgmt interface (#3752)
  docs/labs/linux.md
  docs/release/26.08.md
  netsim/ansible/templates/initial/linux/vanilla.j2
  tests/platform-integration/clab/02-mac-ip.yml
Due: yamllint, ci_tests

Fix: Calculate the end of SRGB to simplify Jinja2 templates
  docs/module/sr-mpls.md
  netsim/ansible/templates/sr/frr.j2
  netsim/ansible/templates/sr/srlinux.j2
  netsim/ansible/templates/sr/sros.j2
  netsim/devices/srlinux.yml
  netsim/modules/sr.py
  netsim/modules/sr.yml
  tests/coverage/expected/migrated-attr.yml
Due: yamllint, ci_tests

Fix doc typo
  docs/module/sr-mpls.md
Due: none

Fix: Calculate the end of SRGB to simplify Jinja2 templates (#3749)
  docs/module/sr-mpls.md
  netsim/ansible/templates/sr/frr.j2
  netsim/ansible/templates/sr/srlinux.j2
  netsim/ansible/templates/sr/sros.j2
  netsim/devices/srlinux.yml
  netsim/modules/sr.py
  netsim/modules/sr.yml
  tests/coverage/expected/migrated-attr.yml
Due: yamllint, ci_tests

Configurable SR-MPLS SRGB on EOS, IOS/XE, IOS/XR
  docs/caveats.md
  netsim/ansible/templates/sr/eos.j2
  netsim/ansible/templates/sr/ios.j2
  netsim/ansible/templates/sr/iosxr.j2
  netsim/modules/sr.py
  tests/integration/sr/01-isis-ipv4-p.yml
  tests/integration/sr/21-ospf-ipv4-p.yml
Due: yamllint, ci_tests

Update coverage test results
  tests/coverage/expected/migrated-attr.yml
Due: yamllint, ci_tests

Configurable SR-MPLS SRGB on EOS, IOS/XE, IOS/XR (#3753)
  docs/caveats.md
  netsim/ansible/templates/sr/eos.j2
  netsim/ansible/templates/sr/ios.j2
  netsim/ansible/templates/sr/iosxr.j2
  netsim/modules/sr.py
  tests/coverage/expected/migrated-attr.yml
  tests/integration/sr/01-isis-ipv4-p.yml
  tests/integration/sr/21-ospf-ipv4-p.yml
Due: yamllint, ci_tests

Fix the IPv6 loopback prefix in integration test
  tests/integration/tunnel/11-wireguard.yml
Due: yamllint, ci_tests

OpenBSD tunnel tests for #3750
  _html/coverage.tunnel.html
  _html/openbsd-libvirt-tunnel.html
  _html/openbsd-libvirt.html
  _html/openbsd.html
  _html/release-coverage.html
  index.html
  openbsd/libvirt/tunnel/01-gre.yml-validate.log
  openbsd/libvirt/tunnel/03-wireguard.yml-create.log
  openbsd/libvirt/tunnel/04-wireguard-vrf.yml-create.log
  openbsd/libvirt/tunnel/11-wireguard.yml-create.log
  openbsd/libvirt/tunnel/11-wireguard.yml-initial.log
  openbsd/libvirt/tunnel/11-wireguard.yml-up.log
  openbsd/libvirt/tunnel/11-wireguard.yml-validate.log
  openbsd/libvirt/tunnel/12-wireguard-vrf.yml-create.log
  openbsd/libvirt/tunnel/cleanup-down.log
  openbsd/libvirt/tunnel/results.yaml
Due: yamllint, ci_tests

OpenBSD Wireguard implementation (#3750)
  netsim/ansible/templates/initial/openbsd-ifconfig.j2
  netsim/devices/openbsd.yml
  netsim/extra/tunnel/wireguard/openbsd.initial.j2
  netsim/extra/tunnel/wireguard/openbsd.j2
  tests/integration/tunnel/11-wireguard.yml
Due: yamllint, ci_tests

Fix: Add link to ArcOS installation document
  docs/labs/clab.md
Due: none

Use "features" table in WireGuard documentation
  docs/plugins/tunnel.wireguard.md
Due: none

Use "features" table in tunnel.gre documentation
  docs/plugins/tunnel.gre.md
  netsim/devices/vjunos-router.yml
Due: yamllint, ci_tests

Use linkid to select tunnel source interface
  docs/plugins/tunnel.gre.md
  docs/plugins/tunnel.wireguard.md
  netsim/extra/tunnel/__init__.py
  netsim/extra/tunnel/_p2p.py
  netsim/extra/tunnel/gre/defaults.yml
  netsim/extra/tunnel/wireguard/defaults.yml
  tests/coverage/errors/gre-support.log
  tests/coverage/errors/gre-support.yml
  tests/coverage/expected/gre-source.yml
  tests/coverage/input/gre-source.yml
  tests/integration/tunnel/01-gre.yml
Due: yamllint, ci_tests

Cleanup the documentation
  docs/plugins/tunnel.gre.md
  docs/plugins/tunnel.wireguard.md
Due: none

Use linkid to select tunnel source interface (#3743)
  docs/plugins/tunnel.gre.md
  docs/plugins/tunnel.wireguard.md
  netsim/extra/tunnel/__init__.py
  netsim/extra/tunnel/_p2p.py
  netsim/extra/tunnel/gre/defaults.yml
  netsim/extra/tunnel/wireguard/defaults.yml
  tests/coverage/errors/gre-support.log
  tests/coverage/errors/gre-support.yml
  tests/coverage/expected/gre-source.yml
  tests/coverage/input/gre-source.yml
  tests/integration/tunnel/01-gre.yml
Due: yamllint, ci_tests

GRE tunnel developer documentation
  docs/dev/config/index.md
  docs/dev/config/tunnel.gre.md
Due: none

Update documentation after recent GRE PRs
  docs/dev/config/tunnel.gre.md
Due: none

GRE tunnel developer documentation (#3715)
  docs/dev/config/index.md
  docs/dev/config/tunnel.gre.md
Due: none

Fix: Delay between disabling RA and deleting IPv6 default
  netsim/ansible/templates/initial/linux/vanilla.j2
Due: none

Doc: Use "features" table for SRv6 module documentation
  docs/module/srv6.md
  docs/release.md
  docs/release/26.05.md
Due: none

Fix: Flush IPv6 default route on Linux
  netsim/ansible/templates/initial/linux/vanilla.j2
Due: none

Change Sphinx requirements
  docs/requirements.txt
Due: none

Fixing typos
  docs/module/srv6.md
Due: none

Doc: Use "features" table for SRv6 module documentation (#3755)
  docs/module/srv6.md
  docs/release.md
  docs/release/26.05.md
Due: none

DNS client test: add ping cmd for BIRD
  tests/integration/services/01-dns-client.yml
Due: yamllint, ci_tests

Release 26.08
  README.md
  docs/release.md
  docs/release/26.08.md
  netsim/__init__.py
Due: ci_tests

Fixing typos
  docs/release/26.08.md
Due: none

Release 26.08 (#3754)
  README.md
  docs/release.md
  docs/release/26.08.md
  netsim/__init__.py
Due: ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
