Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

vPTX[B]: Support for vJunosEVO release 24/25 (#2673/#2678)
  docs/caveats.md
  netsim/devices/vptx.yml
  netsim/install/libvirt/vptx.xml.j2
  netsim/templates/provider/libvirt/vptx-domain.j2
Due: yamllint, ci_tests

SRLinux: Use Linux-style /etc/hosts files
  netsim/devices/srlinux.yml
  netsim/templates/provider/clab/srlinux/hosts-common.j2
  netsim/templates/provider/clab/srlinux/hosts.j2
Due: yamllint, ci_tests

Implement per-VRF control of IGP address families
  docs/module/routing_protocols.md
  docs/module/vrf.md
  netsim/modules/_routing.py
  netsim/modules/isis.yml
  netsim/modules/ospf.yml
  netsim/modules/ripv2.yml
  tests/topology/expected/vrf-igp.yml
  tests/topology/input/vrf-igp.yml
Due: yamllint, ci_tests

SRLinux: Use Linux-style /etc/hosts files (#2677)
  netsim/devices/srlinux.yml
  netsim/templates/provider/clab/srlinux/hosts-common.j2
  netsim/templates/provider/clab/srlinux/hosts.j2
Due: yamllint, ci_tests

Add missing 'bgp.as_list.name' attribute we lost in the mists of time
  docs/module/bgp.md
  netsim/modules/bgp.yml
  netsim/outputs/_graph.py
Due: yamllint, ci_tests

Further cleanup, removing unnecessary code identified by @jbemmel
  netsim/modules/_routing.py
Due: ci_tests

Implement per-VRF control of IGP address families (#2679)
  docs/module/routing_protocols.md
  docs/module/vrf.md
  netsim/modules/_routing.py
  netsim/modules/isis.yml
  netsim/modules/ospf.yml
  netsim/modules/ripv2.yml
  tests/topology/expected/vrf-igp.yml
  tests/topology/input/vrf-igp.yml
Due: yamllint, ci_tests

Allow wildcard- and regular expressions in group members
  netsim/augment/groups.py
Due: ci_tests

Document the glob/regexp group members
  docs/groups.md
Due: none

Add capability for device/provider-specific test limits
  run-tests.py
Due: ci_tests

Enable initial/01 containerlab test for devices with vrnetlab support
  setup.yml
Due: yamllint, ci_tests

Fix Cat8000v and IOSvL2 container image names
  netsim/devices/cat8000v.yml
  netsim/devices/iosvl2.yml
Due: yamllint, ci_tests

Release 25.09-post1 (fixing Ansible-induced crash)
  README.md
  docs/release.md
  docs/release/25.09.md
  legacy/setup.py
  netsim/__init__.py
  netsim/cli/version.py
  netsim/install/ansible.sh
Due: ci_tests

Add wildcard and regexp group members to test cases
  tests/topology/input/group-data-vlan.yml
  tests/topology/input/group-data-vrf.yml
Due: yamllint, ci_tests

Release 25.09-post1 (fixing Ansible-induced crash) (#2684)
  README.md
  docs/release.md
  docs/release/25.09.md
  legacy/setup.py
  netsim/__init__.py
  netsim/cli/version.py
  netsim/install/ansible.sh
Due: ci_tests

Add tc command description to usage.txt. (#2670)
  netsim/cli/usage.txt
Due: none

Fix: Use iterator on ipaddress IPv6 hosts to keep mypy happy
  netsim/modules/srv6.py
Due: ci_tests

Bump cEOS image name to the latest cEOS release
  netsim/devices/eos.yml
  tests/topology/input/group-data-vrf.yml
Due: yamllint, ci_tests

Add missing 'bgp.as_list.name' attribute we lost in the mists of time (#2680)
  docs/module/bgp.md
  netsim/modules/bgp.yml
  netsim/outputs/_graph.py
Due: yamllint, ci_tests

Allow wildcard- and regular expressions in group members (#2681)
  docs/groups.md
  netsim/augment/groups.py
  tests/topology/input/group-data-vlan.yml
  tests/topology/input/group-data-vrf.yml
Due: yamllint, ci_tests

bgp.as_list support for wildcard/regexp member/rr attributes
  docs/groups.md
  docs/module/bgp.md
  netsim/augment/groups.py
  netsim/modules/bgp.py
  netsim/modules/bgp.yml
  tests/errors/bgp-as-list-attr.log
  tests/errors/bgp-as-list-semantics.log
  tests/errors/bgp-as-list-semantics.yml
  tests/topology/input/bgp-members.yml
Due: yamllint, ci_tests

Use shared select_output_file in output modules
  netsim/outputs/__init__.py
  netsim/outputs/d2.py
  netsim/outputs/graph.py
  netsim/outputs/pickle.py
  netsim/outputs/provider.py
  netsim/outputs/report.py
  netsim/outputs/yaml.py
Due: ci_tests

Cleanup clab group_vars for IOS-like devices
  netsim/devices/csr.yml
  netsim/devices/iol.yml
  netsim/devices/ios.yml
  netsim/devices/iosv.yml
  netsim/devices/iosvl2.yml
Due: yamllint, ci_tests

Initial configuration of IOS-like devices for #2689
  _html/cat8000v-clab-initial.html
  _html/csr-clab-initial.html
  _html/iol-clab-initial.html
  _html/ioll2-clab-initial.html
  _html/iosv-clab-initial.html
  _html/iosvl2-clab-initial.html
  cat8000v/clab/initial/01-interfaces.yml-initial.log
  cat8000v/clab/initial/01-interfaces.yml-snapshot.yml
  cat8000v/clab/initial/01-interfaces.yml-up.log
  cat8000v/clab/initial/cleanup-down.log
  cat8000v/clab/initial/results.yaml
  csr/clab/initial/01-interfaces.yml-initial.log
  csr/clab/initial/01-interfaces.yml-snapshot.yml
  csr/clab/initial/01-interfaces.yml-up.log
  csr/clab/initial/cleanup-down.log
  csr/clab/initial/results.yaml
  iol/clab/initial/01-interfaces.yml-initial.log
  iol/clab/initial/01-interfaces.yml-snapshot.yml
  iol/clab/initial/01-interfaces.yml-up.log
  iol/clab/initial/cleanup-down.log
  iol/clab/initial/results.yaml
  ioll2/clab/initial/01-interfaces.yml-initial.log
  ioll2/clab/initial/01-interfaces.yml-snapshot.yml
  ioll2/clab/initial/01-interfaces.yml-up.log
  ioll2/clab/initial/01-interfaces.yml-validate.log
  ioll2/clab/initial/cleanup-down.log
  ioll2/clab/initial/results.yaml
  iosv/clab/initial/01-interfaces.yml-initial.log
  iosv/clab/initial/01-interfaces.yml-snapshot.yml
  iosv/clab/initial/01-interfaces.yml-up.log
  iosv/clab/initial/cleanup-down.log
  iosv/clab/initial/results.yaml
  iosvl2/clab/initial/01-interfaces.yml-initial.log
  iosvl2/clab/initial/01-interfaces.yml-snapshot.yml
  iosvl2/clab/initial/01-interfaces.yml-up.log
  iosvl2/clab/initial/01-interfaces.yml-validate.log
  iosvl2/clab/initial/cleanup-down.log
  iosvl2/clab/initial/results.yaml
Due: yamllint, ci_tests

Cleanup clab group_vars for IOS-like devices (#2689)
  netsim/devices/csr.yml
  netsim/devices/iol.yml
  netsim/devices/ios.yml
  netsim/devices/iosv.yml
  netsim/devices/iosvl2.yml
Due: yamllint, ci_tests

Add '--debug: paths' option to help troubleshoot custom templates
  docs/customize.md
  docs/dev/config/deploy.md
  netsim/augment/config.py
  netsim/cli/__init__.py
  netsim/utils/files.py
Due: ci_tests

Compute VRRP MAC/LLA addresses in gateway module
  netsim/ansible/templates/gateway/arubacx.j2
  netsim/ansible/templates/gateway/cumulus_nvue.j2
  netsim/ansible/templates/gateway/dellos10.j2
  netsim/ansible/templates/gateway/frr.j2
  netsim/ansible/templates/gateway/frr.vrrp-config.j2
  netsim/ansible/templates/gateway/ios.j2
  netsim/ansible/templates/gateway/nxos.j2
  netsim/ansible/templates/gateway/sros.j2
  netsim/modules/gateway.py
  tests/topology/expected/lag-l3.yml
  tests/topology/expected/vlan-vrrp.yml
  tests/topology/expected/vrrp-interface-granularity.yml
Due: yamllint, ci_tests

Compute VRRP MAC/LLA addresses in gateway module (#2691)
  netsim/ansible/templates/gateway/arubacx.j2
  netsim/ansible/templates/gateway/cumulus_nvue.j2
  netsim/ansible/templates/gateway/dellos10.j2
  netsim/ansible/templates/gateway/frr.j2
  netsim/ansible/templates/gateway/frr.vrrp-config.j2
  netsim/ansible/templates/gateway/ios.j2
  netsim/ansible/templates/gateway/nxos.j2
  netsim/ansible/templates/gateway/sros.j2
  netsim/modules/gateway.py
  tests/topology/expected/lag-l3.yml
  tests/topology/expected/vlan-vrrp.yml
  tests/topology/expected/vrrp-interface-granularity.yml
Due: yamllint, ci_tests
