Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Fix: vPTX (who else) needs longer for IPv6 interfaces to wake up
  tests/integration/initial/01-interfaces.yml
Due: yamllint, ci_tests

Release 25.12
  README.md
  docs/netlab/validate.md
  docs/release.md
  docs/release/25.12.md
  docs/release/25.x.md
  legacy/setup.py
  netsim/__init__.py
Due: ci_tests

Release 25.12 (#2892)
  README.md
  docs/netlab/validate.md
  docs/release.md
  docs/release/25.12.md
  docs/release/25.x.md
  legacy/setup.py
  netsim/__init__.py
Due: ci_tests

netlab install should stringify environment values (release 25.12.01)
  README.md
  docs/release.md
  docs/release/25.12.md
  legacy/setup.py
  netsim/__init__.py
  netsim/cli/install.py
  netsim/providers/clab.yml
Due: yamllint, ci_tests

[Doc] Clean up duplicate ToC entries
  docs/dev/plugins.md
  docs/dev/transform.md
  docs/example/addressing-tutorial.md
  docs/example/link-definition.md
  docs/index.md
  docs/install.md
  docs/install/linux.md
  docs/install/ubuntu-vm.md
  docs/install/ubuntu.md
  docs/labs/libvirt.md
  docs/links.md
  docs/module/bgp.md
  docs/plugins.md
  docs/plugins/bgp.originate.md
  docs/topology-reference.md
  docs/tutorials.md
Due: none

[Doc] Clean up duplicate ToC entries (#2894)
  docs/dev/plugins.md
  docs/dev/transform.md
  docs/example/addressing-tutorial.md
  docs/example/link-definition.md
  docs/index.md
  docs/install.md
  docs/install/linux.md
  docs/install/ubuntu-vm.md
  docs/install/ubuntu.md
  docs/labs/libvirt.md
  docs/links.md
  docs/module/bgp.md
  docs/plugins.md
  docs/plugins/bgp.originate.md
  docs/topology-reference.md
  docs/tutorials.md
Due: none

Fix: correct containerlab release is 0.72.0
  netsim/providers/clab.yml
Due: yamllint, ci_tests

Release 25.12.02
  README.md
  docs/labs/clab.md
  docs/release.md
  docs/release/25.12.md
  legacy/setup.py
  netsim/__init__.py
Due: ci_tests

Generalize _daemon_config mechanism
  netsim/ansible/create-config.ansible
  netsim/ansible/initial-config.ansible
  netsim/ansible/tasks/deploy-module.yml
  netsim/augment/nodes.py
  netsim/providers/clab.py
  tests/topology/expected/dhcp-server-on-segment.yml
  tests/topology/expected/dhcp-vlan.yml
Due: yamllint, ci_tests

Implement Copilot suggestion
  netsim/ansible/initial-config.ansible
Due: none

Generalize _daemon_config mechanism (#2896)
  netsim/ansible/create-config.ansible
  netsim/ansible/initial-config.ansible
  netsim/ansible/tasks/deploy-module.yml
  netsim/augment/nodes.py
  netsim/providers/clab.py
  tests/topology/expected/dhcp-server-on-segment.yml
  tests/topology/expected/dhcp-vlan.yml
Due: yamllint, ci_tests

Fix: Check 'skip modules' list when creating custom configs
  netsim/ansible/create-config.ansible
Due: none

Refactor 'find config template' code
  netsim/cli/initial_actions/configs.py
  netsim/providers/__init__.py
  netsim/utils/files.py
  netsim/utils/templates.py
  tests/utils.py
Due: ci_tests

Implement Copilot suggestions
  netsim/cli/initial_actions/configs.py
  netsim/providers/__init__.py
  netsim/utils/files.py
  tests/utils.py
Due: ci_tests

Refactor 'find config template' code (#2897)
  netsim/cli/initial_actions/configs.py
  netsim/providers/__init__.py
  netsim/utils/files.py
  netsim/utils/templates.py
  tests/utils.py
Due: ci_tests

RF: Move initial.py into netsim/cli/initial/__init__.py
  netsim/cli/initial/__init__.py
  netsim/cli/initial/configs.py
  netsim/cli/initial/utils.py
Due: ci_tests

RF: Move initial.py into netsim/cli/initial/__init__.py (#2898)
  netsim/cli/initial/__init__.py
  netsim/cli/initial/configs.py
  netsim/cli/initial/utils.py
Due: ci_tests

Fix: Start Ansible from 'netlab initial -o' only when needed
  netsim/cli/initial/configs.py
Due: ci_tests

Update netsim/cli/initial/configs.py
  netsim/cli/initial/configs.py
Due: ci_tests

Fix: Start Ansible from 'netlab initial -o' only when needed (#2899)
  netsim/cli/initial/configs.py
Due: ci_tests

Fix: Remove Jinja2 'default' calculation from default system paths
  netsim/defaults/paths.yml
Due: yamllint, ci_tests

Use Ansible file search lists for daemon/node config files
  netsim/ansible/templates/initial/bird-clab.j2
  netsim/ansible/templates/vlan/linux-clab.j2
  netsim/augment/config.py
  netsim/cli/initial/configs.py
  netsim/daemons/bird/initial.j2
  netsim/daemons/bird/lag.j2
  netsim/daemons/bird/vlan.j2
  netsim/outputs/common.py
  netsim/providers/__init__.py
  netsim/utils/files.py
  netsim/utils/templates.py
Due: ci_tests

Add profiling support to netlab create command
  netsim/cli/create.py
Due: ci_tests

Add profiling utilities and documentation
  docs/dev/profile.md
  netsim/utils/profile.py
Due: ci_tests

Add JSON cache integration to create command
  netsim/cli/create.py
  netsim/utils/read.py
Due: ci_tests

Add JSON schema for consolidated cache validation
  netsim/utils/consolidate_schema.json
Due: none

Add consolidate command and consolidation logic
  netsim/cli/consolidate.py
  netsim/utils/consolidate.py
Due: ci_tests

Extend JSON schema with comprehensive content validation
  netsim/utils/consolidate_schema.json
Due: none

Add netlab version tracking to JSON cache
  docs/netlab/consolidate.md
  netsim/utils/consolidate.py
  netsim/utils/consolidate_schema.json
  netsim/utils/read.py
Due: ci_tests

Fix ruff linting errors
  docs/netlab/create.md
  netsim/cli/create.py
  netsim/utils/profile.py
Due: ci_tests

Fix mypy type checking errors
  netsim/utils/profile.py
Due: ci_tests

Add JSON cache support to pytest tests via conftest.py
  .github/workflows/t-pull.yml
  tests/conftest.py
Due: yamllint, ci_tests

Fix mypy and ruff linting errors
  netsim/cli/create.py
  netsim/utils/consolidate.py
  netsim/utils/read.py
Due: ci_tests

Fix import sorting with ruff auto-fix
  netsim/cli/consolidate.py
  netsim/cli/create.py
  netsim/utils/consolidate.py
  tests/conftest.py
Due: ci_tests

Add --json-cache option to netlab up command
  netsim/cli/create.py
Due: ci_tests

Update documentation for --json-cache in netlab up
  docs/netlab/consolidate.md
  docs/netlab/up.md
Due: none

Fix mypy error: handle potential None value in json_cache
  netsim/utils/read.py
Due: ci_tests
