Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Add device quirk and documentation, simplify config template
  docs/caveats.md
  docs/module/ospf.md
  docs/platforms.md
  netsim/ansible/templates/ospf/asa.ospfv2.j2
  netsim/devices/asav.py
Due: ci_tests

ASAv: Add OSPFv2 support (#2906)
  docs/caveats.md
  docs/module/ospf.md
  docs/platforms.md
  netsim/ansible/templates/ospf/asa.j2
  netsim/ansible/templates/ospf/asa.ospfv2.j2
  netsim/devices/asav.py
  netsim/devices/asav.yml
Due: yamllint, ci_tests

Optimize loading of package defaults with a pickle file
  netsim/utils/files.py
  netsim/utils/read.py
Due: ci_tests

Implement Copilot suggestions
  netsim/utils/read.py
Due: ci_tests

Optimize loading of package defaults with a pickle file (#2914)
  netsim/utils/files.py
  netsim/utils/read.py
Due: ci_tests

Add YANG validation feature for topology files
  .github/workflows/t-pull.yml
  MANIFEST.in
  docs/defaults.md
  docs/netlab/consolidate.md
  docs/netlab/up.md
  netsim/cli/consolidate.py
  netsim/cli/create.py
  netsim/cli/yang.py
  netsim/cli/yang_validator.py
  netsim/utils/consolidate.py
  netsim/utils/consolidate_schema.json
  netsim/utils/read.py
  netsim/yang/netlab-topology.yang
  requirements.txt
  tests/check-integration-tests.sh
  tests/conftest.py
Due: yamllint, ci_tests

Fix: Update yangson requirement to latest available version (1.4.19)
  requirements.txt
Due: none

Fix: Add type annotations for mypy compliance
  netsim/cli/yang_validator.py
Due: ci_tests

Recreate node config files in netlab initial if templates changed (#2907)
  netsim/cli/external_commands.py
  netsim/cli/initial/configs.py
  netsim/cli/initial/deploy.py
  netsim/cli/initial/templates.py
  netsim/cli/initial/utils.py
Due: ci_tests

Use mgmt.ipv4 as ansible_host for containers with SSH servers (#2913)
  netsim/outputs/ansible.py
  netsim/outputs/common.py
Due: ci_tests

Improved 'netlab version' printout (#2912)
  netsim/cli/version.py
Due: ci_tests

Release 25.12.03
  README.md
  docs/release.md
  docs/release/25.12.md
  legacy/setup.py
  netsim/__init__.py
Due: ci_tests

Final initial configuration tests for release 25.12.03
  _html/eos-clab-initial.html
  _html/eos-libvirt-initial.html
  _html/frr-clab-initial.html
  _html/frr-libvirt-initial.html
  eos/clab/initial/01-interfaces.yml-create.log
  eos/clab/initial/01-interfaces.yml-initial.log
  eos/clab/initial/01-interfaces.yml-snapshot.yml
  eos/clab/initial/01-interfaces.yml-up.log
  eos/clab/initial/01-interfaces.yml-validate.log
  eos/clab/initial/cleanup-down.log
  eos/clab/initial/results.yaml
  eos/libvirt/initial/01-interfaces.yml-create.log
  eos/libvirt/initial/01-interfaces.yml-initial.log
  eos/libvirt/initial/01-interfaces.yml-snapshot.yml
  eos/libvirt/initial/01-interfaces.yml-up.log
  eos/libvirt/initial/cleanup-down.log
  eos/libvirt/initial/results.yaml
  frr/clab/initial/01-interfaces.yml-create.log
  frr/clab/initial/01-interfaces.yml-initial.log
  frr/clab/initial/01-interfaces.yml-snapshot.yml
  frr/clab/initial/01-interfaces.yml-up.log
  frr/clab/initial/01-interfaces.yml-validate.log
  frr/clab/initial/cleanup-down.log
  frr/clab/initial/results.yaml
  frr/libvirt/initial/01-interfaces.yml-create.log
  frr/libvirt/initial/01-interfaces.yml-initial.log
  frr/libvirt/initial/01-interfaces.yml-snapshot.yml
  frr/libvirt/initial/01-interfaces.yml-up.log
  frr/libvirt/initial/cleanup-down.log
  frr/libvirt/initial/results.yaml
Due: yamllint, ci_tests

Fix: ruamel refuses to dump a pathlib.Path object into a YAML file
  netsim/utils/read.py
Due: ci_tests

Move normalization of interface descriptions to device quirks
  netsim/ansible/templates/initial/srlinux.j2
  netsim/ansible/templates/vlan/srlinux.j2
  netsim/devices/srlinux.py
Due: ci_tests

Optimize interface description normalization in SR Linux quirks
  netsim/devices/srlinux.py
Due: ci_tests

SR Linux interface/VLAN tests for #2926
  _html/release-coverage.html
  _html/srlinux-clab-initial.html
  _html/srlinux-clab-vlan.html
  srlinux/clab/initial/01-interfaces.yml-initial.log
  srlinux/clab/initial/01-interfaces.yml-snapshot.yml
  srlinux/clab/initial/01-interfaces.yml-up.log
  srlinux/clab/initial/01-interfaces.yml-validate.log
  srlinux/clab/initial/cleanup-down.log
  srlinux/clab/initial/results.yaml
  srlinux/clab/vlan/21-vlan-irb-single.yml-create.log
  srlinux/clab/vlan/21-vlan-irb-single.yml-initial.log
  srlinux/clab/vlan/21-vlan-irb-single.yml-snapshot.yml
  srlinux/clab/vlan/21-vlan-irb-single.yml-up.log
  srlinux/clab/vlan/21-vlan-irb-single.yml-validate.log
  srlinux/clab/vlan/cleanup-down.log
  srlinux/clab/vlan/results.yaml
Due: yamllint, ci_tests

SRLinux: Move normalization of interface descriptions to device quirks (#2926)
  netsim/ansible/templates/initial/srlinux.j2
  netsim/ansible/templates/vlan/srlinux.j2
  netsim/devices/srlinux.py
Due: ci_tests

Simplify STP configuration templates by normalizing data model
  netsim/ansible/templates/stp/cumulus_nvue.j2
  netsim/ansible/templates/stp/dellos10.j2
  netsim/modules/stp.py
Due: ci_tests

Cleanup _has_stp_config helper attribute from topology
  netsim/modules/stp.py
Due: ci_tests

Update transformation tests to accept the new internal attribute
  netsim/modules/stp.py
  tests/topology/expected/lag-l2.yml
  tests/topology/expected/stp-port-type.yml
  tests/topology/expected/stp.yml
Due: yamllint, ci_tests

Clean up router_id tests in templates
  netsim/ansible/templates/bgp/arubacx.j2
  netsim/ansible/templates/bgp/asa.j2
  netsim/ansible/templates/bgp/cumulus_nvue.j2
  netsim/ansible/templates/bgp/dellos10.j2
  netsim/ansible/templates/bgp/eos.j2
  netsim/ansible/templates/bgp/frr.j2
  netsim/ansible/templates/bgp/ios.j2
  netsim/ansible/templates/bgp/junos.j2
  netsim/ansible/templates/bgp/nxos.j2
  netsim/ansible/templates/bgp/routeros.j2
  netsim/ansible/templates/bgp/routeros7.j2
  netsim/ansible/templates/bgp/vyos.j2
  netsim/ansible/templates/eigrp/ios.j2
  netsim/ansible/templates/eigrp/nxos.j2
  netsim/ansible/templates/ospf/arubacx.ospfv2.j2
  netsim/ansible/templates/ospf/asa.ospfv2.j2
  netsim/ansible/templates/ospf/cumulus.ospfv2.j2
  netsim/ansible/templates/ospf/dellos10.ospfv2.j2
  netsim/ansible/templates/ospf/eos.ospfv2.j2
  netsim/ansible/templates/ospf/frr.ospfv2.j2
  netsim/ansible/templates/ospf/ios.ospfv2.j2
  netsim/ansible/templates/ospf/iosxr.j2
  netsim/ansible/templates/ospf/junos.j2
  netsim/ansible/templates/ospf/nxos.ospfv2.j2
  netsim/ansible/templates/ospf/nxos.ospfv3.j2
  netsim/ansible/templates/ospf/openbsd.ospfv2.j2
  netsim/ansible/templates/ospf/routeros.j2
  netsim/ansible/templates/ospf/routeros7.ospf-include.j2
  netsim/ansible/templates/ospf/vyos.ospfv2.j2
  netsim/ansible/templates/ospf/vyos.ospfv3.j2
  netsim/ansible/templates/vrf/junos.bgp.j2
  netsim/ansible/templates/vrf/junos.j2
  netsim/ansible/templates/vrf/nxos.bgp.j2
  netsim/ansible/templates/vrf/nxos.ospfv2-vrf.j2
  netsim/ansible/templates/vrf/routeros7.bgp.j2
  netsim/ansible/templates/vrf/vyos.ospfv2-vrf.j2
  netsim/ansible/templates/vrf/vyos.ospfv3-vrf.j2
Due: none

NVUE: Set system MAC to mgmt MAC
  netsim/ansible/templates/initial/cumulus_nvue.j2
Due: none

Add test cases for router_id inconsistencies
  tests/router_id_inconsistencies/.gitignore
  tests/router_id_inconsistencies/README.md
  tests/router_id_inconsistencies/router_id_inconsistencies.md
  tests/router_id_inconsistencies/test-bgp-vrf-router-id.yml
  tests/router_id_inconsistencies/test-ospf-vrf-router-id.yml
  tests/router_id_inconsistencies/test-router-id-scenarios.yml
  tests/router_id_inconsistencies/verify_router_id.py
  tests/router_id_inconsistencies/verify_router_id.sh
Due: yamllint, ci_tests

NVUE: Set system MAC to mgmt MAC (#2934)
  netsim/ansible/templates/initial/cumulus_nvue.j2
Due: none

Simplify STP configuration templates by normalizing data model (#2927)
  netsim/ansible/templates/stp/cumulus_nvue.j2
  netsim/ansible/templates/stp/dellos10.j2
  netsim/modules/stp.py
  tests/topology/expected/lag-l2.yml
  tests/topology/expected/stp-port-type.yml
  tests/topology/expected/stp.yml
Due: yamllint, ci_tests

Remove correct templates from router_id_inconsistencies.md
  tests/router_id_inconsistencies/router_id_inconsistencies.md
Due: none

Fix links indentation in test-router-id-scenarios.yml
  tests/router_id_inconsistencies/test-router-id-scenarios.yml
Due: yamllint, ci_tests

Fix links indentation in test topology files
  tests/router_id_inconsistencies/test-bgp-vrf-router-id.yml
  tests/router_id_inconsistencies/test-ospf-vrf-router-id.yml
Due: yamllint, ci_tests

Collect OSPF areas in Python code (#2925)
  netsim/ansible/templates/ospf/fortinet.fortios.fortios.j2
  netsim/ansible/templates/ospf/iosxr.j2
  netsim/ansible/templates/ospf/openbsd.ospfv2.j2
  netsim/ansible/templates/ospf/openbsd.ospfv3.j2
  netsim/ansible/templates/ospf/sros.j2
  netsim/modules/ospf.py
Due: ci_tests

Fix type annotations in OSPF area collection functions
  netsim/modules/ospf.py
Due: ci_tests

Add mypy pre-commit hook
  .pre-commit-config.yaml
Due: yamllint, ci_tests

Fix type annotations to use typing.Set and typing.Dict
  netsim/modules/ospf.py
Due: ci_tests

Fix loopback check to handle boolean values
  netsim/modules/ospf.py
Due: ci_tests

Update transformation tests
  tests/topology/expected/anycast-gateway.yml
  tests/topology/expected/bgp-anycast.yml
  tests/topology/expected/bgp-autogroup.yml
  tests/topology/expected/bgp-confederation.yml
  tests/topology/expected/bgp-ibgp-localas.yml
  tests/topology/expected/bgp-ibgp.yml
  tests/topology/expected/bgp-sessions.yml
  tests/topology/expected/bgp.yml
  tests/topology/expected/bridge-module-attr.yml
  tests/topology/expected/components.yml
  tests/topology/expected/dhcp-vlan.yml
  tests/topology/expected/evpn-asymmetric-irb-ospf.yml
  tests/topology/expected/evpn-l3vni-only.yml
  tests/topology/expected/evpn-vxlan.yml
  tests/topology/expected/extra-attr-link.yml
  tests/topology/expected/group-data-vlan.yml
  tests/topology/expected/group-data-vrf.yml
  tests/topology/expected/groups-hierarchy.yml
  tests/topology/expected/groups-vlan-vrf.yml
  tests/topology/expected/id.yml
  tests/topology/expected/igp-af.yml
  tests/topology/expected/igp-ospf-isis-eigrp-disable.yml
  tests/topology/expected/libvirt-clab-complex.yml
  tests/topology/expected/mpls.yml
  tests/topology/expected/ospf-bfd-test.yml
  tests/topology/expected/ospf.yml
  tests/topology/expected/vlan-access-links.yml
  tests/topology/expected/vlan-access-single.yml
  tests/topology/expected/vlan-routed-access.yml
  tests/topology/expected/vlan-router-stick.yml
  tests/topology/expected/vlan-trunk-native.yml
  tests/topology/expected/vlan-vrf-lite.yml
  tests/topology/expected/vrf-igp.yml
  tests/topology/expected/vrf-links.yml
  tests/topology/expected/vrf-routing-blocks.yml
  tests/topology/expected/vrf.yml
  tests/topology/expected/vxlan-router-stick.yml
  tests/topology/expected/vxlan-static.yml
  tests/topology/expected/vxlan-vrf-lite.yml
Due: yamllint, ci_tests

Update coverage tests too
  tests/coverage/expected/device-node-defaults.yml
  tests/coverage/expected/link-formats.yml
  tests/coverage/expected/link-group.yml
  tests/coverage/expected/module-node-global-params.yml
  tests/coverage/expected/module-node-params.yml
  tests/coverage/expected/rt-vlan-native-routed.yml
Due: yamllint, ci_tests
