Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Fix: Ensure the VRF BGP data always has 'neighbors' list
  netsim/modules/vrf.py
  tests/topology/expected/vrf.yml
Due: yamllint, ci_tests

Added VLAN module platform support
  docs/module/vlan.md
Due: none

Add OpenBSD VLAN support (#3596)
  docs/module/vlan.md
  docs/platforms.md
  netsim/ansible/templates/initial/openbsd-ifconfig.j2
  netsim/ansible/templates/initial/openbsd.j2
  netsim/ansible/templates/ospf/openbsd.ospfv2.j2
  netsim/ansible/templates/ospf/openbsd.ospfv3.j2
  netsim/ansible/templates/vlan/openbsd.j2
  netsim/devices/openbsd.yml
Due: yamllint, ci_tests

Fix: Ensure the VRF BGP data always has 'neighbors' list (#3614)
  netsim/modules/vrf.py
  tests/topology/expected/vrf.yml
Due: yamllint, ci_tests

Fix command syntax, interface parameters, and documentation
  docs/module/bfd.md
  docs/module/ospf.md
  netsim/ansible/templates/bfd/routeros7.j2
Due: none

RouterOS7 OSPFv2/OSPFv3 tests for #3495
  _html/routeros7-libvirt-ospf-ospfv2.html
  _html/routeros7-libvirt-ospf-ospfv3.html
  _html/routeros7-libvirt-ospf.html
  _html/routeros7-libvirt.html
  _html/routeros7.html
  index.html
  routeros7/libvirt/ospf/ospfv2/01-network.yml-initial.log
  routeros7/libvirt/ospf/ospfv2/01-network.yml-validate.log
  routeros7/libvirt/ospf/ospfv2/02-areas.yml-initial.log
  routeros7/libvirt/ospf/ospfv2/02-areas.yml-up.log
  routeros7/libvirt/ospf/ospfv2/02-areas.yml-validate.log
  routeros7/libvirt/ospf/ospfv2/42-bfd.yml-create.log
  routeros7/libvirt/ospf/ospfv2/42-bfd.yml-initial.log
  routeros7/libvirt/ospf/ospfv2/42-bfd.yml-up.log
  routeros7/libvirt/ospf/ospfv2/42-bfd.yml-validate.log
  routeros7/libvirt/ospf/ospfv2/cleanup-down.log
  routeros7/libvirt/ospf/ospfv2/results.yaml
  routeros7/libvirt/ospf/ospfv3/01-network.yml-initial.log
  routeros7/libvirt/ospf/ospfv3/01-network.yml-up.log
  routeros7/libvirt/ospf/ospfv3/02-areas.yml-initial.log
  routeros7/libvirt/ospf/ospfv3/02-areas.yml-up.log
  routeros7/libvirt/ospf/ospfv3/02-areas.yml-validate.log
  routeros7/libvirt/ospf/ospfv3/42-bfd.yml-create.log
  routeros7/libvirt/ospf/ospfv3/42-bfd.yml-initial.log
  routeros7/libvirt/ospf/ospfv3/42-bfd.yml-up.log
  routeros7/libvirt/ospf/ospfv3/42-bfd.yml-validate.log
  routeros7/libvirt/ospf/ospfv3/cleanup-down.log
  routeros7/libvirt/ospf/ospfv3/results.yaml
Due: yamllint, ci_tests

Add BFD (OSPF) support for RouterOS7 (#3495)
  docs/module/bfd.md
  docs/module/ospf.md
  netsim/ansible/templates/bfd/routeros7.j2
  netsim/ansible/templates/ospf/routeros7.ospf-include.j2
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

RouterOS7 VXLAN support
  docs/module/vxlan.md
  docs/platforms.md
  netsim/ansible/templates/vxlan/routeros7.j2
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

RouterOS7 VXLAN tests for #3615
  _html/coverage.vxlan.html
  _html/release-coverage.html
  _html/routeros7-libvirt-vxlan.html
  _html/routeros7-libvirt.html
  _html/routeros7.html
  index.html
  routeros7/libvirt/vxlan/01-vxlan-bridging.yml-create.log
  routeros7/libvirt/vxlan/01-vxlan-bridging.yml-initial.log
  routeros7/libvirt/vxlan/01-vxlan-bridging.yml-up.log
  routeros7/libvirt/vxlan/01-vxlan-bridging.yml-validate.log
  routeros7/libvirt/vxlan/02-vxlan-bridging-multinode.yml-create.log
  routeros7/libvirt/vxlan/02-vxlan-bridging-multinode.yml-initial.log
  routeros7/libvirt/vxlan/02-vxlan-bridging-multinode.yml-up.log
  routeros7/libvirt/vxlan/02-vxlan-bridging-multinode.yml-validate.log
  routeros7/libvirt/vxlan/03-vxlan-irb.yml-create.log
  routeros7/libvirt/vxlan/03-vxlan-irb.yml-initial.log
  routeros7/libvirt/vxlan/03-vxlan-irb.yml-up.log
  routeros7/libvirt/vxlan/03-vxlan-irb.yml-validate.log
  routeros7/libvirt/vxlan/04-vxlan-irb-ospf.yml-create.log
  routeros7/libvirt/vxlan/04-vxlan-irb-ospf.yml-initial.log
  routeros7/libvirt/vxlan/04-vxlan-irb-ospf.yml-up.log
  routeros7/libvirt/vxlan/04-vxlan-irb-ospf.yml-validate.log
  routeros7/libvirt/vxlan/05-vxlan-router-stick.yml-create.log
  routeros7/libvirt/vxlan/05-vxlan-router-stick.yml-initial.log
  routeros7/libvirt/vxlan/05-vxlan-router-stick.yml-up.log
  routeros7/libvirt/vxlan/05-vxlan-router-stick.yml-validate.log
  routeros7/libvirt/vxlan/07-vxlan-bridging-v6only.yml-create.log
  routeros7/libvirt/vxlan/08-vxlan-alt-vtep.yml-create.log
  routeros7/libvirt/vxlan/08-vxlan-alt-vtep.yml-initial.log
  routeros7/libvirt/vxlan/08-vxlan-alt-vtep.yml-up.log
  routeros7/libvirt/vxlan/08-vxlan-alt-vtep.yml-validate.log
  routeros7/libvirt/vxlan/cleanup-down.log
  routeros7/libvirt/vxlan/results.yaml
Due: yamllint, ci_tests

after dos2unix
  netsim/ansible/templates/vxlan/routeros7.j2
Due: none

Fixing a typo
  docs/module/vxlan.md
Due: none

RouterOS7 VXLAN support (#3615)
  docs/module/vxlan.md
  docs/platforms.md
  netsim/ansible/templates/vxlan/routeros7.j2
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

Make bgp_neighbor_details validation parameters platform-independent
  netsim/validate/bgp/eos.py
  netsim/validate/bgp/frr.py
  tests/integration/bgp.session/10-timers.yml
  tests/platform-integration/validate/12-bgp-neighbor-parameter.yml
Due: yamllint, ci_tests

Fix: Use unit conversion only when necessary
  netsim/validate/bgp/eos.py
  netsim/validate/bgp/frr.py
Due: ci_tests

Platform/FRR BGP timers tests for #3616
  _html/frr-clab-bgp.session.html
  _html/platform-validate.html
  _html/platform.html
  frr/clab/bgp.session/10-timers.yml-initial.log
  frr/clab/bgp.session/10-timers.yml-up.log
  frr/clab/bgp.session/cleanup-down.log
  frr/clab/bgp.session/results.yaml
  index.html
  platform/validate/10-bgp-neighbor.yml-initial.log
  platform/validate/10-bgp-neighbor.yml-up.log
  platform/validate/10-bgp-neighbor.yml-validate.log
  platform/validate/11-bgp-neighbor-details.yml-initial.log
  platform/validate/11-bgp-neighbor-details.yml-up.log
  platform/validate/11-bgp-neighbor-details.yml-validate.log
  platform/validate/12-bgp-neighbor-parameter.yml-create.log
  platform/validate/12-bgp-neighbor-parameter.yml-initial.log
  platform/validate/12-bgp-neighbor-parameter.yml-up.log
  platform/validate/12-bgp-neighbor-parameter.yml-validate.log
  platform/validate/cleanup-down.log
  platform/validate/results.yaml
Due: yamllint, ci_tests

Make bgp_neighbor_details validation parameters platform-independent (#3616)
  netsim/validate/bgp/eos.py
  netsim/validate/bgp/frr.py
  tests/integration/bgp.session/10-timers.yml
  tests/platform-integration/validate/12-bgp-neighbor-parameter.yml
Due: yamllint, ci_tests

Fix: Make bgp_neighbor_details validation VRF-aware
  netsim/validate/bgp/eos.py
  netsim/validate/bgp/frr.py
  tests/platform-integration/validate/11-bgp-neighbor-details.yml
  tests/platform-integration/validate/12-bgp-neighbor-parameter.yml
Due: yamllint, ci_tests

bgp_neighbor_details tests for #3617
  _html/platform-validate.html
  platform/validate/11-bgp-neighbor-details.yml-create.log
  platform/validate/11-bgp-neighbor-details.yml-initial.log
  platform/validate/11-bgp-neighbor-details.yml-up.log
  platform/validate/11-bgp-neighbor-details.yml-validate.log
  platform/validate/12-bgp-neighbor-parameter.yml-create.log
  platform/validate/12-bgp-neighbor-parameter.yml-initial.log
  platform/validate/12-bgp-neighbor-parameter.yml-up.log
  platform/validate/12-bgp-neighbor-parameter.yml-validate.log
  platform/validate/cleanup-down.log
  platform/validate/results.yaml
Due: yamllint, ci_tests

Add VTEP6 support for RouterOS7
  docs/module/vxlan.md
  netsim/ansible/templates/vxlan/routeros7.j2
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

Fixing the test message
  tests/platform-integration/validate/11-bgp-neighbor-details.yml
Due: yamllint, ci_tests

Fix: Make bgp_neighbor_details validation VRF-aware (#3617)
  netsim/validate/bgp/eos.py
  netsim/validate/bgp/frr.py
  tests/platform-integration/validate/11-bgp-neighbor-details.yml
  tests/platform-integration/validate/12-bgp-neighbor-parameter.yml
Due: yamllint, ci_tests

Doc fix: Explain how to increase the 'netlab initial' wait times
  docs/netlab/initial.md
Due: none

RouterOS7 VXLAN tests for #3618
  _html/coverage.vxlan.html
  _html/routeros7-libvirt-vxlan.html
  _html/routeros7-libvirt.html
  _html/routeros7.html
  index.html
  routeros7/libvirt/vxlan/01-vxlan-bridging.yml-up.log
  routeros7/libvirt/vxlan/02-vxlan-bridging-multinode.yml-initial.log
  routeros7/libvirt/vxlan/02-vxlan-bridging-multinode.yml-up.log
  routeros7/libvirt/vxlan/02-vxlan-bridging-multinode.yml-validate.log
  routeros7/libvirt/vxlan/03-vxlan-irb.yml-initial.log
  routeros7/libvirt/vxlan/03-vxlan-irb.yml-validate.log
  routeros7/libvirt/vxlan/04-vxlan-irb-ospf.yml-initial.log
  routeros7/libvirt/vxlan/04-vxlan-irb-ospf.yml-up.log
  routeros7/libvirt/vxlan/05-vxlan-router-stick.yml-initial.log
  routeros7/libvirt/vxlan/05-vxlan-router-stick.yml-up.log
  routeros7/libvirt/vxlan/05-vxlan-router-stick.yml-validate.log
  routeros7/libvirt/vxlan/07-vxlan-bridging-v6only.yml-create.log
  routeros7/libvirt/vxlan/07-vxlan-bridging-v6only.yml-initial.log
  routeros7/libvirt/vxlan/07-vxlan-bridging-v6only.yml-up.log
  routeros7/libvirt/vxlan/07-vxlan-bridging-v6only.yml-validate.log
  routeros7/libvirt/vxlan/08-vxlan-alt-vtep.yml-initial.log
  routeros7/libvirt/vxlan/08-vxlan-alt-vtep.yml-up.log
  routeros7/libvirt/vxlan/cleanup-down.log
  routeros7/libvirt/vxlan/results.yaml
Due: yamllint, ci_tests

Add VTEP6 support for RouterOS7 (#3618)
  docs/module/vxlan.md
  netsim/ansible/templates/vxlan/routeros7.j2
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

Clarify BIRD OSPFv3 GR helper wait time comment.
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

Add BIRD OSPF graceful restart support.
  docs/module/ospf.md
  netsim/daemons/bird.yml
  netsim/daemons/bird/ospf.macros.j2
Due: yamllint, ci_tests

Add pre-GR stabilization wait to OSPFv3 helper test.
  tests/integration/ospf/ospfv3/41-gr.yml
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

Reset XGR OSPFv3 daemon after GR test for repeatable runs.
  tests/integration/ospf/ospfv3/41-gr.yml
Due: yamllint, ci_tests

Give BIRD five seconds to stabilize before OSPFv3 GR test.
  tests/integration/ospf/ospfv3/41-gr.yml
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

Fix a typo
  docs/netlab/initial.md
Due: none

Doc fix: Explain how to increase the 'netlab initial' wait times (#3619)
  docs/netlab/initial.md
Due: none

Add BFD to bgp_sessions test
  _html/coverage.bgp.session.html
  _html/release-coverage.html
  index.html
  map-tests.yml
Due: yamllint, ci_tests

Align OSPF GR tests on prepare-then-kill restart flow.
  tests/integration/ospf/ospfv2/41-gr.yml
  tests/integration/ospf/ospfv2/README.md
  tests/integration/ospf/ospfv3/41-gr.yml
  tests/integration/ospf/ospfv3/README.md
Due: yamllint, ci_tests

Add BFD and GR to OSPFv2/OSPFv3 tests
  _html/coverage.ospfv2.html
  _html/coverage.ospfv3.html
  _html/release-coverage.html
  index.html
  map-tests.yml
Due: yamllint, ci_tests

Revert verbose GR test notes from OSPF integration READMEs.
  tests/integration/ospf/ospfv2/README.md
  tests/integration/ospf/ospfv3/README.md
Due: none

Doc fix: Update BFD-for-BGP support table
  docs/module/bfd.md
Due: none

Fixing a typo, adding pointers to integration test results
  docs/module/bfd.md
Due: none

Doc fix: Update BFD-for-BGP support table (#3620)
  docs/module/bfd.md
Due: none
