Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Fix: Remove obscure Ansible J2 filters from CL NVUE templates (#2946)
  netsim/ansible/templates/evpn/cumulus_nvue.j2
  netsim/ansible/templates/lag/cumulus_nvue.j2
  netsim/ansible/templates/vrf/cumulus_nvue.j2
  netsim/modules/lag.py
Due: ci_tests

RouterOS7: Fix VLAN routed subinterfaces, cleanup config templates
  netsim/ansible/templates/bgp/routeros7.macro.j2
  netsim/ansible/templates/initial/routeros.vrf.j2
  netsim/ansible/templates/initial/routeros7.vlan.j2
  netsim/ansible/templates/initial/routeros7.vrf.j2
  netsim/ansible/templates/ospf/routeros7.j2
  netsim/ansible/templates/ospf/routeros7.ospf-include.j2
Due: none

Implement Copilot suggestions
  netsim/utils/filters.py
Due: ci_tests

Fix RouterOS7 loopback interface name
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

combine, difference and to_yaml Jinja2 filters (+ bug fixes) (#2947)
  netsim/utils/filters.py
Due: ci_tests

Fix: Cleanup RouterOS 6 templates
  netsim/ansible/templates/bgp/routeros.macro.j2
  netsim/ansible/templates/initial/routeros.vrf.j2
  netsim/ansible/templates/ospf/routeros.j2
  netsim/ansible/templates/vrf/routeros.bgp.j2
  netsim/ansible/templates/vrf/routeros.ospfv2-vrf.j2
Due: none

Fix: Cleanup RouterOS 6 templates (#2949)
  netsim/ansible/templates/bgp/routeros.macro.j2
  netsim/ansible/templates/initial/routeros.vrf.j2
  netsim/ansible/templates/ospf/routeros.j2
  netsim/ansible/templates/vrf/routeros.bgp.j2
  netsim/ansible/templates/vrf/routeros.ospfv2-vrf.j2
Due: none

Use VRF OSPF data when configuring VRF OSPF instance
  netsim/ansible/templates/vrf/routeros7.ospfv2-vrf.j2
Due: none

RouterOS7: Fix VLAN routed subinterfaces, cleanup config templates (#2948)
  netsim/ansible/templates/bgp/routeros7.macro.j2
  netsim/ansible/templates/initial/routeros7.vlan.j2
  netsim/ansible/templates/initial/routeros7.vrf.j2
  netsim/ansible/templates/ospf/routeros7.j2
  netsim/ansible/templates/ospf/routeros7.ospf-include.j2
  netsim/ansible/templates/vrf/routeros7.ospfv2-vrf.j2
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

Use internal templating engine for 'netlab initial -o' command
  netsim/cli/initial/__init__.py
  netsim/cli/initial/configs.py
  netsim/cli/initial/utils.py
  tests/recheck-internal-configs.sh
  tests/test-internal-config.sh
Due: ci_tests

Copilot nits
  netsim/cli/initial/__init__.py
  netsim/cli/initial/configs.py
  tests/test-internal-config.sh
Due: ci_tests

Fix: Apply 'wait for SSH server' to all IOS XR containers
  netsim/devices/cisco8000v.yml
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Use internal templating engine for 'netlab initial -o' command (#2950)
  netsim/cli/initial/__init__.py
  netsim/cli/initial/configs.py
  netsim/cli/initial/utils.py
  tests/recheck-internal-configs.sh
  tests/test-internal-config.sh
Due: ci_tests

Fix: Add a unique timestamp to topology data structure
  netsim/cli/__init__.py
  netsim/utils/read.py
Due: ci_tests

Fix: Add a unique timestamp to topology data structure (#2953)
  netsim/cli/__init__.py
  netsim/utils/read.py
Due: ci_tests

Make config snippets and other node files provider-independent
  docs/release/26.01.md
  netsim/cli/down.py
  netsim/cli/initial/configs.py
  netsim/cli/initial/deploy.py
  netsim/cli/initial/templates.py
  netsim/defaults/automation.yml
  netsim/providers/__init__.py
  netsim/providers/clab.py
  netsim/utils/templates.py
  tests/coverage/expected/device-module-defaults.yml
  tests/coverage/expected/device-node-defaults.yml
  tests/topology/expected/bridge-module-attr.yml
  tests/topology/expected/components.yml
  tests/topology/expected/dhcp-server-on-segment.yml
  tests/topology/expected/dhcp-vlan.yml
  tests/topology/expected/group-ansible-variables.yml
  tests/topology/expected/libvirt-clab-complex.yml
  tests/topology/expected/stp-port-type.yml
  tests/topology/expected/stp.yml
  tests/topology/expected/vlan-access-links.yml
  tests/topology/expected/vlan-access-single.yml
  tests/topology/expected/vlan-routed-multiprovider.yml
  tests/topology/expected/vlan-routed-vrf.yml
  tests/utils.py
Due: yamllint, ci_tests

Fixing (important) nits
  tests/utils.py
Due: ci_tests

Make config snippets and other node files provider-independent (#2954)
  docs/release/26.01.md
  netsim/cli/down.py
  netsim/cli/initial/configs.py
  netsim/cli/initial/deploy.py
  netsim/cli/initial/templates.py
  netsim/defaults/automation.yml
  netsim/providers/__init__.py
  netsim/providers/clab.py
  netsim/utils/templates.py
  tests/coverage/expected/device-module-defaults.yml
  tests/coverage/expected/device-node-defaults.yml
  tests/topology/expected/bridge-module-attr.yml
  tests/topology/expected/components.yml
  tests/topology/expected/dhcp-server-on-segment.yml
  tests/topology/expected/dhcp-vlan.yml
  tests/topology/expected/group-ansible-variables.yml
  tests/topology/expected/libvirt-clab-complex.yml
  tests/topology/expected/stp-port-type.yml
  tests/topology/expected/stp.yml
  tests/topology/expected/vlan-access-links.yml
  tests/topology/expected/vlan-access-single.yml
  tests/topology/expected/vlan-routed-multiprovider.yml
  tests/topology/expected/vlan-routed-vrf.yml
  tests/utils.py
Due: yamllint, ci_tests

Fix: Compare string values of current and pickled system default paths
  netsim/utils/read.py
Due: ci_tests

Fix: make ipaddr filter available under ansible.netcommon prefix
  netsim/utils/templates.py
Due: ci_tests

Document changes in device configuration templates
  docs/dev/guidelines.md
  docs/dev/templates.md
  docs/release/26.01.md
Due: none

Fixing nits
  docs/dev/templates.md
Due: none

Document changes in device configuration templates (#2955)
  docs/dev/guidelines.md
  docs/dev/templates.md
  docs/release/26.01.md
Due: none

Fix the command descriptions in numerous source files
  netsim/cli/clab.py
  netsim/cli/clab_actions/build.py
  netsim/cli/clab_actions/cleanup.py
  netsim/cli/clab_actions/tarball.py
  netsim/cli/down.py
  netsim/cli/graph.py
  netsim/cli/install.py
  netsim/cli/libvirt.py
  netsim/cli/libvirt_actions/config.py
  netsim/cli/libvirt_actions/package.py
  netsim/cli/libvirt_actions/remove.py
  netsim/cli/read.py
  netsim/cli/show.py
  netsim/cli/show_commands/defaults.py
  netsim/cli/status.py
  netsim/cli/test.py
  netsim/cli/validate/devices.py
  netsim/cli/validate/plugin.py
  netsim/cli/validate/source.py
  netsim/cli/validate/suzieq.py
  netsim/cli/validate/tests.py
  netsim/cli/version.py
Due: ci_tests

Fix: Make one VRF in IPv6 BGP-in-VRF integration test IPv6-only
  tests/integration/vrf/22-multi-vrf-bgp-ipv6.yml
Due: yamllint, ci_tests

Fix: Light cleanup of RP router_id handling
  docs/dev/config/bgp.md
  docs/dev/config/ospf.md
  docs/dev/config/vrf.md
  netsim/ansible/templates/bgp/junos.j2
  netsim/ansible/templates/bgp/srlinux.macro.j2
  netsim/ansible/templates/evpn/sros.j2
  netsim/ansible/templates/vrf/junos.bgp.j2
  netsim/ansible/templates/vrf/nxos.bgp.j2
  netsim/ansible/templates/vrf/vyos.ospfv2-vrf.j2
  netsim/ansible/templates/vrf/vyos.ospfv3-vrf.j2
Due: none

Doc: more details on using paramiko with Cisco IOS/IOS-XE
  docs/caveats.md
  docs/platforms.md
Due: none

Implementing a review nit
  netsim/ansible/templates/evpn/sros.j2
Due: none

Fix: Light cleanup of RP router_id handling (#2960)
  docs/dev/config/bgp.md
  docs/dev/config/ospf.md
  docs/dev/config/vrf.md
  netsim/ansible/templates/bgp/junos.j2
  netsim/ansible/templates/bgp/srlinux.macro.j2
  netsim/ansible/templates/evpn/sros.j2
  netsim/ansible/templates/vrf/junos.bgp.j2
  netsim/ansible/templates/vrf/nxos.bgp.j2
  netsim/ansible/templates/vrf/vyos.ospfv2-vrf.j2
  netsim/ansible/templates/vrf/vyos.ospfv3-vrf.j2
Due: none

Generate config snippets in 'netlab initial', deploy with Ansible
  netsim/ansible/initial-config.ansible
  netsim/cli/ansible.py
  netsim/cli/external_commands.py
  netsim/cli/initial/configs.py
  netsim/cli/initial/deploy.py
  netsim/cli/initial/templates.py
  netsim/devices/eos.yml
  netsim/devices/ioll2.yml
  netsim/devices/iosvl2.yml
  netsim/outputs/ansible.py
  netsim/outputs/common.py
  netsim/providers/__init__.py
  netsim/utils/templates.py
  tests/platform-integration/config/01-initial.yml
Due: yamllint, ci_tests

Generate config snippets in 'netlab initial', deploy with Ansible (#2956)
  netsim/ansible/initial-config.ansible
  netsim/cli/ansible.py
  netsim/cli/external_commands.py
  netsim/cli/initial/configs.py
  netsim/cli/initial/deploy.py
  netsim/cli/initial/templates.py
  netsim/devices/eos.yml
  netsim/devices/ioll2.yml
  netsim/devices/iosvl2.yml
  netsim/outputs/ansible.py
  netsim/outputs/common.py
  netsim/providers/__init__.py
  netsim/utils/templates.py
  tests/platform-integration/config/01-initial.yml
Due: yamllint, ci_tests

Abort clab configuration deployment on first error
  netsim/cli/initial/deploy.py
  netsim/providers/clab.py
Due: ci_tests

Fix: set_fact takes precedence over vars in Ansible release 13
  netsim/ansible/reload-config.ansible
Due: none

Fix: separate '--test' CLI arg from '--debug'
  netsim/cli/__init__.py
  netsim/cli/validate/parse.py
Due: ci_tests

Fix: Junos readyness check needs 'is truthy' to make Ansible 13 happy
  netsim/ansible/tasks/readiness-check/junos.yml
Due: yamllint, ci_tests

netlab config: Add support for Ansible 12+
  netsim/cli/config.py
  tests/platform-integration/config/02-config.yml
  tests/platform-integration/config/04-reload.yml
Due: yamllint, ci_tests

Add support for extra template variables
  docs/netlab/config.md
  netsim/cli/config.py
  netsim/cli/initial/utils.py
Due: ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
