Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Addressed the review comments and fixed an indentation error
  netsim/modules/vrf.py
  tests/errors/vrf-invalid-lb.log
  tests/errors/vrf-loopback-global.log
Due: ci_tests

Use CD-ROM configuration to build FortiOS Vagrant box (#2703)
  docs/labs/fortios.md
  netsim/devices/fortios.yml
  netsim/install/libvirt/fortios.txt
  netsim/install/libvirt/fortios.xml.j2
  netsim/install/libvirt/fortios/openstack/latest/user_data
  netsim/templates/provider/libvirt/fortios-domain.j2
Due: yamllint, ci_tests

Add an explicit loopback IPv4/IPv6 address to a transformation test
  tests/topology/expected/vrf-igp.yml
  tests/topology/input/vrf-igp.yml
Due: yamllint, ci_tests

Implement select IGP parameters on VRF loopbacks (#2714)
  docs/module/vrf.md
  netsim/modules/bgp.yml
  netsim/modules/vrf.py
  netsim/modules/vrf.yml
  tests/errors/vrf-invalid-attr.log
  tests/errors/vrf-invalid-lb.log
  tests/errors/vrf-invalid-lb.yml
  tests/errors/vrf-loopback-global.log
  tests/topology/expected/vrf-igp.yml
  tests/topology/expected/vrf-routing-blocks.yml
  tests/topology/input/vrf-igp.yml
  tests/topology/input/vrf-routing-blocks.yml
Due: yamllint, ci_tests

Fix: Do not assign MAC addresses to routed VLAN member interfaces
  netsim/augment/links.py
  tests/topology/expected/bgp-vrf-local-as.yml
  tests/topology/expected/rt-vlan-native-routed.yml
  tests/topology/expected/vlan-routed-multiprovider.yml
  tests/topology/expected/vlan-router-stick.yml
  tests/topology/expected/vlan-vrf-lite.yml
Due: yamllint, ci_tests

Fix: Linux needs generated MAC addresses on VLAN interfaces
  netsim/devices/linux.yml
Due: yamllint, ci_tests

Fix: Device/provider/include data might not be a box
  run-tests.py
Due: ci_tests

Expose 'graph.format' and 'd2.format' node/link attributes (#2713)
  docs/_static/css/custom.css
  docs/outputs/d2.md
  docs/outputs/graph.md
  netsim/outputs/d2.py
  netsim/outputs/d2.yml
  netsim/outputs/graph.yml
  tests/platform-integration/graph/topo.yml
Due: yamllint, ci_tests

Change the D2 styles to match Graphviz object colors
  docs/outputs/d2.md
  netsim/outputs/d2.py
  netsim/outputs/d2.yml
Due: yamllint, ci_tests

Change the D2 styles to match Graphviz object colors (#2724)
  docs/outputs/d2.md
  netsim/outputs/d2.py
  netsim/outputs/d2.yml
Due: yamllint, ci_tests

Apply different styling to VLAN access/trunk links in topology graphs
  docs/netlab/graph.md
  docs/outputs/d2.md
  docs/outputs/graph.md
  netsim/outputs/_graph.py
  netsim/outputs/d2.py
  netsim/outputs/d2.yml
  netsim/outputs/graph.py
  netsim/outputs/graph.yml
  tests/platform-integration/graph/create-d2.sh
  tests/platform-integration/graph/create-graphviz.sh
  tests/platform-integration/graph/vlan.yml
Due: yamllint, ci_tests

Apply different styling to VLAN access/trunk links in topology graphs (#2725)
  docs/netlab/graph.md
  docs/outputs/d2.md
  docs/outputs/graph.md
  netsim/outputs/_graph.py
  netsim/outputs/d2.py
  netsim/outputs/d2.yml
  netsim/outputs/graph.py
  netsim/outputs/graph.yml
  tests/platform-integration/graph/create-d2.sh
  tests/platform-integration/graph/create-graphviz.sh
  tests/platform-integration/graph/vlan.yml
Due: yamllint, ci_tests

Release 25.10
  README.md
  docs/netlab/graph.md
  docs/release.md
  docs/release/25.10.md
  legacy/setup.py
  netsim/__init__.py
Due: ci_tests

Moving anchors in release notes
  docs/release/25.10.md
  docs/release/release.template
Due: none

Release 25.10 (#2726)
  README.md
  docs/netlab/graph.md
  docs/release.md
  docs/release/25.10.md
  docs/release/release.template
  legacy/setup.py
  netsim/__init__.py
Due: ci_tests

Allow 'mgmt: False' to configure nodes with no management network
  netsim/augment/nodes.py
  netsim/defaults/attributes.yml
  netsim/providers/__init__.py
  netsim/templates/provider/clab/clab.j2
Due: yamllint, ci_tests

Fix a missing whitespace in device-level report
  _reports/devices.html.j2
Due: none

Better way to configure network-mode: none for clab nodes (only)
  docs/labs/clab.md
  netsim/providers/clab.yml
  netsim/templates/provider/clab/clab.j2
Due: yamllint, ci_tests

Skip provisioning eth0 when clab.network-mode=='none'
  netsim/ansible/templates/initial/frr.j2
Due: none

Fix review comment: network-mode other than 'none' still needs a mgmt IP address
  netsim/templates/provider/clab/clab.j2
Due: none

Python: Add integration test support for Python 3.14
  .github/workflows/t-pull.yml
  .github/workflows/t-push.yml
  setup.py
Due: yamllint, ci_tests

Update t-push.yml
  .github/workflows/t-push.yml
Due: yamllint, ci_tests

Python: Add integration test support for Python 3.14 (#2737)
  .github/workflows/t-pull.yml
  .github/workflows/t-push.yml
  setup.py
Due: yamllint, ci_tests

Fix: Handle an edge case of 'template/base' configlet
  netsim/extra/files/plugin.py
Due: ci_tests

Fix: Handle an edge case of 'template/base' configlet (#2738)
  netsim/extra/files/plugin.py
Due: ci_tests

Fix: check IPv4/IPv6 session activation in per-AF BGP graphs
  netsim/outputs/_graph.py
Due: ci_tests

'netlab graph' command can use Graphviz/D2 to create the final image
  docs/netlab/graph.md
  netsim/cli/graph.py
  netsim/defaults/netlab.yml
  netsim/outputs/d2.yml
  netsim/outputs/graph.yml
Due: yamllint, ci_tests

Explain why we'd need 'network-mode' and add integration test
  docs/labs/clab.md
  tests/platform-integration/clab/02-mac-ip.yml
Due: yamllint, ci_tests

Configure network-mode for clab nodes (#2735)
  docs/labs/clab.md
  netsim/ansible/templates/initial/frr.j2
  netsim/providers/clab.yml
  netsim/templates/provider/clab/clab.j2
  tests/platform-integration/clab/02-mac-ip.yml
Due: yamllint, ci_tests

BGP: Avoid EBGP sessions towards peers within same confed sub-AS
  netsim/modules/bgp.py
  tests/topology/expected/bgp-confederation.yml
  tests/topology/input/bgp-confederation.yml
Due: yamllint, ci_tests
