Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, j2lint

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

j2lint:
  name: j2lint
  description: This hook runs j2lint on .j2 files
  entry: j2lint
  language: script

Use j2lint; update initial template
  .pre-commit-config.yaml
Due: yamllint

Update precommit
  .pre-commit-config.yaml
Due: yamllint

Consistent 2-space indent
  netsim/ansible/templates/initial/cumulus_nvue.j2
Due: j2lint

Remove precommit test
  .pre-commit-config.yaml
Due: yamllint

Refactor templates to create all interfaces in initial
  netsim/ansible/templates/initial/cumulus_nvue.j2
  netsim/ansible/templates/lag/cumulus_nvue.j2
  netsim/ansible/templates/vlan/cumulus_nvue.j2
Due: j2lint

Fix: Check for STP being applied to L3 interfaces (#1553)
  netsim/modules/stp.py
  tests/errors/stp-on-l3-intf.log
  tests/errors/stp-on-l3-intf.yml
Due: yamllint

Cumulus NVUE: Basic LAG support (#1545)
  docs/module/lag.md
  netsim/ansible/tasks/deploy-config/cumulus_nvue.yml
  netsim/ansible/templates/initial/cumulus_nvue.j2
  netsim/ansible/templates/lag/cumulus_nvue.j2
  netsim/ansible/templates/vlan/cumulus_nvue.j2
  netsim/devices/cumulus_nvue.yml
  tests/integration/lag/01-l3-lag.yml
Due: yamllint, j2lint

Use 'wrong' order of modules to test that configuration order gets applied correctly
  tests/topology/input/lag-l3-access-vlan.yml
Due: yamllint

Don't let vlan module remove lag settings
  netsim/modules/vlan.yml
Due: yamllint

Clarify that STP params need to be applied to LAG interface
  tests/topology/input/lag-l3.yml
Due: yamllint

Optimal configuration order is device dependent: OS10 requires vlan before lag, but FRR needs lag (bond) before vlan...
  netsim/devices/dellos10.yml
  netsim/modules/lag.yml
Due: yamllint

Disallow 'lag' attributes on member interfaces
  netsim/modules/lag.py
Due: none

Test that LACP parameters are preserved when using VLANs
  tests/integration/lag/02-lag-vlan-trunk.yml
Due: yamllint

Update test results
  tests/topology/expected/lag-l3-access-vlan.yml
  tests/topology/expected/lag-l3-vlan-trunk.yml
  tests/topology/expected/lag-l3.yml
Due: yamllint

Cleanup physical interfaces to only have lag._parentindex
  netsim/ansible/templates/initial/dellos10.j2
  netsim/modules/lag.py
  netsim/modules/lag.yml
  tests/topology/expected/lag-l3-vlan-trunk.yml
  tests/topology/expected/lag-l3.yml
Due: yamllint, j2lint

Update test results: * Don't copy/set 'virtual_interface' flag for vlan_members * Don't copy STP parameters to lag member links
  tests/topology/expected/bgp-vrf-local-as.yml
  tests/topology/expected/groups-vlan-vrf.yml
  tests/topology/expected/lag-l3-vlan-trunk.yml
  tests/topology/expected/lag-l3.yml
  tests/topology/expected/rt-vlan-mode-link-route.yml
  tests/topology/expected/rt-vlan-native-routed.yml
  tests/topology/expected/rt-vlan-role-unnumbered.yml
  tests/topology/expected/vlan-mode-priority.yml
  tests/topology/expected/vlan-native-routed.yml
  tests/topology/expected/vlan-routed-multiprovider.yml
  tests/topology/expected/vlan-routed-vrf.yml
  tests/topology/expected/vlan-router-stick.yml
  tests/topology/expected/vlan-trunk-native.yml
  tests/topology/expected/vlan-vrf-lite.yml
  tests/topology/expected/vrf-leaking-loop.yml
Due: yamllint

Fix Dell OS10 switchport settings for L2/L3 interfaces
  netsim/ansible/templates/initial/dellos10.j2
  tests/topology/expected/lag-l3.yml
  tests/topology/input/lag-l3.yml
Due: yamllint, j2lint

Prevent VLAN module from removing 'virtual_interface' attribute on lag interfaces
  netsim/ansible/templates/initial/dellos10.j2
  netsim/modules/lag.py
  netsim/modules/vlan.yml
Due: yamllint, j2lint

Correct expected outcome; LACP should be 'off'
  tests/topology/expected/lag-l3-access-vlan.yml
Due: yamllint

Updated after feedback
  netsim/devices/dellos10.yml
  netsim/modules/lag.yml
  netsim/modules/vlan.yml
Due: yamllint

Copy STP settings too
  netsim/modules/lag.yml
  tests/topology/expected/lag-l3-access-vlan.yml
  tests/topology/expected/lag-l3.yml
  tests/topology/input/lag-l3-access-vlan.yml
  tests/topology/input/lag-l3.yml
Due: yamllint

Don't apply STP to L3 interfaces
  tests/topology/input/lag-l3.yml
Due: yamllint

Restore virtual_interface flag on vlan_members
  netsim/modules/vlan.yml
  tests/topology/expected/bgp-vrf-local-as.yml
  tests/topology/expected/groups-vlan-vrf.yml
  tests/topology/expected/lag-l3-vlan-trunk.yml
  tests/topology/expected/rt-vlan-mode-link-route.yml
  tests/topology/expected/rt-vlan-native-routed.yml
  tests/topology/expected/rt-vlan-role-unnumbered.yml
  tests/topology/expected/vlan-mode-priority.yml
  tests/topology/expected/vlan-native-routed.yml
  tests/topology/expected/vlan-routed-multiprovider.yml
  tests/topology/expected/vlan-routed-vrf.yml
  tests/topology/expected/vlan-router-stick.yml
  tests/topology/expected/vlan-trunk-native.yml
  tests/topology/expected/vlan-vrf-lite.yml
  tests/topology/expected/vrf-leaking-loop.yml
Due: yamllint

Unchanged
  netsim/ansible/templates/initial/dellos10.j2
Due: j2lint

Set default MTU for all providers, not just clab
  netsim/devices/cumulus_nvue.yml
Due: yamllint

Update caveats.md
  docs/caveats.md
Due: none

#1551 unmanaged node
  netsim/providers/__init__.py
Due: none

improved fix
  netsim/providers/__init__.py
Due: none

Fix arg type
  netsim/augment/devices.py
Due: none

Fix deprecated log
  netsim/augment/devices.py
Due: none

Update docs
  docs/platforms.md
  netsim/augment/devices.py
Due: none

Use 5.x consistently
  docs/platforms.md
Due: none

Must generate unique interface names to avoid errors; template uses only 'lo'
  netsim/devices/cumulus_nvue.yml
Due: yamllint

Cumulus_NVUE: Set default MTU for all providers, not just clab (#1555)
  docs/caveats.md
  netsim/devices/cumulus_nvue.yml
Due: yamllint

Fix vrf loopbacks
  netsim/ansible/templates/initial/cumulus_nvue.j2
Due: j2lint

Add multiple loopback support, including vrfs
  docs/platforms.md
  netsim/ansible/templates/initial/cumulus_nvue.j2
  netsim/devices/cumulus_nvue.yml
Due: yamllint, j2lint

Revert to original location
  netsim/devices/cumulus_nvue.yml
Due: yamllint

Include MTU PR
  netsim/devices/cumulus_nvue.yml
Due: yamllint

Don't try to disable ipv6 on vrf loopbacks - it's automatic
  netsim/ansible/templates/initial/cumulus_nvue.j2
Due: j2lint

Fix: skip unmanaged nodes in libvirt provider module (#1552)
  netsim/providers/__init__.py
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  j2lint: any of: \.(j2)$
