Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Fortinet - Getting rid of configuration task lists (#2864)
  docs/caveats.md
  docs/platforms.md
  netsim/ansible/tasks/deploy-config/fortinet.fortios.fortios.yml
  netsim/ansible/tasks/fortinet.fortios.fortios/initial.yml
  netsim/ansible/tasks/fortinet.fortios.fortios/ospf.yml
  netsim/ansible/templates/initial/fortinet.fortios.fortios.j2
  netsim/ansible/templates/ospf/fortinet.fortios.fortios.j2
  netsim/devices/fortios.yml
Due: yamllint, ci_tests

DHCP server tests for #2875
  _html/eos-libvirt-dhcp.html
  _html/release-coverage.html
  eos/libvirt/dhcp/01-ipv4-client.yml-initial.log
  eos/libvirt/dhcp/01-ipv4-client.yml-snapshot.yml
  eos/libvirt/dhcp/01-ipv4-client.yml-up.log
  eos/libvirt/dhcp/03-ipv4-server.yml-initial.log
  eos/libvirt/dhcp/03-ipv4-server.yml-snapshot.yml
  eos/libvirt/dhcp/03-ipv4-server.yml-up.log
  eos/libvirt/dhcp/03-ipv4-server.yml-validate.log
  eos/libvirt/dhcp/04-ipv6-server.yml-initial.log
  eos/libvirt/dhcp/04-ipv6-server.yml-snapshot.yml
  eos/libvirt/dhcp/04-ipv6-server.yml-up.log
  eos/libvirt/dhcp/04-ipv6-server.yml-validate.log
  eos/libvirt/dhcp/11-ipv4-relay.yml-initial.log
  eos/libvirt/dhcp/11-ipv4-relay.yml-snapshot.yml
  eos/libvirt/dhcp/11-ipv4-relay.yml-up.log
  eos/libvirt/dhcp/11-ipv4-relay.yml-validate.log
  eos/libvirt/dhcp/12-ipv6-relay.yml-initial.log
  eos/libvirt/dhcp/12-ipv6-relay.yml-snapshot.yml
  eos/libvirt/dhcp/12-ipv6-relay.yml-up.log
  eos/libvirt/dhcp/12-ipv6-relay.yml-validate.log
  eos/libvirt/dhcp/21-ipv4-relay-vrf-global.yml-initial.log
  eos/libvirt/dhcp/21-ipv4-relay-vrf-global.yml-snapshot.yml
  eos/libvirt/dhcp/21-ipv4-relay-vrf-global.yml-up.log
  eos/libvirt/dhcp/cleanup-down.log
  eos/libvirt/dhcp/results.yaml
Due: yamllint, ci_tests

Check for .sh suffix to identify bash scripts
  netsim/daemons/bird/bird.j2
Due: none

Execute initial configuration script as a daemon config file (#2875)
  netsim/ansible/tasks/deploy-module.yml
  netsim/cli/initial_actions/configs.py
  netsim/daemons/bird.yml
  netsim/daemons/bird/bird.j2
  netsim/daemons/bird/initial.j2
  netsim/providers/__init__.py
  netsim/utils/templates.py
Due: yamllint, ci_tests

Make bird daemon completely Ansible-independent
  netsim/ansible/templates/vlan/frr.j2
  netsim/daemons/bird.yml
  netsim/daemons/bird/config.j2
  netsim/daemons/bird/lag.j2
  netsim/daemons/bird/vlan.j2
  netsim/providers/__init__.py
  netsim/utils/templates.py
Due: yamllint, ci_tests

FRR can be used as a bridge
  docs/platforms.md
  netsim/devices/frr.yml
Due: yamllint, ci_tests

FRR can be used as a bridge (#2883)
  docs/platforms.md
  netsim/devices/frr.yml
Due: yamllint, ci_tests

Implement Copilot suggestion
  netsim/daemons/bird/vlan.j2
Due: none

Make bird daemon completely Ansible-independent (#2882)
  netsim/ansible/templates/vlan/frr.j2
  netsim/daemons/bird.yml
  netsim/daemons/bird/config.j2
  netsim/daemons/bird/lag.j2
  netsim/daemons/bird/vlan.j2
  netsim/providers/__init__.py
  netsim/utils/templates.py
Due: yamllint, ci_tests

Fix: Match the whole test names against 'netlab validate' CLI args
  netsim/cli/validate.py
Due: ci_tests

Fix: Remove support for task-list-only device configuration
  docs/dev/config/deploy.md
  docs/dev/devices.md
  netsim/ansible/tasks/deploy-module.yml
Due: yamllint, ci_tests

Fix: Match the whole test names against 'netlab validate' CLI args (#2884)
  netsim/cli/validate.py
Due: ci_tests

Fix: Copy relevant link module data to interfaces attached to a bridge
  netsim/roles/bridge.py
  tests/topology/expected/bridge-module-attr.yml
  tests/topology/input/bridge-module-attr.yml
Due: yamllint, ci_tests

Fix: Remove support for task-list-only device configuration (#2885)
  docs/dev/config/deploy.md
  docs/dev/devices.md
  netsim/ansible/tasks/deploy-module.yml
Due: yamllint, ci_tests

Split the "validate" command into numerous modules
  netsim/cli/__init__.py
  netsim/cli/validate.py
  netsim/cli/validate/__init__.py
  netsim/cli/validate/devices.py
  netsim/cli/validate/parse.py
  netsim/cli/validate/plugin.py
  netsim/cli/validate/report.py
  netsim/cli/validate/suzieq.py
  netsim/cli/validate/tests.py
  netsim/cli/validate/utils.py
Due: ci_tests

Fix: Copy relevant link module data to interfaces attached to a bridge (#2886)
  netsim/roles/bridge.py
  tests/topology/expected/bridge-module-attr.yml
  tests/topology/input/bridge-module-attr.yml
Due: yamllint, ci_tests

Update netsim/cli/validate/parse.py
  netsim/cli/validate/parse.py
Due: ci_tests

Update netsim/cli/validate/plugin.py
  netsim/cli/validate/plugin.py
Due: ci_tests

Implement Copilot import suggestion
  netsim/cli/validate/report.py
Due: ci_tests

Removing a debugging printout
  netsim/cli/__init__.py
Due: ci_tests

Update netsim/cli/validate/__init__.py
  netsim/cli/validate/__init__.py
Due: ci_tests

Fix the command description
  netsim/cli/validate/parse.py
Due: ci_tests

Doc: Fix the list of commands printed by 'netlab help'
  netsim/cli/usage.txt
Due: none

Split the "validate" command into numerous modules (#2888)
  netsim/cli/__init__.py
  netsim/cli/validate.py
  netsim/cli/validate/__init__.py
  netsim/cli/validate/devices.py
  netsim/cli/validate/parse.py
  netsim/cli/validate/plugin.py
  netsim/cli/validate/report.py
  netsim/cli/validate/suzieq.py
  netsim/cli/validate/tests.py
  netsim/cli/validate/utils.py
Due: ci_tests

Fix: Do not print WARNING or INFO messages in QUIET mode
  netsim/utils/log.py
Due: ci_tests

Reread validation tests from modified lab topology file
  docs/netlab/validate.md
  netsim/cli/__init__.py
  netsim/cli/validate/__init__.py
  netsim/cli/validate/parse.py
  netsim/cli/validate/source.py
Due: ci_tests

Bump containerlab version to 0.72, change Cisco IOSv kind
  docs/labs/clab.md
  netsim/devices/iosv.yml
  netsim/devices/iosvl2.yml
  netsim/install/containerlab.sh
  netsim/providers/clab.yml
Due: yamllint, ci_tests

Add ASAv clab support
  docs/labs/clab.md
  docs/platforms.md
  netsim/ansible/tasks/deploy-config/asa.yml
  netsim/devices/asav.yml
Due: yamllint, ci_tests

Further input file validation checks suggested by Copilot
  netsim/cli/validate/source.py
Due: ci_tests

Reread validation tests from modified lab topology file (#2890)
  docs/netlab/validate.md
  netsim/cli/__init__.py
  netsim/cli/validate/__init__.py
  netsim/cli/validate/parse.py
  netsim/cli/validate/source.py
Due: ci_tests

Bump clab version to 0.72, change Cisco IOSv kind, add ASAv (#2891)
  docs/labs/clab.md
  docs/platforms.md
  netsim/ansible/tasks/deploy-config/asa.yml
  netsim/devices/asav.yml
  netsim/devices/iosv.yml
  netsim/devices/iosvl2.yml
  netsim/install/containerlab.sh
  netsim/providers/clab.yml
Due: yamllint, ci_tests
