Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

EXOS VLAN tests for #3257
  _html/coverage.initial.html
  _html/coverage.vlan.html
  _html/exos-libvirt-initial.html
  _html/exos-libvirt-ospf-ospfv2.html
  _html/exos-libvirt-vlan.html
  _html/exos-libvirt.html
  _html/exos.html
  exos/libvirt/_caveats.yml
  exos/libvirt/initial/08-ra.yml-up.log
  exos/libvirt/initial/08-ra.yml-validate.log
  exos/libvirt/initial/cleanup-down.log
  exos/libvirt/initial/results.yaml
  exos/libvirt/ospf/ospfv2/30-timers.yml-initial.log
  exos/libvirt/ospf/ospfv2/30-timers.yml-up.log
  exos/libvirt/ospf/ospfv2/cleanup-down.log
  exos/libvirt/ospf/ospfv2/results.yaml
  exos/libvirt/vlan/31-vlan-bridge-trunk.yml-create.log
  exos/libvirt/vlan/31-vlan-bridge-trunk.yml-initial.log
  exos/libvirt/vlan/31-vlan-bridge-trunk.yml-up.log
  exos/libvirt/vlan/31-vlan-bridge-trunk.yml-validate.log
  exos/libvirt/vlan/70-vlan-1-trunk.yml-create.log
  exos/libvirt/vlan/70-vlan-1-trunk.yml-initial.log
  exos/libvirt/vlan/70-vlan-1-trunk.yml-up.log
  exos/libvirt/vlan/70-vlan-1-trunk.yml-validate.log
  exos/libvirt/vlan/cleanup-down.log
  exos/libvirt/vlan/results.yaml
  index.html
Due: yamllint, ci_tests

Set exos device support level to match platform.md support table
  netsim/devices/exos.yml
Due: yamllint, ci_tests

Redo EXOS RA test with "flush interfaces" action
  _html/coverage.initial.html
  _html/coverage.ospfv2.html
  _html/exos-libvirt-initial.html
  _html/exos-libvirt-ospf-ospfv2.html
  _html/exos-libvirt.html
  _html/exos.html
  exos/libvirt/_caveats.yml
  exos/libvirt/initial/08-ra.yml-up.log
  exos/libvirt/initial/08-ra.yml-validate.log
  exos/libvirt/initial/cleanup-down.log
  exos/libvirt/initial/results.yaml
  exos/libvirt/ospf/ospfv2/30-timers.yml-initial.log
  exos/libvirt/ospf/ospfv2/30-timers.yml-up.log
  exos/libvirt/ospf/ospfv2/30-timers.yml-validate.log
  exos/libvirt/ospf/ospfv2/cleanup-down.log
  exos/libvirt/ospf/ospfv2/results.yaml
  index.html
Due: yamllint, ci_tests

Fix: Add topology file information to 'netlab status' printout
  netsim/cli/status.py
Due: ci_tests

Enable EVPN with VXLAN-over-IPv6 on FRRouting
  docs/caveats.md
  docs/module/evpn.md
  netsim/devices/frr.yml
  tests/integration/evpn/41-vxlan-ipv6-bridging.yml
Due: yamllint, ci_tests

Add SRv6 BGP IPv4 overlay integration test (no IS-IS underlay)
  tests/integration/srv6/03-srv6-bgp-ipv4.yml
Due: yamllint, ci_tests

srv6: activate BGP AFs for SRv6; allow bgp in srv6.igp
  netsim/modules/srv6.py
  netsim/modules/srv6.yml
Due: yamllint, ci_tests

frr: advertise SRv6 BGP feature support
  netsim/devices/frr.yml
Due: yamllint, ci_tests

srv6 frr: BGP underlay SRv6 templates
  netsim/ansible/templates/srv6/frr.bgp.j2
  netsim/ansible/templates/srv6/frr.j2
Due: none

srv6 frr.j2: optional SRv6 VRF for BGP underlay
  netsim/ansible/templates/srv6/frr.j2
Due: none

tests/srv6: clarify 03-srv6-bgp-ipv4 allowas_in; silence missing_igp
  tests/integration/srv6/03-srv6-bgp-ipv4.yml
Due: yamllint, ci_tests

tests/srv6: add 04-srv6-bgp-ipv6 overlay integration test
  tests/integration/srv6/04-srv6-bgp-ipv6.yml
Due: yamllint, ci_tests

tests/srv6: yamllint 03-srv6-bgp-ipv4 (links indent, comment spacing)
  tests/integration/srv6/03-srv6-bgp-ipv4.yml
Due: yamllint, ci_tests

srv6: drop unused srv6_vpn in configure_bgp_for_srv6
  netsim/modules/srv6.py
Due: ci_tests

Fix: Skip all meta-devices when displaying device/module support
  netsim/cli/show.py
  netsim/cli/show_commands/__init__.py
Due: ci_tests

Check settings were read before using them
  netsim/cli/show.py
Due: ci_tests

Cleanup 'netlab show' directory structure
  netsim/cli/show/__init__.py
  netsim/cli/show/attributes.py
  netsim/cli/show/defaults.py
  netsim/cli/show/devices.py
  netsim/cli/show/images.py
  netsim/cli/show/module_support.py
  netsim/cli/show/modules.py
  netsim/cli/show/outputs.py
  netsim/cli/show/providers.py
  netsim/cli/show/reports.py
  netsim/cli/show/utils.py
Due: ci_tests

Split module support tables into groups and multiple tables
  netsim/cli/show/modules.py
  netsim/cli/show/utils.py
  netsim/modules/bgp.yml
  netsim/modules/sr.yml
Due: yamllint, ci_tests

Fix a mypy complaint
  netsim/cli/show/modules.py
Due: ci_tests

Fix the '--feature' flag handling
  netsim/cli/show/modules.py
  netsim/modules/bgp.yml
Due: yamllint, ci_tests

Fixing final nits + code comments
  netsim/cli/show/modules.py
  netsim/cli/show/utils.py
Due: ci_tests

Set bgp.advertise feature flag for Junos, Cumulus and SoNIC
  netsim/devices/cumulus.yml
  netsim/devices/junos.yml
  netsim/devices/sonic.yml
Due: yamllint, ci_tests

Implement bgp.advertise for Bird daemon
  netsim/daemons/bird.yml
  netsim/daemons/bird/bgp.j2
Due: yamllint, ci_tests

Implement bgp.advertise on VyOS
  netsim/ansible/templates/bgp/vyos.j2
  netsim/ansible/templates/vrf/vyos.bgp.j2
  netsim/devices/vyos.yml
Due: yamllint, ci_tests

Implement bgp.advertise on Nexus OS
  netsim/ansible/templates/bgp/nxos.j2
  netsim/ansible/templates/vrf/nxos.bgp.j2
  netsim/devices/nxos.yml
Due: yamllint, ci_tests

Fix a copilot nit
  netsim/ansible/templates/vrf/vyos.bgp.j2
Due: none

Fix configuration indentation
  netsim/ansible/templates/vrf/nxos.bgp.j2
Due: none

Nexus OS bgp.advertise tests for #3273
  _html/coverage.bgp.html
  _html/coverage.vrf.html
  _html/nxos-clab-bgp.html
  _html/nxos-clab-vrf.html
  _html/nxos-clab.html
  _html/nxos.html
  _html/release-coverage.html
  index.html
  nxos/clab/bgp/04-originate.yml-create.log
  nxos/clab/bgp/04-originate.yml-initial.log
  nxos/clab/bgp/04-originate.yml-up.log
  nxos/clab/bgp/04-originate.yml-validate.log
  nxos/clab/bgp/14-ipv6-originate.yml-create.log
  nxos/clab/bgp/14-ipv6-originate.yml-initial.log
  nxos/clab/bgp/14-ipv6-originate.yml-up.log
  nxos/clab/bgp/14-ipv6-originate.yml-validate.log
  nxos/clab/bgp/cleanup-down.log
  nxos/clab/bgp/results.yaml
  nxos/clab/vrf/12-multi-vrf-bgp.yml-create.log
  nxos/clab/vrf/12-multi-vrf-bgp.yml-initial.log
  nxos/clab/vrf/12-multi-vrf-bgp.yml-up.log
  nxos/clab/vrf/12-multi-vrf-bgp.yml-validate.log
  nxos/clab/vrf/13-multi-vrf-bgp-loopback.yml-create.log
  nxos/clab/vrf/13-multi-vrf-bgp-loopback.yml-initial.log
  nxos/clab/vrf/13-multi-vrf-bgp-loopback.yml-up.log
  nxos/clab/vrf/13-multi-vrf-bgp-loopback.yml-validate.log
  nxos/clab/vrf/22-multi-vrf-bgp-ipv6.yml-create.log
  nxos/clab/vrf/22-multi-vrf-bgp-ipv6.yml-initial.log
  nxos/clab/vrf/22-multi-vrf-bgp-ipv6.yml-up.log
  nxos/clab/vrf/22-multi-vrf-bgp-ipv6.yml-validate.log
  nxos/clab/vrf/23-multi-vrf-mixed-ipv6.yml-create.log
  nxos/clab/vrf/cleanup-down.log
  nxos/clab/vrf/results.yaml
Due: yamllint, ci_tests

Implement dual-stack and VRF-aware bgp.originate attribute
  netsim/devices/none.yml
  netsim/extra/bgp.originate/defaults.yml
  netsim/extra/bgp.originate/plugin.py
  netsim/modules/bgp.py
  netsim/modules/bgp.yml
  tests/topology/expected/bgp-af-rt-929.yml
  tests/topology/expected/bgp-ibgp-localas.yml
  tests/topology/expected/bgp-unnumbered-dual-stack.yml
  tests/topology/input/bgp-ibgp-localas.yml
  tests/topology/input/bgp-unnumbered-dual-stack.yml
Due: yamllint, ci_tests

More fixes: and/or adjust test, adjust originate template, OpenBSD template
  netsim/ansible/templates/bgp/openbsd.j2
  tests/integration/bgp/14-ipv6-originate.yml
Due: yamllint, ci_tests

Fix the VRF integration tests
  tests/integration/vrf/12-multi-vrf-bgp.yml
  tests/integration/vrf/22-multi-vrf-bgp-ipv6.yml
Due: yamllint, ci_tests

Changes in transformation tests
  tests/topology/expected/bgp-af-rt-929.yml
  tests/topology/expected/bgp-ibgp-localas.yml
  tests/topology/expected/bgp-unnumbered-dual-stack.yml
Due: yamllint, ci_tests

Cleanup BGP templates: remove originate static routes
  netsim/ansible/templates/bgp/arubacx.j2
  netsim/ansible/templates/bgp/cumulus_nvue.macro.j2
  netsim/ansible/templates/bgp/dellos10.j2
  netsim/ansible/templates/bgp/eos.j2
  netsim/ansible/templates/bgp/frr.j2
  netsim/ansible/templates/bgp/ios.j2
  netsim/ansible/templates/bgp/iosxr.j2
  netsim/ansible/templates/bgp/junos.j2
  netsim/ansible/templates/bgp/vyos.j2
  netsim/daemons/bird/bgp.j2
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
