Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Int: Increase BGP/IS-IS redistribution wait times for Cisco 8000v
  tests/integration/bgp/30-import-ds-ospf.yml
  tests/integration/isis/21-import-ds.yml
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

IOS/XR: Route import into BGP, IS-IS, and OSPFv2/v3 (#2824)
  docs/module/bgp.md
  docs/module/isis.md
  docs/module/ospf.md
  netsim/ansible/templates/bgp/iosxr.j2
  netsim/ansible/templates/isis/iosxr.j2
  netsim/ansible/templates/ospf/iosxr.j2
  netsim/ansible/templates/routing/_redistribute.iosxr.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Cat8000v: use the new VLAN config model with 'premier' license
  docs/caveats.md
  docs/release/25.x.md
  netsim/ansible/templates/vlan/cat8000v.essentials.j2
  netsim/ansible/templates/vlan/cat8000v.j2
  netsim/devices/cat8000v.yml
Due: yamllint, ci_tests

Cat8000v: use the new VLAN config model with 'premier' license (#2826)
  docs/caveats.md
  docs/release/25.x.md
  netsim/ansible/templates/vlan/cat8000v.essentials.j2
  netsim/ansible/templates/vlan/cat8000v.j2
  netsim/devices/cat8000v.yml
Due: yamllint, ci_tests

Cisco 8000v: data-plane VRF tests
  _html/cisco8000v-clab-vrf.html
  _html/cisco8000v-clab.html
  _html/cisco8000v.html
  _html/coverage.vrf.html
  _html/release-coverage.html
  cisco8000v/clab/vrf/01-multi-vrf.yml-create.log
  cisco8000v/clab/vrf/01-multi-vrf.yml-initial.log
  cisco8000v/clab/vrf/01-multi-vrf.yml-snapshot.yml
  cisco8000v/clab/vrf/01-multi-vrf.yml-up.log
  cisco8000v/clab/vrf/01-multi-vrf.yml-validate.log
  cisco8000v/clab/vrf/02-multi-vrf-ipv6.yml-create.log
  cisco8000v/clab/vrf/02-multi-vrf-ipv6.yml-initial.log
  cisco8000v/clab/vrf/02-multi-vrf-ipv6.yml-snapshot.yml
  cisco8000v/clab/vrf/02-multi-vrf-ipv6.yml-up.log
  cisco8000v/clab/vrf/02-multi-vrf-ipv6.yml-validate.log
  cisco8000v/clab/vrf/03-multi-vrf-loopback.yml-create.log
  cisco8000v/clab/vrf/03-multi-vrf-loopback.yml-initial.log
  cisco8000v/clab/vrf/03-multi-vrf-loopback.yml-snapshot.yml
  cisco8000v/clab/vrf/03-multi-vrf-loopback.yml-up.log
  cisco8000v/clab/vrf/03-multi-vrf-loopback.yml-validate.log
  cisco8000v/clab/vrf/04-multi-vrf-loopback-ipv6.yml-create.log
  cisco8000v/clab/vrf/04-multi-vrf-loopback-ipv6.yml-initial.log
  cisco8000v/clab/vrf/04-multi-vrf-loopback-ipv6.yml-snapshot.yml
  cisco8000v/clab/vrf/04-multi-vrf-loopback-ipv6.yml-up.log
  cisco8000v/clab/vrf/04-multi-vrf-loopback-ipv6.yml-validate.log
  cisco8000v/clab/vrf/cleanup-down.log
  cisco8000v/clab/vrf/results.yaml
  index.html
Due: yamllint, ci_tests

Int: Increase ping timeouts in static routing and data-plane VRF tests
  tests/integration/routing/22-static-inter-vrf.yml
  tests/integration/routing/23-static-indirect.yml
  tests/integration/routing/24-static-indirect-inter-vrf.yml
  tests/integration/vrf/04-multi-vrf-loopback-ipv6.yml
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

Cisco 8000v VRF static routes
  _html/cisco8000v-clab-routing.html
  _html/cisco8000v-clab.html
  _html/cisco8000v.html
  _html/coverage.r_static.html
  cisco8000v/clab/routing/20-static.yml-initial.log
  cisco8000v/clab/routing/20-static.yml-snapshot.yml
  cisco8000v/clab/routing/20-static.yml-up.log
  cisco8000v/clab/routing/20-static.yml-validate.log
  cisco8000v/clab/routing/21-static-vrf.yml-create.log
  cisco8000v/clab/routing/21-static-vrf.yml-initial.log
  cisco8000v/clab/routing/21-static-vrf.yml-snapshot.yml
  cisco8000v/clab/routing/21-static-vrf.yml-up.log
  cisco8000v/clab/routing/21-static-vrf.yml-validate.log
  cisco8000v/clab/routing/22-static-inter-vrf.yml-create.log
  cisco8000v/clab/routing/22-static-inter-vrf.yml-initial.log
  cisco8000v/clab/routing/22-static-inter-vrf.yml-snapshot.yml
  cisco8000v/clab/routing/22-static-inter-vrf.yml-up.log
  cisco8000v/clab/routing/22-static-inter-vrf.yml-validate.log
  cisco8000v/clab/routing/23-static-indirect.yml-snapshot.yml
  cisco8000v/clab/routing/24-static-indirect-inter-vrf.yml-create.log
  cisco8000v/clab/routing/25-static-discard.yml-up.log
  cisco8000v/clab/routing/cleanup-down.log
  cisco8000v/clab/routing/results.yaml
  index.html
Due: yamllint, ci_tests

Cisco 8000v: OSPFv2/OSPFv3 VRF instances
  _html/cisco8000v-clab-vrf.html
  _html/cisco8000v-clab.html
  _html/cisco8000v.html
  _html/coverage.vrf.html
  _html/release-coverage.html
  cisco8000v/clab/vrf/11-multi-vrf-ospf.yml-create.log
  cisco8000v/clab/vrf/11-multi-vrf-ospf.yml-initial.log
  cisco8000v/clab/vrf/11-multi-vrf-ospf.yml-snapshot.yml
  cisco8000v/clab/vrf/11-multi-vrf-ospf.yml-up.log
  cisco8000v/clab/vrf/11-multi-vrf-ospf.yml-validate.log
  cisco8000v/clab/vrf/12-multi-vrf-bgp.yml-create.log
  cisco8000v/clab/vrf/13-multi-vrf-bgp-loopback.yml-create.log
  cisco8000v/clab/vrf/14-multi-vrf-unnumbered.yml-create.log
  cisco8000v/clab/vrf/15-multi-vrf-mixed.yml-create.log
  cisco8000v/clab/vrf/16-vrf-bgp-community.yml-create.log
  cisco8000v/clab/vrf/21-multi-vrf-ospfv3.yml-create.log
  cisco8000v/clab/vrf/21-multi-vrf-ospfv3.yml-initial.log
  cisco8000v/clab/vrf/21-multi-vrf-ospfv3.yml-snapshot.yml
  cisco8000v/clab/vrf/21-multi-vrf-ospfv3.yml-up.log
  cisco8000v/clab/vrf/21-multi-vrf-ospfv3.yml-validate.log
  cisco8000v/clab/vrf/22-multi-vrf-bgp-ipv6.yml-create.log
  cisco8000v/clab/vrf/23-multi-vrf-mixed-ipv6.yml-create.log
  cisco8000v/clab/vrf/cleanup-down.log
  cisco8000v/clab/vrf/results.yaml
  index.html
Due: yamllint, ci_tests

Redoing Cisco 8000v IS-IS tests after adding VRF IS-IS instances
  _html/cisco8000v-clab-isis.html
  _html/release-coverage.html
  cisco8000v/clab/isis/01-ipv4.yml-initial.log
  cisco8000v/clab/isis/01-ipv4.yml-snapshot.yml
  cisco8000v/clab/isis/01-ipv4.yml-up.log
  cisco8000v/clab/isis/01-ipv4.yml-validate.log
  cisco8000v/clab/isis/02-ipv6.yml-initial.log
  cisco8000v/clab/isis/02-ipv6.yml-snapshot.yml
  cisco8000v/clab/isis/02-ipv6.yml-up.log
  cisco8000v/clab/isis/02-ipv6.yml-validate.log
  cisco8000v/clab/isis/03-dual-stack.yml-initial.log
  cisco8000v/clab/isis/03-dual-stack.yml-snapshot.yml
  cisco8000v/clab/isis/03-dual-stack.yml-up.log
  cisco8000v/clab/isis/03-dual-stack.yml-validate.log
  cisco8000v/clab/isis/10-network.yml-initial.log
  cisco8000v/clab/isis/10-network.yml-snapshot.yml
  cisco8000v/clab/isis/10-network.yml-up.log
  cisco8000v/clab/isis/10-network.yml-validate.log
  cisco8000v/clab/isis/11-cost.yml-initial.log
  cisco8000v/clab/isis/11-cost.yml-snapshot.yml
  cisco8000v/clab/isis/11-cost.yml-up.log
  cisco8000v/clab/isis/11-cost.yml-validate.log
  cisco8000v/clab/isis/12-passive.yml-initial.log
  cisco8000v/clab/isis/12-passive.yml-snapshot.yml
  cisco8000v/clab/isis/12-passive.yml-up.log
  cisco8000v/clab/isis/21-import-ds.yml-initial.log
  cisco8000v/clab/isis/21-import-ds.yml-snapshot.yml
  cisco8000v/clab/isis/21-import-ds.yml-up.log
  cisco8000v/clab/isis/21-import-ds.yml-validate.log
  cisco8000v/clab/isis/30-vrf.yml-create.log
  cisco8000v/clab/isis/cleanup-down.log
  cisco8000v/clab/isis/results.yaml
Due: yamllint, ci_tests

IOS/XR: Rewrite the BGP template to use new BGP neighbor attributes
  netsim/ansible/templates/bgp/iosxr.j2
Due: none

IOS/XR: Rewrite the BGP template to use new BGP neighbor attributes (#2828)
  netsim/ansible/templates/bgp/iosxr.j2
Due: none

Add --pr parameter to run-tests to run test suite from PR directory
  run-tests.py
Due: ci_tests

Int: Adjust the BGP VRF tests to use 'BGP redistribution' timeouts
  tests/integration/vrf/12-multi-vrf-bgp.yml
  tests/integration/vrf/13-multi-vrf-bgp-loopback.yml
  tests/integration/vrf/14-multi-vrf-unnumbered.yml
  tests/integration/vrf/15-multi-vrf-mixed.yml
  tests/integration/vrf/22-multi-vrf-bgp-ipv6.yml
  tests/integration/vrf/23-multi-vrf-mixed-ipv6.yml
  tests/integration/vrf/31-vrf-common-hosts.yml
  tests/integration/vrf/32-vrf-common-hosts-ipv6.yml
  tests/integration/vrf/33-vrf-common-ospf.yml
  tests/integration/vrf/34-vrf-common-mixed.yml
Due: yamllint, ci_tests

Int: It takes Cisco 8000v 60+ seconds to start VRF IPv6 EBGP session
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

Int: Use redistribution wait times in IS-IS integration tests
  tests/integration/isis/21-import-ds.yml
  tests/integration/isis/30-vrf.yml
Due: yamllint, ci_tests

Documentation
  docs/module/bgp.md
  docs/module/isis.md
  docs/module/ospf.md
  docs/module/routing.md
  docs/module/vrf.md
  docs/platforms.md
Due: none

IOS/XR: VRF support
  netsim/ansible/templates/bgp/iosxr.j2
  netsim/ansible/templates/isis/iosxr.j2
  netsim/ansible/templates/ospf/iosxr.j2
  netsim/ansible/templates/vrf/iosxr.bgp.j2
  netsim/ansible/templates/vrf/iosxr.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

IS-IS-related fixes
  netsim/ansible/templates/isis/iosxr.j2
  netsim/ansible/templates/routing/_redistribute.iosxr.j2
  netsim/ansible/templates/vrf/iosxr.bgp.j2
  netsim/ansible/templates/vrf/iosxr.j2
Due: none

Cisco 8000v IS-IS/VRF tests
  _html/cisco8000v-clab-isis.html
  _html/cisco8000v-clab.html
  _html/cisco8000v.html
  _html/coverage.isis.html
  cisco8000v/clab/isis/21-import-ds.yml-validate.log
  cisco8000v/clab/isis/30-vrf.yml-create.log
  cisco8000v/clab/isis/30-vrf.yml-initial.log
  cisco8000v/clab/isis/30-vrf.yml-snapshot.yml
  cisco8000v/clab/isis/30-vrf.yml-up.log
  cisco8000v/clab/isis/30-vrf.yml-validate.log
  cisco8000v/clab/isis/cleanup-down.log
  cisco8000v/clab/isis/results.yaml
  index.html
Due: yamllint, ci_tests

IOS/XR: VRF support (#2829)
  docs/module/bgp.md
  docs/module/isis.md
  docs/module/ospf.md
  docs/module/routing.md
  docs/module/vrf.md
  docs/platforms.md
  netsim/ansible/templates/bgp/iosxr.j2
  netsim/ansible/templates/isis/iosxr.j2
  netsim/ansible/templates/ospf/iosxr.j2
  netsim/ansible/templates/routing/_redistribute.iosxr.j2
  netsim/ansible/templates/vrf/iosxr.bgp.j2
  netsim/ansible/templates/vrf/iosxr.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Cat8000v: VXLAN with static ingress replication
  docs/module/vxlan.md
  docs/platforms.md
  netsim/ansible/templates/vxlan/cat8000v.j2
  netsim/devices/cat8000v.py
  netsim/devices/cat8000v.yml
Due: yamllint, ci_tests

Cat8000v VXLAN tests for #2830
  _html/cat8000v-libvirt-vxlan.html
  _html/cat8000v-libvirt.html
  _html/cat8000v.html
  _html/coverage.vxlan.html
  _html/release-coverage.html
  cat8000v/libvirt/vxlan/01-vxlan-bridging.yml-create.log
  cat8000v/libvirt/vxlan/01-vxlan-bridging.yml-initial.log
  cat8000v/libvirt/vxlan/01-vxlan-bridging.yml-snapshot.yml
  cat8000v/libvirt/vxlan/01-vxlan-bridging.yml-up.log
  cat8000v/libvirt/vxlan/01-vxlan-bridging.yml-validate.log
  cat8000v/libvirt/vxlan/02-vxlan-bridging-multinode.yml-create.log
  cat8000v/libvirt/vxlan/02-vxlan-bridging-multinode.yml-initial.log
  cat8000v/libvirt/vxlan/02-vxlan-bridging-multinode.yml-snapshot.yml
  cat8000v/libvirt/vxlan/02-vxlan-bridging-multinode.yml-up.log
  cat8000v/libvirt/vxlan/02-vxlan-bridging-multinode.yml-validate.log
  cat8000v/libvirt/vxlan/03-vxlan-irb.yml-create.log
  cat8000v/libvirt/vxlan/03-vxlan-irb.yml-initial.log
  cat8000v/libvirt/vxlan/03-vxlan-irb.yml-snapshot.yml
  cat8000v/libvirt/vxlan/03-vxlan-irb.yml-up.log
  cat8000v/libvirt/vxlan/03-vxlan-irb.yml-validate.log
  cat8000v/libvirt/vxlan/04-vxlan-irb-ospf.yml-create.log
  cat8000v/libvirt/vxlan/04-vxlan-irb-ospf.yml-initial.log
  cat8000v/libvirt/vxlan/04-vxlan-irb-ospf.yml-snapshot.yml
  cat8000v/libvirt/vxlan/04-vxlan-irb-ospf.yml-up.log
  cat8000v/libvirt/vxlan/04-vxlan-irb-ospf.yml-validate.log
  cat8000v/libvirt/vxlan/05-vxlan-router-stick.yml-create.log
  cat8000v/libvirt/vxlan/05-vxlan-router-stick.yml-initial.log
  cat8000v/libvirt/vxlan/05-vxlan-router-stick.yml-snapshot.yml
  cat8000v/libvirt/vxlan/05-vxlan-router-stick.yml-up.log
  cat8000v/libvirt/vxlan/05-vxlan-router-stick.yml-validate.log
  cat8000v/libvirt/vxlan/07-vxlan-bridging-v6only.yml-create.log
  cat8000v/libvirt/vxlan/08-vxlan-alt-vtep.yml-create.log
  cat8000v/libvirt/vxlan/08-vxlan-alt-vtep.yml-initial.log
  cat8000v/libvirt/vxlan/08-vxlan-alt-vtep.yml-snapshot.yml
  cat8000v/libvirt/vxlan/08-vxlan-alt-vtep.yml-up.log
  cat8000v/libvirt/vxlan/08-vxlan-alt-vtep.yml-validate.log
  cat8000v/libvirt/vxlan/cleanup-down.log
  cat8000v/libvirt/vxlan/results.yaml
  index.html
Due: yamllint, ci_tests

Updated caveats
  docs/caveats.md
Due: none

Cat8000v: VXLAN with static ingress replication (#2830)
  docs/caveats.md
  docs/module/vxlan.md
  docs/platforms.md
  netsim/ansible/templates/vxlan/cat8000v.j2
  netsim/devices/cat8000v.py
  netsim/devices/cat8000v.yml
Due: yamllint, ci_tests

Int: Extend the OSPF adjacency wait time over VLANs
  tests/integration/ospf/ospfv2/06-vlan-mtu.yml
  tests/integration/ospf/ospfv3/07-vlan-mtu.yml
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

Int: Increased OSPF SPF times for conditional default route generation
  tests/integration/ospf/ospfv2/20-default.yml
  tests/integration/ospf/ospfv2/22-default-vrf.yml
  tests/integration/ospf/ospfv3/20-default.yml
  tests/integration/ospf/ospfv3/22-default-vrf.yml
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

IOS/XR: Configure low OSPF SPF/LSA throttle timers
  netsim/ansible/templates/ospf/iosxr.j2
Due: none

Int: Add wait times to VRF static routing tests
  tests/integration/routing/25-static-discard.yml
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

IOS/XR: BGP local-as
  netsim/ansible/templates/bgp/iosxr.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Cisco 8000v BGP local-as tests for #2832
  _html/cisco8000v-clab-bgp.html
  _html/cisco8000v-clab.html
  _html/cisco8000v.html
  _html/coverage.bgp.html
  cisco8000v/clab/bgp/07-ebgp-localas.yml-create.log
  cisco8000v/clab/bgp/07-ebgp-localas.yml-initial.log
  cisco8000v/clab/bgp/07-ebgp-localas.yml-snapshot.yml
  cisco8000v/clab/bgp/07-ebgp-localas.yml-up.log
  cisco8000v/clab/bgp/07-ebgp-localas.yml-validate.log
  cisco8000v/clab/bgp/08-ibgp-localas.yml-create.log
  cisco8000v/clab/bgp/08-ibgp-localas.yml-initial.log
  cisco8000v/clab/bgp/08-ibgp-localas.yml-snapshot.yml
  cisco8000v/clab/bgp/08-ibgp-localas.yml-up.log
  cisco8000v/clab/bgp/08-ibgp-localas.yml-validate.log
  cisco8000v/clab/bgp/09-vrf-localas.yml-create.log
  cisco8000v/clab/bgp/09-vrf-localas.yml-initial.log
  cisco8000v/clab/bgp/09-vrf-localas.yml-snapshot.yml
  cisco8000v/clab/bgp/09-vrf-localas.yml-up.log
  cisco8000v/clab/bgp/09-vrf-localas.yml-validate.log
  cisco8000v/clab/bgp/cleanup-down.log
  cisco8000v/clab/bgp/results.yaml
  index.html
Due: yamllint, ci_tests

Documentation
  docs/module/bgp.md
Due: none

IOS/XR: BGP local-as (#2832)
  docs/module/bgp.md
  netsim/ansible/templates/bgp/iosxr.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

IOS/XR: BGP confederations
  netsim/ansible/templates/bgp/iosxr.j2
  netsim/devices/xr.yml
  tests/integration/vxlan/fix_mtu.py
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

Cisco 8000v BGP confed test for #2833
  _html/cisco8000v-clab-bgp.html
  _html/cisco8000v-clab.html
  _html/cisco8000v.html
  _html/coverage.bgp.html
  cisco8000v/clab/bgp/40-confederation.yml-create.log
  cisco8000v/clab/bgp/40-confederation.yml-initial.log
  cisco8000v/clab/bgp/40-confederation.yml-snapshot.yml
  cisco8000v/clab/bgp/40-confederation.yml-up.log
  cisco8000v/clab/bgp/40-confederation.yml-validate.log
  cisco8000v/clab/bgp/cleanup-down.log
  cisco8000v/clab/bgp/results.yaml
  index.html
Due: yamllint, ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
