Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Caveats
  docs/caveats.md
  docs/release/26.07.md
Due: none

Mikrotik RouterOS7 version uplift to 7.21.4 (#3485)
  docs/caveats.md
  docs/release/26.07.md
  netsim/ansible/templates/bgp/routeros7.j2
  netsim/ansible/templates/bgp/routeros7.macro.j2
  netsim/ansible/templates/mpls/routeros7.mplsvpn.j2
  netsim/ansible/templates/vrf/routeros7.bgp.j2
  netsim/devices/routeros7.py
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

Force mtu=1500 for libvirt OpenBSD, remove VRF from change
  netsim/ansible/templates/initial/openbsd-ifconfig.j2
  netsim/ansible/templates/vlan/openbsd.j2
  netsim/ansible/templates/vrf/openbsd.j2
  netsim/devices/openbsd.yml
Due: yamllint, ci_tests

Fix: Block untagged frames on RouterOS7 trunks with no native VLAN
  netsim/ansible/templates/vlan/routeros7.j2
Due: none

RouterOS7 VLAN tests for #3602
  _html/coverage.vlan.html
  _html/routeros7-libvirt-vlan.html
  _html/routeros7-libvirt.html
  _html/routeros7.html
  index.html
  routeros7/libvirt/vlan/01-vlan-bridge-single.yml-initial.log
  routeros7/libvirt/vlan/01-vlan-bridge-single.yml-up.log
  routeros7/libvirt/vlan/02-vlan-bridge-multiple.yml-initial.log
  routeros7/libvirt/vlan/02-vlan-bridge-multiple.yml-up.log
  routeros7/libvirt/vlan/21-vlan-irb-single.yml-initial.log
  routeros7/libvirt/vlan/21-vlan-irb-single.yml-up.log
  routeros7/libvirt/vlan/22-vlan-irb-multiple.yml-initial.log
  routeros7/libvirt/vlan/22-vlan-irb-multiple.yml-up.log
  routeros7/libvirt/vlan/22-vlan-irb-multiple.yml-validate.log
  routeros7/libvirt/vlan/23-vlan-mixed-multiple.yml-initial.log
  routeros7/libvirt/vlan/23-vlan-mixed-multiple.yml-up.log
  routeros7/libvirt/vlan/23-vlan-mixed-multiple.yml-validate.log
  routeros7/libvirt/vlan/31-vlan-bridge-trunk.yml-initial.log
  routeros7/libvirt/vlan/31-vlan-bridge-trunk.yml-up.log
  routeros7/libvirt/vlan/31-vlan-bridge-trunk.yml-validate.log
  routeros7/libvirt/vlan/32-vlan-bridge-trunk-router.yml-initial.log
  routeros7/libvirt/vlan/32-vlan-bridge-trunk-router.yml-up.log
  routeros7/libvirt/vlan/33-vlan-irb-trunk.yml-initial.log
  routeros7/libvirt/vlan/33-vlan-irb-trunk.yml-up.log
  routeros7/libvirt/vlan/33-vlan-irb-trunk.yml-validate.log
  routeros7/libvirt/vlan/41-vlan-bridge-native.yml-initial.log
  routeros7/libvirt/vlan/41-vlan-bridge-native.yml-up.log
  routeros7/libvirt/vlan/42-vlan-irb-native.yml-initial.log
  routeros7/libvirt/vlan/42-vlan-irb-native.yml-up.log
  routeros7/libvirt/vlan/51-vlan-routed-trunk.yml-initial.log
  routeros7/libvirt/vlan/51-vlan-routed-trunk.yml-up.log
  routeros7/libvirt/vlan/51-vlan-routed-trunk.yml-validate.log
  routeros7/libvirt/vlan/61-vlan-routed-native.yml-initial.log
  routeros7/libvirt/vlan/61-vlan-routed-native.yml-up.log
  routeros7/libvirt/vlan/61-vlan-routed-native.yml-validate.log
  routeros7/libvirt/vlan/70-vlan-1-trunk.yml-initial.log
  routeros7/libvirt/vlan/70-vlan-1-trunk.yml-up.log
  routeros7/libvirt/vlan/70-vlan-1-trunk.yml-validate.log
  routeros7/libvirt/vlan/cleanup-down.log
  routeros7/libvirt/vlan/results.yaml
Due: yamllint, ci_tests

Fixing a typo
  netsim/ansible/templates/vlan/routeros7.j2
Due: none

Fix: Block untagged frames on RouterOS7 trunks with no native VLAN (#3602)
  netsim/ansible/templates/vlan/routeros7.j2
Due: none

Fix RouterOS7 native routed VLANs
  netsim/ansible/templates/vlan/routeros7.j2
Due: none

RouterOS7 VLAN tests for #3603
  _html/coverage.vlan.html
  _html/routeros7-libvirt-vlan.html
  _html/routeros7-libvirt.html
  _html/routeros7.html
  index.html
  routeros7/libvirt/vlan/01-vlan-bridge-single.yml-initial.log
  routeros7/libvirt/vlan/01-vlan-bridge-single.yml-up.log
  routeros7/libvirt/vlan/01-vlan-bridge-single.yml-validate.log
  routeros7/libvirt/vlan/02-vlan-bridge-multiple.yml-initial.log
  routeros7/libvirt/vlan/02-vlan-bridge-multiple.yml-up.log
  routeros7/libvirt/vlan/02-vlan-bridge-multiple.yml-validate.log
  routeros7/libvirt/vlan/21-vlan-irb-single.yml-initial.log
  routeros7/libvirt/vlan/21-vlan-irb-single.yml-up.log
  routeros7/libvirt/vlan/22-vlan-irb-multiple.yml-up.log
  routeros7/libvirt/vlan/22-vlan-irb-multiple.yml-validate.log
  routeros7/libvirt/vlan/23-vlan-mixed-multiple.yml-initial.log
  routeros7/libvirt/vlan/23-vlan-mixed-multiple.yml-up.log
  routeros7/libvirt/vlan/23-vlan-mixed-multiple.yml-validate.log
  routeros7/libvirt/vlan/31-vlan-bridge-trunk.yml-initial.log
  routeros7/libvirt/vlan/31-vlan-bridge-trunk.yml-up.log
  routeros7/libvirt/vlan/32-vlan-bridge-trunk-router.yml-initial.log
  routeros7/libvirt/vlan/32-vlan-bridge-trunk-router.yml-up.log
  routeros7/libvirt/vlan/33-vlan-irb-trunk.yml-initial.log
  routeros7/libvirt/vlan/33-vlan-irb-trunk.yml-up.log
  routeros7/libvirt/vlan/33-vlan-irb-trunk.yml-validate.log
  routeros7/libvirt/vlan/41-vlan-bridge-native.yml-initial.log
  routeros7/libvirt/vlan/41-vlan-bridge-native.yml-up.log
  routeros7/libvirt/vlan/42-vlan-irb-native.yml-up.log
  routeros7/libvirt/vlan/51-vlan-routed-trunk.yml-initial.log
  routeros7/libvirt/vlan/51-vlan-routed-trunk.yml-up.log
  routeros7/libvirt/vlan/51-vlan-routed-trunk.yml-validate.log
  routeros7/libvirt/vlan/61-vlan-routed-native.yml-initial.log
  routeros7/libvirt/vlan/61-vlan-routed-native.yml-up.log
  routeros7/libvirt/vlan/61-vlan-routed-native.yml-validate.log
  routeros7/libvirt/vlan/70-vlan-1-trunk.yml-initial.log
  routeros7/libvirt/vlan/70-vlan-1-trunk.yml-up.log
  routeros7/libvirt/vlan/cleanup-down.log
  routeros7/libvirt/vlan/results.yaml
Due: yamllint, ci_tests

Fix RouterOS7 native routed VLANs (#3603)
  netsim/ansible/templates/vlan/routeros7.j2
Due: none

Fix: RouterOS7 cannot configure tagged VLAN 1
  netsim/devices/_common.py
  netsim/devices/routeros7.py
Due: ci_tests

RouterOS7 VLAN tests for #3605
  _html/coverage.vlan.html
  _html/routeros7-libvirt-vlan.html
  _html/routeros7-libvirt.html
  _html/routeros7.html
  index.html
  routeros7/libvirt/vlan/01-vlan-bridge-single.yml-initial.log
  routeros7/libvirt/vlan/01-vlan-bridge-single.yml-up.log
  routeros7/libvirt/vlan/01-vlan-bridge-single.yml-validate.log
  routeros7/libvirt/vlan/02-vlan-bridge-multiple.yml-initial.log
  routeros7/libvirt/vlan/02-vlan-bridge-multiple.yml-up.log
  routeros7/libvirt/vlan/02-vlan-bridge-multiple.yml-validate.log
  routeros7/libvirt/vlan/21-vlan-irb-single.yml-initial.log
  routeros7/libvirt/vlan/21-vlan-irb-single.yml-up.log
  routeros7/libvirt/vlan/22-vlan-irb-multiple.yml-initial.log
  routeros7/libvirt/vlan/22-vlan-irb-multiple.yml-up.log
  routeros7/libvirt/vlan/22-vlan-irb-multiple.yml-validate.log
  routeros7/libvirt/vlan/23-vlan-mixed-multiple.yml-initial.log
  routeros7/libvirt/vlan/23-vlan-mixed-multiple.yml-up.log
  routeros7/libvirt/vlan/23-vlan-mixed-multiple.yml-validate.log
  routeros7/libvirt/vlan/31-vlan-bridge-trunk.yml-initial.log
  routeros7/libvirt/vlan/31-vlan-bridge-trunk.yml-up.log
  routeros7/libvirt/vlan/32-vlan-bridge-trunk-router.yml-initial.log
  routeros7/libvirt/vlan/32-vlan-bridge-trunk-router.yml-up.log
  routeros7/libvirt/vlan/33-vlan-irb-trunk.yml-up.log
  routeros7/libvirt/vlan/41-vlan-bridge-native.yml-initial.log
  routeros7/libvirt/vlan/41-vlan-bridge-native.yml-up.log
  routeros7/libvirt/vlan/42-vlan-irb-native.yml-initial.log
  routeros7/libvirt/vlan/42-vlan-irb-native.yml-up.log
  routeros7/libvirt/vlan/51-vlan-routed-trunk.yml-initial.log
  routeros7/libvirt/vlan/51-vlan-routed-trunk.yml-up.log
  routeros7/libvirt/vlan/61-vlan-routed-native.yml-initial.log
  routeros7/libvirt/vlan/61-vlan-routed-native.yml-up.log
  routeros7/libvirt/vlan/70-vlan-1-trunk.yml-create.log
  routeros7/libvirt/vlan/70-vlan-1-trunk.yml-initial.log
  routeros7/libvirt/vlan/70-vlan-1-trunk.yml-up.log
  routeros7/libvirt/vlan/70-vlan-1-trunk.yml-validate.log
  routeros7/libvirt/vlan/cleanup-down.log
  routeros7/libvirt/vlan/results.yaml
Due: yamllint, ci_tests

Fix: RouterOS7 cannot configure tagged VLAN 1 (#3605)
  netsim/devices/_common.py
  netsim/devices/routeros7.py
Due: ci_tests

Exit device-module-test early if we detect other running netlab instance(s)
  tests/integration/device-module-test
Due: none

Fix we only care if another 'default' netlab instance is running
  tests/integration/device-module-test
Due: none

Minor wording update
  tests/integration/device-module-test
Due: none

Ensure directory fits within the 50 char allocated...
  tests/integration/device-module-test
Due: none

Fix: Add "VLAN 1 cannot be tagged" quirk to OS10 and EXOS
  netsim/devices/dellos10.py
  netsim/devices/exos.py
Due: ci_tests

Fix: Add "VLAN 1 cannot be tagged" quirk to OS10 and EXOS (#3607)
  netsim/devices/dellos10.py
  netsim/devices/exos.py
Due: ci_tests

Fix: SR Linux can configure one RT per BGP L3VPN VRF
  netsim/devices/srlinux.py
Due: ci_tests

SR Linux MPLS integration tests for #3609
  _html/coverage.mpls.html
  _html/srlinux-clab-mpls.html
  _html/srlinux-clab.html
  _html/srlinux.html
  index.html
  srlinux/clab/mpls/01-ldp-p.yml-initial.log
  srlinux/clab/mpls/01-ldp-p.yml-up.log
  srlinux/clab/mpls/01-ldp-p.yml-validate.log
  srlinux/clab/mpls/02-ldp-pe.yml-up.log
  srlinux/clab/mpls/02-ldp-pe.yml-validate.log
  srlinux/clab/mpls/10-vpn-connected.yml-initial.log
  srlinux/clab/mpls/10-vpn-connected.yml-up.log
  srlinux/clab/mpls/10-vpn-connected.yml-validate.log
  srlinux/clab/mpls/11-vpn-cs.yml-create.log
  srlinux/clab/mpls/11-vpn-cs.yml-initial.log
  srlinux/clab/mpls/11-vpn-cs.yml-up.log
  srlinux/clab/mpls/11-vpn-cs.yml-validate.log
  srlinux/clab/mpls/12-vpn-bgp.yml-initial.log
  srlinux/clab/mpls/12-vpn-bgp.yml-up.log
  srlinux/clab/mpls/12-vpn-bgp.yml-validate.log
  srlinux/clab/mpls/13-vpn-ospf.yml-initial.log
  srlinux/clab/mpls/13-vpn-ospf.yml-up.log
  srlinux/clab/mpls/13-vpn-ospf.yml-validate.log
  srlinux/clab/mpls/15-vpnv4-rr.yml-initial.log
  srlinux/clab/mpls/15-vpnv4-rr.yml-up.log
  srlinux/clab/mpls/15-vpnv4-rr.yml-validate.log
  srlinux/clab/mpls/20-vpnv6-connected.yml-initial.log
  srlinux/clab/mpls/20-vpnv6-connected.yml-up.log
  srlinux/clab/mpls/20-vpnv6-connected.yml-validate.log
  srlinux/clab/mpls/25-vpnv6-rr.yml-initial.log
  srlinux/clab/mpls/25-vpnv6-rr.yml-up.log
  srlinux/clab/mpls/25-vpnv6-rr.yml-validate.log
  srlinux/clab/mpls/cleanup-down.log
  srlinux/clab/mpls/results.yaml
Due: yamllint, ci_tests

Fix: SR Linux can configure one RT per BGP L3VPN VRF (#3609)
  netsim/devices/srlinux.py
Due: ci_tests

Add EVPN multihoming tests
  _html/release-coverage.html
  index.html
  map-tests.yml
Due: yamllint, ci_tests

Fix: Check IPv4 AF activation in MPLS/VPN integration tests
  tests/integration/mpls/10-vpn-connected.yml
  tests/integration/mpls/12-vpn-bgp.yml
Due: yamllint, ci_tests

RouterOS7: Add BGP per-AF activation
  netsim/ansible/templates/bgp/routeros7.j2
  netsim/ansible/templates/bgp/routeros7.macro.j2
  netsim/ansible/templates/mpls/routeros7.j2
  netsim/ansible/templates/mpls/routeros7.mplsvpn.j2
  netsim/ansible/templates/vrf/routeros7.bgp.j2
  netsim/devices/routeros7.py
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

Fix: Make several bgp_session tests VRF-aware
  tests/integration/bgp.session/07-password.yml
  tests/integration/bgp.session/10-timers.yml
Due: yamllint, ci_tests

Fix: the keyword for IPv4 AF is ip
  netsim/devices/routeros7.py
Due: ci_tests

RouterOS7: Add BGP per-AF activation (#3610)
  netsim/ansible/templates/bgp/routeros7.j2
  netsim/ansible/templates/bgp/routeros7.macro.j2
  netsim/ansible/templates/mpls/routeros7.j2
  netsim/ansible/templates/mpls/routeros7.mplsvpn.j2
  netsim/ansible/templates/vrf/routeros7.bgp.j2
  netsim/devices/routeros7.py
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

Fixing a cosmetic omission
  tests/integration/bgp.session/10-timers.yml
Due: yamllint, ci_tests

Fix following extra items for OpenBSD VLAN support
  docs/platforms.md
  netsim/ansible/templates/initial/openbsd-ifconfig.j2
  netsim/ansible/templates/initial/openbsd.j2
  netsim/ansible/templates/vlan/fail-openbsd.j2
  netsim/ansible/templates/vlan/openbsd.j2
  netsim/devices/openbsd.yml
Due: yamllint, ci_tests

Fix: Make several bgp_session tests VRF-aware (#3611)
  tests/integration/bgp.session/07-password.yml
  tests/integration/bgp.session/10-timers.yml
Due: yamllint, ci_tests

Fix: Aruba CX did not set parameters of VRF BGP sessions
  netsim/extra/bgp/session/arubacx.j2
Due: none

ArubaCX bgp_session timers for #3612
  _html/arubacx-libvirt-bgp.session.html
  _html/arubacx-libvirt.html
  _html/arubacx.html
  _html/coverage.bgp.session.html
  arubacx/libvirt/bgp.session/10-timers.yml-initial.log
  arubacx/libvirt/bgp.session/10-timers.yml-up.log
  arubacx/libvirt/bgp.session/10-timers.yml-validate.log
  arubacx/libvirt/bgp.session/cleanup-down.log
  arubacx/libvirt/bgp.session/results.yaml
  index.html
Due: yamllint, ci_tests

Fix: Aruba CX did not set parameters of VRF BGP sessions (#3612)
  netsim/extra/bgp/session/arubacx.j2
Due: none
