Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Fix: Prune search paths after the plugin output hooks
  netsim/augment/config.py
  netsim/cli/create.py
Due: ci_tests

Fix: Prune search paths after the plugin output hooks (#3016)
  netsim/augment/config.py
  netsim/cli/create.py
Due: ci_tests

Integration tests for #3016
  _html/platform-config.html
  _html/platform.html
  index.html
  platform/config/01-initial.yml-create.log
  platform/config/01-initial.yml-initial.log
  platform/config/01-initial.yml-snapshot.yml
  platform/config/01-initial.yml-up.log
  platform/config/01-initial.yml-validate.log
  platform/config/02-config.yml-create.log
  platform/config/02-config.yml-initial.log
  platform/config/02-config.yml-up.log
  platform/config/02-config.yml-validate.log
  platform/config/03-custom.yml-create.log
  platform/config/03-custom.yml-initial.log
  platform/config/03-custom.yml-snapshot.yml
  platform/config/03-custom.yml-up.log
  platform/config/03-custom.yml-validate.log
  platform/config/04-reload.yml-create.log
  platform/config/04-reload.yml-initial.log
  platform/config/04-reload.yml-snapshot.yml
  platform/config/04-reload.yml-up.log
  platform/config/04-reload.yml-validate.log
  platform/config/cleanup-down.log
  platform/config/results.yaml
Due: yamllint, ci_tests

Fix: Integration tests harness has to ask for netlab.snapshot.yml file
  tests/integration/device-module-test
Due: none

Fix: Display build instructions for internally-built containers
  netsim/daemons/bird.yml
  netsim/daemons/dnsmasq.yml
  netsim/devices/netscaler.yml
  netsim/providers/clab.py
Due: yamllint, ci_tests

Fix: Display build instructions for internally-built containers (#3017)
  netsim/daemons/bird.yml
  netsim/daemons/dnsmasq.yml
  netsim/devices/netscaler.yml
  netsim/providers/clab.py
Due: yamllint, ci_tests

Implement node 'skip_config' attribute
  docs/nodes.md
  netsim/ansible/initial-config.ansible
  netsim/augment/nodes.py
  netsim/cli/initial/utils.py
  netsim/defaults/attributes.yml
  netsim/outputs/config.py
  netsim/providers/clab.py
  tests/platform-integration/config/05-skip-config.yml
Due: yamllint, ci_tests

Fixing Copilot-identified errors/nits
  netsim/outputs/config.py
  tests/platform-integration/config/05-skip-config.yml
Due: yamllint, ci_tests

Implement node 'skip_config' attribute (#3018)
  docs/nodes.md
  netsim/ansible/initial-config.ansible
  netsim/augment/nodes.py
  netsim/cli/initial/utils.py
  netsim/defaults/attributes.yml
  netsim/outputs/config.py
  netsim/providers/clab.py
  tests/platform-integration/config/05-skip-config.yml
Due: yamllint, ci_tests

Integration tests for #3018
  _html/platform-config.html
  _html/platform.html
  index.html
  platform/config/05-skip-config.yml-create.log
  platform/config/05-skip-config.yml-initial.log
  platform/config/05-skip-config.yml-snapshot.yml
  platform/config/05-skip-config.yml-up.log
  platform/config/05-skip-config.yml-validate.log
  platform/config/cleanup-down.log
  platform/config/results.yaml
Due: yamllint, ci_tests

Bump FRR release to 10.5.1
  netsim/devices/frr.yml
  tests/topology/input/bridge-module-attr.yml
Due: yamllint, ci_tests

Doc: Update the architecture diagrams for netlab commands
  docs/netlab/create.png
  docs/netlab/initial.md
  docs/netlab/initial.png
  docs/netlab/up.png
Due: none

Release 26.01
  README.md
  docs/nodes.md
  docs/release.md
  docs/release/26.01.md
  legacy/setup.py
  netsim/__init__.py
Due: ci_tests

Fixing typos
  README.md
  docs/release/26.01.md
Due: none

Release 26.01 (#3019)
  README.md
  docs/nodes.md
  docs/release.md
  docs/release/26.01.md
  legacy/setup.py
  netsim/__init__.py
Due: ci_tests

Fix: Make container scripts directly executable
  netsim/ansible/templates/initial/bird-clab.j2
  netsim/ansible/templates/initial/linux-clab.j2
  netsim/ansible/templates/lag/linux.j2
  netsim/ansible/templates/routing/linux-clab.j2
  netsim/cli/initial/configs.py
  netsim/outputs/config.py
  netsim/providers/clab.py
Due: ci_tests

Implement Copilot-suggested fixes
  docs/dev/config/deploy.md
  netsim/cli/initial/configs.py
  netsim/outputs/config.py
Due: ci_tests

FRR deploy task list must check #!/bin/sh and #!/bin/bash
  netsim/ansible/tasks/deploy-config/frr.yml
Due: yamllint, ci_tests

fix netlab status to use netlab.snapshot.pickle
  netsim/cli/status.py
Due: ci_tests

Fix: netlab status should use netlab.snapshot.pickle (#3021)
  netsim/cli/status.py
Due: ci_tests

Release 26.01.01
  README.md
  docs/release.md
  docs/release/26.01.md
  legacy/setup.py
  netsim/__init__.py
Due: ci_tests

Fix: Make container scripts directly executable (#3020)
  docs/dev/config/deploy.md
  netsim/ansible/tasks/deploy-config/frr.yml
  netsim/ansible/templates/initial/bird-clab.j2
  netsim/ansible/templates/initial/linux-clab.j2
  netsim/ansible/templates/lag/linux.j2
  netsim/ansible/templates/routing/linux-clab.j2
  netsim/cli/initial/configs.py
  netsim/outputs/config.py
  netsim/providers/clab.py
Due: yamllint, ci_tests

Implement default configuration deployment mode (sh/ns) for containers
  docs/dev/config/deploy.md
  netsim/daemons/bird.yml
  netsim/devices/linux.yml
  netsim/providers/clab.py
Due: yamllint, ci_tests

Implement Copilot nits
  docs/dev/config/deploy.md
  netsim/providers/clab.py
Due: ci_tests

Shebang missing in Bird BFD config script
  netsim/ansible/templates/bfd/bird.j2
Due: none

Fix MPLS kernel module loading for libvirt VMs and clab containers (#3024)
  netsim/ansible/templates/mpls/frr.j2
Due: none

Fix: Load MPLS kernel module for FRR libvirt VMs (#3025)
  netsim/ansible/templates/mpls/frr.j2
Due: none

Fix: FRR (sometimes) needs metric on route redistribution into RIP
  netsim/ansible/templates/ripv2/frr.macro.j2
  netsim/ansible/templates/routing/_redistribute.frr.j2
Due: none

Rename 'clab.config_mode' to 'netlab_config_mode' group variable
  docs/dev/config/deploy.md
  netsim/daemons/bird.yml
  netsim/devices/linux.yml
  netsim/providers/clab.py
  tests/platform-integration/config/01-initial.yml
Due: yamllint, ci_tests

Integration test for #3022
  _html/platform-config.html
  platform/config/01-initial.yml-initial.log
  platform/config/01-initial.yml-snapshot.yml
  platform/config/01-initial.yml-up.log
  platform/config/01-initial.yml-validate.log
  platform/config/cleanup-down.log
  platform/config/results.yaml
Due: yamllint, ci_tests

Implement default configuration deployment mode (sh/ns) for containers (#3022)
  docs/dev/config/deploy.md
  netsim/ansible/templates/bfd/bird.j2
  netsim/daemons/bird.yml
  netsim/devices/linux.yml
  netsim/providers/clab.py
  tests/platform-integration/config/01-initial.yml
Due: yamllint, ci_tests

Fix: Survive removed lab directory in 'netlab status --cleanup'
  netsim/cli/status.py
Due: ci_tests

Fix: Add 'get_node_group_var' to augment.devices
  netsim/augment/devices.py
Due: ci_tests

Update netsim/augment/devices.py
  netsim/augment/devices.py
Due: ci_tests

Fix: Add 'get_node_group_var' to augment.devices (#3027)
  netsim/augment/devices.py
Due: ci_tests
