Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Small (but necessary) fixes
  netsim/modules/bgp.py
  tests/integration/bgp/14-ipv6-originate.yml
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

Adjust global BGP prefix origination tests
  tests/integration/bgp/04-originate.yml
  tests/integration/bgp/14-ipv6-originate.yml
Due: yamllint, ci_tests

VRF bgp.originate integration tests
  tests/integration/vrf/12-multi-vrf-bgp.yml
  tests/integration/vrf/22-multi-vrf-bgp-ipv6.yml
Due: yamllint, ci_tests

Documentation
  docs/dev/config/bgp.md
  docs/module/bgp.md
  docs/module/vrf.md
Due: none

Fixing the final nit
  tests/integration/vrf/22-multi-vrf-bgp-ipv6.yml
Due: yamllint, ci_tests

Fix: Change Junos global routing instance policy names
  netsim/ansible/templates/bgp/junos.macro.j2
  netsim/ansible/templates/bgp/junos.policy.j2
  netsim/devices/junos.py
Due: ci_tests

Fixing errors
  netsim/ansible/templates/bgp/junos.macro.j2
  netsim/ansible/templates/bgp/junos.policy.j2
Due: none

cRPD BGP/VRF tests for #3279
  _html/crpd-clab-bgp.html
  _html/crpd-clab-vrf.html
  crpd/clab/bgp/04-originate.yml-initial.log
  crpd/clab/bgp/04-originate.yml-up.log
  crpd/clab/bgp/04-originate.yml-validate.log
  crpd/clab/bgp/14-ipv6-originate.yml-initial.log
  crpd/clab/bgp/14-ipv6-originate.yml-up.log
  crpd/clab/bgp/cleanup-down.log
  crpd/clab/bgp/results.yaml
  crpd/clab/vrf/12-multi-vrf-bgp.yml-initial.log
  crpd/clab/vrf/12-multi-vrf-bgp.yml-up.log
  crpd/clab/vrf/12-multi-vrf-bgp.yml-validate.log
  crpd/clab/vrf/15-multi-vrf-mixed.yml-create.log
  crpd/clab/vrf/15-multi-vrf-mixed.yml-initial.log
  crpd/clab/vrf/15-multi-vrf-mixed.yml-up.log
  crpd/clab/vrf/15-multi-vrf-mixed.yml-validate.log
  crpd/clab/vrf/cleanup-down.log
  crpd/clab/vrf/results.yaml
Due: yamllint, ci_tests

Refactor file structure for Junos routing templates
  netsim/ansible/templates/routing/junos.j2
  netsim/ansible/templates/routing/junos/aspath.j2
  netsim/ansible/templates/routing/junos/community.j2
  netsim/ansible/templates/routing/junos/prefix_list.j2
  netsim/ansible/templates/routing/junos/route_policy.j2
  netsim/ansible/templates/routing/junos/static.j2
Due: none

Fix: Use standard Junos interface names for cRPD loopbacks
  netsim/devices/crpd.yml
Due: yamllint, ci_tests

Fixing a nit
  netsim/devices/crpd.yml
Due: yamllint, ci_tests

Fix: Merge Junos BGP advertise and propagate policies
  netsim/ansible/templates/bgp/junos.macro.j2
  netsim/ansible/templates/bgp/junos.policy.j2
  netsim/devices/junos.py
Due: ci_tests

Reorder routing policy chain
  netsim/ansible/templates/bgp/junos.policy.j2
  netsim/devices/junos.py
Due: ci_tests

Junos: Route import into global and VRF BGP instances
  docs/module/bgp.md
  netsim/ansible/templates/bgp/junos.macro.j2
  netsim/ansible/templates/bgp/junos.policy.j2
  netsim/ansible/templates/vrf/junos.bgp.j2
  netsim/devices/junos.py
  netsim/devices/junos.yml
Due: yamllint, ci_tests

Fix: Delete per-AF route filters
  netsim/ansible/templates/vrf/junos.bgp.j2
Due: none

Do policy cleanup in shared macro
  netsim/ansible/templates/bgp/junos.macro.j2
  netsim/ansible/templates/bgp/junos.policy.j2
  netsim/ansible/templates/vrf/junos.bgp.j2
Due: none

Junos: BGP confederations
  docs/module/bgp.md
  netsim/ansible/templates/bgp/junos.j2
  netsim/devices/junos.yml
Due: yamllint, ci_tests

Fix: Rearrange SROS/SRLinux 'routing' configuration templates
  netsim/ansible/templates/bgp/sros.gnmi.macro.j2
  netsim/ansible/templates/isis/srlinux.j2
  netsim/ansible/templates/isis/srlinux.macro.j2
  netsim/ansible/templates/isis/sros.j2
  netsim/ansible/templates/ospf/srlinux.macro.j2
  netsim/ansible/templates/ospf/sros.j2
  netsim/ansible/templates/routing/srlinux.j2
  netsim/ansible/templates/routing/srlinux/policy.j2
  netsim/ansible/templates/routing/srlinux/prefix.j2
  netsim/ansible/templates/routing/srlinux/redistribute.j2
  netsim/ansible/templates/routing/sros.j2
  netsim/ansible/templates/routing/sros/policy.j2
  netsim/ansible/templates/routing/sros/redistribute.j2
Due: none

cRPD BGP confederation tests for #3287
  _html/coverage.bgp.html
  _html/crpd-clab-bgp.html
  _html/crpd-clab.html
  _html/crpd.html
  crpd/clab/bgp/40-confederation.yml-create.log
  crpd/clab/bgp/40-confederation.yml-initial.log
  crpd/clab/bgp/40-confederation.yml-up.log
  crpd/clab/bgp/40-confederation.yml-validate.log
  crpd/clab/bgp/cleanup-down.log
  crpd/clab/bgp/results.yaml
  index.html
Due: yamllint, ci_tests

Use 'is defined' for better error handling
  netsim/ansible/templates/routing/sros/policy.j2
Due: none

SR Linux static routes (including VRF and discard routes)
  docs/module/routing-static.txt
  docs/module/routing.md
  netsim/ansible/templates/bgp/srlinux.macro.j2
  netsim/ansible/templates/routing/srlinux.j2
  netsim/ansible/templates/routing/srlinux/static.j2
  netsim/devices/srlinux.yml
Due: yamllint, ci_tests

Nokia SR OS static routes (including VRF and discard routes)
  docs/module/routing-static.txt
  docs/module/routing.md
  netsim/ansible/templates/routing/sros.j2
  netsim/devices/sros.yml
Due: yamllint, ci_tests

Added missing template
  netsim/ansible/templates/routing/sros/static.j2
Due: none

NexusOS static routes (including VRF and discard routes)
  docs/module/routing-static.txt
  docs/module/routing.md
  netsim/ansible/templates/routing/nxos.j2
  netsim/ansible/templates/routing/nxos/static.j2
  netsim/devices/nxos.yml
Due: yamllint, ci_tests

Cleanup routing and BGP templates
  netsim/ansible/templates/bgp/sros.gnmi.macro.j2
  netsim/ansible/templates/routing/sros/static.j2
Due: none

Fix: rearrange search list components for provider-related templates
  netsim/utils/templates.py
Due: ci_tests

Fix: Use shared 'ansible_extra_vars' function
  netsim/cli/ansible.py
  netsim/cli/config.py
  netsim/cli/initial/deploy.py
Due: ci_tests

Better handling of default parameters
  netsim/cli/ansible.py
Due: ci_tests

Doc: Fix common IOS/IOS XE caveats pointing to IOSv caveats
  docs/caveats.md
  docs/module/ripv2.md
  docs/module/vlan.md
  docs/module/vrf.md
  docs/platforms.md
  docs/plugins/bgp.policy.md
Due: none

Rewording a link to SSH caveat
  docs/caveats.md
Due: none

Minor fixes
  docs/caveats.md
  docs/module/vrf.md
  docs/platforms.md
Due: none

Clarify what Cisco IOS means
  docs/platforms.md
Due: none
