Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Update documentation style guidelines
  AGENTS.md
Due: none

Add "Use Title Case" to AI agent instructions (#3870)
  .github/skills/developer-documentation/SKILL.md
  AGENTS.md
Due: none

Update testing description based on actual GH actions
  docs/dev/tests.md
Due: none

Updated "Feature tables" documentation (#3869)
  docs/dev/features-tables.md
Due: none

Clarify purpose of run-tests.sh in tests documentation
  docs/dev/tests.md
Due: none

Update testing description based on actual GH actions (#3871)
  docs/dev/tests.md
Due: none

Use feature tables in OSPF documentation
  docs/caveats.md
  docs/module/ospf.md
  netsim/daemons/bird.yml
  netsim/devices/asav.yml
  netsim/devices/cumulus_nvue.yml
  netsim/devices/dellos10.yml
  netsim/devices/openbsd.yml
  netsim/devices/routeros.yml
  netsim/devices/routeros7.yml
  netsim/devices/srlinux.yml
  netsim/devices/vyos.yml
Due: yamllint, ci_tests

libvirt: use kvm-ok from PATH
  netsim/providers/libvirt.yml
Due: yamllint, ci_tests

FRR/Linux initial device configurations for #3874
  _html/coverage.initial.html
  _html/frr-clab-initial.html
  _html/frr-libvirt-initial.html
  _html/frr-libvirt.html
  _html/frr.html
  _html/linux-clab-initial.html
  _html/linux-libvirt-initial.html
  _html/linux-libvirt.html
  _html/linux.html
  frr/clab/initial/01-interfaces.yml-up.log
  frr/clab/initial/01-interfaces.yml-validate.log
  frr/clab/initial/01a-scripts.yml-up.log
  frr/clab/initial/cleanup-down.log
  frr/clab/initial/results.yaml
  frr/libvirt/initial/01-interfaces.yml-up.log
  frr/libvirt/initial/01a-scripts.yml-create.log
  frr/libvirt/initial/cleanup-down.log
  frr/libvirt/initial/results.yaml
  index.html
  linux/clab/initial/01-interfaces.yml-create.log
  linux/clab/initial/01-interfaces.yml-initial.log
  linux/clab/initial/01-interfaces.yml-up.log
  linux/clab/initial/01-interfaces.yml-validate.log
  linux/clab/initial/01a-scripts.yml-create.log
  linux/clab/initial/01a-scripts.yml-initial.log
  linux/clab/initial/01a-scripts.yml-up.log
  linux/clab/initial/01a-scripts.yml-validate.log
  linux/clab/initial/01c-netmiko.yml-create.log
  linux/clab/initial/cleanup-down.log
  linux/clab/initial/results.yaml
  linux/libvirt/initial/01-interfaces.yml-initial.log
  linux/libvirt/initial/01-interfaces.yml-up.log
  linux/libvirt/initial/01-interfaces.yml-validate.log
  linux/libvirt/initial/01a-scripts.yml-create.log
  linux/libvirt/initial/cleanup-down.log
  linux/libvirt/initial/results.yaml
Due: yamllint, ci_tests

Libvirt: Check access to system QEMU socket
  netsim/providers/libvirt.yml
Due: yamllint, ci_tests

Handle user interrupt in 'netlab test'
  netsim/cli/test.py
Due: ci_tests

Copilot-inspired fixes
  netsim/cli/test.py
Due: ci_tests

Doc: Change the year part of netlab version in release template
  docs/release/release.template
Due: none

Sunsetting libvirt provider
  docs/release.md
  docs/release/26.09.md
Due: none

Sunsetting libvirt provider (#3879)
  docs/release.md
  docs/release/26.09.md
Due: none

Add 'libvirt is going away' messsage to libvirt/platform docs
  docs/labs/libvirt.md
  docs/platforms.md
Due: none

Fixing links
  docs/labs/libvirt.md
  docs/platforms.md
  docs/release.md
  docs/release/26.09.md
Due: none

Add 'libvirt is going away' messsage to libvirt/platform docs (#3880)
  docs/labs/libvirt.md
  docs/platforms.md
  docs/release.md
  docs/release/26.09.md
Due: none

Fix/multiserver vxlan clab link syntax (#3830)
  netsim/templates/provider/clab/clab.j2
Due: none

Add multiserver test harness
  tests/platform-integration/clab/ms-vm/.bash_aliases
  tests/platform-integration/clab/ms-vm/Vagrantfile
  tests/platform-integration/clab/ms-vm/start.sh
  tests/platform-integration/clab/ms-vm/stop.sh
  tests/platform-integration/clab/x-10-multiserver.yml
Due: yamllint, ci_tests

Document multiserver VXLAN MTU caveat
  docs/plugins/multiserver.md
Due: none

Document multiserver VXLAN MTU caveat (#3882)
  docs/plugins/multiserver.md
Due: none

Release 26.09
  docs/release.md
  docs/release/26.09.md
Due: none

Release note cleanup/fixes
  docs/release.md
  docs/release/26.05.md
  docs/release/26.09.md
Due: none

Fix issue with interface iterations
  netsim/devices/routeros7.py
Due: ci_tests

Fix: Use default netlab config mode in libvirt auth test
  tests/platform-integration/libvirt/03-authentication.yml
Due: yamllint, ci_tests

Fixing indentation
  netsim/ansible/templates/lag/routeros7.j2
Due: none

LAG on RouterOS7 (#3851)
  netsim/ansible/templates/initial/routeros7.j2
  netsim/ansible/templates/lag/routeros7.initial.j2
  netsim/ansible/templates/lag/routeros7.j2
  netsim/ansible/templates/vlan/routeros7.j2
  netsim/devices/routeros7.py
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

Finalize release notes, change release number
  README.md
  docs/release.md
  docs/release/26.09.md
  netsim/__init__.py
Due: ci_tests

Adding a missed change
  docs/release/26.09.md
Due: none

Release 26.09 (#3883)
  README.md
  docs/release.md
  docs/release/26.05.md
  docs/release/26.09.md
  netsim/__init__.py
Due: ci_tests

Cleanup netlab installation instructions
  docs/install.md
  docs/install/clone.md
  docs/install/cloud.md
  docs/install/linux.md
  docs/install/ubuntu-vm.md
  docs/install/ubuntu.md
Due: none

Fix remaining file links
  docs/caveats.md
  docs/install.md
  docs/install/cloud.md
  docs/install/linux.md
  docs/install/ubuntu-vm.md
  docs/install/ubuntu.md
Due: none

Add SRv6 BGP tests to feature coverage
  _html/cat8000v-libvirt-srv6.html
  _html/coverage.srv6.html
  _html/frr-clab-srv6.html
  _html/iol-clab-srv6.html
  _html/ioll2-clab-srv6.html
  _html/iosxr-clab-srv6.html
  index.html
  map-tests.yml
Due: yamllint, ci_tests

EBGP propagation of SRv6 SIDs
  docs/module/srv6.md
  netsim/ansible/templates/srv6/frr.bgp.j2
  netsim/ansible/templates/srv6/frr.j2
  netsim/ansible/templates/srv6/iosxr.bgp.j2
  netsim/devices/frr.yml
  netsim/devices/iosxr.yml
  netsim/modules/srv6.py
  netsim/modules/srv6.yml
  tests/integration/srv6/11-isis-ipv6-bgp.yml
  tests/integration/srv6/21-ebgp-ipv4-bgp.yml
  tests/integration/srv6/x-31-ebgp-isis-ipv4-bgp.yml
Due: yamllint, ci_tests

FRR/IOS XR SRv6 tests for #3888
  _html/frr-clab-srv6.html
  _html/iosxr-clab-srv6.html
  _html/release-coverage.html
  frr/clab/srv6/01-isis-ipv4-bgp.yml-up.log
  frr/clab/srv6/01-isis-ipv4-bgp.yml-validate.log
  frr/clab/srv6/02-isis-ipv4-bgp-vpn.yml-initial.log
  frr/clab/srv6/02-isis-ipv4-bgp-vpn.yml-up.log
  frr/clab/srv6/11-isis-ipv6-bgp.yml-initial.log
  frr/clab/srv6/11-isis-ipv6-bgp.yml-up.log
  frr/clab/srv6/11-isis-ipv6-bgp.yml-validate.log
  frr/clab/srv6/12-isis-ipv6-bgp-vpn.yml-initial.log
  frr/clab/srv6/12-isis-ipv6-bgp-vpn.yml-up.log
  frr/clab/srv6/12-isis-ipv6-bgp-vpn.yml-validate.log
  frr/clab/srv6/21-ebgp-ipv4-bgp.yml-create.log
  frr/clab/srv6/21-ebgp-ipv4-bgp.yml-initial.log
  frr/clab/srv6/21-ebgp-ipv4-bgp.yml-up.log
  frr/clab/srv6/21-ebgp-ipv4-bgp.yml-validate.log
  frr/clab/srv6/cleanup-down.log
  frr/clab/srv6/results.yaml
  index.html
  iosxr/clab/srv6/01-isis-ipv4-bgp.yml-initial.log
  iosxr/clab/srv6/01-isis-ipv4-bgp.yml-up.log
  iosxr/clab/srv6/01-isis-ipv4-bgp.yml-validate.log
  iosxr/clab/srv6/02-isis-ipv4-bgp-vpn.yml-up.log
  iosxr/clab/srv6/02-isis-ipv4-bgp-vpn.yml-validate.log
  iosxr/clab/srv6/11-isis-ipv6-bgp.yml-initial.log
  iosxr/clab/srv6/11-isis-ipv6-bgp.yml-up.log
  iosxr/clab/srv6/11-isis-ipv6-bgp.yml-validate.log
  iosxr/clab/srv6/12-isis-ipv6-bgp-vpn.yml-initial.log
  iosxr/clab/srv6/12-isis-ipv6-bgp-vpn.yml-up.log
  iosxr/clab/srv6/12-isis-ipv6-bgp-vpn.yml-validate.log
  iosxr/clab/srv6/21-ebgp-ipv4-bgp.yml-create.log
  iosxr/clab/srv6/21-ebgp-ipv4-bgp.yml-initial.log
  iosxr/clab/srv6/21-ebgp-ipv4-bgp.yml-up.log
  iosxr/clab/srv6/21-ebgp-ipv4-bgp.yml-validate.log
  iosxr/clab/srv6/cleanup-down.log
  iosxr/clab/srv6/results.yaml
Due: yamllint, ci_tests

Fix feature check, add 'srv6.ebgp' feature to 'none' device
  netsim/devices/none.yml
  netsim/modules/srv6.py
Due: yamllint, ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
