Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Docs: OSPF P2P is now supported for ASAv
  docs/caveats.md
Due: none

ASAv: non-broadcast OSPF P2P links (#3904)
  docs/caveats.md
  netsim/ansible/templates/ospf/asa.ospfv2.j2
  netsim/devices/asav.py
Due: ci_tests

SRv6 on Junos (#3889)
  netsim/ansible/templates/srv6/junos.bgp.j2
  netsim/ansible/templates/srv6/junos.j2
  netsim/devices/junos.py
  netsim/devices/vjunos-router.yml
  netsim/devices/vjunos-switch.yml
  tests/integration/srv6/12-isis-ipv6-bgp-vpn.yml
Due: yamllint, ci_tests

Fix: Change the documentation name of vjunos-router
  netsim/devices/vjunos-router.yml
Due: yamllint, ci_tests

Fix: Change the documentation name of vjunos-router (#3905)
  netsim/devices/vjunos-router.yml
Due: yamllint, ci_tests

RFC 8950 support for Junos
  netsim/ansible/templates/bgp/junos.j2
  netsim/ansible/templates/bgp/junos.macro.j2
  netsim/devices/junos.py
  netsim/devices/junos.yml
Due: yamllint, ci_tests

clab stages, batches and start_after parameter
  docs/labs/clab.md
  netsim/defaults/attributes.yml
  netsim/devices/arubacx.yml
  netsim/devices/asav.yml
  netsim/devices/cat8000v.yml
  netsim/devices/csr.yml
  netsim/devices/dellos10.yml
  netsim/devices/exos.yml
  netsim/devices/fortios.yml
  netsim/devices/iosv.yml
  netsim/devices/iosvl2.yml
  netsim/devices/nxos.yml
  netsim/devices/openbsd.yml
  netsim/devices/routeros7.yml
  netsim/devices/vjunos-router.yml
  netsim/devices/vjunos-switch.yml
  netsim/devices/vmx.yml
  netsim/devices/vptx.yml
  netsim/devices/vsrx.yml
  netsim/providers/clab.yml
  netsim/providers/clab/__init__.py
  netsim/providers/clab/utils.py
  tests/platform-integration/large/x-medium-fabric.yml
Due: yamllint, ci_tests

RFC 8950 support for Junos (#3906)
  netsim/ansible/templates/bgp/junos.j2
  netsim/ansible/templates/bgp/junos.macro.j2
  netsim/devices/junos.py
  netsim/devices/junos.yml
Due: yamllint, ci_tests

Fixing Copilot-identified error
  docs/labs/clab.md
  netsim/providers/clab/__init__.py
  netsim/providers/clab/utils.py
Due: ci_tests

Docs: code comments, a note on netlab_check_retries
  docs/labs/clab.md
  netsim/providers/clab/utils.py
Due: ci_tests

Comments in static routes
  docs/module/routing-static.txt
  netsim/ansible/templates/routing/iosxr/static.j2
  netsim/modules/routing.yml
  netsim/modules/routing/static.py
  tests/integration/routing/20-static.yml
Due: yamllint, ci_tests

Fix: "comment" should not be documented as a prefix attribute
  docs/module/routing-static.txt
Due: none

ArubaOSCX: Transparent Management
  netsim/devices/arubacx.yml
Due: yamllint, ci_tests

ExtremeEXOS: Transparent Management
  netsim/devices/exos.yml
Due: yamllint, ci_tests

SRv6 on SR Linux
  netsim/ansible/templates/srv6/srlinux.bgp.j2
  netsim/ansible/templates/srv6/srlinux.j2
  netsim/devices/srlinux.py
  netsim/devices/srlinux.yml
  netsim/modules/srv6.py
  tests/integration/srv6/topology-defaults.yml
Due: yamllint, ci_tests

clab stages, batches and start_after parameter (#3907)
  docs/labs/clab.md
  netsim/defaults/attributes.yml
  netsim/devices/arubacx.yml
  netsim/devices/asav.yml
  netsim/devices/cat8000v.yml
  netsim/devices/csr.yml
  netsim/devices/dellos10.yml
  netsim/devices/exos.yml
  netsim/devices/fortios.yml
  netsim/devices/iosv.yml
  netsim/devices/iosvl2.yml
  netsim/devices/nxos.yml
  netsim/devices/openbsd.yml
  netsim/devices/routeros7.yml
  netsim/devices/vjunos-router.yml
  netsim/devices/vjunos-switch.yml
  netsim/devices/vmx.yml
  netsim/devices/vptx.yml
  netsim/devices/vsrx.yml
  netsim/providers/clab.yml
  netsim/providers/clab/__init__.py
  netsim/providers/clab/utils.py
  tests/platform-integration/large/x-medium-fabric.yml
Due: yamllint, ci_tests

clab-wide minimum SSH timeout
  docs/labs/clab.md
  docs/netlab/initial.md
  netsim/cli/initial/ready.py
  tests/platform-integration/clab/05-provider-ssh-wait.yml
Due: yamllint, ci_tests

Add netlab-ui tool documentation and configuration files
  docs/extool/netlab-ui.md
  docs/extools.md
  netsim/tools/netlab_ui.yml
  tests/topology/expected/tools.yml
  tests/topology/input/tools.yml
Due: yamllint, ci_tests

Fix: Accept IPv4 packets over IPv6 interfaces, no interface EBGP neighbors
  netsim/ansible/templates/srv6/srlinux.j2
  netsim/ansible/templates/srv6/srlinux/l3svc.j2
  netsim/devices/srlinux.py
Due: ci_tests

Add interface EBGP with SRv6 caveat
  docs/caveats.md
  docs/module/srv6.md
  netsim/devices/srlinux.yml
Due: yamllint, ci_tests

SRv6 on SR Linux (#3910)
  docs/caveats.md
  docs/module/srv6.md
  netsim/ansible/templates/srv6/srlinux.j2
  netsim/ansible/templates/srv6/srlinux/l3svc.j2
  netsim/devices/srlinux.py
  netsim/devices/srlinux.yml
  netsim/modules/srv6.py
  tests/integration/srv6/topology-defaults.yml
Due: yamllint, ci_tests

SR Linux SRv6 L3VPN support
  netsim/ansible/templates/bgp/srlinux.macro.j2
  netsim/ansible/templates/mpls/srlinux/vpn.j2
  netsim/ansible/templates/routing/srlinux/redistribute.j2
  netsim/ansible/templates/srv6/srlinux.j2
  netsim/ansible/templates/srv6/srlinux/l3vpn.j2
  netsim/devices/srlinux.yml
Due: yamllint, ci_tests

Fix the hard-coded locator name
  netsim/ansible/templates/srv6/srlinux/l3vpn.j2
Due: none

clab-wide minimum SSH timeout (#3911)
  docs/labs/clab.md
  docs/netlab/initial.md
  netsim/cli/initial/ready.py
  tests/platform-integration/clab/05-provider-ssh-wait.yml
Due: yamllint, ci_tests

Add container health to device readyness checks
  docs/labs/clab.md
  netsim/cli/initial/ready.py
  netsim/defaults/netlab.yml
  netsim/providers/__init__.py
  netsim/providers/clab/__init__.py
  netsim/providers/clab/labops.py
Due: yamllint, ci_tests

Fix: Limit health check only to specified containers
  netsim/providers/clab/__init__.py
  netsim/providers/clab/labops.py
Due: ci_tests

Fix: run_command exception handling was too roughshod
  netsim/cli/external_commands.py
Due: ci_tests

Ensure the captured outputs are always strings
  netsim/cli/external_commands.py
Due: ci_tests

Fix: run_command exception handling was too roughshod (#3916)
  netsim/cli/external_commands.py
Due: ci_tests

Fix: Show original error when failing to start a tool
  netsim/cli/external_commands.py
Due: ci_tests

Fix: Show original error when failing to start a tool (#3917)
  netsim/cli/external_commands.py
Due: ci_tests

Fix the container health check
  netsim/providers/clab/labops.py
Due: ci_tests

Add container health to device readyness checks (#3915)
  docs/labs/clab.md
  netsim/cli/initial/ready.py
  netsim/defaults/netlab.yml
  netsim/providers/__init__.py
  netsim/providers/clab/__init__.py
  netsim/providers/clab/labops.py
Due: yamllint, ci_tests

Doc: Tools can be enabled via environment vars
  docs/extools.md
Due: none

Comments in static routes (#3908)
  docs/module/routing-static.txt
  netsim/ansible/templates/routing/iosxr/static.j2
  netsim/modules/routing.yml
  netsim/modules/routing/static.py
  tests/integration/routing/20-static.yml
Due: yamllint, ci_tests

Generalize static route entries
  docs/module/routing-static.txt
  netsim/modules/bgp.py
  netsim/modules/routing.yml
  netsim/modules/routing/static.py
  netsim/roles/host.py
  tests/coverage/errors/attr-valid-with.log
  tests/coverage/errors/attr-valid-with.yml
  tests/coverage/expected/bgp-default.yml
  tests/errors/rp-static-nonsense.log
  tests/topology/expected/anycast-gateway.yml
  tests/topology/expected/bgp-af-rt-929.yml
  tests/topology/expected/bgp-ibgp-localas.yml
  tests/topology/expected/bgp-unnumbered-dual-stack.yml
  tests/topology/expected/dhcp-vlan.yml
  tests/topology/expected/rp-static-gw.yml
  tests/topology/expected/rp-static.yml
  tests/topology/input/rp-static.yml
Due: yamllint, ci_tests

Fix: Check for running containers during cleanup
  netsim/cli/clab/cleanup.py
Due: ci_tests

Fix: Check for running containers during cleanup (#3919)
  netsim/cli/clab/cleanup.py
Due: ci_tests
