Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Add Documentation for EOS GRE tunnel
  docs/plugins/tunnel.gre.md
Due: none

Add initial code to handle acl_address expansion from pool, prefix, and node/interface, node/role tuples
  netsim/modules/routing/acl.py
Due: ci_tests

Tighten acl_address validation schema
  netsim/modules/routing.yml
Due: yamllint, ci_tests

Reorganize acl.py layout.
  netsim/modules/routing/acl.py
Due: ci_tests

Teach expand_acl() to synthesize ACL comment list entries
  netsim/modules/routing/acl.py
Due: ci_tests

Add Static Routing and internal VRF routing for RouterOS7
  netsim/ansible/templates/routing/routeros7.j2
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

Add inter-VRF routes to RouterOS7
  netsim/ansible/templates/routing/routeros7.j2
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

Add documentation update for RouterOS 7 static routing ability
  docs/module/routing-static.txt
Due: none

Update discard routes to allow VRF for RouterOS7
  netsim/ansible/templates/routing/routeros7.j2
Due: none

Fix side-effects, now passes all tests
  netsim/ansible/templates/routing/routeros7.j2
Due: none

Remove static routing changes from GRE change for RouterOS7
  docs/module/routing-static.txt
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

Fix GRE guard on interface creation
  netsim/ansible/templates/initial/routeros7.j2
Due: none

Add extra minimal change for OSPFv3 enabled for VRF for RouterOS 7
  netsim/ansible/templates/vrf/routeros7.j2
  netsim/ansible/templates/vrf/routeros7.ospfv3-vrf.j2
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

Bump target-scope to 41 which means indirect static will be processed last
  netsim/ansible/templates/routing/routeros7.j2
Due: none

Check SRGB configuration SR integration tests
  tests/integration/sr/01-isis-ipv4-p.yml
  tests/integration/sr/21-ospf-ipv4-p.yml
Due: yamllint, ci_tests

Stopped SR Linux SR/MPLS testing with release 26.7
  setup.yml
Due: yamllint, ci_tests

Stopped SR SIM testing
  setup.yml
Due: yamllint, ci_tests

Fixing nits
  tests/integration/sr/01-isis-ipv4-p.yml
  tests/integration/sr/21-ospf-ipv4-p.yml
Due: yamllint, ci_tests

Check SRGB configuration SR integration tests (#3668)
  tests/integration/sr/01-isis-ipv4-p.yml
  tests/integration/sr/21-ospf-ipv4-p.yml
Due: yamllint, ci_tests

Fix: sr.srgb is not a global attribute
  tests/integration/sr/01-isis-ipv4-p.yml
Due: yamllint, ci_tests

FRR: Add IS-IS SRGB configuration (#3652)
  netsim/ansible/templates/sr/frr.j2
Due: none

Fix: Show 'dhcp.client.routing' feature flag in 'show modules'
  netsim/modules/dhcp.yml
Due: yamllint, ci_tests

Fix: Partial extra-initial-configuration functionality
  netsim/ansible/templates/initial/_extra_initial.j2
Due: none

Tighten data model. While at it, fix a typo which prevented proper validation of port_range against operators
  netsim/modules/routing.yml
Due: yamllint, ci_tests

Sample VyOS tests for #3670
  _html/vyos-clab-tunnel.html
  _html/vyos-clab-vlan.html
  _html/vyos-clab-vrf.html
  vyos/clab/tunnel/01-gre.yml-initial.log
  vyos/clab/tunnel/01-gre.yml-up.log
  vyos/clab/tunnel/cleanup-down.log
  vyos/clab/tunnel/results.yaml
  vyos/clab/vlan/01-vlan-bridge-single.yml-initial.log
  vyos/clab/vlan/01-vlan-bridge-single.yml-up.log
  vyos/clab/vlan/cleanup-down.log
  vyos/clab/vlan/results.yaml
  vyos/clab/vrf/01-multi-vrf.yml-up.log
  vyos/clab/vrf/cleanup-down.log
  vyos/clab/vrf/results.yaml
Due: yamllint, ci_tests

Fix: Partial extra-initial-configuration functionality (#3670)
  netsim/ansible/templates/initial/_extra_initial.j2
Due: none

Fix: Configure IOS DHCP client during initial interface config
  netsim/ansible/templates/dhcp/ios.initial.j2
  netsim/ansible/templates/dhcp/ios.j2
  netsim/ansible/templates/initial/ios.j2
Due: none

Fix: Show 'dhcp.client.routing' feature flag in 'show modules' (#3671)
  netsim/modules/dhcp.yml
Due: yamllint, ci_tests

Check which OSPF needs to be enabled v2/v3 in VRF configuration for RouterOS 7
  netsim/ansible/templates/vrf/routeros7.j2
Due: none

Ensure Vagrant uses libvirt as provider for destroy command
  netsim/providers/libvirt.py
Due: ci_tests

Add documentation update for OSPFv3 within VRF for RouterOS 7
  docs/module/vrf.md
  netsim/ansible/templates/vrf/routeros7.j2
Due: none

Fix: Configure IOS DHCP client during initial interface config (#3672)
  netsim/ansible/templates/dhcp/ios.initial.j2
  netsim/ansible/templates/dhcp/ios.j2
  netsim/ansible/templates/initial/ios.j2
Due: none

Bump SR Linux release to 26.7.1
  netsim/devices/srlinux.yml
  tests/topology/expected/multiserver-explicit.yml
Due: yamllint, ci_tests

Fix: Routing protocol config is no longer dependent on DHCP
  netsim/modules/eigrp.yml
  netsim/modules/isis.yml
  netsim/modules/ospf.yml
  netsim/modules/ripv2.yml
Due: yamllint, ci_tests

IOS routing-over-DHCP tests for #3674
  _html/ioll2-clab-dhcp.html
  _html/iosv-libvirt-dhcp.html
  ioll2/clab/dhcp/31-ipv4-client-ospf.yml-create.log
  ioll2/clab/dhcp/31-ipv4-client-ospf.yml-initial.log
  ioll2/clab/dhcp/31-ipv4-client-ospf.yml-up.log
  ioll2/clab/dhcp/31-ipv4-client-ospf.yml-validate.log
  ioll2/clab/dhcp/32-ipv6-client-ospf.yml-create.log
  ioll2/clab/dhcp/32-ipv6-client-ospf.yml-initial.log
  ioll2/clab/dhcp/32-ipv6-client-ospf.yml-up.log
  ioll2/clab/dhcp/cleanup-down.log
  ioll2/clab/dhcp/results.yaml
  iosv/libvirt/dhcp/31-ipv4-client-ospf.yml-create.log
  iosv/libvirt/dhcp/31-ipv4-client-ospf.yml-initial.log
  iosv/libvirt/dhcp/31-ipv4-client-ospf.yml-up.log
  iosv/libvirt/dhcp/31-ipv4-client-ospf.yml-validate.log
  iosv/libvirt/dhcp/32-ipv6-client-ospf.yml-create.log
  iosv/libvirt/dhcp/32-ipv6-client-ospf.yml-initial.log
  iosv/libvirt/dhcp/32-ipv6-client-ospf.yml-up.log
  iosv/libvirt/dhcp/cleanup-down.log
  iosv/libvirt/dhcp/results.yaml
Due: yamllint, ci_tests

Fix transformation test results
  tests/topology/expected/dhcp-vlan.yml
  tests/topology/expected/groups-hierarchy.yml
Due: yamllint, ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
