Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

RF: Replace routing.community.x.type with ...cl_type (#2845)
  netsim/ansible/templates/routing/arubacx.j2
  netsim/ansible/templates/routing/dellos10.j2
  netsim/ansible/templates/routing/frr.j2
  netsim/ansible/templates/routing/ios.j2
  netsim/devices/dellos10.py
  netsim/modules/routing/clist.py
  tests/topology/expected/rp-clist-expansion.yml
Due: yamllint, ci_tests

Implement Copilot suggestions
  docs/dev/validation.md
  netsim/data/validate.py
Due: ci_tests

Implement '_invalid_with' data validation option (#2849)
  docs/dev/validation.md
  netsim/data/validate.py
  netsim/modules/routing.yml
  tests/coverage/errors/attr-invalid-with.log
  tests/coverage/errors/attr-invalid-with.yml
  tests/coverage/errors/attr-valid-with.log
  tests/coverage/errors/attr-valid-with.yml
  tests/run-coverage-tests.sh
Due: yamllint, ci_tests

Implement suggestions by @jbemmel and GH Copilot
  netsim/modules/bgp.py
  netsim/modules/bgp.yml
Due: yamllint, ci_tests

Implement 'bgp.rr_mesh' parameter to control IBGP sessions between RRs (#2847)
  docs/module/bgp.md
  netsim/modules/bgp.py
  netsim/modules/bgp.yml
  tests/topology/expected/bgp-members.yml
  tests/topology/input/bgp-members.yml
Due: yamllint, ci_tests

Initial GH Copilot instructions
  .github/copilot-instructions.md
Due: none

Implement 'shutdown' link/interface attribute
  docs/links.md
  netsim/ansible/templates/initial/arubacx.j2
  netsim/ansible/templates/initial/cumulus_nvue.j2
  netsim/ansible/templates/initial/dellos10.j2
  netsim/ansible/templates/initial/eos.j2
  netsim/ansible/templates/initial/frr.j2
  netsim/ansible/templates/initial/ios.j2
  netsim/ansible/templates/initial/iosxr.j2
  netsim/ansible/templates/initial/linux/vanilla-ifconfig.j2
  netsim/ansible/templates/initial/nxos.j2
  netsim/ansible/templates/initial/srlinux.j2
  netsim/ansible/templates/initial/sros.j2
  netsim/defaults/attributes.yml
  tests/integration/initial/01-interfaces.yml
  tests/topology/expected/link-formats.yml
  tests/topology/input/link-formats.yml
Due: yamllint, ci_tests

Fixes#1: missing host in integration test, FRR config
  netsim/ansible/templates/initial/frr.j2
  tests/integration/initial/01-interfaces.yml
Due: yamllint, ci_tests

Implement on Junos/RouterOS7, fix on SROS
  netsim/ansible/templates/initial/junos.j2
  netsim/ansible/templates/initial/routeros7.j2
  netsim/ansible/templates/initial/sros.j2
Due: none

Fix documentation, add VyOS and OpenBSD
  docs/dev/config/initial.md
  docs/links.md
  netsim/ansible/templates/initial/openbsd.j2
  netsim/ansible/templates/initial/vyos.j2
Due: none

Fix Cumulus NVUE
  netsim/ansible/templates/initial/cumulus_nvue.j2
Due: none

Transform community lists into type/value format
  netsim/modules/routing.yml
  netsim/modules/routing/__init__.py
  netsim/modules/routing/clist.py
  netsim/modules/routing/normalize.py
  netsim/modules/routing/policy.py
  tests/topology/expected/rp-clist-expansion.yml
Due: yamllint, ci_tests

Trying to keep Python 3.8 mypy happy :(
  netsim/modules/routing/policy.py
Due: ci_tests

Add 'single entry as box' clist format to the transformation test
  tests/topology/input/rp-clist-expansion.yml
Due: yamllint, ci_tests

Add canonical (type/value) community to the rp-clist-expansion test
  tests/topology/input/rp-clist-expansion.yml
Due: yamllint, ci_tests

Transform community lists into type/value format (#2851)
  netsim/modules/routing.yml
  netsim/modules/routing/__init__.py
  netsim/modules/routing/clist.py
  netsim/modules/routing/normalize.py
  netsim/modules/routing/policy.py
  tests/topology/expected/rp-clist-expansion.yml
  tests/topology/input/rp-clist-expansion.yml
Due: yamllint, ci_tests

Implement _default values in data validation
  docs/dev/validation.md
  netsim/data/validate.py
  netsim/modules/routing.yml
  netsim/modules/routing/clist.py
  tests/topology/expected/rp-clist-expansion.yml
Due: yamllint, ci_tests

Implement _default values in data validation (#2852)
  docs/dev/validation.md
  netsim/data/validate.py
  netsim/modules/routing.yml
  netsim/modules/routing/clist.py
  tests/topology/expected/rp-clist-expansion.yml
Due: yamllint, ci_tests

Implement the framework for standard/extended/large community lists
  docs/module/routing-advanced.txt
  docs/module/routing-aspath.txt
  docs/module/routing-clist.txt
  docs/module/routing-policy.txt
  docs/module/routing-prefix.txt
  docs/module/routing-static.txt
  docs/module/routing.md
  netsim/ansible/templates/routing/_route_map_ios.j2
  netsim/ansible/templates/routing/_route_policy_junos.j2
  netsim/ansible/templates/routing/_route_policy_vyos.j2
  netsim/ansible/templates/routing/dellos10.j2
  netsim/ansible/templates/routing/eos.j2
  netsim/ansible/templates/routing/frr.j2
  netsim/ansible/templates/routing/ios.j2
  netsim/devices/arubacx.yml
  netsim/devices/cumulus.yml
  netsim/devices/dellos10.py
  netsim/devices/dellos10.yml
  netsim/devices/eos.yml
  netsim/devices/frr.yml
  netsim/devices/ios.yml
  netsim/devices/junos.yml
  netsim/devices/none.yml
  netsim/devices/vyos.yml
  netsim/modules/routing.yml
  netsim/modules/routing/__init__.py
  netsim/modules/routing/clist.py
  netsim/modules/routing/normalize.py
  netsim/modules/routing/policy.py
  tests/coverage/errors/clist-match-type-mismatch.log
  tests/coverage/errors/clist-match-type-mismatch.yml
  tests/coverage/errors/clist-merge-type-mismatch.log
  tests/coverage/errors/clist-merge-type-mismatch.yml
  tests/coverage/errors/clist-type-unsupported.log
  tests/coverage/errors/clist-type-unsupported.yml
  tests/topology/expected/rp-clist-expansion.yml
Due: yamllint, ci_tests

Fix addr for link-local addressed interfaces
  netsim/outputs/_graph.py
Due: ci_tests

Implement 'shutdown' link/interface attribute (#2850)
  docs/dev/config/initial.md
  docs/links.md
  netsim/ansible/templates/initial/arubacx.j2
  netsim/ansible/templates/initial/cumulus_nvue.j2
  netsim/ansible/templates/initial/dellos10.j2
  netsim/ansible/templates/initial/eos.j2
  netsim/ansible/templates/initial/frr.j2
  netsim/ansible/templates/initial/ios.j2
  netsim/ansible/templates/initial/iosxr.j2
  netsim/ansible/templates/initial/junos.j2
  netsim/ansible/templates/initial/linux/vanilla-ifconfig.j2
  netsim/ansible/templates/initial/nxos.j2
  netsim/ansible/templates/initial/openbsd.j2
  netsim/ansible/templates/initial/routeros7.j2
  netsim/ansible/templates/initial/srlinux.j2
  netsim/ansible/templates/initial/sros.j2
  netsim/ansible/templates/initial/vyos.j2
  netsim/defaults/attributes.yml
  tests/integration/initial/01-interfaces.yml
  tests/topology/expected/link-formats.yml
  tests/topology/input/link-formats.yml
Due: yamllint, ci_tests

Doc fix: use recent vrnetlab to build Cat8000v containers
  docs/caveats.md
Due: none

Fix: Unnumbered interfaces crash topology graphs (#2855)
  netsim/outputs/_graph.py
Due: ci_tests

Extend 'delete communities with clist' to large/extended communities
  netsim/modules/routing/clist.py
Due: ci_tests

Enable use of clab k8s-kind
  netsim/templates/provider/clab/clab.j2
Due: none

Implement Copilot-suggested fix
  docs/module/routing-policy.txt
Due: none

Implement the framework for standard/extended/large community lists (#2853)
  docs/module/routing-advanced.txt
  docs/module/routing-aspath.txt
  docs/module/routing-clist.txt
  docs/module/routing-policy.txt
  docs/module/routing-prefix.txt
  docs/module/routing-static.txt
  docs/module/routing.md
  netsim/ansible/templates/routing/_route_map_ios.j2
  netsim/ansible/templates/routing/_route_policy_junos.j2
  netsim/ansible/templates/routing/_route_policy_vyos.j2
  netsim/ansible/templates/routing/dellos10.j2
  netsim/ansible/templates/routing/eos.j2
  netsim/ansible/templates/routing/frr.j2
  netsim/ansible/templates/routing/ios.j2
  netsim/devices/arubacx.yml
  netsim/devices/cumulus.yml
  netsim/devices/dellos10.py
  netsim/devices/dellos10.yml
  netsim/devices/eos.yml
  netsim/devices/frr.yml
  netsim/devices/ios.yml
  netsim/devices/junos.yml
  netsim/devices/none.yml
  netsim/devices/vyos.yml
  netsim/modules/routing.yml
  netsim/modules/routing/__init__.py
  netsim/modules/routing/clist.py
  netsim/modules/routing/normalize.py
  netsim/modules/routing/policy.py
  tests/coverage/errors/clist-match-type-mismatch.log
  tests/coverage/errors/clist-match-type-mismatch.yml
  tests/coverage/errors/clist-merge-type-mismatch.log
  tests/coverage/errors/clist-merge-type-mismatch.yml
  tests/coverage/errors/clist-type-unsupported.log
  tests/coverage/errors/clist-type-unsupported.yml
  tests/topology/expected/rp-clist-expansion.yml
Due: yamllint, ci_tests

Implement large BGP community lists on EOS and FRR
  docs/module/routing-clist.txt
  docs/module/routing-policy.txt
  netsim/ansible/templates/routing/eos.j2
  netsim/ansible/templates/routing/frr.j2
  netsim/devices/eos.yml
  netsim/devices/frr.yml
  tests/integration/routing/08-community-large.yml
  tests/integration/routing/13-match-community-large.yml
Due: yamllint, ci_tests

'none' device needs more features for integration tests to pass
  netsim/ansible/templates/routing/eos.j2
  netsim/devices/none.yml
  tests/integration/routing/08-community-large.yml
Due: yamllint, ci_tests

Remove missing plugin (TBD) from 08-community-large test
  tests/integration/routing/08-community-large.yml
Due: yamllint, ci_tests

Refactor the containerlab configuration template
  netsim/providers/clab.yml
  netsim/templates/provider/clab/clab.j2
Due: yamllint, ci_tests

clab tests for #2859
  _html/platform-clab.html
  platform/clab/01-links.yml-initial.log
  platform/clab/01-links.yml-snapshot.yml
  platform/clab/01-links.yml-up.log
  platform/clab/01-links.yml-validate.log
  platform/clab/02-mac-ip.yml-initial.log
  platform/clab/02-mac-ip.yml-snapshot.yml
  platform/clab/02-mac-ip.yml-up.log
  platform/clab/02-mac-ip.yml-validate.log
  platform/clab/03-port-fwd.yml-initial.log
  platform/clab/03-port-fwd.yml-snapshot.yml
  platform/clab/03-port-fwd.yml-up.log
  platform/clab/cleanup-down.log
  platform/clab/results.yaml
Due: yamllint, ci_tests

Doc fix: vrnetlab can build Cat8000v containers with premier license
  docs/caveats.md
  docs/release/25.x.md
  netsim/devices/cat8000v.yml
Due: yamllint, ci_tests

Implement Copilot suggestions
  docs/caveats.md
  docs/release/25.x.md
  netsim/devices/cat8000v.yml
Due: yamllint, ci_tests

Bump containerlab release to 0.71.1
  docs/labs/clab.md
  netsim/providers/clab.yml
Due: yamllint, ci_tests
