Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Load optional kernel modules when starting clab provider
  netsim/devices/frr.yml
  netsim/providers/clab.py
Due: yamllint, ci_tests

Load optional kernel modules when starting clab provider (#3029)
  netsim/devices/frr.yml
  netsim/providers/clab.py
Due: yamllint, ci_tests

Configure FRR containers with Linux scripts
  netsim/ansible/templates/initial/frr.j2
  netsim/ansible/templates/vlan/frr.j2
  netsim/devices/frr.yml
  netsim/providers/clab.py
  netsim/providers/clab.yml
  netsim/utils/templates.py
  tests/coverage/expected/device-module-defaults.yml
  tests/coverage/expected/device-node-defaults.yml
  tests/integration/bgp/20-dual-stack-activate.yml
  tests/integration/evpn/13-vxlan-ebgp-allowas.yml
  tests/integration/wait_times.yml
  tests/topology/expected/bridge-module-attr.yml
  tests/topology/expected/clab-attributes.yml
  tests/topology/expected/vlan-routed-multiprovider.yml
  tests/topology/expected/vlan-routed-vrf.yml
  tests/topology/input/clab-attributes.yml
Due: yamllint, ci_tests

Implemented Copilot nits
  netsim/providers/clab.py
  netsim/utils/templates.py
Due: ci_tests

Fix: 'mode' from config_template must be passed to render_config_template
  netsim/cli/initial/configs.py
  netsim/devices/frr.yml
  netsim/outputs/config.py
  netsim/utils/templates.py
Due: yamllint, ci_tests

JSON/YAML output format for 'netlab status' command
  docs/netlab/status.md
  netsim/cli/status.py
Due: ci_tests

Implement Copilot nits
  netsim/cli/status.py
Due: ci_tests

JSON/YAML output format for 'netlab status' command (#3032)
  docs/netlab/status.md
  netsim/cli/status.py
Due: ci_tests

Configure FRR containers with Linux scripts (#3030)
  netsim/ansible/templates/initial/frr.j2
  netsim/ansible/templates/vlan/frr.j2
  netsim/cli/initial/configs.py
  netsim/devices/frr.yml
  netsim/outputs/config.py
  netsim/providers/clab.py
  netsim/providers/clab.yml
  netsim/utils/templates.py
  tests/coverage/expected/device-module-defaults.yml
  tests/coverage/expected/device-node-defaults.yml
  tests/integration/bgp/20-dual-stack-activate.yml
  tests/integration/evpn/13-vxlan-ebgp-allowas.yml
  tests/integration/wait_times.yml
  tests/topology/expected/bridge-module-attr.yml
  tests/topology/expected/clab-attributes.yml
  tests/topology/expected/vlan-routed-multiprovider.yml
  tests/topology/expected/vlan-routed-vrf.yml
  tests/topology/input/clab-attributes.yml
Due: yamllint, ci_tests

Configuration script generation improvements
  docs/dev/config/deploy.md
  netsim/cli/initial/configs.py
  netsim/cli/initial/deploy.py
  netsim/cli/initial/utils.py
  netsim/providers/clab.py
Due: ci_tests

Implement Copilot suggestions
  netsim/cli/initial/configs.py
  netsim/providers/clab.py
Due: ci_tests

Configuration script generation improvements (#3034)
  docs/dev/config/deploy.md
  netsim/cli/initial/configs.py
  netsim/cli/initial/deploy.py
  netsim/cli/initial/utils.py
  netsim/providers/clab.py
Due: ci_tests

Support custom images in 'netlab libvirt' command
  netsim/cli/libvirt_actions/package.py
  netsim/cli/libvirt_actions/remove.py
Due: ci_tests

Update netsim/cli/libvirt_actions/remove.py
  netsim/cli/libvirt_actions/remove.py
Due: ci_tests

Support custom images in 'netlab libvirt' command (#3035)
  netsim/cli/libvirt_actions/package.py
  netsim/cli/libvirt_actions/remove.py
Due: ci_tests

Build custom FRR Vagrant boxes with preinstalled FRR package
  docs/caveats.md
  docs/labs/frr.md
  docs/labs/libvirt.md
  docs/platforms.md
  netsim/devices/frr.yml
  netsim/install/libvirt/frr.xml.j2
  netsim/install/libvirt/frr/meta-data
  netsim/install/libvirt/frr/user-data
Due: yamllint, ci_tests

Execute SSH readiness check in 'netlab initial'
  netsim/cli/initial/deploy.py
  netsim/cli/initial/ready.py
  netsim/cli/initial/utils.py
Due: ci_tests

Abort the installation process and leave VM running on errors
  docs/labs/frr.md
  netsim/install/libvirt/frr/user-data
Due: none

FRR libvirt tests for #3036
  _html/frr-libvirt-bgp.html
  _html/frr-libvirt-initial.html
  _html/frr-libvirt-ospf-ospfv2.html
  frr/libvirt/bgp/02-ibgp-ebgp-session.yml-initial.log
  frr/libvirt/bgp/02-ibgp-ebgp-session.yml-snapshot.yml
  frr/libvirt/bgp/02-ibgp-ebgp-session.yml-up.log
  frr/libvirt/bgp/02-ibgp-ebgp-session.yml-validate.log
  frr/libvirt/bgp/cleanup-down.log
  frr/libvirt/bgp/results.yaml
  frr/libvirt/initial/01-interfaces.yml-initial.log
  frr/libvirt/initial/01-interfaces.yml-snapshot.yml
  frr/libvirt/initial/01-interfaces.yml-up.log
  frr/libvirt/initial/01-interfaces.yml-validate.log
  frr/libvirt/initial/05-host.yml-initial.log
  frr/libvirt/initial/05-host.yml-snapshot.yml
  frr/libvirt/initial/05-host.yml-up.log
  frr/libvirt/initial/06-bridge.yml-initial.log
  frr/libvirt/initial/06-bridge.yml-snapshot.yml
  frr/libvirt/initial/06-bridge.yml-up.log
  frr/libvirt/initial/07-router.yml-initial.log
  frr/libvirt/initial/07-router.yml-snapshot.yml
  frr/libvirt/initial/07-router.yml-up.log
  frr/libvirt/initial/07-router.yml-validate.log
  frr/libvirt/initial/cleanup-down.log
  frr/libvirt/initial/results.yaml
  frr/libvirt/ospf/ospfv2/02-areas.yml-initial.log
  frr/libvirt/ospf/ospfv2/02-areas.yml-snapshot.yml
  frr/libvirt/ospf/ospfv2/02-areas.yml-up.log
  frr/libvirt/ospf/ospfv2/02-areas.yml-validate.log
  frr/libvirt/ospf/ospfv2/cleanup-down.log
  frr/libvirt/ospf/ospfv2/results.yaml
Due: yamllint, ci_tests

Implement Copilot suggestions
  netsim/cli/initial/ready.py
Due: ci_tests

Fix: Unmanaged nodes should not be provisioned with 'netlab initial'
  netsim/cli/initial/utils.py
  tests/platform-integration/unmanaged/02-clab.yml
Due: yamllint, ci_tests

Fix: Cannot use netlab_config_mode on Linux
  docs/labs/linux.md
  docs/platforms.md
  netsim/devices/linux.yml
Due: yamllint, ci_tests

Platform integration test
  tests/platform-integration/config/01-initial.yml
Due: yamllint, ci_tests

Fix: Cannot use netlab_config_mode on Linux (#3040)
  docs/labs/linux.md
  docs/platforms.md
  netsim/devices/linux.yml
  tests/platform-integration/config/01-initial.yml
Due: yamllint, ci_tests

Add EVPN CS test to feature coverage
  _html/arubacx-libvirt-evpn.html
  _html/coverage.evpn.html
  _html/cumulus-libvirt-evpn.html
  _html/cumulus_nvue-libvirt-evpn.html
  _html/dellos10-libvirt-evpn.html
  _html/eos-clab-evpn.html
  _html/frr-clab-evpn.html
  _html/nxos-clab-evpn.html
  _html/srlinux-clab-evpn.html
  _html/sros-clab-evpn.html
  _html/srsim-clab-evpn.html
  _html/vjunos-switch-clab-evpn.html
  _html/vyos-clab-evpn.html
  _html/vyos-libvirt-evpn.html
  index.html
  map-tests.yml
Due: yamllint, ci_tests

Fix: Leave FRR to do VLAN interface IP address configuration
  netsim/ansible/templates/vlan/frr.j2
Due: none

Fix: Leave FRR to do VLAN interface IP address configuration (#3041)
  netsim/ansible/templates/vlan/frr.j2
Due: none

BFD config on Bird uses a daemon configuration template
  netsim/ansible/templates/bfd/bird.j2
  netsim/daemons/bird.yml
  netsim/daemons/bird/bfd.j2
  netsim/daemons/bird/protocols.j2
Due: yamllint, ci_tests

Updated documentation
  docs/labs/frr.md
Due: none

BFD config on Bird uses a daemon configuration template (#3042)
  netsim/ansible/templates/bfd/bird.j2
  netsim/daemons/bird.yml
  netsim/daemons/bird/bfd.j2
  netsim/daemons/bird/protocols.j2
Due: yamllint, ci_tests

Another large fabric (FRR with BGP/OSPF)
  tests/platform-integration/large/x-large-fabric.yml
Due: yamllint, ci_tests

Fix: Control Linux IP forwarding with netlab_ip_forwarding variable
  docs/labs/linux.md
  netsim/ansible/templates/initial/linux/ubuntu.j2
  netsim/ansible/templates/initial/linux/vanilla.j2
Due: none

Fix: Control Linux IP forwarding with netlab_ip_forwarding variable (#3043)
  docs/labs/linux.md
  netsim/ansible/templates/initial/linux/ubuntu.j2
  netsim/ansible/templates/initial/linux/vanilla.j2
Due: none

Implement 'cp_sh' config mechanism to copy file into container
  netsim/extra/kind/defaults.yml
  netsim/providers/clab.py
Due: yamllint, ci_tests
