Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

style(tests): wrap the ArcOS wait-time comments under the 120-column limit
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

Check VLAN structures exist before use in RouterOS7 (#3732)
  netsim/ansible/templates/vlan/routeros7.initial.j2
  netsim/ansible/templates/vlan/routeros7.j2
Due: none

Clean up integration test descriptions (#3733)
  tests/integration/bgp.policy/10-bgp-bandwidth-auto.yml
  tests/integration/bgp.policy/11-bgp-bandwidth-value.yml
  tests/integration/bgp.policy/12-bgp-bandwidth-value-out.yml
  tests/integration/bgp.policy/21-locpref.yml
  tests/integration/bgp.session/01-allowas-in.yml
  tests/integration/bgp.session/02-as-override.yml
  tests/integration/bgp.session/04-default-originate.yml
  tests/integration/bgp.session/07-password.yml
  tests/integration/bgp.session/13-bfd.yml
  tests/integration/bgp.session/14-gr.yml
  tests/integration/bgp/13-ipv6-ibgp-rr.yml
  tests/integration/isis/12-passive.yml
Due: yamllint, ci_tests

Add Arrcus ArcOS as a containerlab device (best-effort) (#3681)
  docs/caveats.md
  docs/labs/arcos.md
  docs/module/stp.md
  docs/platforms.md
  docs/release/26.08.md
  netsim/ansible/tasks/deploy-config/arcos.yml
  netsim/ansible/tasks/fetch-config/arcos.yml
  netsim/ansible/templates/bfd/arcos.j2
  netsim/ansible/templates/bgp/arcos.j2
  netsim/ansible/templates/bgp/arcos.macro.j2
  netsim/ansible/templates/dhcp/arcos.j2
  netsim/ansible/templates/evpn/arcos.j2
  netsim/ansible/templates/gateway/arcos.j2
  netsim/ansible/templates/initial/arcos.j2
  netsim/ansible/templates/isis/arcos.j2
  netsim/ansible/templates/lag/arcos.j2
  netsim/ansible/templates/mpls/arcos.j2
  netsim/ansible/templates/ospf/arcos.j2
  netsim/ansible/templates/routing/arcos.j2
  netsim/ansible/templates/sr/arcos.j2
  netsim/ansible/templates/srv6/arcos.j2
  netsim/ansible/templates/stp/arcos.j2
  netsim/ansible/templates/vlan/arcos.j2
  netsim/ansible/templates/vrf/arcos.j2
  netsim/ansible/templates/vxlan/arcos.j2
  netsim/devices/arcos.py
  netsim/devices/arcos.yml
  netsim/extra/bgp/policy/arcos.j2
  netsim/templates/provider/clab/arcos/netlab-config.j2
  netsim/templates/provider/libvirt/arcos-domain.j2
  netsim/validate/arcos.py
  netsim/validate/bgp/arcos.py
  netsim/validate/isis/arcos.py
  netsim/validate/ospf/arcos.py
  netsim/validate/routing/__init__.py
  netsim/validate/routing/arcos.py
  tests/integration/stp/11-pvrst.yml
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

Add 'docname'/'docparent' device fields, clean up device definitions
  netsim/augment/devices.py
  netsim/daemons/bird.yml
  netsim/devices/arubacx.yml
  netsim/devices/cumulus.yml
  netsim/devices/eos.yml
  netsim/devices/frr.yml
  netsim/devices/ioll2.yml
  netsim/devices/ios.yml
  netsim/devices/iosvl2.yml
  netsim/devices/junos.yml
  netsim/devices/nxos.yml
  netsim/devices/routeros.yml
  netsim/devices/routeros7.yml
  netsim/devices/srlinux.yml
  netsim/devices/sros.yml
  netsim/devices/srsim.yml
  netsim/devices/vyos.yml
Due: yamllint, ci_tests

Initial implementation of feature support table (no caveats)
  docs/_ext/features.py
  docs/module/bfd.md
Due: ci_tests

Implement feature caveats, use them for BFD caveats
  docs/_ext/features.py
  docs/module/bfd.md
  netsim/devices/cumulus.yml
  netsim/devices/frr.yml
  netsim/devices/vyos.yml
Due: yamllint, ci_tests

Documentation
  docs/dev/advanced.md
  docs/dev/features-tables.md
  docs/module/bfd.md
Due: none

Make OpenBSD use extra_initial, add guard for VLAN usage
  netsim/ansible/templates/initial/openbsd.j2
  netsim/ansible/templates/vlan/openbsd.initial.j2
  netsim/ansible/templates/vlan/openbsd.j2
Due: none

EXOS: add list of reserved name as Vlan quirk
  netsim/devices/exos.py
Due: ci_tests

EXOS: add reserved VLAN names to device quirks (#3737)
  netsim/devices/exos.py
Due: ci_tests

Code comments, remove static BFD support table
  docs/_ext/features.py
  docs/module/bfd.md
Due: ci_tests

VOSS clab only
  netsim/devices/voss.yml
Due: yamllint, ci_tests

fix loop and add source for EXOS reserved names
  netsim/devices/exos.py
Due: ci_tests

docs: invalid links for Containerlab
  docs/dev/device-box.md
  docs/dev/device-platform.md
  docs/labs/clab.md
  docs/platforms.md
Due: none

Code doc: Source for EXOS reserved names (#3739)
  netsim/devices/exos.py
Due: ci_tests

Implement 'linkid' link/interface attribute
  docs/links.md
  netsim/augment/links.py
  netsim/defaults/attributes.yml
  tests/coverage/errors/linkid-duplicates.log
  tests/coverage/errors/linkid-duplicates.yml
  tests/coverage/expected/linkid.yml
  tests/coverage/input/linkid.yml
Due: yamllint, ci_tests

Fixing a typo, changing a few headers
  docs/links.md
Due: none

Doc fix: Invalid Containerlab links (#3740)
  docs/dev/device-box.md
  docs/dev/device-platform.md
  docs/labs/clab.md
  docs/platforms.md
Due: none

Implement 'linkid' link/interface attribute (#3741)
  docs/links.md
  netsim/augment/links.py
  netsim/defaults/attributes.yml
  tests/coverage/errors/linkid-duplicates.log
  tests/coverage/errors/linkid-duplicates.yml
  tests/coverage/expected/linkid.yml
  tests/coverage/input/linkid.yml
Due: yamllint, ci_tests

Basic VOSS support
  docs/labs/clab.md
  netsim/ansible/tasks/deploy-config/voss.yml
  netsim/ansible/tasks/readiness-check/voss.yml
  netsim/ansible/templates/initial/voss.j2
  netsim/ansible/templates/initial/voss.vlan.j2
  netsim/defaults/multilab.yml
  netsim/devices/exos.yml
  netsim/devices/voss.yml
Due: yamllint, ci_tests

Resolving Copilot-identifier errors
  docs/_ext/features.py
Due: ci_tests

Fixing more nits...
  docs/_ext/features.py
Due: ci_tests

FRR: Enable BFD with ISIS
  netsim/ansible/templates/isis/frr.macro.j2
Due: none

Default containerlab IPv6 management subnet
  docs/release/26.08.md
  netsim/templates/provider/clab/clab.j2
Due: none

Documentation typos
  docs/labs/clab.md
  docs/release/26.08.md
Due: none

Default containerlab IPv6 management subnet (#3746)
  docs/labs/clab.md
  docs/release/26.08.md
  netsim/templates/provider/clab/clab.j2
Due: none

Sphinx "features" directive generates "supported features" tables (#3736)
  docs/_ext/features.py
  docs/conf.py
  docs/dev/advanced.md
  docs/dev/features-tables.md
  docs/module/bfd.md
  mypy.ini
  netsim/augment/devices.py
  netsim/daemons/bird.yml
  netsim/devices/arubacx.yml
  netsim/devices/cumulus.yml
  netsim/devices/eos.yml
  netsim/devices/frr.yml
  netsim/devices/ioll2.yml
  netsim/devices/ios.yml
  netsim/devices/iosvl2.yml
  netsim/devices/junos.yml
  netsim/devices/nxos.yml
  netsim/devices/routeros.yml
  netsim/devices/routeros7.yml
  netsim/devices/srlinux.yml
  netsim/devices/sros.yml
  netsim/devices/srsim.yml
  netsim/devices/vyos.yml
Due: yamllint, ci_tests

OpenBSD: use extra_initial, add guard for VLAN usage (#3745)
  netsim/ansible/templates/initial/openbsd.j2
  netsim/ansible/templates/vlan/openbsd.initial.j2
  netsim/ansible/templates/vlan/openbsd.j2
Due: none

Add MTU to addressing reports
  netsim/reports/addressing-link.html.j2
  netsim/reports/addressing-node.html.j2
  netsim/reports/addressing.j2
  netsim/reports/addressing.md.j2
Due: none

Fix: use link MTU as the default for interface MTU
  netsim/reports/addressing-link.html.j2
Due: none

Add MTU to addressing reports (#3748)
  netsim/reports/addressing-link.html.j2
  netsim/reports/addressing-node.html.j2
  netsim/reports/addressing.j2
  netsim/reports/addressing.md.j2
Due: none

Adjust MTU on GRE tunnels
  netsim/extra/tunnel/_p2p.py
  netsim/extra/tunnel/gre/__init__.py
  tests/coverage/expected/gre-source.yml
  tests/integration/tunnel/01-gre.yml
Due: yamllint, ci_tests

FRR/IOL tunnel tests for #3747
  _html/arubacx.html
  _html/frr-clab-tunnel.html
  _html/iol-clab-tunnel.html
  _html/ioll2.html
  _html/iosvl2.html
  frr/clab/tunnel/01-gre.yml-initial.log
  frr/clab/tunnel/01-gre.yml-up.log
  frr/clab/tunnel/01-gre.yml-validate.log
  frr/clab/tunnel/02-gre-vrf.yml-initial.log
  frr/clab/tunnel/02-gre-vrf.yml-up.log
  frr/clab/tunnel/02-gre-vrf.yml-validate.log
  frr/clab/tunnel/11-wireguard.yml-initial.log
  frr/clab/tunnel/11-wireguard.yml-up.log
  frr/clab/tunnel/11-wireguard.yml-validate.log
  frr/clab/tunnel/12-wireguard-vrf.yml-initial.log
  frr/clab/tunnel/12-wireguard-vrf.yml-up.log
  frr/clab/tunnel/cleanup-down.log
  frr/clab/tunnel/results.yaml
  index.html
  iol/clab/tunnel/01-gre.yml-initial.log
  iol/clab/tunnel/01-gre.yml-up.log
  iol/clab/tunnel/01-gre.yml-validate.log
  iol/clab/tunnel/02-gre-vrf.yml-initial.log
  iol/clab/tunnel/02-gre-vrf.yml-up.log
  iol/clab/tunnel/02-gre-vrf.yml-validate.log
  iol/clab/tunnel/cleanup-down.log
  iol/clab/tunnel/results.yaml
Due: yamllint, ci_tests

Adjust MTU on GRE tunnels (#3747)
  netsim/extra/tunnel/_p2p.py
  netsim/extra/tunnel/gre/__init__.py
  tests/coverage/expected/gre-source.yml
  tests/integration/tunnel/01-gre.yml
Due: yamllint, ci_tests

OpenBSD Wireguard implementation
  netsim/ansible/templates/initial/openbsd-ifconfig.j2
  netsim/devices/openbsd.yml
  netsim/extra/tunnel/wireguard/openbsd.initial.j2
  netsim/extra/tunnel/wireguard/openbsd.j2
Due: yamllint, ci_tests

Make clab default mgmt IPv6 subnet multilab-aware
  docs/plugins/multilab.md
  netsim/defaults/multilab.yml
  netsim/providers/clab.yml
  netsim/templates/provider/clab/clab.j2
Due: yamllint, ci_tests

Update multilab documentation to match reality
  docs/plugins/multilab.md
Due: none

Disable RA listener on Linux container mgmt interface
  docs/labs/linux.md
  docs/release/26.08.md
  netsim/ansible/templates/initial/linux/vanilla.j2
  tests/platform-integration/clab/02-mac-ip.yml
Due: yamllint, ci_tests
