Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Document the Linux node initialization scripts (#2903/#2907) (#2909)
  docs/dev/clab-netns.md
  docs/dev/config/deploy.md
  docs/dev/config/index.md
  docs/dev/devices.md
  docs/netlab/initial.md
Due: none

Clean up router_id tests in templates (#2932)
  netsim/ansible/templates/bgp/arubacx.j2
  netsim/ansible/templates/bgp/asa.j2
  netsim/ansible/templates/bgp/cumulus_nvue.j2
  netsim/ansible/templates/bgp/dellos10.j2
  netsim/ansible/templates/bgp/eos.j2
  netsim/ansible/templates/bgp/frr.j2
  netsim/ansible/templates/bgp/ios.j2
  netsim/ansible/templates/bgp/junos.j2
  netsim/ansible/templates/bgp/nxos.j2
  netsim/ansible/templates/bgp/routeros.j2
  netsim/ansible/templates/bgp/routeros7.j2
  netsim/ansible/templates/bgp/vyos.j2
  netsim/ansible/templates/eigrp/ios.j2
  netsim/ansible/templates/eigrp/nxos.j2
  netsim/ansible/templates/ospf/arubacx.ospfv2.j2
  netsim/ansible/templates/ospf/asa.ospfv2.j2
  netsim/ansible/templates/ospf/cumulus.ospfv2.j2
  netsim/ansible/templates/ospf/dellos10.ospfv2.j2
  netsim/ansible/templates/ospf/eos.ospfv2.j2
  netsim/ansible/templates/ospf/frr.ospfv2.j2
  netsim/ansible/templates/ospf/ios.ospfv2.j2
  netsim/ansible/templates/ospf/iosxr.j2
  netsim/ansible/templates/ospf/junos.j2
  netsim/ansible/templates/ospf/nxos.ospfv2.j2
  netsim/ansible/templates/ospf/nxos.ospfv3.j2
  netsim/ansible/templates/ospf/openbsd.ospfv2.j2
  netsim/ansible/templates/ospf/routeros.j2
  netsim/ansible/templates/ospf/routeros7.ospf-include.j2
  netsim/ansible/templates/ospf/vyos.ospfv2.j2
  netsim/ansible/templates/ospf/vyos.ospfv3.j2
  netsim/ansible/templates/vrf/junos.bgp.j2
  netsim/ansible/templates/vrf/junos.j2
  netsim/ansible/templates/vrf/nxos.bgp.j2
  netsim/ansible/templates/vrf/nxos.ospfv2-vrf.j2
  netsim/ansible/templates/vrf/routeros7.bgp.j2
  netsim/ansible/templates/vrf/vyos.ospfv2-vrf.j2
  netsim/ansible/templates/vrf/vyos.ospfv3-vrf.j2
Due: none

Fix: ipv4/ipv6 J2 filters can be called with no args
  netsim/utils/filters.py
Due: ci_tests

Fix: Cumulus Linux (classic) needs 'netlab_frr_daemons' group var
  netsim/devices/cumulus.yml
Due: yamllint, ci_tests

Fix: 'adjust_inventory_host' should generate template variables
  netsim/cli/initial/templates.py
  netsim/outputs/common.py
Due: ci_tests

Make netlab Jinja2 handling more Ansible-like
  netsim/ansible/templates/initial/bird-clab.j2
  netsim/ansible/templates/vlan/linux-clab.j2
  netsim/utils/templates.py
Due: ci_tests

Make netlab Jinja2 handling more Ansible-like
  netsim/ansible/templates/initial/bird-clab.j2
  netsim/ansible/templates/vlan/linux-clab.j2
  netsim/utils/filters.py
  netsim/utils/templates.py
Due: ci_tests

One more BGP router ID fix
  netsim/ansible/templates/vrf/sros.j2
Due: none

Fixing a "Is True" condition
  netsim/ansible/templates/initial/srlinux.j2
Due: none

Fix: More crazy edge cases in ipaddr Jinja2 filter
  netsim/utils/filters.py
Due: ci_tests

Fix SR OS OSPF router ID fallback in VRF context
  netsim/ansible/templates/ospf/sros.j2
  netsim/ansible/templates/vrf/sros.j2
Due: none

Fix: The 'hwaddr' J2 filter must use 'unix_expanded' MAC format
  netsim/utils/filters.py
Due: ci_tests

Fix: Junos templates should use "set" to append to namespace objects
  netsim/ansible/templates/initial/junos.vrf.j2
  netsim/ansible/templates/vrf/junos.j2
Due: none

Fix: sort hostvars when generating /etc/hosts file on Linux VMs
  netsim/ansible/templates/initial/linux/hosts-common.j2
Due: none

Fix: Transform generator into list to get its length in Junos LAG cfg
  netsim/ansible/templates/lag/junos.j2
Due: none

Fix: Use the common format for 'custom.files' file names
  netsim/defaults/paths.yml
Due: yamllint, ci_tests

Fix: Sort node names in 'hosts' name-to-address dictionary
  netsim/outputs/ansible.py
Due: ci_tests

Fix: Topology augmented for 'provider' output needs template vars
  netsim/outputs/common.py
  netsim/outputs/provider.py
Due: ci_tests

Fix: host-to-ip mapping used in cfg templates has to be a 'dict'
  netsim/cli/initial/templates.py
  netsim/providers/__init__.py
Due: ci_tests

Fix: Use correct 'custom config' file paths and names
  netsim/utils/templates.py
Due: ci_tests

Fix: Remove regex filter from ISC DHCP relay configuration template
  netsim/ansible/templates/dhcp/linux-isc-dhcp-relay.j2
Due: none

Fix: Replace reference to netlab_provider in VyOS config template
  netsim/ansible/templates/initial/vyos.j2
Due: none

Fix: SRSIM EVPN template should use 'list' after a generator pipe
  netsim/ansible/templates/evpn/sros.j2
Due: none

Fix[Junos]: Do not use 'ipv6' filter to identify LLA-only interfaces
  netsim/ansible/templates/initial/junos.j2
Due: none

Fix: Replace 'link-local' check in SR Linux template
  netsim/ansible/templates/initial/srlinux.j2
Due: none

Fix[B]: Use underscores not hyphens in Ansible device groups
  netsim/outputs/ansible.py
Due: ci_tests

Fix: 'make_a_list' should be able to deal with generic iterators
  netsim/data/__init__.py
Due: ci_tests

Fix: Remove obscure Ansible J2 filters from CL NVUE templates
  netsim/ansible/templates/evpn/cumulus_nvue.j2
  netsim/ansible/templates/lag/cumulus_nvue.j2
  netsim/ansible/templates/vrf/cumulus_nvue.j2
  netsim/modules/lag.py
Due: ci_tests

combine, difference and to_yaml Jinja2 filters (+ bug fixes)
  netsim/utils/filters.py
Due: ci_tests

Fix: Replace |ipv4 with 'is string' in Dell OS10 initial cfg template
  netsim/ansible/templates/initial/dellos10.j2
Due: none
