Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Fix: Shared IOS/XE VXLAN template
  netsim/ansible/templates/vxlan/cat8000v.j2
  netsim/ansible/templates/vxlan/ios.j2
Due: none

Adjust MTU and VNIs in EVPN integration tests (#3087)
  tests/integration/evpn/01-vxlan-bridging.yml
  tests/integration/evpn/02-vxlan-asymmetric-irb.yml
  tests/integration/evpn/03-vxlan-symmetric-irb.yml
  tests/integration/evpn/04-vxlan-central-routing.yml
  tests/integration/evpn/05-vxlan-l3only.yml
  tests/integration/evpn/06-vxlan-bridging-vlan-bundle.yml
  tests/integration/evpn/10-vxlan-rr.yml
  tests/integration/evpn/11-vxlan-ebgp.yml
  tests/integration/evpn/12-vxlan-ibgp-ebgp.yml
  tests/integration/evpn/13-vxlan-ebgp-allowas.yml
  tests/integration/evpn/14-vxlan-ebgp-ebgp.yml
  tests/integration/evpn/15-vxlan-ebgp-unnumbered.yml
  tests/integration/evpn/20-vxlan-irb-ospf.yml
  tests/integration/evpn/21-bgp-ce-router.yml
  tests/integration/evpn/22-ospf-ce-router.yml
  tests/integration/evpn/30-cs-bridging.yml
  tests/integration/evpn/41-vxlan-ipv6-bridging.yml
  tests/integration/evpn/topology-defaults.yml
Due: yamllint, ci_tests

Spot-checking VXLAN templates on CSR/Cat8Kv for #3088
  _html/cat8000v-libvirt-vxlan.html
  _html/csr-libvirt-vxlan.html
  _html/release-coverage.html
  cat8000v/libvirt/vxlan/01-vxlan-bridging.yml-create.log
  cat8000v/libvirt/vxlan/01-vxlan-bridging.yml-initial.log
  cat8000v/libvirt/vxlan/01-vxlan-bridging.yml-snapshot.yml
  cat8000v/libvirt/vxlan/01-vxlan-bridging.yml-up.log
  cat8000v/libvirt/vxlan/01-vxlan-bridging.yml-validate.log
  cat8000v/libvirt/vxlan/cleanup-down.log
  cat8000v/libvirt/vxlan/results.yaml
  csr/libvirt/vxlan/01-vxlan-bridging.yml-create.log
  csr/libvirt/vxlan/01-vxlan-bridging.yml-initial.log
  csr/libvirt/vxlan/01-vxlan-bridging.yml-snapshot.yml
  csr/libvirt/vxlan/01-vxlan-bridging.yml-up.log
  csr/libvirt/vxlan/01-vxlan-bridging.yml-validate.log
  csr/libvirt/vxlan/cleanup-down.log
  csr/libvirt/vxlan/results.yaml
Due: yamllint, ci_tests

Fix: Shared IOS/XE VXLAN template (#3088)
  netsim/ansible/templates/vxlan/cat8000v.j2
  netsim/ansible/templates/vxlan/ios.j2
Due: none

Fix: Use correct ping timeout in EVPN EBGP-over-EBGP test
  tests/integration/evpn/14-vxlan-ebgp-ebgp.yml
Due: yamllint, ci_tests

Redo IOS/XE EVPN tests with correct EVPN instance ID (#3089)
  _html/cat8000v-libvirt-evpn.html
  _html/iol-clab-evpn.html
  _html/ioll2-clab-evpn.html
  cat8000v/libvirt/evpn/01-vxlan-bridging.yml-initial.log
  cat8000v/libvirt/evpn/01-vxlan-bridging.yml-snapshot.yml
  cat8000v/libvirt/evpn/01-vxlan-bridging.yml-up.log
  cat8000v/libvirt/evpn/01-vxlan-bridging.yml-validate.log
  cat8000v/libvirt/evpn/cleanup-down.log
  cat8000v/libvirt/evpn/results.yaml
  iol/clab/evpn/01-vxlan-bridging.yml-initial.log
  iol/clab/evpn/01-vxlan-bridging.yml-snapshot.yml
  iol/clab/evpn/01-vxlan-bridging.yml-up.log
  iol/clab/evpn/01-vxlan-bridging.yml-validate.log
  iol/clab/evpn/cleanup-down.log
  iol/clab/evpn/results.yaml
  ioll2/clab/evpn/01-vxlan-bridging.yml-initial.log
  ioll2/clab/evpn/01-vxlan-bridging.yml-snapshot.yml
  ioll2/clab/evpn/01-vxlan-bridging.yml-up.log
  ioll2/clab/evpn/01-vxlan-bridging.yml-validate.log
  ioll2/clab/evpn/cleanup-down.log
  ioll2/clab/evpn/results.yaml
Due: yamllint, ci_tests

Security: Quote shell here documents in Jinja2 templates to prevent code injection (#3058)
  netsim/ansible/templates/dhcp/linux-isc-dhcp-relay.j2
  netsim/ansible/templates/dhcp/linux.j2
  netsim/ansible/templates/initial/cumulus.j2
  netsim/ansible/templates/initial/frr.j2
  netsim/ansible/templates/initial/linux.j2
  netsim/ansible/templates/initial/linux/bash_profile.j2
  netsim/ansible/templates/initial/linux/hosts.j2
  netsim/ansible/templates/initial/linux/ubuntu.j2
  netsim/ansible/templates/ospf/openbsd.ospfv2.j2
  netsim/ansible/templates/ospf/openbsd.ospfv3.j2
  netsim/ansible/templates/ripv2/openbsd.ripv2.j2
  netsim/ansible/templates/routing/linux/ubuntu.j2
  netsim/daemons/netscaler/Dockerfile.j2
Due: none

Make the 'summary of internal deployment' printout more informative
  netsim/cli/initial/deploy.py
Due: ci_tests

Another example of a large topology
  tests/platform-integration/large/x-medium-fabric.yml
Due: yamllint, ci_tests

Make Ansible inventory file format/type configurable (YAML or JSON)
  docs/outputs/ansible.md
  netsim/defaults/netlab.yml
  netsim/outputs/ansible.py
  netsim/outputs/ansible.yml
Due: yamllint, ci_tests

Make the 'summary of internal deployment' printout more informative (#3092)
  netsim/cli/initial/deploy.py
Due: ci_tests

Cleanup VyOS templates (#3054)
  netsim/ansible/templates/bfd/vyos.j2
  netsim/ansible/templates/evpn/vyos.j2
  netsim/ansible/templates/gateway/vyos.j2
  netsim/ansible/templates/initial/vyos.j2
  netsim/ansible/templates/lag/vyos.j2
  netsim/ansible/templates/mpls/vyos.j2
  netsim/ansible/templates/ospf/vyos.j2
  netsim/ansible/templates/ripv2/vyos.j2
  netsim/ansible/templates/routing/vyos.j2
  netsim/ansible/templates/vlan/vyos.j2
  netsim/ansible/templates/vrf/vyos.j2
  netsim/ansible/templates/vxlan/vyos.j2
  netsim/extra/bgp.policy/vyos.j2
  netsim/extra/bgp.session/vyos.j2
  netsim/extra/firewall.zonebased/vyos.j2
Due: none

Check ansible.filetype for valid values
  netsim/outputs/ansible.py
Due: ci_tests

Fix the default setting displayed in error message
  netsim/outputs/ansible.py
Due: ci_tests

Apply a bit of polish to docs/outputs/ansible.md
  docs/outputs/ansible.md
Due: none

Check 'netlab_config_mode' against device feature initial.config_mode
  netsim/daemons/bird.yml
  netsim/daemons/dnsmasq.yml
  netsim/devices/arubacx.yml
  netsim/devices/dellos10.yml
  netsim/devices/eos.yml
  netsim/devices/frr.yml
  netsim/devices/ios.yml
  netsim/devices/junos.yml
  netsim/devices/linux.yml
  netsim/extra/kind/defaults.yml
  netsim/providers/clab.py
  netsim/providers/libvirt.py
  tests/integration/initial/01a-scripts.yml
  tests/integration/initial/01b-startup-config.yml
Due: yamllint, ci_tests

Allow libvirt netlab_config_mode with device=none
  netsim/providers/clab.py
  netsim/providers/libvirt.py
  tests/integration/initial/01a-scripts.yml
Due: yamllint, ci_tests

Changed unnumbered test name
  _html/coverage.initial.html
  map-tests.yml
Due: yamllint, ci_tests

Check 'netlab_config_mode' against device feature initial.config_mode (#3094)
  netsim/daemons/bird.yml
  netsim/daemons/dnsmasq.yml
  netsim/devices/arubacx.yml
  netsim/devices/dellos10.yml
  netsim/devices/eos.yml
  netsim/devices/frr.yml
  netsim/devices/ios.yml
  netsim/devices/junos.yml
  netsim/devices/linux.yml
  netsim/extra/kind/defaults.yml
  netsim/providers/clab.py
  netsim/providers/libvirt.py
  tests/integration/initial/01a-scripts.yml
  tests/integration/initial/01b-startup-config.yml
Due: yamllint, ci_tests

KinD platform integration test
  tests/platform-integration/clab/04-kind.yml
Due: yamllint, ci_tests

EVPN/VXLAN support on Cat8000v, IOL, IOLL2
  docs/caveats.md
  docs/module/evpn.md
  docs/module/vxlan.md
  docs/platforms.md
  netsim/ansible/templates/evpn/ioll2.j2
  netsim/ansible/templates/evpn/ios-common.j2
  netsim/ansible/templates/evpn/ios.j2
  netsim/ansible/templates/vxlan/ios.j2
  netsim/devices/cat8000v.yml
  netsim/devices/iol.yml
  netsim/extra/bgp.session/ios.j2
Due: yamllint, ci_tests

IOS/XE VNI quirk
  netsim/devices/cat8000v.py
  netsim/devices/iol.py
Due: ci_tests

EVPN/VXLAN support on Cat8000v, IOL, IOLL2 (#3089)
  docs/caveats.md
  docs/module/evpn.md
  docs/module/vxlan.md
  docs/platforms.md
  netsim/ansible/templates/evpn/ioll2.j2
  netsim/ansible/templates/evpn/ios-common.j2
  netsim/ansible/templates/evpn/ios.j2
  netsim/ansible/templates/vxlan/ios.j2
  netsim/devices/cat8000v.py
  netsim/devices/cat8000v.yml
  netsim/devices/iol.py
  netsim/devices/iol.yml
  netsim/extra/bgp.session/ios.j2
Due: yamllint, ci_tests

Fix: Restore the IOL interface state after system restart
  netsim/ansible/templates/initial/iol.j2
  netsim/devices/iol.yml
  netsim/templates/provider/clab/iol/ifstate.j2
Due: yamllint, ci_tests

Make Ansible inventory file format/type configurable (YAML or JSON) (#3093)
  docs/outputs/ansible.md
  netsim/defaults/netlab.yml
  netsim/outputs/ansible.py
  netsim/outputs/ansible.yml
Due: yamllint, ci_tests

Increase IOL wait time in BGP aggregation tests
  tests/integration/bgp.policy/60-aggregate.yml
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

Fix: Restore the IOL interface state after system restart (#3096)
  netsim/ansible/templates/initial/iol.j2
  netsim/devices/iol.yml
  netsim/templates/provider/clab/iol/ifstate.j2
Due: yamllint, ci_tests

Fix: ifstate template is also needed for IOLL2
  netsim/templates/provider/clab/ioll2/ifstate.j2
Due: none

Fix IOL: Exit from BGP VRF configuration
  netsim/ansible/templates/vrf/ios.bgp.j2
  netsim/ansible/templates/vrf/ios.j2
Due: none

Move "exit" command to the correct FOR loop
  netsim/ansible/templates/vrf/ios.bgp.j2
Due: none

Exit from BGP config is mandatory
  netsim/ansible/templates/vrf/ios.bgp.j2
Due: none

Fix IOL: Exit from BGP VRF configuration (#3097)
  netsim/ansible/templates/vrf/ios.bgp.j2
  netsim/ansible/templates/vrf/ios.j2
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
