Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Fix: Display package name with error called from __init__
  netsim/utils/log.py
Due: ci_tests

Fix: Use initial config only in 01a-scripts test
  tests/integration/initial/01a-scripts.yml
Due: yamllint, ci_tests

libvirt VM netmiko script-based configuration
  docs/platforms.md
  netsim/devices/linux.yml
  netsim/providers/libvirt.yml
  netsim/providers/libvirt/__init__.py
  netsim/providers/libvirt/configs.py
Due: yamllint, ci_tests

Cleanup
  netsim/providers/libvirt/configs.py
Due: ci_tests

Import SCP only when needed
  netsim/providers/libvirt/configs.py
Due: ci_tests

Fixing Copilot-identified errors
  docs/platforms.md
  netsim/providers/libvirt/configs.py
Due: ci_tests

Linux libvirt initial config tests for #3822
  _html/coverage.initial.html
  _html/linux-libvirt-initial.html
  index.html
  linux/libvirt/initial/01-interfaces.yml-create.log
  linux/libvirt/initial/01-interfaces.yml-initial.log
  linux/libvirt/initial/01-interfaces.yml-validate.log
  linux/libvirt/initial/01a-scripts.yml-create.log
  linux/libvirt/initial/01a-scripts.yml-initial.log
  linux/libvirt/initial/01a-scripts.yml-up.log
  linux/libvirt/initial/01a-scripts.yml-validate.log
  linux/libvirt/initial/01c-netmiko.yml-create.log
  linux/libvirt/initial/05-host.yml-create.log
  linux/libvirt/initial/05-host.yml-initial.log
  linux/libvirt/initial/05-host.yml-up.log
  linux/libvirt/initial/05-host.yml-validate.log
  linux/libvirt/initial/cleanup-down.log
  linux/libvirt/initial/results.yaml
Due: yamllint, ci_tests

libvirt VM netmiko script-based configuration (#3822)
  docs/platforms.md
  netsim/devices/linux.yml
  netsim/providers/libvirt.yml
  netsim/providers/libvirt/__init__.py
  netsim/providers/libvirt/configs.py
Due: yamllint, ci_tests

Fix: Display package name with error called from __init__ (#3823)
  netsim/utils/log.py
Due: ci_tests

Fix: Consider _node_config when generating shebang
  netsim/cli/initial/configs.py
  netsim/outputs/config.py
Due: ci_tests

Fix: Consider _node_config when generating shebang (#3824)
  netsim/cli/initial/configs.py
  netsim/outputs/config.py
Due: ci_tests

Use netmiko scripts to configure FRRouting VMs
  docs/platforms.md
  netsim/devices/frr.yml
Due: yamllint, ci_tests

Use netmiko scripts to configure FRRouting VMs (#3825)
  docs/platforms.md
  netsim/devices/frr.yml
Due: yamllint, ci_tests

Fix: Switch to 'enable' mode after establishing netmiko session
  netsim/utils/netmiko.py
Due: ci_tests

Arista EOS netmiko configuration
  docs/caveats.md
  docs/platforms.md
  netsim/ansible/templates/normalize/eos.j2
  netsim/devices/eos.yml
Due: yamllint, ci_tests

BGP clear command has to wait in netmiko config mode
  netsim/extra/bgp/session/eos.j2
Due: none

multiserver: fix containerlab VXLAN link syntax for cross-server P2P links
  netsim/templates/provider/clab/clab.j2
Due: none

Arista EOS netmiko configuration (#3827)
  docs/caveats.md
  docs/platforms.md
  netsim/ansible/templates/normalize/eos.j2
  netsim/devices/eos.yml
  netsim/extra/bgp/session/eos.j2
Due: yamllint, ci_tests

multiserver: use containerlab 'dst-port' instead of deprecated 'udp-port'
  netsim/templates/provider/clab/clab.j2
Due: none

Generic prefix sets (used in ACL src/dst prefix)
  docs/dev/validation-types.txt
  docs/module/routing-acl.txt
  netsim/data/types.py
  netsim/modules/routing.yml
  netsim/modules/routing/acl.py
  netsim/modules/routing/utils.py
  tests/coverage/errors/validate-prefixset.log
  tests/coverage/errors/validate-prefixset.yml
Due: yamllint, ci_tests

Refactor the prefixset evaluation code
  docs/module/routing-acl.txt
  netsim/cli/__init__.py
  netsim/data/types.py
  netsim/modules/routing/acl.py
  netsim/modules/routing/utils.py
  tests/coverage/errors/validate-prefixset.yml
  tests/coverage/expected/acl-prefixset.yml
  tests/coverage/input/acl-prefixset.yml
Due: yamllint, ci_tests

Fixing nits Copilot found, documenting prefixset validation
  netsim/data/types.py
  netsim/modules/routing/utils.py
Due: ci_tests

Ensure Vagrant provider is 'libvirt'
  netsim/cli/libvirt/package.py
Due: ci_tests

Improve the "retry vagrant add" hint
  netsim/cli/libvirt/package.py
Due: ci_tests

Ensure Vagrant provider is 'libvirt' when trying to package our own boxes (#3832)
  netsim/cli/libvirt/package.py
Due: ci_tests

Bump SR Linux release to 26.7.2
  netsim/devices/srlinux.yml
  tests/topology/expected/multiserver-explicit.yml
  tests/topology/input/multiserver-explicit.yml
Due: yamllint, ci_tests

Bump SR Linux release to 26.7.2 (#3834)
  netsim/devices/srlinux.yml
  tests/topology/expected/multiserver-explicit.yml
  tests/topology/input/multiserver-explicit.yml
Due: yamllint, ci_tests

Generic prefix sets (used in ACL src/dst prefix) (#3831)
  docs/dev/validation-types.txt
  docs/module/routing-acl.txt
  netsim/cli/__init__.py
  netsim/data/types.py
  netsim/modules/routing.yml
  netsim/modules/routing/acl.py
  netsim/modules/routing/utils.py
  tests/coverage/errors/validate-prefixset.log
  tests/coverage/errors/validate-prefixset.yml
  tests/coverage/expected/acl-prefixset.yml
  tests/coverage/input/acl-prefixset.yml
Due: yamllint, ci_tests

Add OpenBSD DNS and Syslog Clients
  netsim/ansible/templates/services/openbsd.j2
  netsim/devices/openbsd.yml
  tests/integration/services/01-dns-client.yml
Due: yamllint, ci_tests

Add RouterOS7 DNS & Syslog clients
  netsim/ansible/templates/initial/routeros7.j2
  netsim/ansible/templates/services/routeros7.j2
  netsim/devices/routeros7.yml
  tests/integration/services/01-dns-client.yml
  tests/integration/services/02-dns-vrf-client.yml
Due: yamllint, ci_tests

Add DNS and Syslog for VyOS
  netsim/ansible/templates/initial/vyos.j2
  netsim/ansible/templates/services/vyos.j2
  netsim/devices/vyos.yml
  tests/integration/services/01-dns-client.yml
Due: yamllint, ci_tests

Add VyOS support for WireGuard tunnels
  netsim/ansible/templates/initial/vyos.j2
  netsim/devices/vyos.yml
  netsim/extra/tunnel/wireguard/vyos.initial.j2
  netsim/extra/tunnel/wireguard/vyos.j2
Due: yamllint, ci_tests

OpenBSD DNS/Syslog tests for #3837
  _html/coverage.services.html
  _html/openbsd-libvirt-services.html
  _html/openbsd-libvirt.html
  _html/openbsd.html
  _html/release-coverage.html
  index.html
  openbsd/libvirt/services/01-dns-client.yml-create.log
  openbsd/libvirt/services/01-dns-client.yml-initial.log
  openbsd/libvirt/services/01-dns-client.yml-up.log
  openbsd/libvirt/services/01-dns-client.yml-validate.log
  openbsd/libvirt/services/02-dns-vrf-client.yml-create.log
  openbsd/libvirt/services/03-dns-server.yml-create.log
  openbsd/libvirt/services/11-syslog-client.yml-create.log
  openbsd/libvirt/services/11-syslog-client.yml-initial.log
  openbsd/libvirt/services/11-syslog-client.yml-up.log
  openbsd/libvirt/services/11-syslog-client.yml-validate.log
  openbsd/libvirt/services/12-syslog-vrf-client.yml-create.log
  openbsd/libvirt/services/cleanup-down.log
  openbsd/libvirt/services/results.yaml
Due: yamllint, ci_tests

Add OpenBSD DNS and Syslog Clients (#3837)
  netsim/ansible/templates/services/openbsd.j2
  netsim/devices/openbsd.yml
  tests/integration/services/01-dns-client.yml
Due: yamllint, ci_tests

RouterOS7 DNS/Syslog tests for #3838
  _html/coverage.services.html
  _html/release-coverage.html
  _html/routeros7-libvirt-services.html
  _html/routeros7-libvirt.html
  _html/routeros7.html
  index.html
  routeros7/libvirt/services/01-dns-client.yml-create.log
  routeros7/libvirt/services/01-dns-client.yml-initial.log
  routeros7/libvirt/services/01-dns-client.yml-up.log
  routeros7/libvirt/services/01-dns-client.yml-validate.log
  routeros7/libvirt/services/02-dns-vrf-client.yml-create.log
  routeros7/libvirt/services/02-dns-vrf-client.yml-initial.log
  routeros7/libvirt/services/02-dns-vrf-client.yml-up.log
  routeros7/libvirt/services/02-dns-vrf-client.yml-validate.log
  routeros7/libvirt/services/03-dns-server.yml-create.log
  routeros7/libvirt/services/11-syslog-client.yml-create.log
  routeros7/libvirt/services/11-syslog-client.yml-initial.log
  routeros7/libvirt/services/11-syslog-client.yml-up.log
  routeros7/libvirt/services/11-syslog-client.yml-validate.log
  routeros7/libvirt/services/12-syslog-vrf-client.yml-create.log
  routeros7/libvirt/services/12-syslog-vrf-client.yml-initial.log
  routeros7/libvirt/services/12-syslog-vrf-client.yml-up.log
  routeros7/libvirt/services/12-syslog-vrf-client.yml-validate.log
  routeros7/libvirt/services/cleanup-down.log
  routeros7/libvirt/services/results.yaml
Due: yamllint, ci_tests

Add RouterOS7 DNS & Syslog clients (#3838)
  netsim/ansible/templates/initial/routeros7.j2
  netsim/ansible/templates/services/routeros7.j2
  netsim/devices/routeros7.yml
  tests/integration/services/01-dns-client.yml
  tests/integration/services/02-dns-vrf-client.yml
Due: yamllint, ci_tests

VyOS DNS/Syslog tests for #3839
  _html/coverage.services.html
  _html/release-coverage.html
  _html/vyos-clab-services.html
  _html/vyos-clab.html
  _html/vyos-libvirt-services.html
  _html/vyos-libvirt.html
  _html/vyos.html
  index.html
  vyos/clab/services/01-dns-client.yml-create.log
  vyos/clab/services/01-dns-client.yml-initial.log
  vyos/clab/services/01-dns-client.yml-up.log
  vyos/clab/services/01-dns-client.yml-validate.log
  vyos/clab/services/02-dns-vrf-client.yml-create.log
  vyos/clab/services/03-dns-server.yml-create.log
  vyos/clab/services/11-syslog-client.yml-create.log
  vyos/clab/services/11-syslog-client.yml-initial.log
  vyos/clab/services/11-syslog-client.yml-up.log
  vyos/clab/services/11-syslog-client.yml-validate.log
  vyos/clab/services/12-syslog-vrf-client.yml-create.log
  vyos/clab/services/12-syslog-vrf-client.yml-initial.log
  vyos/clab/services/12-syslog-vrf-client.yml-up.log
  vyos/clab/services/12-syslog-vrf-client.yml-validate.log
  vyos/clab/services/cleanup-down.log
  vyos/clab/services/results.yaml
  vyos/libvirt/services/01-dns-client.yml-create.log
  vyos/libvirt/services/01-dns-client.yml-initial.log
  vyos/libvirt/services/01-dns-client.yml-up.log
  vyos/libvirt/services/01-dns-client.yml-validate.log
  vyos/libvirt/services/02-dns-vrf-client.yml-create.log
  vyos/libvirt/services/03-dns-server.yml-create.log
  vyos/libvirt/services/11-syslog-client.yml-create.log
  vyos/libvirt/services/11-syslog-client.yml-initial.log
  vyos/libvirt/services/11-syslog-client.yml-up.log
  vyos/libvirt/services/12-syslog-vrf-client.yml-create.log
  vyos/libvirt/services/12-syslog-vrf-client.yml-initial.log
  vyos/libvirt/services/12-syslog-vrf-client.yml-up.log
  vyos/libvirt/services/cleanup-down.log
  vyos/libvirt/services/results.yaml
Due: yamllint, ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
