Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

ArubaCX: DNS & syslog clients (#3796)
  docs/platforms.md
  netsim/ansible/templates/initial/arubacx.j2
  netsim/ansible/templates/services/arubacx.j2
  netsim/devices/arubacx.yml
  tests/integration/services/01-dns-client.yml
  tests/integration/services/02-dns-vrf-client.yml
Due: yamllint, ci_tests

netlab status: show memory usage per node and per lab (#3794)
  netsim/cli/status.py
  netsim/providers/clab/__init__.py
  netsim/providers/libvirt.py
  netsim/utils/strings.py
Due: ci_tests

netlab status: Collect memory stats only when requested
  docs/netlab/status.md
  netsim/cli/status.py
  netsim/providers/__init__.py
  netsim/providers/clab/__init__.py
  netsim/providers/libvirt.py
Due: ci_tests

Fix: make 'memory' an optional JSON item
  netsim/cli/status.py
Due: ci_tests

Fix: Log OSPFv2/v3 adjacency changes on Nexus OS
  netsim/ansible/templates/ospf/nxos.ospfv2.j2
  netsim/ansible/templates/ospf/nxos.ospfv3.j2
Due: none

Nexus-OS: syslog client
  netsim/ansible/templates/services/nxos.j2
  netsim/devices/nxos.yml
Due: yamllint, ci_tests

Nexus OS syslog tests for #3799
  _html/nxos-clab-services.html
  _html/nxos-clab.html
  _html/nxos.html
  index.html
  nxos/clab/_caveats.yml
  nxos/clab/services/11-syslog-client.yml-create.log
  nxos/clab/services/11-syslog-client.yml-initial.log
  nxos/clab/services/11-syslog-client.yml-up.log
  nxos/clab/services/11-syslog-client.yml-validate.log
  nxos/clab/services/12-syslog-vrf-client.yml-create.log
  nxos/clab/services/12-syslog-vrf-client.yml-initial.log
  nxos/clab/services/12-syslog-vrf-client.yml-up.log
  nxos/clab/services/12-syslog-vrf-client.yml-validate.log
  nxos/clab/services/cleanup-down.log
  nxos/clab/services/results.yaml
Due: yamllint, ci_tests

Nexus-OS: syslog client (#3799)
  netsim/ansible/templates/services/nxos.j2
  netsim/devices/nxos.yml
Due: yamllint, ci_tests

Fix: IOS/XR OSPFv2/v3 adjacency logging
  netsim/ansible/templates/ospf/iosxr.j2
Due: none

Fix: IOS XR OSPFv2/v3 adjacency logging (#3800)
  netsim/ansible/templates/ospf/iosxr.j2
Due: none

IOS XR Syslog client
  netsim/ansible/templates/services/iosxr.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

IOS XR Syslog tests for #3801
  _html/iosxr-clab-services.html
  index.html
  iosxr/clab/services/11-syslog-client.yml-create.log
  iosxr/clab/services/11-syslog-client.yml-initial.log
  iosxr/clab/services/11-syslog-client.yml-up.log
  iosxr/clab/services/11-syslog-client.yml-validate.log
  iosxr/clab/services/12-syslog-vrf-client.yml-create.log
  iosxr/clab/services/12-syslog-vrf-client.yml-initial.log
  iosxr/clab/services/12-syslog-vrf-client.yml-up.log
  iosxr/clab/services/12-syslog-vrf-client.yml-validate.log
  iosxr/clab/services/cleanup-down.log
  iosxr/clab/services/results.yaml
Due: yamllint, ci_tests

IOS XR Syslog client (#3801)
  netsim/ansible/templates/services/iosxr.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Fixing a nit: flush "collecting info" banner
  netsim/cli/status.py
Due: ci_tests

fix: memory & status info for Podman
  netsim/providers/clab/__init__.py
  netsim/utils/strings.py
Due: ci_tests

netlab status: Collect memory stats only when requested (#3798)
  docs/netlab/status.md
  netsim/cli/status.py
  netsim/providers/__init__.py
  netsim/providers/clab/__init__.py
  netsim/providers/libvirt.py
Due: ci_tests

Add 'netmiko' device configuration method
  docs/platforms.md
  netsim/cli/initial/deploy.py
  netsim/cli/initial/netmiko.py
  netsim/devices/ios.yml
  netsim/providers/__init__.py
  netsim/providers/clab/__init__.py
  netsim/providers/clab/configs.py
  netsim/providers/libvirt.py
  tests/integration/initial/01c-netmiko.yml
  tests/platform-integration/config/06-netmiko.yml
Due: yamllint, ci_tests

Fix: Do not type-check netmiko if it's not installed
  netsim/cli/initial/netmiko.py
Due: ci_tests

Fix errors, add config methods to none device
  netsim/cli/initial/netmiko.py
  netsim/devices/none.yml
  netsim/providers/__init__.py
  tests/platform-integration/config/06-netmiko.yml
Due: yamllint, ci_tests

Fix: memory & status info for Podman (#3804)
  netsim/providers/clab/__init__.py
  netsim/utils/strings.py
Due: ci_tests

Cisco: disable cdp globally
  netsim/ansible/templates/initial/ios.j2
  netsim/ansible/templates/initial/nxos.j2
Due: none

Cisco: disable cdp globally (#3807)
  netsim/ansible/templates/initial/ios.j2
  netsim/ansible/templates/initial/nxos.j2
Due: none

Fix error expression for Cisco IOS
  netsim/devices/ios.yml
Due: yamllint, ci_tests

Fix: Cisco IOS RIPng parser is confused :(
  netsim/ansible/templates/ripv2/ios.macro.j2
Due: none

Fix: Cisco IOS EVPN transport triggers a warning
  netsim/ansible/templates/evpn/ios-common.j2
Due: none

Fix: Map /etc/resolv.conf file in device quirks
  netsim/devices/bird.py
  netsim/devices/dnsmasq.py
  netsim/devices/frr.py
  netsim/devices/frr.yml
  netsim/devices/linux.py
  netsim/devices/linux.yml
Due: yamllint, ci_tests

Map services tests
  _html/arubacx-libvirt-services.html
  _html/bird-clab-services.html
  _html/cat8000v-libvirt-services.html
  _html/coverage.services.html
  _html/csr-libvirt-services.html
  _html/dnsmasq-clab-services.html
  _html/eos-clab-services.html
  _html/frr-clab-services.html
  _html/iol-clab-services.html
  _html/ioll2-clab-services.html
  _html/iosv-libvirt-services.html
  _html/iosvl2-libvirt-services.html
  _html/iosxr-clab-services.html
  _html/linux-clab-services.html
  _html/nxos-clab-services.html
  _html/release-coverage.html
  _html/srlinux-clab-services.html
  _html/vjunos-router-clab-services.html
  _html/vjunos-switch-clab-services.html
  _html/vptx-libvirt-services.html
  index.html
  map-tests.yml
Due: yamllint, ci_tests

Fixing a typo
  netsim/devices/linux.py
Due: ci_tests

Update transformation test results
  tests/coverage/expected/check-config-files.yml
  tests/coverage/expected/device-module-defaults.yml
  tests/coverage/expected/device-node-defaults.yml
  tests/topology/expected/bridge-module-attr.yml
  tests/topology/expected/clab-attributes.yml
  tests/topology/expected/components.yml
  tests/topology/expected/dhcp-server-on-segment.yml
  tests/topology/expected/dhcp-vlan.yml
  tests/topology/expected/group-ansible-variables.yml
  tests/topology/expected/libvirt-clab-complex.yml
  tests/topology/expected/multiserver-explicit.yml
  tests/topology/expected/stp-port-type.yml
  tests/topology/expected/stp.yml
  tests/topology/expected/vlan-access-links.yml
  tests/topology/expected/vlan-access-single.yml
  tests/topology/expected/vlan-routed-multiprovider.yml
  tests/topology/expected/vlan-routed-vrf.yml
Due: yamllint, ci_tests

Linux-based DNS client tests for #3808
  _html/coverage.services.html
  _html/dnsmasq-clab-services.html
  _html/frr-clab-services.html
  _html/linux-clab-services.html
  _html/linux-clab.html
  _html/linux.html
  _html/release-coverage.html
  dnsmasq/clab/services/01-dns-client.yml-create.log
  dnsmasq/clab/services/01-dns-client.yml-initial.log
  dnsmasq/clab/services/01-dns-client.yml-up.log
  dnsmasq/clab/services/cleanup-down.log
  dnsmasq/clab/services/results.yaml
  frr/clab/services/01-dns-client.yml-create.log
  frr/clab/services/01-dns-client.yml-initial.log
  frr/clab/services/01-dns-client.yml-up.log
  frr/clab/services/01-dns-client.yml-validate.log
  frr/clab/services/cleanup-down.log
  frr/clab/services/results.yaml
  index.html
  linux/clab/services/01-dns-client.yml-create.log
  linux/clab/services/01-dns-client.yml-initial.log
  linux/clab/services/01-dns-client.yml-up.log
  linux/clab/services/01-dns-client.yml-validate.log
  linux/clab/services/02-dns-vrf-client.yml-create.log
  linux/clab/services/cleanup-down.log
  linux/clab/services/results.yaml
Due: yamllint, ci_tests

Fix: Map /etc/resolv.conf file in device quirks (#3808)
  netsim/devices/bird.py
  netsim/devices/dnsmasq.py
  netsim/devices/frr.py
  netsim/devices/frr.yml
  netsim/devices/linux.py
  netsim/devices/linux.yml
  tests/coverage/expected/check-config-files.yml
  tests/coverage/expected/device-module-defaults.yml
  tests/coverage/expected/device-node-defaults.yml
  tests/topology/expected/bridge-module-attr.yml
  tests/topology/expected/clab-attributes.yml
  tests/topology/expected/components.yml
  tests/topology/expected/dhcp-server-on-segment.yml
  tests/topology/expected/dhcp-vlan.yml
  tests/topology/expected/group-ansible-variables.yml
  tests/topology/expected/libvirt-clab-complex.yml
  tests/topology/expected/multiserver-explicit.yml
  tests/topology/expected/stp-port-type.yml
  tests/topology/expected/stp.yml
  tests/topology/expected/vlan-access-links.yml
  tests/topology/expected/vlan-access-single.yml
  tests/topology/expected/vlan-routed-multiprovider.yml
  tests/topology/expected/vlan-routed-vrf.yml
Due: yamllint, ci_tests

BIRD DNS client tests
  _html/bird-clab-services.html
  _html/bird-clab.html
  _html/bird.html
  _html/coverage.services.html
  _html/release-coverage.html
  bird/clab/services/01-dns-client.yml-create.log
  bird/clab/services/01-dns-client.yml-up.log
  bird/clab/services/01-dns-client.yml-validate.log
  bird/clab/services/02-dns-vrf-client.yml-create.log
  bird/clab/services/cleanup-down.log
  bird/clab/services/results.yaml
  index.html
Due: yamllint, ci_tests

Fix: DNS client does not work on KinD
  netsim/daemons/kind.yml
Due: yamllint, ci_tests

Fix: EOS OSPF and IS-IS SR-MPLS ranges can overlap
  netsim/ansible/templates/sr/eos.j2
Due: none

Fix: Make routing.acl.in/out a link attribute
  docs/module/routing-acl.txt
  netsim/modules/routing.yml
  tests/coverage/expected/acl-vlan.yml
  tests/coverage/input/acl-vlan.yml
  tests/topology/expected/acl-simple.yml
Due: yamllint, ci_tests

Rewording the documentation change
  docs/module/routing-acl.txt
Due: none
