Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Use 'vrf_check' plugin on OSPF area parameter integration tests
  tests/integration/ospf/ospfv2/40-area-parameters.yml
  tests/integration/ospf/ospfv3/40-area-parameters.yml
  tests/integration/warnings.yml
Due: yamllint, ci_tests

BIRD OSPF area parameters
  docs/plugins/ospf.areas.md
  netsim/daemons/bird.yml
  netsim/daemons/bird/ospf.j2
  netsim/extra/ospf.areas/bird.j2
Due: yamllint, ci_tests

Fix: Sort modules after plugin post_transform step
  netsim/augment/main.py
  netsim/modules/__init__.py
  tests/coverage/expected/bgp-auto-policy.yml
  tests/coverage/input/bgp-auto-policy.yml
Due: yamllint, ci_tests

Fix: Handle node routing policies referring to missing global policies
  netsim/modules/routing/normalize.py
  netsim/modules/routing/policy.py
  tests/coverage/errors/routing-missing-global-object.log
  tests/coverage/errors/routing-missing-global-object.yml
Due: yamllint, ci_tests

Fix: Convert a VXLAN transformation test to use IPv6 VTEPs
  tests/topology/expected/vxlan-static.yml
  tests/topology/input/vxlan-static.yml
Due: yamllint, ci_tests

Fix: Use topology-level vxlan.use_v6_vtep attribute
  netsim/modules/vxlan.py
  tests/integration/evpn/41-vxlan-ipv6-bridging.yml
  tests/integration/vxlan/07-vxlan-bridging-v6only.yml
  tests/topology/expected/evpn-l3vni-only.yml
  tests/topology/input/evpn-l3vni-only.yml
  tests/topology/input/vxlan-static.yml
Due: yamllint, ci_tests

Fix: Enable EVPN on IPv6 BGP sessions on control-plane-only nodes
  netsim/modules/evpn.py
  netsim/modules/vxlan.py
  tests/integration/evpn/41-vxlan-ipv6-bridging.yml
  tests/topology/expected/evpn-asymmetric-irb-ospf.yml
  tests/topology/expected/evpn-hub-spoke.yml
  tests/topology/expected/evpn-node-vrf.yml
  tests/topology/expected/evpn-vlan-attr.yml
  tests/topology/expected/evpn-vxlan.yml
  tests/topology/expected/vxlan-router-stick.yml
  tests/topology/expected/vxlan-vrf-lite.yml
Due: yamllint, ci_tests

Use (optional) reduced OSPF timers in BGP integration tests
  tests/integration/bgp/02-ibgp-ebgp-session.yml
  tests/integration/bgp/03-ibgp-rr.yml
  tests/integration/bgp/04-originate.yml
  tests/integration/bgp/05-community.yml
  tests/integration/bgp/08-ibgp-localas.yml
  tests/integration/plugin/adjust_test.py
Due: yamllint, ci_tests

OpenBSD: Discard static routes
  netsim/ansible/templates/routing/openbsd.j2
  netsim/devices/openbsd.yml
Due: yamllint, ci_tests

OpenBSD routing/BGP tests for #3305
  _html/coverage.bgp.html
  _html/coverage.r_static.html
  _html/openbsd-libvirt-bgp.html
  _html/openbsd-libvirt-routing.html
  _html/openbsd-libvirt.html
  _html/openbsd.html
  index.html
  openbsd/libvirt/bgp/04-originate.yml-create.log
  openbsd/libvirt/bgp/04-originate.yml-initial.log
  openbsd/libvirt/bgp/04-originate.yml-up.log
  openbsd/libvirt/bgp/04-originate.yml-validate.log
  openbsd/libvirt/bgp/14-ipv6-originate.yml-create.log
  openbsd/libvirt/bgp/14-ipv6-originate.yml-initial.log
  openbsd/libvirt/bgp/14-ipv6-originate.yml-up.log
  openbsd/libvirt/bgp/14-ipv6-originate.yml-validate.log
  openbsd/libvirt/bgp/cleanup-down.log
  openbsd/libvirt/bgp/results.yaml
  openbsd/libvirt/routing/20-static.yml-create.log
  openbsd/libvirt/routing/20-static.yml-up.log
  openbsd/libvirt/routing/20-static.yml-validate.log
  openbsd/libvirt/routing/25-static-discard.yml-create.log
  openbsd/libvirt/routing/25-static-discard.yml-initial.log
  openbsd/libvirt/routing/25-static-discard.yml-up.log
  openbsd/libvirt/routing/25-static-discard.yml-validate.log
  openbsd/libvirt/routing/cleanup-down.log
  openbsd/libvirt/routing/results.yaml
Due: yamllint, ci_tests

Update documentation
  docs/module/routing-static.txt
Due: none

Release notes for 26.04
  .github/skills/release-notes/SKILL.md
  docs/release.md
  docs/release/26.04.md
Due: none

Cleanup nits
  docs/release.md
  docs/release/26.04.md
Due: none

Fix: Enable redistribution of static routes on SR Linux/SR OS
  netsim/devices/srlinux.yml
  netsim/devices/sros.yml
Due: yamllint, ci_tests

Updating top-level index file
  index.html
Due: none

VyOS quirk: prepended AS path can contain as single AS number
  netsim/devices/vyos.py
Due: ci_tests

Fixing a nit
  netsim/devices/vyos.py
Due: ci_tests

Fix Junos EVPN routing policies
  netsim/ansible/templates/evpn/junos/common.j2
Due: none

Adjust integration tests based on device type
  tests/integration/evpn/05-vxlan-l3only.yml
  tests/integration/plugin/adjust_test.py
Due: yamllint, ci_tests

Improve processing of validation results
  _reports/read.py
Due: ci_tests

Fixing nits
  tests/integration/evpn/21-bgp-ce-router.yml
  tests/integration/plugin/adjust_test.py
Due: yamllint, ci_tests

Redo EPVN/MPLS L3VRF test on IOL
  _html/iol-clab-evpn.html
  iol/clab/evpn/54-evpn-l3vpn.yml-initial.log
  iol/clab/evpn/54-evpn-l3vpn.yml-up.log
  iol/clab/evpn/54-evpn-l3vpn.yml-validate.log
  iol/clab/evpn/cleanup-down.log
  iol/clab/evpn/results.yaml
Due: yamllint, ci_tests

Improve caveat reporting, add caveats
  _reports/errors.py
  dellos10/libvirt/_caveats.yml
  iosv/libvirt/_caveats.yml
  iosvl2/libvirt/_caveats.yml
  openbsd/libvirt/_caveats.yml
Due: yamllint, ci_tests

Fix: Dell OS10 needs the "normalize" step
  netsim/ansible/templates/normalize/dellos10.j2
  netsim/devices/dellos10.yml
Due: yamllint, ci_tests

Fix: Default route origination on BIRD
  netsim/daemons/bird/bgp.j2
Due: none

Redo Dell OS10 VLAN test avoiding the normalize bug
  _html/coverage.vlan.html
  _html/dellos10-libvirt-vlan.html
  _html/dellos10-libvirt.html
  _html/dellos10.html
  dellos10/libvirt/vlan/41-vlan-bridge-native.yml-create.log
  dellos10/libvirt/vlan/41-vlan-bridge-native.yml-initial.log
  dellos10/libvirt/vlan/41-vlan-bridge-native.yml-up.log
  dellos10/libvirt/vlan/41-vlan-bridge-native.yml-validate.log
  dellos10/libvirt/vlan/cleanup-down.log
  dellos10/libvirt/vlan/results.yaml
  index.html
Due: yamllint, ci_tests

Redo failing Dell OS10 VLAN test with increased wait times
  _html/dellos10-libvirt-vlan.html
  dellos10/libvirt/vlan/41-vlan-bridge-native.yml-initial.log
  dellos10/libvirt/vlan/41-vlan-bridge-native.yml-up.log
  dellos10/libvirt/vlan/41-vlan-bridge-native.yml-validate.log
  dellos10/libvirt/vlan/cleanup-down.log
  dellos10/libvirt/vlan/results.yaml
Due: yamllint, ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
