Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Fix: Honor '.cfg' config file suffix request (#3856)
  netsim/cli/initial/configs.py
Due: ci_tests

Enable debugging with NETLAB_DEBUG environment variable (#3854)
  docs/dev/debugging.md
  netsim/utils/log.py
Due: ci_tests

VyOS: BGP Confederation support (#3855)
  netsim/ansible/templates/bgp/vyos.j2
  netsim/devices/vyos.yml
Due: yamllint, ci_tests

Fix: Enable builtin functions in feature tables
  docs/_ext/features.py
Due: ci_tests

Doc: Use 'features' for 'available node roles' table
  docs/platforms.md
  netsim/devices/linux.yml
Due: yamllint, ci_tests

Doc: Use 'features' for 'available node roles' table (#3857)
  docs/platforms.md
  netsim/devices/linux.yml
Due: yamllint, ci_tests

Doc: Use 'features' for 'collect/deploy config' table
  docs/platforms.md
Due: none

Fixing the wording
  docs/platforms.md
Due: none

libvirt: use kvm-ok from PATH
  netsim/providers/libvirt.yml
Due: yamllint, ci_tests

Doc: Use 'features' for 'collect/deploy config' table (#3858)
  docs/platforms.md
Due: none

Fix SR Linux template, adjust integration test
  netsim/ansible/templates/routing/srlinux/prefix.j2
  tests/integration/routing/10-match-prefix.yml
Due: yamllint, ci_tests

SR Linux prefix list test for #3845
  _html/coverage.r_filter.html
  _html/srlinux-clab-routing.html
  _html/srlinux-clab.html
  _html/srlinux.html
  index.html
  srlinux/clab/routing/10-match-prefix.yml-create.log
  srlinux/clab/routing/10-match-prefix.yml-initial.log
  srlinux/clab/routing/10-match-prefix.yml-up.log
  srlinux/clab/routing/10-match-prefix.yml-validate.log
  srlinux/clab/routing/cleanup-down.log
  srlinux/clab/routing/results.yaml
Due: yamllint, ci_tests

Use prefixsets in routing.prefix lists (#3845)
  docs/module/routing-acl.txt
  docs/module/routing-advanced.txt
  docs/module/routing-prefix.txt
  netsim/ansible/templates/routing/iosxr/prefix.j2
  netsim/ansible/templates/routing/srlinux/prefix.j2
  netsim/modules/routing.yml
  netsim/modules/routing/prefix.py
  tests/errors/prefix-list-min-max.log
  tests/integration/routing/10-match-prefix.yml
  tests/topology/expected/rp-prefix-expansion.yml
  tests/topology/input/rp-prefix-expansion.yml
Due: yamllint, ci_tests

Create dynamic feature tables for bgp.session.md
  docs/caveats.md
  docs/plugins/bgp.session.md
  netsim/devices/fortios.yml
  netsim/devices/ios.yml
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Features tables: "text" values, provider-specific inheritance
  docs/_ext/features.py
Due: ci_tests

Fixing bloopers
  docs/_ext/features.py
Due: ci_tests

Features tables: "text" values, provider-specific inheritance (#3862)
  docs/_ext/features.py
Due: ci_tests

Use features table for alternate device config methods
  docs/platforms.md
  netsim/devices/frr.yml
  netsim/devices/linux.yml
  netsim/devices/vpp.yml
Due: yamllint, ci_tests

Fix a Copilot-identified logic error
  docs/platforms.md
Due: none

Use features table for alternate device config methods (#3863)
  docs/platforms.md
  netsim/devices/frr.yml
  netsim/devices/linux.yml
  netsim/devices/vpp.yml
Due: yamllint, ci_tests

Tweaks and cleanup
  docs/caveats.md
  docs/plugins/bgp.session.md
  netsim/devices/arubacx.yml
  netsim/devices/csr.yml
  netsim/devices/cumulus.yml
  netsim/devices/dellos10.yml
  netsim/devices/eos.yml
  netsim/devices/ios.yml
  netsim/devices/iosv.yml
  netsim/devices/none.yml
  netsim/devices/nxos.yml
  netsim/devices/routeros7.yml
  netsim/devices/srlinux.yml
  netsim/devices/vyos.yml
  netsim/extra/bgp/session/vyos.j2
Due: yamllint, ci_tests

Modify VyOS BGP template to conditionally remove private AS
  netsim/extra/bgp/session/vyos.j2
Due: none

Create dynamic BGP feature tables for bgp.md
  docs/module/bgp.md
  netsim/devices/srlinux.yml
  netsim/devices/sros.yml
Due: yamllint, ci_tests

Create dynamic feature tables for bgp.session.md (#3861)
  docs/caveats.md
  docs/plugins/bgp.session.md
  netsim/devices/arubacx.yml
  netsim/devices/csr.yml
  netsim/devices/cumulus.yml
  netsim/devices/dellos10.yml
  netsim/devices/eos.yml
  netsim/devices/fortios.yml
  netsim/devices/ios.yml
  netsim/devices/iosv.yml
  netsim/devices/none.yml
  netsim/devices/nxos.yml
  netsim/devices/routeros7.yml
  netsim/devices/srlinux.yml
  netsim/devices/vyos.yml
  netsim/devices/xr.yml
  netsim/extra/bgp/session/vyos.j2
Due: yamllint, ci_tests

Fix: bgp.remove_private_as is always a dict
  docs/plugins/bgp.session.md
Due: none

Tweaks
  docs/module/bgp.md
  netsim/devices/srlinux.yml
  netsim/devices/sros.yml
Due: yamllint, ci_tests

Create dynamic BGP feature tables for bgp.md (#3866)
  docs/module/bgp.md
  netsim/devices/srlinux.yml
  netsim/devices/sros.yml
Due: yamllint, ci_tests

Link OpenCode skills to GitHub Copilot skills
  .opencode/skills
Due: none

bgp.session developer documentation
  docs/dev/config/bgp.session.md
  docs/dev/config/index.md
Due: none

Fix path for BGP session configuration template
  docs/dev/config/bgp.session.md
Due: none

bgp.session developer documentation (#3867)
  docs/dev/config/bgp.session.md
  docs/dev/config/index.md
Due: none

Update the top-level testing document
  docs/dev/tests.md
Due: none

Cleanup
  docs/dev/tests.md
Due: none

Update the top-level testing document (#3868)
  docs/dev/tests.md
Due: none

Add "Use Title Case" to AI agent instructions
  .github/skills/developer-documentation/SKILL.md
  AGENTS.md
Due: none

Fixing typos
  docs/dev/features-tables.md
Due: none

Updated "Feature tables" documentation
  docs/dev/features-tables.md
Due: none

Update documentation header style guideline
  .github/skills/developer-documentation/SKILL.md
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
