Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Document BIRD VRF feature support
  docs/module/routing-static.txt
  docs/module/routing.md
  docs/module/vrf.md
  docs/platforms.md
Due: none

Support BIRD VRF BGP imports
  docs/module/bgp.md
  netsim/daemons/bird.yml
  netsim/daemons/bird/bgp.j2
Due: yamllint, ci_tests

Split BIRD containerlab config markers.
  netsim/ansible/templates/initial/bird-clab.j2
  netsim/ansible/templates/vrf/bird-clab.j2
Due: none

Fix BIRD VRF BGP router IDs
  docs/caveats.md
  netsim/daemons/bird/bgp.j2
  netsim/validate/eos.py
  netsim/validate/linux.py
Due: ci_tests

Handle BIRD config suffix during cleanup.
  netsim/augment/nodes.py
Due: ci_tests

Update BIRD daemon VRF config mapping.
  netsim/daemons/bird.yml
Due: yamllint, ci_tests

Rename BIRD VRF template for config mapping.
  netsim/daemons/bird/vrf.conf.j2
Due: none

Keep BIRD OSPF macro instance-only.
  netsim/daemons/bird/ospf.j2
Due: none

Move BIRD VRF protocol rendering into VRF config.
  netsim/daemons/bird/bgp.j2
  netsim/daemons/bird/ospf.j2
  netsim/daemons/bird/vrf.conf.j2
Due: none

Use selected interface for BIRD BGP local address.
  netsim/daemons/bird/bgp.j2
Due: none

Split BIRD protocol macros into templates.
  netsim/daemons/bird/bgp.j2
  netsim/daemons/bird/bgp.macros.j2
  netsim/daemons/bird/ospf.j2
  netsim/daemons/bird/ospf.macros.j2
  netsim/daemons/bird/vrf.conf.j2
Due: none

Remove unused BIRD initial marker.
  netsim/ansible/templates/initial/bird-clab.j2
Due: none

Share VRF setup template between FRR and BIRD.
  netsim/ansible/templates/vrf/bird.j2
  netsim/ansible/templates/vrf/frr.j2
  netsim/ansible/templates/vrf/frr.vrf.j2
Due: none

Run BIRD VRF dataplane template in container.
  netsim/ansible/templates/vrf/bird-clab.j2
  netsim/ansible/templates/vrf/bird.j2
Due: none

Inline BIRD VRF BGP rendering.
  netsim/daemons/bird/bgp.macros.j2
  netsim/daemons/bird/vrf.conf.j2
Due: none

Align daemon config cleanup comment.
  netsim/augment/nodes.py
Due: ci_tests

Document BIRD VRF template macros.
  netsim/daemons/bird/vrf.conf.j2
Due: none

Restore dev versions after rebase.
  netsim/augment/nodes.py
  netsim/daemons/bird/Dockerfile.j2
Due: ci_tests

Update BIRD daemon VRF handling.
  netsim/ansible/templates/initial/bird-clab.j2
  netsim/daemons/bird.yml
  netsim/daemons/bird/patches/evpn-bridge-master.patch
  netsim/daemons/bird/vrf-daemon.j2
  netsim/daemons/bird/vrf.conf.j2
Due: yamllint, ci_tests

Remove BIRD EVPN bridge patch.
  netsim/daemons/bird/patches/evpn-bridge-master.patch
Due: none

Fix: Use Debian Trixie as the base image for BIRD containers
  docs/labs/bird.md
  netsim/daemons/bird/Dockerfile.j2
Due: none

Fix: Install procps in BIRD containers
  netsim/daemons/bird/Dockerfile.j2
Due: none

Doc: Split the data type validation into multiple txt files
  .gitignore
  docs/dev/validation-alt.txt
  docs/dev/validation-basics.txt
  docs/dev/validation-ip.txt
  docs/dev/validation-shortcut.txt
  docs/dev/validation-types.txt
  docs/dev/validation-udt.txt
  docs/dev/validation.md
Due: none

Copilot fixing a typo
  docs/dev/validation-types.txt
Due: none

Doc: Defining the meaning of True/False values in dictionary attributes
  docs/dev/validation-alt.txt
  tests/coverage/expected/true-value.yml
  tests/coverage/input/true-value.yml
Due: yamllint, ci_tests

Implement _remove_when_false solution
  docs/dev/validation-alt.txt
  docs/dev/validation-types.txt
  netsim/data/validate.py
  tests/coverage/expected/true-false-value.yml
  tests/coverage/input/true-false-value.yml
Due: yamllint, ci_tests

Stupid typo :((
  docs/dev/validation-types.txt
Due: none

Normalize OSPF GR boolean settings.
  docs/dev/config/ospf.md
  docs/module/ospf.md
  netsim/ansible/templates/ospf/frr.ospfv2.j2
  netsim/modules/ospf.py
Due: ci_tests

Add OSPF graceful restart support for FRR.
  docs/dev/config/ospf.md
  docs/module/ospf.md
  netsim/ansible/templates/ospf/frr.ospfv2.j2
  netsim/devices/frr.yml
  netsim/devices/none.yml
  netsim/modules/ospf.py
  netsim/modules/ospf.yml
  tests/integration/ospf/ospfv2/41-gr.yml
  tests/integration/ospf/ospfv2/README.md
Due: yamllint, ci_tests

Update OSPF graceful restart model and tests.
  docs/dev/config/ospf.md
  docs/module/ospf.md
  netsim/ansible/templates/ospf/frr.ospfv2.j2
  netsim/ansible/templates/ospf/frr.ospfv3.j2
  netsim/modules/ospf.py
  netsim/modules/ospf.yml
  tests/integration/ospf/ospfv2/README.md
  tests/integration/ospf/ospfv3/41-gr.yml
  tests/integration/ospf/ospfv3/README.md
Due: yamllint, ci_tests

Revert to dev version
  AGENTS.md
Due: none

Normalize OSPFv3 GR template handling.
  netsim/ansible/templates/ospf/frr.ospfv3.j2
Due: none

Fixing OSPFv2 template and error message
  netsim/ansible/templates/ospf/frr.ospfv2.j2
  netsim/modules/ospf.py
Due: ci_tests

Extend OSPF GR to OSPFv3 and validate per-address-family device support.
  AGENTS.md
  netsim/ansible/templates/ospf/frr.ospfv2.j2
  netsim/ansible/templates/ospf/frr.ospfv3.j2
  netsim/devices/frr.yml
  netsim/devices/none.yml
  netsim/modules/ospf.py
  netsim/modules/ospf.yml
Due: yamllint, ci_tests

Simplify OSPF GR support validation.
  netsim/modules/ospf.py
Due: ci_tests

Document OSPF graceful restart support for OSPFv2 and OSPFv3.
  docs/dev/config/ospf.md
  docs/module/ospf.md
Due: none

Use ospf.af membership check for GR OSPFv2 validation.
  netsim/modules/ospf.py
Due: ci_tests

Use the new _remove_when_false functionality
  netsim/ansible/templates/ospf/frr.gr.j2
  netsim/ansible/templates/ospf/frr.ospfv2.j2
  netsim/ansible/templates/ospf/frr.ospfv3.j2
  netsim/modules/ospf.py
  netsim/modules/ospf.yml
Due: yamllint, ci_tests

Update documentation
  docs/dev/config/ospf.md
  docs/module/ospf.md
Due: none

Fix integration tests and OSPFv2 opaque capability
  netsim/ansible/templates/ospf/frr.ospfv2.j2
  tests/integration/ospf/ospfv2/41-gr.yml
  tests/integration/ospf/ospfv3/41-gr.yml
Due: yamllint, ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
