Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Fix: Reduce the number of Python versions tested in CI/CD pipeline
  .github/workflows/t-pull.yml
  .github/workflows/t-push.yml
Due: yamllint, ci_tests

Catch KeyboardInterrupt when aborting netlab test cleanup
  netsim/cli/test.py
  tests/test_cli.py
Due: ci_tests

Move VPP config templates to the clab provider path.
  netsim/templates/provider/clab/vpp/bird.j2
  netsim/templates/provider/clab/vpp/daemons.j2
  netsim/templates/provider/clab/vpp/hosts.j2
  netsim/templates/provider/clab/vpp/mpls.vpp.j2
  netsim/templates/provider/clab/vpp/ospf.areas.j2
  netsim/templates/provider/clab/vpp/resolv.j2
  netsim/templates/provider/clab/vpp/setup.vpp.j2
  netsim/templates/provider/clab/vpp/start.vpp.j2
  netsim/templates/provider/clab/vpp/vpp.j2
Due: none

Remove regression test
  tests/test_cli.py
Due: ci_tests

Cleanup: Relocate VPP module templates and rename start script.
  netsim/ansible/templates/mpls/vpp.j2
  netsim/devices/vpp.yml
  netsim/templates/provider/clab/vpp/netlab-start.sh.j2
  netsim/templates/provider/clab/vpp/ospf.areas.j2
Due: yamllint, ci_tests

Fix: Use VPP bridge-domains for VLAN bridging with FRR CP.
  netsim/ansible/templates/vlan/vpp.j2
  netsim/devices/vpp.py
  netsim/devices/vpp.yml
  netsim/templates/provider/clab/vpp/netlab-start.sh.j2
  netsim/templates/provider/clab/vpp/setup.vpp.j2
Due: yamllint, ci_tests

Cleanup: Tighten VPP VLAN bridge-domain template loops.
  netsim/ansible/templates/vlan/vpp.j2
Due: none

Fix: Only include *.conf files in BIRD daemon config.
  netsim/daemons/bird/bird.j2
Due: none

Fix: Create VPP BVIs for IRB VLAN SVIs.
  netsim/ansible/templates/vlan/vpp.j2
Due: none

Fix: Configure VPP loopbacks skipped as virtual interfaces.
  netsim/templates/provider/clab/vpp/setup.vpp.j2
Due: none

Rewrite routing.acl functionality (part 1)
  netsim/ansible/templates/routing/acl.eos.j2
  netsim/devices/none.yml
  netsim/modules/routing.yml
  netsim/modules/routing/__init__.py
  netsim/modules/routing/acl.py
  tests/integration/routing/30-acl-ipv4.yml
  tests/integration/routing/31-acl-ipv6.yml
  tests/topology/expected/acl-simple.yml
  tests/topology/input/acl-simple.yml
Due: yamllint, ci_tests

Fix: Create VPP trunk subinterfaces with VLAN tag-rewrite.
  netsim/ansible/templates/vlan/vpp.j2
Due: none

Fix: Support VPP routed VLAN trunks with bird control plane.
  netsim/ansible/templates/vlan/vpp.j2
  netsim/devices/vpp.py
  netsim/devices/vpp.yml
Due: yamllint, ci_tests

Cleanup: Split VPP VLAN create vs L2 into initial/vlan templates.
  netsim/ansible/templates/initial/vpp.vlan.j2
  netsim/ansible/templates/vlan/vpp.j2
  netsim/templates/provider/clab/vpp/setup.vpp.j2
Due: none

Fix: Align VPP LCP TAP MACs before VLAN subinterface create.
  netsim/ansible/templates/initial/vpp.vlan.j2
  netsim/devices/vpp.yml
  netsim/templates/provider/clab/vpp/netlab-start.sh.j2
  netsim/templates/provider/clab/vpp/setup.vpp.j2
  netsim/templates/provider/clab/vpp/vlan-init.vpp.j2
Due: yamllint, ci_tests

Fixes: interface AF logic, integration tests
  netsim/ansible/templates/routing/acl.eos.j2
  netsim/modules/routing/acl.py
  tests/integration/routing/30-acl-ipv4.yml
  tests/integration/routing/31-acl-ipv6.yml
Due: yamllint, ci_tests

Documentation
  docs/module/routing-acl.txt
Due: none

Fix Cisco IOS template
  netsim/ansible/templates/routing/acl.ios.j2
Due: none

Catch KeyboardInterrupt when aborting netlab test cleanup (#3720)
  netsim/cli/test.py
Due: ci_tests

Rewrite routing.acl functionality (part 1) (#3721)
  docs/module/routing-acl.txt
  netsim/ansible/templates/routing/acl.eos.j2
  netsim/ansible/templates/routing/acl.ios.j2
  netsim/devices/none.yml
  netsim/modules/routing.yml
  netsim/modules/routing/__init__.py
  netsim/modules/routing/acl.py
  tests/integration/routing/30-acl-ipv4.yml
  tests/integration/routing/31-acl-ipv6.yml
  tests/topology/expected/acl-simple.yml
  tests/topology/input/acl-simple.yml
Due: yamllint, ci_tests

Implement min/max list length validation
  docs/dev/validation-types.txt
  netsim/data/types.py
  tests/coverage/errors/attr-empty-list.log
  tests/coverage/errors/attr-empty-list.yml
  tests/coverage/errors/attr-list.log
  tests/coverage/errors/attr-list.yml
Due: yamllint, ci_tests

Implement min/max list length validation (#3722)
  docs/dev/validation-types.txt
  netsim/data/types.py
  tests/coverage/errors/attr-empty-list.log
  tests/coverage/errors/attr-empty-list.yml
  tests/coverage/errors/attr-list.log
  tests/coverage/errors/attr-list.yml
Due: yamllint, ci_tests

Rewrite ACL port matching
  docs/module/routing-acl.txt
  netsim/modules/routing.yml
  netsim/modules/routing/acl.py
  tests/integration/routing/30-acl-ipv4.yml
  tests/integration/routing/31-acl-ipv6.yml
  tests/topology/expected/acl-simple.yml
  tests/topology/input/acl-simple.yml
Due: yamllint, ci_tests

EOS/IOLL2 tests for #3723
  _html/eos-clab-routing.html
  _html/ioll2-clab-routing.html
  eos/clab/routing/30-acl-ipv4.yml-create.log
  eos/clab/routing/30-acl-ipv4.yml-initial.log
  eos/clab/routing/30-acl-ipv4.yml-up.log
  eos/clab/routing/30-acl-ipv4.yml-validate.log
  eos/clab/routing/31-acl-ipv6.yml-create.log
  eos/clab/routing/31-acl-ipv6.yml-initial.log
  eos/clab/routing/31-acl-ipv6.yml-up.log
  eos/clab/routing/31-acl-ipv6.yml-validate.log
  eos/clab/routing/cleanup-down.log
  eos/clab/routing/results.yaml
  index.html
  ioll2/clab/routing/30-acl-ipv4.yml-create.log
  ioll2/clab/routing/30-acl-ipv4.yml-initial.log
  ioll2/clab/routing/30-acl-ipv4.yml-up.log
  ioll2/clab/routing/30-acl-ipv4.yml-validate.log
  ioll2/clab/routing/31-acl-ipv6.yml-create.log
  ioll2/clab/routing/31-acl-ipv6.yml-initial.log
  ioll2/clab/routing/31-acl-ipv6.yml-up.log
  ioll2/clab/routing/31-acl-ipv6.yml-validate.log
  ioll2/clab/routing/cleanup-down.log
  ioll2/clab/routing/results.yaml
Due: yamllint, ci_tests

Fixing nits
  netsim/modules/routing.yml
  netsim/modules/routing/acl.py
Due: yamllint, ci_tests

Minor documentation fixes, disabling broken features
  docs/caveats.md
  docs/labs/clab.md
  docs/labs/vpp.md
  docs/platforms.md
  netsim/devices/vpp.yml
Due: yamllint, ci_tests

fix(sonic): declare lag.mlag False instead of documenting MLAG as broken
  netsim/devices/sonic.yml
Due: yamllint, ci_tests

docs(sonic): add docker-sonic-vs download instructions and retitle the container section
  docs/labs/sonic.md
Due: none

docs(sonic): cut the caveats section down to what belongs in caveats
  docs/caveats.md
Due: none

docs(sonic): record what was considered on FRR script reuse
  netsim/ansible/templates/initial/sonic-clab.j2
  netsim/ansible/templates/vxlan/sonic-clab.j2
Due: none

docs(sonic): move the SONiC containerlab release note to 26.08
  docs/release.md
  docs/release/26.07.md
  docs/release/26.08.md
Due: none

chore(sonic): remove the dead sonic_clab validate module and stale references
  netsim/ansible/tasks/deploy-config/sonic-clab.yml
  netsim/ansible/templates/initial/sonic-clab.j2
  netsim/ansible/templates/vlan/sonic-clab.j2
  netsim/ansible/templates/vxlan/sonic-clab.j2
  netsim/validate/sonic_clab.py
Due: yamllint, ci_tests

docs(sonic): one platform-table row for SONiC, not two
  docs/platforms.md
Due: none

docs(sonic): correct the image-tag step in the download instructions
  docs/labs/sonic.md
Due: none

Rewrite ACL port matching (#3723)
  docs/module/routing-acl.txt
  netsim/modules/routing.yml
  netsim/modules/routing/acl.py
  tests/integration/routing/30-acl-ipv4.yml
  tests/integration/routing/31-acl-ipv6.yml
  tests/topology/expected/acl-simple.yml
  tests/topology/input/acl-simple.yml
Due: yamllint, ci_tests

docs(sonic): point at the actual source of the container image
  docs/labs/sonic.md
Due: none

add workaround for MGMT_PASSTHROUGH to docs
  docs/labs/clab.md
Due: none

Update clab.md
  docs/labs/clab.md
Due: none

Initial documentation nits (more to come ;)
  docs/caveats.md
  docs/labs/sonic.md
  docs/platforms.md
  docs/release/26.08.md
Due: none
