Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Split WireGuard peer endpoint construction in FRR template.
  netsim/extra/tunnel/wireguard/frr.j2
Due: none

Tidy WireGuard VRF setup in FRR template.
  netsim/extra/tunnel/wireguard/frr.j2
Due: none

Trim whitespace after WireGuard fwmark conditional in FRR template.
  netsim/extra/tunnel/wireguard/frr.j2
Due: none

Reorder WireGuard peer endpoint setup in FRR template.
  netsim/extra/tunnel/wireguard/frr.j2
Due: none

Remove redundant error check in WireGuard post_transform.
  netsim/extra/tunnel/wireguard/__init__.py
Due: ci_tests

Fix the IRB tests and ensure bridges add interfaces after they are created
  netsim/ansible/templates/initial/openbsd-ifconfig.j2
  netsim/ansible/templates/initial/openbsd.j2
  netsim/ansible/templates/vlan/openbsd.j2
Due: none

Generic 'include module/plugin config into initial config' framework (#3593)
  netsim/ansible/templates/initial/_extra_initial.j2
  netsim/ansible/templates/initial/vyos.j2
  netsim/ansible/templates/initial/vyos.vlan.j2
  netsim/ansible/templates/initial/vyos.vrf.j2
  netsim/ansible/templates/vlan/vyos.initial.j2
  netsim/ansible/templates/vrf/vyos.initial.j2
Due: none

Restore default route redistribution into BGP
  netsim/ansible/templates/vrf/routeros7.bgp.j2
Due: none

Remove WireGuard IPv6 link-local workaround.
  netsim/extra/tunnel/wireguard/__init__.py
  netsim/extra/tunnel/wireguard/frr.j2
  netsim/utils/routing.py
Due: ci_tests

Minimize the number of integration tests
  tests/integration/tunnel/03-wireguard.yml
  tests/integration/tunnel/04-wireguard-vrf.yml
  tests/integration/tunnel/05-wireguard-dual-stack.yml
  tests/integration/tunnel/06-wireguard-vrf-dual-stack.yml
Due: yamllint, ci_tests

FRR integration tests for #3569
  _html/frr-clab-tunnel.html
  frr/clab/tunnel/01-gre.yml-initial.log
  frr/clab/tunnel/01-gre.yml-up.log
  frr/clab/tunnel/01-gre.yml-validate.log
  frr/clab/tunnel/02-gre-vrf.yml-initial.log
  frr/clab/tunnel/02-gre-vrf.yml-validate.log
  frr/clab/tunnel/03-wireguard.yml-create.log
  frr/clab/tunnel/03-wireguard.yml-initial.log
  frr/clab/tunnel/03-wireguard.yml-up.log
  frr/clab/tunnel/03-wireguard.yml-validate.log
  frr/clab/tunnel/04-wireguard-vrf.yml-create.log
  frr/clab/tunnel/04-wireguard-vrf.yml-initial.log
  frr/clab/tunnel/04-wireguard-vrf.yml-up.log
  frr/clab/tunnel/04-wireguard-vrf.yml-validate.log
  frr/clab/tunnel/cleanup-down.log
  frr/clab/tunnel/results.yaml
  index.html
Due: yamllint, ci_tests

Wireguard tunnel for FRR (#3569)
  docs/plugins.md
  docs/plugins/tunnel.wireguard.md
  netsim/ansible/templates/initial/frr.j2
  netsim/ansible/templates/initial/linux/packages.j2
  netsim/devices/frr.yml
  netsim/devices/none.yml
  netsim/extra/tunnel/__init__.py
  netsim/extra/tunnel/wireguard/__init__.py
  netsim/extra/tunnel/wireguard/defaults.yml
  netsim/extra/tunnel/wireguard/frr.j2
  tests/coverage/expected/gre-source.yml
  tests/integration/tunnel/03-wireguard.yml
  tests/integration/tunnel/04-wireguard-vrf.yml
Due: yamllint, ci_tests

Add working VLAN / VRF OSPF support for OpenBSD
  netsim/ansible/templates/initial/openbsd-ifconfig.j2
  netsim/ansible/templates/ospf/openbsd.ospfv2.j2
  netsim/ansible/templates/ospf/openbsd.ospfv3.j2
  netsim/ansible/templates/vlan/openbsd.j2
  netsim/ansible/templates/vrf/openbsd.j2
  netsim/devices/openbsd.yml
Due: yamllint, ci_tests

Add BIRD OSPF default route origination support.
  docs/module/ospf.md
  netsim/daemons/bird.yml
  netsim/daemons/bird/ospf.macros.j2
Due: yamllint, ci_tests

Make BIRD OSPF always-default a floating static route.
  netsim/daemons/bird/ospf.macros.j2
Due: none

Fix issue with OSPF_VRF check, revert minor unindended changes
  netsim/ansible/templates/initial/openbsd.j2
  netsim/ansible/templates/ospf/openbsd.ospfv2.j2
  netsim/ansible/templates/ospf/openbsd.ospfv3.j2
  netsim/devices/openbsd.yml
Due: yamllint, ci_tests

Seems mixed also works..
  netsim/devices/openbsd.yml
Due: yamllint, ci_tests

Fix missing 'f' for Python f-strings
  netsim/augment/components.py
  netsim/augment/config.py
  netsim/augment/devices.py
  netsim/augment/links.py
  netsim/cli/install.py
  netsim/data/filemaps.py
  netsim/data/validate.py
  netsim/devices/__init__.py
  netsim/modules/_routing.py
  netsim/modules/bgp.py
  netsim/modules/vxlan.py
  netsim/outputs/_graph.py
  netsim/providers/libvirt.py
  netsim/roles/bridge.py
Due: ci_tests

Fix missing 'f' for Python f-strings (#3598)
  netsim/augment/components.py
  netsim/augment/config.py
  netsim/augment/devices.py
  netsim/augment/links.py
  netsim/cli/install.py
  netsim/data/filemaps.py
  netsim/data/validate.py
  netsim/devices/__init__.py
  netsim/modules/_routing.py
  netsim/modules/bgp.py
  netsim/modules/vxlan.py
  netsim/outputs/_graph.py
  netsim/providers/libvirt.py
  netsim/roles/bridge.py
Due: ci_tests

It does not make sense to check the source of the default route
  netsim/daemons/bird/ospf.macros.j2
Due: none

Add BIRD OSPF default route origination support. (#3594)
  docs/module/ospf.md
  netsim/daemons/bird.yml
  netsim/daemons/bird/ospf.macros.j2
Due: yamllint, ci_tests

OSPFv3 default route integration tests must be run with routers
  tests/integration/ospf/ospfv3/20-default.yml
  tests/integration/ospf/ospfv3/21-default-policy.yml
  tests/integration/ospf/ospfv3/22-default-vrf.yml
Due: yamllint, ci_tests

Stupid typo :(
  netsim/daemons/bird/ospf.macros.j2
  netsim/daemons/bird/vrf-table.j2
  tests/integration/ospf/ospfv3/22-default-vrf.yml
Due: yamllint, ci_tests

Fix: Do not use BIRD kernel routes to originate OSPF defaults
  netsim/daemons/bird/ospf.macros.j2
Due: none

BIRD OSPF default route tests for #3600
  _html/bird-clab-ospf-ospfv2.html
  _html/bird-clab-ospf-ospfv3.html
  _html/bird-clab-ospf.html
  _html/bird-clab.html
  _html/bird.html
  _html/coverage.ospfv2.html
  _html/coverage.ospfv3.html
  bird/clab/ospf/ospfv2/20-default.yml-initial.log
  bird/clab/ospf/ospfv2/20-default.yml-up.log
  bird/clab/ospf/ospfv2/20-default.yml-validate.log
  bird/clab/ospf/ospfv2/22-default-vrf.yml-initial.log
  bird/clab/ospf/ospfv2/22-default-vrf.yml-up.log
  bird/clab/ospf/ospfv2/22-default-vrf.yml-validate.log
  bird/clab/ospf/ospfv2/cleanup-down.log
  bird/clab/ospf/ospfv2/results.yaml
  bird/clab/ospf/ospfv3/20-default.yml-up.log
  bird/clab/ospf/ospfv3/20-default.yml-validate.log
  bird/clab/ospf/ospfv3/22-default-vrf.yml-initial.log
  bird/clab/ospf/ospfv3/22-default-vrf.yml-up.log
  bird/clab/ospf/ospfv3/22-default-vrf.yml-validate.log
  bird/clab/ospf/ospfv3/cleanup-down.log
  bird/clab/ospf/ospfv3/results.yaml
  index.html
Due: yamllint, ci_tests

OSPFv3 default route integration tests must be run with routers (#3599)
  tests/integration/ospf/ospfv3/20-default.yml
  tests/integration/ospf/ospfv3/21-default-policy.yml
  tests/integration/ospf/ospfv3/22-default-vrf.yml
Due: yamllint, ci_tests

Fix: Do not use BIRD kernel routes to originate OSPF defaults (#3600)
  netsim/daemons/bird/ospf.macros.j2
Due: none

Fix: BIRD VRF kernel routes do not have to be exported
  netsim/daemons/bird/vrf-table.j2
Due: none

Add VRF assignment before any IP assignment, fix spacing issue
  netsim/ansible/templates/initial/openbsd-ifconfig.j2
  netsim/ansible/templates/initial/openbsd.j2
Due: none

Only try to start RAD on VRF if file exists (aka has ipv6)
  netsim/ansible/templates/vrf/openbsd.j2
Due: none

Fix: BIRD VRF kernel routes do not have to be exported (#3601)
  netsim/daemons/bird/vrf-table.j2
Due: none

Start global BGP instance if we need leaked VRF routes
  netsim/ansible/templates/vrf/routeros7.bgp.j2
Due: none

Those ****ers changed the 'address-family' keyword...
  netsim/ansible/templates/mpls/routeros7.mplsvpn.j2
Due: none

Deal with VPNv6 AF
  netsim/ansible/templates/mpls/routeros7.mplsvpn.j2
  netsim/devices/routeros7.py
Due: ci_tests

RouterOS7 MPLS tests for #3485
  _html/coverage.mpls.html
  _html/release-coverage.html
  _html/routeros7-libvirt-mpls.html
  _html/routeros7-libvirt.html
  _html/routeros7.html
  index.html
  routeros7/libvirt/mpls/10-vpn-connected.yml-initial.log
  routeros7/libvirt/mpls/10-vpn-connected.yml-up.log
  routeros7/libvirt/mpls/10-vpn-connected.yml-validate.log
  routeros7/libvirt/mpls/11-vpn-cs.yml-initial.log
  routeros7/libvirt/mpls/11-vpn-cs.yml-up.log
  routeros7/libvirt/mpls/11-vpn-cs.yml-validate.log
  routeros7/libvirt/mpls/12-vpn-bgp.yml-initial.log
  routeros7/libvirt/mpls/12-vpn-bgp.yml-up.log
  routeros7/libvirt/mpls/12-vpn-bgp.yml-validate.log
  routeros7/libvirt/mpls/13-vpn-ospf.yml-initial.log
  routeros7/libvirt/mpls/13-vpn-ospf.yml-up.log
  routeros7/libvirt/mpls/13-vpn-ospf.yml-validate.log
  routeros7/libvirt/mpls/15-vpnv4-rr.yml-create.log
  routeros7/libvirt/mpls/15-vpnv4-rr.yml-initial.log
  routeros7/libvirt/mpls/15-vpnv4-rr.yml-up.log
  routeros7/libvirt/mpls/15-vpnv4-rr.yml-validate.log
  routeros7/libvirt/mpls/20-vpnv6-connected.yml-create.log
  routeros7/libvirt/mpls/20-vpnv6-connected.yml-initial.log
  routeros7/libvirt/mpls/20-vpnv6-connected.yml-up.log
  routeros7/libvirt/mpls/20-vpnv6-connected.yml-validate.log
  routeros7/libvirt/mpls/25-vpnv6-rr.yml-create.log
  routeros7/libvirt/mpls/25-vpnv6-rr.yml-initial.log
  routeros7/libvirt/mpls/25-vpnv6-rr.yml-up.log
  routeros7/libvirt/mpls/25-vpnv6-rr.yml-validate.log
  routeros7/libvirt/mpls/cleanup-down.log
  routeros7/libvirt/mpls/results.yaml
Due: yamllint, ci_tests
