Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Add RouterOS7 BFD support with OSPF
  netsim/ansible/templates/ospf/routeros7.ospf-include.j2
  netsim/devices/routeros7.yml
Due: yamllint, ci_tests

Fix cEOS empty ping failure validation
  netsim/validate/eos.py
Due: ci_tests

Fix: VXLAN integration tests run only with 'role: router'
  tests/integration/vxlan/01-vxlan-bridging.yml
  tests/integration/vxlan/02-vxlan-bridging-multinode.yml
  tests/integration/vxlan/03-vxlan-irb.yml
  tests/integration/vxlan/04-vxlan-irb-ospf.yml
  tests/integration/vxlan/05-vxlan-router-stick.yml
  tests/integration/vxlan/07-vxlan-bridging-v6only.yml
  tests/integration/vxlan/08-vxlan-alt-vtep.yml
Due: yamllint, ci_tests

Fixed a node name error in ROS test
  tests/integration/vxlan/05-vxlan-router-stick.yml
Due: yamllint, ci_tests

Fix: Unify bird Dockerfiles and logging
  docs/caveats.md
  netsim/daemons/bird/Dockerfile
  netsim/daemons/bird/Dockerfile.v2_from_src.j2
  netsim/daemons/bird/Dockerfile.v3
  netsim/daemons/bird/bird.j2
Due: none

BIRD: Start daemon after data-plane configuration
  netsim/daemons/bird.yml
  netsim/daemons/bird/dataplane-wait.j2
  netsim/devices/__init__.py
  netsim/devices/_common.py
  netsim/devices/bird.py
Due: yamllint, ci_tests

Remove invalid fallback logic hack
  netsim/daemons/bird/bgp.j2
Due: none

Fix: Unify BIRD Dockerfile variants
  docs/labs/bird.md
  docs/netlab/clab.md
  netsim/daemons/bird/Dockerfile
  netsim/daemons/bird/Dockerfile.j2
  netsim/daemons/bird/Dockerfile.v3
Due: none

RouterOS7 router-id can be directly IP, use that instead
  netsim/ansible/templates/bgp/routeros7.j2
Due: none

RouterOS7 only needs single instance for vrf and main
  netsim/ansible/templates/bgp/routeros7.macro.j2
Due: none

VRF creation needs instance, remove redistributing world
  netsim/ansible/templates/vrf/routeros7.bgp.j2
Due: none

Sample VXLAN integration tests for #3499
  _html/arubacx-libvirt-vxlan.html
  _html/frr-clab-vxlan.html
  _html/release-coverage.html
  arubacx/libvirt/vxlan/05-vxlan-router-stick.yml-create.log
  arubacx/libvirt/vxlan/05-vxlan-router-stick.yml-initial.log
  arubacx/libvirt/vxlan/05-vxlan-router-stick.yml-up.log
  arubacx/libvirt/vxlan/05-vxlan-router-stick.yml-validate.log
  arubacx/libvirt/vxlan/cleanup-down.log
  arubacx/libvirt/vxlan/results.yaml
  frr/clab/vxlan/01-vxlan-bridging.yml-initial.log
  frr/clab/vxlan/01-vxlan-bridging.yml-up.log
  frr/clab/vxlan/01-vxlan-bridging.yml-validate.log
  frr/clab/vxlan/02-vxlan-bridging-multinode.yml-initial.log
  frr/clab/vxlan/02-vxlan-bridging-multinode.yml-up.log
  frr/clab/vxlan/02-vxlan-bridging-multinode.yml-validate.log
  frr/clab/vxlan/03-vxlan-irb.yml-initial.log
  frr/clab/vxlan/03-vxlan-irb.yml-up.log
  frr/clab/vxlan/04-vxlan-irb-ospf.yml-initial.log
  frr/clab/vxlan/04-vxlan-irb-ospf.yml-up.log
  frr/clab/vxlan/05-vxlan-router-stick.yml-create.log
  frr/clab/vxlan/05-vxlan-router-stick.yml-initial.log
  frr/clab/vxlan/05-vxlan-router-stick.yml-up.log
  frr/clab/vxlan/05-vxlan-router-stick.yml-validate.log
  frr/clab/vxlan/07-vxlan-bridging-v6only.yml-up.log
  frr/clab/vxlan/07-vxlan-bridging-v6only.yml-validate.log
  frr/clab/vxlan/08-vxlan-alt-vtep.yml-initial.log
  frr/clab/vxlan/08-vxlan-alt-vtep.yml-up.log
  frr/clab/vxlan/cleanup-down.log
  frr/clab/vxlan/results.yaml
  routeros7/libvirt/bgp.policy/70-bgp-roles.yml-create.log
  routeros7/libvirt/bgp.session/14-gr.yml-create.log
  routeros7/libvirt/ospf/ospfv2/41-gr.yml-create.log
  routeros7/libvirt/ospf/ospfv3/08-dual-stack.yml-create.log
Due: yamllint, ci_tests

Fix: Check returned STDERR and STDOUT in validation tests
  netsim/cli/connect.py
  netsim/cli/external_commands.py
Due: ci_tests

Fixing typos/nits/suggestions
  netsim/daemons/bird/dataplane-wait.j2
  netsim/devices/__init__.py
  netsim/devices/_common.py
  netsim/templates/provider/clab/dataplane-wait.j2
Due: ci_tests

Return error code from ssh_connect
  netsim/cli/connect.py
Due: ci_tests

Make sure netlab_dp_timeout is an int
  netsim/templates/provider/clab/dataplane-wait.j2
Due: none

BIRD: VXLAN data plane support
  docs/module/vxlan.md
  docs/platforms.md
  netsim/ansible/templates/vxlan/bird.j2
  netsim/ansible/templates/vxlan/frr.j2
  netsim/daemons/bird.yml
Due: yamllint, ci_tests

BIRD VXLAN integration tests for #3504
  _html/bird-clab-vxlan.html
  _html/bird-clab.html
  _html/bird.html
  _html/coverage.vxlan.html
  _html/release-coverage.html
  bird/clab/vxlan/01-vxlan-bridging.yml-create.log
  bird/clab/vxlan/01-vxlan-bridging.yml-initial.log
  bird/clab/vxlan/01-vxlan-bridging.yml-up.log
  bird/clab/vxlan/01-vxlan-bridging.yml-validate.log
  bird/clab/vxlan/02-vxlan-bridging-multinode.yml-create.log
  bird/clab/vxlan/02-vxlan-bridging-multinode.yml-initial.log
  bird/clab/vxlan/02-vxlan-bridging-multinode.yml-up.log
  bird/clab/vxlan/02-vxlan-bridging-multinode.yml-validate.log
  bird/clab/vxlan/03-vxlan-irb.yml-create.log
  bird/clab/vxlan/03-vxlan-irb.yml-initial.log
  bird/clab/vxlan/03-vxlan-irb.yml-up.log
  bird/clab/vxlan/03-vxlan-irb.yml-validate.log
  bird/clab/vxlan/04-vxlan-irb-ospf.yml-create.log
  bird/clab/vxlan/05-vxlan-router-stick.yml-create.log
  bird/clab/vxlan/07-vxlan-bridging-v6only.yml-create.log
  bird/clab/vxlan/07-vxlan-bridging-v6only.yml-initial.log
  bird/clab/vxlan/07-vxlan-bridging-v6only.yml-up.log
  bird/clab/vxlan/07-vxlan-bridging-v6only.yml-validate.log
  bird/clab/vxlan/08-vxlan-alt-vtep.yml-create.log
  bird/clab/vxlan/08-vxlan-alt-vtep.yml-initial.log
  bird/clab/vxlan/08-vxlan-alt-vtep.yml-up.log
  bird/clab/vxlan/08-vxlan-alt-vtep.yml-validate.log
  bird/clab/vxlan/cleanup-down.log
  bird/clab/vxlan/results.yaml
  index.html
Due: yamllint, ci_tests

Minor fixes
  docs/defaults.md
  docs/labs/bird.md
  docs/netlab/clab.md
  netsim/cli/clab/build.py
  netsim/daemons/bird/Dockerfile.j2
Due: ci_tests

Fixing a documentation typo
  docs/labs/bird.md
Due: none

Fix: Rename '--sw-version' arg to '--version'
  docs/labs/bird.md
  docs/netlab/clab.md
  netsim/cli/clab/build.py
Due: ci_tests

BIRD: Anycast gateway support
  docs/module/gateway.md
  docs/platforms.md
  netsim/ansible/templates/gateway/bird.j2
  netsim/ansible/templates/gateway/frr.data-plane.j2
  netsim/ansible/templates/gateway/frr.j2
  netsim/daemons/bird.yml
Due: yamllint, ci_tests

BIRD/FRR gateway tests for #3509
  _html/bird-clab-gateway.html
  _html/bird-clab.html
  _html/bird.html
  _html/coverage.gateway.html
  _html/release-coverage.html
  bird/clab/gateway/01-anycast.yml-create.log
  bird/clab/gateway/01-anycast.yml-initial.log
  bird/clab/gateway/01-anycast.yml-up.log
  bird/clab/gateway/01-anycast.yml-validate.log
  bird/clab/gateway/02-vrrp.yml-create.log
  bird/clab/gateway/03-vrrp-vlan.yml-create.log
  bird/clab/gateway/cleanup-down.log
  bird/clab/gateway/results.yaml
  frr/clab/gateway/01-anycast.yml-up.log
  frr/clab/gateway/02-vrrp.yml-initial.log
  frr/clab/gateway/02-vrrp.yml-up.log
  frr/clab/gateway/02-vrrp.yml-validate.log
  frr/clab/gateway/03-vrrp-vlan.yml-initial.log
  frr/clab/gateway/03-vrrp-vlan.yml-validate.log
  frr/clab/gateway/cleanup-down.log
  frr/clab/gateway/results.yaml
  index.html
Due: yamllint, ci_tests

No need to use complex path when including FRR DP config into BIRD config
  netsim/ansible/templates/gateway/bird.j2
Due: none

Fix: Tested device in VRF integration tests must be a router
  tests/integration/vrf/01-multi-vrf.yml
  tests/integration/vrf/02-multi-vrf-ipv6.yml
  tests/integration/vrf/topology-defaults.yml
Due: yamllint, ci_tests

Support per-module DP script + CP config for daemons
  netsim/ansible/templates/vrf/bird.j2
  netsim/daemons/bird.yml
  netsim/daemons/bird/vrf-daemon.j2
  netsim/devices/_common.py
Due: yamllint, ci_tests

Make BIRD v3 (latest) the default BIRD version
  docs/caveats.md
  docs/labs/bird.md
  netsim/daemons/bird/Dockerfile.j2
Due: none

Split FRR data-plane configuration into per-protocol chunks
  netsim/ansible/templates/gateway/bird.j2
  netsim/ansible/templates/gateway/frr.j2
  netsim/ansible/templates/gateway/frr/anycast-dp.j2
  netsim/ansible/templates/gateway/frr/data-plane.j2
  netsim/ansible/templates/gateway/frr/vrrp-cp.j2
  netsim/ansible/templates/gateway/frr/vrrp-dp.j2
Due: none

Redo FRR/BIRD gateway tests for #3509 after template splits
  _html/bird-clab-gateway.html
  _html/frr-clab-gateway.html
  bird/clab/gateway/01-anycast.yml-initial.log
  bird/clab/gateway/01-anycast.yml-up.log
  bird/clab/gateway/01-anycast.yml-validate.log
  bird/clab/gateway/cleanup-down.log
  bird/clab/gateway/results.yaml
  frr/clab/gateway/01-anycast.yml-initial.log
  frr/clab/gateway/01-anycast.yml-up.log
  frr/clab/gateway/01-anycast.yml-validate.log
  frr/clab/gateway/02-vrrp.yml-initial.log
  frr/clab/gateway/02-vrrp.yml-up.log
  frr/clab/gateway/02-vrrp.yml-validate.log
  frr/clab/gateway/03-vrrp-vlan.yml-up.log
  frr/clab/gateway/03-vrrp-vlan.yml-validate.log
  frr/clab/gateway/cleanup-down.log
  frr/clab/gateway/results.yaml
Due: yamllint, ci_tests

Disable fake BIRD VRF support before merging
  netsim/daemons/bird.yml
Due: yamllint, ci_tests

Fixing a typo
  netsim/devices/_common.py
Due: ci_tests

Advertise BIRD static VRF support
  netsim/daemons/bird.yml
Due: yamllint, ci_tests

Add BIRD VRF support
  netsim/ansible/templates/initial/bird-clab.j2
  netsim/ansible/templates/vrf/bird-clab.j2
  netsim/daemons/bird.yml
  netsim/daemons/bird/Dockerfile.j2
  netsim/daemons/bird/bgp.j2
  netsim/daemons/bird/ospf.j2
  netsim/daemons/bird/protocols.j2
  netsim/daemons/bird/vrf.j2
  netsim/validate/eos.py
Due: yamllint, ci_tests

Fix BIRD VRF OSPF route leaking
  netsim/daemons/bird/ospf.j2
  netsim/daemons/bird/vrf.j2
Due: none

Add BIRD VRF route leaking
  netsim/daemons/bird/bgp.j2
  netsim/daemons/bird/ospf.j2
  netsim/daemons/bird/vrf.j2
Due: none

Use VRF names in BIRD routing protocols
  netsim/daemons/bird/bgp.j2
  netsim/daemons/bird/ospf.j2
Due: none

Use VRF names in BIRD VRF objects
  netsim/daemons/bird/vrf.j2
Due: none

Fix BIRD VRF mixed redistribution
  netsim/daemons/bird/bgp.j2
  netsim/daemons/bird/ospf.j2
  netsim/validate/linux.py
Due: ci_tests

Fix BIRD VRF OSPF router IDs
  netsim/daemons/bird/ospf.j2
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
