Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Release 26.02
  README.md
  docs/caveats.md
  docs/platforms.md
  docs/plugins/fabric.md
  docs/release.md
  docs/release/26.02.md
  legacy/setup.py
  netsim/__init__.py
Due: ci_tests

Fixing a typo
  docs/release.md
Due: none

Release 26.02 (#3098)
  README.md
  docs/caveats.md
  docs/platforms.md
  docs/plugins/fabric.md
  docs/release.md
  docs/release/26.02.md
  legacy/setup.py
  netsim/__init__.py
Due: ci_tests

Change formatting of JSON output to make it friendly to Unix tooling (cat, grep ...).
  netsim/outputs/ansible.py
Due: ci_tests

Change formatting of JSON output to make it (#3100)
  netsim/outputs/ansible.py
Due: ci_tests

EVPN Symmetric IRB on Cisco Cat8000v and IOL
  docs/module/evpn.md
  netsim/ansible/templates/evpn/ios-common.j2
  netsim/ansible/templates/evpn/ios.j2
  netsim/devices/cat8000v.yml
  netsim/devices/iol.py
  netsim/devices/iol.yml
Due: yamllint, ci_tests

IOL L2 EVPN transit VNI implementation
  docs/module/evpn.md
  netsim/ansible/templates/evpn/ioll2.j2
Due: none

Fix Copilot-identified errors and nits
  netsim/ansible/templates/evpn/ios-common.j2
  netsim/devices/iol.py
  netsim/devices/ios.yml
Due: yamllint, ci_tests

Use two VRFs in EVPN IP-VRF integration tests
  tests/integration/evpn/05-vxlan-l3only.yml
  tests/integration/evpn/21-bgp-ce-router.yml
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

EVPN Symmetric IRB on Cisco Cat8000v and IOL (#3101)
  docs/module/evpn.md
  netsim/ansible/templates/evpn/ioll2.j2
  netsim/ansible/templates/evpn/ios-common.j2
  netsim/ansible/templates/evpn/ios.j2
  netsim/devices/cat8000v.yml
  netsim/devices/iol.py
  netsim/devices/iol.yml
  netsim/devices/ios.yml
Due: yamllint, ci_tests

Bump SR Linux release to 25.10.2
  netsim/devices/srlinux.yml
Due: yamllint, ci_tests

Bump SR Linux release to 25.10.2 (#3102)
  netsim/devices/srlinux.yml
Due: yamllint, ci_tests

Update documentation to include IPv6 support
  docs/plugins/bgp.originate.md
Due: none

Update stp.md with increment of 4096 instead of 1024
  docs/module/stp.md
Due: none

Doc fix: stp.priority has increment of 4096 not 1024 (#3105)
  docs/module/stp.md
Due: none

Editing, cleanup, a few more fixes
  docs/module/bgp.md
  docs/plugins/bgp.originate.md
Due: none

Fix Copilot-identified blunders
  docs/plugins/bgp.originate.md
Due: none

Doc: Clarify bgp.originate plugin IPv6 support (#3104)
  docs/module/bgp.md
  docs/plugins/bgp.originate.md
Due: none

Fix: Use a more recent IOS XRd container image
  netsim/devices/iosxr.yml
Due: yamllint, ci_tests

Doc: Ansible cisco.iosxr collection has been fixed
  docs/caveats.md
Due: none

New report: IS-IS interfaces/circuits/metrics
  netsim/reports/isis-interfaces.html.j2
  netsim/reports/isis-interfaces.md.j2
Due: none

Fix: Mop up the leaky OSPFv2 neighbors in passive integration test
  tests/integration/ospf/ospfv2/04-passive.yml
Due: yamllint, ci_tests

EVPN/VXLAN support on Juniper vPTX
  netsim/ansible/templates/evpn/junos-common.j2
  netsim/ansible/templates/evpn/vjunos-switch.j2
  netsim/ansible/templates/evpn/vptx.j2
  netsim/ansible/templates/vxlan/junos-common.j2
  netsim/ansible/templates/vxlan/vjunos-switch.j2
  netsim/ansible/templates/vxlan/vptx.j2
  netsim/devices/vptx.yml
Due: yamllint, ci_tests

migrate static vxlan in a dedicated virtual-switch instance
  netsim/ansible/templates/vxlan/junos-common.j2
  netsim/ansible/templates/vxlan/vjunos-switch.j2
  netsim/ansible/templates/vxlan/vptx.j2
Due: none

Fix: IOS/XR takes 15+ seconds to redistribute routes into IS-IS
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

Fix: IOS/XR takes "a while" to wake up its interfaces
  tests/integration/routing/21-static-vrf.yml
Due: yamllint, ci_tests

Implement obsolete/deprecated/migrated attributes
  netsim/data/validate.py
Due: ci_tests

fix vptx empty vlan
  netsim/ansible/templates/vlan/vptx.j2
Due: none

Fix errors found by Copilot
  netsim/data/validate.py
Due: ci_tests

Implement obsolete/deprecated/migrated attributes (#3109)
  netsim/data/validate.py
Due: ci_tests

vptx handle vlan object null
  netsim/ansible/templates/vlan/vptx.j2
Due: none

Refactor sr (SR-MPLS) module, add global/node SID configurations
  docs/module/sr-mpls.md
  netsim/ansible/templates/sr/eos.j2
  netsim/ansible/templates/sr/frr.j2
  netsim/ansible/templates/sr/ios.j2
  netsim/ansible/templates/sr/junos.j2
  netsim/ansible/templates/sr/srlinux.j2
  netsim/ansible/templates/sr/sros.j2
  netsim/ansible/templates/sr/sros.openconfig.j2
  netsim/devices/srlinux.yml
  netsim/devices/sros.yml
  netsim/modules/__init__.py
  netsim/modules/sr.py
  netsim/modules/sr.yml
Due: yamllint, ci_tests

Update coverage tests
  tests/coverage/expected/module-reorder.yml
Due: yamllint, ci_tests

Fixing copilot-identified errors and nits
  netsim/modules/sr.py
  netsim/modules/sr.yml
  tests/coverage/expected/migrated-attr.yml
  tests/coverage/input/migrated-attr.yml
Due: yamllint, ci_tests

Cleanup Copilot mess, handle config file creation errors
  netsim/outputs/config.py
Due: ci_tests
