Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Documentation
  docs/module/bgp.md
Due: none

IOS/XR: BGP confederations (#2833)
  docs/module/bgp.md
  netsim/ansible/templates/bgp/iosxr.j2
  netsim/devices/xr.yml
  tests/integration/vxlan/fix_mtu.py
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

Add clab.exec parameter to execute commands when starting containers
  docs/labs/clab.md
  netsim/providers/clab.yml
Due: yamllint, ci_tests

FRR: Enable additional daemons listed in the frr.daemons node attribute
  docs/caveats.md
  netsim/ansible/templates/initial/frr/daemons.j2
  netsim/devices/frr.yml
  netsim/templates/provider/clab/frr/daemons.j2
Due: yamllint, ci_tests

Add '--title' parameter to 'netlab graph' command
  docs/netlab/graph.md
  netsim/cli/graph.py
  tests/platform-integration/graph/bgp.yml
  tests/platform-integration/graph/create-d2.sh
  tests/platform-integration/graph/create-graphviz.sh
  tests/platform-integration/graph/topo.yml
Due: yamllint, ci_tests

Fix: add the ability to generate generic warnings only once
  netsim/utils/log.py
Due: ci_tests

Replace routing policy 'set.community.delete' with 'delete.community'
  docs/module/routing.md
  netsim/ansible/templates/routing/_route_map_ios.j2
  netsim/ansible/templates/routing/_route_policy_junos.j2
  netsim/ansible/templates/routing/dellos10.j2
  netsim/ansible/templates/routing/eos.j2
  netsim/ansible/templates/routing/frr.j2
  netsim/ansible/templates/routing/ios.j2
  netsim/devices/arubacx.yml
  netsim/devices/dellos10.yml
  netsim/devices/eos.yml
  netsim/devices/frr.yml
  netsim/devices/ios.yml
  netsim/devices/junos.yml
  netsim/devices/none.yml
  netsim/devices/vyos.yml
  netsim/modules/routing.yml
  netsim/modules/routing/clist.py
  netsim/modules/routing/policy.py
  tests/integration/routing/07b-community-delete.yml
  tests/integration/routing/07c-community-delete-list.yml
Due: yamllint, ci_tests

Add missing features for the "netlab show module" printout
  netsim/modules/routing.yml
Due: yamllint, ci_tests

Doc: Update the 'waiting for VM' part of clab documentation
  docs/labs/clab.md
Due: none

Fix: Prevent 'set' and 'delete' attributes with 'action: deny' in routing policies (#2841)
  netsim/modules/routing/policy.py
Due: ci_tests

Fix: Prevent 'set' and 'delete' attributes with 'action: deny' in routing policies (#2841)
  netsim/modules/routing/policy.py
  tests/integration/routing/99-deny-action-validation.yml
Due: yamllint, ci_tests

Fix: Correct YAML indentation in deny action validation test
  tests/integration/routing/99-deny-action-validation.yml
Due: yamllint, ci_tests

Fix: Use IncorrectAttr category for deny action validation error
  netsim/modules/routing/policy.py
Due: ci_tests

Fix: Resolve missing prefix error in deny action validation test
  tests/integration/routing/99-deny-action-validation.yml
Due: yamllint, ci_tests

Minimize deny action validation test
  tests/integration/routing/99-deny-action-validation.yml
Due: yamllint, ci_tests

docs(stp): Document node-level stp.protocol override capability
  docs/module/stp.md
Due: none

refactor(stp): Use inherited stp.protocol instead of manual resolution
  netsim/modules/stp.py
Due: ci_tests

STP: Fix node level STP protocol override setting
  netsim/modules/stp.py
  netsim/modules/stp.yml
Due: yamllint, ci_tests

optimize(stp): Use node.stp.protocol directly instead of intermediate variable
  netsim/modules/stp.py
Due: ci_tests

optimize(stp): Use node.stp.protocol directly in VLAN priority validation
  netsim/modules/stp.py
Due: ci_tests

Doc: Update the 'waiting for VM' part of clab documentation (#2843)
  docs/labs/clab.md
Due: none

Fix: nested dictionaries require more careful tests in plain Jinja2
  netsim/ansible/templates/initial/frr/daemons.j2
  netsim/templates/provider/clab/frr/daemons.j2
Due: none

FRR: Enable additional daemons listed in the frr.daemons node attribute (#2839)
  docs/caveats.md
  netsim/ansible/templates/initial/frr/daemons.j2
  netsim/devices/frr.yml
  netsim/templates/provider/clab/frr/daemons.j2
Due: yamllint, ci_tests

Fixes suggested in the AI review
  docs/module/routing.md
  netsim/devices/dellos10.yml
  netsim/devices/vyos.yml
  netsim/modules/routing/policy.py
  tests/integration/routing/07b-community-delete.yml
  tests/integration/routing/07c-community-delete-list.yml
Due: yamllint, ci_tests

STP: Fix node level STP protocol override setting (#2821)
  docs/module/stp.md
  netsim/modules/stp.py
  netsim/modules/stp.yml
Due: yamllint, ci_tests

Replace routing policy 'set.community.delete' with 'delete.community' (#2842)
  docs/module/routing.md
  netsim/ansible/templates/routing/_route_map_ios.j2
  netsim/ansible/templates/routing/_route_policy_junos.j2
  netsim/ansible/templates/routing/dellos10.j2
  netsim/ansible/templates/routing/eos.j2
  netsim/ansible/templates/routing/frr.j2
  netsim/ansible/templates/routing/ios.j2
  netsim/devices/arubacx.yml
  netsim/devices/dellos10.yml
  netsim/devices/eos.yml
  netsim/devices/frr.yml
  netsim/devices/ios.yml
  netsim/devices/junos.yml
  netsim/devices/none.yml
  netsim/devices/vyos.yml
  netsim/modules/routing.yml
  netsim/modules/routing/clist.py
  netsim/modules/routing/policy.py
  tests/integration/routing/07b-community-delete.yml
  tests/integration/routing/07c-community-delete-list.yml
Due: yamllint, ci_tests

Add '--title' parameter to 'netlab graph' command (#2840)
  docs/netlab/graph.md
  netsim/cli/graph.py
  tests/platform-integration/graph/bgp.yml
  tests/platform-integration/graph/create-d2.sh
  tests/platform-integration/graph/create-graphviz.sh
  tests/platform-integration/graph/topo.yml
Due: yamllint, ci_tests

Add clab.exec parameter to execute commands when starting containers (#2838)
  docs/labs/clab.md
  netsim/providers/clab.yml
Due: yamllint, ci_tests

Fix: Junos quirks have to check RP set.community and delete.community
  netsim/devices/junos.py
Due: ci_tests

Implement Copilot suggestion
  netsim/devices/junos.py
Due: ci_tests

Fix: Junos quirks have to check RP set.community and delete.community (#2846)
  netsim/devices/junos.py
Due: ci_tests

RF: Replace routing.community.x.type with ...cl_type
  netsim/ansible/templates/routing/arubacx.j2
  netsim/ansible/templates/routing/dellos10.j2
  netsim/ansible/templates/routing/frr.j2
  netsim/ansible/templates/routing/ios.j2
  netsim/modules/routing/clist.py
  tests/topology/expected/rp-clist-expansion.yml
Due: yamllint, ci_tests

Fix based on Copilot review
  netsim/devices/dellos10.py
Due: ci_tests

Implement 'bgp.rr_mesh' parameter to control IBGP sessions between RRs
  docs/module/bgp.md
  netsim/modules/bgp.py
  netsim/modules/bgp.yml
  tests/topology/expected/bgp-members.yml
  tests/topology/input/bgp-members.yml
Due: yamllint, ci_tests

Implement '_invalid_with' data validation option
  docs/dev/validation.md
  netsim/data/validate.py
  netsim/modules/routing.yml
  tests/coverage/errors/attr-invalid-with.log
  tests/coverage/errors/attr-invalid-with.yml
  tests/coverage/errors/attr-valid-with.log
  tests/coverage/errors/attr-valid-with.yml
  tests/run-coverage-tests.sh
Due: yamllint, ci_tests
