Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Integration test: EVPN in a dual-stack network (#2812)
  tests/integration/evpn/10-vxlan-rr.yml
Due: yamllint, ci_tests

Add "recent" keyword to create-reports
  _reports/__init__.py
  _reports/parse.py
  _reports/recent.py
  create-reports.py
Due: ci_tests

Fix: SRSIM config deployment crashed with empty update element
  netsim/ansible/tasks/deploy-config/sros.yml
Due: yamllint, ci_tests

Fix: SRSIM config deployment crashed with empty update element (#2815)
  netsim/ansible/tasks/deploy-config/sros.yml
Due: yamllint, ci_tests

Fix: Enable EVPN only on IPv4 or RFC 8950 BGP sessions
  netsim/ansible/templates/bgp/srlinux.macro.j2
  netsim/ansible/templates/bgp/sros.gnmi.macro.j2
  netsim/ansible/templates/evpn/frr.evpn-config.j2
  netsim/ansible/templates/evpn/sros.j2
  netsim/ansible/templates/evpn/vjunos-switch.j2
  netsim/ansible/templates/evpn/vyos.j2
  netsim/modules/evpn.py
  tests/topology/expected/evpn-vxlan.yml
  tests/topology/input/evpn-vxlan.yml
Due: yamllint, ci_tests

EOS: VXLAN over IPv6
  netsim/ansible/templates/vxlan/eos.j2
  netsim/devices/eos.yml
  netsim/modules/vxlan.py
Due: yamllint, ci_tests

EOS VXLAN tests for #2816
  _html/coverage.vxlan.html
  _html/cumulus-libvirt-vxlan.html
  _html/cumulus_nvue-libvirt-vxlan.html
  _html/eos-clab-vxlan.html
  _html/eos-clab.html
  _html/eos.html
  _html/release-coverage.html
  cumulus/libvirt/vxlan/results.yaml
  cumulus_nvue/libvirt/vxlan/results.yaml
  eos/clab/vxlan/01-vxlan-bridging.yml-snapshot.yml
  eos/clab/vxlan/01-vxlan-bridging.yml-up.log
  eos/clab/vxlan/01-vxlan-bridging.yml-validate.log
  eos/clab/vxlan/02-vxlan-bridging-multinode.yml-initial.log
  eos/clab/vxlan/02-vxlan-bridging-multinode.yml-snapshot.yml
  eos/clab/vxlan/02-vxlan-bridging-multinode.yml-up.log
  eos/clab/vxlan/02-vxlan-bridging-multinode.yml-validate.log
  eos/clab/vxlan/03-vxlan-irb.yml-initial.log
  eos/clab/vxlan/03-vxlan-irb.yml-up.log
  eos/clab/vxlan/03-vxlan-irb.yml-validate.log
  eos/clab/vxlan/04-vxlan-irb-ospf.yml-initial.log
  eos/clab/vxlan/04-vxlan-irb-ospf.yml-snapshot.yml
  eos/clab/vxlan/04-vxlan-irb-ospf.yml-up.log
  eos/clab/vxlan/04-vxlan-irb-ospf.yml-validate.log
  eos/clab/vxlan/05-vxlan-router-stick.yml-initial.log
  eos/clab/vxlan/05-vxlan-router-stick.yml-snapshot.yml
  eos/clab/vxlan/07-vxlan-bridging-v6only.yml-create.log
  eos/clab/vxlan/07-vxlan-bridging-v6only.yml-initial.log
  eos/clab/vxlan/07-vxlan-bridging-v6only.yml-snapshot.yml
  eos/clab/vxlan/07-vxlan-bridging-v6only.yml-up.log
  eos/clab/vxlan/07-vxlan-bridging-v6only.yml-validate.log
  eos/clab/vxlan/08-vxlan-alt-vtep.yml-initial.log
  eos/clab/vxlan/08-vxlan-alt-vtep.yml-snapshot.yml
  eos/clab/vxlan/08-vxlan-alt-vtep.yml-up.log
  eos/clab/vxlan/08-vxlan-alt-vtep.yml-validate.log
  eos/clab/vxlan/cleanup-down.log
  eos/clab/vxlan/results.yaml
  index.html
  map-tests.yml
Due: yamllint, ci_tests

EOS: VXLAN over IPv6 (#2816)
  netsim/ansible/templates/vxlan/eos.j2
  netsim/devices/eos.yml
  netsim/modules/vxlan.py
Due: yamllint, ci_tests

Doc fix: forgot to update the VXLAN-over-IPv6 EOS entry
  docs/module/vxlan.md
Due: none

[B] Cat8000v: use the new bridge-domain config model
  netsim/ansible/templates/vlan/cat8000v.j2
Due: none

Release notes
  docs/release/25.x.md
Due: none

Fix: Use generic readiness check for IOS/XR container
  netsim/ansible/tasks/readiness-check/iosxr-clab.yml
  netsim/devices/iosxr.yml
Due: yamllint, ci_tests

Fix: Set IPv6 RA interval to 5 seconds on IOS XR
  netsim/ansible/templates/initial/iosxr.j2
Due: none

Int: Use symbolic wait times in access/IRB VLAN integration tests
  tests/integration/vlan/01-vlan-bridge-single.yml
  tests/integration/vlan/02-vlan-bridge-multiple.yml
  tests/integration/vlan/21-vlan-irb-single.yml
  tests/integration/vlan/22-vlan-irb-multiple.yml
  tests/integration/vlan/23-vlan-mixed-multiple.yml
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

add tools/ to MANIFEST.in
  MANIFEST.in
  setup.py
Due: ci_tests

Fix: add tools/ to package MANIFEST.in (#2819)
  MANIFEST.in
  setup.py
Due: ci_tests

Fix: Stop 'netlab initial' on first error during integration tests
  tests/integration/device-module-test
Due: none

Updated comments based on review by @jbemmel
  netsim/ansible/templates/bgp/sros.gnmi.macro.j2
  netsim/ansible/templates/evpn/sros.j2
Due: none

Fix: Enable EVPN only on IPv4 or RFC 8950 BGP sessions (#2813)
  netsim/ansible/templates/bgp/srlinux.macro.j2
  netsim/ansible/templates/bgp/sros.gnmi.macro.j2
  netsim/ansible/templates/evpn/frr.evpn-config.j2
  netsim/ansible/templates/evpn/sros.j2
  netsim/ansible/templates/evpn/vjunos-switch.j2
  netsim/ansible/templates/evpn/vyos.j2
  netsim/modules/evpn.py
  tests/topology/expected/evpn-vxlan.yml
  tests/topology/input/evpn-vxlan.yml
Due: yamllint, ci_tests

Int: Use symbolic wait times in complex integration tests
  tests/integration/vlan/31-vlan-bridge-trunk.yml
  tests/integration/vlan/32-vlan-bridge-trunk-router.yml
  tests/integration/vlan/33-vlan-irb-trunk.yml
  tests/integration/vlan/41-vlan-bridge-native.yml
  tests/integration/vlan/42-vlan-irb-native.yml
  tests/integration/vlan/51-vlan-routed-trunk.yml
  tests/integration/vlan/52-vlan-vrf-lite.yml
  tests/integration/vlan/61-vlan-routed-native.yml
  tests/integration/vlan/62-vlan-mixed-trunk.yml
  tests/integration/vlan/63-vlan-mixed-native.yml
  tests/integration/vlan/70-vlan-1-trunk.yml
  tests/integration/wait_times.yml
Due: yamllint, ci_tests

VLAN support on Cisco 8000v (IOS/XR)
  netsim/ansible/templates/initial/iosxr.j2
  netsim/ansible/templates/vlan/cisco8000v.j2
  netsim/devices/cisco8000v.py
  netsim/devices/cisco8000v.yml
Due: yamllint, ci_tests

Documentation: VLANs on Cisco 8000v
  docs/module/vlan.md
  docs/platforms.md
Due: none

VLAN support on Cisco 8000v (IOS/XR) (#2818)
  docs/module/vlan.md
  docs/platforms.md
  netsim/ansible/templates/initial/iosxr.j2
  netsim/ansible/templates/vlan/cisco8000v.j2
  netsim/devices/cisco8000v.py
  netsim/devices/cisco8000v.yml
Due: yamllint, ci_tests

Fix device descriptions for Catalyst 8000v and Cisco 8000v
  netsim/devices/cat8000v.yml
  netsim/devices/cisco8000v.yml
Due: yamllint, ci_tests

Release 25.11.01 (two bug fixes)
  MANIFEST.in
  README.md
  docs/release.md
  docs/release/25.11.md
  legacy/setup.py
  netsim/__init__.py
  netsim/ansible/tasks/deploy-config/sros.yml
  setup.py
Due: yamllint, ci_tests

IOS/XR: OSPFv2/v3 default route
  docs/module/ospf.md
  netsim/ansible/templates/ospf/iosxr.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Cisco 8000v OSPF default route tests for #2823
  _html/cat8000v.html
  _html/cisco8000v-clab-ospf-ospfv2.html
  _html/cisco8000v-clab-ospf-ospfv3.html
  _html/cisco8000v-clab-ospf.html
  _html/cisco8000v-clab.html
  _html/cisco8000v.html
  _html/coverage.ospfv2.html
  _html/coverage.ospfv3.html
  _html/release-coverage.html
  cisco8000v/clab/ospf/ospfv2/20-default.yml-create.log
  cisco8000v/clab/ospf/ospfv2/20-default.yml-initial.log
  cisco8000v/clab/ospf/ospfv2/20-default.yml-snapshot.yml
  cisco8000v/clab/ospf/ospfv2/20-default.yml-up.log
  cisco8000v/clab/ospf/ospfv2/20-default.yml-validate.log
  cisco8000v/clab/ospf/ospfv2/cleanup-down.log
  cisco8000v/clab/ospf/ospfv2/results.yaml
  cisco8000v/clab/ospf/ospfv3/20-default.yml-create.log
  cisco8000v/clab/ospf/ospfv3/20-default.yml-initial.log
  cisco8000v/clab/ospf/ospfv3/20-default.yml-snapshot.yml
  cisco8000v/clab/ospf/ospfv3/20-default.yml-up.log
  cisco8000v/clab/ospf/ospfv3/20-default.yml-validate.log
  cisco8000v/clab/ospf/ospfv3/cleanup-down.log
  cisco8000v/clab/ospf/ospfv3/results.yaml
  index.html
Due: yamllint, ci_tests

IOS/XR: OSPFv2/v3 default route (#2823)
  docs/module/ospf.md
  netsim/ansible/templates/ospf/iosxr.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

IOS/XR: Static routes
  docs/module/routing.md
  netsim/ansible/templates/routing/iosxr.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Cisco 8000v static routing tests for #2825
  _html/cisco8000v-clab-routing.html
  _html/cisco8000v-clab.html
  _html/cisco8000v.html
  _html/coverage.r_static.html
  _html/release-coverage.html
  cisco8000v/clab/routing/01-locpref.yml-create.log
  cisco8000v/clab/routing/03-med-out.yml-create.log
  cisco8000v/clab/routing/05-prepend-out.yml-create.log
  cisco8000v/clab/routing/06-weight.yml-create.log
  cisco8000v/clab/routing/07-community.yml-create.log
  cisco8000v/clab/routing/07a-community-append.yml-create.log
  cisco8000v/clab/routing/07b-community-delete.yml-create.log
  cisco8000v/clab/routing/07c-community-delete-list.yml-create.log
  cisco8000v/clab/routing/08-community-large.yml-create.log
  cisco8000v/clab/routing/10-match-prefix.yml-create.log
  cisco8000v/clab/routing/11-match-aspath.yml-create.log
  cisco8000v/clab/routing/12-match-community.yml-create.log
  cisco8000v/clab/routing/20-static.yml-create.log
  cisco8000v/clab/routing/20-static.yml-initial.log
  cisco8000v/clab/routing/20-static.yml-snapshot.yml
  cisco8000v/clab/routing/20-static.yml-up.log
  cisco8000v/clab/routing/20-static.yml-validate.log
  cisco8000v/clab/routing/21-static-vrf.yml-create.log
  cisco8000v/clab/routing/22-static-inter-vrf.yml-create.log
  cisco8000v/clab/routing/23-static-indirect.yml-create.log
  cisco8000v/clab/routing/23-static-indirect.yml-initial.log
  cisco8000v/clab/routing/23-static-indirect.yml-snapshot.yml
  cisco8000v/clab/routing/23-static-indirect.yml-up.log
  cisco8000v/clab/routing/23-static-indirect.yml-validate.log
  cisco8000v/clab/routing/24-static-indirect-inter-vrf.yml-create.log
  cisco8000v/clab/routing/25-static-discard.yml-create.log
  cisco8000v/clab/routing/25-static-discard.yml-initial.log
  cisco8000v/clab/routing/25-static-discard.yml-snapshot.yml
  cisco8000v/clab/routing/25-static-discard.yml-up.log
  cisco8000v/clab/routing/25-static-discard.yml-validate.log
  cisco8000v/clab/routing/cleanup-down.log
  cisco8000v/clab/routing/results.yaml
  index.html
Due: yamllint, ci_tests

IOS/XR: Static routes (#2825)
  docs/module/routing.md
  netsim/ansible/templates/routing/iosxr.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

IOS/XR: Route import into BGP, IS-IS, and OSPFv2/v3
  docs/module/bgp.md
  docs/module/isis.md
  docs/module/ospf.md
  netsim/ansible/templates/bgp/iosxr.j2
  netsim/ansible/templates/isis/iosxr.j2
  netsim/ansible/templates/ospf/iosxr.j2
  netsim/ansible/templates/routing/_redistribute.iosxr.j2
  netsim/devices/xr.yml
Due: yamllint, ci_tests

Config syntax tweaks
  netsim/ansible/templates/bgp/iosxr.j2
  netsim/ansible/templates/isis/iosxr.j2
  netsim/ansible/templates/routing/_redistribute.iosxr.j2
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
