Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Add '_expect_fail' parameter to validation tests (#3578)
  netsim/cli/validate/plugin.py
  netsim/cli/validate/report.py
  netsim/cli/validate/tests.py
  tests/platform-integration/validate/00-expect-logic.yml
  tests/platform-integration/validate/topology-defaults.yml
Due: yamllint, ci_tests

Fix: Use overall packet length in ping validation plugins
  netsim/validate/eos.py
  netsim/validate/linux.py
  tests/platform-integration/validate/01-ping.yml
Due: yamllint, ci_tests

Fixing Copilot-identified issues
  netsim/validate/eos.py
  netsim/validate/linux.py
  tests/platform-integration/validate/01-ping.yml
Due: yamllint, ci_tests

Ping platform integration test for #3579
  _html/platform-validate.html
  _html/platform.html
  index.html
  platform/validate/01-ping.yml-create.log
  platform/validate/01-ping.yml-initial.log
  platform/validate/01-ping.yml-up.log
  platform/validate/01-ping.yml-validate.log
  platform/validate/cleanup-down.log
  platform/validate/results.yaml
Due: yamllint, ci_tests

Fix: Use overall packet length in ping validation plugins (#3579)
  netsim/validate/eos.py
  netsim/validate/linux.py
  tests/platform-integration/validate/01-ping.yml
Due: yamllint, ci_tests

Fix bgp_neighbor validation plugin implementations
  netsim/validate/bgp/eos.py
  netsim/validate/bgp/frr.py
  tests/platform-integration/validate/10-bgp-session.yml
  tests/platform-integration/validate/topology-defaults.yml
Due: yamllint, ci_tests

Fixing typos
  netsim/validate/bgp/frr.py
  tests/platform-integration/validate/10-bgp-session.yml
Due: yamllint, ci_tests

Fix bgp_neighbor validation plugin implementations (#3580)
  netsim/validate/bgp/eos.py
  netsim/validate/bgp/frr.py
  tests/platform-integration/validate/10-bgp-session.yml
  tests/platform-integration/validate/topology-defaults.yml
Due: yamllint, ci_tests

Revert the bgp.session BFD test to the original state
  tests/integration/bgp.session/13-bfd.yml
Due: yamllint, ci_tests

Fixes...
  netsim/validate/bgp/eos.py
  netsim/validate/bgp/frr.py
  tests/platform-integration/validate/11-bgp-neighbor-details.yml
Due: yamllint, ci_tests

Testing bgp-neighbor-details plugin
  _html/platform-validate.html
  _html/platform.html
  index.html
  platform/validate/11-bgp-neighbor-details.yml-create.log
  platform/validate/11-bgp-neighbor-details.yml-initial.log
  platform/validate/11-bgp-neighbor-details.yml-up.log
  platform/validate/11-bgp-neighbor-details.yml-validate.log
  platform/validate/cleanup-down.log
  platform/validate/results.yaml
Due: yamllint, ci_tests

Use variables from device yaml for OpenBSD
  netsim/templates/provider/libvirt/openbsd-domain.j2
Due: none

Fix integration test, deal with 'no BFD data' situation
  netsim/validate/bgp/eos.py
  netsim/validate/bgp/frr.py
  tests/platform-integration/validate/11-bgp-neighbor-details.yml
Due: yamllint, ci_tests

Add BFD checks to bgp_neighbor_details validation plugin (#3534)
  netsim/validate/bgp/eos.py
  netsim/validate/bgp/frr.py
  tests/platform-integration/validate/11-bgp-neighbor-details.yml
Due: yamllint, ci_tests

Rename the 'bgp_neighbor' plugin integration test to match plugin name
  tests/platform-integration/validate/10-bgp-neighbor.yml
Due: yamllint, ci_tests

Testing bgp-neighbor plugin
  _html/platform-validate.html
  _html/platform.html
  index.html
  platform/validate/10-bgp-neighbor.yml-create.log
  platform/validate/10-bgp-neighbor.yml-initial.log
  platform/validate/10-bgp-neighbor.yml-up.log
  platform/validate/10-bgp-neighbor.yml-validate.log
  platform/validate/11-bgp-neighbor-details.yml-initial.log
  platform/validate/11-bgp-neighbor-details.yml-validate.log
  platform/validate/cleanup-down.log
  platform/validate/results.yaml
Due: yamllint, ci_tests

Move FRR GRE tunnel netdev setup into plugin initial templates.
  netsim/ansible/templates/initial/frr.j2
  netsim/extra/tunnel/gre/frr.initial.j2
  netsim/extra/tunnel/gre/frr.j2
Due: none

VyOS: reflect new directory structure for GRE
  netsim/ansible/templates/initial/vyos.j2
Due: none

Fix: Recognize a.b or a/b in included VyOS dataplane templates
  netsim/ansible/templates/initial/vyos.j2
Due: none

OpenBSD initial configuration test for #3583
  _html/openbsd-libvirt-initial.html
  openbsd/libvirt/initial/01-interfaces.yml-create.log
  openbsd/libvirt/initial/01-interfaces.yml-initial.log
  openbsd/libvirt/initial/01-interfaces.yml-up.log
  openbsd/libvirt/initial/cleanup-down.log
  openbsd/libvirt/initial/results.yaml
Due: yamllint, ci_tests

Use node/group variables for OpenBSD username/password (#3583)
  netsim/templates/provider/libvirt/openbsd-domain.j2
Due: none

Fix: Recognize a.b or a/b in included VyOS dataplane templates (#3587)
  netsim/ansible/templates/initial/vyos.j2
Due: none

FRR: Unify Linux interface sysctl settings
  netsim/ansible/templates/initial/frr.j2
  netsim/ansible/templates/initial/linux/intf-sysctl.j2
  netsim/ansible/templates/vlan/frr.j2
  netsim/defaults/paths.yml
  netsim/extra/tunnel/gre/frr.j2
  netsim/utils/templates.py
Due: yamllint, ci_tests

Almost there...
  netsim/ansible/templates/initial/linux/intf-sysctl.j2
  netsim/extra/tunnel/gre/frr.j2
  netsim/utils/templates.py
Due: ci_tests

Final fix...
  netsim/ansible/templates/vlan/frr.j2
Due: none

Fix validation of non-v4/v6 BGP AF activation
  netsim/validate/bgp/eos.py
  netsim/validate/bgp/frr.py
  tests/platform-integration/validate/10-bgp-neighbor.yml
Due: yamllint, ci_tests

Add multi-topology file merge support
  netsim/cli/__init__.py
  netsim/cli/create.py
  netsim/cli/read.py
  netsim/utils/read.py
  tests/integration/device-module-test
  tests/integration/multi-topology/overlay.yml
  tests/integration/multi-topology/underlay.yml
  tests/test_multi_topology.py
  tests/topology/input/multi-topology-overlay.yml
  tests/topology/input/multi-topology-underlay.yml
Due: yamllint, ci_tests

Fix: Download all topology URLs in multi-file create
  netsim/cli/create.py
Due: ci_tests

Remove redundant multi-topology transformation test fixtures
  tests/test_multi_topology.py
  tests/topology/input/multi-topology-overlay.yml
  tests/topology/input/multi-topology-underlay.yml
Due: yamllint, ci_tests

Refactor multi-topology merge type handling
  netsim/utils/read.py
Due: ci_tests

Revert device-module-test multi-topology runner changes
  tests/integration/device-module-test
Due: none

Update working config for OpenBSD VLAN saga
  netsim/ansible/templates/initial/openbsd-ifconfig.j2
  netsim/ansible/templates/initial/openbsd.j2
  netsim/ansible/templates/vlan/openbsd.j2
  netsim/devices/openbsd.yml
Due: yamllint, ci_tests

Fix validation of non-v4/v6 BGP AF activation (#3591)
  netsim/validate/bgp/eos.py
  netsim/validate/bgp/frr.py
  tests/platform-integration/validate/10-bgp-neighbor.yml
Due: yamllint, ci_tests

There's always one more thing... ¯\_(ツ)_/¯
  netsim/ansible/templates/initial/frr.j2
  netsim/ansible/templates/vlan/frr.j2
  netsim/extra/tunnel/gre/frr.j2
Due: none

FRR: Unify Linux interface sysctl settings (#3589)
  netsim/ansible/templates/initial/frr.j2
  netsim/ansible/templates/initial/linux/intf-sysctl.j2
  netsim/ansible/templates/vlan/frr.j2
  netsim/defaults/paths.yml
  netsim/extra/tunnel/gre/frr.j2
  netsim/utils/templates.py
Due: yamllint, ci_tests

Fix when deciding to bring up interfaces
  netsim/ansible/templates/initial/openbsd-ifconfig.j2
  netsim/ansible/templates/vlan/openbsd.j2
Due: none

Drop redundant Jinja2 defaults for WireGuard mtu and af
  netsim/extra/tunnel.wireguard/frr.j2
Due: none

Trim WireGuard tunnel source comment
  netsim/extra/tunnel.wireguard/plugin.py
Due: ci_tests
