Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Updated caveats
  _html/coverage.evpn_vxlan.html
  _html/vptx-libvirt-evpn.html
  _html/vptx-libvirt.html
  _html/vptx.html
  _html/vyos-clab-evpn.html
  _html/vyos-clab.html
  _html/vyos.html
  index.html
  vptx/libvirt/_caveats.yml
  vyos/clab/_caveats.yml
Due: yamllint, ci_tests

Updated release notes
  docs/platforms.md
  docs/release.md
  docs/release/26.04.md
Due: none

Release 26.04
  README.md
  docs/release/26.04.md
  legacy/setup.py
  netsim/__init__.py
Due: ci_tests

Proof-of-concept: Arista vEOS in vrnetlab container
  tests/integration/bgp.session/09-tcp-ao.yml
Due: yamllint, ci_tests

FortiOS: Allow any policy
  netsim/ansible/templates/initial/fortios.j2
Due: none

Add mutex locking to multilab up/down operations
  docs/plugins/multilab.md
  netsim/extra/multilab/__init__.py
Due: ci_tests

FortiOS: rename default policy and streamline conditionals (feedback #3324)
  netsim/ansible/templates/initial/fortios.j2
Due: none

Documentation
  docs/caveats.md
Due: none

Fix: resolve lock file path
  netsim/extra/multilab/__init__.py
Due: ci_tests

Fix: Print core provider commands executed by "netlab down"
  netsim/cli/external_commands.py
Due: ci_tests

Fixing a nit
  netsim/cli/external_commands.py
Due: ci_tests

Fix: Implement per-transport CP-only EVPN functionality
  netsim/devices/xr.yml
  netsim/modules/evpn.py
Due: yamllint, ci_tests

IOS XR EVPN RR test for #3328
  _html/coverage.evpn_design.html
  _html/iosxr-clab-evpn.html
  _html/iosxr-clab.html
  _html/iosxr.html
  _html/release-coverage.html
  index.html
  iosxr/clab/evpn/10-vxlan-rr.yml-create.log
  iosxr/clab/evpn/10-vxlan-rr.yml-initial.log
  iosxr/clab/evpn/10-vxlan-rr.yml-up.log
  iosxr/clab/evpn/10-vxlan-rr.yml-validate.log
  iosxr/clab/evpn/cleanup-down.log
  iosxr/clab/evpn/results.yaml
Due: yamllint, ci_tests

Fix: Check the supported BGP neighbor type when enabling EVPN AF
  netsim/devices/xr.yml
  netsim/modules/evpn.py
Due: yamllint, ci_tests

Fixing a hypothetical nit
  tests/integration/evpn/evpn-transport/plugin.py
Due: ci_tests

Fix a grammar error in the comment
  tests/integration/evpn/evpn-transport/plugin.py
Due: ci_tests

EOS, IOSXR EVPN/VXLAN topologies tests for #3329
  _html/eos-clab-evpn.html
  _html/iosxr-clab-evpn.html
  _html/release-coverage.html
  eos/clab/evpn/10-vxlan-rr.yml-initial.log
  eos/clab/evpn/10-vxlan-rr.yml-up.log
  eos/clab/evpn/10-vxlan-rr.yml-validate.log
  eos/clab/evpn/11-vxlan-ebgp.yml-initial.log
  eos/clab/evpn/11-vxlan-ebgp.yml-up.log
  eos/clab/evpn/11-vxlan-ebgp.yml-validate.log
  eos/clab/evpn/12-vxlan-ibgp-ebgp.yml-initial.log
  eos/clab/evpn/12-vxlan-ibgp-ebgp.yml-up.log
  eos/clab/evpn/12-vxlan-ibgp-ebgp.yml-validate.log
  eos/clab/evpn/13-vxlan-ebgp-allowas.yml-initial.log
  eos/clab/evpn/13-vxlan-ebgp-allowas.yml-up.log
  eos/clab/evpn/13-vxlan-ebgp-allowas.yml-validate.log
  eos/clab/evpn/14-vxlan-ebgp-ebgp.yml-initial.log
  eos/clab/evpn/14-vxlan-ebgp-ebgp.yml-up.log
  eos/clab/evpn/14-vxlan-ebgp-ebgp.yml-validate.log
  eos/clab/evpn/15-vxlan-ebgp-unnumbered.yml-initial.log
  eos/clab/evpn/15-vxlan-ebgp-unnumbered.yml-up.log
  eos/clab/evpn/15-vxlan-ebgp-unnumbered.yml-validate.log
  eos/clab/evpn/cleanup-down.log
  eos/clab/evpn/results.yaml
  iosxr/clab/evpn/10-vxlan-rr.yml-up.log
  iosxr/clab/evpn/10-vxlan-rr.yml-validate.log
  iosxr/clab/evpn/11-vxlan-ebgp.yml-create.log
  iosxr/clab/evpn/cleanup-down.log
  iosxr/clab/evpn/results.yaml
Due: yamllint, ci_tests

Make 'graph.linkorder' and 'graph.rank' easier to use
  docs/outputs/graph.md
  netsim/outputs/_graph.py
  netsim/outputs/graph.yml
  tests/platform-integration/graph/01-topo.yml
Due: yamllint, ci_tests

Fix: use the same exclude list in topo- and isis graphs
  netsim/outputs/_graph.py
Due: ci_tests

Fix bugs in release-changing script
  set-release.py
Due: ci_tests

Split configuration normalization from initial config deployment
  docs/netlab/initial.md
  netsim/ansible/initial-config.ansible
  netsim/ansible/normalize-config.ansible
  netsim/ansible/tasks/initial-config.yml
  netsim/cli/initial/__init__.py
  netsim/cli/initial/deploy.py
  netsim/cli/initial/ready.py
  netsim/cli/initial/utils.py
  netsim/devices/iosvl2.yml
  netsim/outputs/ansible.py
Due: yamllint, ci_tests

Fixing Copilot-identified logic errors and nits
  docs/netlab/initial.md
  netsim/ansible/tasks/initial-config.yml
  netsim/cli/initial/deploy.py
  netsim/cli/initial/ready.py
Due: yamllint, ci_tests

Fix: Mismatch between plugin cfg name and its internal name
  netsim/providers/clab.py
  tests/platform-integration/config/05-skip-config.yml
Due: yamllint, ci_tests

FortiOS: update logic in the initial playbook
  netsim/ansible/tasks/fortios/initial.yml
  netsim/ansible/templates/initial/fortios.j2
Due: yamllint, ci_tests

ForitOS: Shift indexes of ospf networks by 1 to accommodate loopack
  netsim/ansible/templates/ospf/fortios.j2
Due: none

FortiOS: switch to api-user key authentication
  netsim/ansible/tasks/fortios/initial.yml
  netsim/devices/fortios.yml
Due: yamllint, ci_tests

FortiOS: refactor changes to initial template
  netsim/ansible/templates/initial/fortios.j2
Due: none

Feedback for #3336
  netsim/ansible/tasks/fortios/initial.yml
Due: yamllint, ci_tests

EXOS normalise interfaces
  netsim/ansible/templates/initial/exos.j2
  netsim/ansible/templates/normalize/exos.j2
  netsim/devices/exos.yml
Due: yamllint, ci_tests

update identation
  netsim/ansible/templates/initial/exos.j2
Due: none

Documentation
  docs/caveats.md
  docs/release.md
  docs/release/26.05.md
Due: none

use loop.index instead of int.ifindex
  netsim/ansible/templates/ospf/fortios.j2
Due: none

EOS configuration normalization test
  _html/eos-clab-initial.html
  _html/eos-libvirt-initial.html
  eos/clab/initial/cleanup-down.log
  eos/clab/initial/results.yaml
  eos/clab/initial/x-90-normalize.yml-create.log
  eos/clab/initial/x-90-normalize.yml-initial.log
  eos/clab/initial/x-90-normalize.yml-up.log
  eos/clab/initial/x-90-normalize.yml-validate.log
  eos/libvirt/initial/cleanup-down.log
  eos/libvirt/initial/results.yaml
  eos/libvirt/initial/x-90-normalize.yml-create.log
  eos/libvirt/initial/x-90-normalize.yml-initial.log
  eos/libvirt/initial/x-90-normalize.yml-up.log
  eos/libvirt/initial/x-90-normalize.yml-validate.log
  index.html
Due: yamllint, ci_tests

Remove ports from VLAN Default
  netsim/ansible/templates/normalize/exos.j2
Due: none

initial commit
  docs/caveats.md
  docs/platforms.md
  netsim/ansible/templates/initial/csrx.j2
  netsim/ansible/templates/routing/csrx.j2
  netsim/devices/csrx.py
  netsim/devices/csrx.yml
  netsim/templates/provider/clab/csrx/hosts.j2
  netsim/templates/provider/clab/csrx/netlab-config.j2
Due: yamllint, ci_tests

remove reference to Junos quirks
  netsim/devices/csrx.py
Due: ci_tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
