Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

CSRX_PORT_NUM csrx quirk
  netsim/devices/csrx.py
  netsim/devices/csrx.yml
Due: yamllint, ci_tests

docs
  docs/caveats.md
Due: none

docs typo
  docs/caveats.md
Due: none

appease ruff
  netsim/devices/csrx.py
Due: ci_tests

update
  docs/caveats.md
  docs/platforms.md
  netsim/ansible/templates/routing/csrx.j2
  netsim/devices/csrx.py
  netsim/devices/csrx.yml
Due: yamllint, ci_tests

common junos/crpd/csrx j2 bits
  netsim/ansible/templates/initial/crpd.j2
  netsim/ansible/templates/initial/csrx.j2
  netsim/ansible/templates/initial/junos.j2
  netsim/ansible/templates/initial/junos/container_interfaces.j2
  netsim/ansible/templates/initial/junos/hosts.j2
  netsim/ansible/templates/initial/junos/lldp.j2
Due: none

Rerun failed FRR tests after fixing "netlab config"
  _html/coverage.gateway.html
  _html/coverage.ospfv2.html
  _html/coverage.ospfv3.html
  _html/frr-clab-gateway.html
  _html/frr-clab-ospf-ospfv2.html
  _html/frr-clab-ospf-ospfv3.html
  _html/frr-clab-ospf.html
  _html/frr-clab.html
  _html/frr.html
  frr/clab/gateway/02-vrrp.yml-initial.log
  frr/clab/gateway/02-vrrp.yml-up.log
  frr/clab/gateway/02-vrrp.yml-validate.log
  frr/clab/gateway/03-vrrp-vlan.yml-up.log
  frr/clab/gateway/03-vrrp-vlan.yml-validate.log
  frr/clab/gateway/cleanup-down.log
  frr/clab/gateway/results.yaml
  frr/clab/ospf/ospfv2/20-default.yml-initial.log
  frr/clab/ospf/ospfv2/20-default.yml-up.log
  frr/clab/ospf/ospfv2/20-default.yml-validate.log
  frr/clab/ospf/ospfv2/22-default-vrf.yml-initial.log
  frr/clab/ospf/ospfv2/22-default-vrf.yml-up.log
  frr/clab/ospf/ospfv2/22-default-vrf.yml-validate.log
  frr/clab/ospf/ospfv2/cleanup-down.log
  frr/clab/ospf/ospfv2/results.yaml
  frr/clab/ospf/ospfv3/20-default.yml-up.log
  frr/clab/ospf/ospfv3/20-default.yml-validate.log
  frr/clab/ospf/ospfv3/22-default-vrf.yml-initial.log
  frr/clab/ospf/ospfv3/22-default-vrf.yml-up.log
  frr/clab/ospf/ospfv3/22-default-vrf.yml-validate.log
  frr/clab/ospf/ospfv3/cleanup-down.log
  frr/clab/ospf/ospfv3/results.yaml
  index.html
Due: yamllint, ci_tests

Fix: Do a device readiness check before reloading config
  netsim/cli/config.py
  netsim/cli/initial/ready.py
Due: ci_tests

Fix Copilot-identified errors
  netsim/cli/config.py
  netsim/cli/initial/ready.py
Due: ci_tests

Integration test for 'reload configuration' functionality
  tests/integration/initial/10-reload.yml
Due: yamllint, ci_tests

Fixing Copilot-identified nits
  tests/integration/initial/10-reload.yml
Due: yamllint, ci_tests

Fix: Use common 'normalize' step in 'netlab config --reload'
  netsim/ansible/reload-config.ansible
  netsim/ansible/tasks/initial-config.yml
  netsim/cli/config.py
  netsim/cli/initial/deploy.py
  netsim/cli/initial/utils.py
Due: yamllint, ci_tests

Sample "config reload" tests for #3349
  _html/eos-clab-initial.html
  _html/iol-clab-initial.html
  _html/ioll2-clab-initial.html
  _html/srlinux-clab-initial.html
  _html/vjunos-switch-clab-initial.html
  eos/clab/initial/10-reload.yml-initial.log
  eos/clab/initial/10-reload.yml-up.log
  eos/clab/initial/cleanup-down.log
  eos/clab/initial/results.yaml
  index.html
  iol/clab/initial/cleanup-down.log
  iol/clab/initial/results.yaml
  ioll2/clab/initial/10-reload.yml-create.log
  ioll2/clab/initial/10-reload.yml-initial.log
  ioll2/clab/initial/10-reload.yml-up.log
  ioll2/clab/initial/10-reload.yml-validate.log
  ioll2/clab/initial/cleanup-down.log
  ioll2/clab/initial/results.yaml
  srlinux/clab/initial/10-reload.yml-initial.log
  srlinux/clab/initial/10-reload.yml-up.log
  srlinux/clab/initial/10-reload.yml-validate.log
  srlinux/clab/initial/cleanup-down.log
  srlinux/clab/initial/results.yaml
  vjunos-switch/clab/initial/10-reload.yml-initial.log
  vjunos-switch/clab/initial/10-reload.yml-up.log
  vjunos-switch/clab/initial/cleanup-down.log
  vjunos-switch/clab/initial/results.yaml
Due: yamllint, ci_tests

Add "Config reload" test to feature coverage
  _html/arubacx-clab-initial.html
  _html/arubacx-libvirt-initial.html
  _html/bird-clab-initial.html
  _html/cat8000v-clab-initial.html
  _html/cat8000v-libvirt-initial.html
  _html/cisco8000v-clab-initial.html
  _html/coverage.initial.html
  _html/crpd-clab-initial.html
  _html/csr-clab-initial.html
  _html/csr-libvirt-initial.html
  _html/dellos10-clab-initial.html
  _html/dellos10-libvirt-initial.html
  _html/dnsmasq-clab-initial.html
  _html/eos-clab-initial.html
  _html/eos-libvirt-initial.html
  _html/frr-clab-initial.html
  _html/frr-libvirt-initial.html
  _html/iol-clab-initial.html
  _html/ioll2-clab-initial.html
  _html/iosv-clab-initial.html
  _html/iosv-libvirt-initial.html
  _html/iosvl2-libvirt-initial.html
  _html/iosxr-clab-initial.html
  _html/linux-clab-initial.html
  _html/linux-libvirt-initial.html
  _html/nxos-clab-initial.html
  _html/openbsd-libvirt-initial.html
  _html/release-coverage.html
  _html/srlinux-clab-initial.html
  _html/srsim-clab-initial.html
  _html/vjunos-router-clab-initial.html
  _html/vjunos-switch-clab-initial.html
  _html/vptx-clab-initial.html
  _html/vptx-libvirt-initial.html
  _html/vyos-clab-initial.html
  _html/vyos-libvirt-initial.html
  index.html
  map-tests.yml
Due: yamllint, ci_tests

IOS XR integration tests for 65e10af2d
  _html/cisco8000v-clab-initial.html
  _html/cisco8000v-clab.html
  _html/cisco8000v.html
  _html/coverage.initial.html
  _html/iosxr-clab-initial.html
  _html/iosxr-clab.html
  _html/iosxr.html
  cisco8000v/clab/initial/10-reload.yml-initial.log
  cisco8000v/clab/initial/10-reload.yml-up.log
  cisco8000v/clab/initial/10-reload.yml-validate.log
  cisco8000v/clab/initial/cleanup-down.log
  cisco8000v/clab/initial/results.yaml
  index.html
  iosxr/clab/initial/10-reload.yml-initial.log
  iosxr/clab/initial/10-reload.yml-up.log
  iosxr/clab/initial/10-reload.yml-validate.log
  iosxr/clab/initial/cleanup-down.log
  iosxr/clab/initial/results.yaml
Due: yamllint, ci_tests

cRPD integration tests for 692fd37bb
  _html/coverage.initial.html
  _html/crpd-clab-initial.html
  _html/crpd-clab.html
  _html/crpd.html
  _html/vjunos-switch-clab-initial.html
  crpd/clab/initial/10-reload.yml-initial.log
  crpd/clab/initial/10-reload.yml-up.log
  crpd/clab/initial/10-reload.yml-validate.log
  crpd/clab/initial/cleanup-down.log
  crpd/clab/initial/results.yaml
  index.html
  vjunos-switch/clab/initial/10-reload.yml-up.log
  vjunos-switch/clab/initial/cleanup-down.log
  vjunos-switch/clab/initial/results.yaml
Due: yamllint, ci_tests

Document the new feature flags and a potentially breaking change
  docs/dev/devices.md
  docs/release/26.05.md
Due: none

Fix: Make CI/CD tests work with Ruamel
  tests/create-transformation-test-case.py
  tests/test_transformation.py
  tests/utils.py
Due: ci_tests

Document where/when ruamel can be used in CI/CD testing
  docs/dev/tests.md
Due: none

Fix netlab down within the netlab restart command
  netsim/cli/restart.py
Due: ci_tests

Implement CLI hooks in netlab up/down commands
  netsim/cli/down.py
  netsim/cli/external_commands.py
  netsim/cli/up.py
  tests/platform-integration/hooks/01-up-hooks.yml
Due: yamllint, ci_tests

Fixing a typo
  tests/platform-integration/hooks/01-up-hooks.yml
Due: yamllint, ci_tests

Platform integration test for #3355
  _html/platform-hooks.html
  _html/platform.html
  index.html
  platform/hooks/01-up-hooks.yml-create.log
  platform/hooks/01-up-hooks.yml-initial.log
  platform/hooks/01-up-hooks.yml-up.log
  platform/hooks/01-up-hooks.yml-validate.log
  platform/hooks/cleanup-down.log
  platform/hooks/results.yaml
Due: yamllint, ci_tests

Fix: Remove sets from topology (subset) rendered into JSON
  netsim/outputs/yaml.py
Due: ci_tests

Rewrite: change sets into lists instead of dropping them
  netsim/outputs/yaml.py
Due: ci_tests

Tests: harden ruamel detection and gate fixture generators
  tests/conftest.py
  tests/create-error-tests.sh
  tests/create-transformation-test-case.py
  tests/test_transformation.py
  tests/utils.py
Due: ci_tests

Tests: harden ruamel detection and gate fixture generators (#3362)
  tests/conftest.py
  tests/create-error-tests.sh
  tests/create-transformation-test-case.py
  tests/test_transformation.py
  tests/utils.py
Due: ci_tests

Add missing type annotations
  tests/conftest.py
Due: ci_tests

Fix: Check OSPF AF when configuring passive interfaces on EOS
  netsim/ansible/templates/ospf/eos.ospfv2.j2
  netsim/ansible/templates/ospf/eos.ospfv3.j2
Due: none

EOS OSPFv3 tests for #3363
  _html/coverage.ospfv3.html
  _html/eos-clab-ospf-ospfv3.html
  _html/eos-clab-ospf.html
  _html/eos-clab.html
  _html/eos.html
  _html/release-coverage.html
  eos/clab/ospf/ospfv3/04-passive.yml-initial.log
  eos/clab/ospf/ospfv3/04-passive.yml-up.log
  eos/clab/ospf/ospfv3/04-passive.yml-validate.log
  eos/clab/ospf/ospfv3/08-dual-stack.yml-initial.log
  eos/clab/ospf/ospfv3/08-dual-stack.yml-up.log
  eos/clab/ospf/ospfv3/08-dual-stack.yml-validate.log
  eos/clab/ospf/ospfv3/cleanup-down.log
  eos/clab/ospf/ospfv3/results.yaml
  index.html
Due: yamllint, ci_tests

Fix: Generate partial initial config for ASAv config reload
  netsim/ansible/templates/initial/asa.j2
  netsim/devices/asav.yml
Due: yamllint, ci_tests
