Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

ci_tests:
  name: ci_tests
  stages:
  - pre-push
  description: This hook runs before push
  entry: tests/run-tests.sh ci
  language: script

Add FortiOS OSPF graceful restart
  docs/caveats.md
  docs/module/ospf.md
  netsim/ansible/templates/ospf/fortios.j2
  netsim/devices/fortios.py
  netsim/devices/fortios.yml
  tests/coverage/errors/fortios-ospf-gr-helper-only.log
  tests/coverage/errors/fortios-ospf-gr-helper-only.yml
  tests/coverage/errors/fortios-ospf-gr-restart-helper-off.log
  tests/coverage/errors/fortios-ospf-gr-restart-helper-off.yml
Due: yamllint, ci_tests

Refine FortiOS OSPF GR handling
  docs/caveats.md
  netsim/devices/fortios.py
  netsim/modules/ospf.yml
Due: yamllint, ci_tests

Fix: Reduce BIRD inter-VRF route leaking pipes (#3524)
  netsim/daemons/bird/vrf-daemon.j2
  tests/integration/vrf/35-vrf-asymmetric-leaking.yml
Due: yamllint, ci_tests

Make OSPFv3 validation helpers VRF aware (#3520)
  netsim/validate/ospf/frr.py
  tests/integration/vlan/52-vlan-vrf-lite.yml
Due: yamllint, ci_tests

Removing coverage tests
  tests/coverage/errors/fortios-ospf-gr-helper-only.log
  tests/coverage/errors/fortios-ospf-gr-helper-only.yml
  tests/coverage/errors/fortios-ospf-gr-restart-helper-off.log
  tests/coverage/errors/fortios-ospf-gr-restart-helper-off.yml
Due: yamllint, ci_tests

Add validation for EOS/FRR BFD check for OSPFv2/v3
  netsim/validate/ospf/eos.py
  netsim/validate/ospf/frr.py
  tests/integration/ospf/ospfv2/bfd.yml
  tests/integration/ospf/ospfv3/bfd.yml
Due: yamllint, ci_tests

Update BFD tests with received feedback
  netsim/validate/ospf/eos.py
  netsim/validate/ospf/frr.py
  tests/integration/ospf/ospfv2/bfd.yml
  tests/integration/ospf/ospfv3/bfd.yml
Due: yamllint, ci_tests

Fix lint issue
  netsim/validate/ospf/frr.py
  tests/integration/ospf/ospfv2/bfd.yml
  tests/integration/ospf/ospfv3/bfd.yml
Due: yamllint, ci_tests

FortiOS: OSPF graceful restart (#3529)
  docs/module/ospf.md
  netsim/ansible/templates/ospf/fortios.j2
  netsim/devices/fortios.py
  netsim/devices/fortios.yml
  netsim/modules/ospf.yml
Due: yamllint, ci_tests

Revert MPLS/VPN "optimization"
  netsim/ansible/templates/routing/srlinux/redistribute.j2
Due: none

SR Linux inter-VRF route leaking (#3531)
  netsim/ansible/templates/bgp/srlinux.j2
  netsim/ansible/templates/bgp/srlinux.macro.j2
  netsim/ansible/templates/routing/srlinux/redistribute.j2
  netsim/ansible/templates/vrf/srlinux.j2
  netsim/devices/srlinux.py
  tests/integration/vrf/srl-asymmetric-leaking-fails.yml
Due: yamllint, ci_tests

Add BFD checks for BGP to validation plugin FRR/EOS
  netsim/validate/bgp/eos.py
  netsim/validate/bgp/frr.py
  tests/integration/bgp.session/13-bfd.yml
Due: yamllint, ci_tests

Polished the code, finalized the integration tests
  netsim/validate/ospf/eos.py
  netsim/validate/ospf/frr.py
  tests/integration/ospf/ospfv2/42-bfd.yml
  tests/integration/ospf/ospfv2/bfd.yml
  tests/integration/ospf/ospfv3/42-bfd.yml
Due: yamllint, ci_tests

Add OSPFv2 BFD validation plugin for EOS/FRR (#3519)
  netsim/validate/ospf/eos.py
  netsim/validate/ospf/frr.py
  tests/integration/ospf/ospfv2/42-bfd.yml
  tests/integration/ospf/ospfv2/bfd.yml
  tests/integration/ospf/ospfv3/42-bfd.yml
  tests/integration/ospf/ospfv3/bfd.yml
Due: yamllint, ci_tests

Add static default routes when originating BGP default routes
  netsim/daemons/bird.yml
  netsim/daemons/bird/bgp.j2
  netsim/daemons/bird/bgp.macros.j2
  netsim/extra/bgp.session/plugin.py
  tests/coverage/expected/bgp-default.yml
  tests/coverage/input/bgp-default.yml
  tests/integration/bgp.session/04-default-originate.yml
Due: yamllint, ci_tests

Fix: Rewrite the creation of static route data
  netsim/extra/bgp.session/plugin.py
Due: ci_tests

BIRD BGP default route test for #3526
  _html/bird-clab-bgp.session.html
  _html/bird-clab.html
  _html/bird.html
  _html/coverage.bgp.session.html
  bird/clab/bgp.session/04-default-originate.yml-create.log
  bird/clab/bgp.session/04-default-originate.yml-initial.log
  bird/clab/bgp.session/04-default-originate.yml-up.log
  bird/clab/bgp.session/04-default-originate.yml-validate.log
  bird/clab/bgp.session/cleanup-down.log
  bird/clab/bgp.session/results.yaml
  index.html
Due: yamllint, ci_tests

Add static default routes when originating BGP default routes (#3527)
  netsim/daemons/bird.yml
  netsim/daemons/bird/bgp.j2
  netsim/daemons/bird/bgp.macros.j2
  netsim/extra/bgp.session/plugin.py
  tests/coverage/expected/bgp-default.yml
  tests/coverage/input/bgp-default.yml
  tests/integration/bgp.session/04-default-originate.yml
Due: yamllint, ci_tests

Add multi-line table style to documentation CSS
  docs/_static/css/custom.css
  docs/conf.py
Due: ci_tests

Multiserver plugin (#3421)
  docs/plugins.md
  docs/plugins/multiserver.md
  netsim/data/types.py
  netsim/extra/multiserver/defaults.yml
  netsim/extra/multiserver/plugin.py
  netsim/extra/multiserver/vxlan-setup.j2
  netsim/extra/multiserver/vxlan-teardown.j2
  netsim/templates/provider/clab/clab.j2
  tests/topology/expected/multiserver-auto.yml
  tests/topology/expected/multiserver-explicit.yml
  tests/topology/input/multiserver-auto.yml
  tests/topology/input/multiserver-explicit.yml
Due: yamllint, ci_tests

Doc: Wrap table cells in multiserver plugin documentation
  docs/plugins/multiserver.md
Due: none

Fix: Cleanup BIRD VRF config (part 1)
  netsim/daemons/bird/bgp.macros.j2
  netsim/daemons/bird/ospf.macros.j2
  netsim/daemons/bird/vrf-daemon.j2
  netsim/devices/bird.py
Due: ci_tests

Change comment-in-string into regular comment
  netsim/devices/bird.py
Due: ci_tests

Fix: Cleanup BIRD VRF config (part 1) (#3537)
  netsim/daemons/bird/bgp.macros.j2
  netsim/daemons/bird/ospf.macros.j2
  netsim/daemons/bird/vrf-daemon.j2
  netsim/devices/bird.py
Due: ci_tests

Rewrite the BIRD VRF static routing configuration
  netsim/daemons/bird/routing.j2
  netsim/daemons/bird/vrf-daemon.j2
  netsim/daemons/bird/vrf-route-leak.j2
  netsim/daemons/bird/vrf-table.j2
  netsim/daemons/vrf-static.j2
Due: none

Fix: Improve messages in inter-VRF static route integration test
  tests/integration/routing/22-static-inter-vrf.yml
Due: yamllint, ci_tests

Create inter-VRF routes only when the nexthop contains VRF information
  netsim/daemons/vrf-static.j2
Due: none

Fix: Move BIRD VRF static route template into BIRD directory
  netsim/daemons/bird/vrf-static.j2
Due: none

Repeated BIRD static route tests for #3538
  _html/bird-clab-routing.html
  bird/clab/routing/20-static.yml-up.log
  bird/clab/routing/20-static.yml-validate.log
  bird/clab/routing/21-static-vrf.yml-up.log
  bird/clab/routing/21-static-vrf.yml-validate.log
  bird/clab/routing/22-static-inter-vrf.yml-initial.log
  bird/clab/routing/22-static-inter-vrf.yml-up.log
  bird/clab/routing/22-static-inter-vrf.yml-validate.log
  bird/clab/routing/25-static-discard.yml-initial.log
  bird/clab/routing/25-static-discard.yml-up.log
  bird/clab/routing/cleanup-down.log
  bird/clab/routing/results.yaml
Due: yamllint, ci_tests

Test BGP teardown after BFD failure.
  tests/integration/bgp.session/13-bfd.yml
Due: yamllint, ci_tests

Rewrite the BIRD VRF static routing configuration (#3538)
  netsim/daemons/bird/routing.j2
  netsim/daemons/bird/vrf-daemon.j2
  netsim/daemons/bird/vrf-route-leak.j2
  netsim/daemons/bird/vrf-static.j2
  netsim/daemons/bird/vrf-table.j2
Due: none

Fix: DUT in indirect static route tests must be a router
  tests/integration/routing/23-static-indirect.yml
  tests/integration/routing/24-static-indirect-inter-vrf.yml
Due: yamllint, ci_tests

Implement indirect static routes on BIRD
  netsim/daemons/bird/routing.j2
  netsim/devices/bird.py
Due: ci_tests

BIRD static route tests for #3539
  _html/bird-clab-routing.html
  _html/bird-clab.html
  _html/bird.html
  _html/coverage.r_static.html
  bird/clab/routing/21-static-vrf.yml-up.log
  bird/clab/routing/21-static-vrf.yml-validate.log
  bird/clab/routing/22-static-inter-vrf.yml-initial.log
  bird/clab/routing/22-static-inter-vrf.yml-up.log
  bird/clab/routing/23-static-indirect.yml-create.log
  bird/clab/routing/23-static-indirect.yml-initial.log
  bird/clab/routing/23-static-indirect.yml-up.log
  bird/clab/routing/23-static-indirect.yml-validate.log
  bird/clab/routing/24-static-indirect-inter-vrf.yml-create.log
  bird/clab/routing/24-static-indirect-inter-vrf.yml-initial.log
  bird/clab/routing/24-static-indirect-inter-vrf.yml-up.log
  bird/clab/routing/24-static-indirect-inter-vrf.yml-validate.log
  bird/clab/routing/25-static-discard.yml-initial.log
  bird/clab/routing/25-static-discard.yml-up.log
  bird/clab/routing/cleanup-down.log
  bird/clab/routing/results.yaml
  index.html
Due: yamllint, ci_tests

Fix: Remove BIRD OSPF/BGP macros made obsolete by #3537
  netsim/daemons/bird/bgp.macros.j2
  netsim/daemons/bird/ospf.macros.j2
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ci_tests: any of: \.(yaml|yml)$, \.py$
