Repository ipspace/netlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ci_tests

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    name: ruff check
    description: This runs ruff check. If errors occur use ruff check --fix.
    entry: ruff
    args: [ check ]
    language: python
    types: [python]

- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [ file, yaml ]

  - id: ci_tests
    name: ci_tests
    stages: [ pre-push ]
    description: This hook runs before push
    entry: tests/run-tests.sh ci
    language: script
    types_or: [ yaml, python ]

Fix: Configure BGP RR clients in IOS VPNv4/VPNv6 address families
  netsim/ansible/templates/mpls/ios.mplsvpn.j2
Due: none

Fix: Adjust validation plugins to enable VRF prefix checks (#3132)
  netsim/validate/_common.py
  netsim/validate/bgp/eos.py
  netsim/validate/bgp/frr.py
  netsim/validate/ospf/eos.py
  netsim/validate/ospf/frr.py
Due: ci_tests

MPLS/VPN BGP RR fixes (IOS, FRR, VyOS)
  netsim/ansible/templates/mpls/frr.mplsvpn.j2
  netsim/ansible/templates/mpls/ios.mplsvpn.j2
  netsim/ansible/templates/mpls/vyos.mplsvpn.j2
  tests/integration/mpls/15-vpnv4-rr.yml
  tests/integration/mpls/25-vpnv6-rr.yml
Due: yamllint, ci_tests

OpenBSD needs a bit more time to be ready.
  netsim/devices/openbsd.yml
Due: yamllint, ci_tests

MPLS/VPN BGP RR fixes (IOS, FRR, VyOS) (#3133)
  netsim/ansible/templates/mpls/frr.mplsvpn.j2
  netsim/ansible/templates/mpls/ios.mplsvpn.j2
  netsim/ansible/templates/mpls/vyos.mplsvpn.j2
  tests/integration/mpls/15-vpnv4-rr.yml
  tests/integration/mpls/25-vpnv6-rr.yml
Due: yamllint, ci_tests

OpenBSD needs a bit more time to be ready. (#3134)
  netsim/devices/openbsd.yml
Due: yamllint, ci_tests

Fix: SR-MPLS has to be configured after OSPF or IS-IS
  netsim/modules/sr.yml
  tests/coverage/expected/module-reorder.yml
Due: yamllint, ci_tests

Junos cRPD support
  docs/module/bfd.md
  docs/module/bgp.md
  docs/module/gateway.md
  docs/module/isis.md
  docs/module/lag.md
  docs/module/mpls.md
  docs/module/ospf.md
  docs/module/sr-mpls.md
  docs/module/vrf.md
  docs/platforms.md
  netsim/ansible/templates/initial/crpd.j2
  netsim/ansible/templates/isis/crpd.j2
  netsim/ansible/templates/isis/junos.isis.j2
  netsim/ansible/templates/isis/junos.j2
  netsim/ansible/templates/isis/vsrx.j2
  netsim/ansible/templates/mpls/junos.ldp.j2
  netsim/ansible/templates/sr/junos.j2
  netsim/devices/crpd.py
  netsim/devices/crpd.yml
  netsim/templates/provider/clab/crpd/netlab-config.j2
  tests/integration/isis/topology-defaults.yml
  tests/integration/sr/topology-defaults.yml
Due: yamllint, ci_tests

Remove trailing whitespace
  netsim/ansible/templates/isis/junos.j2
Due: none

OpenBSD: Add BGP support
  docs/module/bgp.md
  docs/platforms.md
  docs/plugins/bgp.session.md
  netsim/ansible/templates/bgp/openbsd.j2
  netsim/devices/openbsd.yml
  netsim/extra/bgp.session/openbsd.j2
Due: yamllint, ci_tests

Known cRPD caveats
  _html/coverage.bgp.html
  _html/crpd-clab-bgp.html
  _html/crpd-clab.html
  _html/crpd.html
  crpd/clab/_caveats.yml
  index.html
Due: yamllint, ci_tests

Recreate the reports with cRPD device
  _html/crpd.html
  _html/release-coverage.html
  index.html
Due: none

Fix IOS OSPF template when bgp is undefined
  netsim/ansible/templates/ospf/ios.j2
Due: none

OpenBSD: Add BGP support (#3138)
  docs/module/bgp.md
  docs/platforms.md
  docs/plugins/bgp.session.md
  netsim/ansible/templates/bgp/openbsd.j2
  netsim/devices/openbsd.yml
  netsim/extra/bgp.session/openbsd.j2
Due: yamllint, ci_tests

Fix: Remove artifacts similar to netlab files from Ansible inventory
  netsim/outputs/ansible.py
Due: ci_tests

Tweaks and documentation
  docs/outputs/ansible.md
  netsim/outputs/ansible.py
Due: ci_tests

Fix: Remove artifacts similar to netlab files from Ansible inventory (#3140)
  docs/outputs/ansible.md
  netsim/outputs/ansible.py
Due: ci_tests

Junos cRPD support (#3135)
  docs/module/bfd.md
  docs/module/bgp.md
  docs/module/gateway.md
  docs/module/isis.md
  docs/module/lag.md
  docs/module/mpls.md
  docs/module/ospf.md
  docs/module/sr-mpls.md
  docs/module/vrf.md
  docs/platforms.md
  netsim/ansible/templates/initial/crpd.j2
  netsim/ansible/templates/isis/crpd.j2
  netsim/ansible/templates/isis/junos.isis.j2
  netsim/ansible/templates/isis/junos.j2
  netsim/ansible/templates/isis/vsrx.j2
  netsim/ansible/templates/mpls/junos.ldp.j2
  netsim/ansible/templates/sr/junos.j2
  netsim/devices/crpd.py
  netsim/devices/crpd.yml
  netsim/templates/provider/clab/crpd/netlab-config.j2
  tests/integration/isis/topology-defaults.yml
  tests/integration/sr/topology-defaults.yml
Due: yamllint, ci_tests

Recreate the tests with crpd branch merged into dev
  _html/crpd.html
  _html/release-coverage.html
  index.html
Due: none

forgot vrrp
  netsim/ansible/templates/gateway/junos.j2
Due: none

missing hierarchy for crpd vrrp config
  netsim/ansible/templates/gateway/junos.j2
Due: none

crpd improvements
  docs/caveats.md
  docs/module/gateway.md
  docs/module/vrf.md
  netsim/ansible/templates/evpn/crpd.j2
  netsim/ansible/templates/initial/crpd.j2
  netsim/ansible/templates/mpls/junos.mplsvpn.j2
  netsim/devices/crpd.yml
  netsim/templates/provider/clab/crpd/hosts-common.j2
  netsim/templates/provider/clab/crpd/hosts.j2
  netsim/validate/crpd.py
Due: yamllint, ci_tests

Additional fixes (as outlined in the comment)
  docs/caveats.md
  docs/module/gateway.md
  netsim/ansible/templates/gateway/crpd.j2
  netsim/ansible/templates/gateway/junos.j2
  netsim/devices/crpd.yml
  netsim/templates/provider/clab/crpd/hosts-common.j2
  netsim/templates/provider/clab/crpd/hosts.j2
  netsim/templates/provider/clab/linux/hosts-common.j2
  netsim/templates/provider/clab/linux/hosts.j2
  netsim/validate/crpd.py
Due: yamllint, ci_tests

Implement "no VRF route leaking" device quirk
  netsim/devices/crpd.py
Due: ci_tests

More quirks: VPNv6 data plane does not work
  netsim/devices/crpd.py
Due: ci_tests

One more fix: no unnumbered interfaces
  netsim/devices/crpd.yml
Due: yamllint, ci_tests

cRPD does not support unnumbered interfaces
  _html/coverage.initial.html
  _html/coverage.ospfv2.html
  _html/crpd-clab-initial.html
  _html/crpd-clab-ospf-ospfv2.html
  _html/crpd-clab-ospf.html
  _html/crpd-clab.html
  _html/crpd.html
  crpd/clab/initial/01a-scripts.yml-create.log
  crpd/clab/initial/03-unnumbered.yml-create.log
  crpd/clab/initial/cleanup-down.log
  crpd/clab/initial/results.yaml
  crpd/clab/ospf/ospfv2/05-unnumbered.yml-create.log
  crpd/clab/ospf/ospfv2/cleanup-down.log
  crpd/clab/ospf/ospfv2/results.yaml
  index.html
Due: yamllint, ci_tests

Juniper cRPD improvements (#3141)
  docs/caveats.md
  docs/module/gateway.md
  docs/module/vrf.md
  netsim/ansible/templates/evpn/crpd.j2
  netsim/ansible/templates/gateway/crpd.j2
  netsim/ansible/templates/initial/crpd.j2
  netsim/ansible/templates/mpls/junos.mplsvpn.j2
  netsim/devices/crpd.py
  netsim/devices/crpd.yml
  netsim/templates/provider/clab/crpd/hosts.j2
  netsim/templates/provider/clab/linux/hosts-common.j2
  netsim/templates/provider/clab/linux/hosts.j2
  netsim/validate/crpd.py
Due: yamllint, ci_tests

EVPN support for SR-MPLS transport (EOS)
  docs/module/evpn.md
  netsim/devices/eos.yml
  netsim/modules/evpn.py
  netsim/modules/evpn.yml
  tests/integration/evpn/51-mpls-bridging.yml
  tests/integration/evpn/61-sr-bridging.yml
  tests/topology/expected/evpn-asymmetric-irb-ospf.yml
  tests/topology/expected/evpn-hub-spoke.yml
  tests/topology/expected/evpn-l3vni-only.yml
  tests/topology/expected/evpn-node-vrf.yml
  tests/topology/expected/evpn-vlan-attr.yml
  tests/topology/expected/evpn-vxlan.yml
  tests/topology/expected/null-vrfs.yml
Due: yamllint, ci_tests
